﻿@using Domain.Helpers
@model System.Collections.Generic.IEnumerable<Domain.Entities.Action>
@{
    ViewBag.Admin = "actionsmetric";
}
@section Head{
    @Styles.Render("~/less/style")
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
    <style>
        .legend {
            color: #333;
            text-align: center;
            margin: 40px 0;
        }

            .legend span:first-child {
                color: #a1d418;
                display: block;
            }

        #table td.rw {
            background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        .datails {
            padding-left: 50px !important;
        }

        .filtering {
            text-align: center;
        }

            .filtering h1 {
                text-align: left;
                margin-left: 20px !important;
            }

        a.active {
            background-color: yellow;
        }
    </style>
}
@*<section class="blue-bg-prof hidden-xs"></section>*@
<section class="admin teacher-profile">
    <div class="container-fluid" id="my-account-container">
        <div class="row content-wrap">
            @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminDashboardHeader.cshtml", "Admin Dashboard");}
            <div class="col-lg-10 col-md-10 right-content">
                <div class="bgc-content-wrap ft clearfix">
                    <div class="col-xs-12">
                        <div class="row filtering myBoudget ">
                            <div class="clearfix chart-chart">
                                <div class="col-xs-3 toe active">
                                    <div class="@(ViewBag.type == null || ViewBag.type == "All"?"active":"")" href="@Url.Action("Index", new {type = "All", ViewBag.query})">All</div>
                                </div>
                                <div class="col-xs-3 toe">
                                    <div class="@(ViewBag.type == "LastYear"?"active":"")" href="@Url.Action("Index", new {type = "LastYear", ViewBag.query})">Last Year</div>
                                </div>
                                <div class="col-xs-3 toe">
                                    <div class="@(ViewBag.type == "LastMonth"?"active":"")" href="@Url.Action("Index", new {type = "LastMonth", ViewBag.query})">Last Month</div>
                                </div>
                                <div class="col-xs-3 toe">
                                    <div class="@(ViewBag.type == "LastWeek"?"active":"")" href="@Url.Action("Index", new {type = "LastWeek", ViewBag.query})">Last Week</div>
                                </div>
                                <div class="col-xs-3 toe">
                                    <div class="@(ViewBag.type == "Today"?"active":"")" href="@Url.Action("Index", new {type = "Today", ViewBag.query})">Today</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row legend">
                                    <div class="col-xs-2">
                                        <span>Lessons created</span>
                                        <span>@Model.Count(x => x.Status == MessageStatus.LessonCreated)</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>User registrated</span>
                                        <span>@Model.Count(x => x.Status == MessageStatus.UserRegistrated)</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Lessns Cancelled</span>
                                        <span>@Model.Count(x => x.Status == MessageStatus.LessonCancel)</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Lessons Changed</span>
                                        <span>@Model.Count(x => x.Status == MessageStatus.LessonChanged)</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Lessons Recheduled</span>
                                        <span>@Model.Count(x => x.Status == MessageStatus.LessosRescheduled)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row legend">
                                <div class="col-xs-2">
                                    <span>Users added to lessons</span>
                                    <span>@Model.Count(x => x.Status == MessageStatus.AddedStudentToLesson)</span>
                                </div>
                                <div class="col-xs-2">
                                    <span>Count Topped Up Balanced</span>
                                    <span>@Model.Count(x => x.Status == MessageStatus.PaymentCompleted)</span>
                                </div>
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-2">

                                </div>
                            </div>
                        </div>
                        <div class="row mt8">
                            <div class="col-xs-12 mobile">
                                <table id="table" >
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Datetime (UTC)</th>
                                            <th>Message</th>
                                            <th>Short message</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><img src="@item.CusromUserId.ProfilePicture" style="width: 50px" /> @item.CusromUserId.Name</td>
                                            <td>@item.ActionDate.ToString("dd-MM-yyyy hh:mm")</td>
                                            <td>@item.Message</td>
                                            <td>@item.ShortMessage</td>
                                        </tr>
                                    }
                                </table>
                                <span class="table-count">Showing 10 of @Model.Count()</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        $("#table")
            .dataTable({
                "autoWidth": true,
                "ordering": false,
                "oLanguage": {
                    "sSearch": "",
                },
                language: {
                    searchPlaceholder: "Enter information to search..."
                },
                "dom": '<"top" flp>rt<"bottom"flp>'
            });
        $('.dataTables_filter input').attr("placeholder", "Enter information to search...");
    </script>
}
