﻿@model IEnumerable<Domain.Entities.Dialog>
@using Microsoft.AspNet.Identity
@using Newtonsoft.Json
@{
    var textFor = User.IsInRole("Presenter") ? Resources.Resource.Assignlesson : Resources.Resource.MyDashboard;
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var userId = Guid.Parse(User.Identity.GetUserId());
    var smiles = new dynamic[]
    {new {sh = "{Smile-1.png}",src="/Images/smiles/Smile-1.png"},
        new {sh = "{Smile-2.png}",src="/Images/smiles/Smile-2.png"},
        new {sh = "{Smile-3.png}g",src="/Images/smiles/Smile-3.png"},
        new {sh = "{Smile-4.png}",src="/Images/smiles/Smile-4.png"},
        new {sh = "{Smile-5.png}",src="/Images/smiles/Smile-5.png"},
        new {sh = "{Smile-6.png}",src="/Images/smiles/Smile-6.png"},
        new {sh = "{Smile-7.png}",src="/Images/smiles/Smile-7.png"},
        new {sh = "{Smile-8.png}",src="/Images/smiles/Smile-8.png"},
        new {sh = "{Smile-9.png}",src="/Images/smiles/Smile-9.png"},
        new {sh = "{Smile-10.png}",src="/Images/smiles/Smile-10.png"},
        new {sh = "{Smile-11.png}",src="/Images/smiles/Smile-11.png"},
        new {sh = "{Smile-12.png}",src="/Images/smiles/Smile-12.png"},
        new {sh = "{Smile-13.png}",src="/Images/smiles/Smile-13.png"},
        new {sh = "{Smile-14.png}",src="/Images/smiles/Smile-14.png"},
        new {sh = "{Smile-15.png}",src="/Images/smiles/Smile-15.png"},
        new {sh = "{Smile-16.png}",src="/Images/smiles/Smile-16.png"},
        new {sh = "{Smile-17.png}",src="/Images/smiles/Smile-17.png"},
        new {sh = "{Smile-18.png}",src="/Images/smiles/Smile-18.png"},
        new {sh = "{Smile-19.png}",src="/Images/smiles/Smile-19.png"},
        new {sh = "{Smile-20.png}",src="/Images/smiles/Smile-20.png"},
        new {sh = "{Smile-21.png}",src="/Images/smiles/Smile-21.png"},
        new {sh = "{Smile-22.png}",src="/Images/smiles/Smile-22.png"},
        new {sh = "{Smile-23.png}",src="/Images/smiles/Smile-23.png"},
        new {sh = "{Smile-24.png}",src="/Images/smiles/Smile-24.png"},
        new {sh = "{Smile-25.png}",src="/Images/smiles/Smile-25.png"},
        new {sh = "{Smile-26.png}",src="/Images/smiles/Smile-26.png"},
        new {sh = "{Smile-27.png}",src="/Images/smiles/Smile-27.png"},
        new {sh = "{Smile-28.png}",src="/Images/smiles/Smile-28.png"},
        new {sh = "{Smile-29.png}",src="/Images/smiles/Smile-29.png"},
        new {sh = "{Smile-30.png}",src="/Images/smiles/Smile-30.png"},

    };
}
@section Head{
    <script src="~/js/moment.min.js"></script>
}
<audio loop id="call" style="display: none" controls="controls">
    <source src="~/Content/melody2.mp3" type="audio/mpeg" />
</audio>
<section class="chat-header" style="padding: 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-xs-12 teach-search">
                <div class="form-group pad-l-15 input-search">
                    <input id="searchByName" placeholder="@Resources.Resource.Search..." type="text" class="form-control">
                    <span class="search-ico"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-sm-10 col-xs-12 teach-title hidden-xs">
                <div class="row">
                    <div class="col-sm-4 col-xs-7">
                        <p id="chatPartner">@Resources.Resource.Chatwith <text></text>
                        </p>
                        <span class="for-point" id="onOrOff" style="height: 20px"></span>
                    </div>
                    <div class="col-sm-8 col-xs-5 buttons-js hidden-xs">
                        <div class="trial-button-style" id="videocall" style="margin-right: 20px;">
                            <i class="fa fa-video-camera" aria-hidden="true"></i> <span class="hidden-xs">Call</span>
                        </div>
                        <div class="book-button">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span class="hidden-xs">@textFor</span> 
                        </div>
                        <div class="trial-button hidden-xs">
                            <i class="fa fa-check" aria-hidden="true"></i> @Resources.Resource.BookLesson
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="chat-main" style="padding: 0">
    <div class="container-fluid">
        <div class="row pos-rel-xs">
            <div class="col-md-2 col-sm-6 contact-side">
                <div class="row custom-scroll">
                    @foreach (var dialog in Model)
                    {
                        var user = (dialog.UserOneId != userId ? dialog.UserOne : dialog.UserTwo);
                        var lastMess = dialog.Replies.LastOrDefault();
                        <div data-messagepage="0" data-lastoffline="@user.DateOffline" data-chatid="@dialog.Id" data-partnerid="@user.Id" class="col-sm-12 border-bot mess">
                            <span class="before"></span>
                            <div class="media chat-item">
                                <div class="media-left">
                                    <a href="#">
                                        <img style="width: 40px; height: 40px; margin-top: 5px; border-radius: 100%;" class="media-object" src="@(user.ProfilePicture ?? "/images/default-img.png")" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p class="media-heading patnerName">
                                        <text>@user.Name</text>
                                        @if (lastMess != null)
                                        {
                                            <span class="hidden-xs">@lastMess.DateTime.ToString("D")</span>
                                        }
                                    </p>
                                    <p class="text">
                                        @{
                                            if (lastMess != null && lastMess.Message.Contains("<a"))
                                            {
                                                <text>...</text>
                                            }
                                            else if (lastMess != null)
                                            {
                                                var lstMess = lastMess.Message.Substring(0, lastMess.Message.Length > 30 ? 30 : lastMess.Message.Length);
                                                lstMess = smiles.Aggregate(lstMess, (current, smile) => current.Replace(smile.sh, "<img src = '" + smile.src + "'/>"));
                                                <text>@(Html.Raw(lstMess))...</text>
                                            }
                                            else
                                            {
                                                <text>...</text>
                                            }
                                        }
                                        @if (dialog.Unread.Any())
                                        {
                                            <span>@dialog.Unread.Count()</span>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                                            }
                </div>
            </div>
            <div class="col-md-10 col-sm-6 chat-side">
                <div class="custom-scroll1">
                    @foreach (var dialog in Model)
                    {
                        var usr = dialog.UserOneId != userId ? dialog.UserOne : dialog.UserTwo;
                        <div data-clientid="@usr.Id" class="dlg" data-dialogid="@dialog.Id" style="display: none">
                            @foreach (var reply in dialog.Replies.Concat(dialog.Unread).Distinct().OrderBy(x=>x.DateTime))
                            {
                                var user = dialog.UserOneId == reply.UserId ? dialog.UserOne : dialog.UserTwo;
                                <div data-unread="@reply.Unread" data-messageid="@reply.Id" class="col-md-7 col-sm-12 col-xs-12 chat-text @(reply.UserId == userId ? "first" : "pull-right second")">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img style="width: 40px; height: 40px" class="media-object" src="@(user.ProfilePicture ?? "/images/default-img.png")" alt="">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p class="media-heading message-text">
                                                @if (reply.Message!=null && reply.Message.Contains("{Smile"))
                                                {
                                                    foreach (var smile in smiles)
                                                    {
                                                        reply.Message = reply.Message.Replace(smile.sh, "<img src = '" + smile.src + "'/>");
                                                    }
                                                }
                                                else if (reply.Message != null && reply.Message.Contains("<a"))
                                                {
                                                    reply.Message = "<img src='/Images/file.png'>" + reply.Message;
                                                }
                                                @Html.Raw(reply.Message)
                                            </p>
                                            <p class="chat-date">
                                                <script>
                                                    document.write(moment("@reply.UtcDateTime").format("dddd, MMMM, D, YYYY, HH:mm:ss"))
                                                </script>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="row for-scroll-height">
                    <div class="col-sm-12 form-group chat-message">
                        <div class="row">
                            <div class="col-sm-10 col-xs-9 pad-r-xs-0">
                                <div contenteditable="true" data-placeholder="@Resources.Resource.Message" id="sendMessage" class="textarea smile-text"></div>
                                <style>
                                    [contentEditable=true]:empty:not(:focus):before {
                                        content: attr(data-placeholder);
                                    }
                                </style>
                                <div class="chat-action">
                                    <span class="smile"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
                                    <span class="add-file"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                                    <input class="addFileChat" type="file" style="opacity: 0">
                                </div>
                                <div class="smile-block custom-scroll3">
                                    @foreach (var smile in smiles)
                                    {
                                        <img class="smile-img" src="@smile.src" alt="">
                                    }

                                </div>
                            </div>

                            <div class="col-sm-2 col-xs-3">
                                <div class="grey-button hidden-xs send-message">@Resources.Resource.SendMessage</div>
                                <div class="grey-button visible-xs send-message"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-chat" style="padding: 0">
    <div class="inner-video-chat">
        <div class="full-screen hidden-xs"><i class="fa fa-arrow-left" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
        <div style="display: none"  class="close-video hidden-xs"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="center-video-img">
            <img src="~/Images/man2.png" alt="" />
            <p class="name">Name Surname</p>
            <p class="info">Video call from</p>
            <div style="display: none" id="confirm-call" class="camera"><i class="fa fa-video-camera" aria-hidden="true"></i></div>
            <div style="display: none" id="reject-call" class="end-call"><i class="fa fa-phone" aria-hidden="true"></i></div>
        </div>
        <video id="remote" autoplay>
            Your browser does not support the video tag.
        </video>
        <div class="bottom-video">
            <div class="cur-user">
                <video autoplay id="local"></video>
                <img src="~/Images/video-user.jpg" alt=""/>
            </div>
            <div class="users hide">
                <div class="user">
                    <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <img src="~/Images/video-user.jpg"  alt=""/>
                </div>
                <div class="user">
                    <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <img src="~/Images/video-user.jpg" alt="" />
                </div>
                <div class="user">
                    <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <img src="~/Images/video-user.jpg" alt="" />
                </div>
            </div>
            <div class="controls">
                <div id="disableVideo" class="camera for-action"><i class="fa fa-video-camera" aria-hidden="true"></i></div>
                <div id="muteAudio" class="micro for-action"><i class="fa fa-microphone" aria-hidden="true"></i></div>
                <div class="add-user for-action"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                <div class="add-user for-action"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                <div id="end-call" class="end-call"><i class="fa fa-phone" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</section>
<div class="big-cover"></div>

@section Scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/openlang/VideoChat/STUNServers.js?v3.1.1"></script>
    <script src="~/Scripts/openlang/VideoChat/Helper.js?v3.1.1"></script>
    <script src="~/Scripts/openlang/VideoChat/OldVideoChat.js?v3.1.1"></script>
    @*ChatInfrastructure*@
    @*<script>
        navigator.getUserMedia({ audio: true, video: {
            minWidth: 1280,
            minHeight: 720,
            maxWidth: 1280,
            maxHeight: 720,
            } },
            function(stream) {
                $("#currentCall").modal('show');
                $("#test").attr('src', window.URL.createObjectURL(stream));
            },
            function() {});
    </script>*@
    <script>
        var mobDev = /Android.+Mobile|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        var messTemplate = $
            .parseHTML("<div data-messageid='' class='col-md-7 col-sm-12 col-xs-12 chat-text pull-right second'><div class='media'><div class='media-left'><a href='#'><img style='width: 40px; height: 40px' class='media-object' src='' alt=''></a></div><div class='media-body'> <p class='media-heading message-text'></p><p class='chat-date'></p></div></div></div>");
        var dialogTelplate = $
            .parseHTML("<div data-messagepage='0' data-chatid='' data-partnerid='' class='col-sm-12 border-bot mess'><span class='before active' style='background:rgb(161, 212, 24)'></span><div class='media chat-item'><div class='media-left'><a href='#'><img style='width: 50px; height: 50px' class='media-object' src='' alt=''></a></div><div class='media-body'><p class='media-heading patnerName'><span class='hidden-xs'></span></p><p class='text'><span>1</span></p></div></div></div>");
        var curUser = {
            'id': "@ViewBag.User.Id",
            'imageProfile': "@(ViewBag.User.ProfilePicture ?? "/images/default-img.png")",
            'name': "@ViewBag.User.Name"
        };
        var chat = $.connection.chatHub;
        var selectedTeacherId = "@ViewBag.TeacherId";
        var finishedMeessages = [];
        var flagMoreMessages = true;
        var smiles = JSON.parse("@JsonConvert.SerializeObject(smiles)".replace(/&quot;/g, '\"'));
        var partners = $("div[data-chatid]")
            .map(function(index, elem) {
                return $(elem).data("partnerid");
            });
        chat.client.hello = function(str) {
            alert(str);
        };
        var id = "@User.Identity.GetUserId()";
        chat.client.getAllUsersInChat = function(users) {
            JSON.parse(users)
                .forEach(function(elem) {
                    $("div[data-partnerid='" + elem + "']")
                        .children("span.before")
                        .css("background", "#a1d418")
                        .addClass("active");
                });
        };
        chat.client.send = function(message, from, messId, dialogId) {
            var mst = $(messTemplate).clone();
            var usrFrom = JSON.parse(from);
            smiles.forEach(function(elem) {
                message = message.replace(elem.sh, "<img src = '" + elem.src + "'/>");
            });
            if (message.indexOf("<a href") > -1)
                message = "<img src = '/Images/file.png'/>" + message;
            var dialog = $("div [data-partnerid='" + usrFrom.id + "']");
            if (!dialog.length) {
                var clone = $(dialogTelplate).clone();
                clone.find("img").attr('src', usrFrom.imageProfile.replace(/&amp;/g, '&'));
                clone.find(".patnerName").prepend(usrFrom.name).siblings(".text").prepend(message.slice(0, 30));
                clone.find(".patnerName").find("span").text(moment().format("dddd, MMMM, D, YYYY"));
                clone.attr("data-partnerid", usrFrom.id).attr("data-chatid", dialogId);
                $("#mCSB_1_container").append(clone);
                $('.chat-item').unbind("click").bind("click", clickItem);
                var str = $.parseHTML('<div data-clientid="' +
                    usrFrom.id +
                    '" class="dlg" data-dialogid="' +
                    dialogId +
                    '" style="display: none"></div>');
                $(str).append(mst);
                $(str)
                    .attr("data-messageid", messId)
                    .find(".message-text")
                    .append(message)
                    .end()
                    .find("img.media-object")
                    .attr('src', usrFrom.imageProfile.replace(/&amp;/g, '&'))
                    .end()
                    .find(".chat-date")
                    .text(moment().format("dddd, MMMM, D, YYYY, HH:mm:ss"));
                $("#mCSB_2_container").append(str);
                $(".custom-scroll1").mCustomScrollbar("scrollTo", "bottom", { scrollInertia: 0 });

            }
            if (!dialog.hasClass("active")) {
                fnd = dialog.find(".text span");
                if (!fnd.length)
                    dialog.find(".text").append("<span>1</span>");
                else {
                    var fl = parseFloat(fnd.text());
                    fnd.text(++fl);
                }
            } else {
                chat.server.messageRead(messId);
            }
            dialog.find(".text text").text(message.slice(0, 30) + "...");

            $(mst)
                .attr("data-messageid", messId)
                .find(".message-text")
                .append(message)
                .end()
                .find("img.media-object")
                .attr('src', usrFrom.imageProfile.replace(/&amp;/g, '&'))
                .end()
                .find(".chat-date")
                .text(moment().format("dddd, MMMM, D, YYYY, HH:mm:ss"));
            $(".dlg[data-clientid='" + usrFrom.id + "']").append(mst);
            $(".custom-scroll1")
                .mCustomScrollbar(
                    "scrollTo",
                    "bottom",
                    { scrollInertia: 0 }
                );
        };
        chat.client.sombodyConnected = function(partnerId) {
            var partner = $("div[data-partnerid='" + partnerId + "']");
            partner.children("span.before").css("background", "#a1d418").addClass("active");
        };
        chat.client.sombodyDisconnected = function(partnerId) {
            var partner = $("div[data-partnerid='" + partnerId + "']");
            partner.children("span.before").css("background", "#ccc").removeClass("active");
            partner.attr("data-lastoffline", moment().format("dddd, MMMM, D, YYYY, HH:mm:ss"));
        };
        chat.client.messageWasSent = function(messId) {
            cl.attr("data-messageid", messId);
        };
        chat.client.replyMoreMessages = function(result) {
            var active = $(".border-bot.mess.active").data("partnerid");
            if (result.length < 10)
                finishedMeessages.push({ 'id': active });
            result.forEach(function(mess) {
                var mst = $(messTemplate).clone();
                if (mess.UserId.toString() !== active)
                    mst.removeClass("pull-right second").addClass("first");
                smiles.forEach(function(elem) {
                    mess.Message = mess.Message.replace(elem.sh, "<img src = '" + elem.src + "'/>");
                });
                if (mess.Message.indexOf("<a href") > -1)
                    mess.Message = "<img src = '/Images/file.png'/>" + mess.Message;
                $(mst)
                    .attr("data-messageid", mess.Id)
                    .find(".message-text")
                    .append(mess.Message)
                    .end()
                    .find("img.media-object")
                    .attr('src', mess.ProfilePicture.replace(/&amp;/g, '&'))
                    .end()
                    .find(".chat-date")
                    .text(moment(mess.UtcDateTime).format("dddd, MMMM, D, YYYY, HH:mm:ss"));
                $(".dlg[data-clientid='" + active + "']").prepend(mst);
            });
            flagMoreMessages = true;
        };
        $.connection.hub.qs = "partners=" + partners.toArray();
        $.connection.hub.start()
            .done(function() {

            });
        var cl;
        $(".send-message").click(function() {
            var e = jQuery.Event("keyup");
            e.which = 13; // # Some key code value
            $("#sendMessage").trigger(e);
        });
        $('#sendMessage')
            .keyup(function(e) {
                var key = e.which;
                if (key == 13) {
                    e.preventDefault();
                    var origin = $("#sendMessage");
                    var message = origin.clone();
                   
                    if (!message.text().trim()) {
                        if (!message.find('img').length) {
                            origin.text("");
                            return;
                        }
                    }
                    var active = $(".mess.active")
                    var toId = active.data("partnerid");
                    if (toId === "11111111-1111-1111-1111-111111111111") {
                        origin.text("");
                        return;
                    }
                    var dialogid = active.data("chatid");
                    if (!toId || !dialogid) {
                        origin.text("");
                        return;
                    }
                    message.find('img')
                        .each(function(index, elem) {
                            var smile = message.find('img')
                                .replaceWith(function() {
                                    return "{" + $(this).attr('src').split('/').slice(-1).pop() + "}";
                                });
                        });
                    chat.server.sendTo(dialogid, JSON.stringify(curUser), message.text(), toId);
                    active.find(".text text")
                        .text(origin.clone().find('div').remove().end().text().slice(0, 30) + "...");
                    cl = $(messTemplate).clone();
                    cl.removeClass("pull-right")
                        .removeClass("second")
                        .addClass("first")
                        .find(".message-text")
                        .append(origin.clone().find('div').remove().end().html())
                        .end()
                        .find("img.media-object")
                        .attr('src', curUser.imageProfile.replace(/&amp;/g, '&'))
                        .end()
                        .find(".chat-date")
                        .text(moment().format("dddd, MMMM, D, YYYY, HH:mm:ss"));
                    $(".dlg[data-clientid='" + toId + "']").append(cl);
                    $(".custom-scroll1").mCustomScrollbar("scrollTo", "bottom", { scrollInertia: 0 });
                    origin.text("");
                }
            });
        var waitingFor;
        var calingFrom;
        chat.client.inviteToVideoChatToVideo = function(from) {
            if (waitingFor) return;
            waitingFor = true;
            document.getElementById("call").play();
            $("#reject-call,#confirm-call ").css("display", "inline-block").parent().css("display", "block");
            $(".bottom-video").css("display", "none");
            var elem = $("div[data-partnerid='" + from + "']");
            var name = elem.find(".patnerName text").text();
            var img = elem.find(".media-left img").attr("src");
            $(".center-video-img img").attr("src", img).next().text(name);
            $('.inner-video-chat')
                .animate({
                        right: '0'
                    },
                    700)
            $('.chat-main, .chat-header')
                .animate({
                        width: '66%'
                    },
                    700);
            navigator.getMedia = (
                navigator.getUserMedia ||
                    navigator.webkitGetUserMedia ||
                    navigator.mozGetUserMedia ||
                    navigator.msGetUserMedia
            );
            clientId = from;
            paramName = 1;

        }
        $("#videocall")
            .click(function() {
                //var left = (screen.width / 2) - 300;
                //var top = (screen.height / 2) - 250;
                //var gid = guid();
                //var newwindow = window.open('/Chat/OpenVideoChat',
                //    'VideoChat',
                //    'toolbar=no,width=600, height=500, left=' + left + ', top=' + top + '');
                //newwindow.load = function () {
                //}
                //waitingFor = dataid;
                //$("#waiting").modal("show");
            });
        $("#waiting")
            .on("hidden.bs.modal",
                function() {
                    // waitingFor;
                });
        $("#currentCall #confirmCall")
            .click(function() {
                var left = (screen.width / 2) - 300;
                var top = (screen.height / 2) - 250;
                var gid = guid();
                var newwindow = window.open('/Chat/OpenVideoChat?offer=1&clientid=' + calingFrom,
                    'VideoChat',
                    'toolbar=no,width=600, height=500, left=' + left + ', top=' + top + '');
                newwindow.load = function() {
                }
                // chat.server.answerForCall(calingFrom, true);
            });
        $("#currentCall #failureCall")
            .click(function() {
                chat.server.answerForCall(calingFrom, false);
            });
        chat.client.confirmCall = function(waiter, answer) {
            if (waitingFor != waiter) return;
            if (!answer) {
                alert("Opponent failure you question");
                $("#waiting").modal("hide");
                waitingFor = null;
                return;
            }
            $("#waiting").modal("hide");
        }

        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }

            return s4() +
                s4() +
                '-' +
                s4() +
                '-' +
                s4() +
                '-' +
                s4() +
                '-' +
                s4() +
                s4() +
                s4();
        }
    </script>
    <script>
        var rangeSmile;
        (function($) {
            $(window)
                .load(function() {
                    $(".custom-scroll").mCustomScrollbar();
                    $(".custom-scroll1")
                        .mCustomScrollbar({
                            autoDraggerLength: false,
                            callbacks: {
                                advanced: {
                                    updateOnContentResize: true,
                                    autoUpdateTimeout: 300
                                },
                                onBeforeUpdate: function () {
                                    $('#mCSB_4_container').css('top', '-100px')
                                  
                                },
                                whileScrolling: function () {
                                    console.log(this.mcs);
                                    if (this.mcs.draggerTop < 10 && flagMoreMessages) {
                                        flagMoreMessages = false;
                                        var act = $(".mess.active");
                                        var partner = act.data("partnerid");
                                        if (finishedMeessages.find(function(elem) { return elem.id == partner }))
                                            return;
                                        if (!act.length) return;
                                        var page = parseInt(act.data("messagepage"));
                                        var dialog = act.data("chatid");
                                        chat.server.getMoreMessages(parseInt(dialog), ++page)
                    
                                        act.data("messagepage", page);
                                       
                                    }
                                }
                            }
                        });
                    $(".custom-scroll3").mCustomScrollbar();
                });
        })(jQuery);
        var windowHeight = $(window).height()
        var windowWidth = $(window).width();
        $(window)
            .resize(function() {
                if (windowWidth > 768) {
                    $('.custom-scroll').height(windowHeight - $('header').height() - $('.chat-header').height())
                    $('.custom-scroll1')
                        .height(windowHeight -
                            $('header').height() -
                            $('.chat-header').height() -
                            $('.chat-message').height())
                }
            });
        var clickItem = function () {
            $('.border-bot').removeClass('active')
            $(this).parents('.border-bot').addClass('active');
            var dialog = $(this).parent();
            var dialogId = dialog.data("chatid");
            $(".custom-scroll1")
                .find("[data-dialogid='" + dialogId + "']")
                .css("display", "block")
                .siblings()
                .css("display", "none");

            var countUnreadMessages = dialog.find(".text span");
            if (countUnreadMessages.length) {
                var count = parseInt(countUnreadMessages.text());
                var ids = $(".custom-scroll1>div")
                    .find("[data-dialogid='" + dialogId + "'] .chat-text")
                    .slice(-count)
                    .map(function (index, elem) {
                        return $(elem).data("messageid");
                    })
                    .toArray();
                chat.server.messageRead(ids.toString());
                countUnreadMessages.remove();
            };

            var urrName = $(this).find('.patnerName text').text();
                if ($(this).siblings("span.before").hasClass("active"))
                    var status = "Online"
                else
                    var status = moment(dialog.attr("data-lastoffline")).format("dddd, MMMM, D, YYYY, HH:mm:ss");

            if (!mobDev) {
                $("#onOrOff").text(status);
                $("#chatPartner text").text(urrName);
                $(".custom-scroll1").mCustomScrollbar("scrollTo", "bottom", { scrollInertia: 0 });
            } else {
                    setTimeout(function () {
                    $('.teach-search').hide();
                    $('.teach-title').removeClass('hidden-xs');
                    $('.teach-title .buttons-js').removeClass('hidden-xs');
                }, 400);
             
                    $('.contact-side').animate({ 'left': -$('.contact-side').outerWidth() + 'px' }, 500);
                    if (windowWidth > 767) {
                        $('.chat-side').removeClass('col-sm-6')
                        $('.chat-side').addClass('col-sm-12')
                        $('.chat-side').removeClass('col-md-9')
                        $('.chat-side').addClass('col-md-12')

                        $('.contact-side').hide();
                    }
            }
        };
        
        $('.chat-item').bind("click", clickItem);
        $(window)
            .load(function() {
                $('footer').hide(0).css('height', '0');
            });
        $(window).resize(function () {
            var videoBlockHeight = $('.inner-video-chat').height() - 65 - $('.bottom-video').height();
            $('#remote').height("100%");
        });
        $(document).ready(function () {
            
            $('.controls .for-action').click(function () {
                $(this).toggleClass('active')
            });
            $('.full-screen').click(function () {
                if ($(this).hasClass('open')) {
                        $('.inner-video-chat')
                            .animate({
                                    right: '0',
                                    width: '34%'
                                },
                                700);
                        $('.chat-main, .chat-header')
                            .animate({
                                width: '66%'
                            },
                                700)
                        $(this).removeClass('open');

                        } else {
                            var contactWidth = $('.teach-search').outerWidth();
                            $('.inner-video-chat')
                                .addClass('full-scrinn')
                                .animate({
                                    width: $(window).width() - contactWidth * 2 + 'px',
                                    right: contactWidth + 'px'
                                })
                            $(this).addClass('open');
                        }

                    });
                var videoBlockHeight = $('.inner-video-chat').height() - 65 - $('.bottom-video').height();
                $('#remote').height("100%");


                $('.close-video')
                    .click(function() {
                        $('.inner-video-chat')
                            .animate({
                                    right: '-2000px',
                                    width: '34%'
                                },
                                700)
                        $('.chat-main, .chat-header')
                            .animate({
                                    width: '100%'
                                },
                                700)
                    });

                $('span.add-file')
                    .click(function () {
                        if ($(".mess.active").attr("data-partnerid") == "11111111-1111-1111-1111-111111111111")
                            return;
                        $('input.addFileChat').click();
                    });
                $('input.addFileChat')
                    .change(function() {
                        var file = this.files[0];
                        var data = new FormData();
                        data.append(file.name, file);
                        loadFile(data, file);
                    });
                $('span.smile')
                    .click(function() {
                        $('.smile-block').fadeIn(300)
                    });
                $('.smile-block')
                    .mouseleave(function() {
                        $(this).fadeOut(300)
                    });
                $('.smile-img')
                    .click(function() {
                        console.log(rangeSmile)
                        restoreSelection(rangeSmile)
                        if (rangeSmile) {
                            document.execCommand('insertImage', false, $(this).attr('src'));
                            $('.smile-text').focus()
                        } else {
                            $('.smile-text').focus()
                            document.execCommand('insertImage', false, $(this).attr('src'));
                        }
                        console.log(getCaretPosition($('.smile-text').get(0)))

                    });
                if (windowWidth > 768) {
                    setTimeout(function() {
                            $('.custom-scroll').height(windowHeight - $('header').height() - $('.chat-header').height())
                            $('.custom-scroll1')
                                .height(windowHeight -
                                    $('header').height() -
                                    $('.chat-header').height() -
                                    $('.chat-message').height())
                        },
                        300)
                } else {
                    setTimeout(function() {
                            $('.custom-scroll1')
                                .height(windowHeight -
                                    $('header').height() -
                                    $('.chat-header').height() -
                                    $('.chat-message').height());
                            $('.custom-scroll')
                                .height(windowHeight - $('header').height() - $('.chat-header').height());
                        },
                        300)

                    $('.contact-list')
                        .click(function() {
                            $('.contact-side').toggleClass('open');
                        });
                    $('.chat-item')
                        .click(function() {
                            $('.contact-side').removeClass('open');
                        });
                }
                if (selectedTeacherId) {
                    $("div[data-partnerid='" + selectedTeacherId + "']>.chat-item").click();
                }

                $('.smile-text')
                    .on('keyup click change paste input',
                        function() {
                            rangeSmile = saveSelection();
                            if (windowWidth < 1024) {
                                $('.smile-block').fadeOut(300)
                            }
                        })
            });
        //function focusAtEnd(el) {
        //    el.focus();
        //    var s = el.value;
        //    el.value = '';
        //    el.value = s;
        //    console.log('func')
        //}

        //function getCaretPosition(editableDiv) {
        //    var caretPos = 0,
        //      sel, range;
        //    if (window.getSelection) {
        //        sel = window.getSelection();
        //        if (sel.rangeCount) {
        //            range = sel.getRangeAt(0);
        //            if (range.commonAncestorContainer.parentNode == editableDiv) {
        //                caretPos = range.endOffset;
        //            }
        //        }
        //    } else if (document.selection && document.selection.createRange) {
        //        range = document.selection.createRange();
        //        if (range.parentElement() == editableDiv) {
        //            var tempEl = document.createElement("span");
        //            editableDiv.insertBefore(tempEl, editableDiv.firstChild);
        //            var tempRange = range.duplicate();
        //            tempRange.moveToElementText(tempEl);
        //            tempRange.setEndPoint("EndToEnd", range);
        //            caretPos = tempRange.text.length;
        //        }
        //    }
        //    return caretPos;
        //}
        var ie = (typeof document.selection != "undefined" && document.selection.type != "Control") && true;
        var w3 = (typeof window.getSelection != "undefined") && true;


        function getCaretPosition(element) {
            var caretOffset = 0;
            if (w3) {
                var range = window.getSelection().getRangeAt(0);
                var preCaretRange = range.cloneRange();
                preCaretRange.selectNodeContents(element);
                preCaretRange.setEnd(range.endContainer, range.endOffset);
                caretOffset = preCaretRange.toString().length;
            } else if (ie) {
                var textRange = document.selection.createRange();
                var preCaretTextRange = document.body.createTextRange();
                preCaretTextRange.moveToElementText(element);
                preCaretTextRange.setEndPoint("EndToEnd", textRange);
                caretOffset = preCaretTextRange.text.length;
            }
            return caretOffset;
        }

        function saveSelection() {
            if (window.getSelection) {
                sel = window.getSelection();
                if (sel.getRangeAt && sel.rangeCount) {
                    return sel.getRangeAt(0);
                }
            } else if (document.selection && document.selection.createRange) {
                return document.selection.createRange();
            }
            return null;
        }

        function restoreSelection(range) {
            if (range) {
                if (window.getSelection) {
                    sel = window.getSelection();
                    sel.removeAllRanges();
                    sel.addRange(range);
                } else if (document.selection && range.select) {
                    range.select();
                }
            }
        }

        var allDialogs = $(".media.chat-item .patnerName text");
        $("#searchByName")
            .keyup(function() {
                allDialogs.each(function(index, elem) {
                    if (elem.innerText.toLowerCase().indexOf($("#searchByName").val().toLowerCase()) == -1)
                        $(elem).parents(".mess").css("display", "none");
                    else
                        $(elem).parents(".mess").css("display", "block");
                });
            });

        //////UPLOAD FILE
        var addFile = $("#sendMessage");
        addFile.each(function(e, elem) {
            elem.ondragover = function() {
                $(this).attr('style', 'background-color:#DACFCC');
                return false;
            };

            elem.ondragleave = function() {
                $(this).removeAttr('style');
                return false;
            };
            elem.ondrop = function(event) {
                event.preventDefault();
                $(this).removeAttr('style');
                var file = event.dataTransfer.files[0];
                var data = new FormData();
                data.append(file.name, file);
                loadFile(data, file);
            };
        });
        var progress2 = $("#progress");

        function loadFile(data, file) {
            progress2.css("display", "block");
            $.ajax({
                context: file,
                type: "POST",
                url: '@Url.Action("UploadImages", "Chat")',
                contentType: false,
                dataType: 'json',
                processData: false,
                //xhr: function() {
                //    var myXhr = $.ajaxSettings.xhr();
                //    if(myXhr.upload){
                //        myXhr.upload.addEventListener('progress',progress, false);
                //    }
                //    return myXhr;
                //},
                data: data,
                success: function(result) {
                    var active = $(".mess.active")
                    var toId = active.data("partnerid");
                    var dialogid = active.data("chatid");
                    var message = $("#sendMessage");
                    message.children().remove();
                    var textv = "<a href = '" + result.path + "' target='_blank'>" + this.name + "</a>";
                    message.text(textv);
                    chat.server.sendTo(dialogid, JSON.stringify(curUser), message.text(), toId);
                    message.text("");
                    textv = "<img src = '/Images/file.png'/>" + textv;
                    cl = $(messTemplate).clone();
                    cl.removeClass("pull-right")
                        .removeClass("second")
                        .addClass("first")
                        .find(".message-text")
                        .append(textv)
                        .end()
                        .find("img.media-object")
                        .attr('src', curUser.imageProfile.replace(/&amp;/g, '&'))
                        .end()
                        .find(".chat-date")
                        .text(moment().format("dddd, MMMM, D, YYYY, HH:mm:ss"));
                    $(".dlg[data-clientid='" + toId + "']").append(cl);
                    $(".custom-scroll1").mCustomScrollbar("scrollTo", "bottom",{scrollInertia:0});
                },
                error: function(xhr, status, p3) {
                    alert(xhr.responseText);
                }
            });
            //function progress(e) {

            //    if (e.lengthComputable) {
            //        var max = e.total;
            //        var current = e.loaded;
            //        var Percentage = (current * 100) / max;
            //        progress2.children().first().attr("aria-valuenow", Percentage).css('width', Percentage + '%');;
            //        if (Percentage >= 100) {
            //            progress2.css("display", "none");
            //        }
            //    }
            //}
        }

        $(".book-button")
            .click(function () {
                location.href = "@Url.Action("LoadMain","NewMyAccount")" + "#/mylessons"
            });
        $(".trial-button")
            .click(function() {
                location.href = "@Url.Action("ListOfTeachers", "ListOfTeachers")";
            });
        //$("#showMoreMessages").click(function () {
        //    var act = $(".mess.active");
        //    var partner = act.data("partnerid");
        //    if (finishedMeessages.find(function (elem) { return elem.id == partner }))
        //        return;
        //    if (!act.length) return;
        //    var page = parseInt(act.data("messagepage"));
        //    var dialog = act.data("chatid");
        //    chat.server.getMoreMessages(parseInt(dialog), ++page)
        //    act.data("messagepage", page);
        //});
    </script>
}
