﻿@using Microsoft.AspNet.Identity

<div class="container">
    <video id="local" width="400px" height="300px" autoplay></video>
    <video id="remote" width="400px" height="300px" autoplay></video>
</div>
<input type="button" value="disableVideo" id="disableVideo" />
<input type="button" value="enableVideo" id="enableVideo" />
    <input type="button" value="Mute" id="muteAudio" />
    <input type="button" value="Unmute" id="unmuteAudio" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    @*<script src="~/Scripts/openlang/VideoChat/latest-v2.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    
    <script src="~/Scripts/openlang/VideoChat/Helper.js"></script>
<script src="~/signalr/hubs"></script>
<script src="//cdn.webrtc-experiment.com/Screen-Capturing.js"></script>
<script>
    var offerOptions = {
        offerToReceiveAudio: 1,
        offerToReceiveVideo: 1
    };
    var sdpConstraints = {
        'mandatory': {
            'OfferToReceiveAudio': true,
            'OfferToReceiveVideo': true
        }
    };
    var stuns;
    //$(document).ready(function() {
    //    $.get("https://service.xirsys.com/ice",
    //        {
    //            ident: "eugeny",
    //            secret: "0f1ec0f2-8c7d-11e6-a5ea-ae65e3d8e8f9",
    //            domain: "www.xencoredevelop.azurewebsites.net",
    //            application: "myappname",
    //            room: "myroom",
    //            secure: 1
    //        })
    //        .always(function(data, status) {
    //            stuns = data.d.iceServers;
    //            console.log(data);

    //        });
    //});
    var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
    var gainNode = audioCtx.createGain();
    var peerConnection = window.RTCPeerConnection || window.webkitRTCPeerConnection ||
        window.mozRTCPeerConnection ||
        window.msRTCPeerConnection;
    var IceCandidate = RTCIceCandidate || window.mozRTCIceCandidate || window.RTCIceCandidate;
    var id = "@User.Identity.GetUserId()";
    var videoChat = $.connection.videoChatHub;
    var paramName = getParameterByName("offer");
    var clientId = getParameterByName("clientid");
    var froms;
    var localVideo = document.getElementById('local');
    var remoteVideo = document.getElementById('remote');
    var answerRecived = false;
    var notSendingCandidates = [];
    videoChat.client.messages = function (from, message) {
        var mess = JSON.parse(message);
        console.log("CONSOLE MESSAGE:");
        console.dir(message);
        if (mess.type == 'offer') {
            froms = from;
            pc.setRemoteDescription(new RTCSessionDescription(JSON.parse(mess.message)), function () { answerRecived = true }, function (err) { console.log("Error RemoteDescription") });

            if (!paramName) {
                console.log("Sending Answer");
                answerPeer();
            }


        } else if (mess.type == 'answer') {
            pc.setRemoteDescription(new RTCSessionDescription(JSON.parse(mess.message)), function () { answerRecived = true }, function (err) { console.log("Error RemoteDescription") });
        } else if (mess.type == 'iceCandidate') {
            if (!answerRecived) {
                notSendingCandidates.push(JSON.parse(JSON.parse(message).message));
                return;
            }
            if (notSendingCandidates.length)
                notSendingCandidates.forEach(function(el) {
                    pc.addIceCandidate(new IceCandidate(el));
                });
            notSendingCandidates = [];
            console.log("Get Ice Candidate");
            var t = JSON.parse(JSON.parse(message).message);
            //var cand = {      type: 'candidate',
            //    label: t.candidate.sdpMLineIndex,
            //    id: t.candidate.sdpMid,
            //    candidate: t.candidate.candidate
            //}
            pc.addIceCandidate(new IceCandidate(t));
        }

    };

    function answerPeer() {
        pc.createAnswer(function (answer) {
                pc.setLocalDescription(answer);
                sendMessage("answer", JSON.stringify(answer));
            },
            function (err) { console.log("Sending Answer Error: " + err) }, sdpConstraints
        );
    }

    function sendMessage(type, message) {
        console.log("Sending Message");
        videoChat.server.sendMessage(JSON.stringify({
                "type": type,
                "message": message
            }),
            id,
            clientId ? clientId : froms);
    }

    function createPeerConnection(stream) {

        pc = new peerConnection({ 'iceServers': STUN });
        pc.addStream(stream);
        console.dir(pc);

        pc.onicecandidate = function (evt) {
            if (evt.candidate == null) return;
            //pc.onicecandidate = null;

            console.log("Send Ice Candidate");
            sendMessage("iceCandidate", JSON.stringify(evt.candidate));
        };

        pc.onaddstream = function (evt) {
            console.log("An add stream");
            remoteVideo.src = window.URL.createObjectURL(evt.stream);
        };

    }
    function callPeer() {

        pc.createOffer(function (offer) {
                pc.setLocalDescription(offer,
                    function () {
                        sendMessage("offer", JSON.stringify(offer));
                    });
                console.log("Send Offer");
            },
            function (err) { console.log("Offer Error: " + err) }, offerOptions
        ).then(function() {
            
        });

    }
    $.connection.hub.start()
    .done(done);
    function done() {
        navigator.getMedia = (
    navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia
);
        $(document)
            .ready(function() {
                getScreenConstraints(function (error, screen_constraints) {
                    if (error) {
                        return alert(error);
                    }

                    console.log('screen_constraints', screen_constraints);

                    navigator.getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                    navigator.getUserMedia({ video: screen_constraints}, function (stream) {
                        localVideo.src = window.URL.createObjectURL(stream);
                    }, function (error) {
                        alert(JSON.stringify(error, null, '\t'));
                    });
                });
            });
        //getScreenConstraints(function (error, screen_constraints) {
        //    if (error) {
        //        return alert(error);
        //    }

        //    console.log('screen_constraints', screen_constraints);

        //    navigator.getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
        //    navigator.getUserMedia({ video: screen_constraints }, function (stream) {
        //        localVideo.src = window.URL.createObjectURL(stream);
        //        console.log("Add Stream");
        //        localstream = stream;
        //        localVideo.volume = 0;
        //    }, function (error) {
        //        console.log(error);
        //    });
            //console.log(chrome);
            //chrome.desktopCapture.chooseDesktopMedia("screen",
            //    function(stream) {
            //        console.log(stream);
            //    });
        //navigator.getMedia(
        //    { video: {
        //        mandatory: { chromeMediaSource: 'screen' }
        //    }, audio: true },
        //    function (stream) {
        //        localVideo.src = window.URL.createObjectURL(stream);
        //        console.log("Add Stream");
        //        localstream = stream;
        //        localVideo.volume = 0;
        //        createPeerConnection(stream);
        //        if (paramName) {
        //            callPeer();
        //        }

        //    },
        //    function (err) {
        //        console.log("The following error occured: ");
        //        console.log(err);
        //    }
        //);
    }
    var localstream;
    $("#disableVideo").click(function() {
        localstream.getVideoTracks()[0].enabled = false;
    });
    $("#enableVideo").click(function () {
        var ss = localstream.getVideoTracks()[0];
        ss.enabled = true;
    });
    $("#muteAudio").click(function () {
        var rt = localstream.getAudioTracks()[0];
        rt.enabled = false;
    });
    $("#unmuteAudio").click(function () {
        localstream.getAudioTracks()[0].enabled = true;
    });
   // {"type":"iceCandidate","message":"{\"candidate\":\"candidate:3483452828 1 udp 1686052607 109.167.248.149 51284 typ srflx raddr 192.168.4.191 rport 51284 generation 1 ufrag vcpZ network-id 1 network-cost 10\",\"sdpMid\":\"audio\",\"sdpMLineIndex\":0}"}



    ///////Отображение видео с вебкамеры
    //navigator.getUserMedia = navigator.getUserMedia ||
    //navigator.webkitGetUserMedia ||
    //navigator.mozGetUserMedia ||
    //navigator.msGetUserMedia;

    //var options = {
    //    offerToReceiveAudio: true,
    //    offerToReceiveVideo: true
    //};
    ///////Создание ПИРА
    //var IceCandidate = RTCIceCandidate || window.mozRTCIceCandidate || window.RTCIceCandidate;
    //var peerConnection = window.RTCPeerConnection || window.webkitRTCPeerConnection ||
    //window.mozRTCPeerConnection ||
    //window.msRTCPeerConnection;
    //if (typeof navigator.getUserMedia === 'function') {
    //    navigator.getUserMedia({ video: true, audio:true }, function (stream) {
    //        localVideo.src = window.URL.createObjectURL(stream);
    //        pc.addStream(stream);
    //        if (paramName) {
    //            pc.createOffer(function (offer) {
    //                pc.setLocalDescription(offer);
    //            },
    //                function (err) {
    //                    console.log(err);
    //                }, options);
    //        }
    //    }, function (err) {
    //        console.log('Error: ', err);
    //    });
    //} else {
    //    console.log('WebRTC navigator.getUserMedia() is not supported in your browser.');
    //}
    //pc = new peerConnection({ 'iceServers': STUN });
    //var client = getParameterByName("clientid");
    //var iceCandidates = [];
    //pc.onicecandidate = function (event) {
    //    // textarea.value = JSON.stringify(pc.localDescription);
    //    if (event.candidate) {
    //        iceCandidates.push({
    //            type: 'candidate',
    //            label: event.candidate.sdpMLineIndex,
    //            id: event.candidate.sdpMid,
    //            candidate: event.candidate.candidate
    //        });
    //    }
    //    console.log(event.type);
    //    if (event.candidate == null) {
    //        if (client) {
    //            videoChat.server.createOffer(id, client, JSON.stringify(pc.localDescription));
    //            iceCandidates.forEach(function(item) {
    //                videoChat.server.sendIceCandidate(client, JSON.stringify(item));
    //            });
    //        }
    //        if (froms) {
    //            videoChat.server.answer(froms, JSON.stringify(pc.localDescription));
    //            iceCandidates.forEach(function (item) {
    //                videoChat.server.sendIceCandidate(froms, JSON.stringify(item));
    //            });
    //            froms = null;
    //        }
    //    }
    //}
    //$(document).ready(function() {

    //});
    //videoChat.client.newCandidate = function (candidatee) {
    //    console.log("newIceCandidate");
    //    var cd = JSON.parse(candidatee);
    //    var cand = new IceCandidate({ sdpMLineIndex: cd.label, candidate: cd.candidate });
    //    pc.addIceCandidate(cand);
    //}
    //pc.onaddstream = function (stream) {
    //    remoteVideo.src = window.URL.createObjectURL(stream.stream);
    //    remoteVideo.play();
    //};
    //pc.iceconnectionstatechange = function(event) {
    //    console.log(pc.iceconnectionstate);
    //    //if (pc.iceconnectionstate === "failed" ||
    //    //    pc.iceconnectionstate === "disconnected" ||
    //    //    pc.iceconnectionstate === "closed"
    //    };
    //var froms = null;
    //videoChat.client.reciveOffer = function(from, offer) {
    //    froms = from;
    //    var remote = new RTCSessionDescription(JSON.parse(offer));
    //    pc.setRemoteDescription(remote, function () {
    //        console.log("Offer Remote Description");
    //        pc.createAnswer().then(function (answer) {
    //            pc.setLocalDescription(answer);
    //        }).catch(function (err) {
    //            console.log(err);
    //        });
    //    }, function (err) {
    //        console.log(err);
    //    }, options);
    //}
    //videoChat.client.reciveAnswer = function (answer) {
    //    var answers = new RTCSessionDescription(JSON.parse(answer));
    //    pc.setRemoteDescription(answers, function(){console.log("SuccessSetRemoteDescription")}, function(err){console.log("Error remote description")});
    //    console.log("Answer Remote Description");
    //}



    @*function PeerConnection(config, signalingChannel) {
        var peerConnection = window.RTCPeerConnection || window.webkitRTCPeerConnection ||
            window.mozRTCPeerConnection ||
            window.msRTCPeerConnection;
        this._pc = new peerConnection(config);
        this._signalingChannel = signalingChannel;

        this._signalingChannel.onoffer = function (offer) {
            this._pc.setRemoteDescription(offer, function () {
                this._pc.createAnswer().then(function(answer) {
                    this._pc.setLocalDescription(answer);
                }.bind(this)).catch(function(err) {
                    console.log(err);
                });
            }.bind(this), function(err) {
                console.log(err);
            });
        }.bind(this);

        this._signalingChannel.onanswer = function (anwser) {
            this._pc.setRemoteDescription(anwser);
        }.bind(this);

        this._pc.onicecandidate = function (event) {
            if (event.candidate == null) {
                this._signalingChannel.send(this._pc.localDescription);
            }
        }.bind(this);

        this._pc.onaddstream = function (event) {
            this.onaddstream(event.stream);
        }.bind(this);
    }

    PeerConnection.prototype.call = function () {
        this._pc.createOffer(function (offer) {
            this._pc.setLocalDescription(offer);
        }.bind(this), function(err) {
            console.log(err);
        });
    };

    PeerConnection.prototype.addStream = function (stream) {
        this._pc.addStream(stream);
    };
</script>
    <script>
        var localVideo = document.getElementById('local');
        var remoteVideo = document.getElementById('remote');
        var callButton = document.getElementById('call');
        var receiveOfferButton = document.getElementById('offer');
        var receiveAnswerButton = document.getElementById('answer');
        var textarea = document.querySelector('textarea');

        function SignalingChannel(textarea) {
            this._textarea = textarea;
        }

        SignalingChannel.prototype.send = function (description) {
            this._textarea.value = JSON.stringify(description);
        };

        var sc = new SignalingChannel(textarea);
        var pc = new PeerConnection({ 'iceServers': STUN.concat(TURN) }, sc);
        pc.onaddstream = function (stream) {
            remoteVideo.src = URL.createObjectURL(stream);
        };

        callButton.onclick = function () {
            pc.call();
        };

        receiveOfferButton.onclick = function () {
            var offer = new RTCSessionDescription(JSON.parse(textarea.value));
            sc.onoffer(offer);
        };

        receiveAnswerButton.onclick = function () {
            var answer = new RTCSessionDescription(JSON.parse(textarea.value));
            sc.onanswer(answer);
        };*@

</script>
