﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
    <head>
    </head>
<body>
<video id="video" width="800" height="650" src="#"></video>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
@*<script src="~/Scripts/openlang/VideoChat/latest-v2.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }
        }
        navigator.getUserMedia({ audio: true, video: true }, function (stream) {
            var video = document.getElementById('video');
            video.src = window.URL.createObjectURL(stream);
        }, function (err) {
            console.log(err);
        });


        var userId = "@User.Identity.GetUserId()";
        var createdRoom;
        var peers = {};
        var server = {
            iceServers: [
                { url: "stun:23.21.150.121" },
                { url: "stun:stun.l.google.com:19302" },
                { url: "turn:numb.viagenie.ca", credential: "your password goes here", username: "example@example.com" }
            ]
        };
        var options = {
            optional: [
                { DtlsSrtpKeyAgreement: true }, // требуется для соединения между Chrome и Firefox
                { RtpDataChannels: true } // требуется в Firefox для использования DataChannels API
            ]
        };
        var PeerConnection = RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
        var SessionDescription = RTCSessionDescription|| window.mozRTCSessionDescription || window.RTCSessionDescription;
        var IceCandidate = RTCIceCandidate || window.mozRTCIceCandidate || window.RTCIceCandidate;
        var videoChat = $.connection.videoChatHub;
        $.connection.hub.start()
            .done(function () {
                videoChat.server.createRoom();

                console.log("Complete");
            });
        videoChat.client.createdRoom = function (room) {
            createdRoom = room;
            console.log(room);
            socketNewPeer(userId);
        }

        function socketNewPeer(data) {
            peers[data] = {
                candidateCache: []
            };

            // Создаем новое подключение
            var pc = new PeerConnection(server, options);
            // Инициализирууем его
            initConnection(pc, data, "offer");

            // Сохраняем пира в списке пиров
            peers[data].connection = pc;

            // Создаем DataChannel по которому и будет происходить обмен сообщениями
            var channel = pc.createDataChannel("mychannel", {});
            channel.owner = data;
            peers[data].channel = channel;

            // Устанавливаем обработчики событий канала
            bindEvents(channel);

            // Создаем SDP offer
            pc.createOffer(function (offer) {
                pc.setLocalDescription(offer);
            });
        }

        function initConnection(pc, id, sdpType) {
            pc.onicecandidate = function (event) {
                if (event.candidate) {
                    // При обнаружении нового ICE кандидата добавляем его в список для дальнейшей отправки
                    peers[id].candidateCache.push(event.candidate);
                } else {
                    // Когда обнаружение кандидатов завершено, обработчик будет вызван еще раз, но без кандидата
                    // В этом случае мы отправялем пиру сначала SDP offer или SDP answer (в зависимости от параметра функции)...
                    sendViaSocket(sdpType, pc.localDescription, id);
                    // ...а затем все найденные ранее ICE кандидаты
                    for (var i = 0; i < peers[id].candidateCache.length; i++) {
                        sendViaSocket("candidate", peers[id].candidateCache[i], id);
                    }
                }
            }
            pc.oniceconnectionstatechange = function (event) {
                if (pc.iceConnectionState == "disconnected") {
                    console.log("disconnected");
                    //connection_num.innerText = parseInt(connection_num.innerText) - 1;
                    delete peers[id];
                }
            }
        }

        function bindEvents(channel) {
            console.log("bindEvents");
            //channel.onopen = function () {
            //    connection_num.innerText = parseInt(connection_num.innerText) + 1;
            //};
            //channel.onmessage = function (e) {
            //    chatlog.innerHTML += "<div>Peer says: " + e.data + "</div>";
            //};
        }
        function socketReceived(data) {
            var json = JSON.parse(data);
            switch (json.type) {
                case "candidate":
                    remoteCandidateReceived(json.id, json.data);
                    break;
                case "offer":
                    remoteOfferReceived(json.id, json.data);
                    break;
                case "answer":
                    remoteAnswerReceived(json.id, json.data);
                    break;
            }
        }
        function remoteOfferReceived(id, data) {
            createConnection(id);
            var pc = peers[id].connection;

            pc.setRemoteDescription(new SessionDescription(data));
            pc.createAnswer(function (answer) {
                pc.setLocalDescription(answer);
            });
        }
        function createConnection(id) {
            if (peers[id] === undefined) {
                peers[id] = {
                    candidateCache: []
                };
                var pc = new PeerConnection(server, options);
                initConnection(pc, id, "answer");

                peers[id].connection = pc;
                pc.ondatachannel = function (e) {
                    peers[id].channel = e.channel;
                    peers[id].channel.owner = id;
                    bindEvents(peers[id].channel);
                }
            }
        }
        function remoteAnswerReceived(id, data) {
            var pc = peers[id].connection;
            pc.setRemoteDescription(new SessionDescription(data));
        }
        function remoteCandidateReceived(id, data) {
            createConnection(id);
            var pc = peers[id].connection;
            pc.addIceCandidate(new IceCandidate(data));
        }
        //$(document)
        //    .ready(function() {
        //        var room = location.search && location.search.split('?')[1];
        //        var newguid = guid();
        //        var webrtc = new SimpleWebRTC({
        //            localVideoEl: 'video',
        //            remoteVideosEl: 'video2',
        //            autoRequestMedia: true,
        //            debug: false,
        //    });

        //        webrtc.on('localStream',
        //            function(stream) {
        //                var button = document.querySelector('form>button');
        //                if (button) button.removeAttribute('disabled');
        //                $('#localVolume').show();
        //            });
        //        webrtc.on('readyToCall',
        //            function() {
        //                // you can name it anything
        //                if (room) webrtc.joinRoom(room);
        //            });
        //        $("#createRoom")
        //            .click(function() {
        //                if (!room)
        //                    room = 1234;
        //                webrtc.createRoom(room,
        //                    function(err, room) {
        //                        if (err != null) {
        //                            alert("Error for creation room");
        //                            return;
        //                        }
        //                    });
        //            });
        //        webrtc.on('videoRemoved', function (video, peer) {
        //            $("#container").find("#" + video.id).remove();
        //            //var remotes = document.getElementById('remotes');
        //            //var el = document.getElementById();
        //            //if (remotes && el) {
        //            //    remotes.removeChild(el);
        //            //}
        //        });
        //        webrtc.on('videoAdded',
        //            function(video, peer) {
        //                console.log('video added', peer);
        //                $("#container").append(video);
        //                var remotes = document.getElementById('remotes');
        //            });
        //        $("#leaveRoom").click(function() {
        //            webrtc.leaveRoom("1234");
        //        });
            //});
    </script>
</body>
</html>
