﻿@using Microsoft.Ajax.Utilities
@using Xencore.Helpers
@model IEnumerable<Domain.Entities.HelpersEntity.PaymentTransactionsAdminHelper>
@{
    ViewBag.Title = "All Transactions";
    ViewBag.Admin = "payments";
    Layout = null;
}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
<section class="admin teacher-profile">
        <div class="content-wrap">
                <div class="bgc-content-wrap ft clearfix">
                    <div class="col-xs-12">
                        <table id="table" class="payments-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>TransactionId</th>
                                    <th>Paymant Method</th>
                                    <th>Date</th>
                                    <th>Amount(EUR)</th>
                                    <th>Amount (Native Currency)</th>
                                    <th>Total Bonus(EUR)</th>
                                    <th>Bonus Code</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td  class="name"><a href="#/attendees/@item.Id">@item.Name</a></td>
                                    <td>@item.Email</td>
                                    <td>@item.TransactionId</td>
                                    <td>@item.PaymantMethod</td>
                                    <td>@item.Date.ToString("dd.MM.yyyy")</td>
                                    <td>@item.AmountEur (EUR)</td>
                                    <td>@item.AmountNative</td>
                                    <td>@item.BonusEur (EUR)</td>
                                    <td>@item.BonusCode</td>
                                </tr>
                            }
                        </table>
                        <span class="table-count">Showing 10 of @Model.Count()</span>
                    </div>
                </div>
            </div>
</section>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        jQuery('.payments-table').dataTable({
            "autoWidth": true,
            "ordering": false,
            "oLanguage": {
                "sSearch": "",
            },
            language: {
                searchPlaceholder: "Enter information to search..."
            },
            "dom": '<"top" flp>rt<"bottom"flp>'
        });
        $('.dataTables_filter input').attr("placeholder", "Enter information to search...");
        </script>
