﻿       body #my-account-container .right-content .main-content .right-right-content > .chat-widget {
        border: 1px solid #e2e6e9;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 0px; /*Notice*/
    }
       body{
           overflow-x: hidden;
       }
       .no-choice-chat .col-sm-12 {
           margin-top: -58px;
       }
        /*Search panel*/
     @media(max-width: 768px)    {
    body .chat-main .media .media-body {
        width: 85%
    }
    body .chat-main .pull-left .media .media-body {
        float: right;
    }

        .chat-window  .no-choice-chat .flex-wrap {
                height: 200px;
            }
        }
    #my-account-container .chat-widget .search-title {
        font-family: "Lato-Bold" , sans-serif;
        font-size: 20px;
        display: block;
        text-align: left;
        color: #333;
    }
    #my-account-container .chat-widget .teach-search {
        border: none;
    }
    .chat-text.second .media-body::before  {
        right: 80px;
    }
    .chat-text.first .media-body::before {
        left: -5px;
    }
    .chat-text.first .chat-date {
        text-align: right
    }
    .chat-text.first .media {
        margin-right: 9%;
    }
    body .chat-main .pull-right .media .media-left {
        justify-content: flex-end;
    }
    .chat-text.second .media {
        margin-left: 9%;
    }
    #my-account-container .chat-widget .teach-search .form-group {
        margin-bottom: 25px;
        margin-top: 17px;
    }
    *::-webkit-input-placeholder { 
	color: #333;
	opacity: 1
    }
*:-moz-placeholder { 
	color: #333;
	opacity: 1
    }
*:-ms-input-placeholder { 
	color: #333;
	opacity: 1;
    }
.chat-window { 
    background-color: #fff; 
}
.chat-text.second .media-body::before {
    right: -5px;
}
#my-account-container .chat-widget .teach-title span.for-point {
    color: #aaa
}
#my-account-container .chat-widget .teach-search .form-group input:focus{
    box-shadow: inset 0 1px 1px #009de4, 0 0 8px #009de4
}
 
#sendMessage {
    overflow: hidden;
}   
    #my-account-container .chat-widget .teach-search .form-group input {
        border-color: #ccc;
        margin: 0;
        height: 41px;
        padding-left: 20px;
        color: #333!important;
        font-size: 18px;
        border-radius: 18px;
        max-width: 94%;
        /*Notice font-family*/
    }
    /*messages*/
     #my-account-container .chat-widget #mCSB_4_container {
         margin-right: 0!important;
     }
    .media-left span img {
        width: 45px;
        height: 45px;
        margin-top: 5px;
        background-color: 222;
        border-radius: 100%;
    }
    .mfp-close {
        opacity: 0;
    }
  
   .nicescroll-cursors {
       background: #bbbbbb!important;
       float: none!important;
       margin: 0px auto!important;
       border: 1px solid #e0e0e0!important;
   }
   .nicescroll-rails {
       background: #e0e0e0!important;
       width: 8px!important;

   }
     body.toLowerScreen-wrap .mfp-bg   {
        background: transparent;
        opacity: 1;
        position: relative;
        z-index: 0;
        width: auto;
        height: auto;
    }
     body.toLowerScreen-wrap .mfp-wrap {
         overflow-y: hidden;
         overflow: hidden !important;
         position: absolute;
         width: 180px;
         height: 300px;    
        right: 3%;
        bottom: 0%;
        top: auto;
        left: auto;
     } 
     .toLowerScreen-wrap #video-chat {
         width: 100%;
     }
     body.toLowerScreen-wrap .mfp-container {
    position: absolute;
    width: 180px;
    height: 300px;
    padding: 0;
    right: 0%;
    top: 0%;
    bottom: auto;
    left: auto;
     }
     #my-account-container .chat-widget .contact-side .mess:last-of-type {
             border-bottom: 1px solid #e2e6e9;
     }
     body.toLowerScreen-wrap .mfp-wrap {
         height: 300px!important;
     }
    body.toLowerScreen-wrap .mfp-container {
             width: 100%;
    margin: 0!important;
     }
    body #my-account-container .chat-widget .mess .before {
        left: 9px;
        top: 36px;
    }
    .main-content {
        overflow: hidden;
    }
    body #my-account-container .chat-widget .mess .before.active {
        background-color: #acd346;
    }
    body #my-account-container .chat-widget .mess .before.hold {
        background-color: #f8d44d;
    }
    body #my-account-container .chat-widget .contact-side .mess-read {
        background-color: #fff;
    }
    body #my-account-container .chat-widget .contact-side .mess-unread {
        background-color: #f5f7f9;
    }
    body #my-account-container .chat-widget #mCSB_4_container {
        border-top: 1px solid #e2e6e9;
        border-bottom: 1px solid #e2e6e9;
    }
    #my-account-container .chat-widget .chat-item {
        padding-left: 23px;
    }
    #my-account-container .chat-widget .contact-side .mess {
        border-left: 7px solid transparent;
        position: relative;
        padding-right: 15px;
        border-top: 1px solid #e2e6e9;
    }
    /*#my-account-container .chat-widget .contact-side .mess:first-of-type {*/
        border-top: 0!important;
    }
    #my-account-container .chat-widget .chat-item {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 10px;
    }
    #mCSB_1_scrollbar_vertical {
        margin: 10px 0;
    }
  .chat-main .trial-button-style  {
      float: none!important;
border-radius: 50px;
background-color: #00a2e7;
color: #fff;
font-family: Lato-Regular,sans-serif;
font-size: 15px;
padding: 8px 20px;
display: inline-block;
text-align: center;
cursor: pointer;
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
opacity: 1;
margin-top: 10px;
    }
  #my-account-container .chat-window .teach-title #onOrOff.point-active::before {
      background-color: #99d332;
  }
  .trial-button-style:hover {
      opacity: .6
  }
  .trial-button-style:hover , .trial-button-style:active , .trial-button-style:visited , .trial-button-style:link  {
      text-decoration: none;
  }
   #my-account-container .chat-widget .media-body {
       text-align: left;
   }
   #my-account-container .chat-widget .media.chat-item .media-heading.patnerName span {
       display: block;
       padding-top: 0;
   }
   #my-account-container .chat-widget .chat-item .media-body .media-heading .user-name {
       font-family: "Lato-Bold" , sans-serif;
       font-size: 14px;
       font-weight: normal;
       color: #333;
       vertical-align: top;
   }
   #my-account-container .chat-widget .media-heading.patnerName {
       line-height: 24px;
   }
   .video-chat .custom-scroll1 {
       position: relative;
       overflow: hidden;
   }
   #ascrail2001 {
top: auto!important;
left: auto!important;
right: 5%!important;
bottom: 0%!important;
border-radius: 10em;
   }
   #ascrail2000 {
       border-radius: 10em;
     
   }
   .controls div{
       position: relative;
   }
   .controls .turn:before{
       content: '';
       position: absolute;
       background: #fff;
       display: block;
       width: 100%;
       height: 2px;
       top: 18px;
       right: 0;
       transform: rotate(135deg);
   }
   #my-account-container .chat-widget .chat-item .media-body .media-heading span {
       font-size: 14px;
       font-weight: normal;
   }
   body #my-account-container .right-content .main-content .left-left-content {
       padding-right: 15px;
   }
   #my-account-container .chat-widget .chat-item .media-body p.text {
       font-family: "Lato-Regular" , sans-serif;
       font-weight: normal;
       font-size: 14px;
       color: #7b7b7b;
       vertical-align: bottom;
   }
   #my-account-container .chat-widget .mess.active {
    border-left: 7px solid #009de4!important;
}
#chatPartner a {
    color: #333;
}
#chatPartner a:link , #chatPartner a:visited , #chatPartner a:focus , #chatPartner a:hover {
    text-decoration: none;
}
/*video#remote , .video-wrapper {
    height: 600px;
}
#video-chat .custom-scroll1 {
    height: 200px!important;
}*/
.center-img-wrap {
  
 width: 100%;
position: absolute;
text-align: center;
top: 50%;
display: flex;
align-items: center;
justify-content: center;
}
@media only screen and (max-width: 1300px){
    /*#my-account-container .right-content .main-content .left-left-content .chat-window #sendMessage*/ 
    .video-chat #sendMessage {
        margin-right: 15px!important;
    }
    body .chat-main .pull-right .media .media-left {
        margin-right: -10px
    }
    body .chat-main .pull-left .media .media-left {
         margin-left: -10px
    }
}
@media only screen and (max-width: 992px) {
        body .chat-text.second .media-left {
        padding-right: 0;
    }
    body div .chat-main .pull-left .media .media-left {
        margin-left: 0;
    }
    body div .chat-main .pull-right .media .media-left {
        margin-right: 0;
    }
        /*for all pages*/
    #my-account-container .right-content {
        width: 100%
    }
#chatPartner .fa {
    display: inline-block!important;
}
}



   #popup__toggle{position:relative;}
.ring .img-circle{background-color:#009de4;box-sizing:content-box;-webkit-box-sizing:content-box;}
.ring .circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #009de4;width:178px;height:178px;bottom:-25px;right:-15px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.ring .circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#009de4;width:128px;height:128px;bottom:0px;right:10px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.ring .img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:100px;height:100px;bottom: 14px;right: 24px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.ring .img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:100px;height:100px;background-size:cover;background-position: center center;background-repeat:no-repeat;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.ring .img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}


    .chat-main .mCustomScrollbar .mCustomScrollBox  {
        overflow: visible!important;
    }
    .chat-main .mCustomScrollbar .mCSB_scrollTools_vertical{
        margin-right: -15px!important;
    }
    .chat-window  .no-choice-chat .flex-wrap {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .chat-window  .no-choice-chat .flex-wrap p {
        font-family: "Lato-Regular";
        font-size: 16px;
        line-height: 30px;
        color: #cccccc;
    }
    .chat-window  .no-choice-chat .flex-wrap .trial-button-style {
        color: #fff;
        background-color: #009de4;
        border-color: #009de4;
        float: none;
        margin-top: 5px;
    }
    .chat-window  .no-choice-chat {
        display: block
    }
    .mfp-close {
        display: none!important;
    }
    .message-text a {
        color: #fff!important;
        text-decoration: underline!important;
    }
    .inner-video-chat.toLowerScreen {
        margin-top: 20px;
    }
    .toLowerScreen-wrap #video-chat {
        padding: 0!important;
    }
    #video-chat-answer .toLowerScreen #popup_toggle {
        margin: 0 0 0 62px;
    }
    #video-chat-answer .toLowerScreen  .center-video-img , 
    #video-chat.video-chat .toLowerScreen  .center-video-img {
        margin-top: 0!important;
    }
    .chat-message {
        padding: 0!important;
    }
    .chat-message > .col-sm-11 {
        padding-left: 0!important;
    }
    .chat-message > .col-sm-1 {
        padding-right: 0 !important
    }
    #chat-preloader {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        /*height: 100%;*/
        overflow: visible;
        background: #fff;
    }
    .video-chat .inner-video-chat .bottom-video .controls a {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin: 18px 10px;
        color: #fff;
        font-size: 17px;
        background: #a8c75f;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        transition: all 0.3s;
    }

    #video-chat-answer .inner-video-chat .bottom-video .controls {
        width: auto;
        margin-left: -20px;
        margin-left: -45px;
    }
    #video-chat-answer .inner-video-chat .bottom-video .controls > div {
        background: transparent;
        width: auto;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0;
        display: inline-block
    }
    #video-chat-answer .inner-video-chat .name  {
        display: block;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #video-chat-answer #popup_toggle {
        width: 100px;
        height: 100px;
        margin: 0 0px 0 150px;
    }
    body .video-chat #sendMessage {
        margin-left: 0;
    }
    body .video-chat .grey-button {
        height: 38px;
        margin-right: 0;
    }
    body .video-chat #sendMessage {
        height: 38px;
    }
    #video-chat-answer .inner-video-chat .bottom-video .controls > div span{
        display: block;
        text-align: center;
        width: 66%;
        margin: 0 auto;
        line-height: 25px;
    }
    #video-chat-answer .inner-video-chat .bottom-video .controls  #confirm-call ,
    #video-chat-answer .inner-video-chat .bottom-video .controls  #confrim-audio-call
    {
        background-color: rgb(132,219,0);
    }
    body .video-chat .inner-video-chat .bottom-video .controls {
        text-align: center;
        width: 600px;
    }
    #video-chat-answer .inner-video-chat {
        position: relative;
        min-height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #video-chat-answer .bottom-video ,
    #video-chat-answer .popul_toggle
    {
        position: relative!important;
    }
    #video-chat-answer .bottom-video {
        position: static!important;
        bottom: 20px;
        top: auto !important;
    }
    #video-chat-answer .center-video-img
    {
        position: relative!important;
        left: 0!important;
        right: 0!important;
        top: 0!important;
        bottom: 0!important;
        width: auto!important;
    }


    .toLowerScreen .video-wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .video-wrapper {
        text-align: center;
    }
    .video-chat .inner-video-chat.toLowerScreen .video-wrapper video {
        width:100% !important
    }
    #videocall.disable {
        opacity: .7;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .smile-block {
        top: -95px;
        left: 60px;
    }
    .video-chat .toLowerScreen {
        width: 180px!important;
        height: 300px;
    }
    .video-chat .inner-video-chat.toLowerScreen .bottom-video {
        top: 58%;
    }
    .video-chat .toLowerScreen .center-video-img {
        top: 17%;
    }
    .video-chat .toLowerScreen  .full-screen  {
        background: transparent;
        margin-top: 5px;
        margin-right: 5px;
        opacity: .3;
    }
    .video-chat .inner-video-chat .bottom-video .controls div {
        display: inline-block!important;
        float: none!important;
    }
    .video-chat .inner-video-chat {
        background-image: #373f51;
    }
    .video-chat .inner-video-chat.toLowerScreen .center-video-img {
        left: 6%;
        top: 50%;
    }
    .video-chat .inner-video-chat.toLowerScreen .top-name{
        top: 150px;
        left: 15px;
        opacity: 1;
        background: transparent;
        text-align: center;
    }
    .toLowerScreen-wrap #video-chat-answer {
        padding: 0!important;
    }
    .toLowerScreen-wrap #video-chat-answer .inner-video-chat .bottom-video .controls{
        margin-left: 0;
 
    }
    .toLowerScreen-wrap #video-chat-answer .inner-video-chat {
        display: block;
    }
    .toLowerScreen-wrap #video-chat-answer .inner-video-chat .bottom-video .controls > div span {
        display: none;
    }
    .toLowerScreen-wrap #video-chat-answer .inner-video-chat .bottom-video .controls .confrim-call-wrap a {
        display: block!important;
    }
    .toLowerScreen-wrap #video-chat-answer  .inner-video-chat .bottom-video .controls a ,
    .toLowerScreen-wrap #video-chat-answer  .inner-video-chat .bottom-video .controls div {
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .toLowerScreen-wrap .items-wrap {
        padding-top: 68px;
    }
    body .video-chat-answer .inner-video-chat.toLowerScreen .full-screen {
        margin-top: 5px;
        margin-right: 15px;
    }
    .video-chat .inner-video-chat.toLowerScreen .bottom-video .controls {
        margin-top: 20px;
        position: relative;
        z-index: 9999;
    }
    .html-height {
        margin-right: 0!important;
    }
    .video-chat .inner-video-chat.toLowerScreen .full-screen{
        margin-top: 5px;
        margin-right: 5px;
        background: #222;
        /*width: 180px!important;
        height: 256px;
    }
    .video-chat .toLowerScreen .center-video-img {
        top: 17%;
    }
    .video-chat .toLowerScreen  .full-screen  {
        background: transparent;
        margin-top: 5px;
        margin-right: 5px;
        opacity: .3;
    }
    .video-chat .inner-video-chat .bottom-video .controls div {
        display: inline-block!important;
        float: none!important;
    }
    .video-chat .inner-video-chat {
        background-image: #373f51;
    }
    .video-chat .inner-video-chat.toLowerScreen .center-video-img {
        left: 9%;
        top: 72%;
    }
    .video-chat .inner-video-chat.toLowerScreen .full-screen{
        margin-top: 10px;
        margin-right: 10px;*/
    }
    .chat-side {
        overflow: hidden;
    }



    .video-chat .toLowerScreen .chat-side,
    .video-chat .toLowerScreen .video-messages,
    .video-chat .toLowerScreen .center-video-img .info,
    .video-chat .toLowerScreen .center-video-img .top-name,
    .video-chat .toLowerScreen .bottom-video .cur-user,
    .video-chat .toLowerScreen .bottom-video #confirm-call , 
    .video-chat .toLowerScreen.inner-video-chat .bottom-video .controls .hide-video ,
    .video-chat .toLowerScreen.inner-video-chat .bottom-video .controls .hide-chat
    {
        display: none!important;
    }
    .inner-video-chat.toLowerScreen {
        overflow: hidden;
    }
    .inner-video-chat.toLowerScreen #remote {
        height: 100%!important;
    }
    .video-chat .toLowerScreen .bottom-video .controls {
        text-align: center;
        width: 100%!important;
    }
    .video-chat .inner-video-chat .bottom-video .cur-user {
        background-image: url(/Images/video-user.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .video-chat .inner-video-chat .top-name {
        position: absolute;
        top: 25px;
        left: 25px;
        padding: 9.5px 24px;
        background: rgba(0,0,0,.6);
        border-radius: 10em;
        z-index: 9;
        color: #fff;
        font-size: 15px;
        font-family: "Lato-Semibold", sans-serif;
    }
    #video-chat-answer .inner-video-chat .top-name {
        position: absolute;
        top: 25px;
        left: 25px;
        padding: 9.5px 24px;
        background: rgba(0,0,0,.6);
        border-radius: 10em;
        z-index: 9;
        color: #fff;
        font-size: 15px;
        font-family: "Lato-Semibold", sans-serif;
    }
    video#remote {
        background: #373f51;
    }

    .mCSB_inside>.mCSB_container {margin-right: 0!important;}
    .video-chat .toLowerScreen .chat-side,
    .video-chat .toLowerScreen .video-messages,
    .video-chat .toLowerScreen .center-video-img .info,
    .video-chat .toLowerScreen .center-video-img .top-name,
    .video-chat .toLowerScreen .bottom-video .cur-user,
    .video-chat .toLowerScreen .bottom-video #disableVideo , .video-chat .toLowerScreen.inner-video-chat .bottom-video .controls .add-user
    {
        display: none!important;
    }
    .inner-video-chat.toLowerScreen {
        overflow: hidden;
    }
    .video-chat .toLowerScreen .bottom-video .controls {
        text-align: center;
        width: 100%!important;
    }
    .video-chat .inner-video-chat .bottom-video .cur-user {
        background-image: url(/Images/video-user.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .video-chat .inner-video-chat .name.top-name {
        position: absolute;
        top: 25px;
        left: 25px;
        padding: 9.5px 24px;
        background: rgba(0,0,0,.6);
        border-radius: 10em;
        z-index: 9;
        color: #fff;
        font-size: 15px;
        font-family: "Lato-Semibold", sans-serif;

    }
    .mCSB_inside>.mCSB_container {margin-right: 0!important;}
    #video-chat .video-messages {
        position: relative;
        z-index: 999;
    }
    #video-chat .chat-side {
        position: relative;
        z-index: 999;
        /*padding-right: 30px;
        padding-left: 30px;*/
        background-color: #fff;
    }
    /*.video-chat .inner-video-chat .bottom-video {
        top: 50%;
    }*/

    /*.video-chat   {
        padding: 0;
width: 66%;
margin: 0 auto;
padding: 50px 0;*/
    .chat-message .col-sm-1 {
        padding-left: 0!important;
    }
    .video-chat   {
        padding: 0;
        width: 90%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .video-chat .chat-text .media-body::before {
        top: 47px;
    }

    .video-chat .custom-scroll1 .chat-text {
        margin: 0; 
        padding-top:26px; 
        background-color: #fff;
    }
    .video-chat .inner-video-chat .bottom-video .controls div {
        background-color: #009de4;
    }
    .video-chat .inner-video-chat {
        right: 0;
        width: 100%;
        /*overflow: visible;*/
        background-color: #fff;
        position: relative;
        /*transform: scale(1.3);*/
        border: none;
    } 
    .video-chat-answer  .inner-video-chat {
        background: rgb(52,63,83);
    }
    .video-chat .inner-video-chat video {
        position: static;
        width: 100%!important;
    }

    .video-chat .inner-video-chat .full-screen i {
        color: #cfcfcf;
        font-size: 20px;
    }
    .video-chat .inner-video-chat .full-screen {
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
        opacity: .6;
        float: right;
        margin-top: 25px;
        margin-right: 25px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .video-chat .inner-video-chat .bottom-video {
        background-color: transparent;
    }
    .video-chat .inner-video-chat .center-video-img{
        width: 100%;
        left: auto;
        top: auto;
        position: relative;
        width: 150px;
        height: 150px;
        text-align: center;
    }
   .video-chat#video-chat .inner-video-chat .center-video-img {
                margin-top: -150px;
    }
    .video-chat .inner-video-chat .bottom-video .cur-user {
        overflow: hidden;
        top: -100px;
        right: 50px;
    }
    .video-chat .inner-video-chat .bottom-video #local {
        position: absolute
    }
    .video-chat .inner-video-chat .center-video-img p {
        font-family: PTSansRegular;
        font-size: 14px;
        color: #808080;
    }
        
    #my-account-container .chat-window .teach-title #onOrOff.active::before {
        background-color: #99d332;
    }
    #my-account-container .chat-window .teach-title #onOrOff {
        color: #aaa;
    }
    #my-account-container .chat-window .buttons-js {
        float: right;
        padding-bottom: 0px;
    }
    #my-account-container .no-chats {

    }
    #my-account-container .no-chats .message {
        font-size: 18px;
        font-family: "Lato-Regular" , sans-serif;
        color: #ccc;
        text-align: center
    }
    #my-account-container .chat-window   .alert-messages {
        font-size: 18px;
        font-family: "Lato-Regular" , sans-serif;
        color: #ccc;
        text-align: center
    }
    #my-account-container .chat-window .teach-title #chatPartner {
        font-size: 21px;
        font-family: "Lato-SemiBold" , sans-serif;
        color: #555;
    }
    #my-account-container .chat-window .teach-title {
        border-bottom: 1px solid #e2e6e9;
        padding-bottom: 10px;
    }
    #my-account-container .chat-window {
        border: 1px solid #e2e6e9;
    }
   #my-account-container  .chat-header.teach-title p {
       padding-left: 0;
   }
    #my-account-container  .chat-header.teach-title span.for-point {
        padding-left: 15px;
    }
    #my-account-container  .chat-header.teach-title span.for-point::before {
        left: 0;
    }
    /*Send message*/
    #my-account-container .right-content .main-content .left-left-content .chat-window  .grey-button ,  .video-chat .grey-button{
        float: right;
        margin-right: 15px;
        border-radius: 10em;
        width: 40px;
        height: 36px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color : #009de4;
    }
    #my-account-container .right-content .main-content .left-left-content .chat-window #sendMessage , .video-chat #sendMessage {
        border-radius: 10em;
        border: 1px solid #eaebf0;
        height: 36px;
        padding-left: 80px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
    }
     #my-account-container .right-content .main-content .left-left-content .chat-message .col-sm-12  {
         display: flex;
         align-items: center;
         justify-content: center;
     }
    #my-account-container .right-content .main-content .left-left-content .chat-window .chat-message , .video-chat  .chat-message{
        background-color: #fbfbfb;
        
    }

    #my-account-container .right-content .main-content .left-left-content .chat-window #sendMessage:focus , #video-chat #sendMessage:focus{
        box-shadow:  0 0 8px #009de4;
    }
    #my-account-container .right-content .main-content .left-left-content .chat-window  .grey-button .fa , #video-chat .grey-button .fa {
        color: #fff;
        font-size: 20px;
    }
    #my-account-container .right-content .main-content .left-left-content .chat-window .chat-message .chat-action , #video-chat .chat-message .chat-action {
        margin: 0px;
        left: 40px;
        right: auto;
        top: 24px;
        font-size: 20px;
    }
    .video-chat .inner-video-chat .bottom-video.botPosition {
            top: 80% !important;
        }
    #my-account-container .right-content .main-content .left-left-content .chat-window .chat-message .chat-action .fa , #video-chat .chat-message .chat-action .fa{
        color : #009de4;
    }

    #my-account-container .right-content .main-content .left-left-content .chat-window .row {
        margin: 0 -15px
    }
    #my-account-container .chat-window {
        background-color: #fff;
    }
    #my-account-container .chat-window .chat-header .buttons-js i ,#my-account-container .chat-window .chat-header .buttons-js span {
        color: #009de4;
    }
    #my-account-container .chat-window .chat-header .buttons-js #videocall  {
        background-color: #009de4;
    }
    #my-account-container .chat-window .teach-title .book-button {
        background-color: transparent;
        margin-right: 10px;
        font-size: 18px;
    }
    #my-account-container .chat-window .chat-header .buttons-js #videocall span {
        color: #fff;
    }
    #my-account-container .chat-window .chat-header .buttons-js .trial-button-style {
        border: none;
    }
    .chat-header .flex {
        justify-content: flex-end;
    }
    .video-chat #sendMessage {
        padding-left: 100px!important
    }
    body .chat-main  .media {
        overflow: visible;
    }
