﻿
@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Bold/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Lato-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Medium/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Lato-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Semibold/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold/Lato-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoSlab-Light/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Light/RobotoSlab-Light.woff") format("woff"), url("../fonts/RobotoSlab-Light/RobotoSlab-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoSlab-Thin/RobotoSlab-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Thin/RobotoSlab-Thin.woff") format("woff"), url("../fonts/RobotoSlab-Thin/RobotoSlab-Thin.ttf") format("truetype"); }
