﻿body, html {
    min-height: 100%;
    height: 100%;
}

body, html, .zero {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#main_block {
    min-height: 100%;
}

.ui-menu.ui-widget.ui-widget-content.ui-corner-bottom {
    min-height: 0;
    max-height: 200px;
}

.ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-all, .ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-top {
    width: 100% !important;
}

.header {
    background: url(../Images/background_header.png) 0 0 repeat-x;
    box-shadow: 0 0 20px #83878e;
    position: relative;

}

.time {
    background: #349BE6 !important;
    color: #fff !important;
    border-radius: 3px;
}

#dataTableCN.table-striped > tbody > tr > td:last-child input, #dataTableRC.table-striped > tbody > tr > td:nth-last-child(2) input {
    background-color: #278DD8;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

#dataTableCN.table-striped th:nth-last-child(2) {
    vertical-align: middle;
}

.clnow {
font-size: 136%;
    font-weight: bold;
    color: #01477A;
    display: inline-block;
    margin-top: 9px;
}

.first_layer {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.dd-selected {
    background: #DBE6EA;
    padding: 0 !important;
}

.header_content {
    max-width: 95%;
    min-width: 70%;
}

.roboto {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 110%;
    color: #868d96;
}

.lato {
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    color: #636d7d;
    display: inline-block;
}

.fixed_width {
    max-width: 22%;
    min-width: 22%;
}

.ui-slider-pips .ui-slider-pip {
    height: 2em !important;
}

.ui-slider-pips [class*=i-slider-pip-selected] .ui-slider-label {
    color: #6B861D;
}

.ui-slider-horizontal.ui-slider-pips > span:last-child :after {
    display: block;
    content: '';
    clear: both;
}

@media (max-width: 768px) {
    .sub_header .col-xs-12 {
        max-width: none;
    }

    .sub_header .col-md-5.col-xs-12 {
        text-align: center;
    }

    .float_right {
        margin: 0 auto;
        float: none !important;
        font-size: 68%;
    }

    .right_top_panel {
        width: 85%;
    }

    #download, #reserve {
        width: 100%;
    }

    .left_menu {
        max-width: none !important;
    }

    .OR {
        display: none !important;
    }

    .avka {
        width: 45% !important;
    }

    .search {
        margin-left: 0 !important;
    }

    .classes .col-xs-12 {
        margin: 2% 0;
    }

        .classes .col-xs-12:first-child div {
            margin-left: 3%;
        }

    .period, .month {
        width: 100% !important;
    }

    .mmonthAC.col-md-7 {
        height: 35px;
    }

    .mmonthRC.col-md-7 {
        height: 35px;
    }

    .ui-slider-pips .ui-slider-pip {
        font-size: 9px !important;
    }

    .period_month .col-md-1 {
        width: 100% !important;
        height: 35px;
        margin-top: 3%;
    }

    .col-md-1 #month, .col-md-1 #year, .col-md-1 #monthRC, .col-md-1 #yearRC {
        width: 60% !important;
        margin: 0 auto;
    }

    .lookingFor > div {
        width: 100% !important;
    }

    .col-xs-0 {
        display: none;
    }

    .lookingFor div:last-child input {
        margin: 10px auto;
        display: block;
    }

    .pperiod > div {
        float: none !important;
        width: 100% !important;
        text-align: center !important;
    }

    #periodAC {
        margin: 3% 0;
    }

    .center-block {
        width: 100% !important;
    }
}

.sub_header {
    background: #eceff4;
    position: relative;
}

    .sub_header .header_content {
        max-width: 1400px;
    }

.title {
    font-size: 210%;
}

.header:after {
    margin-bottom: 5px;
    content: '';
    display: block;
    background: transparent;
}

.table_cell {
    display: table-cell;
}

.table_row {
    display: table-row;
}

.right_top_panel > div {
    border-right: 1px solid #636d7d;
    width: auto !important;
}

    .right_top_panel > div:last-child {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }

.float_right {
    float: right;
}

.content {
    padding: 0 !important;
}

.left_menu {
    background: #e0e6e8;
    max-width: 22%;
    min-width: 22%;
}

.avka {
    margin: 20px 0;
    border: 5px solid #fff;
    width: 75%;
    height: 75%;
}

.name {
    color: #1e6aa1;
}

.menu {
    list-style: none;
    margin-top: 30px;
    margin-left: 0;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
}

.blocked {
    display: block;
}

.menu li .col-md-9 {
    padding: 1em 0;
    border-top: 1px solid #9ba5b6;
    padding-left: 4em;
}

.go {
    background: #fff;
    border: 1px solid #9CC0CE;
    border-left: none;
    box-shadow: none;
}

    .go:hover {
        background: #fff;
    }

    .go:focus {
        background: #fff;
        outline: 0;
    }

.input-group .form-control {
    box-shadow: none;
    border: 1px solid #9CC0CE;
    border-right: none;
}

    .input-group .form-control:focus {
        box-shadow: none;
        border: 1px solid #9CC0CE;
        border-right: none;
    }

.input-group-btn .btn-default {
    color: transparent;
}

    .input-group-btn .btn-default img {
        width: 18px;
    }

.input-group-btn {
    top: 1px;
}

.menu li:last-child .col-md-9 {
    border-bottom: 1px solid #9ba5b6;
}

.menu li {
    border-right: 7px solid #e0e6e8;
}

    .menu li:hover {
        background: #1D6AA0;
        border-right-color: #93C210;
    }

    .menu li.sub_menu:hover {
        background: #C2D9E1;
        border-right-color: #C2D9E1;
    }

        .menu li.sub_menu:hover .icons {
            background-position-x: 30px;
        }

        .menu li.sub_menu:hover .col-md-9 {
            padding-left: 6em;
        }

    .menu li:hover + li .col-md-9 {
        border-top-color: transparent;
    }

    .menu li:hover .col-md-9 {
        border-top: 1px solid transparent;
    }

    .menu li a {
        text-decoration: none;
        margin: 0;
        padding: 0;
    }

    .menu li:hover a {
        color: #fff;
    }

.menu .col-md-9.icons.edit {
    background-position: 0 -91px;
}

.menu .col-md-9.icons.ch_pass {
    background-position: 0 -137px;
}

.menu .col-md-9.icons.VC {
    background-position: 0 -273px;
}

.menu .col-md-9.icons.AC {
    background-position: 0 -319px;
}

.menu .col-md-9.icons.CN {
    background-position: 0 -360px;
}

.menu .col-md-9.icons.RC {
    background-position: 0 -406px;
}

.menu .col-md-9.icons.logout {
    background-position: 0 -452px;
}

h3 {
    color: #1D6AA0;
    font-size: 140%;
}

.planed {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.right_content {
    background: #f5f7fa;
}

.blue_style .period_month {
    background-color: #D3EBF7;
}

.dash_greenbox {
    background: #1e6aa1;
    color: #fff;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
}

.pperiod > div {
    float: left;
}

.bbt {
    margin: 1% 1% 0 1%;
    border-radius: 5px;
}

    .bbt > input, .bbt > input:hover, .bbt > input, .bbt > input:focus {
        background-color: #349BE6;
        color: #fff;
    }

.to {
    margin: 1.5% 2% 0 2%;
    font-size: 157%;
    color: #0A5A8D;
}

.pperiod:after {
    content: '';
    display: block;
    clear: both;
}

.dash_p4 {
    padding: 8px;
    margin: 0;
    cursor: pointer;
}

.datetime .form-control {
    margin: 0 !important;
}

.glyphicon-calendar {
    color: #3279A3;
}

.dash_bluebox:hover .dash_greenbox, .dash_bluebox:hover .dash_greenbox, .dash_bluebox:hover .dash_greenbox {
    background: #87b606;
}

.dash_bluebox:hover .corner, .dash_bluebox:hover .corner, .dash_bluebox:hover .corner {
    background: url(../Images/corner.png) 0 0 no-repeat transparent;
}

.corner {
    display: inline-block;
    width: 22px;
    height: 16px;
}

.classes {
    background: #DBE6EA;
    padding: 10px;
    margin: 0;
    margin-bottom: 1%;
    border-radius: 2px;
}

    .classes .col-md-6:first-child {
        margin-top: 0.5%;
    }

.period_month {
    background: #DCEAB9;
    margin: 1px;
    border-radius: 2px;
}

.eng {
    background: url(../Images/eng.jpg);
}

.ger {
    background: url(../Images/ger.jpg);
}

.search {
    margin-left: 15%;
}

.form-control {
    margin: 2px;
    font-style: italic;
}

.glyphicon {
    display: inline-flex;
    margin-top: 2px;
}

.baton {
    background: transparent;
    width: 100%;
    height: 50px;
    border: none !important;
    border-radius: 3px;
}

input.baton:focus {
    border: none;
    outline: none;
}

.period, .month {
    width: 14%;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 0;
    color: #0A5A8D;
    font-weight: bold;
    font-size: 1.5em;
    border-right: 1px solid #F3F7FA;
    font-family: 'Montserrat', sans-serif;
}

.period {
    background: #AAD9F3;
}

.month {
    background: #93C210;
    color: #fff;
}

.ui-slider-handle.ui-state-default {
    border-radius: 100px !important;
    background: #F0F0F0 !important;
    box-shadow: 0 1px 1px #000;
}

    .ui-slider-handle.ui-state-default:focus {
        border: none;
        outline: none;
    }

#month, #year, #monthRC, #yearRC {
    margin: 2% 2% 0 2%;
    font-family: 'Open Sans', sans-serif;
}

#dataTableRC.table-striped > tbody > tr > td:nth-last-child(2) input {
    background: #7FA907;
    color: #fff;
}

.blue_style #dataTableRC.table-striped > tbody > tr > td:nth-last-child(2) input {
    background-color: #278DD8;
}

.tttime input {
    font-style: normal;
}

#dataTableRC.table-striped > tbody > tr > td:last-child {
    font-size: 110%;
}

.RCC.lookingFor > div:last-child, .RCC.lookingFor div:nth-child(2) {
    margin: 0;
}

#dataTableRC.table-striped th:nth-last-child(2), #dataTableRC.table-striped th:nth-last-child(3) {
    vertical-align: middle;
}

.RCC.lookingFor > div:last-child {
    border: none;
}

.RCC .col-md-5:nth-child(2) {
    width: 40.7%;
}

.RCC {
    padding: 0 !important;
}

    .RCC input {
        margin-top: 7%;
    }

    .RCC > * {
        padding: 1.25%;
        border-right: 1px solid #fff;
    }

.blue_style .numberRes {
    color: #0C5889;
}

.blue_style .this_num {
    color: #003A5C;
}

.numberRes {
    font-size: 130%;
    color: #5A7703;
    margin-left: 2%;
    font-weight: bold;
}

.this_num {
    font-size: 130%;
    margin-left: 1%;
    color: #5C7126;
    font-weight: bold;
}


.period_month .col-md-1 {
    width: 12.3333%;
    padding-top: 1%;
}

    .period_month .col-md-1 .ui-slider-label {
        top: -3% !important;
    }

.ui-slider-line {
    background: transparent !important;
    width: 130% !important;
    height: 101% !important;
    position: absolute;
    left: -12% !important;
    display: block;
    z-index: 1000;
}

.period_month .ui-widget-content {
    background: #B1BF8A;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 1px 1px #F4F6E8;
    -ms-box-shadow: 0 0 1px 1px #F4F6E8;
    box-shadow: 0 0 1px 1px #F4F6E8;
}

.period_month .ui-slider-pip {
    margin-top: -1%;
}

.ui-slider-label {
    color: #AFBE81;
}

@media (max-width: 1100px) {
    body, html {
        font-size: 87%;
    }
    .clnow {
        font-size: 110%;
        margin-top: 0;
        text-align: center;
    }

    .lookingFor div:last-child input {
        font-size: 94%;
    }

    .menu .col-md-9.icons {
        background: url(../Images/icons_menu.png) 0 -46px no-repeat;
        font-size: 80%;
        height: 40px;
    }

    .menu li.sub_menu:hover .icons {
        background-position-x: 15px;
    }

    .lf, .lookingFor div:last-child input {
        font-size: 85% !important;
    }
}

.form-control-feedback {
    height: 88%;
    right: 3%;
}

    .form-control-feedback:hover {
        cursor: pointer;
    }

.search img:hover {
    cursor: pointer !important;
}

.time {
    cursor: auto !important;
}


.res {
    bottom: auto !important;
    right: auto !important;
    margin-left: 7px;
}

.table-responsive .table-striped > tbody > tr > th:first-child {
    border-radius: 7px 0 0 0;
}

.table-responsive .table-striped > tbody > tr > th:last-child {
    border-radius: 0 7px 0 0;
}

.table-responsive .table-striped > tbody > tr:last-child td:first-child {
    border-radius: 0 0 0 7px;
}

.table-responsive .table-striped > tbody > tr:last-child td:last-child {
    border-radius: 0 0 7px 0;
}

.ui-selectmenu-button, .ui-selectmenu-text {
    font-family: 'Open Sans', sans-serif !important;
}

.lookingFor {
    background: #D0DEAB;
    margin: 1px;
    padding: 1% 0;
    margin-bottom: 1%;
    border-radius: 0 0 3px 3px;
}

    .lookingFor .col-md-2 {
        width: 14%;
        padding: 0;
        text-align: center;
    }

    .lookingFor div:nth-child(2) {
        margin: 0 3% 0 0;
        font-family: 'Open Sans', sans-serif;
    }

    .lookingFor .col-md-4 {
        padding: 0;
        margin: 0 1% 0 0;
        font-family: 'Open Sans', sans-serif;
    }

    .lookingFor .col-md-1 {
        padding: 0;
        margin: 0;
        width: 3.5%;
    }

    .lookingFor > div:last-child {
        width: 15%;
        margin-left: 2%;
    }

    .lookingFor div:last-child input, .dwn_list, .rsv_class {
        width: 85%;
        line-height: 1em;
        padding: 0.55em 0.5em 0.55em 0.5em;
        background: #80AA08;
        color: #fff;
        border: none;
    }

.col-md-5 .row .col-md-12 {
    border: none !important;
    font-size: 100%;
}

    .col-md-5 .row .col-md-12:first-child {
        border: none !important;
        font-size: 120%;
    }

.dwn_list, .rsv_class {
    width: 40%;
    margin: 1% auto;
    display: block;
    font-size: 100% !important;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.ui-menu-item {
    color: #5E7B09;
}

.OR {
    font-size: 120%;
    color: #5E7B09;
    margin-left: 28%;
    margin-top: 7%;
    display: inline-block;
}

.lf {
    color: #5E7B09;
    font-size: 120%;
    display: inline-block;
    margin-top: 3%;
}

.c-ddl {
    width: 100% !important;
}

    .c-ddl + span .ui-selectmenu-text {
        line-height: 1.0 !important;
        background: #fff;
        color: #5F8106;
    }

    .c-ddl + span .ui-selectmenu-text {
        line-height: 1.0 !important;
        background: #fff;
        color: #5F8106;
    }

.ui-state-focus {
    background: #F5F7FA !important;
}

.opnLang {
    color: #A0A0A2 !important;
    padding: 0 1.2% !important;
    border-right: 1px solid #D6D6D8 !important;
}

.term {
    color: #85B6DE !important;
    padding: 0 1.2% !important;
    border-right: 1px solid #D6D6D8 !important;
}

.privaci {
    color: #85B6DE !important;
    padding: 0 1.2% !important;
}

hr {
    margin-bottom: 10px;
    color: #D8DCE7;
}

.infos {
    display: inline-block;
    position: absolute;
    bottom: -5%;
    right: 13%;
    cursor: pointer;
}

@media (min-width: 1600px) {
    body, html {
        font-size: 87%;
    }

    .menu .col-md-9.icons {
        background: url(../Images/icons_menu.png) 0 -46px no-repeat;
        font-size: 110%;
    }

    .col-md-5 .row .col-md-12:first-child {
        font-size: 100%;
    }
}

.con_text {
    background: #E8F0F3;
    padding: 1%;
}

    .con_text p {
        color: #446E84;
        text-align: justify;
        font-size: 120%;
    }

.TI {
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 120%;
    color: #446E84;
    font-weight: bold;
}

.con_text ul li {
    list-style: url('../Images/right_arrow.png');
    font-size: 120%;
    color: #446E84;
}

.subject, .teacher {
    background: #CCE0EB;
    color: #1D618E;
    font-size: 130%;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

    .subject span, .teacher span {
        display: inline-block;
        margin: 0.6% 1%;
    }

.con_text ul {
    padding-left: 23px;
}

.table-responsive {
    font-family: 'Lato', sans-serif;
}

    .table-responsive .table-striped > tbody > tr:nth-of-type(odd) {
        background: #D1DDAB;
    }

    .table-responsive .table-striped > tbody > tr:nth-of-type(even) {
        background: #DCEAB9;
    }

    .table-responsive .table-striped > tbody > tr:first-child {
        background: #93C210 !important;
    }

    .table-responsive .table-striped > tbody > tr > td, .table-responsive .table-striped > tbody > tr > th {
        border: 1px solid #F5F7FA;
    }

    .table-responsive .table-striped > tbody > tr > td {
        color: #788B49;
        font-size: 110%;
    }

        .table-responsive .table-striped > tbody > tr > td:last-child, .table-responsive .table-striped > tbody > tr > td:nth-last-child(2) {
            text-align: center;
        }

        .table-responsive .table-striped > tbody > tr > td input {
            background: transparent;
            border: none;
            cursor: pointer;
            text-decoration: underline;
            font-weight: bold;
        }

    .table-responsive .table-striped > tbody > tr > th {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 120%;
        font-weight: normal;
    }

        .table-responsive .table-striped > tbody > tr > th img {
            width: 18%;
            margin-bottom: 3%;
        }

.datetime .form-control {
    margin: 0;
}

.this_subj {
    background: #64A0C5;
    color: #fff;
    padding: 0 5px;
    border-radius: 20px;
    font-weight: normal;
    font-size: 110%;
    margin-left: 0.1% !important;
}

.date {
    border-color: #9CC0CE;
}

.teach {
    color: #00385B;
}

.image {
    width: 55%;
    margin: 5% auto 0;
    padding: 2% 2% 10% 2%;
    background: linear-gradient(to right bottom, #fff, #EDEDED);
    box-shadow: 2px 2px 10px #ABB0B3;
}

    .image .doll {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

.lable {
    background: #fff;
    border-left: 1px solid #9CC0CE !important;
}

.pperiod {
    display: none;
}

.mmonthRC {
    display: block;
}

.mmonthAC {
    display: block;
}

.datetime {
    width: 28% !important;
    margin-top: 1.1% !important;
    margin-bottom: 0;
}

.bootstrap-datetimepicker-widget > ul {
    padding: 0;
}

.dd-selected-text, .dd-option-text {
    font-size: 150%;
    line-height: 0 !important;
    margin-left: 3%;
    margin-top: 4%;
}
.dd-pointer-down {
    border: solid 5px transparent;
    border-top: solid 5px #337AB6 !important;
}
.dd-pointer {
    margin-right: 70px;
}

.dd-select {
    border: none !important;
}

.blue_style .lookingFor {
    background: #C3E0EE;
}

.blue_style .lf, .blue_style .OR, .blue_style .table-responsive .table-striped > tbody > tr > td {
    color: #07578A;
}

.blue_style .lookingFor div:last-child input {
    background: #349BE6;
}

.glyphicon-ok-sign {
    margin-right: 3%;
}

.pad_block {
    display: none;
    border: 8px solid #888985;
    width: 25%;
    height: 25%;
    /*background: #fff;*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12%;
    margin-top: -7%;
    /*box-shadow: 0 0 10px #1D6AA0;*/
    overflow: hidden;
    font-size: 140%;
    background: #f3f6fa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.great .pad_block .col-md-12 {
    background: #93D631;
}

.great .pad_block .btns_alert .col-md-12 {
    background: #fff;
}

#okConfirm {
    background: #78B726;
}

.pad_block .col-md-12 {
    color: #07578A;
    display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    height: 100%;
    background-color: #9BD6E6;
    text-align: center;
    text-transform: uppercase;
}

.content_alerts {
    height: 55%;
}

.blah {
    margin: 0 auto;
    width: 85%;
    color: #01477b;
    font-size: 100%;
    font-weight: bold;
    margin: auto;
}

.btns_alert {
    height: 45%;
}

    .btns_alert > div {
        height: 100%;
        display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    }

    .btns_alert .btn {
        margin: auto;
        height: 40%;
        background: #519DDE;
        border: none;
        color: #fff;
        font-size: 110%;
        min-width: 50%;
    }

.blue_style .table-responsive .table-striped > tbody > tr:nth-of-type(even) {
    background: #E8F0F3;
}

.blue_style .table-responsive .table-striped > tbody > tr:nth-of-type(odd) {
    background: #DAE7ED;
}

.blue_style .table-responsive .table-striped > tbody > tr:first-child {
    background-color: #337ab7 !important;
}

.table {
    text-align: center;
}

.table-responsive .table-striped > tbody > tr > th:last-child {
    vertical-align: middle;
}

.title_detail {
    background: #CCE0EB;
    color: #01477B;
    border-radius: 3px;
    width: 100%;
    margin: 0 auto;
}

#dateFromForm, #dateToForm, .blue_style .ui-selectmenu-text {
    color: #07578A !important;
    font-style: normal;
}

.ui-selectmenu-button {
    border-color: #9CC0CE !important;
}

.lookingFor div:last-child input {
    font-size: 94%;
}

.lookingFor .col-md-4 {
    width: 30%;
}

.this_class {
    font-size: 200%;
    font-weight: bold;
}

.v_tab {
    overflow: hidden;
}

.title_detail .col-md-7 .row div {
    padding: 0.2% 0 0.2% 1% !important;
}

.title_detail .col-md-12 {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.v_tab {
    border-radius: 5px;
}

.title_detail .col-md-12:first-child {
    font-size: 140%;
}

.title_detail .col-md-12:last-child {
    border-bottom: none;
}

@media (min-width: 1100px) AND (max-width: 1400px) {
    body, html {
        font-size: 87%;
    }
    .clnow {
        font-size: 110%;
    }
    .frst span {
        font-size: 150% !important;
        width: 50px!important;
        height: 50px!important;
    }
    .frst>div {
        padding: 0 !important;
    }
    .TC:first-child {
        font-size: 170% !important;
    }
    .btns_alert .btn {
        font-size: 80%;
    }

    .infos img {
        width: 85% !important;
    }

    .infos {
        right: 5%;
    }

    .fixed_width {
        max-width: 23%;
        min-width: 23%;
    }

    .menu .col-md-9.icons {
        background: url(../Images/icons_menu.png) 0 -46px no-repeat;
        font-size: 95%;
    }

    .col-md-5 .row .col-md-12:first-child {
        font-size: 105%;
    }
}

@media (min-width: 1400px) AND (max-width: 1600px) {
    .col-md-5 .row .col-md-12:first-child {
        font-size: 110%;
    }

    .infos img {
        width: 85% !important;
    }

    .infos {
        right: 5%;
    }
}

.dash_login-input {
    width: 70%;
    margin: 0 auto;
}

.dash_change_header h3 {
    margin: 0;
    padding: 0;
}

.dash_header_chg_pwd {
    padding: 5px !important;
}

.dash_chg_icon {
    display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.dash_change_header {
    margin: auto 15px !important;
}

.dash_change_key img {
    margin: 2px 5px;
}
#accountData .form-group {
    margin-bottom: 8px;
}
#accountData > .row {
    margin: 0 !important;
    border-bottom: 1px solid #fff;
}
#accountData > .row:nth-child(2) {
    border-radius: 5px 5px 0 0;
}
#accountData > .row:nth-child(2) div {
    border-right: none;
}
    #accountData > .row:first-child {
        background: none !important;
    }
 .strip-bottom {
            background: #CBD8DE !important;
     height: 20px;
     border-radius: 0 0 5px 5px;
    }
    #accountData > .row:nth-child(even) {
        background: #DCE6EB;
    }

    #accountData > .row:nth-child(odd) {
        background: #EEF3F7;
    }

#accountData .form-control {
    margin: 0;
}

.pict {
    display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

    .pict .form-group {
        margin-bottom: 0;
    }

.osli, .mf-italic {
    color: #7B9BAA;
    font-style: italic;
}

.form-group input, .form-group label {
    margin: 0 !important;
}

.pict .col-md-1, .pict .col-md-3 {
    display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

    .pict .col-md-3 .fileUpload {
        margin-top: 18px;
        height: 32px;
        text-transform: uppercase;
        position: relative;
    }

.upload {
    width: 100%;
    background: rgb(255, 255, 255);
    margin-top: -22px;
    opacity: 0;
    cursor: pointer;
}
.country-list {
    z-index: 10;
}
.form-group .intl-tel-input {
    width: auto;
    float: none;
}
.form-group .intl-tel-input .selected-flag {
        margin-left: 17px;
        margin-top: 0;
    }
.form-group .intl-tel-input .country-list {
    z-index: 10;
}
.form-group .input-group-addon {
    background: #fff;
    border-right: 1px solid #DAE7ED; 
}
.skype .input-group-addon {
    padding: 0 !important;
}
#mobile-number1 {
    width: 100% !important;
}
#accountData .row>div {
    border-right: 1px solid #fff;
    box-sizing: border-box;
    padding: 5px 10px;
}
#accountData .row>div:last-child {
    border-right: none;
}
#accountData .ui-selectmenu-text {
    padding: 9px !important;
    color: #8E9FA7 !important;
}
#accountData input {
    color: #8E9FA7 !important;
    font-style: normal;
}
.strip-bottom>div {
    margin: 0;
    padding: 0!important;
    height: 100%;
}
.soc {
    margin-top: 0 !important; border:none !important; height: 28px;background: none;
    padding: 0 !important;
    width: 65px!important;
}
.soc:hover {
    margin-top: 0 !important; border:none !important; height: 28px;background: none;
}
h3,.ch_passs h3 {
    margin:10px 0;
}
h4 {
    margin: 10px 0;
}
.sub_header:after {
    clear: both;
}
.dd-options.dd-click-off-close {
    min-height: 20px;
    max-height: 290px;
}
#dateFromFormRC,#dateToFormRC {
    font-style: normal;
}
.total_info_my_course {
    overflow: hidden;
}
.total_info_my_course >div {
    background: #C3DFEE;
    font-family: 'Lato', sans-serif;
    font-size: 120%;
}
.total_info_my_course>div:nth-child(even) {
    background: #D3EBF7;
}
.bl_text {
    font-weight: bold;
}
.title_word {
    color: #6390A3;
}
.total_info_my_course >div span {
    padding: 7px 2px 7px 10px;
    display: inline-block;
}
.total_info_my_course >div span.bl_text,.total_info_my_course >div span.link_text
.total_info_my_course>div:nth-child(even) {
    padding-left: 0;
}
.total_info_my_course>div:first-child span.bl_text:first-child {
    padding-left: 10px;
}
.total_info_my_course>div:first-child {
    border-radius: 5px 5px 0 0;
}
.total_info_my_course >div.row>div {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.link_text {
    color: #3779A9;
    text-decoration: underline;
    font-weight: bold;
}
.total_info_my_course .table-responsive .table-striped > tbody > tr > th img {
    width: auto;
}
.total_info_my_course table {
    margin-bottom: 0;
}
.total_info_my_course table .next_table_shedule {
    margin-top: 0;
}
.total_info_my_course .table-responsive tr:first-child th .icon {
    margin-top: 10px;
}
.total_info_my_course .table-responsive tr td:nth-child(2) {
    width: 28%;
}

.total_info_my_course .table-responsive tr td:nth-child(4) {
    color: #6E829A !important;
}
.total_info_my_course .table-responsive tr td:nth-child(1) {
    width: 10%
}
.total_info_my_course .table-responsive tr td:nth-child(3),.total_info_my_course .table-responsive tr td:nth-child(1) {
    color: #09598C !important;
    font-weight: bold;
}
.total_info_my_course .table-responsive tr td:nth-child(5),.total_info_my_course .table-responsive tr td:nth-child(6) {
    color: #5C9301 !important;
}
.total_info_my_course .table-responsive.next_table_shedule table tr:first-child {
    background: #CCE194 !important;

}
.total_info_my_course .table-responsive.next_table_shedule table tr:first-child th {
        color: #075989!important;
    font-weight: bold;
    font-size: 125%;
}
.total_info_my_course .table-responsive.next_table_shedule table tr:first-child th span {
    display: inline-block;
    margin-left: 15px;
}
.total_info_my_course .table-responsive.next_table_shedule table tr:last-child {
    background: #CBD8DE;
    font-size: 2px;
}
.foo {
    font-size: 120%;
    font-weight: bold;
}
.foo span:first-child {
    color: #B83334;
}
.foo span:last-child {
    color: #8EA0AC;
}
.menu .col-md-9.icons.mycourse {
    background-position: 0 -487px;
}
.table-responsive.course_booking_table .table-striped > tbody > tr > th img {
    width: auto;
}
.table-responsive.course_booking_table .table-striped > tbody > tr > td {
    width: 20%;
}
.table-responsive.course_booking_table .table-striped > tbody > tr:nth-child(even) {
    background: #E8F0F3;
}
.table-responsive.course_booking_table .table-striped > tbody > tr:nth-child(odd) {
    background: #DFE7EA;
}
.table-responsive.course_booking_table .table-striped > tbody > tr:last-child {
    background: #CBD8DE;
    font-size: 3px;
}
.table-responsive.course_booking_table .table-striped > tbody > tr td:nth-child(3) img{
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 13px;
}
/*.table-responsive.course_booking_table .table-striped > tbody > tr td:nth-child(3) {
    text-align: left;
}*/
.table-responsive.course_booking_table .table-striped td {
    color: #697A98;
}
.menu .col-md-9.icons.coursebooking {
    background-position: 0 -571px;
}
.menu .col-md-9.icons.dashboard {
    background-position: 0 -527px;
}
.month_year {
    color: #82AB07;
}
.dachboard_container {
       font-family: 'Lato', sans-serif; 
}
.dachboard_container .dash_p4 {
    background: #93C210;
    color: #2F3835;
    border-radius: 0 0 5px 5px;
    font-size: 120%;
}
.dashboard_tops {
    background: #1F6AA1;
    color: #fff;
    height: 175px;
    border-radius: 5px 5px 0 0;
}
.dash_bluebox {
    border-radius: 10px;
}
.frst>div>div:last-child {
    font-weight: bold;
}
 .relat {
     position: relative;
     text-transform: uppercase;
 }  
 .relat>div {
     position: absolute;
     bottom: 20px;
     left: 0;
     font-size: 20px;
     width: 100%;
     font-weight: normal;
 } 
  .relat>div>div {
           text-align: center;
  }
 .relat>div>div:first-child {
     font-size: 380%;
 } 

.relat2>div>div:first-child{
     font-size: 180%;
      color: #519ACF;
    margin-bottom: -10px;
 } 
.relat2>div>div:nth-child(2){
     font-size: 280%;
 } 
.comtent {
    background: #E7EFF2;
    position: relative;
    width: 47.6%;
    margin-top: 95px;
    border: 1px solid #CAD7DD;
}
.comtent:first-child {
    margin-left: 15px;
}
.comtent:last-child {
    margin-left: 2%;
    background: transparent;
    border: none;
}
/*#dataTable td:nth-last-child(2) {
    text-align: right;
    padding-right: 20px;
}*/
#dataTable td, #dataTable {
    border: 1px solid #F5F7FA;
}
/*#dataTable td:last-child {
    text-align: left;
    padding-left: 20px;
}*/
.cls {
    list-style-image: url(../Images/Accept-icon.png);
    font-size: 120%;
    color: #81858E;
}
.my_progress {
    position: absolute;
    left: -1px;
    top: -40px;
    background: #CCD7DD;
    color: #617279;
    display: inline-block;
    padding: 10px 15px;
    height: 40px;
    border-radius: 3px 3px 0 0;
    font-size: 130%;
}
.rrow{
    margin: 0;
    padding: 0;
}
.circle {
    width: 10px;
    height: 10px;
    background: #879DAA;
    border-radius: 100px;
    display: inline-block;
    margin-right: 2px;
    position: relative;
}
.my_progress>span:last-child {
    margin-left: 10px;
}
.circle>.circle {
    width: 6px;
    height: 6px;
    background: #CCD7DD;
    margin: -3px 0 0 -3px;
    position: absolute;
    left: 50%;
    top: 50%;
}
.title_lang {
    font-size: 180%;
    color: #899CA3;
}
.title_desc {
    font-size: 180%;
    color: #175E92;
}
.abs {
    position: absolute;
    left: 50%;
    top: -36px;
    margin-left: -36px;
}
.TC {
    font-size: 180%;
    color: #6C727E;
    text-align: center;
    margin-top: 10px;
     margin-bottom: 10px;
}
.TC:last-child {
     font-size: 480%;
    color: #146094;
    margin-top: -5px;
}
.brd{
    border-right: 1px solid #B7CAD1;
}
.levels {
    position: absolute;
    height: 50px;
    left: 0;
    top: -50px;
    background: #D3D4D8;
    color: #6E727D;
    font-size: 150%;
    padding: 10px;
}
.my_progress img {
    margin-right: 10px;
}
.frst {
    margin: 15px;
}
.frst>div {
    float: left;
    border: 1px solid #B1C8D0;
    margin-right: 15px;
    color: #4A8BB1;
    text-align: center;
    font-size: 120%;
    padding: 15px;
}
.frst span {
    display: inline-block;
    font-size: 220%;
    background: #7ECAEA;
    color: #fff;
    border-radius: 100px;
    padding: 10px;
    margin: 5px;
    width: 65px;
    height: 65px;
}
.this_level {
    background: #2774A2!important;
}
.frst:after {
    content: '';
    display: block;
    clear: both;
}
.txt>span:before {
    background: url(../Images/Accept-icon.png) no-repeat 0 0;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
}
.txt>span {
    font-size: 120%;
    color: #90959B;
    line-height: 120%;
    margin-left: 15px;
    white-space: pre-wrap;
}
.diagramm {
    text-align: center;
    margin: 40px 0 72px 0;
    position: relative;
}
.level_diagramm {
    display: inline-block;
    position: absolute;
    font-size: 300%;
    left: 50%;
    top: 50%;
    width: 166px;
    height: 110px;
    margin-left: -78px;
    margin-top: -55px;
    color: #668A02;
    font-weight: bold;
}
.level_diagramm span:first-child {
    font-weight: normal;
}
.shadow_diagramm {
width: 211px;
    margin: 0 auto;
    height: 0.000000001%;
    box-shadow: 0 0 35px 1px black;
    margin-top: 15px;
    border-radius: 100px;
}
.percent {
    position: absolute;
    right: 50%;
    top: 0;
    margin-right: -170px;
    font-size: 250%;
    color: #165F92;
}
.frst>div:last-child {
    margin-right: 0;
}