﻿    .final-window .flex-wrap {
        height: 900px;
    }
    .final-window .action {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        padding: 30px 0;
        text-align: center;
        border-top: 1px solid #e2e6e9;
        font-family: "Lato-SemiBold" , sans-serif;
        color: #0093ff;
        font-size: 20px;
        line-height: 22px;
    }
     .final-window  .flex-wrap {
         display: flex;
         align-items: center;
         justify-content: center;
     }
    .final-window {
        display: none;
        color: #333333;
        text-align: center;
    }
    .final-window h3 {
        color: #333333;
        font-size: 30px;
        line-height: 22px;
        margin-top: 30px;
        margin-bottom: 25px;
    }
 .final-window    .description {
     margin: -90px auto 0;
 }
    .final-window p {
        color: #adadad;
        font-size: 18px;
        font-family: "Lato-SemiBold" , sans-serif;
        margin: 0;
        line-height: 30px;
    }
    .final-window .fa-times {
        font-size: 125px;
        background-color: transparent;
        color: #ee585e;
    }
   .final-window .fa-check-circle {
        font-size: 125px;
        background-color: transparent;
        color: #99d332;
    }
   .navigation-wrap .col-md-6 a {
    color: #acbbc6;
    font-size: 20px;
    line-height: 24px;
    font-family: "Lato-SemiBold" , sans-serif;
}

    .final-window p a {
        color: #0093ff;
        transition: all .3s ease;
    }
    .final-window p a:hover {
        opacity: .8;
        text-decoration: none;
    }
    #payments_lessons {
        width: 100%;
        color: #333333;
    }
    .continue {
        cursor: pointer;
    }
ul li a {
    text-decoration: none;
}
.lessons-wrapper .col-md-12 {
    padding: 0!important;
}
.lessons-wrapper .tabs-wrapper {
     border-bottom: 1px solid #e2e6e9
}
.lessons-wrapper .tabs-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.lessons-wrapper .tabs-wrapper ul li {
    display: inline-block;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.lessons-wrapper .tabs-wrapper ul li:last-of-type {
    margin-right: 0;
}
.lessons-wrapper .tabs-wrapper ul li.active {
    border-bottom: 4px solid #0093ff;
}
.lessons-wrapper .tabs-wrapper ul li.active a {
    color: #0093ff;
}
.lessons-wrapper .tabs-wrapper ul li.active .step-count {
        border: 2px solid #0093ff;
}
.lessons-wrapper .tabs-wrapper .step-count {
    width: 33px;
    height: 33px;
    border-radius: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border: 2px solid #b2c0ca;
    font-size: 16px;
    margin-right: 15px;
}

.lessons-wrapper .tabs-wrapper ul li a {
    line-height: 33px;
    font-family: "Lato-SemiBold" , sans-serif;
    color: #b2c0ca;
    font-size: 18px;
}
.lessons-wrapper .buttons-wrap {
    margin: 20px 30px
}
.lessons-wrapper .col-md-12 .buttons-wrap:last-of-type {
    margin-top: 10px;
}
.lessons-wrapper .buttons-wrap h4 , .lessons-wrapper .choose-wrap h4 {
    font-family: "Lato-Bold" , sans-serif;
    font-size: 18px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 15px;
}
.lessons-wrapper .choose-wrap h4{
    margin-left: 30px;
}
#payments_lessons tbody tr {
    background-color: transparent;
}
#payments_lessons tbody tr td{
    padding: 20px 30px;
    position: relative;
}
#payments_lessons tbody tr.active {
      background-color: #f5f7f9;
}
#payments_lessons tbody tr .lesson-type .popular , #payments_lessons tbody tr .lesson-type .best-value {
    background-color: #99d332;
    color: #fff;
    font-size: 14px;
    font-family: "Lato-Regular" , sans-serif;
    padding: 6px 15px;
    border-radius: 10em;
    margin-left: 20px;
    position: absolute;
top: 16px;
left: 215px;

}
#payments_lessons tbody tr .lesson-type .best-value  {
    background-color: #ff5c60;
}
#payments_lessons tbody tr .lesson-typ {
    position: relative;
}
#payments_lessons tbody tr.active .choice {
    border: 7px solid #009de4;
}
.payment-method-wrap .active .choice {
    border: 7px solid #009de4;
}
#payments_lessons tbody tr td.lesson-cost {
    color: #009de4;
    font-size: 24px;
    font-family: "RobotoSlab-Bold" , sans-serif;
}
#payments_lessons tbody tr td.lesson-type {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: "Lato-Bold" , sans-serif;
    line-height: 20px;
    width: 350px;
}
#payments_lessons tbody tr td {
    font-size: 16px;
    font-family: "Lato-SemiBold" , sans-serif;
    line-height: 22px;
}
#payments_lessons tbody tr .choice {
    border: 2px solid #d7dbe1;
    width: 24px;
    display: inline-block;
    height: 24px;
    border-radius: 10em;
    margin-right: 15px;  
    position: static!important;  
}
.payment-method-wrap .payment-description {
    display: inline-block
}
.payment-method-wrap > div {
  position: relative;
  padding-left: 45px;
}
.payment-method-wrap .choice {
    position: absolute;
    left: 0;
        border: 2px solid #d7dbe1;
    width: 24px;
    display: inline-block;
    height: 24px;
    border-radius: 10em;
    margin-right: 15px;   
}
.lessons-wrapper .buttons-wrap ul li {
  display: inline-block;
}
    .buttons-wrap ul li a {
    text-align: center;
    width: 145px;
    font-family: "Lato-Regular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border: 1px solid #00a1ea;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgb(0, 161, 234);
    color: #00a1ea;
}
    ul li a:hover , ul li a:focus , ul li a:visited , ul li a:link {
        text-decoration: none;
    }
   .buttons-wrap ul li:first-of-type a {
    -webkit-border-top-left-radius: 10em;
    border-top-left-radius: 10em;
    -webkit-border-bottom-left-radius: 10em;
    border-bottom-left-radius: 10em;
    border-right: none;
}
   .buttons-wrap ul li a.active {
    background-color: #00a1ea;
    color: #fff;
}

   .buttons-wrap ul li:last-of-type a {
    -webkit-border-top-right-radius: 10em;
    border-top-right-radius: 10em;
    -webkit-border-bottom-right-radius: 10em;
    border-bottom-right-radius: 10em;
}

.buttons-wrap ul li:last-of-type {
    margin-left: -4px;
}
    .navigation-wrap  {
        margin-top: 50px;
         border-top: 1px solid #e2e6e9;
    }
    .navigation-wrap  .col-md-6{
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
    }
    .navigation-wrap  .col-md-6 a {
        color: #acbbc6;
        font-size: 20px;
        line-height: 24px;
        font-family: "Lato-SemiBold" , sans-serif;
    }
     .navigation-wrap  .col-md-6 a:hover {
         text-decoration: none;
     }
     .navigation-wrap  .col-md-6 a i , .navigation-wrap  .col-md-6 a {
         transition: all .3s ease;
     }
     .navigation-wrap  .col-md-6 a:hover i {
         transform: rotate(180deg);
     }
     .navigation-wrap  .col-md-6 a:hover  {
         opacity: .8;
         color: #0093ff;
     }
     .navigation-wrap  .col-md-6 .fa-long-arrow-right {
         margin-left: 20px;
     }
     .navigation-wrap  .col-md-6 .fa-long-arrow-left {
         margin-right: 20px;
     }
     .navigation-wrap  .col-md-6 a.continue {
         color:  #0093ff;
     }
     .navigation-wrap  .col-md-6:first-of-type {
         border-right: 1px solid #e2e6e9;
     }
     .second-step-wrap {
         color: #333333;
         padding: 30px;
     }
     .second-step-wrap .enter-wrap h4 {
         color: #333333;
         margin-top: 0;
         font-size: 20px;
         line-height: 24px;
         margin-bottom: 10px;
         font-family: "Lato-Bold" , sans-serif;
     }
     .second-step-wrap .enter-wrap form input {
         color: #333332;
         border-radius: 10em;
         font-size: 15px;
         font-family: "Lato-Regular" , sans-serif;
         width: 100%;
         box-shadow: none;
         outline: none;
         border: 1px solid #cccccc;
         display: block;
         padding: 5px 15px;

     }
     .second-step-wrap .order-inform-wrap ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
     }
     .second-step-wrap .order-inform-wrap {
         background-color: #f5f7f9;
         border: 1px solid #e2e6e9;
         margin-top: 30px;
         padding: 30px;
     }
     .second-step-wrap .order-inform-wrap h4 {
         font-size: 20px;
         font-family: "Lato-Bold" , sans-serif;
         line-height: 20px;
         margin-top: 0;
     }
     .second-step-wrap .order-inform-wrap ul li {
         font-size: 18px;
         margin-top: 15px;
         font-family: "Lato-Regular" , sans-serif;
     }
      .second-step-wrap .order-inform-wrap ul li b {
           font-family: "Lato-SemiBold" , sans-serif;
           font-size: 18px;
      }
      .second-step-wrap .order-inform-wrap ul.order-price {
          border-top: 1px solid #e2e6e9;
          margin-top: 15px;
      }
      .second-step-wrap .order-inform-wrap ul li .best-value , .second-step-wrap .order-inform-wrap ul li .popular {
    background-color: #99d332;
    color: #fff;
    font-size: 14px;
    font-family: "Lato-Regular" , sans-serif;
    padding: 6px 15px;
    border-radius: 10em;
    margin-left: 5px;
}
body .second-step-wrap .order-inform-wrap ul li    .best-value {
        background-color: #ff5c60;
    }
.order-price .price {
    font-weight: 400;
}
body .second-step-wrap .order-inform-wrap ul .total {
    font-size: 25px;
    font-family: "Lato-Bold" , sans-serif;
        line-height: 18px;
}
body .second-step-wrap .order-inform-wrap ul .total b{
    color: #99d332;
    font-size: 25px;
}
.three-step-wrap {
    padding: 30px;
    color: #4e4e4e;
}
.three-step-wrap h4 {
    font-family: "Lato-Bold" , sans-serif;
    font-size: 20px;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 3px;
}
.three-step-wrap p {
    font-size: 15px;
    font-family: "Lato-SemiBold" , sans-serif;
    line-height: 22px;
    color: #999;
    margin-top: 0
}
.three-step-wrap .visa p {
    margin-bottom: 20px;
}
.three-step-wrap .visa {
    margin-bottom: 5px;
}
.three-step-wrap .payment-method-wrap  {
    
}
.second-step-wrap  , .three-step-wrap {
    display: none;
}
.choice {
    cursor: pointer;
}
.payment-received  {
    border: 1px solid #e2e6e9;
}
   .input-wrap .tooltip {
        left: -70px!important;
    }
   .bootstrap-datetimepicker-widget  .month.active {
       background-color: #0093ff!important;
   }
    .bootstrap-datetimepicker-widget td {
        cursor: pointer!important;
        margin-right: 3px!important;
    }
    .unic-section {
        padding-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .payment-received .courses-booking {
        background-color: #fff;
        padding-top: 25px;
    }

    .payment-received {
        background: #fff;
        padding: 0 !important;
    }

    .unic-section {
        padding: 25px 30px 0 !important;
    }

    .payment-received .table-responsive {
        padding: 0 30px;
    }
    .payment-description .form-wrap .inpuit-wrap {
        display: block;
        position: relative;
    }
    body .payment-description .form-wrap .input-wrap.date , body .payment-description .form-wrap .input-wrap.cvv {
        display: inline-block;
    }
        body .payment-description .form-wrap .input-wrap.date input , body .payment-description .form-wrap .input-wrap.cvv input {
      margin-bottom: 0;
    }
     body .payment-description .form-wrap .input-wrap.date {
         width: 74%;
     }
     body .payment-description .form-wrap .input-wrap.cvv {
         width: 25%;
     }
      body .payment-description .form-wrap .input-wrap.cvv .info-tooltip {
         position: absolute;
        top: 5px;
        font-size: 20px;
        right: 10px;
     }
      .payment-description .form-wrap .input-wrap.cvv::before {
          left: 10px;
      }
     body .payment-description .form-wrap .input-wrap .cvv {
        padding-left: 27px;
        width: 100%;
        padding-right: 0;
    }
    .payment-description .form-wrap input {
        width: 100%;
        border: 2px solid #e2e6e9;
        font-size: 18px;
        font-family: "Lato-Regular";
        display: block;
        padding: 5px 50px;
        color: #acbbc6;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        margin-bottom: 30px;
        border-radius: 5px;
    }

    .payment-description .form-wrap .input-wrap {
        position: relative;
    }
    .payment-description .form-wrap .input-wrap:before {
        z-index: 15;
        color: #acbbc6;
        position: absolute;
        top: 5px;
        font-size: 20px;
        left: 20px;
        width: 30px;
        height: 30px;
        font-family: "FontAwesome";
        display: block
    }
    .payment-description .form-wrap {
        position: relative;
        margin-bottom: 50px;
    }
.payment-description .back-block {
    position: absolute;
    top: 40px;
    left: 70px;
    border: 2px solid #e2e6e9;
    width: 470px;
    height: 243px;
    z-index: 0;
}
.payment-description .back-block .inside-block {
    background: #e2e6e9;
    margin-top: 35px;
    width: 100%;
    height: 50px;
}
    .payment-description .form-wrap .input-wrap.name:before {
        content: "\f007";
    }
    .payment-description .form-wrap .input-wrap.number:before{
        content: "\f09d";
    }
    .payment-description .form-wrap .input-wrap.date:before{
        content: "\f133";
    }
    .payment-description .form-wrap .input-wrap.cvv:before{
        content: "\f132";
    }
    .payment-received .payment-description .form-wrap form {
        padding: 30px;
        border: 2px solid #e2e6e9;
        border-radius: 5px;
        background: #fff;
        max-width: 470px;
        position: relative;
        z-index: 20;
    }
    .payment-received table#paymentreceipts.dataTable.no-footer {
        border-bottom: none !important;
    }

   .payment-received #paymentreceipts {
        color: #333;
    }

    .payment-received    #paymentreceipts td {
            border-bottom: 1px solid #efefef;
        }

       .payment-received #paymentreceipts tr td:nth-child(3) {
            padding-left: 3px;
        }

   .payment-received table.dataTable#paymentreceipts thead th, table.dataTable thead td {
        border-bottom: 2px solid #aaa !important;
    }

    .payment-received .dataTables_wrapper .dataTables_info {
        float: none;
        text-align: center;
        font-family: 'Lato';
        color: #999;
        padding-top: 40px;
    }

   .payment-received .dataTables_wrapper .dataTables_paginate {
        width: 100%;
        margin-right: 0 !important;
    }

   .payment-received .paginate_button {
        border: none !important;
        height: 40px;
        margin: 0 !important;
    }

       .payment-received .paginate_button:hover {
            border: none !important;
            height: 40px;
            margin: 0 !important;
        }

   .payment-received #paymentreceipts tr td:nth-child(3) .col-md-5 {
        width: 40px;
    }

    .payment-received #paymentreceipts tr td {
        padding: 8px 20px;
    }
    .payment-received .buttons-pricing {
        cursor: pointer;
    }
.right-right-content {
    display: none;
}
.left-left-content {
    width: 100%!important;
    padding-right: 30px!important;
}
.cancel {
    cursor: pointer;
}
.navigation-wrap {
    position: absolute!important;
width: 100%;
bottom: 0;
}
.payment-received {
    position: relative;
}
.payment-window {
    height: 730px;
}
@media only screen and (max-width: 1400px) {
    #payments_lessons tbody tr td {
        padding: 20px 17px!important;
    }
}
@media only screen and (max-width: 1300px) {
    #payments_lessons tbody tr td {
        padding: 20px 9px!important;
    }
    .second-step-wrap .order-inform-wrap {
        padding: 17px;
    }
}
