@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Seravek";
  src: url("../fonts/seravek-medium-webfont.eot");
  src: url("../fonts/seravek-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/seravek-medium-webfont.woff") format("woff");
  src: url("../fonts/seravek-medium-webfont.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SeravekLight";
  src: url("../fonts/seravek-light-webfont.eot");
  src: url("../fonts/seravek-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/seravek-light-webfont.woff") format("woff");
  src: url("../fonts/seravek-light-webfont.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadPro-Regular.otf");
  font-style: normal;
  font-weight: normal;
}
body {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
   
}
h1 {
  font-size: 3.75em;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
p {
    margin: 0 0 10px;
    /*padding: 0;*/
}
h2 {
  padding: 0;
  margin: 0;
  font-size: 1.56em;
}
h4 {
  padding: 0;
  margin: 0;
}
.header {
  position: relative;
  z-index: 9;
  background: rgba(0, 0, 0, 0.8);
}
.header .left-header {
  padding: 15px 0;
  float: left;
}
.header .center-header {
  padding: 10px 0 0 80px;
  float: left;
}
.header .center-header .for-profile {
  float: left;
}
.header .center-header .for-profile img {
  float: left;
  border-radius: 50px;
}
.header .center-header .for-profile p {
  float: left;
  padding: 15px 0 0 10px;
  font-size: 1em;
  color: #adadad;
  font-family: PTSansRegular;
}
.header .center-header .my-accaunt {
  float: left;
  padding: 15px 0 0 25px;
}
.header .center-header .my-accaunt a {
  color: #fff;
  font-family: Helvetica;
}
.header .center-header .my-accaunt a .user-ico {
  color: #8aa350;
  padding-right: 5px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.header .center-header .my-accaunt a .down-arrow {
  padding-left: 5px;
}
.header .center-header .my-accaunt a:hover {
  color: #a8c75f;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.header .center-header .my-accaunt a:hover .user-ico {
  color: #fff;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.header .right-header {
  padding-top: 23px;
  float: right;
  max-width: 300px;
}
.header .right-header .login-btn {
  padding-right: 16px;
  float: right;
}
.header .right-header .login-btn button {
  width: 82px;
  height: 32px;
  text-align: center;
  background-color: #444;
  border-radius: 35px;
  border: none;
  color: #fff;
  padding: 0;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.header .right-header .login-btn button:focus {
  background: #444;
}
.header .right-header .login-btn button:hover {
  background: #8aa350;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.header .right-header .language-change {
  float: right;
}
.header .right-header .language-change button {
  border: none;
  padding: 0;
  height: 32px;
  background: none;
  color: #fff;
  font-size: 1em;
}
.header .right-header .language-change button:focus {
  background: none;
  color: #fff;
  outline: none;
}
.header .right-header .language-change .globe {
  color: #8aa350;
}
.header .right-header .language-change .dropdown-menu {
  left: 19px;
  padding: 0;
  min-width: 100%;
}
.header .right-header .language-change .dropdown-menu li:hover:first-child a {
  border-radius: 4px 4px 0 0;
}
.header .right-header .language-change .dropdown-menu li:hover:last-child a {
  border-radius: 0 0 4px 4px;
}
.header .right-header .language-change .dropdown-menu li a {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  padding: 5px 10px;
}
.header .right-header .language-change .dropdown-menu li a:hover {
  background: #8aa350;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
video:focus {
  outline: none;
}
.learn-language-online {
  position: relative;
  margin-top: -70px;
}
.learn-language-online .intro {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.learn-language-online .intro p {
  padding: 15px 0 60px;
  font-size: 1.5em;
}
.learn-language-online .intro p a {
  cursor: pointer;
  color: #a8c75f;
  text-decoration: none;
}
.learn-language-online .intro p a:hover,
.learn-language-online .intro p a:focus,
.learn-language-online .intro p a:visited {
  text-decoration: underline;
  opacity: 0.8;
  color: #a8c75f;
  text-decoration: none;
}
.learn-language-online .intro .custom-button button {
  background: #a8c75f;
  color: #fff;
  padding: 12px 40px;
  border-radius: 30px;
  border: none;
  font-family: PTSansRegular;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  font-size: 1.375em;
}
.learn-language-online .intro .custom-button button i {
  font-size: 0.73em;
}
.learn-language-online .intro .custom-button button:hover {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  background: #a8b05f;
}
.learn-language-online .flags {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.learn-language-online .flags .flags-group {
  padding: 50px 0;
  text-align: center;
}
.learn-language-online .flags .flags-group a img {
  position: relative;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  top: 0;
}
.learn-language-online .flags .flags-group a p {
  text-align: center;
  color: #fff;
  padding-top: 15px;
  font-size: 1.125em;
}
.learn-language-online .flags .flags-group a:hover,
.learn-language-online .flags .flags-group a:focus,
.learn-language-online .flags .flags-group a:visited {
  text-decoration: none;
  color: #fff;
}
.learn-language-online .flags .flags-group a:hover img {
  top: -10px;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}
.plans-price {
  color: #000;
  background: #fff;
}
.plans-price h1 {
  color: #a8c75f;
  padding: 70px 0 35px;
}
.plans-price h4 {
  text-align: center;
  padding-bottom: 15px;
  color: #333;
  font-family: PTSansRegular;
}
.plans-price .head-price {
  margin-bottom: 30px;
}
.plans-price .head-price .lessons-number {
  max-width: 310px;
  margin: 0 auto;
}
.plans-price .head-price .lessons-number .lesson-item {
  cursor: pointer;
  float: left;
  padding: 0 5px;
}
.plans-price .head-price .lessons-number .lesson-item span {
  display: block;
  width: 34px;
  height: 34px;
  border: 1px solid #a8c75f;
  text-align: center;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  font-size: 0.82em;
  color: #a8c75f;
  line-height: 34px;
}
.plans-price .head-price .lessons-number .lesson-item.active span {
  background: #a8c75f;
  color: #fff;
}
.plans-price .content-price .basic-type {
  border-top: 3px solid #445030;
  max-width: 265px;
  background: #a8c75f;
  width: 100%;
  float: right;
  margin-right: 10px;
  padding: 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
.plans-price .content-price .premium-type {
  border-top: 3px solid #445030;
  margin-left: 10px;
  max-width: 265px;
  width: 100%;
  background: #a8c75f;
  float: left;
  padding: 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
.plans-price .content-price h2.title {
  color: #fff;
  float: left;
}
.plans-price .content-price h2.title span {
  color: #677940;
  font-size: 0.52em;
  display: block;
  width: auto;
  float: right;
  padding-left: 5px;
}
.plans-price .content-price h2.price {
  float: left;
  color: #fff;
  padding-top: 15px;
}
.plans-price .content-price p.description {
  font-size: 0.82em;
  color: #445030;
  width: 100%;
  float: left;
  border-bottom: dashed 1px #445030;
  padding: 15px 0;
  font-family: SeravekLight;
}
.plans-price .content-price .before-price {
  float: left;
  color: #677940;
  font-size: 0.82em;
  padding: 5px 0 10px;
  width: 100%;
  border-bottom: dashed 1px #445030;
}
.plans-price .content-price ul {
  list-style-position: inside;
  float: left;
  color: #fff;
  font-size: 0.75em;
  line-height: normal;
  padding-top: 10px;
}
.plans-price .content-price ul li {
  padding: 5px 0;
}
.plans-price .content-price .custom-button {
  float: left;
  width: 100%;
}
.plans-price .content-price .custom-button button {
  font-family: PTSansRegular;
  width: 100%;
  background: #445030;
  padding: 10px 0;
  text-align: center;
  font-size: 0.875em;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  margin-top: 15px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.plans-price .content-price .custom-button button:hover {
  background: #617245;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.vertical-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.about-us {
  position: relative;
  text-align: center;
}
.about-us h1 {
  padding-bottom: 35px;
}
.about-us p.sub-title {
  font-size: 1.5em;
  padding-bottom: 15px;
  color: #a6c45e;
}
.about-us p.description {
  font-size: 1.125em;
  font-family: SeravekLight;
}
.about-us .our-all {
  padding: 100px 0;
}
.about-us .our-all h4 {
  font-weight: 700;
  padding: 15px 0 5px;
}
.about-us .our-all p.description {
  font-size: 0.875em;
  font-family: SeravekLight;
  padding: 0 15px;
}
.about-us .our-all .icon {
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #a6c45e;
  margin: 0 auto;
  line-height: 50px;
}
.about-us .custom-button button {
  min-width: 160px;
  border-radius: 40px;
  background: #a6c45e;
  border: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: PTSansRegular;
  font-size: 1.125em;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.about-us .custom-button button:hover {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  background: #a8b05f;
}
.about-us .custom-button button i {
  padding-right: 10px;
}
.testimonials {
  position: relative;
  background: #fbfbfb;
  text-align: center;
}
.testimonials .vertical-center {
  top: 50%;
}
.testimonials h1 {
  padding-bottom: 15px;
  color: #a6c45e;
}
.testimonials p.description {
  font-family: SeravekLight;
  color: #999999;
  font-size: 1.125em;
  padding-bottom: 15px;
}
.testimonials .customers {
  padding-top: 70px;
}
.testimonials .customers .custom-media {
  background: #a6c45e;
  padding: 20px;
}
.testimonials .customers .custom-media p.short-message {
  text-align: left;
  font-size: 0.94em;
  font-family: SeravekLight;
  color: #75933f;
  margin: 10px 0 0;
}
.testimonials .customers .custom-media p.name {
  text-align: left;
  color: #445030;
  font-size: 1.25em;
  font-family: SeravekLight;
}
.testimonials .customers .custom-media p.text {
  text-align: left;
  padding-top: 15px;
  font-family: Helvetica;
  font-size: 0.875em;
}
.testimonials .send-form {
  padding-top: 74px;
}
.testimonials .send-form h2 {
  color: #a6c45e;
  font-weight: 700;
  padding-bottom: 15px;
}
.testimonials .send-form p {
  font-size: 1.125em;
  color: #adadad;
}
.testimonials .send-form input {
  font-size: 1em;
  border: 1px solid #cccccc;
  border-radius: 50px;
  text-align: center;
  max-width: 350px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  padding: 13px;
  margin: 0 auto;
  background: none;
  font-family: SeravekLight;
  color: #aaaaaa;
  margin-top: 15px;
}
.testimonials .send-form input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(166, 196, 94, 0.6);
}
.testimonials .send-form .custom-button {
  max-width: 175px;
  margin: 0 auto;
}
.testimonials .send-form .custom-button button {
  font-family: PTSansRegular;
  width: 100%;
  background: #a6c45e;
  padding: 10px 0;
  text-align: center;
  font-size: 1em;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  margin-top: 15px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.testimonials .send-form .custom-button button:hover {
  background: #a8b05f;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.learning-by-immersion {
  position: relative;
}
.learning-by-immersion .learning-top h1 {
  padding-bottom: 15px;
}
.learning-by-immersion .learning-top p.description {
  font-size: 1.125em;
  font-family: SeravekLight;
  padding: 0 130px;
}
.learning-by-immersion .learning-top .icons-list {
  margin-top: 35px;
  text-align: center;
}
.learning-by-immersion .learning-top .icons-list i {
  margin: 0 7px;
  width: 34px;
  height: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  line-height: 34px;
  background: rgba(255, 255, 255, 0.3);
}
.learning-by-immersion .learning-bottom {
  margin-top: 120px;
}
.learning-by-immersion .learning-bottom p.sub-title {
  font-size: 2.1875em;
  color: #a6c45e;
  padding-bottom: 15px;
}
.learning-by-immersion .learning-bottom p.sign-up-info {
  padding-bottom: 20px;
  font-family: SeravekLight;
  font-size: 1.06em;
}
.learning-by-immersion .learning-bottom p.sign-up-info span {
  color: #a6c45e;
  font-weight: 700;
}
.learning-by-immersion .learning-bottom .custom-button button {
  min-width: 140px;
  border-radius: 40px;
  background: #a6c45e;
  border: none;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: PTSansRegular;
  font-size: 1.125em;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.learning-by-immersion .learning-bottom .custom-button button:hover {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  background: #a8b05f;
}
.top-footer {
  background: #242423;
  padding: 40px 0;
}
.top-footer p.list-title {
  color: #666665;
  font-family: PTSansRegular;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.125em;
}
.top-footer ul {
  list-style-type: none;
}
.top-footer ul li a {
  color: #fff;
  cursor: pointer;
  font-family: PTSansRegular;
  font-size: 0.8125em;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.top-footer ul li a:hover {
  color: #a6c45e;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.top-footer .socials {
  margin-left: -5px;
  margin-right: -5px;
}
.top-footer .socials a {
  color: #fff;
  padding: 0 5px;
  font-size: 1.25em;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.top-footer .socials a:hover {
  color: #a6c45e;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.bottom-footer {
  background: #151515;
}
.bottom-footer p {
  text-align: center;
  color: #515151;
  font-size: 0.875em;
  line-height: 50px;
  height: 50px;
  font-family: PTSansRegular;
}
.contact-us {
  position: relative;
  overflow: hidden;
  left: 0;
  width: 100%;
}
.contact-us .vertical-center {
  top: 45%;
}
.contact-us p.description {
  font-size: 1.125em;
  font-family: SeravekLight;
  padding: 15px 0 40px;
}
.contact-us img {
  min-height: inherit;
  left: 0;
  top: 0;
  position: absolute;
  object-fit: cover;
}
.contact-us .contact-form input:focus,
.contact-us .contact-form textarea:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(166, 196, 94, 0.6);
}
.contact-us .contact-form input {
  font-family: SeravekLight;
  font-size: 1em;
  color: #aaaaaa;
  margin-bottom: 25px;
  border-radius: 50px;
  border: none;
  height: 39px;
  padding: 0 20px;
}
.contact-us .contact-form textarea {
  font-family: SeravekLight;
  font-size: 1em;
  color: #aaaaaa;
  margin-bottom: 25px;
  border: none;
  resize: none;
  padding: 20px;
  border-radius: 10px;
}
.contact-us .contact-form .custom-button button {
  min-width: 180px;
  height: 50px;
  border-radius: 50px;
  background: #a6c45e;
  border: none;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  font-family: PTSansRegular;
  font-size: 1.125em;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.contact-us .contact-form .custom-button button:hover {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  background: #a8b05f;
}
.courses {
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.courses .vertical-center {
  top: 40%;
}
.courses img.bg-img {
  left: 0;
  top: 0;
  position: absolute;
  object-fit: cover;
}
.courses p.description {
  font-size: 1.125em;
  font-family: SeravekLight;
  padding: 15px 0 40px;
}
.courses p.courses-title {
  font-size: 1.875em;
  font-family: PTSansRegular;
  padding-bottom: 20px;
  color: #a8c75f;
}
.courses p.courses-title-2 {
  font-size: 1.875em;
  font-family: PTSansRegular;
  padding-bottom: 20px;
  color: #dfc24c;
}
.courses .for-js-item {
  position: relative;
}
.courses .for-js-item p.title {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.courses .for-js-item.active {
  opacity: 1 !important;
}
.courses .for-js-item.active p.title {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.courses .for-js-item.active p.item-desc {
  width: 585px;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.courses .teach-item-left p {
  color: #fff;
  font-size: 1em;
  line-height: 1em;
  background: #a8c75f;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  font-family: PTSansRegular;
}
.courses .teach-item-left p.item-desc {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  margin-left: -15px;
  width: 0;
  max-height: 160px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-align: left;
}
.courses .teach-item-left p.item-desc span {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  padding-bottom: 20px;
}
.courses .teach-item-right p {
  color: #fff;
  font-size: 1em;
  line-height: 1em;
  background: #dfc24c;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  font-family: PTSansRegular;
}
.courses .teach-item-right p.item-desc {
  padding: 20px;
  position: absolute;
  opacity: 0;
  max-height: 160px;
  top: 0;
  right: 100%;
  z-index: 10;
  margin-right: -15px;
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-align: left;
}
.courses .teach-item-right p.item-desc span {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  padding-bottom: 20px;
}
.for-teachers {
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.for-teachers img {
  left: 0;
  top: 0;
  position: absolute;
  object-fit: cover;
}
.for-teachers p.description {
  font-size: 1.125em;
  font-family: SeravekLight;
  padding: 15px 0 40px;
}
.for-teachers .teach-info {
  padding-top: 45px;
}
.for-teachers .teach-info h4 {
  font-weight: 700;
  padding: 15px 0 5px;
}
.for-teachers .teach-info p.description {
  font-size: 0.875em;
  font-family: SeravekLight;
  padding: 0 15px 50px;
}
.for-teachers .teach-info .icon {
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #a6c45e;
  margin: 0 auto;
  line-height: 50px;
}
.for-teachers .teach-info .custom-button button {
  min-width: 270px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background: #a6c45e;
  border: none;
  margin: 0 auto;
  text-align: center;
  font-family: PTSansRegular;
  font-size: 1.125em;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.for-teachers .teach-info .custom-button button:hover {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  background: #a8b05f;
}
.payment-received {
  padding: 15px 0 0;
  background: #fbfbfb;
}
.payment-received .left-side {
  padding-top: 30px;
}
.payment-received .left-side p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: #333333;
  padding-bottom: 5px;
  padding-top: 10px;
}
.payment-received .left-side ul {
  padding-bottom: 10px;
}
.payment-received .left-side ul li {
  list-style-type: none;
  padding: 3px 0;
}
.payment-received .left-side ul li a {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #a6c45e;
}
.payment-received .left-side ul li a:hover {
  text-decoration: none;
}
.payment-received .left-side ul li a:before {
  content: "-";
  padding-right: 5px;
}
.payment-received .right-side {
  padding-top: 30px;
}
.payment-received .right-side p {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #333333;
  padding-bottom: 20px;
}
.payment-received .right-side table {
  padding-top: 20px;
  min-width: 290px !important;
  margin: 0 auto;
}
.payment-received .right-side table thead {
  background: #93c210;
}
.payment-received .right-side table thead tr th {
  font-size: 1em;
  border: 1px solid #fff;
}
.payment-received .right-side table thead tr th:nth-child(odd) {
  text-align: center;
}
.payment-received .right-side table thead tr th:nth-child(even) {
  padding-left: 15px;
}
.payment-received .right-side table tbody tr:nth-child(odd) {
  background: #dce9b9;
}
.payment-received .right-side table tbody tr:nth-child(even) {
  background: #d1deac;
}
.payment-received .right-side table tbody tr td {
  border: 1px solid #fff;
  font-family: PTSansRegular;
  font-size: 0.875em;
  color: #60742d;
}
.payment-received .right-side table tbody tr td:nth-child(odd) {
  text-align: center;
}
.payment-received .right-side table tbody tr td:nth-child(even) {
  padding-left: 15px;
}
.courses-booking {
  padding: 15px 0 0;
  background: #fbfbfb;
}
.courses-booking .left-side {
  padding-top: 30px;
}
.courses-booking .left-side p {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: #333333;
  padding-bottom: 5px;
}
.courses-booking .left-side ul {
  padding-bottom: 10px;
}
.courses-booking .left-side ul li {
  list-style-type: none;
  padding: 3px 0;
}
.courses-booking .left-side ul li a {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #a6c45e;
}
.courses-booking .left-side ul li a:hover {
  text-decoration: none;
}
.courses-booking .left-side ul li a:before {
  content: "-";
  padding-right: 5px;
}
.courses-booking .right-side {
  padding-top: 30px;
}
.courses-booking .right-side p.payment-title {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #333333;
  padding-bottom: 20px;
}
.courses-booking .right-side p.sub-payment-title {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  padding-bottom: 15px;
}
.courses-booking .right-side table {
  padding-top: 20px;
  min-width: 290px !important;
  margin: 0 auto;
}
.courses-booking .right-side table thead {
  background: #93c210;
}
.courses-booking .right-side table thead tr th {
  font-size: 1em;
  border: 1px solid #fff;
  text-align: center;
}
.courses-booking .right-side table thead tr th i {
  padding-left: 5px;
  color: #cee2a6;
}
.courses-booking .right-side table tbody tr:nth-child(odd) {
  background: #dce9b9;
}
.courses-booking .right-side table tbody tr:nth-child(even) {
  background: #d1deac;
}
.courses-booking .right-side table tbody tr td {
  border: 1px solid #fff;
  font-family: PTSansRegular;
  font-size: 0.875em;
  color: #60742d;
  text-align: center;
}
.courses-booking .right-side table tbody tr td img {
  margin-top: -2px;
  padding-right: 5px;
}
.change-password {
  padding: 15px 0 0;
  background: #fbfbfb;
}
.change-password .left-side {
  padding-top: 30px;
}
.change-password .left-side p {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: #333333;
  padding-bottom: 5px;
}
.change-password .left-side ul {
  padding-bottom: 10px;
}
.change-password .left-side ul li {
  list-style-type: none;
  padding: 3px 0;
}
.change-password .left-side ul li a {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #a6c45e;
}
.change-password .left-side ul li a:hover {
  text-decoration: none;
}
.change-password .left-side ul li a:before {
  content: "-";
  padding-right: 5px;
}
.change-password .right-side {
  padding-top: 30px;
}
.change-password .right-side p.payment-title {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #333333;
  padding-bottom: 20px;
}
.change-password .right-side .form-group label {
  color: #333333;
  font-size: 1em;
  font-family: PTSansRegular;
}
.change-password .right-side .form-group input {
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 16px;
}
.change-password .right-side .form-group input:focus {
  background: #faffbd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(168, 199, 95, 0.6);
}
.change-password .right-side .custom-button button {
  min-width: 125px;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  background: #a6c45e;
  border: none;
  margin: 0 auto;
  color: #fff;
  padding: 0;
  text-align: center;
  font-family: PTSansRegular;
  font-size: 1em;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.change-password .right-side .custom-button button:hover {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  background: #a8b05f;
}
.general-page {
  padding: 15px 0 0;
  background: #fbfbfb;
}
.general-page .left-side {
  padding-top: 30px;
}
.general-page .left-side p {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: #333333;
  padding-bottom: 5px;
}
.general-page .left-side ul {
  padding-bottom: 10px;
}
.general-page .left-side ul li {
  cursor: pointer;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #a6c45e;
  list-style-type: none;
  padding: 3px 0;
}
.general-page .left-side ul li:hover {
  text-decoration: none;
}
.general-page .left-side ul li:before {
  content: "-";
  padding-right: 5px;
}
.general-page .right-side {
  padding-top: 30px;
}
.general-page .right-side p.payment-title {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #333333;
  padding-bottom: 20px;
}
.general-page .right-side p.prof-foto {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  padding: 5px 0 15px;
}
.general-page .right-side img.avat {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #d0d0d0;
}
.general-page .right-side label.upload-photo {
  color: #a6c45e;
  font-family: PTSansRegular;
  font-size: 0.875em;
  padding-top: 10px;
  cursor: pointer;
}
.general-page .right-side .form-group label {
  color: #333333;
  font-size: 1em;
  font-family: PTSansRegular;
}
.general-page .right-side .form-group input {
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 16px;
  height: 34px;
}
.general-page .right-side .form-group input:focus {
  background: #faffbd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(168, 199, 95, 0.6);
}
.general-page .right-side .form-group .select2-container {
  width: 100% !important;
}
.general-page .right-side .form-group .select2-container .select2-selection {
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 16px;
  height: 34px;
  padding: 0 12px;
  line-height: 34px;
}
.general-page .right-side .form-group .select2-container .select2-selection:focus {
  outline: none;
  background: #faffbd none repeat scroll 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(168, 199, 95, 0.6);
}
.general-page .right-side .form-group .select2-container .select2-selection[aria-expanded="true"] {
  border-radius: 16px 16px 0 0 !important;
}
.general-page .right-side .fb-login {
  background: #3b599a;
  width: 100%;
  height: 35px;
  border-radius: 16px;
  line-height: 35px;
  font-family: PTSansRegular;
  font-size: 0.875em;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.general-page .right-side .fb-login i {
  font-size: 1em;
  padding-right: 10px;
}
.general-page .right-side .fb-login:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.general-page .right-side .google-login {
  background: #db503b;
  width: 100%;
  height: 35px;
  border-radius: 16px;
  line-height: 35px;
  font-family: PTSansRegular;
  font-size: 0.875em;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.general-page .right-side .google-login i {
  font-size: 1em;
  padding-right: 10px;
}
.general-page .right-side .google-login:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.general-page .right-side .custom-button {
  float: right;
}
.general-page .right-side .custom-button button {
  min-width: 125px;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  background: #a6c45e;
  border: none;
  margin: 0 auto;
  color: #fff;
  padding: 0;
  text-align: center;
  font-family: PTSansRegular;
  font-size: 1em;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.general-page .right-side .custom-button button:hover {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  background: #a8b05f;
}
.change-password,
.payment-received,
.courses-booking {
  display: none;
}
.select2-container--default .select2-results > .select2-results__options {
  border: 1px solid #cccccc;
  border-top: none;
}
.select2-container--default .select2-results > .select2-results__options li {
  padding-left: 18px;
}
.select2-container--default .select2-results > .select2-results__options li:hover {
  background: #a6c45e;
}
.select2-container--default .select2-results > .select2-results__options li.select2-results__option--highlighted {
  background: #a6c45e;
}
.offices {
  padding-bottom: 90px;
}
.offices h1 {
  padding: 50px 0 30px;
  color: #333333;
  font-size: 3.125em;
  font-family: PTSansRegular;
  text-align: left;
}
.offices .filters p {
  font-family: PTSansRegular;
  font-weight: bold;
  color: #30262b;
  font-size: 1.125em;
  padding: 10px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.offices .filters p i {
  font-size: 1em;
  padding-left: 5px;
  color: #a6c45e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.offices .filters p:hover {
  color: #a6c45e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.offices .filters p:hover i {
  padding-left: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.offices .filters p.active {
  color: #a6c45e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.offices .filters p.active i {
  padding-left: 70px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.offices .filters address {
  font-family: PTSansRegular;
  font-size: 0.875em;
  color: #999999;
  height: 120px;
  overflow: hidden;
  margin-bottom: 5px;
}
.offices .filters .filter-item {
  background: #fff;
}
.offices span.sort-title {
  color: #333333;
  font-family: PTSansRegular;
  font-size: 1.25em;
  float: left;
  line-height: 20px;
  padding: 25px 10px 25px 0;
}
.offices .filter-nav-wrapper {
  width: 100%;
  border-bottom: 1px solid #ededed;
  display: table;
  margin-bottom: 20px;
}
.offices ul.filters-nav {
  float: left;
  list-style-type: none;
  color: #a6c45e;
  padding: 25px 0;
}
.offices ul.filters-nav li {
  display: inline-block;
  font-family: PTSansRegular;
  font-size: 0.875em;
  padding: 0 13px;
  height: 24px;
  border: 1px solid #a6c45e;
  line-height: 20px;
  margin: 0 7px;
  border-radius: 13px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.offices ul.filters-nav li.filter-active {
  background: #a6c45e;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.paginate_button.current {
  display: none;
}
#example thead tr th {
  cursor: pointer;
}
#example thead tr th.sorting i.arrow-d {
  display: none;
}
#example thead tr th.sorting i.arrow-u {
  display: inline;
}
#example thead tr th.sorting_asc i.arrow-d {
  display: none;
}
#example thead tr th.sorting_asc i.arrow-u {
  display: inline;
}
#example thead tr th.sorting_desc i.arrow-d {
  display: inline;
}
#example thead tr th.sorting_desc i.arrow-u {
  display: none;
}
.paginate_button {
  color: #a6c45e;
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s;
}
.paginate_button:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  color: #a6c45e;
  text-decoration: none;
}
.paginate_button.previous {
  padding-left: 40px;
  float: left;
}
.paginate_button.previous:before {
  font-family: FontAwesome;
  left: 20px;
  content: '\f053';
  position: absolute;
  color: #a6c45e;
  top: 0;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.paginate_button.previous:hover:before {
  left: 0;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.paginate_button.next {
  padding-right: 40px;
  float: right;
}
.paginate_button.next:before {
  font-family: FontAwesome;
  right: 20px;
  content: '\f054';
  position: absolute;
  color: #a6c45e;
  top: 0;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -ms-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}
.paginate_button.next:hover:before {
  right: 0;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -ms-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}
#map {
  width: 50%;
  position: absolute;
  top: 70px;
  right: 0;
}
.faq {
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.faq .vertical-center {
  top: 40px;
  transform: translate(-50%, 0);
}
.faq #accordion {
  margin-top: 40px;
}
.faq img.img-bg {
  left: 0;
  min-height: inherit;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.faq .panel-default {
  text-align: left;
  margin: 0 !important;
  background: none;
  border: none;
  font-size: 1.125em;
}
.faq .panel-default .panel-heading {
  border-radius: 0;
  margin-top: 1px;
  margin-bottom: 1px;
  background: rgba(0, 0, 0, 0.5);
  border-left: 3px solid #8aa350;
  color: #fff;
  padding: 15px;
}
.faq .panel-default .panel-heading h4 a:focus {
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.faq .panel-default .panel-heading h4 a:hover {
  text-decoration: none;
}
.faq .panel-default .panel-heading h4 i {
  padding-right: 8px;
  padding-left: 2px;
}
.faq .panel-default .panel-body {
  overflow: hidden;
  border: none !important;
  background: #fff;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
}
.faq .panel-default .panel-body .text-1 {
  font-size: 0.875em;
  color: #adadad;
  font-family: 'Roboto', sans-serif;
  padding: 15px 13px 15px 23px;
  border-bottom: 1px solid #eeeeee;
}
.faq .panel-default .panel-body .text-1 span.request {
  color: #8aa350;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}
.faq .panel-default .panel-body .text-1 span.request:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
.faq .panel-default .panel-body .text-1 p.half-width {
  display: inline;
}
.faq .panel-default .panel-body .text-1 p.half-width i.thumbs-up,
.faq .panel-default .panel-body .text-1 p.half-width i.thumbs-down {
  color: #8aa350;
  cursor: pointer;
  padding: 5px;
  transform: scale(1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.faq .panel-default .panel-body .text-1 p.half-width i.thumbs-up:hover,
.faq .panel-default .panel-body .text-1 p.half-width i.thumbs-down:hover {
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.faq .panel-default .panel-body .text-1 p.half-width i.thumbs-up {
  padding-left: 15px;
}
.faq .panel-default .panel-body .text-1 p.half-width i.thumbs-down {
  padding-right: 15px;
}
.faq .panel-default .panel-body .comments p.comments-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
  color: #333333;
  padding: 15px 23px 10px;
}
.faq .panel-default .panel-body .comments p.name {
  font-size: 0.875em;
  color: #333333;
  padding: 15px 23px 10px;
}
.faq .panel-default .panel-body .comments p.name span.date {
  color: #adadad;
  font-size: 0.77em;
  padding-left: 20px;
}
.faq .panel-default .panel-body .comments p.text-comment {
  background: #f0f0f0;
  color: #7e7e7e;
  font-size: 0.875em;
  margin: 15px 23px 10px;
  padding: 15px 20px;
  border-radius: 0 4px 4px 4px;
  position: relative;
}
.faq .panel-default .panel-body .comments p.text-comment:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #f0f0f0 transparent;
  top: -10px;
  left: 8px;
}
.faq .panel-default .panel-body .faq-form {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #8aa350;
  padding: 20px 20px 0 50px;
  webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
}
.faq .panel-default .panel-body .faq-form.visible {
  left: 0;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
}
.faq .panel-default .panel-body .faq-form .prev-page {
  width: 40px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.faq .panel-default .panel-body .faq-form .prev-page:hover i {
  color: #fff;
  padding-left: 3px;
  transition: all 0.3s;
}
.faq .panel-default .panel-body .faq-form .prev-page i {
  position: absolute;
  top: 45%;
  font-size: 3em;
  color: #bfc7b2;
  padding-left: 10px;
  transition: all 0.3s;
}
.faq .panel-default .panel-body .faq-form .form-group {
  margin-right: 30px;
  min-width: 100%;
  float: left;
}
.faq .panel-default .panel-body .faq-form .form-group .form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(168, 199, 95, 0.6);
}
.faq .panel-default .panel-body .faq-form .form-group.for-text-area {
  max-width: 490px;
  min-width: 100%;
}
.faq .panel-default .panel-body .faq-form .form-group label {
  font-family: PTSansRegular;
  font-size: 16px !important;
  color: #445030;
  font-weight: normal;
}
.faq .panel-default .panel-body .faq-form .form-group input {
  background: #fff;
  border: none;
  height: 35px;
  border-radius: 16px;
  line-height: 35px;
}
.faq .panel-default .panel-body .faq-form .form-group p.info-text {
  font-size: 12px;
  font-family: PTSansRegular;
  color: #6a7d41;
  max-width: 490px;
  padding-top: 5px;
}
.faq .panel-default .panel-body .faq-form textarea {
  border-radius: 5px;
  resize: none;
}
.faq .panel-default .panel-body .faq-form .for-drag-drop {
  max-width: 370px;
  border: 1px dashed #627a48;
  border-radius: 10px;
  margin-right: 10px;
  height: 225px;
  margin-top: 30px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.faq .panel-default .panel-body .faq-form .for-drag-drop .for-img-file {
  display: block;
  font-size: 1em;
  color: #6a7d41;
  font-family: PTSansRegular;
  vertical-align: middle;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 220px;
}
.faq .panel-default .panel-body .faq-form .for-drag-drop .for-img-file .upload-photo {
  height: 26px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: PTSansRegular;
  background: #677940;
  font-size: 12px;
  line-height: 26px;
  border-radius: 13px;
  display: block;
  float: right;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}
.faq .panel-default .panel-body .faq-form .for-drag-drop .for-img-file .upload-photo:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
.faq .panel-default .panel-body .faq-form .custom-button {
  width: 100%;
}
.faq .panel-default .panel-body .faq-form .custom-button button {
  float: right;
  font-family: PTSansRegular;
  max-width: 170px;
  margin-right: 10px;
  width: 100%;
  background: #445030;
  padding: 10px 0;
  text-align: center;
  font-size: 0.875em;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  margin-top: 20px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.faq .panel-default .panel-body .faq-form .custom-button button:hover {
  background: #617245;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.faq .panel-default .panel-collapse.in .panel-body {
  margin-top: 0;
  border-top: 1px solid #fff;
}
.sm-upload .upload-photo {
  float: left;
  font-family: PTSansRegular;
  max-width: 170px;
  margin: 0;
  width: 100%;
  padding: 10px 0;
  display: block;
  font-weight: normal;
  background: #445030;
  text-align: center;
  font-size: 0.875em;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  cursor: pointer;
}
.sm-upload .upload-photo:hover {
  background: #617245;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.mar-l-0 {
  margin-left: 0;
}
.pad-0 {
  padding: 0;
}
.mar-r-0 {
  margin-right: 0 !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .offices .filters p i {
    display: none;
  }
  #map {
    top: 70px;
    position: absolute;
    right: 0;
    width: 50%;
  }
  .learn-language-online,
  .about-us,
  .plans-price,
  .testimonials,
  .learning-by-immersion,
  .contact-us,
  .for-teachers,
  .courses,
  .faq {
    padding: 50px 0;
  }
  .faq .vertical-center {
    transform: translate(0, 0);
  }
  .faq .panel-default .panel-body .text-1 {
    display: table;
  }
  .faq .panel-default .panel-body .text-1 p.half-width {
    width: 100%;
    display: block;
    padding-bottom: 15px;
    float: left;
  }
  .faq .panel-default .panel-body .faq-form .custom-button button {
    margin-right: 0;
  }
  .header .center-header {
    padding-left: 25px;
  }
  .courses {
    padding-bottom: 100px;
  }
  .courses .teach-item-left img,
  .courses .teach-item-right img {
    width: 100%;
  }
  .courses .teach-item-left .for-js-item p.item-desc,
  .courses .teach-item-right .for-js-item p.item-desc {
    padding: 20px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 15px;
    z-index: 10;
    height: 0;
    overflow: hidden;
    width: 0;
    margin: 0 auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-align: left;
  }
  .courses .teach-item-left .for-js-item p.item-desc span,
  .courses .teach-item-right .for-js-item p.item-desc span {
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    padding-bottom: 20px;
  }
  .courses .teach-item-left .for-js-item.active p.item-desc,
  .courses .teach-item-right .for-js-item.active p.item-desc {
    z-index: 20;
    top: 21%;
    min-width: 188%;
    min-height: 50%;
    height: 90%;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .courses .teach-item-left .for-js-item:last-child.active .item-desc,
  .courses .teach-item-right .for-js-item:last-child.active .item-desc {
    left: -94%;
  }
  .courses p.courses-title-2 {
    margin-top: 30px;
  }
  .contact-us {
    padding: 100px 0 50px;
  }
  .for-teachers img.bg-img {
    height: 100%;
  }
  h1 {
    font-size: 3.125em;
  }
  .vertical-center {
    position: static;
    transform: translate(0, 0);
  }
  .learn-language-online {
    margin-top: -70px;
    padding-top: 100px;
  }
  .learn-language-online .intro {
    transform: translate(0, 0);
    position: static;
  }
  .learn-language-online .intro p {
    font-size: 1em;
    padding-bottom: 30px;
  }
  .learn-language-online .flags {
    background: none;
    bottom: 10%;
    position: static;
  }
  .learn-language-online .flags .flags-group {
    padding: 45px 0 25px;
  }
  .plans-price h1 {
    padding-top: 0;
  }
  .testimonials .customers {
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
  }
  .testimonials .customers .owl-stage-outer {
    margin: 0 auto !important;
  }
  .testimonials .customers .custom-media {
    padding-bottom: 45px;
  }
  .testimonials .customers .custom-media p.text {
    text-align: center;
  }
  .testimonials .customers .custom-media .media-left {
    width: 100%;
    text-align: center;
    padding: 0;
    float: none;
    display: block;
  }
  .testimonials .customers .custom-media .media-left img {
    margin: 0 auto;
  }
  .testimonials .customers .custom-media .media-body {
    width: 100%;
    display: block;
  }
  .testimonials .customers .custom-media .media-body p {
    width: 100%;
    text-align: center;
  }
  .top-footer .socials a {
    font-size: 1em;
  }
  .about-us .our-all {
    padding: 50px 0 20px;
  }
  .about-us .our-all p.description {
    max-width: 290px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .about-us .our-all .col-sm-6 {
    overflow: hidden;
    min-height: 180px;
  }
  .learning-by-immersion .learning-bottom {
    margin-top: 90px;
    margin-bottom: 40px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .faq img.img-bg {
    height: 100% !important;
  }
  .faq .panel-default .panel-body .comments p.name span.date {
    padding-left: 8px;
  }
  .faq {
    padding: 50px 0;
  }
  .faq .vertical-center {
    transform: translate(0, 0);
    position: static;
  }
  .faq .panel-default .panel-body .text-1 {
    text-align: center;
    display: table;
  }
  .faq .panel-default .panel-body .text-1 p.half-width {
    width: 100%;
    display: block;
    padding-bottom: 15px;
    float: left;
  }
  .faq .panel-default .panel-body .text-1 p.half-width span {
    display: block;
  }
  .faq .panel-default .panel-body .text-1 p.half-width i {
    width: 50%;
    float: left;
  }
  .faq .panel-default .panel-body .text-1 p.half-width i.thumbs-up {
    text-align: right;
  }
  .faq .panel-default .panel-body .text-1 p.half-width i.thumbs-down {
    text-align: left;
  }
  .offices span.sort-title {
    padding: 0;
    display: block;
    width: 100%;
  }
  .offices ul {
    padding-top: 10px;
  }
  .offices ul.filters-nav li {
    margin: 0 2px;
    padding: 0 7px;
  }
  .offices .filters p i {
    display: none;
  }
  .general-page {
    padding-bottom: 50px;
  }
  .general-page .right-side p.payment-title {
    padding-top: 0;
  }
  .general-page .right-side img.js-ava {
    margin: 0 auto;
  }
  .general-page .right-side label.upload-photo {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
  }
  .change-password {
    padding-bottom: 50px;
  }
  .payment-received .right-side table {
    margin: 20px 0 30px;
  }
  .payment-received .right-side table thead tr th {
    font-size: 0.8em !important;
  }
  .under-title .pre-line,
  .under-title .aft-line {
    max-width: 90px;
  }
  .courses img.bg-img {
    height: 100%;
  }
  .courses .teach-item-right .for-js-item,
  .courses .teach-item-left .for-js-item {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  .courses .teach-item-right .for-js-item img,
  .courses .teach-item-left .for-js-item img {
    width: 100%;
  }
  .courses .teach-item-right .for-js-item p.title,
  .courses .teach-item-left .for-js-item p.title {
    margin-bottom: 25px;
  }
  .courses .teach-item-right .for-js-item p.item-desc,
  .courses .teach-item-left .for-js-item p.item-desc {
    max-width: 290px;
    top: 50%;
    left: 0;
    margin: 0;
  }
  .courses .teach-item-right .for-js-item.active .item-desc,
  .courses .teach-item-left .for-js-item.active .item-desc {
    top: 0;
    min-height: 100%;
    margin: 0;
    left: 15px;
  }
  .for-teachers img.bg-img {
    height: 100%;
  }
  .contact-us {
    padding: 50px 0;
  }
  .contact-us p.description {
    font-size: 1.125em;
  }
  .header {
    position: relative;
  }
  .header button {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5px;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
    border-radius: 0;
  }
  .header button .icon-bar {
    background: green;
    background: #a9c667;
    width: 30px;
    height: 5px;
  }
  .header button .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  .header button[aria-expanded="true"] {
    background: #2f3522;
  }
  .header .custom-open-menu {
    width: 100%;
    position: absolute;
    background: #a9c667;
    top: 100%;
    left: 0;
  }
  .header .custom-open-menu ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .header .custom-open-menu ul li {
    width: 100%;
  }
  .header .custom-open-menu ul li a {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #90aa53;
    width: 100%;
    font-size: 1.125em;
    color: #445030;
    font-family: PTSansRegular;
    font-weight: 400;
  }
  .header .custom-open-menu ul li a:hover,
  .header .custom-open-menu ul li a:focus,
  .header .custom-open-menu ul li a:visited {
    background: #a9c667;
  }
  .header .custom-open-menu ul li a.mobile-prof-img {
    text-align: center;
  }
  .header .custom-open-menu ul li a.mobile-prof-img img {
    width: 100px;
    height: 100px;
    margin: 0 auto !important;
    border: 1px solid #fff;
    border-radius: 100px;
  }
  .header .custom-open-menu ul li a.mobile-prof-img p {
    color: #859d50;
    font-size: 1em;
    font-family: PTSansRegular;
    padding: 15px 0;
  }
  .header .custom-open-menu ul li .dropdown-menu {
    padding: 0;
  }
  .header .custom-open-menu ul li .dropdown-menu li a {
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: #90aa53;
    border-bottom: 1px solid #82984d;
    font-weight: 300;
  }
  .header .nav .open > a,
  .header .nav .open > a:focus,
  .header .nav .open > a:hover {
    border-color: #90aa53;
  }
  .learn-language-online {
    margin-top: -70px;
    padding-top: 130px !important;
  }
  .testimonials .owl-stage-outer {
    margin: 0 auto !important;
  }
  .testimonials .customers {
    margin: 0 auto !important;
    position: relative;
    padding-top: 40px;
  }
  .testimonials .customers .custom-media {
    padding-bottom: 45px;
  }
  .testimonials .customers .custom-media p.text {
    text-align: center;
  }
  .testimonials .customers .custom-media .media-left {
    width: 100%;
    text-align: center;
    padding: 0;
    float: none;
    display: block;
  }
  .testimonials .customers .custom-media .media-left img {
    margin: 0 auto;
  }
  .testimonials .customers .custom-media .media-body {
    width: 100%;
    display: block;
  }
  .testimonials .customers .custom-media .media-body p {
    width: 100%;
    text-align: center;
  }
  .testimonials .customers .owl-item {
    margin: 0 auto;
  }
  .learn-language-online,
  .about-us,
  .plans-price,
  .testimonials,
  .learning-by-immersion,
  .contact-us,
  .for-teachers,
  .courses {
    padding: 45px 0;
  }
  .learn-language-online h1,
  .about-us h1,
  .plans-price h1,
  .testimonials h1,
  .learning-by-immersion h1,
  .contact-us h1,
  .for-teachers h1,
  .courses h1 {
    font-size: 1.7em;
  }
  .learn-language-online .intro {
    transform: translate(0, 0);
    position: static;
  }
  .learn-language-online .intro p {
    font-size: 0.9em;
    padding-bottom: 35px;
  }
  .learn-language-online .flags {
    padding-top: 40px;
    position: static;
  }
  .learn-language-online .flags .flags-group {
    padding: 0;
  }
  .learn-language-online .flags .flags-group p {
    padding-bottom: 25px;
  }
  .vertical-center {
    position: static;
    transform: translate(0, 0);
  }
  .plans-price h1 {
    padding-top: 0;
  }
  .plans-price h4 {
    font-size: 0.9em;
  }
  .plans-price .lessons-number {
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .plans-price .lessons-number .lesson-item {
    padding: 0 !important;
    margin: 0 2px;
    display: inline-block;
    float: none !important;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: justify;
  }
  .content-price {
    width: 100%;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
  }
  .content-price .for-xs-slider .slider-col .basic-type {
    float: left;
  }
  .content-price .for-xs-slider .slider-col .premium-type {
    float: right;
  }
  .content-price .opacity {
    opacity: 0.5;
  }
  .about-us h1 {
    padding-bottom: 0;
  }
  .about-us .our-all {
    padding: 15px 0 50px;
  }
  .about-us .our-all .icon {
    margin-top: 40px;
  }
  .about-us .custom-button {
    float: none !important;
  }
  .about-us .custom-button button {
    min-width: 270px;
    max-width: 270px;
    margin: 10px auto;
    height: 55px;
  }
  .learning-by-immersion .learning-top p.description {
    padding: 0;
  }
  .learning-by-immersion .learning-top .icons-list i {
    margin: 0 1px;
  }
  .learning-by-immersion .learning-bottom {
    margin-top: 40px;
  }
  .learning-by-immersion .learning-bottom p.sub-title {
    font-size: 1.25em;
    padding-bottom: 5px;
  }
  .learning-by-immersion .learning-bottom .custom-button {
    float: none !important;
  }
  .learning-by-immersion .learning-bottom .custom-button button {
    max-width: 270px;
    min-width: 270px;
    margin: 10px auto;
    height: 54px;
  }
  .top-footer {
    padding-top: 25px;
  }
  .top-footer p,
  .top-footer ul,
  .top-footer .socials {
    text-align: center;
  }
  .top-footer p.list-title {
    font-size: 1.25em;
    padding: 25px 0 0;
    margin-bottom: 5px;
  }
  .top-footer ul {
    padding-top: 0;
  }
  .top-footer ul li {
    font-size: 1.125em;
    padding: 2px 0;
  }
  .under-title .pre-line,
  .under-title .aft-line {
    max-width: 100% !important;
  }
}
.xs-float-none {
  float: none;
}
.xs-pad-0 {
  padding: 0;
}
.xs-mar-0 {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 530px) {
  .opacity {
    opacity: 1 !important;
  }
}
@media (min-width: 530px) and (max-width: 768px) {
  .slider-col {
    width: 50%;
    float: left;
  }
  .slider-col .basic-type {
    float: right !important;
  }
  .slider-col .premium-type {
    float: left !important;
  }
}
@media (min-width: 320px) and (max-width: 530px) {
  .for-xs-slider {
    position: relative;
    display: table;
  }
  .for-xs-slider .slider-col {
    float: left;
    width: auto;
    padding: 0;
  }
  .for-xs-slider .slider-col .basic-type {
    margin-left: 15px;
    float: left;
  }
  .for-xs-slider .slider-col .premium-type {
    float: left;
  }
}
.modal-content {
  border-radius: 0 0 20px 20px;
}
.modal-header {
  background-color: #455030;
  border: none;
}
.modal-header h4 {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 1.2857em;
}
.modal-content {
  background-color: #a6c45e;
}
.modal-footer {
  border: none;
}
.modal-footer div {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-family: PTSansRegular;
}
.modal-footer div:hover,
.modal-footer div:focus {
  text-decoration: underline;
}
.modal-body p,
.modal-body h4 {
  color: #515f36;
  font-family: PTSansRegular;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 12px;
}
.modal-body h4 {
  font-weight: bold;
}
.mCSB_scrollTools.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #88a150;
}
.serviceMessageMain {
  display: none;
  color: black;
}
#fpreloader > p {
  display: none;
}
#preloader {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background: #ffffff url(../images/preloader.gif) center center no-repeat;
  background-size: 41px;
}
.under-title {
  text-align: center;
  padding-bottom: 25px;
}
.under-title .pre-line,
.under-title .aft-line {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  height: 1px;
  background: #90aa53;
  vertical-align: middle;
  margin-top: -5px;
}
.under-title .favorite {
  display: inline-block;
  padding: 0 15px;
  color: #90aa53;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
.socials_btns span i {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}
.modal-title {
  font-size: 1em;
  color: #445030;
  font-family: 'Roboto', sans-serif;
}
.login-modal .modal-header {
  position: relative;
  padding: 0 40px;
}
.login-modal .modal-header .close {
  position: absolute;
  text-align: center;
  right: 10px;
  top: 10px;
}
.login-modal .modal-header .close span {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  border: 1px solid #748947;
  color: #748947;
  line-height: 27px;
  display: block;
}
.login-modal .modal-header p {
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.875em;
}
.login-modal .modal-body {
  padding: 0 40px;
  padding: 15px 0;
}
.login-modal .modal-body p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #445030;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.login-modal .modal-body .socials_btns {
  margin-bottom: 15px;
}
.login-modal .modal-body .socials_btns span {
  max-width: 115px;
  width: 100%;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 20px;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.login-modal .modal-body .socials_btns span.fb-login {
  background: #3b599a;
}
.login-modal .modal-body .socials_btns span.google-login {
  background: #db503b;
}
.login-modal .modal-body .socials_btns span:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.login-modal .modal-body .custom-form .form-group {
  max-width: 230px;
  width: 100%;
}
.login-modal .modal-body .custom-form .form-group input {
  height: 35px;
  border-radius: 17px;
  line-height: 35px;
  border: none;
}
.login-modal .modal-body .custom-form .form-group label {
  font-family: PTSansRegular;
  color: #445030;
}
.login-modal .modal-body .custom-button {
  text-align: center;
}
.login-modal .modal-body .custom-button button {
  min-width: 170px;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  background: #445030;
  border: none;
  margin: 15px auto 0;
  text-align: center;
  font-family: PTSansRegular;
  font-size: 0.875em;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.login-modal .modal-body .custom-button button:hover {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.8;
}
.login-modal .modal-footer {
  padding: 0 40px 15px;
}
.reset-pass-modal .modal-header {
  position: relative;
}
.reset-pass-modal .modal-header .close {
  position: absolute;
  text-align: center;
  right: 10px;
  top: 10px;
}
.reset-pass-modal .modal-header .close span {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  border: 1px solid #748947;
  color: #748947;
  line-height: 27px;
  display: block;
}
.reset-pass-modal .modal-header p {
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.875em;
}
.reset-pass-modal .modal-body {
  padding: 20px 0;
}
.reset-pass-modal .modal-body p {
  text-align: center;
  font-family: PTSansRegular;
  font-weight: 600;
  font-size: 1.25em;
  color: #445030;
}
.reset-pass-modal .modal-body span {
  text-align: center;
  font-family: PTSansRegular;
  font-size: 1em;
  /*display: block;*/
  color: #445030;
}
.reset-pass-modal-before .modal-header {
  position: relative;
}
.reset-pass-modal-before .modal-header .close {
  position: absolute;
  text-align: center;
  right: 10px;
  top: 10px;
}
.reset-pass-modal-before .modal-header .close span {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  border: 1px solid #748947;
  color: #748947;
  line-height: 27px;
  display: block;
}
.reset-pass-modal-before .modal-header p {
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.875em;
}
.reset-pass-modal-before .modal-body .custom-form .form-group {
  max-width: 230px;
  width: 100%;
}
.reset-pass-modal-before .modal-body .custom-form .form-group input {
  height: 35px;
  border-radius: 17px;
  line-height: 35px;
  border: none;
}
.reset-pass-modal-before .modal-body .custom-form .form-group label {
  font-family: PTSansRegular;
  color: #445030;
}
.reset-pass-modal-before .modal-body .custom-button {
  text-align: center;
}
.reset-pass-modal-before .modal-body .custom-button button {
  min-width: 170px;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  background: #445030;
  border: none;
  margin: 15px auto 0;
  text-align: center;
  font-family: PTSansRegular;
  font-size: 0.875em;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.reset-pass-modal-before .modal-body .custom-button button:hover {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.8;
}
.tell-us-more .modal-header {
  position: relative;
}
.tell-us-more .modal-header .close {
  position: absolute;
  text-align: center;
  right: 10px;
  top: 10px;
}
.tell-us-more .modal-header .close span {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  border: 1px solid #748947;
  color: #748947;
  line-height: 27px;
  display: block;
}
.tell-us-more .modal-header p {
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.875em;
}
.tell-us-more .modal-body .custom-form .form-group {
  max-width: 230px;
  width: 100%;
}
.tell-us-more .modal-body .custom-form .form-group input {
  height: 35px;
  border-radius: 17px;
  line-height: 35px;
  border: none;
}
.tell-us-more .modal-body .custom-form .form-group label {
  font-family: PTSansRegular;
  color: #445030;
}
.tell-us-more .modal-body .custom-button {
  text-align: center;
}
.tell-us-more .modal-body .custom-button button {
  min-width: 170px;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  background: #445030;
  border: none;
  margin: 15px auto 0;
  text-align: center;
  font-family: PTSansRegular;
  font-size: 0.875em;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.tell-us-more .modal-body .custom-button button:hover {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.8;
}
.tell-us-more .modal-body .select2-container {
  width: 100% !important;
}
.tell-us-more .modal-body .select2-selection {
  height: 35px;
  border-radius: 17px;
  line-height: 35px;
  border: none;
}
.tell-us-more .modal-body .select2-selection__rendered {
  padding-top: 3px;
  padding-left: 16px;
  font-family: PTSansRegular;
  font-size: 1em;
}
.img-flag {
  height: 14px;
  width: 22px;
  margin-right: 10px;
}
.img-socials {
  height: 22px;
  width: 22px;
}
.select2-container {
  font-family: PTSansRegular;
  font-size: 1em;
  color: #555;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
}
.select2-dropdown {
  border: none;
}
.country-name {
  color: #555;
  font-size: 1em;
  font-family: PTSansRegular;
}
.intl-tel-input {
  margin: 0px;
  width: 100%;
}
.intl-tel-input input {
  width: 100%;
  font-family: PTSansRegular;
  font-size: 1em;
  color: #555;
}
.social-input {
  height: 35px;
  border-radius: 17px;
  line-height: 35px;
  border: none;
  width: 100%;
  background: #ffffff;
}
.social-input .form-control {
  width: calc(60%);
}
.social-input .form-control:focus {
  outline: none;
  box-shadow: none;
}
.tell-us-more .modal-body .social-input .select2-container {
  width: 40px !important;
  float: left;
}
.social-input .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 7px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  border: none;
  height: 14px;
  transform: translate(-50%, -50%);
  margin-top: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
  content: "\f106";
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  content: "\f107";
}
.tell-us-more .modal-body .select2-selection {
  outline: none;
}
.tell-us-more .modal-body .select2-selection__rendered {
  padding-top: 2px;
  padding-left: 15px;
}
.intl-tel-input.allow-dropdown .flag-container {
  outline: none;
}
.intl-tel-input .selected-flag {
  outline: none;
  padding: 0 0 0 15px;
}
.intl-tel-input .selected-flag .iti-arrow {
  display: none;
}
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
  border-radius: 17px 0 0 17px;
}
.modal-header .steps {
  position: absolute;
  font-size: 1.125em;
  font-family: 'Roboto', sans-serif;
  color: #778c53;
  left: 80px;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 610px) {
  .modal-header .steps {
    top: 20px;
  }
}
/*!
 * Timepicker Component for Twitter Bootstrap
 *
 * Copyright 2013 Joris de Wit
 *
 * Contributors https://github.com/jdewit/bootstrap-timepicker/graphs/contributors
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
  left: auto;
  right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
  left: auto;
  right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
  left: auto;
  right: 13px;
}
.bootstrap-timepicker .input-group-addon {
  cursor: pointer;
}
.bootstrap-timepicker .input-group-addon i {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.bootstrap-timepicker-widget.dropdown-menu {
  padding: 4px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.timepicker-orient-left:before {
  left: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-left:after {
  left: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:before {
  right: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:after {
  right: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:before {
  top: -7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:after {
  top: -6px;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input {
  border-radius: 4px;
}
.bootstrap-timepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker-widget table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker-widget table td:not(.separator) {
  min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
  width: 100%;
}
.bootstrap-timepicker-widget table td a {
  border: 1px transparent solid;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333;
}
.bootstrap-timepicker-widget table td a:hover {
  text-decoration: none;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ddd;
}
.bootstrap-timepicker-widget table td a i {
  margin-top: 2px;
  font-size: 18px;
}
.bootstrap-timepicker-widget table td input {
  width: 25px;
  margin: 0;
  text-align: center;
}
.bootstrap-timepicker-widget .modal-content {
  padding: 4px;
}
@media (min-width: 767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .bootstrap-timepicker {
    width: 100%;
  }
  .bootstrap-timepicker .dropdown-menu {
    width: 100%;
  }
}


.datetimepicker {
  height: 35px;
  border-radius: 17px;
  line-height: 35px;
  border: none;
  width: 100%;
  background: #ffffff;
  color: #333;
}
.tell-us-more .form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.tell-us-more .input-group-addon {
  border: none;
  background-color: transparent;
  padding-left: 15px;
}
.buy-step-2 .modal-dialog {
  width: 770px;
}
.cursor {
  cursor: pointer;
}
.modal-body .secure-text {
  font-size: 0.75em;
  font-family: PTSansRegular;
}
.modal-body .confirm-text {
  font-size: 0.875em;
  font-family: PTSansRegular;
}
.buy-step-2 {
  font-size: 1em;
  font-family: PTSansRegular;
  font-family: normal;
}
.buy-step-2 .checkbox {
  font-family: 'Roboto', sans-serif;
  font-size: 0.78em;
  color: #445030;
}
.buy-step-2 .checkbox.payment-type label {
  padding-left: 30px;
}
.buy-step-2 .payment-type {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: white;
  padding: 6px 0;
}
.buy-step-2 .modal-body {
  padding: 25px;
}
.buy-step-2 .payment-method p {
  font-size: 1em;
  color: #445030;
  font-family: PTSansRegular;
}
.buy-step-2 .payment-method {
  margin-top: 20px;
  color: #445030;
}
.buy-step-2 .payment-type img {
  width: 62px;
  height: 20px;
}
.buy-step-2 .checkbox label span {
  text-decoration: underline;
}
.buy-step-2 .agreement-check {
  margin-top: 50px;
}
.buy-step-2 .choose-text {
  padding-top: 15px;
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
  color: #445030;
}
.confirmation {
  border-bottom: 1px dashed #445030;
  border-top: 1px dashed #445030;
  margin-top: 20px;
}
.white {
  color: #ffffff;
}
.confirmation p {
  margin-top: 10px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.confirmation .confirm-block p {
  margin-bottom: 0px;
}
#buy-step-2 .confirmation .confirm-block {
  margin-top: 40px;
  text-align: center;
}
#buy-full-step-2 .confirmation .confirm-block {
  margin-top: 30px;
  text-align: center;
}
#buy-full-step-1 .confirmation .confirm-block {
  margin-top: 30px;
  text-align: center;
}
.buy-step-2 .confirmation .confirm-block .custom-button button {
  margin-top: 0;
}
.buy-step-3 .modal-body p {
  font-family: PTSansRegular;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}
.buy-step-3 .modal-body .complete-text {
  font-family: PTSansRegular;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  color: #61733e;
}
.tell-us-more .modal-header p {
  padding: 3px 0;
}
.buy-step-2 .paypal p {
  font-size: 0.875em;
  font-family: 'Roboto', sans-serif;
}
.buy-step-2 .tenpay p {
  font-size: 0.875em;
  font-family: 'Roboto', sans-serif;
}
.buy-step-2 .credit .creditcard {
  background: rgba(97, 115, 62, 0.8);
  border-radius: 10px;
}
.credit .creditcard .info {
  background: #445030;
  border-radius: 10px;
  padding: 20px;
}
.credit .creditcard {
  margin-top: 20px;
}
.credit .creditcard .form-control {
  border-radius: 17px;
}
.credit .creditcard label {
  font-family: PTSansRegular;
  font-size: 1em;
  color: #a6c45e;
}
.credit .creditcard .short {
  width: 101px !important;
}
.buy-step-2 .credit .creditcard .credit-exp .select2-container {
  width: 101px !important;
}
.buy-step-2 .credit .creditcard .credit-exp {
  margin-top: 20px;
}
.buy-step-2 .credit .creditcard .credit-logo {
  margin-top: 45px;
}
.credit .creditcard .security p {
  line-height: 50px;
  vertical-align: middle;
  color: #a6c45e;
  font-family: PTSansRegular;
  font-size: 1em;
  text-align: right;
  padding-right: 20px;
}
.credit .creditcard .security {
  height: 50px;
  text-align: right;
  background-color: rgba(68, 80, 48, 0.6);
  margin-top: 50px;
}
.credit .creditcard .cvv .form-group {
  margin-top: 30px;
}
#buy-full-step-1 .open-datetimepicker {
  background: transparent;
  border: 0;
}
.target {
  cursor: pointer;
  color: #fff;
}
.buy-step-2 .footer-text {
  margin-top: 20px;
}
.buy-step-2 .footer-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  margin-bottom: 0;
  line-height: 1.3;
}
.buy-step-1 .footer-text {
  border-top: 1px dashed #445030;
}
.right-header a[data-lang] {
    cursor: pointer;
}
