body {
    font-family: Lato;
}

nav .button_container {
    position: absolute;
    top: 5px;
    right: 0;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

    nav .button_container:hover {
        opacity: .7;
    }

    nav .button_container.active .top {
        -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
        transform: translateY(10px) translateX(0) rotate(45deg);
        background: #FFF;
    }

    nav .button_container.active .middle {
        opacity: 0;
        background: #FFF;
    }

    nav .button_container.active .bottom {
        -webkit-transform: translateY(-20px) translateX(0) rotate(-45deg);
        transform: translateY(-20px) translateX(0) rotate(-45deg);
        background: #FFF;
    }

    nav .button_container span {
        background: #0287e4;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        -webkit-transition: all .35s ease;
        transition: all .35s ease;
        cursor: pointer;
    }

        nav .button_container span:nth-of-type(2) {
            top: 10px;
        }

        nav .button_container span:nth-of-type(3) {
            top: 20px;
        }

nav .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, width .35s;
    transition: opacity .35s, visibility .35s, width .35s;
    z-index: 50;
}

    nav .overlay:before {
        content: '';
        background: rgba(1,135,228, .9);
        left: -55%;
        top: 0;
        width: 50%;
        height: 100%;
        position: absolute;
        -webkit-transition: left .35s ease;
        transition: left .35s ease;
    }

    nav .overlay:after {
        content: '';
        background: rgba(1,135,228, .9);
        right: -55%;
        top: 0;
        width: 50%;
        height: 100%;
        position: absolute;
        -webkit-transition: all .35s ease;
        transition: all .35s ease;
    }

    nav .overlay.open {
        /*opacity: .9;*/
        visibility: visible;
        height: 100%;
    }

        nav .overlay.open:before {
            left: 0;
        }

        nav .overlay.open:after {
            right: 0;
        }

        nav .overlay.open .li,
        nav .overlay.open .for-language {
            -webkit-animation: fadeInRight .5s ease forwards;
            animation: fadeInRight .5s ease forwards;
            -webkit-animation-delay: .35s;
            animation-delay: .35s;
        }

            nav .overlay.open .li:nth-of-type(2) {
                -webkit-animation-delay: .45s;
                animation-delay: .45s;
            }

            nav .overlay.open .li:nth-of-type(3) {
                -webkit-animation-delay: .55s;
                animation-delay: .55s;
            }

            nav .overlay.open .li:nth-of-type(4) {
                -webkit-animation-delay: .65s;
                animation-delay: .65s;
            }

            nav .overlay.open .li:nth-of-type(5) {
                -webkit-animation-delay: .75s;
                animation-delay: .75s;
            }

            nav .overlay.open .for-language:nth-of-type(6) {
                -webkit-animation-delay: .85s;
                animation-delay: .85s;
            }

            nav .overlay.open .li:nth-of-type(7) {
                -webkit-animation-delay: .95s;
                animation-delay: .95s;
            }

    nav .overlay nav {
        position: relative;
        height: 70%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 50px;
        font-family: 'Vollkorn', serif;
        font-weight: 400;
        text-align: center;
        z-index: 100;
    }

    nav .overlay .ul {
        list-style: none;
        padding: 0;
        display: inline-block;
        position: relative;
        top: 15%;
        left: -10%;
        height: 100%;
    }

        nav .overlay .ul .li.for-language ul {
            display: none;
        }

        nav .overlay .ul .li,
        nav .overlay .ul li.for-language {
            display: block;
            min-height: 75px;
            position: relative;
            opacity: 0;
            text-align: left;
            color: #ffffff;
            font-family: Lato;
            font-size: 34px;
            font-weight: 700;
            margin-top: 5px;
        }

            nav .overlay .ul .li a {
                display: block;
                position: relative;
                color: #ffffff;
                font-family: Lato;
                font-size: 34px;
                font-weight: 700;
                text-decoration: none;
                overflow: hidden;
                line-height: 75px;
                margin-top: 5px;
            }

                nav .overlay .ul .li a:hover:after,
                nav .overlay .ul .li a:focus:after,
                nav .overlay .ul .li a:active:after {
                    width: 100%;
                }

    nav .overlay ul li.for-language:hover:after,
    nav .overlay ul li.for-language:focus:after,
    nav .overlay ul li.for-language:active:after {
        width: 100%;
    }

    nav .overlay .ul .li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        -webkit-transition: .35s;
        transition: .35s;
    }

li.for-language {
    position: relative;
}

    li.for-language .drop {
        text-align: left;
        color: #ffffff;
        font-family: Lato;
        font-size: 34px;
        font-weight: 700;
        cursor: pointer;
        background: none;
        box-shadow: none;
        border: none;
        position: relative;
        left: 0;
    }

    li.for-language ul {
        top: -765%;
        left: 150%;
        background: none;
        box-shadow: none;
        border: none;
    }

        li.for-language ul li {
            font-family: Lato;
            font-size: 23px;
            font-weight: 700;
            line-height: 49px;
            color: #84baee;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            cursor: pointer;
        }

            li.for-language ul li:hover {
                color: #ffffff;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

    li.for-language span {
        position: absolute;
        left: -55%;
        top: 0;
        color: #84baee;
        font-family: Lato;
        font-size: 26px;
        font-weight: 700;
        line-height: 58px;
    }

    li.for-language:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        -webkit-transition: .35s;
        transition: .35s;
    }

.button {
    display: block;
    float: left;
    clear: both;
    padding: 20px 40px;
    background: #fff;
    border-radius: 3px;
    border: 2px solid #10a1ea;
    overflow: hidden;
    position: relative;
}

    .button:after {
        transition: transform 0.3s ease;
        content: "";
        position: absolute;
        height: 400px;
        width: 600px;
        transform: rotate(45deg) translateX(-540px) translateY(-100px);
        background: #10a1ea;
        z-index: 1;
    }

    .button:before {
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        content: attr(title);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        z-index: 2;
        text-align: center;
        padding: 20px 40px;
        transform: translateY(200px);
    }

    .button:hover {
        text-decoration: none;
    }

        .button:hover:after {
            transform: translateX(-300px) translateY(-100px);
        }

        .button:hover:before {
            transform: translateY(0);
        }

header.main {
    background: url('../img/main-bg.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 53px 0;
}

section {
    padding: 100px 0;
}

    section.testimonials {
        background: #fbfbfb;
    }

    section.benefits {
        background: #fbfbfb;
    }

.pad-0 {
    padding: 0;
}

p {
    margin-bottom: 0;
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.custom-button {
    box-shadow: 0 3px 70px rgba(0, 162, 231, 0.3);
    border-radius: 50px;
    background-color: #00a2e7;
    color: #ffffff;
    font-family: Lato;
    font-size: 17px;
    font-weight: 700;
    padding: 22px 64px;
    display: inline-block;
    min-width: 451px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}

    .custom-button:hover {
        opacity: 0.8;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

.mar-left-arrow {
    margin-left: 17%;
}

.main p.title {
    font-family: "Roboto Slab";
    font-size: 41px;
    font-weight: 700;
    color: #42464d;
    margin-left: -15px;
    /*margin-top: 165px;*/
}

    .main p.title span {
        color: #8ad300;
    }

.main p.subtitle {
    color: #9cb0c2;
    font-size: 23px;
    font-weight: 400;
    margin-top: 38px;
    margin-bottom: 68px;
}

.main ul.flags {
    margin-top: 30px;
}

    .main ul.flags li {
        float: left;
        margin-right: 26px;
    }

        .main ul.flags li:last-child {
            margin-right: 0;
        }

section p.title {
    color: #42464d;
    font-family: "Roboto Slab";
    font-size: 41px;
    font-weight: 700; 
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

section p.subtitle {
    color: #9cb0c2;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 90px;
}

p.step-title {
    opacity: 0.15;
    color: #9cb0c2;
    font-size: 113px;
    font-weight: 800;
    margin-bottom: 4px;
}

p.step-subtitle {
    color: #89d300;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 11px;
}

p.step-desc {
    color: #42464d;
    font-size: 23px;
    font-weight: 600;
}

p.ben-title {
    color: #89d300;
    font-size: 38px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 120px;
}

.arrow-d {
    text-align: center;
    padding: 53px 0;
}

.deposit {
    text-align: center;
    margin-bottom: 68px;
}

    .deposit p {
        display: inline-block;
        color: #333333;
        font-size: 23px;
        font-weight: 500;
        padding: 0 23px;
        position: relative;
    }

        .deposit p span {
            height: 8px;
            width: 100%;
            border-radius: 5px;
            background-color: #00a2e7;
            display: block;
            position: absolute;
            left: 0;
            bottom: -23px;
        }

.bonus {
    margin-bottom: 68px;
    text-align: center;
}

    .bonus p {
        display: inline-block;
        color: #333333;
        font-size: 23px;
        font-weight: 500;
        padding: 0 23px;
        position: relative;
    }

        .bonus p span {
            height: 8px;
            width: 100%;
            border-radius: 5px;
            background-color: #87d500;
            display: block;
            position: absolute;
            left: 0;
            bottom: -23px;
        }

.graph-img {
    margin-bottom: 109px;
}

footer {
    padding-top: 75px;
}

    footer p {
        line-height: 25px;
        opacity: 0.7;
        color: #9ba1a9;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

        footer p.copy {
            height: 55px;
            color: #b2b8be;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 55px;
            text-transform: uppercase;
            margin-bottom: 0;
            border-top: 1px solid #eeeeee;
        }

    footer ul {
        opacity: 0.7;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 49px;
    }

        footer ul a {
            color: #373f51;
        }

.socials a {
    color: #00a2e7;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 16px;
}

    .socials a:last-child {
        margin-right: 0;
    }

/**/

#login {
    position: relative;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    font-family: 'Lato';
    color: #fff;
    width: 600px;
    left: 50%;
}

.authentication {
    font-size: 34px;
    font-family: "Roboto Slab";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.welcome {
    font-size: 17px;
    text-align: center;
    margin: 20px 0;
}
.log>span {
    display: block;
    text-align: center;
    padding: 15px 0;
    background-color: #3d5b98;
    border-radius: 100px;
    cursor: pointer;
    font-size: 15px;
}
.log>span i {
    display: inline-block;
    margin-right: 10px;
}
.log:last-child>span {
    background-color: #d95141;
}
.under-title {
    margin: 20px 0;
}

.under-title .pre-line, .under-title .aft-line {
    display: inline-block;
    max-width: 270px;
    width: 100%;
    height: 1px;
    background: #6dbbef;
    vertical-align: middle;
    margin-top: -5px;
}
.under-title .favorite {
    display: inline-block;
    padding: 0 15px;
    color: #6dbbef;
    font-size: 1em;
    text-transform: uppercase;
}
.log input {
    height: 35px;
    border-radius: 17px;
    font-family: lato;
}
.bt-login {
    padding: 20px 0;
    text-align: center;
    background-color: #085c96;
    border-radius: 100px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.links {
    cursor: pointer;
    font-size: 17px;
}
.links span {
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}
.log input.error {
    border: 1px solid red;
}