﻿@using System.Resources
@{
    Layout = null;
}
<div class="general-page">
<div class="right-side">
    <div class="new-exp videooverview" >
        <div class="row">
            <div class="col-sm-12 unic-section ">
                <div class="pad-0 xs-pad-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="serviceMessageMain gp-style js-service text-center">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label >@Resources.Resource.EnterYoutubeorVimeolinkbelow :</label>
                                <input type="text" class="form-control" id="for-url" ng-model="item.videoSrc" value="{{item.videoSrc}}"
                                       placeholder="https://www.youtube.com/watch?v=RKp1_HI6hvc">
                            </div>
                            <div class="form-group">
                                <label >@Resources.Resource.OruploadMP4:</label>
                                <div  class="custom-button save-new-field" id="clickLoadVideo">
                                    <button ng-disabled="item.videoSrc.indexOf('http')!==-1" onclick="document.getElementById('loadMyVideo').click()" type="button">Load Video</button>
                                </div>
                                <progress id="progressbar" value="0" max="100"></progress>
                                <input  onchange="angular.element(this).scope().uploadVideo()" type="file" id="loadMyVideo" accept="video/mp4,video/x-m4v,video/*" value="Загрузить видео" />
                            </div>
                            <div class="form-group">
                                <label for="spec-skills">@Resources.Resource.Specialskills</label>
                                <textarea ng-model="item.specialSkills" class="form-control" id="spec-skills"
                                          placeholder="@Resources.Resource.SpecialskillsPlaceholder">
                                    {{item.specialSkills}}
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video id="vdvideo" ng-show="item.videoSrc.indexOf('http')==-1" controls>
                                        <source ng-src="{{item.videoSrc}}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <iframe ng-show="item.videoSrc.indexOf('http')!=-1" id="url_frame" ng-src="{{item.videoSrc}}" frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-sm-6 mar-t-20">
                                <div class="form-group">
                                    <label for="aboutme-description">@Resources.Resource.Aboutme</label>
                                    <textarea ng-model="item.videoDescription" rows="3" class="form-control" id="aboutme-description"
                                              placeholder="@Resources.Resource.AboutmePlaceholder">
                                        {{item.videoDescription}}
                                        </textarea>
                                    </div>
                                </div>
                        <div class="col-sm-6 mar-t-20">
                            <div class="form-group aboutme-levels-wrap">
                                <label class="level-title" for="aboutme-levels">I teach levels</label>
                                    <ul>
                                        <li><input type="checkbox" ng-model="item.levels['Beginner']" name="levels" value="Beginner" /><label>@Resources.Resource.Beginner</label></li>
                                        <li><input type="checkbox" ng-model="item.levels['Intermediate']" name="levels" value="Intermediate" /><label>@Resources.Resource.Intermediate</label></li>
                                        <li><input type="checkbox" ng-model="item.levels['Advanced']" name="levels" value="Advanced" /><label>@Resources.Resource.Advanced</label></li>
                                    </ul>
                                <ul>
                                    <li><input type="checkbox" ng-model="item.levels['UpperBeginner']" name="levels" value="UpperBeginner" /><label>@Resources.Resource.UpperBeginner</label></li>
                                    <li><input type="checkbox" ng-model="item.levels['UpperIntermediate']" name="levels" value="UpperIntermediate" /><label>@Resources.Resource.UpperIntermediate</label></li>
                                    <li><input type="checkbox" ng-model="item.levels['UpperAdvanced']" name="levels" value="UpperAdvanced" /><label>@Resources.Resource.UpperAdvanced</label></li>
                                </ul>
                            </div>
                        </div>
                                <div class="col-sm-12">
                                    <div class="custom-button save-new-field">
                                        <button ng-click="saveChanges()" type="button" id="saveAboutMe">@Resources.Resource.Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

