﻿@{
    Layout = null;
}

<div class="general-page">
    <div class="change-password">
        <div class="right-side">
            <div class="row">
                <div class="col-sm-12 unic-section">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="changepasserrorplace" class="serviceMessageMain gp-style js-service text-center">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-10" id="change_password_data">
                            <form id="changepassword">
                                <div class="form-group">
                                    <label for="oldpass">@Resources.Resource.Old_password</label>
                                    <input ng-model="oldPass" type="password" class="form-control" id="oldpass" placeholder="@Resources.Resource.Old_password">
                                </div>
                                <div class="form-group">
                                    <label for="newpasswords">@Resources.Resource.New_password</label>
                                    <input ng-model="newPass" data-rule-required="true" data-msg-required="@Resources.Resource.ProvideValidPassword"
                                           data-rule-minlength="6"
                                           data-msg-minlength="@Resources.Resource.Yourpasswordmustbe6"
                                           data-msg-maxlength="@Resources.Resource.Yourpasswordhasto18"
                                           data-rule-maxlength="16"
                                           type="password" class="form-control" id="newpasswords" placeholder="@Resources.Resource.New_password">
                                </div>
                                <div class="form-group">
                                    <label for="confpasswords">@Resources.Resource.ConfirmPass</label>
                                    <input ng-model="confPass" type="password"
                                           data-rule-equalto="#newpasswords"
                                           data-msg-equalto="@Resources.Resource.EnterTheSamePassword"
                                           class="form-control" id="confpasswords" placeholder="@Resources.Resource.ConfirmPass">
                                </div>
                                <div class="custom-button">
                                    <button ng-click="changePasswordClick()" id="change_password" type="submit" class="btn btn-default">@Resources.Resource.Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

