﻿<div class="row top-widget">
    <div class="col-md-4 col-xs-12">
        <div>
            <span class="st">{{statistic.thisMonth}} {{shared.globalCurrency}}</span><br>
            <span class="sc">@Resources.Resource.Spendingthismonth</span>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div>
            <span class="st">{{statistic.lastMonth}} {{shared.globalCurrency}}</span><br>
            <span class="sc">@Resources.Resource.Spentlastmonth</span>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div>
            <span class="st">{{statistic.total}} {{shared.globalCurrency}}</span><br>
            <span class="sc">@Resources.Resource.Totalspent</span>
        </div>
    </div>
</div>
