﻿@{
    Layout = null;
}
<script src="~/js/owl.carousel.min.js"></script>
<link href="~/Css/owl.carousel.css" rel="stylesheet">
<section class="admin teacher-profile cards-steps">
    <div class="top-panel">
        @*<a class="backLink"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to cards</a>*@
        <a class="remove" data-toggle="modal" data-target="#andTest"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="middle-panel">
        <div class="step-count">Card <span>{{currentCardsNumber}}</span> Of {{cards.length}}</div>
        <ul>
            <li ng-class="($index+1<=cards.length - currentCardsNumber || cards.length - currentCardsNumber ===0)?'current':'next'" ng-repeat="card in cards"></li>
        </ul>
    </div>
    <div class="card-quast">
        <form action="#">
            <a class="next-quast"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <div ng-if="card.Type === '1'" class="quast-type-wrap image-answ-wrap">
                <span class="quast">{{card.Question}}</span>
                <div class="card-answ image-answ">
                    <div class="answ-item" ng-repeat="image in card.Answers">
                        <div class="choice"><input type="radio" name="select" ng-value="image.Id" ng-model="data.answer" /><label>{{$index + 1}}.)</label></div>
                        <div class="img-wrap"><img ng-src="{{image.ImageSrc}}" /></div>
                    </div>
                    @*<div class="answ-item wrong-answ">
                        <div class="choice"><input type="radio" name="select" value="" /><label>Б.</label></div>
                        <div class="img-wrap"><img src="~/Images/formula1_2.png" /></div>
                    </div>
                    <div class="answ-item success-answ">
                        <div class="choice"><input type="radio" name="select" value="" /><label>В.</label></div>
                        <div class="img-wrap"><img src="~/Images/formula1_2.png" /></div>
                    </div>*@
                </div>
                <button ng-click="reply()" type="button" class="btn">Answer</button>
            </div>
            @*<div class="quast-type-wrap write-word-answ-wrap ">
                <span class="quast">Listen to audio and choose the missed words</span>
                <a class="audio-answ"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
                <audio class="hidden"></audio>
                <div class="card-answ write-word-answ">
                    <div class="answ-item">
                        <div class="choice">English</div>
                    </div>
                    <div class="answ-item">
                        <div class="choice">German</div>
                    </div>
                    <div class="answ-item active">
                        <div class="choice">German</div>
                    </div>
                </div>
                <div class="field-answer">
                    <span>I don't speak</span>
                    <div class="current-answ">No Answer</div>.
                </div>
                <div class="field-answer">
                    <span>I don't speak</span>
                    <div class="current-answ success-answ">English</div>.
                </div>
                <div class="field-answer">
                    <span>I don't speak</span>
                    <div class="current-answ wrong-answ">English</div>.
                </div>
            </div>*@
            <div ng-if="card.Type === '0' || card.Type === '2' || card.Type === '4'" class="quast-type-wrap write-word-answ-wrap microphone-answ-wrap ">
                @*<span class="quast">Translate the text and say missing word using microphone</span>*@
                @*<div class="card-answ microphone-answ">Я не говорю по испански</div>*@
                <a ng-if="card.Type === '0'" ng-click="RecognizerStart()" class="audio-answ"><i class="fa fa-microphone" aria-hidden="true"></i></a>
                <div style="color: black" class="field-answer">
                    <span>{{card.Question}}</span>
                    <input ng-model="data.answer" style="color:#333" ng-disabled="card.Type === '0'" type="text" class="current-answ" />.
                </div>
                @*<div class="field-answer">
            <span>I don't speak</span>
            <div class="current-answ success-answ">English</div>.
        </div>
        <div class="field-answer">
            <span>I don't speak</span>
            <div class="current-answ wrong-answ">English</div>.
            <div class="correct-answer">I don't speak Spanich</div>
        </div>*@
                <button ng-click="reply()" type="button" class="btn">Answer</button>
            </div>

            @*<div class="quast-type-wrap write-word-answ-wrap select-word-wrap ">
                <span class="quast">Select the words in the correct order</span>
                <div class="card-answ write-word-answ">
                    <div class="answ-item">
                        <div class="choice">is</div>
                    </div>
                    <div class="answ-item">
                        <div class="choice">What</div>
                    </div>
                    <div class="answ-item">
                        <div class="choice">your</div>
                    </div>
                    <div class="answ-item">
                        <div class="choice">name</div>
                    </div>
                </div>
                <div class="field-answer">
                    <div class="current-answ correct-answer">What</div>
                    <div class="current-answ wrong-answ">is</div>
                    <div class="current-answ wrong-answ">your</div>
                    <div class="current-answ correct-answer">name?</div>
                </div>
                <div class="correct-answer">What is your name?</div>
            </div>*@

            <div ng-if="card.Type === '3'" class="quast-type-wrap write-word-answ-wrap choice-answ-wrap ">
                @*<span class="quast">Listen the audio and answer on the question</span>
                <a class="audio-answ"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
                <audio class="hidden"></audio>*@
                <span class="quast second-quast">{{card.Question}}</span>
                <div class="field-answer-wrap">
                    <div class="field-answer" ng-repeat="test in card.Answers" >
                        <input ng-model="data.answer" type="radio" name="selects" ng-value="test.Id"/>
                        <label><span>{{$index + 1}}.) </span>{{test.Variant}}</label>.
                    </div>
                    @*<div class="field-answer wrong-answer">
                        <input type="radio" name="select" value="" />
                        <label><span>B.</span>Our lives were likewise affected by the phases of the moon.</label>
                    </div>
                    <div class="field-answer correct-answer">
                        <input type="radio" name="select" value="" />
                        <label><span>C.</span>Our lives were likewise affected by the phases of the moon.</label>
                    </div>
                    <div class="field-answer">
                        <input type="radio" name="select" value="" />
                        <label><span>D.</span>The moon is a mysterious orb afloat in the sky.</label>
                    </div>*@
                </div>
                <button ng-click="reply()" type="button" class="btn">Answer</button>
            </div>
        </form>
    </div>
    <div class="bottom-panel">
        <a href="#">How it works <i class="fa fa-question-circle" aria-hidden="true"></i></a>
    </div>
</section>
<!-- Modal -->
<div id="andTest" class="cardsPopup modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Вы уверены что хотите завершить тест?</h4>
            </div>
            <div class="modal-body text-center">
                <p>Будут засчитаны только вопросы на которые вы дали ответ.</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Да</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
            </div>
        </div>

    </div>
</div>