﻿@{
    Layout = null;
}
<style>
    .right-right-content {
        display: none;
    }

    body .left-left-content {
        width: 100%
    }

</style>
<section class="admin teacher-profile cards-group teacher-cards-group">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="group-cards-wrap">
                    <div class="control-panel">
                        <span class="cards-group-title">Group</span>
                        <a class="add" href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add Group</a>
                        <div class="sortBy-wrap">
                            <a class="search" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <div class="filter-wrap">
                                <a class="filter" href="#"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
                                <ul>
                                    <li class="sort-name">Sort by:</li>
                                    <li>Alphabet</li>
                                    <li>level</li>
                                    <li>Colour</li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-wrap">
                            <form class="search">
                                <input ng-model="models.groupname" type="search" />
                                <button ng-click="addNewGroup()" type="button" class="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                                <button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div class="group-list-wrap">
                            <form>
                                <div ng-repeat="group in groups" class="group-item bl-item">
                                    <div class="item-descr" ng-click ="clickOnGroup($event)">
                                        <div class="left-side">
                                            <label class="item">{{group.Name}}</label>
                                            <span class="cardsNumber">{{group.Cards.length}} cards</span>
                                        </div>
                                        <div class="right-side">
                                            <ul class="cards-level">
                                                <li ng-repeat="level in getAllLevels(group.Cards)">{{level}}</li>
                                            </ul>
                                            <span class="changeColor"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div style="display: none" class="combo">
                                        <div ng-repeat="card in group.Cards" class="child-group-item" style="display: block">
                                            <h3 >{{card.Title}}</h3>
                                            <span>{{card.TypeCardName}}, {{card.Level}}</span>
                                            <a ng-click="deleteCard(group,card)" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </div>
                                        <div  drop-container  
                                             on-drag-enter="dropStartEnter($event, $dragData)"
                                             on-drag-over="dropDragOver($event, $dragData)"
                                             on-drag-leave="onDragLeave($event, $dragData)"
                                             on-drop="onDrop($event, $dragData,group)" class="child-group-item dragAndDrop" style="display: block">
                                            <span>Drag & Drop a card</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="group-cards-wrap">
                    <div class="control-panel">
                        <span class="cards-group-title">Cards</span>
                        <div class="sortBy-wrap">
                            <a class="search" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <div class="filter-wrap">
                                <a class="filter" href="#"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
                                <ul>
                                    <li class="sort-name">Sort by:</li>
                                    <li>Alphabet</li>
                                    <li>level</li>
                                    <li>Colour</li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-wrap">
                            <form class="search">
                                <input type="search" />
                                <button class="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                                <button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div class="group-list-wrap child-group-wrap">
                            <form>
                                <div id="myH1" drag-container="true" drag-data="card" on-drag-start="dragStart($event, $dragData)" on-drag-end="dragEnd($event, $dragData)" class="child-group-item" ng-repeat="card in cards">
                                    <h3>{{card.Title}}</h3>
                                    <span>{{card.TypeCardName}}, {{card.Level}}</span>
                                    <a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hidden">
    <form id="ChangeColor-form" class="changeColor-form">
        <input class="currentColor" type="hidden" value="" />
        <ul>
            <li class="grey current"><a href="#"></a></li>
            <li class="blue"><a href="#"></a></li>
            <li class="orange"><a href="#"></a></li>
            <li class="purple"><a href="#"></a></li>
            <li class="green"><a href="#"></a></li>
        </ul>
        <a href="#" class="delete">Delete</a>
    </form>
</div>
<script>
        //home task
        $('.cards-table-home').DataTable({
            "autoWidth": true,
            "oLanguage": {
                "sSearch": "",
            },
            language: {
                searchPlaceholder: "Enter information to search..."
            },
            "dom": '<"top" flp>rt<"bottom"flp>'
        });
        //group cards

    $('.group-cards-wrap .group-item .item-descr').click(function () {
        if ($(this).parent().hasClass('active')) {
            $(this).parent().removeClass('active');
        } else {
            $('.group-cards-wrap .group-item').removeClass('active')
            $(this).parent().addClass('active')
        }
    })

        //call filter-list
        $('.group-cards-wrap .sortBy-wrap .filter').click(function () {
            $(this).next('ul').slideToggle(100);
            return false;
        })
        //call search panel
        $('.group-cards-wrap .add').click(function () {
            $(this).parent('.control-panel').children('.search-wrap').slideToggle(300);
            return false;
        })
        //remove child element
        $('.group-item .child-group-item .close').click(function () {
            $(this).parent().remove();
            return false;
        })
        //change border color when click circle
        $('.changeColor-form ul li a').click(function () {
            $('.changeColor-form ul li').removeClass('current');
            $(this).parent().addClass('current');
            var currentColor = $(this).css('background-color');
            $(this).closest('.group-item').css('border-color', currentColor);
            return false;
        })



        //cards
        $('.card-answ .answ-item input').click(function () {
            if (!$(this).parent().parent().hasClass('active')) {
                $('.card-answ .answ-item').removeClass('active')
                $(this).parent().parent().addClass('active')
            }
        })

        $('.card-quast .next-quast.active , .card-quast form .btn.active').click(function () {
            $('.card-quast .next-quast.active , .card-quast form .btn.active').removeClass('active');
        });


</script>