﻿@{
    Layout = null;
}
<style>
    .right-right-content {
        display: none;
    }

    body .left-left-content {
        width: 100%
    }
</style>
<section class="admin teacher-profile cards-home">
    <div class="content-wrap">
        <div class="bgc-content-wrap ft clearfix">
            <div class="col-xs-12">
                <!-- Button trigger modal -->
                @*<div class="link-wrap">
                    <a ng-href="#/homeworkdetails/" class="btn btn-primary btn-lg addHome">Add Home Work</a>
                    <a href="#" class="btn btn-primary btn-lg edit">Edit</a>
                    <a href="#" class="btn btn-primary btn-lg copy">Copy</a>
                    <a href="#" class="btn btn-primary btn-lg delete">Delete</a>
                </div>*@
                <table id="table" class="cards-table-home">
                    <thead>
                        <tr>
                            <th>Teacher</th>
                            <th>Group</th>
                            <th>Date</th>
                            <th>Due date</th>
                            <th>Score</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="home in homeworks">
                            <td class="name"><a>{{home.StudentName}}</a></td>
                            <td>{{home.GroupName}}</td>
                            <td>{{home.CreationDate}}</td>
                            <td>{{home.PlanForComplete}}</td>
                            <td>{{home.Statistic?home.Statistic:'0 / 0 / 0'}}</td>
                            <td><span ng-if="home.Status === 'Done'">{{home.Status}}</span><a ng-if="home.Status !== 'Done'" class="review" ng-href="#/godohomeworkcontroller/{{home.Id}}">{{home.Status}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
        //home task
        $('.cards-table-home').DataTable({
            "autoWidth": true,
            "oLanguage": {
                "sSearch": "",
            },
            language: {
                searchPlaceholder: "Enter information to search..."
            },
            "dom": '<"top" flp>rt<"bottom"flp>'
        });
        //group cards

        //call filter-list
        $('.group-cards-wrap .sortBy-wrap .filter').click(function () {
            $(this).next('ul').slideToggle(100);
            return false;
        })
        //call search panel
        $('.group-cards-wrap .sortBy-wrap .search').click(function () {
            $(this).parent('.sortBy-wrap').next('.search-wrap').slideToggle(300);
            return false;
        })
        //remove child element
        $('.group-item .child-group-item .close').click(function () {
            $(this).parent().remove();
            return false;
        })
        //change border color when click circle
        $('.changeColor-form ul li a').click(function () {
            $('.changeColor-form ul li').removeClass('current');
            $(this).parent().addClass('current');
            var currentColor = $(this).css('background-color');
            $(this).closest('.group-item').css('border-color', currentColor);
            return false;
        })
        //call popup and check current border color
        $('.group-item .changeColor').click(function () {
            var currentBorder = $(this).closest('.group-item').css('border-left-color');
            $('.changeColor-form ul li').each(function () {
                if ($(this).children('a').css('background-color') == currentBorder) {
                    $('.changeColor-form ul li').removeClass('current');
                    $(this).addClass('current');
                }
            })
  
            if ($(this).next('.changeColor-form').is(":visible")) {
                $(this).next('.changeColor-form').hide();
            } else {
                $('.changeColor-form').show();
                $(this).parent().append($('.changeColor-form'));
            }
            return false;
        })


        //cards
        $('.card-answ .answ-item input').click(function () {
            if (!$(this).parent().parent().hasClass('active')) {
                $('.card-answ .answ-item').removeClass('active')
                $(this).parent().parent().addClass('active')
            }
        })

        $('.card-quast .next-quast.active , .card-quast form .btn.active').click(function () {
            $('.card-quast .next-quast.active , .card-quast form .btn.active').removeClass('active');
        });


</script>
