﻿@{
    Layout = null;
}
<section class="admin teacher-profile cards-group">
    <div class="top-panel">
        <a ng-href="#/homework" class="backLink"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
    </div>
    <h2 class="page-title">Add Home Work</h2>
    <div class="form-group save-wrap">
        <input class="btn" type="button" value="Save" ng-click="addNewCard()" />
    </div>
    <div class="select-wrap">
        <div class="form-group">
            <label for="name">Student</label>
            <select ui-select2 ng-model="model.studentId" class="js-select2-location" id="student">
                <option ng-repeat="student in students" ng-checked="!$index" value="{{student.Id}}">{{student.Name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="datetimepicker4">Due date</label>
            <input type='text' class="form-control" id='datetimepicker4' />
        </div>
    </div>
    <div class="group-cards-wrap">
        <div class="control-panel">
            <span class="cards-group-title">Group</span>
            <div class="sortBy-wrap">
                <a class="search"><i class="fa fa-search" aria-hidden="true"></i></a>
                <div class="filter-wrap">
                    <a class="filter"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
                    <ul>
                        <li class="sort-name">Sort by:</li>
                        <li>Alphabet</li>
                        <li>level</li>
                        <li>Colour</li>
                    </ul>
                </div>
            </div>
            <div class="search-wrap">
                <form class="search">
                    <input type="search" />
                    <button class="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                    <button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="group-list-wrap">
                <form>
                    <div class="group-item bl-item" ng-repeat="group in groups">
                        <div class="left-side">
                            <input type="checkbox" ng-model="group.checked" />
                            <label class="item">{{group.Name}}</label>
                            <span class="cardsNumber">{{group.Cards.length}} cards</span>
                        </div>
                        <div class="right-side">
                            <ul class="cards-level">
                                <li ng-repeat="level in getAllLevels(group.Cards)">{{level}}</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
