﻿@{
    Layout = null;
}
<div class="col-md-9">
    <div class="general-page page-assingments pad-top-0">
        <div class="right-side pad-0">
            <div class="row">
                <div class="col-sm-12 unic-section mar-bot-0 pad-0">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 btn-wrap">
                            @if (User.IsInRole("Presenter"))
                            {
                                <input role="tab" data-toggle="tab" data-target="#vidgets" type="button" class="custom-button btn add-new-assingment" ng-click="shared.addNewAssingment()" value="@Resources.Resource.Addassingment" href="#assignments-widget" />
                            }
                        </div>
                        <div @(User.IsInRole("Presenter") ? "role=tab data-toggle=tab data-target=#vidgets" : "") ng-click="clickToAssingment(assign, $event)" class="col-sm-12 col-xs-12 assig-media" ng-repeat="assign in myAssingments">
                            @if (!User.IsInRole("Presenter"))
                            {
                                <div class="hidden" id="hd" data-toggle="tab" data-target="#vidgets"></div>
                            }
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" ng-model="assign.image" ng-src="{{assign.image}}" alt="" />
                                </div>
                                <div class="media-body">
                                    <h4 ng-model="assign.topic" class="media-heading">{{assign.topic}}</h4>
                                    <p ng-bind-html="assign.description | trust" class="text" ng-model="assign.description">
                                        {{assign.description}}
                                    </p>
                                    <p class="ava-name">
                                        <img ng-src="{{assign.student.profilePicture}}" alt="">
                                        <span>{{assign.student.name}}</span>
                                    </p>
                                    <p ng-if="assign.uploadFilePath" class="download-file">
                                        <span class="text">{{assign.uploadFilePath.split('_')[1]}}</span>
                                        <a download="{{assign.uploadFilePath.split('_')[1]}}" ng-href="{{assign.uploadFilePath}}" ng-model="assign.uploadFilePath" class="download">Download</a>
                                    </p>
                                    <audio ng-attr-id="{{'audio' + assign.id}}" ng-show="assign.uploadMessagePath" controls="controls">
                                        <source ng-model="assign.uploadMessagePath" ng-src="{{assign.uploadMessagePath}}" type="audio/mpeg" />
                                    </audio>
                                    <h4>@Resources.Resource.Answer :</h4>
                                    <p ng-bind-html="assign.answer | trust" class="text">
                                        {{assign.answer}}
                                    </p>
                                </div>
                            </div>
                            <span ng-if="assign.state=='Pending' || assign.state=='Unchecked'" class="big-ico">
                                <img src="~/Images/clock.png" />
                            </span>
                            <span ng-if="assign.state=='Checked'" class="big-ico">
                                <img src="~/Images/success.png" />
                            </span>
                            <span ng-if="assign.state=='Wrong'" class="big-ico">
                                <img src="~/Images/error.png" />
                            </span>
                        </div>
                        <div class="col-sm-12 pagination-assig">
                            <div class="row ver-center">
                                <div class="col-sm-6">
                                    <span ng-hide="!shared.currentPageOfAssingments" ng-click="getNextPrevPage(false)" class="pull-left pagin-left">@Resources.Resource.PreviousPage</span>
                                </div>
                                <div class="col-sm-6">
                                    <span ng-hide="myAssingments.length<3" ng-click="getNextPrevPage(true)" class="pull-right pagin-right">@Resources.Resource.NextPage</span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!myAssingments.length" class="col-sm-12 note-sov">
                            <p>@Resources.Resource.Youdonothavassingments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>