﻿@{
    var smiles = new dynamic[]
    {new {sh = "{Smile-1.png}",src="/Images/smiles/Smile-1.png"},
        new {sh = "{Smile-2.png}",src="/Images/smiles/Smile-2.png"},
        new {sh = "{Smile-3.png}g",src="/Images/smiles/Smile-3.png"},
        new {sh = "{Smile-4.png}",src="/Images/smiles/Smile-4.png"},
        new {sh = "{Smile-5.png}",src="/Images/smiles/Smile-5.png"},
        new {sh = "{Smile-6.png}",src="/Images/smiles/Smile-6.png"},
        new {sh = "{Smile-7.png}",src="/Images/smiles/Smile-7.png"},
        new {sh = "{Smile-8.png}",src="/Images/smiles/Smile-8.png"},
        new {sh = "{Smile-9.png}",src="/Images/smiles/Smile-9.png"},
        new {sh = "{Smile-10.png}",src="/Images/smiles/Smile-10.png"},
        new {sh = "{Smile-11.png}",src="/Images/smiles/Smile-11.png"},
        new {sh = "{Smile-12.png}",src="/Images/smiles/Smile-12.png"},
        new {sh = "{Smile-13.png}",src="/Images/smiles/Smile-13.png"},
        new {sh = "{Smile-14.png}",src="/Images/smiles/Smile-14.png"},
        new {sh = "{Smile-15.png}",src="/Images/smiles/Smile-15.png"},
        new {sh = "{Smile-16.png}",src="/Images/smiles/Smile-16.png"},
        new {sh = "{Smile-17.png}",src="/Images/smiles/Smile-17.png"},
        new {sh = "{Smile-18.png}",src="/Images/smiles/Smile-18.png"},
        new {sh = "{Smile-19.png}",src="/Images/smiles/Smile-19.png"},
        new {sh = "{Smile-20.png}",src="/Images/smiles/Smile-20.png"},
        new {sh = "{Smile-21.png}",src="/Images/smiles/Smile-21.png"},
        new {sh = "{Smile-22.png}",src="/Images/smiles/Smile-22.png"},
        new {sh = "{Smile-23.png}",src="/Images/smiles/Smile-23.png"},
        new {sh = "{Smile-24.png}",src="/Images/smiles/Smile-24.png"},
        new {sh = "{Smile-25.png}",src="/Images/smiles/Smile-25.png"},
        new {sh = "{Smile-26.png}",src="/Images/smiles/Smile-26.png"},
        new {sh = "{Smile-27.png}",src="/Images/smiles/Smile-27.png"},
        new {sh = "{Smile-28.png}",src="/Images/smiles/Smile-28.png"},
        new {sh = "{Smile-29.png}",src="/Images/smiles/Smile-29.png"},
        new {sh = "{Smile-30.png}",src="/Images/smiles/Smile-30.png"},

    };
}
<div class="col-md-9">
    <div id="showChatVidget" role="tab" data-toggle="tab" data-target="#vidgets"></div>
    <div class="chat-wrap ">
        <div class="scroll"></div>
        <div class="scroll"></div>
        <audio loop id="call" controls="controls">
            <source src="~/Content/melody2.mp3" type="audio/mpeg" />
        </audio>
        <div class="chat-window ">
            <section class="chat-header teach-title">
                <div class="container-fluid">
                    <div class="row flex">
                        <div ng-if="shared.selectedDialog" class="col-sm-6 col-xs-9">
                            <p id="chatPartner">
                                <a href="my-account#/chat" role="tab" data-toggle="tab" data-target="#vidgets">
                                    <i class="hidden-lg hidden-md visible-sm visible-xs fa fa-angle-left" aria-hidden="true"></i>
                                    <span>@Resources.Resource.Chatwith</span> {{shared.selectedDialog.Dialog.Name}}
                                </a>
                            </p>
                            <span class="for-point" id="onOrOff">{{getStatus()}}</span>
                        </div>
                        <div class="col-sm-6 col-xs-3 buttons-js">
                            <a ng-if="checkVideoSupport()" ng-click="call()" ng-class="shared.selectedDialog && shared.selectedDialog.Active?'':'disable'" ng-attr="shared.selectedDialog && shared.selectedDialog.Active?'':'disabled'" data-client="{{shared.selectedDialog.Dialog.Id}}" class="trial-button-style" id="videocall">
                                <span class="hidden-xs">@Resources.Resource.VideoCall</span>
                            </a>
                            <a id="#calendar" class="btn-calendar-wrap hidden-md hidden-sm hidden-lg">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section ng-show="shared.selectedDialog" class="chat-main">
                <div class="container-fluid">
                    <div class="row pos-rel-xs">
                        <div class="col-md-12 col-sm-12 col-xs-12 chat-side">
                            <div>
                                <div data-clientid="{{shared.selectedDialog.Dialog.Id}}" class="dlg" data-dialogid="">
                                    <div id="chat-preloader"></div>
                                    <div ng-repeat="reply in shared.selectedDialog.Replies.slice().reverse()" data-unread="" data-messageid="" ng-class="getClass(reply,shared.selectedDialog.Dialog)" class="col-md-12 col-sm-12 col-xs-12  chat-text">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" ng-src="{{getImage(reply,shared.selectedDialog.Dialog)}}" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading message-text" ng-if="reply.Message !== null" ng-bind-html="reply.Message | trust">
                                                    {{reply.Message}}
                                                </p>
                                                <p class="chat-date">
                                                    {{shared.getDate2(reply.UtcDateTime)}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row for-scroll-height">
                        <div class="col-sm-12 form-group chat-message">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 pad-r-xs-0">
                                    <div contenteditable="true" ng-keypress="keyDown($event,shared.selectedDialog)" data-placeholder="@Resources.Resource.PleaseEnterMessage" id="sendMessage" class="textarea smile-text txt1"></div>
                                    <div class="chat-action">
                                        <span class="smile"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
                                        <span ng-click="addFileChat()" class="add-file"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                                        <input onchange="angular.element(this).scope().uploadFiles()" id="chatloadfiles" class="addFileChat" type="file">
                                    </div>
                                    <div class="smile-block custom-scroll3">
                                        @foreach (var smile in smiles)
                                        {
                                            <img class="smile-img" src="@smile.src" alt="">
                                        }
                                    </div>
                                    <div ng-click="sendMessage('.txt1',shared.selectedDialog)" class="grey-button send-message"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section ng-if="!shared.selectedDialog" class="no-choice-chat">
                <div class="flex-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Select a dialog from the side bar --></p>
                                <a href="@Url.Action("ListOfTeachers","ListOfTeachers", new {area = string.Empty})" class="trial-button-style">Find a teacher</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="hidden">
                <section id="video-chat" class="video-chat">
                    <div class="inner-video-chat">
                        <p class="top-name">{{shared.selectedVideoDialog.Dialog.Name}} <span class="continue"></span></p>
                        <div ng-click="videoScroll()" class="full-screen "><i class="fa fa-compress" aria-hidden="true"></i></div>
                        <div class="close-video hidden-xs"><i class="fa fa-times" aria-hidden="true"></i></div>
                        <div class="video-wrapper">
                            <video id="remote" autoplay>
                                @Resources.Resource.YourBrowserDoesNotSupport
                            </video>
                        </div>
                        <div class="center-img-wrap">
                            <div class="center-video-img">
                                <div href="#" id="popup_toggle" class="popup_toggle ring">
                                    <div class="circlephone"></div>
                                    <div class="circle-fill"></div>
                                    <div class="img-circle">
                                        <div class="img-circleblock">
                                            <img ng-src="{{shared.selectedVideoDialog.Dialog.ProfilePicture}}" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-video">
                            <div class="cur-user">
                                <video autoplay id="local"></video>
                                <img src="~/Images/video-user.jpg" alt="" />
                            </div>
                            <div class="users hide">
                                <div class="user">
                                    <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                                    <img src="~/Images/video-user.jpg" alt="" />
                                </div>
                                <div class="user">
                                    <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                                    <img src="~/Images/video-user.jpg" alt="" />
                                </div>
                                <div class="user">
                                    <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                                    <img src="~/Images/video-user.jpg" alt="" />
                                </div>
                            </div>
                            <div class="controls">
                                <div ng-click="mute()" id="muteAudio" class="micro for-action"><i class="fa fa-microphone" aria-hidden="true"></i></div>
                                <div class="hide-chat for-action hidden-xs hidden-sm"><i class="fa fa-comment" aria-hidden="true"></i></div>
                                <div ng-click="hideVideo()" class="hide-video for-action"><i class="fa fa-video-camera" aria-hidden="true"></i></div>
                                <div ng-click="endCall()" id="end-call" class="end-call"><i class="fa fa-phone" aria-hidden="true"></i></div>
                            </div>
                        </div>
                        <div class="chat-side">
                            <div class="custom-scroll1 sc">
                                <div data-clientid="" class="dlg" data-dialogid="">
                                    <div id="chat-preloader"></div>
                                    <div ng-repeat="reply in shared.selectedVideoDialog.Replies.slice().reverse()" data-unread="" data-messageid="" ng-class="getClass(reply,shared.selectedVideoDialog)" class="col-md-12 col-sm-12 col-xs-12  chat-text">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" ng-src="{{getImage(reply,shared.selectedVideoDialog.Dialog)}}" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading message-text" ng-if="reply.Message !== null" ng-bind-html="reply.Message | trust">
                                                    {{reply.Message}}
                                                </p>
                                                <p class="chat-date">
                                                    {{shared.getDate2(reply.UtcDateTime)}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-messages">
                            <div class="for-scroll-height">
                                <div class="col-sm-12 form-group chat-message">
                                    <div class="col-sm-12 col-xs-12 pad-r-xs-0 flex">
                                        <div contenteditable="true" ng-keydown="keyDown($event,shared.selectedVideoDialog)" data-placeholder="Message" id="sendMessage" class="textarea smile-text txt2"></div>
                                        <div class="chat-action">
                                            <span class="smile"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
                                            <span class="add-file" ng-click="addFileChat('videochatloadfiles')"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                                            <input id="videochatloadfiles" onchange="angular.element(this).scope().uploadFiles(true)" class="addFileChat" type="file">
                                        </div>
                                        <div class="smile-block custom-scroll3">
                                            @foreach (var smile in smiles)
                                            {
                                                <img class="smile-img" src="@smile.src" alt="">
                                            }
                                        </div>
                                        <div ng-click="sendMessage('.txt2',shared.selectedVideoDialog)" class="grey-button send-message"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="big-cover"></div>
                <section id="video-chat-answer" class="video-chat-answer video-chat">
                    <div class="inner-video-chat">
                        <div class="full-screen hidden-xs"><i class="fa fa-compress" aria-hidden="true"></i></div>
                        <div class="close-video hidden-xs"><i class="fa fa-times" aria-hidden="true"></i></div>
                        <div class="items-wrap">
                            <div class="center-video-img">
                                <div href="#" id="popup_toggle" class="popup_toggle ring">
                                    <div class="circlephone"></div>
                                    <div class="circle-fill"></div>
                                    <div class="img-circle">
                                        <div class="img-circleblock">
                                            <img ng-src="{{shared.selectedVideoDialog.Dialog.ProfilePicture}}" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <p class="name">{{shared.selectedVideoDialog.Dialog.Name}}</p>
                            </div>
                            <div class="bottom-video">
                                <div class="controls">
                                    <div class="confirm-call-wrap">
                                        <a ng-click="confirmAnswer(false);" id="confrim-audio-call" class="video-answer micro for-action">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </a>
                                        <span>@Resources.Resource.Acceptwithoutvideo</span>
                                    </div>
                                    <div class="confrim-call-wrap">
                                        <a ng-click="confirmAnswer(true)" id="confirm-call" class="video-answer camera for-action">
                                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                                        </a>
                                        <span>@Resources.Resource.Acceptwithvideo</span>
                                    </div>
                                    <div class="confirm-call-wrap">
                                        <div ng-click="endCall()" id="end-call2" class="end-call">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </div>
                                        <span>@Resources.Resource.Declinethecall</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
