﻿@{
    Layout = null;
}
@using Xencore.Helpers
@model Domain.Entities.IdentityEntities.CustomUser
<script>
    var langData = @Html.Raw(ViewBag.Data);
</script>
<div class="general-page getLanguages">
    <div class="right-side">
        <div class="language">
            <form>
                <div id="change-language">
                    <div class="serviceMessageMain gp-style js-service text-center">
                        <span></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group custom-tags-input">
                                <label for="tags">@(User.IsInRole("Presenter") ? Resources.Resource.ITeach : Resources.Resource.Learning)</label>
                                <select ui-select2 ="@(User.IsInRole("Presenter")?"{maximumSelectionLength: 2, disabled:true}":"")" ng-model="ilearn" multiple class="js-example-tags" id="tags">
                                    @Html.GetTeachingLanguages();
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group custom-tags-input">
                                <label for="tags2">@Resources.Resource.Speak</label>
                                <select ui-select2 ng-model="ispeak" multiple class="js-example-tags" id="tags2">
                                    @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                        <div class="custom-button pull-left">
                            <button id="save_languages" ng-click="saveLanguages()" type="button" class="btn btn-default">@Resources.Resource.Save</button>
                        </div>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

