﻿@{
    Layout = null;
}
<div class="general-page experience-page">
    <div class="teacher-expiriens">
        <div class="right-side">
            <div class="new-exp teacher-exp row">
                <div class="col-sm-12 unic-section pad-0">
                    <div class="col-sm-12 old-field">
                        <p class="payment-title">@Resources.Resource.Education</p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="serviceMessageMain gp-style js-service text-center">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="eduItems fords" ng-repeat="edu in educations | filter:{ Deleted: false }">
                                <div class="col-sm-12 new-field">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>@Resources.Resource.Title</label>
                                            <input type="text" class="form-control"
                                                   placeholder="@Resources.Resource.EducationPlaceholder" ng-model="edu.Title" value="{{edu.Title}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="period">@Resources.Resource.Period</label>
                                            <select ng-model="edu.PeriodFrom" ui-select2 class="js-select2-period" id="period">
                                                @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                                {
                                                    if (i == DateTime.Now.Year)
                                                    {
                                                        <option value=@i selected="selected">@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value=@i>@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 second-period" >
                                        <div class="form-group">
                                            <select ng-model="edu.PeriodTo" ui-select2 class="js-select2-period2" id="period2">
                                                @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                                {
                                                    if (i == DateTime.Now.Year)
                                                    {
                                                        <option value="@i" selected="selected">@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>@Resources.Resource.DescriptionLower</label>
                                            <textarea ckeditor="options" ng-model="edu.Description" type="text" rows="6" class="form-control"
                                                      placeholder="@Resources.Resource.PeriodPlaceholder">
                                                {{edu.Description}}
                                            </textarea>
                                        </div>
                                        <span ng-click="deleteItem(educations, edu, $index)" class="remove-field" >
                                            <i class="fa fa-times"
                                               aria-hidden="true"></i> @Resources.Resource.delete
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div ng-click="addItem(educations)" data-class="eduItems" data-prefix="teach-desc" class="add-new-field">
                                <i class="fa fa-plus"
                                   aria-hidden="true"></i> @Resources.Resource.Addmore
                            </div>
                            <div class="col-sm-12">
                                <div class="custom-button save-new-field">
                                    <button ng-click="saveChanges(educations,'SaveEducation')" type="button" class="UpdateExp" data-prefix="teach-desc" data-action="UpdateTeacherExpiriens">@Resources.Resource.Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 unic-section pad-0">
                        <div class="col-sm-12 old-field">
                            <p class="payment-title">@Resources.Resource.WorkExperience</p>
                            <div class="row">
                                    <div class="workItems fords" ng-repeat="work in expiriences | filter:{ Deleted: false}">
                                        <div class="col-sm-12 new-field">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>@Resources.Resource.Title</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="@Resources.Resource.WorkExperiencesPlaceholder" ng-model="work.Title" value="{{work.Title}}">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="period">@Resources.Resource.Period</label>
                                                    <select ng-model="work.PeriodFrom" ui-select2 class="js-select2-period">
                                                        @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                                        {
                                                            if (i == DateTime.Now.Year)
                                                            {
                                                                <option value="@i" selected="selected">@i</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@i">@i</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 second-period">
                                                <div class="form-group">
                                                    <select ng-model="work.PeriodTo" ui-select2 class="js-select2-period2">
                                                        @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                                        {
                                                            if (i == DateTime.Now.Year)
                                                            {
                                                                <option value="@i" selected="selected">@i</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@i">@i</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>@Resources.Resource.DescriptionLower</label>
                                                    <textarea ckeditor="options" ng-model="work.Description" type="text" rows="6" class="form-control"
                                                              placeholder="@Resources.Resource.WorkExperiencesPerionPlaceholder">
                                                        {{work.Description}}
                                                    </textarea>
                                                </div>
                                                <span ng-click="deleteItem(expiriences, work, $index)" class="remove-field" ">
                                                    <i class="fa fa-times"
                                                       aria-hidden="true"></i> @Resources.Resource.delete
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                <div ng-click="addItem(expiriences)" data-class="eduItems" data-prefix="teach-desc" class="add-new-field">
                                    <i class="fa fa-plus"
                                       aria-hidden="true"></i> @Resources.Resource.Addmore
                                </div>
                                <div class="col-sm-12">
                                    <div class="custom-button save-new-field">
                                        <button ng-click="saveChanges(expiriences,'SaveExpiriences')" type="button" class="UpdateExp" data-prefix="teach-desc" data-action="UpdateTeacherExpiriens">@Resources.Resource.Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 unic-section pad-0">
                        <div class="col-sm-12 old-field">
                            <p class="payment-title">@Resources.Resource.Certifications</p>
                            <div class="row">
                                    <div class="certItems fords" ng-repeat="cert in certifications | filter:{ Deleted: false}">
                                        <span class="itemId"></span>
                                        <div class="col-sm-12 new-field">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="for-title">@Resources.Resource.Title</label>
                                                    <input type="text" class="form-control" id="for-title"
                                                           placeholder="@Resources.Resource.CertificationsPlaceholder" ng-model="cert.Title" value="{{cert.Title}}">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="period">@Resources.Resource.Period</label>
                                                    <select ui-select2 ng-model="cert.PeriodFrom" class="js-select2-period">
                                                        @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                                        {
                                                            if (i == DateTime.Now.Year)
                                                            {
                                                                <option value="@i" selected="selected">@i</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@i">@i</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 second-period">
                                                <div class="form-group">
                                                    <select ui-select2 ng-model="cert.PeriodTo" class="js-select2-period2">
                                                        @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                                        {
                                                            if (i == DateTime.Now.Year)
                                                            {
                                                                <option value="@i" selected="selected">@i</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@i">@i</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>@Resources.Resource.DescriptionLower</label>
                                                    <textarea ckeditor="options" type="text" rows="6" class="form-control" ng-model="cert.Description"
                                                              placeholder="@Resources.Resource.CertificationsPeriodPlaceholder">
                                                        {{cert.Description}}
                                                    </textarea>
                                                </div>
                                                <span ng-click="deleteItem(certifications, cert, $index)" class="remove-field">
                                                    <i class="fa fa-times"
                                                       aria-hidden="true"></i> @Resources.Resource.delete
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                <div ng-click="addItem(certifications)" data-class="eduItems" data-prefix="teach-desc" class="add-new-field">
                                    <i class="fa fa-plus"
                                       aria-hidden="true"></i> @Resources.Resource.Addmore
                                </div>
                                <div class="col-sm-12">
                                    <div class="custom-button save-new-field">
                                        <button ng-click="saveChanges(certifications,'SaveCertifications')" type="button" class="UpdateExp" data-prefix="teach-desc" data-action="UpdateTeacherExpiriens">@Resources.Resource.Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

