﻿<div class="col-md-12">
    <div class="no-messages">
        <p>No messages</p>
    </div>
</div>
<div class="modal fade learn-more additionalBonus" id="answerMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Answer to {{selectedUser.Name}}</h4>
            </div>
            <div class="modal-body">
                <form id="sndAnswer">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 input-group">
                            <input data-rule-required="true" data-rule-maxlength="500" name="subject" class="form-control" ng-model="answerSubject" type="text" placeholder="Input Subject" />
                        </div>
                        <div class="col-sm-12 col-xs-12 input-group">
                            <textarea data-rule-required="true" data-rule-maxlength="4000" name="answer" ng-model="answerTextMessage" placeholder="Enter answer" class="form-control">Enter response</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6 col-xs-6 ">
                        <div data-dismiss="modal" class="modal-custom-button cancel">Cancel</div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <div ng-click="sendMessage()" class="modal-custom-button next" disabled="disabled">Send Message</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="general-page students-enquiries pad-top-0">
    <div class="right-side pad-0">
        <div class="row">
            <div class="col-sm-12 unic-section mar-bot-0 pad-0 dataTables_wrapper">
                <div ng-if="!groups.legth">
                    <h2 style="color:#000">You have no any messages</h2>
                </div>
                <uib-accordion close-others="false">
                    <uib-accordion-group ng-repeat="group in groups">
                        <uib-accordion-heading class="image-wraps">
                            <img src="~/Images/openlang/user.png" alt="incognito" /> {{group.Name}} <span class="caret prof-caret"></span>
                            <div class="pull-right btn-group btn-group-xs cscs">
                                <button type="button" class="btn btn-success btn-xs" ng-click="selectAnswer($event,group)">@Resources.Resource.SendAnswer</button>
                            </div>
                        </uib-accordion-heading>
                        <table class="table table-hover tt dataTable">
                            <thead>
                                <tr>
                                    <th>@Resources.Resource.StudentRequest</th>
                                    <th class="full-message">@Resources.Resource.Text</th>
                                    <th>@Resources.Resource.Message/@Resources.Resource.Reply</th>
                                    <th>@Resources.Resource.SentDate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="message in group.Messages">
                                    <td>{{message.Subject}}</td>
                                    <td class="full-message">{{message.Text}}</td>
                                    <td>{{message.Input?'@Resources.Resource.Message':'@Resources.Resource.Reply'}}</td>
                                    <td>{{getDate(message.MessageCreated)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
<script>

    if($(".unic-section").is(":visible")) {
        $(".no-messages").hide();
    } else {
        $(".no-messages").show();
    }
    
</script>