﻿@using System.Threading
@{
    Layout = null;
    var locale = Thread.CurrentThread.CurrentCulture.Name;
}
<div class="col-md-9">
    @if (User.IsInRole("Company"))
    {
        <div statistic url="/api/CompanyDashboard/GetScheduleStatistic"></div>
    }
    else
    {
        <div statistic url="@(User.IsInRole("Presenter")?"/api/Statistic/GetTeacherStatitic":"/api/Statistic/GetStudentStatitic")"></div>
    }

    <div class="page-myLesson" style="background-color: #fff; padding: 30px 20px; border: 1px solid #e2e6e9;">
        @if (User.IsInRole("Company"))
        {
            <div class="teacher-calendar-selector">
                <div class="row">
                    <div style="padding-left: 0 !important" class="col-md-4 col-xs-12">
                        <select ui-select2 ng-model="shared.selectedStudentFromList">
                            <option value="own" selected="selected">@Resources.Resource.MyCalendar</option>
                            <option ng-repeat="student in shared.shortCompanyStudentsList" value="{{student.Id}}">{{student.Name}}</option>
                        </select>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="time-wrap">
                            <div class="getclass">@Resources.Resource.Time</div>
                            <div class="inLocalTimezones"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12"></div>
                </div>
            </div>
        }
        else if (User.IsInRole("Presenter"))
        {
            <div class="teacher-calendar-selector">
                <div class="row">
                    <div style="padding-left: 0 !important" class="col-md-6 col-lg-5 col-sm-6 col-xs-12">
                        <div ng-click="copyCurrentWeek()" class="custom-button save-btn">
                            <span>Copy current week to the next week</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6 col-lg-7 text-right">
                        <div class="time-wrap">
                            <div class="getclass">@Resources.Resource.Time</div>
                            <div class="inLocalTimezones"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12"></div>
                </div>
            </div>
        }
        else
        {
            <div class="teacher-calendar-selector">
                <div class="row">
                    <div style="padding-left: 0 !important" class="col-md-4 col-xs-12">
                        <select ui-select2 ng-model="shared.selectedTeacherFromList">
                            <option value="own" selected="selected">@Resources.Resource.MyCalendar</option>
                            <option ng-repeat="teacher in shared.shortTeachersList" value="{{teacher.Id}}">{{teacher.Name}}</option>
                        </select>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="time-wrap">
                            <div class="getclass">@Resources.Resource.Time</div>
                            <div class="inLocalTimezones"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12"></div>
                </div>
            </div>
        }
        <div id="mylessonscalendar" class="customcalendar"
             data-basic="@Resources.Resource.basiclessons"
             data-premium="@Resources.Resource.premiumlessons"
             data-trial="@Resources.Resource.triallessons"
             data-unconfirmed="@Resources.Resource.unconfirmedlessons"
             data-confirmed="Available hours"
             data-prev-week="@Resources.Resource.PreviousPage"
             data-next-week="@Resources.Resource.NextPage"
             data-locale="@locale"></div>
    </div>
</div>
