﻿@{
    Layout = null;
}
<div class="col-md-9">
    <div class="general-page pad-top-0 my_words_page">
        <div class="right-side pad-0">
            <div class="row">
                <div class="col-sm-12 unic-section mar-bot-0 pad-0">
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <input role="tab" data-toggle="tab" data-target="#vidgets" type="button" class="custom-button btn add-new-assingment btn-add-word" ng-click="shared.addNewWord()" value="@Resources.Resource.Addnewword" href="#my-words-widget" />
                                </div>
                                <div class="col-md-6 flex search-wrap">
                                    <input id="filter" placeholder="@Resources.Resource.Search" class="form-control" type="text" ng-model="filter" ng-model-options='{ debounce: 1000 }'>
                                </div>
                            </div>
                        </div>
                        <div id="no-animate-words" role="tab" data-toggle="tab" data-target="#vidgets" ng-click="shared.selectWord(word, $event)" class="col-sm-12 my-words-media" ng-repeat="word in mywords">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" ng-src="{{word.image}}" alt="" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{word.word}}<span ng-show="word.audioPath" ng-click="playAudio(word)" class="speacker"><i class="fa fa-volume-up" aria-hidden="true"></i></span></h4>
                                    <audio ng-attr-id="{{'word' + word.id}}" class="hide" controls="controls">
                                        <source ng-model="word.audioPath" ng-src="{{word.audioPath}}" type="audio/mpeg" />
                                    </audio>
                                    <p ng-bind-html="word.description | trust" class="desc">
                                        {{word.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pagination-assig p-my-words">
                            <div class="col-sm-6">
                                <span ng-hide="shared.selectedWordsPage ===0" ng-click="changePage(false)" class="pull-left pagin-left">@Resources.Resource.PreviousPage</span>
                            </div>
                            <div class="col-sm-6">
                                <span ng-hide="mywords.length<5" ng-click="changePage(true)" class="pull-right pagin-right">@Resources.Resource.NextPage</span>
                            </div>
                        </div>
                        <div ng-if="!mywords.length" class="col-sm-12 note-sov">
                            <p>@Resources.Resource.Youdonothavewords</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>