﻿@{
    Layout = null;
}
@*<div class="myTransfer">
        <table id="mystudents1" dt-options="dtOptions" dt-instance="dtInstance" datatable="ng" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
               data-info="@Resources.Resource.showingstart" data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
            <thead>
                <tr>
                    <th>@Resources.Resource.studentsname</th>
                    <th>@Resources.Resource.Learning</th>
                    <th>@Resources.Resource.DATE</th>
                    <th>Lessons</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transfer in tableOfTransfers">
                    <td><img ng-src="{{transfer.ProfilePicture}}" /> {{transfer.Name}}</td>
                    <td>{{transfer.Ilearn}}</td>
                    <td>{{getDate(transfer.CreationDate)}}</td>
                    <td>{{transfer.Count + ' ' + transfer.Type}} lessons</td>
                </tr>
            </tbody>
        </table>
    </div>*@
<div class="myTransfer dataTables_wrapper no-footer">
    <table id="mystudents1" class="ng-isolate-scope no-footer dataTable">
        <thead class="main-table-head">
            <tr class="table-head">
                <th>Student's Name</th>
                <th>I am learning</th>
                <th>Date</th>
                <th>Type</th>
                <th>Number</th>
                <th>Left</th>
                <th></th>
            </tr>
        </thead>

        <tbody class="table-item" ng-repeat="transfer in tableOfTransfers" ng-init="sectionIndex = $index">
            <tr row-id="{{$index}}" class="table-upper-row">
                <td><img ng-src="{{transfer.ProfilePicture}}" /> {{transfer.Name}}</td>
                <td>{{transfer.Ilearn}}</td>
                <td>{{getDate(transfer.CreationDate)}}</td>
                <td>{{transfer.Type}}</td>
                <td>{{transfer.Count}}</td>
                <td ng-class="{LeftEmpty:transfer.Left === 0}" class="count"><span>{{transfer.Left}}</span></td>
                <td>
                    <div class="arrow">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </td>
            </tr>
            <tr class="table-lower-row tabel-lower-title" show-parent-id="{{sectionIndex}}">
                <td>#</td>
                <td>Date</td>
                <td>Teacher</td>
                <td>Level</td>
                <td>Attended</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="lesson in transfer.Lessons"  class="table-lower-row" show-parent-id="{{sectionIndex}}">
                <td>{{$index+1}}</td>
                <td>{{getDate(lesson.Date)}}</td>
                <td>{{lesson.TeacherName}}</td>
                <td>{{lesson.Level}}</td>
                <td>{{lesson.Attended}}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

     
        @*<tbody class="table-item">
            <tr class="table-upper-row" row-id="1">
                <td><img src="~/img/photo1.jpg" /> Charlie Nikolson</td>
                <td>
                    English, Italian,
                    French, Spain
                </td>
                <td>
                    12/12/2017
                    03:00
                </td>
                <td>Subscriptions B-4</td>
                <td>10</td>
                <td class="count"><span>0</span></td>
                <td><div class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></div></td>
            </tr>
            <tr class="table-lower-row tabel-lower-title" show-parent-id="1">
                <td>#</td>
                <td>Date</td>
                <td>Teacher</td>
                <td>Level</td>
                <td>Attended</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-lower-row" show-parent-id="1">
                <td>1</td>
                <td>3/09/2017</td>
                <td>David J.</td>
                <td>B2+</td>
                <td>Yes</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-lower-row" show-parent-id="1">
                <td>1</td>
                <td>3/09/2017</td>
                <td>David J.</td>
                <td>B2+</td>
                <td>Yes</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>*@
    </table>
</div>

