﻿@{
    Layout = null;
}
@using Xencore.Extentions
@model ICollection<Domain.Entities.PaymentTransactions>
<div class="payment-received">
    <div class="row">
        <div class="col-sm-12 unic-section">
            <table id="paymentreceipts" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage" data-nodata="@Resources.Resource.Nodataavailableintable"
                   data-empty="@Resources.Resource.infoEmpty"
                   data-info="@Resources.Resource.showingstart">
                <thead>
                    <tr>
                        <th>@Resources.Resource.DATE.ToUpperFirstCharacter()</th>
                        <th>@Resources.Resource.AMOUNT.ToUpperFirstCharacter()</th>
                        <th>@Resources.Resource.Currency</th>
                        <th>@Resources.Resource.BONUS.ToUpperFirstCharacter()</th>
                        <th>@Resources.Resource.TransactionId</th>
                        <th>@Resources.Resource.PaymentMethod</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transact in Model.Where(x => x.Approved).OrderByDescending(x => x.CreateDate))
                    {
                        <tr>
                            <td><a target="_blank" href="@Url.Action("GetPageForPdf","MyAccount",new { paymentId = transact.PaymentId, area = string.Empty }, null)">@transact.CreateDate.ToString("dd/MM/yyyy")</a></td>
                            <td>@transact.Amount</td>
                            <td>@(transact.CurrenceAmount?.Split(' ')[0])</td>
                            <td>@(transact.Bonus) EUR</td>
                            <td>@transact.PaymentId.ToShort(25)</td>
                            <td>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <img src="~/Images/@(transact.PaymentMethod).png" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <md-table-container class="notifications-table-wrapper">
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column>@Resources.Resource.DATE.ToUpperFirstCharacter()</th>
                    <th md-column>@Resources.Resource.AMOUNT.ToUpperFirstCharacter()</th>
                    <th md-column>@Resources.Resource.Currency</th>
                    <th md-column md-numeric>@Resources.Resource.BONUS.ToUpperFirstCharacter()</th>
                    <th md-column md-numeric>@Resources.Resource.TransactionId</th>
                    <th md-column md-numeric>@Resources.Resource.PaymentMethod</th>

                </tr>
            </thead>
            <tbody md-body>
                @foreach (var transact in Model.Where(x => x.Approved).OrderByDescending(x => x.CreateDate))
                {
            <tr md-row>
                <td md-cell><a target="_blank" href="@Url.Action("GetPageForPdf","MyAccount",new { paymentId = transact.PaymentId, area = string.Empty }, null)">@transact.CreateDate.ToString("dd/MM/yyyy")</a></td>
                <td md-cell>@transact.Amount</td>
                <td md-cell>@(transact.CurrenceAmount?.Split(' ')[0])</td>
                <td md-cell>@(transact.Bonus) EUR</td>
                <td md-cell>@transact.PaymentId.ToShort(25)</td>
                <td md-cell>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="~/Images/@(transact.PaymentMethod).png" />
                        </div>
                    </div>
                </td>

            </tr>
                }
            </tbody>
        </table>
        <md-table-pagination md-limit="" md-total="" md-limit-options="true" md-page="" md-page-select="true"></md-table-pagination>
    </md-table-container>

</div>