﻿@{
    Layout = null;
}
@if (User.IsInRole("Presenter"))
{
    <div class="row top-widget">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div>
                <span class="st">{{statistic.scheduled}}</span><br>
                <span class="sc">@Resources.Resource.Scheduled</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div>
                <span class="st">{{statistic.unschuduled}}</span><br>
                <span class="sc">@Resources.Resource.Unscheduled</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div>
                <span class="st">{{statistic.past}}</span><br>
                <span class="sc">@Resources.Resource.Pastclasses</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div>
                <span class="st">{{statistic.students}}</span><br>
                <span class="sc">@Resources.Resource.Students</span>
            </div>
        </div>
    </div>
}
else
{
    <div class="row top-widget">
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div>
                <span class="st">{{statistic.scheduled}}</span><br>
                <span class="sc">@Resources.Resource.Scheduled</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div>
                <span class="st">{{statistic.past}}</span><br>
                <span class="sc">@Resources.Resource.Pastclasses</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
            <div>
                <span class="st">{{statistic.teachers}}</span><br>
                <span class="sc">@Resources.Resource.Teachers</span>
            </div>
        </div>
    </div>
}
