﻿@using System.Resources
@{
    Layout = null;
}
<div class="col-md-9">
    <div class="payment-received tutorial-wrap">
        <div class="row">
            <div class="col-md-12">
                <p>@Resources.Resource.Howtocreateanaccount</p>
                <video controls="controls" class="tut">
                    <source src="~/video/Howtocreateanaccount_converted.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="col-md-12">
                <p>@Resources.Resource.Howbooklesson</p>
                @if (User.IsInRole("Presenter"))
                {
                    <video controls="controls" class="tut">
                        <source src="~/video/book_lesson_teacher_converted.mp4" type="video/mp4" />
                    </video>
                }
                else
                {
                    <video controls="controls" class="tut">
                        <source src="~/video/How_to_book_a_lesson_converted.mp4" type="video/mp4" />
                    </video>
                }
            </div>
            <div class="col-md-12">
                <p>@Resources.Resource.Howtopupbalance</p>
                <video controls="controls" class="tut">
                    <source src="~/video/How_to_top_up_balance_converted.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="col-md-12">
                <p>@Resources.Resource.MonthlyEarnings</p>
                <video controls="controls" class="tut">
                    <source src="~/video/earnings_converted.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="col-md-12">
                <p>Repeat Function</p>
                <video controls="controls" class="tut">
                    <source src="~/video/Repeat_function_converted.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>