﻿@{
    Layout = null;
}
<div class="payment-received">
    <link href="~/Css/payments.css" rel="stylesheet" />
    <div class="payment-window">
        <div class="row lessons-wrapper">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tabs-wrapper">
                    <ul>
                        <li class="first-step-tab active"><a><span class="step-count">1</span> Choose Your Package</a></li>
                        <li class="second-step-tab"><a><span class="step-count">2</span> Confirm Your Order</a></li>
                        <li class="three-step-tab"><a><span class="step-count">3</span> Payment Information</a></li>
                    </ul>
                </div>
            </div>
            <div class="payment-content">
                <div class="col-md-12 col-sm-12 col-xs-12 first-step-wrap">
                    <div class="buttons-wrap">
                        <h4>Subscription or Package?</h4>
                        <ul>
                            <li><a ng-click="changeMember('membership')" ng-class="paymentConfig.member=='membership'?'active':''" class="buttons-pricing" data-type="basic-membership">@Resources.Resource.Subscriptions</a></li>
                            <li><a ng-click="changeMember('packages')" ng-class="paymentConfig.member=='packages'?'active':''" class="buttons-pricing" data-type="premium-membership">@Resources.Resource.Packages</a></li>
                        </ul>
                    </div>
                    <div class="buttons-wrap">
                        <h4>Choose your lesson type?</h4>
                        <ul>
                            <li><a ng-click="changeType('basic')" ng-class="paymentConfig.type=='basic'?'active':' '" class="buttons-pricing" data-type="basic-membership">@Resources.Resource.Basic</a></li>
                            <li><a ng-click="changeType('premium')" ng-class="paymentConfig.type=='premium'?'active':' '" class="buttons-pricing" data-type="premium-membership">@Resources.Resource.Premium</a></li>
                        </ul>
                    </div>

                    <div class="choose-wrap">
                        <h4>Choose your package?</h4>
                        <div class="dropdown-lessons">
                            @if (Request.Browser.IsMobileDevice)
                            {
                                <uib-accordion>
                                    <div uib-accordion-group is-open="paymentConfig.price == value"  class="tabs-head" ng-repeat="(key, value) in shared.prices[paymentConfig.member][paymentConfig.type]">
                                        <uib-accordion-heading>
                                            <a data-key="{{key}}" data-type="{{paymentConfig.type}}" data-member="{{paymentConfig.member}}" ng-click="selectedPackage(key, value, $index, $event);paymentConfig.selectedCountLessons = key" class="choice">
                                                <i ng-class="paymentConfig.price == value?'fa-check-circle-o':'fa-circle-o'" class="fa fa-circle-o" aria-hidden="true"></i>
                                            </a>
                                            <span ng-if="paymentConfig.type=='basic'">{{key}} @Resources.Resource.basiclessons</span>
                                            <span ng-if="paymentConfig.type=='premium'">{{key}} @Resources.Resource.premiumlessons</span>
                                            <span ng-if="$index == 2" class="popular">@Resources.Resource.Mostpopular</span>
                                            <span ng-if="$index == 3" class="best-value">@Resources.Resource.BestValue</span>
                                        </uib-accordion-heading>
                                        <div class="tab-content-wrap">
                                            <div class="lesson-duration">{{paymentConfig.countLessons}} @Resources.Resource.minutes</div>
                                            <div class="lesson-cost-per">{{(value * shared.globalDelta/key).toFixed(2)}} {{shared.globalCurrency}} @Resources.Resource.perlesson</div>
                                            <div class="lesson-garant">@Resources.Resource.Validfor {{paymentConfig.validMonth}} <span ng-if="paymentConfig.validMonth == 1">@Resources.Resource.month</span><span ng-if="paymentConfig.validMonth>1">@Resources.Resource.months</span></div>
                                            <div class="lesson-cost">{{(value * shared.globalDelta).toFixed(2)}} {{shared.globalCurrency}}</div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            }
                            else
                            {
                                <table id="payments_lessons" class="visible-lg visible-md visible-sm hidden-xs">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, value) in shared.prices[paymentConfig.member][paymentConfig.type]">
                                            <td class="lesson-type"><a data-key="{{key}}" data-type="{{paymentConfig.type}}" data-member="{{paymentConfig.member}}" ng-click="selectedPackage(key, value, $index, $event);paymentConfig.selectedCountLessons = key" class="choice"></a><span ng-if="paymentConfig.type=='basic'">{{key}} @Resources.Resource.basiclessons</span> <span ng-if="paymentConfig.type=='premium'">{{key}} @Resources.Resource.premiumlessons</span> <span ng-if="$index == 2" class="popular">@Resources.Resource.Mostpopular</span> <span ng-if="$index == 3" class="best-value">@Resources.Resource.BestValue</span></td>
                                            <td class="lesson-duration">{{paymentConfig.countLessons}} @Resources.Resource.minutes</td>
                                            <td class="lesson-cost-per">{{(value * shared.globalDelta/key).toFixed(2)}} {{shared.globalCurrency}} @Resources.Resource.perlesson</td>
                                            <td class="lesson-garant">@Resources.Resource.Validfor {{paymentConfig.validMonth}} <span ng-if="paymentConfig.validMonth == 1">@Resources.Resource.month</span><span ng-if="paymentConfig.validMonth>1">@Resources.Resource.months</span></td>
                                            <td class="lesson-cost">{{(value * shared.globalDelta).toFixed(2)}} {{shared.globalCurrency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 second-step-wrap">
                    <div class="enter-wrap">
                        <h4>Enter discount code</h4>
                        <form action="#" method="post">
                            <input ng-model-options="{ debounce: 600 }" ng-model="replenish.additionalBonus" ng-class="{discValid: !discount,additional:replenish.additionalBonus, descValid2:discount }" type="text" name="code" placeholder="OL-B15438A348" value="" />
                        </form>
                    </div>
                    <div class="order-inform-wrap">
                        <h4>Order information</h4>
                        <ul class="order-information">
                            <li class="name">@Resources.Resource.NameofPackage: <b>{{paymentConfig.countLess}} {{paymentConfig.type.toUpperCase()}} @Resources.Resource.lessons.ToUpper()</b><span ng-if="paymentConfig.state == 2" class="popular">@Resources.Resource.Mostpopular</span><span ng-if="paymentConfig.state == 3" class="best-value">@Resources.Resource.BestValue</span></li>
                            <li class="type">@Resources.Resource.Typeoflessons: <b>{{paymentConfig.countLessons}} @Resources.Resource.minutes</b></li>
                            <li ng-if="!discount" class="perLess">@Resources.Resource.Priceperlesson: <b>{{(paymentConfig.price * shared.globalDelta / paymentConfig.countLess).toFixed(2)}} {{shared.globalCurrency}}</b></li>
                            <li ng-if="discount" class="perLess">@Resources.Resource.Priceperlesson: <b>{{((paymentConfig.price - replenish.eurBonus) * shared.globalDelta / paymentConfig.countLess).toFixed(2)}} {{shared.globalCurrency}}</b></li>
                            <li class="valid">@Resources.Resource.Validfor: <b>{{paymentConfig.validMonth}} <span ng-if="paymentConfig.validMonth == 1">@Resources.Resource.month</span><span ng-if="paymentConfig.validMonth>1">@Resources.Resource.months</span></b></li>
                            <li class="certification">@Resources.Resource.Finallevelcertificate: <b>@Resources.Resource.Yes</b></li>
                            <li class="privatless">Private Lessons: <b>@Resources.Resource.Yes</b></li>
                        </ul>
                        <ul class="order-price">
                            <li ng-if="discount" class="discount">Discount: <b>{{(replenish.eurBonus * shared.globalDelta).toFixed(2)}} {{shared.globalCurrency}}</b></li>
                            <li ng-if="!discount" class="total">Total: <b>{{(paymentConfig.price * shared.globalDelta).toFixed(2)}} {{shared.globalCurrency}}</b></li>
                            <li ng-if="discount" class="total">Total: <b>{{((paymentConfig.price - replenish.eurBonus) * shared.globalDelta).toFixed(2)}} {{shared.globalCurrency}}</b></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12 three-step-wrap">
                    <div class="page-preloader-wrap"></div>
                    <div class="payment-method-wrap">
                        <div ng-class="selectedMethod.setectedType=='credit'?'active':''" class="visa">
                            <a class="choice" ng-click="selectedMethod.setectedType='credit'"></a>
                            <div class="payment-description"> 
                                <div class="img-wrap">
                                    <img src="~/Images/card-logo.png" alt="Card" />
                                </div>
                                <h4>@Resources.Resource.CreditCard</h4>
                                <p>@Resources.Resource.TextForCreditCard</p>
                                <div class="form-wrap">
                                   <form action="" method="post" id="creditform">
                                       <div class="input-wrap name"><input class="name" type="text" autocomplete="off" ng-model="selectedMethod.username" data-rule-required="true" placeholder="@Resources.Resource.EnterYourName"/></div>
                                       <div class="input-wrap number"><input class="number" type="text" name="number" autocomplete="off" ng-model="selectedMethod.card" data-rule-required="true" data-rule-minlength="14" placeholder="Card Number" maxlength="16" ></div>
                                       <div class="input-wrap date"><input class="data" type="text" name="date" placeholder="MM / YYYY" required="" /></div>
                                       <div class="input-wrap cvv"><input class="cvv" placeholder="CVV" autocomplete="new-password" ng-model="selectedMethod.cvc" name="cvc" type="password" data-rule-maxlength="4" data-rule-required="true" data-rule-number="true"/><span class="info-tooltip" data-placement="left" data-toggle="tooltip" title="" data-original-title="@Resources.Resource.digitSecurityCode"><i class="fa fa-info-circle" aria-hidden="true"></i></span></div>
                                   </form>
                                    <div class="back-block"><div class="inside-block"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="paypal" ng-class="selectedMethod.setectedType=='paypal'?'active':''">
                            <a class="choice" ng-click="selectedMethod.setectedType='paypal'"></a>
                            <div class="payment-description">
                                <div class="img-wrap">
                                    <img src="~/Images/paypal-logo.png" alt="Paypal" />
                                </div>
                                <h4>PayPal</h4>
                                <p>@Resources.Resource.ForPayPalText</p>
                            </div>
                        </div>
                    </div>
                    <div class="container hidden">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker6'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row navigation-wrap">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="/" class="cancel"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Cancel</a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a class="continue" ng-click="continue()">Continue <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="succsess-window final-window">
        <div class="flex-wrap">
            <div class="description">
                <div class="icon-wrap">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <h3>Payment was successfuly made</h3>
                <p>
                    {{paymentConfig.countLess}} {{paymentConfig.type.toUpperCase()}} Lessons were successfully added on your account. Valid to {{getNextDate()}} </br>
                    Now you can start learning a foreign language. Start by <a href="@Url.Action("ListOfTeachers", "ListOfTeachers", new {area=string.Empty},null)">Finding a teacher</a>
                </p>
            </div>
        </div>
        <a class="action" href="@Url.Action("ListOfTeachers", "ListOfTeachers",new {area=string.Empty}, null)">Start Learn Language <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
    <div class="unsuccsess-window final-window">
        <div class="flex-wrap">
            <div class="description">
                <div class="icon-wrap">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <h3>Payment was not successfully made</h3>
                <p>
                    @Resources.Resource.Weapologizefromanyproblems <a href="/">support@openlanguages.com</a>
                </p>
            </div>
        </div>
       @* <a class="action" href="/">Try to get a new package again</a>*@
    </div>
</div>
<script src="~/js/bootstrap-datetimepicker.min.js"></script>
<link href="~/Css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script>
    jQuery('.navigation-wrap .col-md-6 a.continue').click(function () {

        if (!jQuery('.payment-description .form-wrap input').hasClass('error') && !jQuery('.payment-description .form-wrap input').hasClass('ng-empty')) {
            jQuery("body .three-step-wrap .page-preloader-wrap").show()
        }
    })
        
    var windowHeight = jQuery(window).height();
    jQuery("#payments_lessons tbody tr .choice").click(function () {
        if (jQuery(this).parent().parent().hasClass("active")) {
            jQuery(this).parent().parent().removeClass("active");
        } else {
            jQuery("#payments_lessons tbody tr").removeClass("active");
            jQuery(this).parent().parent().addClass("active");
        }
    })
    jQuery(".payment-method-wrap .choice").click(function () {
        if (jQuery(this).parent().hasClass("active")) {
            jQuery(this).parent().removeClass("active");
        } else {
            jQuery(".payment-method-wrap .choice").parent().removeClass("active");
            jQuery(this).parent().addClass("active");
        }
    })
    $(".page-wrap .application-page-wrap .button").click(function () {
        $(".application-page-wrap").addClass("animateLeft").hide(1000);
        $(".form-succsess-wrap").show()
        $(".form-succsess-wrap").addClass("animateRight");
    })
    jQuery(".navigation-wrap .cancel").click(function () {
        if (jQuery(".tabs-wrapper ul li.second-step-tab").hasClass("active")) {
            jQuery(".tabs-wrapper ul li.second-step-tab").removeClass("active");
            jQuery(".tabs-wrapper ul li.first-step-tab").addClass("active");
            jQuery(".second-step-wrap").hide();
            jQuery(".first-step-wrap").show();
            jQuery(".navigation-wrap .cancel").removeAttr("href").addClass("backTo").html('<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Return');
        } else if (jQuery(".tabs-wrapper ul li.three-step-tab").hasClass("active")) {
            jQuery(".tabs-wrapper ul li.three-step-tab").removeClass("active")
            jQuery(".tabs-wrapper ul li.second-step-tab").addClass("active");
            jQuery(".three-step-wrap").hide();
            jQuery(".second-step-wrap").show();
            jQuery(".navigation-wrap .cancel").removeAttr("href").addClass("backTo").html('<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Return');
        }
    })
    $('#datetimepicker6').datetimepicker();
    jQuery(".form-wrap .input-wrap .data").datetimepicker({
        viewMode: 'years',
        format: 'MM/YYYY',
        useCurrent: false
    });

     $("#datetimepicker6").on("dp.change", function (e) {
         $('.form-wrap .input-wrap .data').data("DateTimePicker").minDate(e.date);
     });

    $(".form-wrap .input-wrap .data").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    $('#datetimepicker6 span').click()
</script>