﻿@{
    Layout = null;
}
<div class="general-page">
    <div class="col-xs-12 right-side gal-js photogallery">
        <div class="new-exp gallery">
            <div class="row">
                <div class="col-sm-12 col-xs-12 unic-section">
                    <div class="col-sm-12 pad-0">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <input  onchange="angular.element(this).scope().uploadImages()" type="file"  id="uploadFiles" multiple="multiple" accept="image/*">
                                <p class="for-upload-file" onclick="document.getElementById('uploadFiles').click()">
                                    <span class="hidden-xs">
                                        @Resources.Resource.choosethefile
                                    </span>
                                    <span class="visible-xs">
                                        @Resources.Resource.Clickforchoose
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12  photo-gallery unic-section">
                    <div class="col-sm-12">
                        <span class="add-new-field" ng-click="activeAll()">
                            <i class="fa fa-plus"
                               aria-hidden="true"></i> @Resources.Resource.SelectAll
                        </span>
                        <span ng-click="removeAllActive()" class="remove-field">
                            <i class="fa fa-times"
                               aria-hidden="true"></i> @Resources.Resource.RemoveAll
                        </span>
                    </div>
                    <div class="photos">
                        <div class="col-md-5ths col-xs-6 col-sm-4" ng-repeat="photo in photos">
                            <div ng-click="photo.active =!photo.active" ng-class="photo.active?'active':''" class="item">
                                <img class="img-responsive" ng-src="{{photo.linkSmallImage}}" alt="">
                                <div class="cover-img">
                                    <span ng-click="removeItems(photo, $index)" class="remove"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <span class="settings" data-toggle="modal" data-target="#teacher-edit">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="cover-checked"></div>
                            </div>
                            <input type="checkbox" id="test1" />
                            <label class="imgName" for="test1">{{photo.fileName}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
