﻿@{
    Layout = null;
}
<div class="pricingBlock">
    <div>
        <div class="earning">@Resources.Resource.Yourmembershipplan <span data-placement="bottom" class="inf-tool" title="@Resources.Resource.Monthlysubscriptionsallow"><i class="fa fa-info-circle" aria-hidden="true"></i></span></div>
                <div class="col-sx-12">
                    <div class="filter-member" ng-repeat="credit in shared.credits | filter:{typeOfPrice:'Membership'}">
                        <div>{{credit.countLessons}} {{credit.type}} @Resources.Resource.lessons <span ng-if="credit.subscription.Active">(@Resources.Resource.Valid)</span> <span class="subscr-span" ng-if="!credit.subscription.Active">(@Resources.Resource.Canceled)</span></div>
                        <div>@Resources.Resource.Left {{credit.leftLessons}} @Resources.Resource.of {{credit.countLessons}} @Resources.Resource.lessons</div>
                        <div>@Resources.Resource.ValidUntil {{getDate(credit.expireDate)}}</div>
                    </div>
                </div>
                <div class="upgrade" ng-if="activeOrNot()" ng-click="selectPackage('membership')">@Resources.Resource.Upgrade</div>
                <div ng-if="!activeOrNot()" ng-click="selectPackage('membership')">@Resources.Resource.Getnewsubscription</div>
                <div class="unsubscribe" ng-if="activeOrNot()" ng-click="unsubscribe()" >@Resources.Resource.Unsubscribe</div>
    </div>
    <div class="filter-member-wrap">
        <div class="earning">@Resources.Resource.Yourpackages <span class="inf-tool" data-placement="bottom"  title="@Resources.Resource.Packagesallowyou"><i class="fa fa-info-circle" aria-hidden="true"></i></span></div>
        <div class="col-sx-12">
            <div  class="filter-member" ng-repeat="credit in shared.credits | filter:{typeOfPrice:'Package', type:'!Trial'}">
                <div>{{credit.countLessons}} {{credit.type}} @Resources.Resource.lessons</div>
                <div>@Resources.Resource.Left {{credit.leftLessons}} @Resources.Resource.of {{credit.countLessons}} @Resources.Resource.lessons</div>
                <div>@Resources.Resource.ValidUntil {{getDate(credit.expireDate)}}</div>
            </div>
        </div>
        <div class="get_new" ng-click="selectPackage('packages')" >@Resources.Resource.Getanewpackage</div>
    </div>
</div>


@Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/Modals/NewPaymentsModals4.cshtml")


