﻿@{
    Layout = null;
}
<div class="ReplenishBalance">
    <div class="earning">@Resources.Resource.Yourbalance</div>
    <div class="money">~ {{shared.NativeMoney}}</div>
    <div class="moneyNative">{{balance.Money}} EUR</div>
    <div data-toggle="modal" data-target="#inputBalance" class="next-payment">@Resources.Resource.Topupbalance</div>
</div>
<div class="prices">
    <div>@Resources.Resource.PremiumLesson <span>~ {{(shared.currentPrices.Premium * shared.globalDelta).toFixed(2) + " " + shared.globalCurrency}}</span></div>
    <div>@Resources.Resource.Basiclesson <span>~ {{(shared.currentPrices.Basic * shared.globalDelta).toFixed(2) + " " + shared.globalCurrency}}</span></div>
    <div>@Resources.Resource.GroupLesson <span>~ {{(shared.currentPrices.Group * shared.globalDelta).toFixed(2) + " " + shared.globalCurrency}}</span></div>
</div>
@Html.Partial("~/Views/NewMyAccount/Modals/ReplenishStep1.cshtml")
@Html.Partial("~/Views/NewMyAccount/Modals/ReplenishStep2.cshtml")
@Html.Partial("~/Views/NewMyAccount/Modals/ReplenishStep3.cshtml")
