﻿@using Xencore.Extentions
<div ng-class="(shared.selectedLesson.isTrue && shared.currentPath == '/mylessons')?'un-selected-lessons':'selected-lessons'" class="widget-myLesson col-md-3 right-right-content selected-lessons mylessons">
  <a class="remove-widget hidden-lg hidden-md" role="tab" data-toggle="tab" data-target="#bodys"><i class="fa fa-times" aria-hidden="true"> </i> </a>
  <div class="changeUsresr-widget">
    <div class="date">
      <p class="title">@Resources.Resource.DateoftheLesson:</p>
      <p class="text">{{shared.selectedLesson.date}}</p>
      <p class="text">{{shared.selectedLesson.time}}</p>
    </div>
    <div class="separate-border"></div>
    <div class="type">
      <p class="title">@Resources.Resource.LESSON_TYPE.ToUpperFirstCharacter():</p>
      <div class="select-your-type">
        <form>
          <div class="form">
            <ul>
              @if (User.IsInRole("Presenter"))
              {
                <li>
                <div class="checkbox">
                  <input ng-disabled="(shared.selectedLesson.students && shared.selectedLesson.students.length>1) || (shared.selectedLesson.teacher && shared.selectedLesson.students.length) || shared.own" ng-click="shared.selectedLesson.type = 'Trial'" ng-checked="shared.selectedLesson.type == 'Trial'" id="check3" type="radio" class="image-checkbox" name="type-lesson" />
                  <label for="check3" class="image-checkbox-label ">
                    <span class="trial"></span>@Resources.Resource.TrialLesson
                  </label>
                </div>
                </li>
              }
              <li>
                <div class="checkbox">
                  <input ng-disabled="(shared.selectedLesson.students && shared.selectedLesson.students.length>1) || (shared.selectedLesson.teacher && shared.selectedLesson.students.length) || shared.own" ng-click="shared.selectedLesson.type = 'Basic'" ng-checked="shared.selectedLesson.type == 'Basic'" id="check4" type="radio" class="image-checkbox" name="type-lesson"/>
                  <label for="check4" class="image-checkbox-label ">
                    <span class="basic"></span>@Resources.Resource.Basiclesson
                  </label>
                </div>
              </li>
              <li>
                <div class="checkbox">
                  <input ng-disabled="(shared.selectedLesson.students && shared.selectedLesson.students.length>1) || (shared.selectedLesson.teacher && shared.selectedLesson.students.length) || shared.own" ng-click="shared.selectedLesson.type = 'Premium'" ng-checked="shared.selectedLesson.type == 'Premium'" id="check5" type="radio" class="image-checkbox" name="type-lesson"/>
                  <label for="check5" class="image-checkbox-label ">
                    <span class="premium"></span>@Resources.Resource.PremiumLesson
                  </label>
                </div>
              </li>
              @*
    <li>
        <div class="checkbox">
            <input ng-click="shared.selectedLesson.type = 'Group'" ng-checked="shared.selectedLesson.type == 'Group'" ng-disabled="(shared.selectedLesson.teacher && shared.selectedLesson.students.length) || shared.own" id="check6" type="radio" class="image-checkbox" name="type-lesson"/>
            <label for="check6" class="image-checkbox-label ">
                <span class="groupe"></span>@Resources.Resource.GroupLesson
            </label>
        </div>
    </li>*@
            </ul>
          </div>
        </form>
      </div>
      <div class="separate-border"></div>
      <div class="form-group widget-select text-left">
        <label for="name">@Resources.Resource.LANGUAGE.ToUpperFirstCharacter():</label>
        <select ng-model="shared.selectedLesson.language" ui-select2 class="js-select2-location" id="lessonlang">
          @if (User.IsInRole("Presenter"))
          {
            <optgroup label="@Resources.Resource.ITeach">
              <option value="{{learn.key}}" ng-repeat="learn in shared.ilearn">{{learn.lang}}</option>
            </optgroup>
          }
          else
          {
            <optgroup label="@Resources.Resource.Learn">
              <option value="{{learn.key}}" ng-repeat="learn in shared.teachersTeach">{{learn.lang}}</option>
            </optgroup>
          }
          <optgroup label="Other languages">
            @Html.Partial("~/Views/PartialsOptions/AllLanguages.cshtml", false)
          </optgroup>
        </select>
      </div>

      <div class="separate-border"></div>
      <div class="form-group widget-select text-left">
        <label for="name">Level:</label>
        <select ng-model="shared.selectedLesson.level" ui-select2 class="js-select2-location" id="levellesson">
          <option value="Beginner">
            @Resources.Resource.Beginner
          </option>
          <option value="UpperBeginner">
            @Resources.Resource.UpperBeginner
          </option>
          <option value="Intermediate">
            @Resources.Resource.Intermediate
          </option>
          <option value="UpperIntermediate">
            @Resources.Resource.UpperIntermediate
          </option>
          <option value="Advanced">
            @Resources.Resource.Advanced
          </option>
          <option value="UpperAdvanced">
            @Resources.Resource.UpperAdvanced
          </option>
        </select>
      </div>
      <div class="separate-border"></div>
      <div ng-show="shared.selectedLesson.type == 'Group'" class="form-group widget-select text-left">
        <label for="topics">@Resources.Resource.Title:</label>
        <form>
          <input class="topic" data-rule-required="true" data-rule-maxlength="25" class="form-control" ng-disabled="shared.selectedLesson.students.length && shared.selectedLesson.teacher" type="text" id="topics" ng-model="shared.selectedLesson.topic" />
        </form>
      </div>
      <div ng-show="shared.selectedLesson.type == 'Group'" class="separate-border"></div>
      <div ng-if="!shared.selectedLesson.teacher" class="my-students">
        <p class="title">@Resources.Resource.Nameofthestudents:</p>
        <p class="type-info">Choice type of lesson</p>
        <div class="row">
          <div ng-class="student.active?'':'not-active'" class="col-sm-12 col-md-12 col-xs-12 one-student" ng-repeat="student in shared.selectedLesson.students">
            <div class="col-sm-2 col-xs-2 col-md-2">
              <img class="img-responsive" ng-src="{{student.ProfilePicture}}" alt="" />
            </div>
            <div class="col-sm-9 col-xs-9 col-md-9"><span class="stud-name pad-l-10">{{student.Name}}</span></div>
            <div ng-click="shared.deleteStudentFromList(student, $index)" class="col-sm-1 col-xs-1 col-md-1"><span class="stud-select remove"></span></div>
          </div>
          <div ng-show="shared.selectedLesson.findStudent" class="col-sm-12 col-xs-12 col-md-12 one-student for-add">
            <div class="col-sm-2 col-xs-2 col-md-2">
              <img src="~/images/default-ava.png" alt="" />
            </div>
            <div class="col-sm-9 col-xs-9 col-md-9">
              <input class="stud-name" ng-model="shared.selectedLesson.search" type="text">
            </div>
            <div class="select-new-student mCustomScrollbar">
              <div class="close-popup" ><span ng-click="shared.selectedLesson.findStudent = false"><i class="fa fa-times" aria-hidden="true"></i></span></div>
              <div ng-click="shared.addNewStudentToSelectedlesson(student)" class="col-sm-12 col-xs-12 col-md-12 one-student" ng-repeat="student in shared.myCurrentStudents| inArray:shared.selectedLesson.students:'Id' | balanceIsPositive:shared.selectedLesson.type  | filter: shared.selectedLesson.search">
                <div class="col-sm-2 col-xs-2 col-md-2">
                  <img ng-src="{{student.ProfilePicture}}" alt="" />
                </div>
                <div class="col-sm-9 col-xs-9 col-md-9"><span class="stud-name">{{student.Name}}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div ng-hide="shared.selectedLesson.type != 'Group' &&  shared.selectedLesson.students.length>0" class="col-sm-12">
            <p ng-click="shared.selectedLesson.findStudent = true" ng-hide="shared.selectedLesson.findStudent || !shared.selectedLesson.type" class="add-more"><i class="fa fa-plus" aria-hidden="true"></i>@Resources.Resource.Addonemore</p>
          </div>
        </div>
        <div class="separate-border"></div>
        <div class="row">
          <div class="text-left col-sm-12 col-xs-12">
            <div ng-click="shared.updateLesson()" class="custom-button save-btn">@{ Html.RenderPartial("~/Areas/Dashboard/Views/NewMyAccount/Helpers/Loader.cshtml");}<span ng-show="!shared.isButtonLoading">@Resources.Resource.ConfirmLesson</span></div>
            <div ng-click="shared.selectedLesson.cancelLesson()" ng-disabled="!shared.selectedLesson.isCancelActive" class="custom-button clear-btn">@{ Html.RenderPartial("~/Areas/Dashboard/Views/NewMyAccount/Helpers/Loader.cshtml"); }<span ng-show="!shared.isButtonLoading">@Resources.Resource.CancelLesson</span></div>
            <div class="bind-to-btn save-btn" data-toggle="modal" data-target="#problem_modal">Class is not happen</div>
          </div>
          @*<div class="col-sm-12">
                        <div ng-hide="shared.selectedLesson.isConfirmed" ng-click="shared.selectedLesson.confirm(shared.selectedLesson)" class="custom-button save-btn">@{ Html.RenderPartial("~/Views/NewMyAccount/Helpers/Loader.cshtml"); }<span ng-show="!shared.isButtonLoading">@Resources.Resource.ConfirmLesson</span></div>
                    </div>*@
          <div class="col-sm-12 col-xs-12 custom-check">
            <input id="checkForRemove" ng-model="shared.selectedLesson.isCancelActive" type="checkbox">
            <label for="checkForRemove">@Resources.Resource.ClickoncheckboxforCancelLesson</label>
          </div>
        </div>
      </div>
      <div ng-if="shared.selectedLesson.teacher">
        <div class="my-students">
          <p class="title">@Resources.Resource.Nameoftheteacher:</p>
          <div class="img-wrap-stud"><img ng-src="{{shared.selectedLesson.teacher.ProfilePicture}}" /><span>{{shared.selectedLesson.teacher.Name}}</span></div>
        </div>
        <div class="my-students">
          <p class="title">@Resources.Resource.Nameofthestudents:</p>
          <div class="img-wrap-stud" ng-repeat="student in shared.selectedLesson.students">
            <img ng-src="{{student.ProfilePicture}}" /><span>{{student.Name}}</span>
          </div>
        </div>
        <div class="separate-border"></div>
        <div class="row" ng-hide="shared.disableSaving  || shared.own">
          <div ng-show="shared.selectedLesson.type == 'Group' && shared.selectedLesson.students.length>0" class="col-sm-12">
            <div ng-disabled="shared.money - shared.currentPrices[shared.selectedLesson.type]<0" ng-click="shared.bindToLesson($event)" class="bind-to-btn save-btn">@{ Html.RenderPartial("~/Areas/Dashboard/Views/NewMyAccount/Helpers/Loader.cshtml");}<span ng-show="!shared.isButtonLoading">Bind to lesson</span></div>
          </div>
          <div ng-show="(shared.selectedLesson.teacher && !shared.selectedLesson.students.length)" class="col-sm-12">
            <div ng-disabled="shared.money - shared.currentPrices[shared.selectedLesson.type]<0" ng-click="shared.bookingLesson($event)" class="bind-to-btn save-btn">@{ Html.RenderPartial("~/Areas/Dashboard/Views/NewMyAccount/Helpers/Loader.cshtml");}<span ng-show="!shared.isButtonLoading">Booking lesson</span></div>
          </div>
        </div>
        <div class="row" ng-if="shared.own">
          <div class="col-sm-12">
            <div class="bind-to-btn save-btn" data-toggle="modal" data-target="#problem_modal">Class is not happen</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal fade in" id="problem_modal" tabindex="-1" role="dialog" aria-labelledby="replenish-balance-step-1Label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="gridSystemModalLabel">
          Describe a problem
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <textarea ng-model="shared.selectedLesson.problem" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div>
            <div ng-click="shared.classNotHappen()" class="bind-to-btn save-btn">Confirm</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
