﻿<div ng-class="(shared.currentPath==='/mywords' && shared.selectedWord.id)?'un-selected-lessons':'selected-lessons'" class="widget-myWord col-md-3 right-right-content selected-lessons">
    <a role="tab" data-toggle="tab" data-target="#bodys" class="remove-widget hidden-lg hidden-md"><i class="fa fa-times" aria-hidden="true"> </i> </a>    
    <div class="my-words-widget" id="my-words-widget">
            <div class="type">
                <div class="my-students">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="title">@Resources.Resource.Information:</p>
                            <div class="form-group">
                                <label for="assign-top">@Resources.Resource.Word</label>
                                <input ng-model="shared.selectedWord.word" type="text" class="form-control" id="assign-top" placeholder="@Resources.Resource.Entertheword">
                            </div>
                            <div class="form-group widget-select">
                                <label for="name">@Resources.Resource.Languages</label>
                                <select ng-model="shared.selectedWord.language" ui-select2 class="js-select2-location" id="wordlang">
                                    <optgroup label="@Resources.Resource.Learn">
                                        <option value="{{learn.key}}" ng-repeat="learn in shared.ilearn">{{learn.lang}}</option>
                                    </optgroup>
                                    <optgroup label="@Resources.Resource.Otherlanguages">
                                        @Html.Partial("~/Views/PartialsOptions/AllLanguages.cshtml", false)
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="assign-desc">@Resources.Resource.Definition</label>
                                <textarea ng-model="shared.selectedWord.description" rows="12" class="form-control" id="assign-desc" placeholder="@Resources.Resource.Enterdefinitionoftheword"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="title">@Resources.Resource.ImageofWord:</p>
                        </div>
                        <div class="col-sm-12 text-left word-item-wrap">
                            <img ng-src="{{shared.selectedWord.image}}" />
                            <p ng-hide="shared.selectedWord.id===-1" class="change-img">
                                <span onclick="document.getElementById('loadWordImage').click()" class="add-img"><i class="fa fa-pencil" aria-hidden="true"></i>@Resources.Resource.ChangeImage</span>
                                <input onchange="angular.element(this).scope().shared.changeWordPhoto()" type="file" class="hide" id="loadWordImage" accept="image/*" />
                            </p>
                            <span class="inform-text" ng-show="shared.selectedWord.id===-1">@Resources.Resource.Youshouldcreatenewword</span>
                        </div>
                        <div class="col-sm-12">
                            <div class="file-upload">
                                <label ng-hide="shared.selectedWord.id===-1">
                                    <span ng-hide="shared.isRecording" ng-click="shared.recordWordAudio()"><i class="fa fa-microphone" aria-hidden="true"></i>@Resources.Resource.Recordnewmessage</span>
                                    <span ng-hide="!shared.isRecording" ng-click="shared.stopRecordAudio()"><span id="timer1"></span><br><i class="fa fa-microphone" aria-hidden="true"></i>@Resources.Resource.StopRecord</span><br />
                                    <span ng-if="shared.selectedWord.audioPath">Audio message.mp3</span>
                                    <span ng-if="shared.selectedWord.audioPath" ng-click="shared.removeWordMessage()" class="pull-right remove-file"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                </label>
                                <span class="inform-text" ng-show="shared.selectedWord.id===-1">@Resources.Resource.Youshouldcreatenewwordaudio</span>
                            </div>
                        </div>
                    </div>
                    <div class="separate-border"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ng-click="shared.saveWordsChanges()" class="custom-button save-btn">@Resources.Resource.Save</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
