﻿@using Xencore.Extentions
<div ng-class="(shared.currentPath==='/myassingments' && shared.selectedAssingmen && shared.sceditorcap)?'un-selected-lessons':'selected-lessons'" class="widget-myAssing col-md-3 right-right-content selected-lessons">
    <a class="remove-widget hidden-lg hidden-md" role="tab" data-toggle="tab" data-target="#bodys"><i class="fa fa-times" aria-hidden="true"> </i> </a>
     <div class="assignments-widget">
        <div class="date">
            <p class="title">@Resources.Resource.Dateofthecreation:</p>
            <p class="text">{{shared.selectedAssingmen.date}}</p>
            <p class="text">{{shared.selectedAssingmen.time}}</p>
        </div>
        <div class="separate-border"></div>
        <div class="type">
            <div class="my-students">
                <p class="title">@Resources.Resource.Nameoftheteacher</p>
                <div class="row">
                    <div ng-class="shared.selectedAssingmen.student.active?'':'not-active'" class="col-sm-12 one-student">
                        <div class="col-sm-2">
                            <img ng-src="{{shared.selectedAssingmen.student.profilePicture}}" alt="" />
                        </div>
                        <div class="col-sm-9"><span class="stud-name">{{shared.selectedAssingmen.student.name}}</span></div>
                        @*<div ng-click="shared.deleteStudentFromAssingment(shared.selectedAssingmen.student, $index)" class="col-sm-1"><span class="stud-select remove"></span></div>*@
                    </div>
                </div>
                <div class="separate-border"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="title">@Resources.Resource.ImageofAssignment:</p>
                    </div>
                    <div class="col-sm-12 text-left assig-item">
                        <img  ng-src="{{shared.selectedAssingmen.image}}" />
                    </div>
                </div>
                <div class="separate-border"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="title"></p>
                        <div class="form-group">
                            <label for="assign-top">@Resources.Resource.TopicofAssignment </label>
                            <input disabled="disabled" type="text" class="form-control" id="assign-top" ng-model="shared.selectedAssingmen.topic">
                        </div>
                        <div class="form-group">
                            <label for="assign-desc">@Resources.Resource.AnswerofAssignment </label>
                            <textarea ckeditor="options" rows="6" class="form-control" id="assign-desc" ng-model="shared.selectedAssingmen.answer" placeholder="@Resources.Resource.DESCRIPTION.ToUpperFirstCharacter()"></textarea>
                        </div>
                    </div>
                </div>
                <div class="separate-border"></div>
                <div class="separate-border"></div>
                <div class="row button-group">
                    <div class="col-sm-12">
                        <div ng-click="shared.saveAssingmentChanges()" ng-disabled="!shared.selectedAssingmen.student" class="custom-button save-btn">@Resources.Resource.Save</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
