﻿<div ng-class="(shared.currentPath.indexOf('chat')>-1)?'un-selected-lessons':'selected-lessons'" class="sidebar-chat widget-forChat col-md-3 col-sm-12 col-xs-12 right-right-content selected-lessons">
    <link href="~/Css/fonts.css" rel="stylesheet" />
    <link href="~/Css/chat.css" rel="stylesheet" />
    <div  id="show-content" role="tab" data-toggle="tab" data-target="#bodys"></div>
    <div class="chat-widget">
        <div class="type">
            <div class="top-panel">
                <span class="search-title">@Resources.Resource.AllResentchats</span>
                <div class="teach-search">
                    <div class="form-group input-search">
                        <input id="searchByName" ng-model="search" placeholder="@Resources.Resource.Search" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="contact-side">
                <div class="row custom-scroll mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                    <div class="mess mess-read" ng-click="shared.clickToDialog(dialog, $event);" ng-repeat="dialog in shared.dialogs | filter:search">
                        <span class="before" ng-class="dialog.Active?'active':''"></span>
                        <div class="media chat-item" data-clientid="{{dialog.Dialog.Id}}">
                            <div class="media-left">
                                <span>
                                    <img class="media-object mCS_img_loaded" ng-src="{{dialog.Dialog.ProfilePicture}}" alt="">
                                </span>
                            </div>
                            <div class="media-body">
                                <p class="media-heading patnerName">
                                    <text  class="user-name">{{dialog.Dialog.Name}}</text>
                                    <span ng-if="dialog.Replies" class="hidden-xs">{{shared.getDate(dialog.Replies[0].UtcDateTime)}}</span>
                                </p>
                                <p ng-if="dialog.Replies" class="text">
                                    {{shared.getLastMessage(dialog)}}
                                    <span ng-if="shared.checkIfExistUnred(dialog)">{{shared.getUnreadMessages(dialog)}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
