﻿@using Xencore.Extentions
<div ng-class="(shared.selectedLesson.isTrue && shared.currentPath == '/mylessons')?'un-selected-lessons':'selected-lessons'" class="widget-company col-md-3 right-right-content selected-lessons">
    <div class="changeUsresr-widget">
        <div class="date">
            <p class="title">@Resources.Resource.DateoftheLesson:</p>
            <p class="text">{{shared.selectedLesson.date}}</p>
            <p class="text">{{shared.selectedLesson.time}}</p>
        </div>
        <div class="separate-border"></div>
        <div class="type">
            <p class="title">@Resources.Resource.LESSON_TYPE.ToUpperFirstCharacter():</p>
            <div class="select-your-type">
                <form>
                    <div class="form">
                        <ul>
                            <li>
                                <div class="checkbox">
                                    <input disabled="disabled" ng-checked="shared.selectedLesson.type == 'Trial'" id="check3" type="radio" class="image-checkbox" name="type-lesson" />
                                    <label for="check3" class="image-checkbox-label">
                                        <span class="trial"></span>@Resources.Resource.TrialLesson
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input disabled="disabled" ng-checked="shared.selectedLesson.type == 'Basic'" id="check4" type="radio" class="image-checkbox" name="type-lesson" />
                                    <label for="check4" class="image-checkbox-label ">
                                        <span class="basic"></span>@Resources.Resource.Basiclesson
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input disabled="disabled" ng-checked="shared.selectedLesson.type == 'Premium'" id="check5" type="radio" class="image-checkbox" name="type-lesson" />
                                    <label for="check5" class="image-checkbox-label ">
                                        <span class="premium"></span>@Resources.Resource.PremiumLesson
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input ng-checked="shared.selectedLesson.type == 'Group'" disabled="disabled" id="check6" type="radio" class="image-checkbox" name="type-lesson" />
                                    <label for="check6" class="image-checkbox-label ">
                                        <span class="groupe"></span>@Resources.Resource.GroupLesson
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="separate-border"></div>
            <div class="form-group widget-select text-left">
                <label for="name">@Resources.Resource.LANGUAGE.ToUpperFirstCharacter():</label>
                <select disabled="disabled" ng-model="shared.selectedLesson.language" ui-select2 class="js-select2-location" id="lessonlang">
                        @Html.Partial("~/Views/PartialsOptions/AllLanguages.cshtml", true)
                </select>
            </div>

            <div class="separate-border"></div>
            <div class="form-group widget-select text-left">
                <label for="name">Level:</label>
                <select disabled="disabled" ng-model="shared.selectedLesson.level" ui-select2 class="js-select2-location" id="levellesson">
                    <option value="Beginner">
                        @Resources.Resource.Beginner
                    </option>
                    <option value="UpperBeginner">
                        @Resources.Resource.UpperBeginner
                    </option>
                    <option value="Intermediate">
                        @Resources.Resource.Intermediate
                    </option>
                    <option value="UpperIntermediate">
                        @Resources.Resource.UpperIntermediate
                    </option>
                    <option value="Advanced">
                        @Resources.Resource.Advanced
                    </option>
                    <option value="UpperAdvanced">
                        @Resources.Resource.UpperAdvanced
                    </option>
                </select>
            </div>
            <div class="separate-border"></div>
            <div ng-if="shared.selectedLesson.teacher">
                <div class="my-students">
                    <p class="title">@Resources.Resource.Nameoftheteacher:</p>
                    <div class="img-wrap-stud"><img ng-src="{{shared.selectedLesson.teacher.ProfilePicture}}" /><span>{{shared.selectedLesson.teacher.Name}}</span></div>
                </div>
            </div>

        </div>
    </div>
</div>