﻿@using Xencore.Extentions
<div ng-class="(shared.currentPath==='/myassingments' && shared.selectedAssingmen && shared.sceditorcap)?'un-selected-lessons':'selected-lessons'" class="widget-myAssing col-md-3 right-right-content selected-lessons">
    <a class="remove-widget hidden-lg hidden-md" role="tab" data-toggle="tab" data-target="#bodys"><i class="fa fa-times" aria-hidden="true"> </i> </a>
     <div class="assignments-widget" id="assignments-widget">
        <div class="date">
            <p class="title">@Resources.Resource.DateoftheLesson:</p>
            <p class="text">{{shared.selectedAssingmen.date}}</p>
            <p class="text">{{shared.selectedAssingmen.time}}</p>
        </div>
        <div class="separate-border"></div>
        <div class="type">
            <div class="my-students">
                <p class="title">@Resources.Resource.Nameofthestudent</p>
                <div class="row">
                    <div ng-class="shared.selectedAssingmen.student.active?'':'not-active'" class="col-sm-12 col-xs-12 one-student">
                        <div class="col-sm-2 col-xs-1">
                            <img ng-src="{{shared.selectedAssingmen.student.profilePicture}}" alt="" />
                        </div>
                        <div class="col-sm-9 col-xs-11"><span class="stud-name">{{shared.selectedAssingmen.student.name}}</span></div>
                    </div>
                    <div ng-show="shared.selectedAssingmen.findStudent" class="col-sm-12 col-xs-12 one-student for-add">
                        <div class="col-sm-2 col-xs-2">
                            <img src="~/images/default-ava.png" alt="" />
                        </div>
                        <div class="col-sm-10 col-xs-10">
                            <input class="stud-name" ng-model="shared.selectedLesson.search" type="text">
                        </div>
                        <div class="select-new-student mCustomScrollbar">
                            <div class="div-wrap"><span ng-click="shared.selectedAssingmen.findStudent = false">@Resources.Resource.Close<i class="fa fa-times" aria-hidden="true"></i></span></div>
                            <div ng-click="shared.addNewStudentToSelectedlesson(student)" class="col-sm-12 col-xs-12 one-student" ng-repeat="student in shared.myCurrentStudents| inArray:[shared.selectedAssingmen.student]:'Id' | filter: shared.selectedLesson.search">
                                <div class="col-sm-2 col-xs-2">
                                    <img ng-src="{{student.ProfilePicture}}" alt="" />
                                </div>
                                <div class="col-sm-9 col-xs-10"><span class="stud-name">{{student.Name}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-hide="shared.selectedAssingmen.findStudent" class="row">
                    <div class="col-sm-12">
                        <p ng-click="shared.selectedAssingmen.findStudent = true" class="add-more"><i class="fa fa-plus" aria-hidden="true"></i>@Resources.Resource.ChangeStudent</p>
                    </div>
                </div>
                <div class="separate-border"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="title">Image of Assignment:</p>
                    </div>
                    <div class="col-sm-12 text-left assig-item">
                        <img  ng-src="{{shared.selectedAssingmen.image}}" />
                        <p ng-hide="shared.selectedAssingmen.id===-1" class="change-img" onclick="document.getElementById('loadImage').click()"><i class="fa fa-pencil" aria-hidden="true"></i>@Resources.Resource.ChangeImage</p>
                        <p ng-show="shared.selectedAssingmen.id===-1">@Resources.Resource.Youshouldcreateassingmengbeforechangeimage</p>
                        <input onchange="angular.element(this).scope().shared.changePhoto()" type="file" class="hide" id="loadImage" accept="image/*" />
                    </div>
                </div>
                <div class="separate-border"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="assign-top">@Resources.Resource.TopicofAssignment </label>
                            <input type="text" class="form-control" id="assign-top" ng-model="shared.selectedAssingmen.topic">
                        </div>
                        <div class="form-group">
                            <label for="assign-desc">@Resources.Resource.DescriptionofAssignment </label>
                            <textarea ckeditor="options" rows="6" class="form-control" id="assign-desc" ng-model="shared.selectedAssingmen.description" placeholder="@Resources.Resource.DESCRIPTION.ToUpperFirstCharacter()"></textarea>
                        </div>
                    </div>
                </div>
                <div class="separate-border"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="title">@Resources.Resource.FilesofAssignment:</p>
                    </div>
                    <div class="col-sm-12">
                        <div class="file-upload first">
                            <label ng-hide="shared.selectedAssingmen.id===-1">
                                <input onchange="angular.element(this).scope().shared.attachedFile()" class="hide" type="file" id="attachedFiles"/>
                                <span><i class="fa fa-cloud-download" aria-hidden="true"></i>@Resources.Resource.Attachfile</span><br/>
                                <span ng-if="shared.selectedAssingmen.uploadFilePath">{{shared.selectedAssingmen.uploadFilePath.split('_')[1]}}</span>
                            </label>
                            <span ng-if="shared.selectedAssingmen.uploadFilePath" class="pull-right remove-file" ng-click="shared.removeAttachedFile()"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span ng-show="shared.selectedAssingmen.id===-1">@Resources.Resource.Youshouldcreateassingmentbeforeuploadfile</span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="file-upload">
                            <label ng-hide="shared.selectedAssingmen.id===-1">
                                <span ng-hide="shared.isRecording" ng-click="shared.recordAudio()"><i class="fa fa-microphone" aria-hidden="true"></i>@Resources.Resource.Recordnewmessage</span>
                                <span ng-hide="!shared.isRecording" ng-click="shared.stopRecordAudio()"><span id="timer"></span><br><i class="fa fa-microphone" aria-hidden="true"></i>@Resources.Resource.StopRecord</span><br/>
                                <span ng-if="shared.selectedAssingmen.uploadMessagePath">{{shared.selectedAssingmen.uploadMessagePath.split('_')[1]}} </span>
                            </label>
                            <span ng-if="shared.selectedAssingmen.uploadMessagePath" ng-click="shared.removeAssMessage()" class="pull-right remove-file"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span ng-show="shared.selectedAssingmen.id===-1">@Resources.Resource.Youshouldcreateassingmentbeforerecordaudio</span>
                        </div>
                    </div>
                </div>
                <div class="separate-border"></div>
                <div class="row button-group">
                    <div class="col-md-12 col-sm-4">
                        <div ng-click="shared.saveAssingmentChanges()" ng-disabled="!shared.selectedAssingmen.student" class="custom-button save-btn">@Resources.Resource.Save</div>
                    </div>
                    <div ng-hide="shared.selectedAssingmen.id===-1" class="col-md-12 col-sm-4">
                        <div ng-click="shared.changeStatus('Checked')" class="custom-button correct-btn">@Resources.Resource.Correct</div>
                    </div>
                    <div ng-hide="shared.selectedAssingmen.id===-1" class="col-md-12 col-sm-4">
                        <div ng-click="shared.changeStatus('Wrong')"  class="custom-button wrong-btn">@Resources.Resource.Wrong</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>