﻿<div ng-hide="(shared.currentPath==='/myassingments' && shared.selectedAssingmen && shared.sceditorcap) || (shared.currentPath==='/mywords' && shared.selectedWord.id) || shared.currentPath.indexOf('chat')>-1 || shared.currentPath.indexOf('myprofile')>-1 || shared.currentPath.indexOf('self-study')>-1" ng-if="!(shared.selectedLesson.isTrue && shared.currentPath == '/mylessons')" class="col-md-3 right-right-content">
        @if (User.IsInRole("Presenter"))
        {
            <div class="anim-directives" ui-monthlyearnings></div>
        }
        else
        {
            <div class="anim-directives" ui-pricesblock></div>
        }
        <div class="uncoming-classes" method="@(User.IsInRole("Presenter") ? "GetUpcommingClasses" : "GetUpcommingStudentClasses")" list-upcommingclasses top="5" template="GetUpcommingClasses">
        </div>
        <div class="past-classes" method="@(User.IsInRole("Presenter") ? "GetPastClasses" : "GetPastClassesOfStudent")" list-pastclasses top="5" template="GetPastClasses">
        </div>
    </div>
<div ng-if="shared.currentPath.indexOf('self-study')>0 && shared.currentPath.indexOf('lesson')===-1"  class="col-md-3 right-right-content">
    <div class="self-sudy-directive" ui-selfstudydirective></div>
</div>
<div>
    @(User.IsInRole("Presenter") ? Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgrtForMyAssingments.cshtml") : Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgrtForMyAssingmentsStudent.cshtml"))
    @Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgetForMyLessons.cshtml")
    @Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgetForMyChat.cshtml")
    @Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgetForMyWords.cshtml")
</div>
