﻿<div ng-hide="shared.selectedLesson.isTrue && shared.currentPath == '/mylessons'" class="col-md-3 right-right-content">
    @*<div class="anim-directives" ui-replenisbalance></div>*@
    <div class="anim-directives" ui-pricesblock></div>
    <div class="uncoming-classes" method="GetUpcommingCompanyClasses" list-upcommingclasses top="5" template="GetUpcommingClasses">
    </div>
    <div class="past-classes" method="GetPastClassesOfCompany" list-pastclasses top="5" template="GetPastClasses">
    </div>
</div>
@Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgetForMyLessonsCompany.cshtml")