﻿@*<div ng-hide="(shared.currentPath==='/myassingments' && shared.selectedAssingmen && shared.sceditorcap) || (shared.currentPath==='/mywords' && shared.selectedWord.id) || shared.currentPath==='/chat'" ng-if="!(shared.selectedLesson.isTrue && shared.currentPath == '/mylessons')" class="col-md-3 right-right-content">
    <div class="uncoming-classes" method="@(User.IsInRole("Presenter") ? "GetUpcommingClasses" : "GetUpcommingStudentClasses")" list-upcommingclasses top="5" template="GetUpcommingClasses">
    </div>
    <div class="past-classes" method="@(User.IsInRole("Presenter") ? "GetPastClasses" : "GetPastClassesOfStudent")" list-pastclasses top="5" template="GetPastClasses">
    </div>
</div>*@
<div>
    @(User.IsInRole("Presenter") ? Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgrtForMyAssingments.cshtml") : Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgrtForMyAssingmentsStudent.cshtml"))
    @Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgetForMyLessons.cshtml")
    @Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgetForMyChat.cshtml")
    @Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/RightWidgetForMyWords.cshtml")
</div>
