﻿
@model Domain.Entities.HelpersEntity.PreSignInUser
@{
    ViewBag.Title = "Companies";
    ViewBag.Admin = "companies";
}
<style>
    #bind_text, #unbind_text {
        border: 1px solid #ccc !important;
        border-radius: 100px;
    }
    input.form-control {
        border: 1px solid #ccc !important;
    }
    input.form-control.input-validation-error {
        border: 1px solid red !important;
    }
    label {
        color: #333;
    }
</style>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
<h1>Companies</h1>
<section class="blue-bg-prof hidden-xs"></section>
<section class="admin teacher-profile">
    <div class="container">
        @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminDashboardHeader.cshtml", "Admin Dashboard");}
        <div class="row">

            @using(Html.BeginForm("AddCompany", "Company"))
            {
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Name of Company*</label>
                    @Html.TextBoxFor(x => x.Name, new {@class = "form-control"});
                </div>
                <div class="form-group">
                    <label>Email of Company*</label>
                    @Html.TextBoxFor(x => x.Email, new {@class = "form-control"});
                </div>
                <div class="form-group">
                    <label>Password*</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" });
                </div>
                <div class="form-group">
                    <label>Confirm Password*</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" });
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" });
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Add New Company</button>
                </div>
                @Html.HiddenFor(x=>x.ChosenLang, new { @Value = "us"})
                @Html.HiddenFor(x => x.TimeZone, new { @Value = "Europe" })
                @Html.HiddenFor(x => x.ChosenLevel, new { @Value = "UpperBeginner" })
                @Html.HiddenFor(x => x.ISpeak, new { @Value = "us" })
                @Html.HiddenFor(x => x.HowDidFind, new { @Value = "Google" })
            </div>
            }
        </div>
    </div>
</section>
@section Scripts
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
