﻿
@model Domain.Entities.IdentityEntities.CustomUser
@{
    ViewBag.Title = "Companies";
    ViewBag.Admin = "companies";
}
<style>
    #bind_text, #unbind_text{
        border: 1px solid #ccc !important;
        border-radius: 100px;
    }
</style>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
<h1>Companies</h1>
<section class="blue-bg-prof hidden-xs"></section>
<section class="admin teacher-profile">
    <div class="container">
        @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminDashboardHeader.cshtml", "Admin Dashboard");}
        <div class="row">
            <div class="col-xs-12">
                <table class="table-bordered" id="table">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Email</td>
                            <td>Money (EUR)</td>
                            <td>Creation Date</td>
                            <td>Currency</td>
                            <td>Location</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var company in Model.StudentsOfCompany)
                        {
                            <tr>
                                <td>@company.Name</td>
                                <td>@company.Email</td>
                                <td>@company.Money EUR</td>
                                <td>@company.CreationDateTime.ToString("dd/MM/yyyy")</td>
                                <td>@company.Currency</td>
                                <td>@company.Location</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <input id="bind_text" class="form-control" type="text" placeholder="Enter Email of User for binding with Company" />
                </div>

            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <button id="bind_button" class="btn btn-success" type="button">Bind to Company</button>
                </div>
            </div>
            
            <div class="col-xs-6">
                <div class="form-group">
                    <input id="unbind_text" class="form-control" type="text" placeholder="Enter Email of User for UNBINDING from Company" />
                </div>

            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <button id="unbind_button" class="btn btn-danger" type="button">Unbind from Company</button>
                </div>
            </div>
        </div>
    </div>
</section>
 
@section Scripts
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        $("#table")
            .dataTable({
                "autoWidth": true,
                "ordering": false,
                "oLanguage": {
                    "sSearch": "",
                },
                language: {
                    searchPlaceholder: "Enter information to search..."
                },
                "dom": '<"top" flp>rt<"bottom"flp>'
            });
        $('.dataTables_filter input').attr("placeholder", "Enter information to search...");
        $("#bind_button").click(function () {
            var studentId = $("#bind_text").val();
            var teacherId = "@HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString()";
            $.post("/Admin/Company/BindTo", { 'teacherId': teacherId, 'studentEmail': studentId }).complete(function (res) {
                if (res)
                    location.reload();
                else
                    alert("Incarrect data, or student already binded to any company")
            }).fail(function (res) {
               alert("Incarrect data, or student already binded to any company")
            });
        });
        $("#unbind_button").click(function () {
            var studentId = $("#unbind_text").val();
            var teacherId = "@HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString()";
            $.post("/Admin/Company/UnbindTo", { 'teacherId': teacherId, 'studentEmail': studentId }).complete(function (res) {
                if (res)
                    location.reload();
                else
                    alert("Incarrect data, or student already binded to any company")
            }).fail(function (res) {
                alert("Incarrect data, or student already binded to any company")
            });
        });
    </script>
}
