﻿
@model IEnumerable<Domain.Entities.IdentityEntities.CustomUser>
@{
    ViewBag.Title = "Companies";
    ViewBag.Admin = "companies";
}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
@*<section class="blue-bg-prof hidden-xs"></section>*@
<section class="admin teacher-profile company-info">
    <div class="container-fluid" id="my-account-container">
        <div class="row content-wrap">
            @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminDashboardHeader.cshtml", "Admin Dashboard");}
            <div class="col-lg-10 col-md-10 right-content">
                <div class="bgc-content-wrap ft clearfix">
                    <div class="col-xs-12">
                        <button onclick="location.href = '@Url.Action("AddCompany")'" type="button" class="btn btn-success">Add Company</button>
                                    <table id="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Money (EUR)</th>
                                                <th>Creation Date</th>
                                                <th>Count of Students</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var company in Model)
                                            {
                                                <tr>
                                                    <td class="name">@company.Name</td>
                                                    <td><a href="@Url.Action("GetDatails", "Company", new {id=company.Id})">@company.Email</td>
                                                    <td>@company.Money EUR</td>
                                                    <td>@company.CreationDateTime.ToString("dd/MM/yyyy")</td>
                                                    <td>@company.StudentsOfCompany.Count</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <span class="table-count">Showing 10 of @Model.Count()</span>
                                </div>
                            </div>
                    </div>
</section>
@section Scripts
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        $("#table")
            .dataTable({
                "autoWidth": true,
                "ordering": false,
                "oLanguage": {
                    "sSearch": "",
                },
                language: {
                    searchPlaceholder: "Enter information to search..."
                },
                "dom": '<"top" flp>rt<"bottom"flp>'
            });
        $('.dataTables_filter input').attr("placeholder", "Enter information to search...");

    </script>
}
