﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link href="~/Content/Css/MainStyle.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" language="javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/MainScript.js"></script>
    @RenderSection("styles", false)
    <title>@ViewBag.Title</title>
</head>
<body data-pageType =@ViewBag.PageType>
    <div class="main">
        <header>
            <div>
                <img class="logo" src="~/Images/logo.jpg">
            </div>
            <div class="top_menu">
                <ul>
                    <li><a href="#">News</a></li>
                    <li><a href=@Url.Action("Service")>Servicies</a></li>
                    <li><a href="#">Industries</a></li>
                    <li class="sub_menu">
                        <a href="#">Company <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li>
                                <a href=@Url.Action("OurPeople")>Our People</a>
                            </li>
                            <li>
                                <a href=@Url.Action("OurStory")>Our Story</a>
                            </li>
                            <li>
                                <a href=@Url.Action("OurStrategy")>Our Strategy</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Company")>About Us</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Clients")">Clients</a></li>
                    <li><a href="@Url.Action("Partners")">Partners</a></li>
                    <li><a href="@Url.Action("FindJob")">Jobs</a></li>
                    <li><a href="@Url.Action("ContactUs")">Contact</a></li>
                </ul>
            </div>
            <span class="lang"><span>EN</span></span>
        </header>
        @RenderBody()
        <div class="pudushka"></div>
    </div>
    <footer>
        <div class="footer_content">
            <div class="row">
                <div class="col-lg-3 col-sm-3"><img src="~/Images/logo_footer.jpg">
                </div>
                <div class="col-lg-3  col-sm-3">
                    IT Recruitment<br>
                    Specialists Web Sphere<br>
                    Support & Services<br>
                    WebSphere Outsourcing<br>
                    z/OS Support & Services<br>
                    iSeries Outsourcing Services
                </div>
                <div class="col-lg-3 col-sm-3">
                    Website Terms Of Use<br>
                    Privacy<br>
                    Policy<br>
                    Site Map<br>
                    Accessibility<br>
                    Job Feed
                </div>
                <div class="col-lg-3 col-sm-3">
                    Telephone: +41 44 214 64 48<br>
                    Fax: +41 44 214 65 19<br>
                    Email: info@xencore.ch
                </div>
            </div>
        </div>
        <div class="arr">
            © Xencore. All Rights Reserved
        </div>
    </footer>
</body>
</html>
