﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="font-family: 'PT Sans', sans-serif;
    width: 600px;
    margin: 0 auto;
    background-color: #fbfbfb">
        <div style="background-color:#93c210">
            <img style="margin-left: 40px;" src="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority) + "/Images/openlang/logo_forMailr.png")" />
        </div>
        <div>
            @RenderBody()
        </div>
        <div style="text-align: center;
    color: #bababa;
    padding: 20px 0;">
            <div>
                <a style="color: #bababa;
    display: inline-block;
    font-size: 23px;
    margin: 0 6px;" href="https://www.facebook.com/openlanguageszh">
                    <img src="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority) + "/Images/openlang/ico/facebookIco.jpg")">
                </a>
                <a  style="color: #bababa;
    display: inline-block;
    font-size: 23px;
    margin: 0 6px;" href="http://twitter.com/openlanguagesTW">
                    <img src="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority) + "/Images/openlang/ico/birdIco.jpg")">
                </a>
                <a  style="color: #bababa;
    display: inline-block;
    font-size: 23px;
    margin: 0 6px;" href="https://plus.google.com/u/0/101655078254166830753/posts">
                    <img src="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority) + "/Images/openlang/ico/inIco.jpg")">
                </a>
                <a  style="color: #bababa;
    display: inline-block;
    font-size: 23px;
    margin: 0 6px;" href="https://plus.google.com/u/0/101655078254166830753/posts">
                    <img src="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority) + "/Images/openlang/ico/googleIco.jpg")">
                </a>
            </div>
            <div>
                Copyright © Open Languages 2011-2015. All rights reserved.
            </div>
        </div>
    </div>
</body>
</html>
