﻿@using System.Web.Optimization
@using System.Threading
@{
    var lang = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0].ToLower();
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=864000" />
    <meta name="keywords" content="Learn German online, Learn German, German online, Learn English online, Learn English, English online, Learn French online, Learn French, French online, Learn Spanish online, Learn Spanish, Spanish online, Learn Italian online, Learn Italian, Italian online, Learn Portuguese online, Learn Portuguese, Portuguese online, Learn Chinese online, Learn Chinese, Chinese online, Learn Russian online, Learn Russian, Russian online, Learn a language online, Online language learning, Learn German in Zurich, Learn German in Berlin, Learn French in Paris, Learn Spanish in Barcelona, German, English, French, Spanish, Italian, Chinese, Portuguese, Russian, English language school, German language school, French language school, Spanish language school, online language school, language school online, online language learning, distance learning, language school, e-learning language, language teacher, English teacher, German teacher, French teacher, Spanish teacher, English teacher online, German teacher online, French teacher online, Spanish teacher online, teacher online, online language teacher, language teachers, online language course, language courses, grammar course, speaking courses" />
    <meta name="description" content="@ViewBag.Description">
    <meta property="og:title" content="Learn Languages Online" />
    <meta property="og:url" content="https://www.openlanguages.com/en/" />
    <meta property="og:site_name" content="Open Languages" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="966242223397117" />
    <meta property="og:image" content="https://www.openlanguages.com/Images/openlang/logo_forPDF2.jpg" />
    <meta property="og:description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!" />
    <link rel="icon" href="@Url.Content("~/Images/favicon.png")" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="Learn German online, Learn German, German online, Learn English online, Learn English, English online, Learn French online, Learn French, French online, Learn Spanish online, Learn Spanish, Spanish online, Learn Italian online, Learn Italian, Italian online, Learn Portuguese online, Learn Portuguese, Portuguese online, Learn Chinese online, Learn Chinese, Chinese online, Learn Russian online, Learn Russian, Russian online, Learn a language online, Online language learning, Learn German in Zurich, Learn German in Berlin, Learn French in Paris, Learn Spanish in Barcelona, German, English, French, Spanish, Italian, Chinese, Portuguese, Russian, English language school, German language school, French language school, Spanish language school, online language school, language school online, online language learning, distance learning, language school, e-learning language, language teacher, English teacher, German teacher, French teacher, Spanish teacher, English teacher online, German teacher online, French teacher online, Spanish teacher online, teacher online, online language teacher, language teachers, online language course, language courses, grammar course, speaking courses" />
    <meta name="description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!">
    <meta property="og:title" content="Learn Languages Online" />
    <meta property="og:url" content="https://www.openlanguages.com/en/" />
    <meta property="og:site_name" content="Open Languages" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="966242223397117" />
    <meta property="og:image" content="https://www.openlanguages.com/Images/openlang/logo_forPDF2.jpg" />
    <meta property="og:description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!" />
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="~/Css/style12.css?v3.1.5" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    @Styles.Render("~/Css/css")
    @Styles.Render("~/less/style")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    @RenderSection("Head", false)
    @RenderSection("Jsonld", false)
    <link href="~/Content/Css/intlTelInput.css" rel="stylesheet" />
</head>
<body>

  @Html.Partial("~/Views/openlang/_NewHeader.cshtml")
  <main class="mainTemplate @lang">
    @RenderBody()
  </main>
  @if (!User.Identity.IsAuthenticated)
  {
    Html.RenderPartial("~/Views/openlang/NewModals/Login.cshtml");
    Html.RenderPartial("~/Views/openlang/NewModals/SignIn.cshtml");
    Html.RenderPartial("~/Views/openlang/NewModals/TellUsMore.cshtml");
    Html.RenderPartial("~/Views/openlang/NewModals/ResetPassword.cshtml");
    Html.RenderPartial("~/Views/openlang/NewModals/GoodBadNews.cshtml");
    Html.RenderPartial("~/Views/openlang/NewModals/ApplyToTeach.cshtml");
  }
  @Html.Partial("~/Views/openlang/_NewFooter.cshtml")
  <div class="fb-customerchat"
       page_id="532356626802843"
       minimized="true">
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  @Scripts.Render("~/js/SelectBootstrap")
  <script src="~/js/jss.js"></script>
  <script src="~/js/jquery.background-video.js"></script>
  <script src="~/Scripts/openlang/intlTelInput.min.js"></script>
  @Scripts.Render("~/js/jss2")
  @if (!User.Identity.IsAuthenticated)
  {
    @Scripts.Render("~/Scripts/openalng/SocialAuthorize")
    <script async defer src="https://apis.google.com/js/client.js?onload=GoogleAuthourizeTs.loadSDK"></script>
    @Scripts.Render("~/js/forRegistration")
    <script>
      fn("@(ViewBag.ObjectCurrentUser.CountryCode.ToLower())","@Url.Action("SignIn", "Openlang")")
    </script>
  }
  @Scripts.Render("~/js/Shared")
  <script>
    shared('@Url.Action("Logout", "Openlang", new {area = string.Empty})');
  </script>
  <script src="~/js/InfrastructureForNewDesign/resources/resource.js"></script>
  @RenderSection("Scripts", false)
  <script src="~/Scripts/openlang/BeforeSendAuthorizeApi.js"></script>
  <script src="~/Scripts/openlang/OauthAutorizeToken.js"></script>
  <script>
    @if (User.Identity.IsAuthenticated)
    {

        <text>OAuthToken.setTokenOnly("@ViewBag.User.UserName");</text>
    }
    else
    {
        @:sessionStorage.clear();
        }
  </script>
  @if (ViewBag.Admin != null)
  {
    <script>
      $.post("@Url.Action("GetCountsOf","Attendee")").always(function (res) {
        var menu = $(".list-inline");
        menu.find("#count-attendee").text("Attendee (" + res.attendees + ")");
        menu.find("#count-teachers").text("Teacher (" + res.teachers + ")");
        menu.find("#count-discounts").text("Discount (" + res.discounts + ")");
      });
    </script>
  }

  <script src="~/Scripts/GoogleAnalytics.js"></script>

  <script type="text/javascript">
    adroll_adv_id = "H3S2CR5ECBB55MYEWJA7C2";
    adroll_pix_id = "GV537S3N75CVFJTSXVCIU4";
    (function () {
      var _onload = function () {
        if (document.readyState && !/loaded|complete/.test(document.readyState)) { setTimeout(_onload, 10); return }
        if (!window.__adroll_loaded) { __adroll_loaded = true; setTimeout(_onload, 50); return }
        var scr = document.createElement("script");
        var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
        scr.setAttribute('async', 'true');
        scr.type = "text/javascript";
        scr.src = host + "/j/roundtrip.js";
        ((document.getElementsByTagName('head') || [null])[0] ||
          document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      };
      if (window.addEventListener) { window.addEventListener('load', _onload, false); }
      else { window.attachEvent('onload', _onload) }
    }());

  </script>
  <script type="text/javascript">
    var tendKey = "HWWM7mszVVJJSFMHQIs3";
  </script>
  <script type="text/javascript">
    !function () { function t() { var t = n.createElement("script"); t.type = "text/javascript", t.async = !0, t.src = "https://track.tend.io/js/track/v2.5.js"; var e = n.getElementsByTagName("script")[0]; e.parentNode.insertBefore(t, e) } var e = window; if (!window.tend) { var n = document, a = function () { return { event: function (t) { a.c(["event", t]) }, page: function (t) { a.c(["page", t]) } } }(); a.q = [], a.c = function (t) { a.q.push(t) }, e.tend = a, e.attachEvent ? e.attachEvent("onload", t) : e.addEventListener("load", t, !1) } }();
  </script>
  <script type="text/javascript">
    var tendKey = "HWWM7mszVVJJSFMHQIs3";
  </script>
  <script type="text/javascript">
    !function () { function t() { var t = n.createElement("script"); t.type = "text/javascript", t.async = !0, t.src = "https://track.tend.io/js/track/v2.5.js"; var e = n.getElementsByTagName("script")[0]; e.parentNode.insertBefore(t, e) } var e = window; if (!window.tend) { var n = document, a = function () { return { event: function (t) { a.c(["event", t]) }, page: function (t) { a.c(["page", t]) } } }(); a.q = [], a.c = function (t) { a.q.push(t) }, e.tend = a, e.attachEvent ? e.attachEvent("onload", t) : e.addEventListener("load", t, !1) } }();
  </script>

  @*<script>
        window.intercomSettings = {
            app_id: "io6xj8og"
        };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/io6xj8og';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>*@
</body>
</html>
