﻿@using System.Web.Optimization
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Css/Semantic.css" rel="stylesheet" />
    @*<link href="~/Content/Css/openlang.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/Css/openlang")
    @*@Styles.Render("~/Content/Css/less")*@
    @*<script src="~/Scripts/openlang/pop_ups.js"></script>
        <script src="~/Scripts/openlang/LogUpPopup.js"></script>
        <script src="~/Scripts/openlang/SignUpPupup.js"></script>*@
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    @*<script src="~/Scripts/jquery.cookie.js"></script>*@
    <link href="~/Content/Css/intlTelInput.css" rel="stylesheet" />
    <script src="~/Scripts/openlang/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    @*<script src="~/Scripts/Semaintic.js"></script>*@
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    @*<script src="~/Scripts/openlang/RegistratedUser.js"></script>
        <script src="~/Scripts/openlang/Messager.js"></script>
        <script src="~/Scripts/openlang/GeolocationManager.js"></script>*@
    <script src="~/Scripts/openlang/GlobalVariables.js"></script>
    <script src="~/Scripts/openlang/Login.js"></script>
    <script src="~/Scripts/openlang/Prices/CountryCurrency.js"></script>
    @Scripts.Render("~/Scripts/openalng/Prices")
    @Scripts.Render("~/bundles/scripts")
    <script src="~/Scripts/openlang/Patterns.js"></script>
    <title>@ViewBag.Title</title>
    <script>
        //$(window).load(function () {
        //    stopLoader();
        //});
        $(window).resize(function () {
            resize()
        })
        $(document).ready(function () {
            if ($('.learn_languages_online').length > 0) {
                resize()
            }
            //$("#tel_number2,#tel_number2_fogot").intlTelInput({
            //    utilsScript: '/Scripts/openlang/utils.js'
            //});
            $(".ilearnDropdown2 .ilearnVia").dropdown({
                onChange: function (p, text) {
                    selTool2 = p;
                }
            });
            if (RegistratedUser.isInit && RegistratedUser.selectedLearnLang)
                $("#choose_level_for_signup").dropdown('set selected', RegistratedUser.selectedLearnLang.split('|')[0]);
            $(".sp_down").unbind("click").bind("click", sdDownClick);
            $(".social_net").unbind("click").bind("click", socialNetClick);

            var logUpop = new LogUpPopup();
            var signInpop = new SignUpPupup();
            signInpop.clickToIhaveAccount(logUpop);
            logUpop.CreateNewAccountEvent(signInpop);
            GeolocationManager.init(function (location) {
                $("#tel_number2,#tel_number2_fogot").intlTelInput("selectCountry", location.code);
                GetTimeZoneForSignUp();
            });
            $("#google_login,#google_signup").click(function () {
                //handleAuthClick();
                //location.href = '@Url.Action("GoogleLogin", "Account")' + "?selLang=" + (selLangg ? selLang : "");
                new SocialResponseHundler().buttonClickEvent(new GoogleAuthourizeTs());
            });
            $("#facebook_login,#facebook_signup").click(function () {
                facebookLogin();
                //location.href = '@Url.Action("FacebookLogin", "Account")' + "?selLang=" + (selLangg ? selLang : "");
            });

            $("li[data-check='" + ckCook + "']").hide();
            var selLang;
            var selLevel;
            $("#languages").click(function () {
                $(this).siblings("ul").toggle().children().click(function () {
                    var selLang = $(this).data("lang");
                    var chLang = $(this).data("check");
                    $.cookie("lang", selLang, { path: "/" });
                    $.cookie("checkLang", chLang, { path: "/" });
                    location.href = location.href.replace(Patterns.replaceSpecSymbols, '');
                });
            });
            $("#login").on("click", function () {
                logUpop.Show();
            });
            $("#close_log_in, #close_log_in_fogot").click(function () {
                logUpop.Close();
            });
            $("#close_log_in_fogot").click(function () {
                $(".resetPassword").animate({ 'top': '-100%' }, 500, function () {
                    $(this).parents(".login").css("display", "none");
                });
            });
            $("#sign_up,#sign_up3,#sign_up4").on("click", function () {
                signInpop.Show();
            });

            $("#close_sing_in").click(function () {
                localStorage.removeItem("prePopup");
                signInpop.Close();
                signInpop.SuccessAllParams = null;
            });
            var body = $("html, body");
            $(".navigation>i").click(function () {
                var s = $(this).data("to");
                if (s === ".learn_languages_online")
                    body.stop().animate({ scrollTop: $(s).offset().top - 63 }, 1000);
                else
                    body.stop().animate({ scrollTop: $(s).offset().top }, 1000);
            });
            $("#bt_how_it_works").click(function () {
                var cs = $(".how_it_works");
                cs.css("display", "block");
                cs.children(":first-child").animate({ "top": "50%" }, 500);
            });
            $("#close_how_it_works").click(function () {
                $(this).parent().animate({ "top": "-100%" }, 500, function () {
                    $(this).parent(".how_it_works").css("display", "none");
                });

            });
            $("#go_to_FAQ").click(function () {
                location.href = '@Url.Action("FAQ","Faq")';
            });
            $("#go_to_courses").click(function () {
                location.href = '@Url.Action("Courses","Courses")';
            });
            $("#go_to_contactus").click(function () {
                location.href = '@Url.Action("ContactUs","ContactUs")';
            });
        });
        function resize() {
            var windowHeight = $(window).height();
            $('.learn_languages_online').css('min-height', windowHeight - $("header")[0].clientHeight + 'px');
            $('#video, #video2, #video3').css('height', windowHeight + 'px');
            $('.learn_languages_online .content').css('min-height', windowHeight - $("header")[0].clientHeight - $('#scroll_more')[0].clientHeight + 'px');

            $('.plans_prices').css('min-height', windowHeight + 'px');

            $('.about_us').css('min-height', windowHeight + 'px');
            //$('.about_us .content').css('min-height', windowHeight + 'px');

            $('.testimonials').css('min-height', windowHeight + 'px');
            $('.learn_by_immertial').css('min-height', windowHeight - $('footer')[0].clientHeight + 'px');
        }
    </script>
    @RenderSection("head", false)
</head>
<body>
    <div id="loader">
        <div>
            <img src="~/Images/openlang/Loading_for_OL.gif">
        </div>
    </div>
    <div class="preHeader">
        @Html.Partial("~/Views/openlang/_Messager.cshtml")
        @Html.Partial("~/Views/openlang/_LogInPupup.cshtml")
        @Html.Partial("~/Views/openlang/_SignUpPupup.cshtml")
        @RenderSection("preHeader", false)
    </div>
    @Html.Partial("~/Views/openlang/_Header.cshtml")
    @RenderBody()
</body>
</html>
