﻿@using System.Web.Optimization
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Learn German online, Learn German, German online, Learn English online, Learn English, English online, Learn French online, Learn French, French online, Learn Spanish online, Learn Spanish, Spanish online, Learn Italian online, Learn Italian, Italian online, Learn Portuguese online, Learn Portuguese, Portuguese online, Learn Chinese online, Learn Chinese, Chinese online, Learn Russian online, Learn Russian, Russian online, Learn a language online, Online language learning, Learn German in Zurich, Learn German in Berlin, Learn French in Paris, Learn Spanish in Barcelona, German, English, French, Spanish, Italian, Chinese, Portuguese, Russian, English language school, German language school, French language school, Spanish language school, online language school, language school online, online language learning, distance learning, language school, e-learning language, language teacher, English teacher, German teacher, French teacher, Spanish teacher, English teacher online, German teacher online, French teacher online, Spanish teacher online, teacher online, online language teacher, language teachers, online language course, language courses, grammar course, speaking courses" />
  <meta name="description" content="@ViewBag.Description">
  <meta property="og:title" content="Learn Languages Online" />
  <meta property="og:url" content="https://www.openlanguages.com/en/" />
  <meta property="og:site_name" content="Open Languages" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="966242223397117" />
  <meta property="og:image" content="https://www.openlanguages.com/Images/openlang/logo_forPDF2.jpg" />
  <meta property="og:description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!" />
  <title>@ViewBag.Title</title>
  <link rel="icon" href="@Url.Content("~/Images/favicon.png")" />

  <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  @*<link href="~/Css/bootstrap.min.css" rel="stylesheet" />*@
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all" onload="if(media!='all')media='all'">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
  <link href="~/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="~/Content/Css/intlTelInput.css?v3.1.1" rel="stylesheet" />
  @*<link href="css/style.css" rel="stylesheet">*@
  @*@Styles.Render("~/less/newless")*@
  @Styles.Render("~/Css/style12?v3.1.3")
  @*<link href="~/Css/style12.css" rel="stylesheet" />*@
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <style>
    .navbar-nav > li {
      cursor: pointer;
    }

    .flags img {
      width: 35px;
      height: 35px;
    }

    .iwanttolearnvia img {
      width: 22px !important;
      height: 22px !important;
    }

    .intl-tel-input {
      width: 100%;
    }

    .country {
      text-align: left;
    }

    .btn.dropdown-toggle.bs-placeholder.btn-default.error {
      border: 1px solid red;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
  @*<link rel="manifest" href="/Content/manifest.json">*@
  <script type="text/javascript">
    setTimeout(function () {
      var a = document.createElement("script");
      var b = document.getElementsByTagName("script")[0];
      a.src = document.location.protocol + "//script.crazyegg.com/pages/scripts/0064/0683.js?" + Math.floor(new Date().getTime() / 3600000);
      a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
    }, 1);
  </script>
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      }; if (!f._fbq) f._fbq = n;
      n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
      document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '620498961477362'); // Insert your pixel ID here.
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=620498961477362&ev=PageView&noscript=1" />
  </noscript>
</head>
<body>
    @{Html.RenderPartial("~/Views/openlang/NewModals/TellUsMore.cshtml"); }
    @*@{
            if (!User.Identity.IsAuthenticated)
            {
                Html.RenderPartial("~/Views/openlang/NewModals/Login.cshtml");
                Html.RenderPartial("~/Views/openlang/NewModals/SignIn.cshtml");
                Html.RenderPartial("~/Views/openlang/NewModals/TellUsMore.cshtml");
                Html.RenderPartial("~/Views/openlang/NewModals/ResetPassword.cshtml");
                Html.RenderPartial("~/Views/openlang/NewModals/GoodBadNews.cshtml");
                Html.RenderPartial("~/Views/openlang/NewModals/ApplyToTeach.cshtml");
            }
        }*@
    @RenderBody()
    @*@Html.Partial("_Footer")*@
    @if (ViewBag.IsMain != null) { Html.RenderPartial("~/Views/openlang/LastNewFooter.cshtml"); }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js?v3.1.2"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @Scripts.Render("~/js/SelectBootstrap")
    <script src="~/Scripts/openlang/intlTelInput.min.js"></script>
    <script src="~/Scripts/openlang/OauthAutorizeToken.js"></script>
    <script src="~/js/InfrastructureForNewDesign/resources/resource.js?v3.1.3"></script>
    @if (!User.Identity.IsAuthenticated)
    {
        <script src="~/Scripts/SocialAuthorize/ISocialAothorize.js"></script>
        <script src="~/Scripts/SocialAuthorize/SocialResponseHundler.js"></script>
        <script src="~/Scripts/SocialAuthorize/GoogleAuthourizeTs.js"></script>
        <script src="~/Scripts/SocialAuthorize/FacebookAuthorizeTs.js"></script>
        <script src="~/Scripts/SocialAuthorize/UserResult.js"></script>
        <script async defer src="https://apis.google.com/js/client.js?onload=GoogleAuthourizeTs.loadSDK"></script>
        @Scripts.Render("~/js/forRegistration")
        <script>
            fn("@(ViewBag.ObjectCurrentUser.CountryCode.ToLower())","@Url.Action("SignIn", "Openlang")")
        </script>
    }
    @Scripts.Render("~/js/Shared")
    <script>
        shared('@Url.Action("Logout", "Openlang", new {area = string.Empty})', true);
        @if (User.Identity.IsAuthenticated)
        {
            <text>OAuthToken.setTokenOnly("@User.Identity.GetUserName()");</text>
        }
        else
        {
            @:sessionStorage.clear();
            }

    </script>
    @RenderSection("scripts", false)
    <script src="~/Scripts/GoogleAnalytics.js"></script>
    <script type="text/javascript">
        adroll_adv_id = "H3S2CR5ECBB55MYEWJA7C2";
        adroll_pix_id = "GV537S3N75CVFJTSXVCIU4";
        (function () {
            var _onload = function () {
                if (document.readyState && !/loaded|complete/.test(document.readyState)) { setTimeout(_onload, 10); return }
                if (!window.__adroll_loaded) { __adroll_loaded = true; setTimeout(_onload, 50); return }
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) { window.addEventListener('load', _onload, false); }
            else { window.attachEvent('onload', _onload) }
        }());

    </script>
    <style>
        .fb-livechat, .fb-widget {
            display: none
        }

        .ctrlq.fb-button, .ctrlq.fb-close {
            position: fixed;
            right: 24px;
            cursor: pointer
        }

        .ctrlq.fb-button {
            z-index: 1;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOCAxMjgiIGhlaWdodD0iMTI4cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTI4cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxyZWN0IGZpbGw9IiMwMDg0RkYiIGhlaWdodD0iMTI4IiB3aWR0aD0iMTI4Ii8+PC9nPjxwYXRoIGQ9Ik02NCwxNy41MzFjLTI1LjQwNSwwLTQ2LDE5LjI1OS00Niw0My4wMTVjMCwxMy41MTUsNi42NjUsMjUuNTc0LDE3LjA4OSwzMy40NnYxNi40NjIgIGwxNS42OTgtOC43MDdjNC4xODYsMS4xNzEsOC42MjEsMS44LDEzLjIxMywxLjhjMjUuNDA1LDAsNDYtMTkuMjU4LDQ2LTQzLjAxNUMxMTAsMzYuNzksODkuNDA1LDE3LjUzMSw2NCwxNy41MzF6IE02OC44NDUsNzUuMjE0ICBMNTYuOTQ3LDYyLjg1NUwzNC4wMzUsNzUuNTI0bDI1LjEyLTI2LjY1N2wxMS44OTgsMTIuMzU5bDIyLjkxLTEyLjY3TDY4Ljg0NSw3NS4yMTR6IiBmaWxsPSIjRkZGRkZGIiBpZD0iQnViYmxlX1NoYXBlIi8+PC9zdmc+) center no-repeat #0084ff;
            width: 60px;
            height: 60px;
            text-align: center;
            bottom: 24px;
            border: 0;
            outline: 0;
            border-radius: 60px;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            -ms-border-radius: 60px;
            -o-border-radius: 60px;
            box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16);
            -webkit-transition: box-shadow .2s ease;
            background-size: 80%;
            transition: all .2s ease-in-out
        }

            .ctrlq.fb-button:focus, .ctrlq.fb-button:hover {
                transform: scale(1.1);
                box-shadow: 0 2px 8px rgba(0,0,0,.09),0 4px 40px rgba(0,0,0,.24)
            }

        .fb-widget {
            background: #fff;
            z-index: 2;
            position: fixed;
            width: 360px;
            height: 435px;
            overflow: hidden;
            opacity: 0;
            bottom: 0;
            right: 24px;
            border-radius: 6px;
            -o-border-radius: 6px;
            -webkit-border-radius: 6px;
            box-shadow: 0 5px 40px rgba(0,0,0,.16);
            -webkit-box-shadow: 0 5px 40px rgba(0,0,0,.16);
            -moz-box-shadow: 0 5px 40px rgba(0,0,0,.16);
            -o-box-shadow: 0 5px 40px rgba(0,0,0,.16)
        }

        .fb-credit {
            text-align: center;
            margin-top: 8px
        }

            .fb-credit a {
                transition: none;
                color: #bec2c9;
                font-family: Helvetica,Arial,sans-serif;
                font-size: 12px;
                text-decoration: none;
                border: 0;
                font-weight: 400
            }

        .ctrlq.fb-overlay {
            z-index: 0;
            position: fixed;
            height: 100vh;
            width: 100vw;
            -webkit-transition: opacity .4s,visibility .4s;
            transition: opacity .4s,visibility .4s;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.05);
            display: none
        }

        .ctrlq.fb-close {
            z-index: 4;
            padding: 0 6px;
            background: #365899;
            font-weight: 700;
            font-size: 11px;
            color: #fff;
            margin: 8px;
            border-radius: 3px
        }

            .ctrlq.fb-close::after {
                content: 'x';
                font-family: sans-serif
            }
    </style>
    @*START FACEBOOK CHAT*@
    <div class="fb-customerchat"
         page_id="532356626802843"
         minimized="true">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <!--Facebook Chat Widget - Made by Supple Solutions - https://supple.com.au/tools/facebook-messenger-website-chat-widget/ -->
    @*END FACEBOOK CHAT*@
    @*<script>
                window.intercomSettings = {
                    app_id: "io6xj8og"
                };
        openlanguageszh
            </script>
            <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/io6xj8og';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>*@
</body>
</html>
