﻿@model bool
@if (Model)
{
    <option value="us">@Resources.Resource.English</option>
    <option value="es">@Resources.Resource.Spanish</option>
    <option value="fr">@Resources.Resource.French</option>
    <option value="it">@Resources.Resource.Italian</option>
    <option value="br">@Resources.Resource.Portuguese</option>
    <option value="se">@Resources.Resource.Swedish</option>
    <option value="de">@Resources.Resource.German</option>
    <option value="gr">@Resources.Resource.Greek</option>
    <option value="cn">@Resources.Resource.Chinese</option>
    <option value="ru">@Resources.Resource.Russian</option>
    <option value="ae">@Resources.Resource.Arabic</option>
    <option value="c1">@Resources.Resource.Amharic</option>
    <option value="c2">@Resources.Resource.Akan</option>
    <option value="c4">@Resources.Resource.Assamese</option>
    <option value="c5">@Resources.Resource.Awadhi</option>
    <option value="c6">@Resources.Resource.Azerbaijani</option>
    <option value="c7">@Resources.Resource.Balochi</option>
    <option value="c8">@Resources.Resource.Belarusian</option>
    <option value="c9">@Resources.Resource.Bengali</option>
    <option value="c10">@Resources.Resource.Bhojpuri</option>
    <option value="c11">@Resources.Resource.Burmese</option>
    <option value="c12">@Resources.Resource.Cebuano_Visayan</option>
    <option value="c13">@Resources.Resource.Chewa</option>
    <option value="c14">@Resources.Resource.Chhattisgarhi</option>
    <option value="c15">@Resources.Resource.Czech</option>
    <option value="c16">@Resources.Resource.Deccan</option>
    <option value="c17">@Resources.Resource.Dhundhari</option>
    <option value="c18">@Resources.Resource.Eastern_Min</option>
    <option value="c19">@Resources.Resource.Fula</option>
    <option value="c20">@Resources.Resource.Gan_Chinese</option>
    <option value="c21">@Resources.Resource.Dutch</option>
    <option value="c22">@Resources.Resource.Gujarati</option>
    <option value="c23">@Resources.Resource.Haitian_Creole</option>
    <option value="c24">@Resources.Resource.Hakka</option>
    <option value="c25">@Resources.Resource.Haryanvi</option>
    <option value="c26">@Resources.Resource.Hausa</option>
    <option value="c27">@Resources.Resource.Hiligayon</option>
    <option value="c28">@Resources.Resource.Hindi</option>
    <option value="c29">@Resources.Resource.Hmong</option>
    <option value="c30">@Resources.Resource.Hungarian</option>
    <option value="c31">@Resources.Resource.Igbo</option>
    <option value="c32">@Resources.Resource.Ilocano</option>
    <option value="c33">@Resources.Resource.Japanese</option>
    <option value="c34">@Resources.Resource.Javanese</option>
    <option value="c35">@Resources.Resource.Jin</option>
    <option value="c36">@Resources.Resource.Kannada</option>
    <option value="c37">@Resources.Resource.Kazakh</option>
    <option value="c38">@Resources.Resource.Khmer</option>
    <option value="c39">@Resources.Resource.Kinyarwanda</option>
    <option value="c40">@Resources.Resource.Kirundi</option>
    <option value="c41">@Resources.Resource.Konkani</option>
    <option value="c42">@Resources.Resource.Korean</option>
    <option value="c43">@Resources.Resource.Kurdish</option>
    <option value="c44">@Resources.Resource.Madurese</option>
    <option value="c45">@Resources.Resource.Magahi</option>
    <option value="c46">@Resources.Resource.Maithilli</option>
    <option value="c47">@Resources.Resource.Malagasy</option>
    <option value="c48">@Resources.Resource.Malay_Indonesian</option>
    <option value="c49">@Resources.Resource.Malayalam</option>
    <option value="c50">@Resources.Resource.Mandarin</option>
    <option value="c51">@Resources.Resource.Marathi</option>
    <option value="c52">@Resources.Resource.Marwari</option>
    <option value="c53">@Resources.Resource.Mossi</option>
    <option value="c54">@Resources.Resource.Nepali</option>
    <option value="c55">@Resources.Resource.Northern_Min</option>
    <option value="c56">@Resources.Resource.Odia_Oriya</option>
    <option value="c57">@Resources.Resource.Oromo</option>
    <option value="c58">@Resources.Resource.Pashto</option>
    <option value="c59">@Resources.Resource.Persian</option>
    <option value="c60">@Resources.Resource.Polish</option>
    <option value="c61">@Resources.Resource.Punjabi</option>
    <option value="c62">@Resources.Resource.Quechua</option>
    <option value="c63">@Resources.Resource.Romanian</option>
    <option value="c65">@Resources.Resource.Sariki</option>
    <option value="c66">@Resources.Resource.Serbo_Croatian</option>
    <option value="c67">@Resources.Resource.Shona</option>
    <option value="c68">@Resources.Resource.Sinhalese</option>
    <option value="c69">@Resources.Resource.Sinhi</option>
    <option value="c70">@Resources.Resource.Somali</option>
    <option value="c71">@Resources.Resource.Southern_Min</option>
    <option value="c72">@Resources.Resource.Sundanese</option>
    <option value="c73">@Resources.Resource.Sylheti</option>
    <option value="c74">@Resources.Resource.Tagalog</option>
    <option value="c75">@Resources.Resource.Tamil</option>
    <option value="c76">@Resources.Resource.Telugu</option>
    <option value="c77">@Resources.Resource.Thai</option>
    <option value="c78">@Resources.Resource.Turkish</option>
    <option value="c79">@Resources.Resource.Turkmen</option>
    <option value="c80">@Resources.Resource.Ukrainian</option>
    <option value="c81">@Resources.Resource.Urdu</option>
    <option value="c82">@Resources.Resource.Uyghur</option>
    <option value="c83">@Resources.Resource.Uzbek</option>
    <option value="c84">@Resources.Resource.Vietnamese</option>
    <option value="c85">@Resources.Resource.Wu_Shanghainese</option>
    <option value="c86">@Resources.Resource.Xhosa</option>
    <option value="c87">@Resources.Resource.Xiang_Hunnanese</option>
    <option value="c88">@Resources.Resource.Yoruba</option>
    <option value="c89">@Resources.Resource.Yue_Cantonese</option>
    <option value="c90">@Resources.Resource.Zulu</option>
}
else
{
    <option disabled="disabled" value="us">@Resources.Resource.English</option>
    <option disabled="disabled" value="es">@Resources.Resource.Spanish</option>
    <option disabled="disabled" value="fr">@Resources.Resource.French</option>
    <option disabled="disabled" value="it">@Resources.Resource.Italian</option>
    <option disabled="disabled" value="br">@Resources.Resource.Portuguese</option>
    <option disabled="disabled" value="se">@Resources.Resource.Swedish</option>
    <option disabled="disabled" value="de">@Resources.Resource.German</option>
    <option disabled="disabled" value="gr">@Resources.Resource.Greek</option>
    <option disabled="disabled" value="cn">@Resources.Resource.Chinese</option>
    <option disabled="disabled" value="ru">@Resources.Resource.Russian</option>
    @*<option disabled="disabled" value="ae">@Resources.Resource.Arabic</option>
    <option disabled="disabled" value="c1">@Resources.Resource.Amharic</option>
    <option disabled="disabled" value="c2">@Resources.Resource.Akan</option>
    <option disabled="disabled" value="c4">@Resources.Resource.Assamese</option>
    <option disabled="disabled" value="c5">@Resources.Resource.Awadhi</option>
    <option disabled="disabled" value="c6">@Resources.Resource.Azerbaijani</option>
    <option disabled="disabled" value="c7">@Resources.Resource.Balochi</option>
    <option disabled="disabled" value="c8">@Resources.Resource.Belarusian</option>
    <option disabled="disabled" value="c9">@Resources.Resource.Bengali</option>
    <option disabled="disabled" value="c10">@Resources.Resource.Bhojpuri</option>
    <option disabled="disabled" value="c11">@Resources.Resource.Burmese</option>
    <option disabled="disabled" value="c12">@Resources.Resource.Cebuano_Visayan</option>
    <option disabled="disabled" value="c13">@Resources.Resource.Chewa</option>
    <option disabled="disabled" value="c14">@Resources.Resource.Chhattisgarhi</option>
    <option disabled="disabled" value="c15">@Resources.Resource.Czech</option>
    <option disabled="disabled" value="c16">@Resources.Resource.Deccan</option>
    <option disabled="disabled" value="c17">@Resources.Resource.Dhundhari</option>
    <option disabled="disabled" value="c18">@Resources.Resource.Eastern_Min</option>
    <option disabled="disabled" value="c19">@Resources.Resource.Fula</option>
    <option disabled="disabled" value="c20">@Resources.Resource.Gan_Chinese</option>
    <option disabled="disabled" value="c21">@Resources.Resource.Dutch</option>
    <option disabled="disabled" value="c22">@Resources.Resource.Gujarati</option>
    <option disabled="disabled" value="c23">@Resources.Resource.Haitian_Creole</option>
    <option disabled="disabled" value="c24">@Resources.Resource.Hakka</option>
    <option disabled="disabled" value="c25">@Resources.Resource.Haryanvi</option>
    <option disabled="disabled" value="c26">@Resources.Resource.Hausa</option>
    <option disabled="disabled" value="c27">@Resources.Resource.Hiligayon</option>
    <option disabled="disabled" value="c28">@Resources.Resource.Hindi</option>
    <option disabled="disabled" value="c29">@Resources.Resource.Hmong</option>
    <option disabled="disabled" value="c30">@Resources.Resource.Hungarian</option>
    <option disabled="disabled" value="c31">@Resources.Resource.Igbo</option>
    <option disabled="disabled" value="c32">@Resources.Resource.Ilocano</option>
    <option disabled="disabled" value="c33">@Resources.Resource.Japanese</option>
    <option disabled="disabled" value="c34">@Resources.Resource.Javanese</option>
    <option disabled="disabled" value="c35">@Resources.Resource.Jin</option>
    <option disabled="disabled" value="c36">@Resources.Resource.Kannada</option>
    <option disabled="disabled" value="c37">@Resources.Resource.Kazakh</option>
    <option disabled="disabled" value="c38">@Resources.Resource.Khmer</option>
    <option disabled="disabled" value="c39">@Resources.Resource.Kinyarwanda</option>
    <option disabled="disabled" value="c40">@Resources.Resource.Kirundi</option>
    <option disabled="disabled" value="c41">@Resources.Resource.Konkani</option>
    <option disabled="disabled" value="c42">@Resources.Resource.Korean</option>
    <option disabled="disabled" value="c43">@Resources.Resource.Kurdish</option>
    <option disabled="disabled" value="c44">@Resources.Resource.Madurese</option>
    <option disabled="disabled" value="c45">@Resources.Resource.Magahi</option>
    <option disabled="disabled" value="c46">@Resources.Resource.Maithilli</option>
    <option disabled="disabled" value="c47">@Resources.Resource.Malagasy</option>
    <option disabled="disabled" value="c48">@Resources.Resource.Malay_Indonesian</option>
    <option disabled="disabled" value="c49">@Resources.Resource.Malayalam</option>
    <option disabled="disabled" value="c50">@Resources.Resource.Mandarin</option>
    <option disabled="disabled" value="c51">@Resources.Resource.Marathi</option>
    <option disabled="disabled" value="c52">@Resources.Resource.Marwari</option>
    <option disabled="disabled" value="c53">@Resources.Resource.Mossi</option>
    <option disabled="disabled" value="c54">@Resources.Resource.Nepali</option>
    <option disabled="disabled" value="c55">@Resources.Resource.Northern_Min</option>
    <option disabled="disabled" value="c56">@Resources.Resource.Odia_Oriya</option>
    <option disabled="disabled" value="c57">@Resources.Resource.Oromo</option>
    <option disabled="disabled" value="c58">@Resources.Resource.Pashto</option>
    <option disabled="disabled" value="c59">@Resources.Resource.Persian</option>
    <option disabled="disabled" value="c60">@Resources.Resource.Polish</option>
    <option disabled="disabled" value="c61">@Resources.Resource.Punjabi</option>
    <option disabled="disabled" value="c62">@Resources.Resource.Quechua</option>
    <option disabled="disabled" value="c63">@Resources.Resource.Romanian</option>
    <option disabled="disabled" value="c65">@Resources.Resource.Sariki</option>
    <option disabled="disabled" value="c66">@Resources.Resource.Serbo_Croatian</option>
    <option disabled="disabled" value="c67">@Resources.Resource.Shona</option>
    <option disabled="disabled" value="c68">@Resources.Resource.Sinhalese</option>
    <option disabled="disabled" value="c69">@Resources.Resource.Sinhi</option>
    <option disabled="disabled" value="c70">@Resources.Resource.Somali</option>
    <option disabled="disabled" value="c71">@Resources.Resource.Southern_Min</option>
    <option disabled="disabled" value="c72">@Resources.Resource.Sundanese</option>
    <option disabled="disabled" value="c73">@Resources.Resource.Sylheti</option>
    <option disabled="disabled" value="c74">@Resources.Resource.Tagalog</option>
    <option disabled="disabled" value="c75">@Resources.Resource.Tamil</option>
    <option disabled="disabled" value="c76">@Resources.Resource.Telugu</option>
    <option disabled="disabled" value="c77">@Resources.Resource.Thai</option>
    <option disabled="disabled" value="c78">@Resources.Resource.Turkish</option>
    <option disabled="disabled" value="c79">@Resources.Resource.Turkmen</option>
    <option disabled="disabled" value="c80">@Resources.Resource.Ukrainian</option>
    <option disabled="disabled" value="c81">@Resources.Resource.Urdu</option>
    <option disabled="disabled" value="c82">@Resources.Resource.Uyghur</option>
    <option disabled="disabled" value="c83">@Resources.Resource.Uzbek</option>
    <option disabled="disabled" value="c84">@Resources.Resource.Vietnamese</option>
    <option disabled="disabled" value="c85">@Resources.Resource.Wu_Shanghainese</option>
    <option disabled="disabled" value="c86">@Resources.Resource.Xhosa</option>
    <option disabled="disabled" value="c87">@Resources.Resource.Xiang_Hunnanese</option>
    <option disabled="disabled" value="c88">@Resources.Resource.Yoruba</option>
    <option disabled="disabled" value="c89">@Resources.Resource.Yue_Cantonese</option>
    <option disabled="disabled" value="c90">@Resources.Resource.Zulu</option>*@
}

