﻿
    <option></option>
    <option value="A1">
        @Resources.Resource.Beginner
    </option>
    <option value="A2">
        @Resources.Resource.UpperBeginner
    </option>
    <option value="B1">
        @Resources.Resource.Intermediate
    </option>
    <option value="B2">
        @Resources.Resource.UpperIntermediate
    </option>
    <option value="C1">
        @Resources.Resource.Advanced
    </option>
    <option value="C2">
        @Resources.Resource.UpperAdvanced
    </option>
