﻿
    <option></option>
    <option value="0">
        @Resources.Resource.Beginner
    </option>
    <option value="1">
        @Resources.Resource.UpperBeginner
    </option>
    <option value="2">
        @Resources.Resource.Intermediate
    </option>
    <option value="3">
        @Resources.Resource.UpperIntermediate
    </option>
    <option value="4">
        @Resources.Resource.Advanced
    </option>
    <option value="5">
        @Resources.Resource.UpperAdvanced
    </option>
