﻿<option>Greenwich Mean Time</option>
<option>Universal Coordinated Time</option>
<option>European Central Time</option>
<option>Eastern European Time</option>
<option>(Arabic) Egypt Standard Time</option>
<option>Eastern African Time</option>
<option>Middle East Time</option>
<option>Near East Time</option>
<option>Pakistan Lahore Time</option>
<option>India Standard Time</option>
<option>Bangladesh Standard Time</option>
<option>Vietnam Standard Time</option>
<option>China Taiwan Time</option>
<option>Japan Standard Time</option>
<option>Australia Central Time</option>
<option>Australia Eastern Time</option>
<option>Solomon Standard Time</option>
<option>New Zealand Standard Time</option>
<option>Midway Islands Time</option>
<option>Hawaii Standard Time</option>
<option>Alaska Standard Time</option>
<option>Pacific Standard Time</option>
<option>Phoenix Standard Time</option>
<option>Mountain Standard Time</option>
<option>Central Standard Time</option>
<option>Eastern Standard Time</option>
<option>Indiana Eastern Standard Time</option>
<option>Puerto Rico and US Virgin Islands Time</option>
<option>Canada Newfoundland Time</option>
<option>Argentina Standard Time</option>
<option>Brazil Eastern Time</option>
<option>Central African Time</option>