﻿@{
    Layout = null;
}
    <style>
        .legend {
            color: #333;
            text-align: center;
            margin: 40px 0;
        }

            .legend span:first-child {
                color: #a1d418;
                display: block;
            }

        #table td.rw {
            background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        .datails {
            padding-left: 50px !important;
        }

        .filtering {
            text-align: center;
        }

            .filtering h1 {
                text-align: left;
                margin-left: 20px !important;
            }

        a.active {
            background-color: yellow;
        }
    </style>
@*<section class="blue-bg-prof hidden-xs"></section>*@
<section class="admin teacher-profile lessons-materic">
        <div class="content-wrap">
                <div class="bgc-content-wrap clearfix">
                    <div class="col-xs-12">
                        <div class="myBoudget materic-wrap">
                            <div class="chart-chart">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div ng-click ="getNewData(null,$event)" class="col-xs-2 toe active">
                                            <div><a href="">All</a></div>
                                        </div>
                                        <div ng-click ="getNewData('LastYear',$event)" class="col-xs-2 toe">
                                            <div><a href="">Last Year</a></div>
                                        </div>
                                        <div ng-click ="getNewData('LastMonth',$event)" class="col-xs-2 toe">
                                            <div><a href="">Last Month</a></div>
                                        </div>
                                        <div ng-click ="getNewData('LastWeek',$event)" class="col-xs-2 toe">
                                            <div><a href="">Last Week</a></div>
                                        </div>
                                        <div ng-click ="getNewData('Today',$event)" class="col-xs-2 toe">
                                            <div><a href="">Today</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row legend">
                                    <div class="col-xs-2">
                                        <span>Total count lesons</span>
                                        <span>{{model.CountLessons}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Trial lesons</span>
                                        <span>{{model.CountLessonsTrial}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Basic lesons</span>
                                        <span>{{model.CountLessonsBasic}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Premium lesons</span>
                                        <span>{{model.CountLessonsPremium}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Group lesons</span>
                                        <span>{{model.CountLessonsGroup}}</span>
                                    </div>
                                    <div class="col-xs-2">

                                    </div>
                                </div>
                            </div>
                            <div class="row legend">
                                <div class="col-xs-2">
                                    <span>Total Price</span>
                                    <span>{{model.TotalPrice}} (EUR)</span>
                                </div>
                                <div class="col-xs-2">
                                    <span>Price Trial lesons</span>
                                    <span>{{model.PriceTrialLessons}} </span>
                                </div>
                                <div class="col-xs-2">
                                    <span>Price Basic lesons</span>
                                    <span>{{model.PriceBasicLessons}}</span>
                                </div>
                                <div class="col-xs-2">
                                    <span>Price Premium lesons</span>
                                    <span>{{model.PricePremiumLessons}}</span>
                                </div>
                                <div class="col-xs-2">
                                    <span>Price Group lesons</span>
                                    <span>{{model.PriceGroupLessons}}</span>
                                </div>
                                <div class="col-xs-2">

                                </div>
                            </div>
                        </div>
                        @*<div class="row filtering search-wrap">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input value="" type="text" id="query" class="form-control" placeholder="Enter part of email or name of student or teacher" />
                                    <button type="button" id="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-xs-12">
                            <table dt-instance="dtInstance" datatable="ng" dt-options="dtOptions" id="table" class="table-lessonMateric">
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Teacher Name</th>
                                        <th>Start (UTC)</th>
                                        <th>Type</th>
                                        <th>Language</th>
                                        <th>Student Payment</th>
                                    </tr>
                                </thead>
                                    <tr ng-repeat="item in model.List">
                                        <td>{{item.Students[0].Name}}</td>
                                        <td>{{item.TeacherName}}</td>
                                        <td>{{item.StartDateTime}}</td>
                                        <td>{{item.Type}}</td>
                                        <td>{{item.Language}}</td>
                                        <td>{{item.Price}}</td>
                                    </tr>
                                        @*<tr class="child">
                                            <td class="datails child" colspan="4">
                                                <table>
                                                    <tbody>
                                                        @foreach (var stud in item.ScheduleTransactions.OrderByDescending(x => x.CreatedDate))
                                                        {
                                                            <tr>
                                                                <td>@stud.User.Name</td>
                                                                <td>@stud.User.Email</td>
                                                                <td>@stud.User.Location</td>
                                                                <td>@stud.Price (EUR)</td>
                                                                <td></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td></td>
                                        </tr>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</section>

