﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="/TemplatesDesign/path/to/image.jpg">
    <link rel="shortcut icon" href="/TemplatesDesign/img/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/TemplatesDesign/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/TemplatesDesign/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/TemplatesDesign/img/favicon/apple-touch-icon-114x114.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

</head>
<body id="choice">
    <!----------               LEFT SIDEBAR                   ---------->
    <div class="left-sidebar">
        <div class="left-sidebar_element logo-wrapper">
            <a href="#"><img src="/TemplatesDesign/img/logo.png" alt="OpenLanguages"></a>
        </div>
        <div class="left-sidebar_element avatar-wrapper">
            <a href="#"><img src="/TemplatesDesign/img/avatar.png" alt="avatar"></a>
        </div>
        <div class="left-sidebar_element">
            <ul class="left-sidebar_navigation">
                <li><a href="#"><i class="fa fa-list-alt"></i></a></li>
                <li><a href="#"><i class="fa fa-users"></i></a></li>
                <li><a href="#"><i class="fa fa-percent"></i></a></li>
                <li><a href="#"><i class="fa fa-eur"></i></a></li>
                <li><a href="#"><i class="fa fa-money"></i></a></li>
                <li><a href="#"><i class="fa fa-table"></i></a></li>
                <li><a href="#"><i class="fa fa-area-chart"></i></a></li>
                <li><a href="#"><i class="fa fa-clone"></i></a></li>
            </ul>
        </div>
        <div class="left-sidebar_element flag-wrapper">
            <a href="#"><img src="/TemplatesDesign/img/english.png" alt="flag"></a>
        </div>
    </div>
    <!-- /.left-sidebar -->
    <!--                          CONTENT                                    -->
    <div class="content">
        <div class="content-wrapper">
            <!-- /            Content  header                    -->
            <div class="content-header">
                <div class="content-header__left">
                    <div class="lesson-number">1</div>
                    <span class="lesson-name">Lesson name</span>
                </div>
                <div class="content-header__right">
                    <button class="button-ask">
                        <i class="fa fa-question"></i>
                    </button>
                    <button class="button-close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.content-header -->
            <!-- /            Content  main                     -->
            <div class="content-main">
                <div class="content-main__wrapper">
                    <h2>slide 1 of 10</h2>
                    <h3>
                        Which choice most effectively signals the shift from
                        the preceding paragraph to this paragraph?
                    </h3>
                    <div class="content-radio">
                        <ul class="radio-nav">
                            <li><label><input type="radio" name="paragrath" value="a"><div class="option-letter"><div class="checker" id="correct"><i class="fa fa-check"></i></div>A.</div><div class="option">NO CHANGE</div></li></label>
                            <li><label><input type="radio" name="paragrath" value="b"><div class="option-letter"><div class="checker"><i class="fa fa-check"></i></div>B.</div><div class="option">Our lives were likewise affected by the phases of the moon.</div></label></li>
                            <li><label><input type="radio" name="paragrath" value="c"><div class="option-letter"><div class="checker"><i class="fa fa-check"></i></div>C.</div><div class="option">A relationship exists between the moon and the tides.</div></label></li>
                            <li><label><input type="radio" name="paragrath" value="d"><div class="option-letter"><div class="checker"><i class="fa fa-check"></i></div>D.</div><div class="option">The moon is a mysterious orb afloat in the sky.</div></label></li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- /.content-main -->
            <!-- /            Content  footer                     -->
            <div class="content-footer" style="background-color: #e5f5fc">
                <div class="content-footer__decision">
                    <span id="words-check" class="click-check">Click to check</span>
                    <span class="check-sign"><i class="fa fa-check"></i></span>
                </div>
                <div class="content-footer__next">
                    <button class="button" id="nextVideo" onclick="window.location.href='video'">Next slide</button>
                </div>
            </div>
            <!-- /.content-footer -->

        </div>
    </div>
    <!-- /.content -->

    <link rel="stylesheet" href="/TemplatesDesign/css/main.css">
    <script src="/TemplatesDesign/js/scripts.min.js"></script>
</body>
</html>

