﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="/TemplatesDesign/path/to/image.jpg">
    <link rel="shortcut icon" href="/TemplatesDesign/img/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/TemplatesDesign/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/TemplatesDesign/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/TemplatesDesign/img/favicon/apple-touch-icon-114x114.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

</head>
<body id="voice">
    <!----------               LEFT SIDEBAR                   ---------->
    <div class="left-sidebar">
        <div class="left-sidebar_element logo-wrapper">
            <a href="#"><img src="/TemplatesDesign/img/logo.png" alt="OpenLanguages"></a>
        </div>
        <div class="left-sidebar_element avatar-wrapper">
            <a href="#"><img src="/TemplatesDesign/img/avatar.png" alt="avatar"></a>
        </div>
        <div class="left-sidebar_element">
            <ul class="left-sidebar_navigation">
                <li><a href="#"><i class="fa fa-list-alt"></i></a></li>
                <li><a href="#"><i class="fa fa-users"></i></a></li>
                <li><a href="#"><i class="fa fa-percent"></i></a></li>
                <li><a href="#"><i class="fa fa-eur"></i></a></li>
                <li><a href="#"><i class="fa fa-money"></i></a></li>
                <li><a href="#"><i class="fa fa-table"></i></a></li>
                <li><a href="#"><i class="fa fa-area-chart"></i></a></li>
                <li><a href="#"><i class="fa fa-clone"></i></a></li>
            </ul>
        </div>
        <div class="left-sidebar_element flag-wrapper">
            <a href="#"><img src="/TemplatesDesign/img/english.png" alt="flag"></a>
        </div>
    </div>
    <!-- /.left-sidebar -->
    <!--                          CONTENT                                    -->
    <div class="content">
        <div class="content-wrapper">

            <!-- /            Content  header                    -->
            <div class="content-header">
                <div class="content-header__left">
                    <div class="lesson-number">1</div>
                    <span class="lesson-name">Lesson name</span>
                </div>
                <div class="content-header__right">
                    <button class="button-ask">
                        <i class="fa fa-question"></i>
                    </button>
                    <button class="button-close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.content-header -->
            <!-- /            Content  main                     -->
            <div class="content-main">
                <div class="content-main__wrapper">
                    <h2>slide 6 of 10</h2>
                    <h3>Translate the text and fill in the missing word with a microphone</h3>
                    <div class="task-sent">Ich spreche kein Spanisch.</div>
                    <div class="rel">
                        <span class="circle"></span>
                        <span class="circle2"></span>
                        <div id="voice-record" class="voice-record"><i class="fa fa-microphone"></i></div>
                    </div>
                    <div class="task-wrap">
                        <div class="task-ans">I don’t speak </div>
                        <div class="task-word" id="voice-word"></div>
                        <span>.</span>
                    </div>
                </div>
            </div>
            <!-- /.content-main -->
            <!-- /            Content  footer                     -->
            <div class="content-footer" style="background-color: #e5f5fc">
                <div class="content-footer__decision">
                    <span id="words-check" class="click-check">Click to check</span>
                    <span class="check-sign"><i class="fa fa-check"></i></span>
                </div>
                <div class="content-footer__next">
                    <button class="button" onclick="window.location.href='#'">Next slide</button>
                </div>
            </div>
            <!-- /.content-footer -->

        </div>
    </div>
    <!-- /.content -->

    <link rel="stylesheet" href="/TemplatesDesign/css/main.css">
    <script src="/TemplatesDesign/js/scripts.min.js"></script>
</body>
</html>

