﻿@{
    Layout = null;
}
<div class="myBoudget">
<div ui-budget-statistic url="/api/CompanyDashboard/GetTotalStatistic"></div>
@*<div class="filter-wrap">
            <div class="form-group input-search">
                <input id="searchByInfo" placeholder="Enter information to search" type="text" class="form-control">
            </div>
            <div class="form-group table-item-count">
                <label for="name">Show</label>
                    <select class="js-select2-tableItem" id="tableItem">
                        <option value="1">10</option>
                        <option value="1">25</option>
                        <option value="1">50</option>
                        <option value="1">100</option>
                    </select>
            </div>
        </div>*@
@*<hr />
        <h2>First table</h2>
        <div class="table total-attend manager-table" >
            <table  datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" id="mystudents" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
                   data-info="@Resources.Resource.showingstart" data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>I learn</th>
                        <th>I speak</th>
                        <th>Sign Up</th>
                        <th>Phone</th>
                        <th>I learn via</th>
                        <th>CVC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="name">Caroline</td>
                        <td>Cwhittow@gmail.com</td>
                        <td>German, English, Italian</td>
                        <td>German, English</td>
                        <td>30/10/2017</td>
                        <td>+27765839691</td>
                        <td>pietermarneweck@gmail.com</td>
                        <td>0</td>
                    </tr>

                    <tr ng-repeat="student in tableOfStudents">
                        <td class="first-td"><img ng-src="{{student.ProfilePicture}}" /> <span>{{student.Name}}</span></td>
                        <td>{{student.Level}}</td>
                        <td>{{student.ILearn}}</td>
                        <td>{{getDate(student.LastClass)}}</td>
                        <td>{{student.Attendance}}</td>
                        <td>{{student.Classes}}</td>
                        <td>{{student.CountLeftLessons}} <i ng-click="topUpBalance(student.Id)" class="fa fa-plus-circle" aria-hidden="true"></i></td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <h2>Second table</h2>
        <div class="table teachers-table manager-table">
            <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" id="mystudents" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
                   data-info="@Resources.Resource.showingstart" data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>I learn</th>
                        <th>I speak</th>
                        <th>Sign Up</th>
                        <th>Phone</th>
                        <th>I learn via</th>
                        <th>Isactive</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="name">Caroline</td>
                        <td>Cwhittow@gmail.com</td>
                        <td>German, English, Italian</td>
                        <td>German, English</td>
                        <td>30/10/2017</td>
                        <td>+27765839691</td>
                        <td>pietermarneweck@gmail.com</td>
                        <td class="disb">DISABLE</td>
                    </tr>
                    <tr>
                        <td class="name">Caroline</td>
                        <td>Cwhittow@gmail.com</td>
                        <td>German, English, Italian</td>
                        <td>German, English</td>
                        <td>30/10/2017</td>
                        <td>+27765839691</td>
                        <td>pietermarneweck@gmail.com</td>
                        <td class="eneb">ENABLE</td>
                    </tr>
                    <tr ng-repeat="student in tableOfStudents">
                        <td class="first-td"><img ng-src="{{student.ProfilePicture}}" /> <span>{{student.Name}}</span></td>
                        <td>{{student.Level}}</td>
                        <td>{{student.ILearn}}</td>
                        <td>{{getDate(student.LastClass)}}</td>
                        <td>{{student.Attendance}}</td>
                        <td>{{student.Classes}}</td>
                        <td>{{student.CountLeftLessons}} <i ng-click="topUpBalance(student.Id)" class="fa fa-plus-circle" aria-hidden="true"></i></td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />

        <hr />
        <h2>Actions metric</h2>
        <div class="actions-wrap">
            <div class="chart-chart">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3 toe active">
                            <div>All</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div>Today</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div>Last Week</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div>Last Month</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div>Last Year</div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid actions-items">
                    <div class="row">
                        <div class="col-xs-3 item">
                            <b>Lessons created</b>
                            <span>457</span>
                        </div>
                        <div class="col-xs-3 item">
                            <b>Lessons created</b>
                            <span>457</span>
                        </div>
                        <div class="col-xs-3 item">
                            <b>Lessons created</b>
                            <span>457</span>
                        </div>
                        <div class="col-xs-3 item">
                            <b>Lessons created</b>
                            <span>457</span>
                        </div>
                        <div class="col-xs-3 item">
                            <b>Lessons created</b>
                            <span>457</span>
                        </div>
                        <div class="col-xs-3 item">
                            <b>Users added to lessons</b>
                            <span>457</span>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="filter-wrap">
                                <div class="form-group input-search">
                                    <input id="searchByInfo" placeholder="Enter information to search" type="text" class="form-control">
                                </div>
                                <div class="form-group table-item-count">
                                    <label for="name">Show</label>
                                    <select class="js-select2-tableItem" id="tableItem2">
                                        <option value="1">10</option>
                                        <option value="1">25</option>
                                        <option value="1">50</option>
                                        <option value="1">100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table user-table manager-table">
                    <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" id="mystudents" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
                           data-info="@Resources.Resource.showingstart" data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Date time (UTC)</th>
                                <th>Message</th>
                                <th>Short message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lily Svilenova</td>
                                <td>18/09/2017 03:23</td>
                                <td>You have just booked a Шведский lesson for 27/05 at 12:00 your local time with Eugeny Myakisev</td>
                                <td>Lesson Created</td>
                            </tr>
                            <tr ng-repeat="student in tableOfStudents">
                                <td><span>{{student.Name}}</span></td>
                                <td>{{student.Level}}</td>
                                <td>{{student.ILearn}}</td>
                                <td>{{getDate(student.LastClass)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr />*@
<div class="chart-chart">
    <div class="container-fluid">
        <div class="row">
            <div ng-class="selectedChart == 'daily'?'active':''" class="col-xs-3 toe">
                <div ng-click="checkChart('daily')">@Resources.Resource.daily</div>
            </div>
            <div ng-class="selectedChart == 'weekly'?'active':''" class="col-xs-3 toe">
                <div ng-click="checkChart('weekly')">@Resources.Resource.Weekly</div>
            </div>
            <div ng-class="selectedChart == 'monthly'?'active':''" class="col-xs-3 toe">
                <div ng-click="checkChart('monthly')">@Resources.Resource.Monthly</div>
            </div>
            <div ng-class="selectedChart == 'yearly'?'active':''" class="col-xs-3 toe">
                <div ng-click="checkChart('yearly')">@Resources.Resource.Yearly</div>
            </div>
            <div class="col-xs-12 ch-chart" id="chart">
                <canvas id="myChart" width="740" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="table">
    <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" id="mystudents" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
           data-info="@Resources.Resource.showingstart" data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
        <thead>
        <tr>
            <th>@Resources.Resource.studentsname</th>
            <th>@Resources.Resource.LEVEL</th>
            <th>@Resources.Resource.Learning</th>
            <th>@Resources.Resource.lastclass</th>
            <th>@Resources.Resource.attendance</th>
            <th>@Resources.Resource.classes</th>
            <th>Left Lessons</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in tableOfStudents">
            <td class="first-td"><img ng-src="{{student.ProfilePicture}}" /> <span>{{student.Name}}</span></td>
            <td>{{student.Level}}</td>
            <td>{{student.ILearn}}</td>
            <td>{{getDate(student.LastClass)}}</td>
            <td>{{student.Attendance}}</td>
            <td>{{student.Classes}}</td>
            <td>{{student.CountLeftLessons}} <i ng-click="topUpBalance(student.Id)" class="fa fa-plus-circle" aria-hidden="true"></i></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
@{
    Html.RenderPartial("~/Areas/Dashboard/Views/Company/Modals/ReplenishCompanyStudent.cshtml");
    Html.RenderPartial("~/Areas/Dashboard/Views/Company/Modals/ReplenishStudentBalanceGood.cshtml");
}
@*<script>
        $("#tableItem").select2();
        $("#tableItem2").select2();
    </script>*@