﻿@model IEnumerable<DTO.StudentsOfCompanyTableDto>
@{
    Layout = null;
}

<div class="table-wrap">
    <div class="col-md-8 col-sm-8 col-xs-8 text-left">
        <a class="button btn-ft" data-toggle="modal" data-target="#bindstudents">Invite a student</a>
    </div>
    <table id="mystudents1" dt-options="dtOptions" dt-instance="dtInstance" datatable="ng" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
           data-info="@Resources.Resource.showingstart" data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
        <thead>
        <tr>
            <th>@Resources.Resource.studentsname</th>
            <th>@Resources.Resource.LEVEL</th>
            <th>@Resources.Resource.Learning</th>
            <th>@Resources.Resource.lastclass</th>
            <th>@Resources.Resource.attendance</th>
            <th>@Resources.Resource.classes</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in tableOfStudents">
            <td><img ng-src="{{student.ProfilePicture}}"/> {{student.Name}}</td>
            <td>{{student.Level}}</td>
            <td>{{student.ILearn}}</td>
            <td>{{getDate(student.LastClass)}}</td>
            <td>{{student.Attendance}}</td>
            <td>{{student.Classes}}</td>
        </tr>
        </tbody>
    </table>
</div>
@{
    Html.RenderPartial("~/Areas/Dashboard/Views/Company/Modals/Bindstudents.cshtml");
}