﻿@using DTO.Enums
@using Microsoft.Ajax.Utilities
@using Xencore.Extentions
@model DTO.RefferalProframmDashboardDto
@{
    Layout = null;
}
<div class="col-md-9">
    <div class="ref-wrap">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-8">
                <div class="form-group ref-code-wrap">
                    <label for="refCode">@Resources.Resource.Yourrefferalcodeis:</label>
                    <input type="text" disabled="disabled" id="refCode" class="form-control" value="@Model.YourRefferalCode">
                    <input type="text" id="copyTarget" class="form-control" value="@Model.YourRefferalCode">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-4">
                <div class="form-group shared-btn-wrap">
                    <input id="sharebtn" class="waves-effect waves-light btn modal-trigger btn-success" href="#modal-refferal" ng-click="openWindow()" value="@Resources.Resource.Share">
                    <button class="btn btn-success" id="copyButton">@Resources.Resource.Copy</button>
                </div>
            </div>
        </div>
        <div class="studnts-wrap">
            <table datatable="" dt-options="dtOptions" id="mystudents" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
                   data-info="@Resources.Resource.showingstart" data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
                <thead>
                    <tr>
                        <th>@Resources.Resource.Name</th>
                        <th>@Resources.Resource.BONUS.ToUpperFirstCharacter()</th>
                        <th>@Resources.Resource.RegistrationDate</th>
                        <th>@Resources.Resource.ActivationDate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Parters)
                    {
                        <tr>
                            <td><img src="@item.ProfilePicture" />@item.Name</td>
                            <td>@(User.IsInRole("Presenter") ? "25 EUR" : "25 EUR bonus code")</td>
                            <td>@item.RegisterDateTime.ToString("dd.MM.yyyy")</td>
                            <td>@(item.ActiveDateTime?.ToString("dd.MM.yyyy") ?? Resources.Resource.Notactivated)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @Html.Partial("~/Areas/Dashboard/Views/RefferalProgrammDashboard/Modals/Share_modal.cshtml", Model.YourRefferalCode)
</div>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });
        //var elems = document.querySelectorAll('.modal');
        //var instances = M.Modal.init(elems);
        //var el = document.querySelectorAll('.tabs-referral');
        //var instance = M.Tabs.init(el);
        
        //instance.updateTabIndicator();
        $(document).ready(function () {
            $('.tabs-referral').tabs();
            
        });
       
        
        
        let inp = document.querySelector('#friend-sms');
        inp.addEventListener('focus', _ => {
            // Если там ничего нет или есть, но левое
            if (!/^\+\d*$/.test(inp.value))
                // То вставляем знак плюса как значение
                inp.value = '+';
        });
        $("#friend-sms").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl/cmd+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+C
                (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+X
                (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        document.getElementById("copyButton").addEventListener("click", function () {
            copyToClipboard(document.getElementById("copyTarget"));
        });

        function copyToClipboard(elem) {
            // create hidden text element, if it doesn't already exist
            var targetId = "_hiddenCopyText_";
            var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
            var origSelectionStart, origSelectionEnd;
            if (isInput) {
                // can just use the original source element for the selection and copy
                target = elem;
                origSelectionStart = elem.selectionStart;
                origSelectionEnd = elem.selectionEnd;
            } else {
                // must use a temporary form element for the selection and copy
                target = document.getElementById(targetId);
                if (!target) {
                    var target = document.createElement("textarea");
                    target.style.position = "absolute";
                    target.style.left = "-9999px";
                    target.style.top = "0";
                    target.id = targetId;
                    document.body.appendChild(target);
                }
                target.textContent = elem.textContent;
            }
            // select the content
            var currentFocus = document.activeElement;
            target.focus();
            target.setSelectionRange(0, target.value.length);

            // copy the selection
            var succeed;
            try {
                succeed = document.execCommand("copy");
            } catch (e) {
                succeed = false;
            }
            // restore original focus
            if (currentFocus && typeof currentFocus.focus === "function") {
                currentFocus.focus();
            }

            if (isInput) {
                // restore prior selection
                elem.setSelectionRange(origSelectionStart, origSelectionEnd);
            } else {
                // clear temporary content
                target.textContent = "";
            }
            $("#errorSharedPlace").fadeIn(1000);
            $("#errorSharedPlace").css({
                "background": "rgb(206, 231, 137) none repeat scroll 0% 0%",
                "color": "rgb(126, 146, 88)"
            })
            $("#errorSharedPlace #message").text('You code has been copied and added to your clipboard, you can now paste it anywhere')
            $("#errorSharedPlace #title").text('Copied!')
            setTimeout(function () {
                $("#errorSharedPlace").fadeOut(1000);
            }, 3000)

            return succeed;
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1538355979822340',
                cookie: true,
                xfbml: true,
                version: 'v2.2',
                status: true
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        $(".facebook")
            .click(function () {
                var href = location.href;
                FB.ui({
                    method: 'share',
                    href: href
                },
                    function (response) { });
            });
        $("#reddedit")
            .click(function () {
                var left = (screen.width / 2) - 300;
                var top = (screen.height / 2) - 250;
                window.open('https://www.reddit.com/submit?url=https://openlanguages.com',
                    'Reddit',
                    'toolbar=no,width=600, height=500, left=' + left + ', top=' + top + '');

            });
    </script>
    <script>
        window.twttr = (function (d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script>
        window.___gcfg = {
            lang: 'en-GB',
            parsetags: 'onload',
        };
    </script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script type="text/javascript" src="https://platform.linkedin.com/in.js"></script>
    <script type="in/share">

    </script>
    <script type="text/javascript"
            async defer
            src="//assets.pinterest.com/js/pinit.js"></script>
