﻿@{
  Layout = null;
}
<div style="color: black;">
<h3>Teachers which has not lessons all period:</h3>
<ul>
  @foreach (var user in ViewBag.Users)
  {
    <li>@user.Name - @user.Email</li>
  }
</ul>
@foreach (var item in ViewBag.Less)
{
  <h3>Teachers which has not lessons on @item.Key</h3>
  <ul>
    @foreach (var user in item.Value)
    {
      <li>@user.Name - @user.Email</li>
    }
  </ul>
}
</div>