﻿
@{
    ViewBag.Title = "Learn With Open Languages, The Online Language School";
    ViewBag.Description = "Open Languages is an online language school. Our experienced language teachers are available for private lessons 24/7. Learn Anytime. Anywhere. You choose!";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section Head{
}
<div class="container privacyAndTerms">
    <div class="row col-sx-12">
        <h3>Terms of Service</h3>
        <p>
            This Site is the property of Open Languages Limited and its licensors. BY USING THE SITE, you agree that you have

            read, understand and agree, to be bound by the Terms of Service set out below. IF YOU DO NOT AGREE, DO NOT
        </p>



        <h4>1. Your Use of the Site</h4>


        <p>
            By using the Site you agree to be bound by the Terms of Service and to follow all applicable laws, guidelines and

            policies and confirm that you are 18 years of age or older or otherwise are an entity that can form legally binding

            contracts under applicable law.<br><br>

            You must provide your first name, last name, current address, a valid email address, and any other information

            needed in order to complete your registration process.

            Your rights: Subject to the Terms of Service, you are hereby granted a limited, revocable, non-exclusive right to

            access, use and display the Site and the content and materials on the website in the normal course of your use of the

            Site.<br><br>

            Accounts/Securities/Passwords: you may register to utilize this Site by completing the specified registration

            process and providing us with current, complete, and accurate information as requested by the online registration

            form. It is your responsibility to maintain the completeness and accuracy of your registration data, and any loss

            caused by your failure to do so is your responsibility. You agree to notify Open Languages immediately of any

            unauthorized use of your account. Open Languages is not liable for any loss that you may incur as a result of

            someone else using your account, either with or without your knowledge.

            You are only authorized to use this Site for lawful purposes.<br><br>
        </p>


        <h4>2. Privacy Policy/Security:</h4>


        <p>
            You agree to the terms of Open Languages’s Privacy and Security Policy, which is incorporated by reference into

            these Terms of Service.
        </p>



        <h4>3. Prices/Materials/Payments:</h4>


        <p>
            To use the Site you are required to register and create an account with Open Languages. The information we gather

            through the registration process and information related to your user account is subject to the Terms of Service and

            our “Privacy and Security Policy”. You represent and warrant that you will create and provide your first name, last

            name, current address, a valid email address, and any other information needed in order to complete your

            registration process. You agree not to create an account for anyone other than yourself, that all information

            provided by you when creating an account is true, accurate and complete, and that you will maintain, at all times,

            true accurate and complete information related to your account.<br></br>

            Private customers make payments electronically by credit card. Open Languages accept the following payment

            types: Mastercard, Visa, American Express, Paypal and Tenpay.

            The course fee must be paid before the course begins.

            All prices indicated on Open Languages Site are based in Euros for Europe and are exclusive of any applicable VAT

            or taxes.<br></br>

            All prices indicated on Open Languages Site are based in USD for North America, Canada, South America, Africa

            and Asia and are exclusive of any applicable VAT or taxes.

        </p>

        <h4>4. Offline Payments/Local Offline Payments/International Offline Payments:</h4>


        <p>
            We offer our customers the option to pay offline for their language packages. For further information about

            additional payment methods please do contact our administration. Use our contact link on our homepage.

            See below our bank details for offline payments:
        </p>

        <h4><i>Local offline payments:</i></h4>
        <p>
            <span class="lr">Company:</span><br>

            Open Languages GmbH<br>

            Rossbergweg 9<br>

            CH-8824 Zürich<br>

            <span class="lr">Bank:</span><br>

            PostFinance<br>

            Nordring 8<br>

            CH-3030 Bern<br>

            CHF – Account: 85-419565- 9 / IBAN CH63 0900 0000 8541 9565 9<br>
            </p>
            <h4><i>International offline payments:</i></h4>
        <p>
            <span class="lr">Company:</span><br>

            Open Languages GmbH<br>

            Rossbergweg 9<br>

            CH-8824 Zürich<br>

            <span class="lr">Bank:</span><br>

            Swiss Post - PostFinance<br>

            Nordring 8<br>

            CH-3030 Bern<br>

            EUR – Account: 91-613636- 8 / IBAN CH36 0900 0000 9161 3636 8<br>

            USD – Account: 91-766944- 3 / IBAN CH15 0900 0000 9176 6944 3<br>

            BIC/Swift – POFICHBEXXX<br>

        </p>

        <h4>5. Trial Lesson:</h4>


        <p>
            Trial lessons are now free and 30 minutes
        </p>
        <h4>6. Classes/ Scheduling:</h4>


        <p>
            Users who purchase our online class offerings will enjoy one-on- one or group teaching sessions with a qualified

            language teacher. In all instances the following rules will apply.

            Open Languages and its teachers try to accommodate schedule changes to the best of their ability. Changes to

            scheduled lessons are highly likely to impact the teacher’s and other student’s schedule. Therefore, students should

            notify the school and their teacher 24 hours in advance if they are unable to attend their next class. Failure to do so

            will be considered an unexcused absence and Open Languages or its teacher is not obligated to provide a make-up

            class.

        </p>

        <h4>7. Cancellation:</h4>


        <p>
            You may request to cancel the use of your account at any time. All course purchases are final and refunds will not be

            issued.

        </p>

        <h4>8. Changes:</h4>


        <p>
            Open Languages reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms

            of Service, at any time. It is your responsibility to check these Terms of Service periodically for changes. Your

            continued use of the service or services following the posting of changes will mean that you accept and agree to the

            changes. As long as you comply with these Terms of Service, Open Languages grants you a personal, non-exclusive,

            non-transferable, limited privilege to enter and use the Service or Services.

        </p>

        <h4>9. Links to Other Sites and to the Open Languages Site:</h4>


        <p>
            This Site may contain links to other independent third-party Websites (“Partner Sites”). Such Partner Sites are not

            under Open Languages’s control, and Open Languages is not responsible for and does not endorse the content of

            such Partner Sites.
        </p>



        <h4>10. Limitation of Liability:</h4>

        <p>

            Except where prohibited by law, in no event will Open Languages be liable to you for any indirect, consequential,

            exemplary, incidental or punitive damages, including lost profits, even if Open Languages has been advised of the

            possibility of such damages.
        </p>


        <h4>11. Force Majeure:</h4>


        <p>
            Open Languages will not be liable for failing to perform under the Terms of Service by the occurrence of any event

            beyond its reasonable control, including, without limitation, a labor disturbance, an internet outage or interruption

            of service, a communications outage, failure by a service provider to Open Languages to perform, fire, natural

            disaster or war.
        </p>


        <h4> 12. Intellectual Property Rights/Copyright:</h4>


        <p>
            Open Languages respects the intellectual property rights of others and expects its users to do the same. Open

            Languages may remove content that in its sole discretion appears to infringe the intellectual property rights of

            others. Open Languages will in its discretion terminate the accounts of users who infringe the intellectual property

            rights of others.
        </p>
        <p>
            Copyright: all content published on the website and available through the Services, including without limitation, the

            logos, design, text, graphics, images, software, audio clips, video clips, documentation, other files, and the selection,

            arrangement and organization thereof are owned by Open Languages, its licensors or other entities. The

            aforementioned materials are protected under international copyright, trade and intellectual property laws and

            unauthorized use of such materials without the prior express written consent of Open Languages is strictly

            prohibited.

        </p>

        <h4>13. Indemnification:</h4>


        <p>
            You agree to defend, indemnify, and hold Open Languages and its employees, representatives, agents and affiliates

            harmless from any damage, loss, cost or expense arising from your use of the Website alleging facts or

            circumstances that would constitute a breach of any provision of this agreement and any of the Terms of Service set

            out herein.

        </p>

        <h4>14. Miscellaneous:</h4>


        <p>
            Should parts of this Agreement be or become void, ineffective or unenforceable for any other reason, the validity of

            the remaining parts shall not be affected. Accordingly, the parties shall interpret and perform this Agreement to the

            effect that the purpose intended with the void or legally ineffective parts will nonetheless be achieved as far as

            legally possible.<br>

            The parts under section 2, “Private Policy/Security”, and section 12, “Intellectual Property Rights” shall survive the

            expiration or termination of this Agreement. The same also applies to all rights and restrictions relating to perpetual

            licenses, and all payment terms relating to outstanding payments.<br>

            This Agreement represents the entire understanding and agreement between you and Open Languages regarding

            the subject matter of the same, and supersedes all other previous agreements.
        </p>


        <h4>15. Applicable Law and Place of Jurisdiction:</h4>


        <p>
            This Agreement is governed by and construed with the substantive laws of Switzerland whereby standard conflict

            of law rules are hereby excluded from application to this Agreement.

            The ordinary courts of the canton of Zurich shall have exclusive jurisdiction with regard to all disputes arising from

            or in connection with this Agreement. The place of jurisdiction is Zurich, Switzerland.
        </p>


        <h4>16. Feedback and Information:</h4>


        <p>
            Any feedback you provide at this Site shall be deemed to be non-confidential. Open Languages shall be free to use

            such information on an unrestricted basis.

            The information contained in this website is subject to change without notice. Copyright © 2016 Open Languages

            Limited. All rights reserved. Open Languages Limited, Rossbergweg 9, 8824 Schönenberg ZH, Switzerland.

            Updated by Open Languages on 28. April 2016

        </p>
    </div>
</div>