﻿@using Xencore.Extentions
@model IEnumerable<Domain.Entities.HelpersEntity.UpcomingPastClassesTemplate>
    @{
        Layout = null;
    }
<div>@Resources.Resource.Pastclasses:</div>
@if (Model.Any())
{
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.ProfilePicture" /></td>
                <td>
                   <span class="name">@item.Name</span> 
                    <span class="date">
                        @item.SatrtDateTime.ToString("dd.MM.yyyy")
                        @item.SatrtDateTime.ToString("HH:mm")
                    </span>
                </td>
            </tr>
        }
    </table>
    <div ng-click="changeClassPath('/myclasses', false)" class="all-upcomming-classes">@Resources.Resource.ShowAllPastClasses</div>
}
else
{
    <div class="notification-grey">@Resources.Resource.Youhavenotpastclasses</div>
}