﻿body {
  font-family: Lato;
}
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}
nav.custom-navbar{
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-toggle .icon-bar{
  width: 50px;
  height: 5px;
  background-color: #00a1ea;
}
.navbar-toggle .icon-bar+.icon-bar{
  margin-top: 12px;
}
header {
  &.main {
    background: url('../img/main-bg.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 70px 0;
  }
}

section {
  padding: 150px 0;
  &.testimonials{
    background: #fbfbfb;
  }
  &.benefits{
    background: #fbfbfb;
  }
}

.pad-0 {
  padding: 0;
}

p {
  margin-bottom: 0;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.custom-button {
  box-shadow: 0 3px 70px rgba(0, 162, 231, 0.3);
  border-radius: 50px;
  background-color: #00a2e7;
  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  padding: 29px 85px;
  display: inline-block;
  min-width: 600px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  &:hover {
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.main {
  p {
    &.title {
      font-family: "Roboto Slab";
      font-size: 55px;
      font-weight: 700;
      text-transform: uppercase;
      color: #42464d;
      margin-top: 220px;
      span {
        color: #8ad300;
      }
    }
    &.subtitle {
      color: #9cb0c2;
      font-size: 30px;
      font-weight: 400;
      margin-top: 50px;
      margin-bottom: 90px;
    }
  }
  ul {
    &.flags {
      margin-top: 40px;
      li {
        float: left;
        margin-right: 34px;
        &:last-child {
          margin-right: 0;
        }
        img {
          max-width: 47px;
          max-height: 47px;
        }
      }
    }
  }
}

section {
  p {
    &.title {
      color: #42464d;
      font-family: "Roboto Slab";
      font-size: 55px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
    }
    &.subtitle {
      color: #9cb0c2;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 120px;
    }
  }
}

p {
  &.step-title {
    opacity: 0.15;
    color: #9cb0c2;
    font-size: 150px;
    font-weight: 800;
    margin-bottom: 5px;
  }
  &.step-subtitle {
    color: #89d300;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
  }
  &.step-desc {
    color: #42464d;
    font-size: 30px;
    font-weight: 600;
  }
  &.ben-title{
    color: #89d300;
    font-size: 50px;
    font-weight: 800;
    margin-top: 20px;
  }
  &.ben-subtitle{
    color: #42464d;
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 140px;
  }
}

.arrow-d {
  text-align: center;
  padding: 70px 0;
}
.deposit {
  text-align: center;
  margin-bottom: 90px;
  p {
    display: inline-block;
    color: #333333;
    font-size: 30px;
    font-weight: 500;
    padding: 0 30px;
    position: relative;
    span{
      height: 10px;
      width: 100%;
      border-radius: 5px;
      background-color: #00a2e7;
      display: block;
      position: absolute;
      left: 0;
      bottom: -30px;
    }
  }
}
.bonus {
  margin-bottom: 90px;
  text-align: center;
  p {
    display: inline-block;
    color: #333333;
    font-size: 30px;
    font-weight: 500;
    padding: 0 30px;
    position: relative;
    span{
      height: 10px;
      width: 100%;
      border-radius: 5px;
      background-color: #87d500;
      display: block;
      position: absolute;
      left: 0;
      bottom: -30px;
    }
  }
}
.graph-img{
  margin-bottom: 145px;
}
footer{
  padding-top: 100px;
  p{
    line-height: 25px;
    opacity: 0.7;
    color: #9ba1a9;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    &.copy{
      height: 73px;
      color: #b2b8be;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 73px;
      text-transform: uppercase;
      margin-bottom: 0;
      border-top: 1px solid #eeeeee;
    }
  }
  ul{
    opacity: 0.7;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 140px;
    a{
      color: #373f51;
    }
  }
}
.socials{
  a{
    color: #00a2e7;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-right: 21px;
    &:last-child{
      margin-right: 0;
    }
  }
}
