﻿
@{
    ViewBag.Title = "Open Languages offers personalized language courses";
    ViewBag.Description = "Open Languages Offers Private Language Courses Online, Taught By Experienced Teachers & Tailored To Your Learning Objectives. Book A Free Trial Lesson Today!";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section Jsonld{
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org/",
        "@@type": "WebPage",
        "alternativeHeadline": "Individual language courses - OpenLanguages Online",
        "url": "http://www.openlanguages.com/courses",
        "description":"Have any questions? Drop us a line. We are here to help 24 hours a day, 7 days a week.",
        "primaryImageOfPage":{
        "url":"http://www.openlanguages.com/images/Courses.jpg",
        "fileFormat":"jpg",
        "caption":"background"
        },
        "mainContentOfPage":{
        "description":"Have any questions? Drop us a line. We are here to help 24 hours a day, 7 days a week.",
        "url":"http://www.openlanguages.com/courses"
        }
        }
    </script>
}
<section class="courses">
    <img class="bg-img" src="~/images/Courses.jpg" alt="courses"/>
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>@Resources.Resource.Courses</h1>
                    <p class="description">@Resources.Resource.WeOfferIndivid </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row ">
                        <div class="col-sm-12">
                            <h2 class="courses-title">@Resources.Resource.CourseOverview</h2>
                        </div>
                        <div class="teach-item-left">
                            <div class="col-sm-4 for-js-item">
                                <img src="~/images/classes.jpg" alt="classes" class="img-responsive"/>
                                <p class="title">@Resources.Resource.LiveClasses</p>
                                <div class="item-desc new-desc">
                                    <h3>@Resources.Resource.LiveClasses.ToUpper()</h3>
                                    @Resources.Resource.Forliveclass
                                </div>
                            </div>
                            <div class="col-sm-4 for-js-item">
                                <img src="~/images/virtual_classroom.jpg" alt="virtual classroom" class="img-responsive"/>
                                <p class="title">@Resources.Resource.VirtualClassroom</p>
                                <div class="item-desc new-desc">
                                    <h3>@Resources.Resource.VirtualClassroom.ToUpper()</h3>
                                    @Resources.Resource.Forvirtualclassroom
                                </div>
                            </div>
                            <div class="col-sm-4 for-js-item">
                                <img src="~/images/teacher.jpg" alt="teachers" class="img-responsive"/>
                                <p class="title">@Resources.Resource.OurTeachers</p>
                                <div class="item-desc new-desc">
                                    <h3>@Resources.Resource.OurTeachers.ToUpper()</h3> 
                                    @Resources.Resource.Forourteacher
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="courses-title-2">@Resources.Resource.LearningMethod</h2>
                        </div>
                        <div class="teach-item-right">
                            <div class="col-sm-4 for-js-item">
                                <img src="~/images/grammar.jpg" alt="grammar" class="img-responsive"/>
                                <p class="title">@Resources.Resource.Grammar</p>
                                <div class="item-desc new-desc">
                                    <h3>@Resources.Resource.Grammar.ToUpper()</h3>
                                    @Resources.Resource.Forgrammar
                                </div>
                            </div>
                            <div class="col-sm-4 for-js-item">
                                <img src="~/images/conversation.jpg" alt="conversation" class="img-responsive"/>
                                <p class="title">@Resources.Resource.Conversation</p>
                                <div class="item-desc new-desc">
                                    <h3>@Resources.Resource.Conversation.ToUpper()</h3> 
                                    @Resources.Resource.ForConversation
                                </div>
                            </div>
                            <div class="col-sm-4 for-js-item">
                                <img src="~/images/reading.jpg" alt="reading" class="img-responsive"/>
                                <p class="title">@Resources.Resource.Reading</p>
                                <div class="item-desc new-desc">
                                    <h3>@Resources.Resource.Reading.ToUpper()</h3>
                                    @Resources.Resource.Forreading
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.teach-item-left .for-js-item, .teach-item-right .for-js-item').click(function () {
                if ($(this).hasClass('active')) {
                    $('.teach-item-left .for-js-item, .teach-item-right .for-js-item').removeClass('active').css('opacity', '1');
                } else {
                    $('.teach-item-left .for-js-item, .teach-item-right .for-js-item').removeClass('active').css('opacity', '0.5');
                    $(this).addClass('active');
                }
            });
            $('.bg-img').click(function () {
            });
        });
    </script>
}

