﻿
@{
    ViewBag.Title = "FaqRequestForUser";
    Layout = "~/Views/Shared/_MailTemplate.cshtml";
}

<div style="margin: 20px; padding: 20px; border: 1px solid #eeeeee; background-color: #fff">
    <h3 style="color: #555">
        Thank you for your message to @ViewBag.TeacherName and your interest in learning with Open Languages. Please see the answer below.
    </h3>
    <div style="background-color: #fafafa; color: #999999; padding: 13px; font-style: italic; line-height: 20px;border: 1px solid #eaeaea">@ViewBag.Text</div>
    <h3 style="color: #555">
        To continue your conversation with this teacher, visit <a href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com</a> or create an account <a href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com</a>.
    </h3>
    <h3 style="color: #555">
        If you are ready to start learning, you can book a free trial lesson here <a href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com</a>.
    </h3>
    <h6 style="color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;">
        Your Open Languages Team
    </h6>
    <a style="color: #a6c45e;" href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com</a>
</div>

