﻿
@{
    ViewBag.Title = "FaqRequestForUser";
    Layout = "~/Views/Shared/_MailTemplate.cshtml";
}

<div style="margin: 20px; padding: 20px; border: 1px solid #eeeeee; background-color: #fff">
    <h3 style="color: #555">
        Thank you for your enquiry. We will review the same and get
        back to you ASAP.
    </h3>
    <p style="color: #555">See below a copy of your enquiry for your record:</p>
    <p style="color: #555">Your subject: @ViewBag.subject</p>
    <div style="background-color: #fafafa; color: #999999; padding: 13px; font-style: italic; line-height: 20px;border: 1px solid #eaeaea">@ViewBag.emailText</div>
    <h6 style="color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;">
        Your Open Languages Team
    </h6>
    <a style="color: #a6c45e;" href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com</a>
</div>

