﻿@model  Domain.Entities.TeacherApplication
@{
    Layout = "~/Views/Shared/_MailTemplate.cshtml";
}
<div style="margin: 20px; padding: 20px; border: 1px solid #eeeeee; background-color: #fff">
    <h3 style="color: #555">Dear @Model.Name</h3>
    <p style="color: #555">
        Your job application was submitted successfully. A member of the Open Languages
        Team will get in touch with you soon.<br><br>
        Here's a copy of your application data for your record:
    </p>
    @*<div style="background-color: #fafafa; box-sizing: border-box; padding: 15px; color: #555; border: 1px solid #eaeaea">
        <div style="color: #333333; margin-bottom: -2px">
            Personal Information:
        </div><br>
        <div style="font-weight: bold">Name: <span style="color: #a6c45e">@Model.Name</span></div>
        <div style="font-weight: bold">Phone: <span style="color: #a6c45e">@Model.Telephone</span></div>
        <br><br>
        <div style="color: #333333; margin-bottom: -2px">
            Application details:
        </div>
        <p style="color: #999999; font-style: italic">
            @Model.Relevant 
        </p>
        <div style="font-weight: bold">Sample video: <span style="color: #a6c45e">@Model.Link</span></div>
        <div style="font-weight: bold">Language: <span style="color: #a6c45e">@Model.Language</span></div>
        <br><br>
        <div style="color: #333333; margin-bottom: -10px">
            Teaching experience:
        </div><br>
        <p style="color: #999999; font-style: italic">
             @Model.Additional
        </p>
    </div>*@
    <h6 style="color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;">
        Your Open Languages Team
    </h6>
    <a style="color: #a6c45e;" href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com</a>
</div>


