﻿@{
    Layout = "~/Views/Shared/_MailTemplate.cshtml";
}
<div style="margin: 20px; padding: 20px; border: 1px solid #eeeeee; background-color: #fff">
    <h3 style="color: #555">
        Hey @ViewBag.TeacherName!
    </h3>
    <p style="color: #555">
        A student has just booked a new lesson with you.<br>
        Please visit your dashboard at <a href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com </a> to confirm the lesson.<br>
        The booking is for a @ViewBag.Language lesson on @ViewBag.Date.ToString("dd.MM.yyyy HH:mm") with @ViewBag.StudentName.<br><br>
        Have a great day!
    </p>
    <h6 style="color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;">
        Your Open Languages Team
    </h6>
    <a style="color: #a6c45e;" href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com</a>
</div>

