﻿@{
    Layout = "~/Views/Shared/_MailTemplate.cshtml";
}
<div style="margin: 20px; padding: 20px; border: 1px solid #eeeeee; background-color: #fff">
    <p style="color: #555">
        @ViewBag.Text
    </p>
    <h6 style="color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;">
        Your Open Languages Team
    </h6>
    <a style="color: #a6c45e;" href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com</a>
</div>

