﻿
@{
    Layout = "~/Views/Shared/_MailTemplate.cshtml";
}
<div style="margin: 20px; padding: 20px; border: 1px solid #eeeeee; background-color: #fff">
    <h3 style="color: #555555">Hello @ViewBag.username,</h3>

    <p style="color: #555555; text-align: justify">
        Many thanks for signing up for a 45 minutes’ trial lesson with Open Languages. We want you to get the most of your trial lesson, so a member of our customer care team will contact you to coordinate your trial.
    </p>
    <br>
    <p style="color: #555555;margin-bottom: -5px">Your trial schedule and sign in are as follows:</p><br>
    <h4 style="color: #555555;margin: 2px 0;">Name:<span style="color:#a6c45e"> @ViewBag.username</span></h4>
    <h4 style="color: #555555;margin: 2px 0;">Chosen Language: <span style="color:#a6c45e">@ViewBag.language</span></h4>
    <h4 style="color: #555555;margin: 2px 0;">Chosen Level:<span style="color:#a6c45e"> @ViewBag.level</span> </h4>
    <h4 style="color: #555555; margin: 2px 0;">Date & Time:<span style="color: #a6c45e"> @ViewBag.date @ViewBag.time</span> </h4>
    <h4 style="color: #555555; margin: 2px 0;">TimeZone:<span style="color: #a6c45e"> @ViewBag.timezone</span> </h4>
    <h4 style="color: #555555; margin: 2px 0;">Order Date:<span style="color: #a6c45e"> @ViewBag.utcDateTime</span> </h4>
    @if (ViewBag.teacherName != null)
    {
        <h4 style="color: #555555; margin: 2px 0;">Teacher Name:<span style="color: #a6c45e"> @ViewBag.teacherName</span> </h4>
        <h4 style="color: #555555;margin: 2px 0;">Teacher Email:<span style="color:#a6c45e"> @ViewBag.teacherEmail</span> </h4>
    }

    <p style="color: #555555; text-align:justify">
        Please feel free to contact us with any questions and do let us know if you need any help<br>
        getting started. We'll be delighted to help.
    </p>
    <h3 style="color: #555555">Did you know?</h3>
    <ul style="color: #555; list-style-type: none;">
        <li style="text-indent: -10px;"><span style="color: #a6c45e;position: relative; left: -5px">• </span>
            You can receive lessons via our virtual classroom, Skype, Google Hangouts,
            WeChat, QQ and many more.
        </li>
        <li style="text-indent: -10px;"><span style="color: #a6c45e; position: relative; left: -5px">• </span>You can cancel any lesson any time with a 24 hours notice.</li>
        <li style="text-indent: -10px;"><span style="color: #a6c45e;position: relative; left: -5px">• </span>All you need is an internet connection, microphone, speakers and a webcam.</li>
    </ul>

    <div style="color: #b0b0b0">We look forward to welcoming you to Open Languages.</div>
    <h6 style="color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;">
        Your Open Languages Team
    </h6>
    <span style="color: #aaaaaa;">Email: </span><a style="color: #a6c45e;" href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">admin@openlanguages.com</a>
</div>
