﻿@model Domain.Entities.IdentityEntities.CustomUser

A new user registration has been received from the Open Languages website:<br><br>

Name: @Model.Name<br>

Chosen Language: @Model.ChosenLang<br>

Chosen Level: @Model.ChosenLevel<br>

I would like to learn via: @Model.Skype<br>
@{
    var phone = "";
    if (Model.PhoneNumber != null)
    {
        phone = "+" + Model.PhoneNumber.Remove(0, 1);
    }
}

Telephone:  @phone<br>

How did you find us: @Model.HowDidFind<br>

Time zone: @Model.TimeZone<br>

Date & Time: @Model.CreationDateTime<br>

Username for login: @Model.UserName<br>

User password for login to the website is: @Model.PasswordHash