﻿
@{
    ViewBag.Title = "Newsletter";
    Layout = "~/Views/Shared/_MailTemplate.cshtml";
}

<div style="margin: 20px; padding: 20px; border: 1px solid #eeeeee; background-color: #fff">
    <h3 style="color: #555">Subscription Accepted!</h3>
    <p style="color: #555">Thank you for your subscription. You will always receive a copy of our latest
        newsletter as it becomes available.
        <br><br>
        We appreciate and thank you for your visit.
    </p>
    <h6 style="color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;">
        Your Open Languages Team
    </h6>
    <a style="color: #a6c45e;" href="@Html.Raw(Request.Url?.GetLeftPart(UriPartial.Authority))">www.openlanguages.com</a>
</div>

