﻿@{
    ViewBag.Title = "Open Languages Offices Worldwide, The Online Language School";
    ViewBag.Description = "Open Languages Is An Online Language School, With Offices Around The World. But Our Classrooms Can Be Anywhere. Literally! Start Learning From Home Today!";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section Jsonld{
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org/",
        "@@type": "WebPage",
        "alternativeHeadline": "Our Offices - OpenLanguages Online",
        "url": "http://www.openlanguages.com/offices",
        "description":"Local offices in Switzerland, Germany, Brazil.",
        "mainContentOfPage":{
        "description":"Local offices in Switzerland, Germany, Brazil.",
        "url":"http://www.openlanguages.com/offices"
        }
        }
    </script>
}
<section class="offices">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 shadow-right">
                <h1>@Resources.Resource.Offices</h1>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="filter-nav-wrapper">
                            <span class="sort-title">@Resources.Resource.Sort_By:</span>
                            <ul class="filters-nav">
                                <li class="filter-active" data-filter="all">@Resources.Resource.All</li>
                                <li data-filter="1">@Resources.Resource.EMEA</li>
                                <li data-filter="2">@Resources.Resource.Americas</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row filters filtr-container">
                    <div class="col-sm-6 col-xs-12 filtr-item" data-category="1" data-sort="1">
                        <p data-lat="47.195159" data-lng="8.641046">
                            Zurich<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </p>
                        <address>
                            Rossbergweg 9<br>
                            8824 Schönenberg ZH<br>
                            Switzerland<br>
                            Phone 00800 241 241 24<br>
                            Switzerland, Zurich, Rossbergweg 9<br>
                        </address>
                    </div>
                    <div class="col-sm-6 col-xs-12 filtr-item" data-category="1" data-sort="1">
                        <p data-lat="47.458308" data-lng="8.555485">Zurich Airport<i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                        <address>
                        Building A11 5th floor<br> 
                            Office Nr. 497<br>
                            8058 Zurich<br>
                            Switzerland<br>
                            Phone 00800 241 241 24<br>
                            Switzerland, Zurich Airport, Building A11 5th floor<br>
                        </address>
                    </div>
                    <div class="col-sm-6 col-xs-12 filtr-item" data-category="1" data-sort="1">
                        <p data-lat="50.831347" data-lng="12.894919">Chemnitz<i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                        <address>
                            Weststrasse 88<br>
                            09116 Chemnitz<br>
                            Germany<br>
                            Phone 49 0800 241 2411<br>
                            Germany, Chemnitz, Weststrasse 88<br>
                        </address>
                    </div>
                    <div class="col-sm-6 col-xs-12 filtr-item" data-category="2" data-sort="2">
                        <p data-lat="-24.714483" data-lng="-53.748614">Toledo<i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                        <address>
                            Rua Joana D'arc,607<br>
                            CEP 85904320<br>
                            Brazil<br>
                            Phone 00800 241 241 24<br>
                            Rua Joana D'arc, 607, Toledo<br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="map"></div>
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async="" defer=""></script>
    <script src="~/js/jquery.filterizr.min.js"></script>
    <script>
    $(document).ready(function () {
        $('.filtr-container').filterizr("filter", "all");

        $('.filters-nav li').click(function () {
            $('.filters-nav li').removeClass('filter-active');
            $(this).addClass('filter-active');
        });
        $('.filtr-item p').click(function () {
            $('.filtr-item p').removeClass('active');
            $(this).addClass('active');
            var lat = $(this).attr('data-lat');
            var lng = $(this).attr('data-lng');
            UpdateMap(lat, lng);
        });
    });
    var map;
    function initMap() {
        var marker;
        var mapDiv = document.getElementById('map');
        map = new google.maps.Map(mapDiv, {
            center: {lat: -0.1602716, lng: 11.471651317},
            zoom: 1
        });
        $('.filters div p').each(function (index, elem) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng($(elem).data("lat"), $(elem).data("lng")),
                map: map,
            });
        });
    }
    function onAll() {
        var pt = new google.maps.LatLng(-0.1602716, 11.471651317);
        map.setCenter(pt);
        map.setZoom(1);
    }
    function onEmea() {
        var pt = new google.maps.LatLng(50.831347, 12.894919);
        map.setCenter(pt);
        map.setZoom(5);
    }
    function onAmerica() {
        var pt = new google.maps.LatLng(-24.714483, -53.748614);
        map.setCenter(pt);
        map.setZoom(5);
    }

    function UpdateMap(lat, lng) {
        var lt = parseFloat(lat);
        var lg = parseFloat(lng);
        var pt = new google.maps.LatLng(lt, lg);
        map.setCenter(pt);
        map.setZoom(16);
    }
</script>
}
