﻿@using System.Web.Http.OData.Builder
@{
    ViewBag.Title = "Home Page";
}
<h1>MENU</h1>
<ul>
    @*<li>
        @Html.ActionLink("Card", "ProcessCard", "PFPayment")
    </li>
    <li>
        @Html.ActionLink("Classroom", "Index", "VirtualClassroom")
    </li>*@
    <li>
        @Html.ActionLink("Class", "Index", "Class")
    </li>
    @*<li>
        @Html.ActionLink("Attendee", "Index", "Attendee")
    </li>*@
    <li>
        @Html.ActionLink("Teacher", "Index", "Teacher")
    </li>
</ul>
