﻿@using Domain.Entities.IdentityEntities
@using Microsoft.Ajax.Utilities
@using Xencore.Helpers
@using Xencore.Managers.TablesOfPrices.Abstract
@model Domain.Entities.HelpersEntity.UserMetricHelper
@{
    ViewBag.Title = "All Transactions";
    ViewBag.Admin = "usersmetric";
}
@section Head{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
    <style>
        .legend {
            color: #333;
            text-align: center;
            margin: 40px 0;
        }

            .legend span:first-child {
                color: #a1d418;
                display: block;
            }

        #table td.rw {
            background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        .datails {
            padding-left: 50px !important;
        }

        .filtering {
            text-align: center;
        }

            .filtering h1 {
                text-align: left;
                margin-left: 20px !important;
            }

        a.active {
            background-color: yellow;
        }

        .stat {
            color: #333;
        }

            .stat:first-child {
                margin-top: 50px !important;
            }

            .stat div:first-child {
                color: #a6c45e !important;
            }
    </style>
}
@*<section class="blue-bg-prof hidden-xs"></section>*@
<section class="admin teacher-profile lessons-materic userMater">
    <div class="container-fluid" id="my-account-container">
        <div class="row content-wrap">
            @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminDashboardHeader.cshtml", "Admin Dashboard");}
            <div class="col-lg-10 col-md-10 right-content">
                <div class="bgc-content-wrap clearfix">
                    <div class="row stat marT">
                        <div class="col-xs-6">Total Count Of Users</div>
                        <div class="col-xs-2"><span>@Model.TotalCountUsers</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Total Count Of Student which use new system</div>
                        <div class="col-xs-2"><span>@Model.UsersUsedNewSystem</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Total Count Of Teachers</div>
                        <div class="col-xs-2"><span>@Model.TotalCountTeachers</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count teachers which visible on "Find teachers" list</div>
                        <div class="col-xs-2"><span>@Model.TotalActiveTeachers</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count teachers which use new system</div>
                        <div class="col-xs-2"><span>@Model.TeachersUsedNewSystem</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count students which have positive balance</div>
                        <div class="col-xs-2"><span>@Model.StudentWhichHasMoney</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count students which did one or more transactions (PayPal/Card)</div>
                        <div class="col-xs-2"><span>@Model.SsersWhichHasOneTransaction</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count students which are Belong to companies</div>
                        <div class="col-xs-2"><span>@Model.StudentsForAllCompations</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count users from Europe</div>
                        <div class="col-xs-2"><span>@Model.StudentsFromEurope</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count users from Asia</div>
                        <div class="col-xs-2"><span>@Model.StudentsFromAsia</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count users from America</div>
                        <div class="col-xs-2"><span>@Model.StudentsFromAmerica</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count users from Unknown Zone</div>
                        <div class="col-xs-2"><span>@Model.StudentsUnknownTimezone</span></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Sessions last 7 days (Google Metric)</div>
                        <div class="col-xs-2" id="sessions"><button type="button" class="authorize">Authorize</button></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Users last 7 days (Google Metric)</div>
                        <div class="col-xs-2" id="users"><button type="button" class="authorize">Authorize</button></div>
                    </div>
                    <div class="row stat">
                        <div class="col-xs-6">Count views of pages 7 days (Google Metric)</div>
                        <div class="col-xs-2" id="views"><button type="button" class="authorize">Authorize</button></div>
                    </div>
                    <div class="row">
                        <div class="location-group">Users are grouped by Location</div>
                        <div class="col-xs-12 table-wrap">
                            <table id="table">
                                <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>Count of users</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Groups.OrderByDescending(x => x.Count))
            {
                                        <tr>
                                            <td>@item.Key</td>
                                            <td>@item.Count</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="location-group">Users are grouped by LocalTime</div>
                        <div class="col-xs-12  table-wrap">
                            <table id="table2">
                                <thead>
                                    <tr>
                                        <th>Time (minutes)</th>
                                        <th>Count of users</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LocalTimeDiffirent.OrderByDescending(x => x.Count))
            {
                                        <tr>
                                            <td>@item.Key</td>
                                            <td>@item.Count</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="location-group">Students Learn</div>
                        <div class="col-xs-12  table-wrap">
                            <table id="table3">
                                <thead>
                                    <tr>
                                        <th>Learn</th>
                                        <th>Count of students (In brackets, those who really to learn)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>English</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_us")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_us"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>German</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_de")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_de"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>French</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_fr")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_fr"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Spain</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_es")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_es"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Portuguese</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_br")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_br"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Russin</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_ru")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_ru"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Italian</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_it")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_it"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Greece</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_gr")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_gr"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sweden</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_sw")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_sw"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Chinese</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_cn")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_cn"))))
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="location-group" >Teachers Teach Learn. In brackets, those who really to learn (WITHOUT INACTIVE TEACHERS)</div>
                        <div class="col-xs-12  table-wrap">
                            <table id="table4">
                                <thead>
                                    <tr>
                                        <th>Learn</th>
                                        <th>Count of teachers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>English</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_us")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_us"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>German</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_de")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_de"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>French</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_fr")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_fr"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Spain</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_es")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_es"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Portuguese</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_br")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_br"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Russin</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_ru")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_ru"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Italian</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_it")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_it"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Greece</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_gr")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_gr"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sweden</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_sw")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_sw"))))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Chinese</td>
                                        <td>
                                            @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_cn")))
                                            (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_cn"))))
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<button id="auth-button" hidden>Authorize</button>
    <h1>Hello Analytics</h1>
    <textarea cols="80" rows="20" id="query-output"></textarea>*@
@section Scripts
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.10/URI.min.js"></script>
    <script>
      
        $("#table")
            .dataTable({
                "autoWidth": true,
                "ordering": false,
                "oLanguage": {
                    "sSearch": "",
                },
                language: {
                    searchPlaceholder: "Enter information to search..."
                },
                "dom": '<"top" lp>rt<"bottom"lp>'
            });
        $("#table2")
    .dataTable({
        "autoWidth": true,
        "ordering": false,
        "oLanguage": {
            "sSearch": "",
        },
        language: {
            searchPlaceholder: "Enter information to search..."
        },
        "dom": '<"top" lp>rt<"bottom"lp>'
    });
        $("#table3")
.dataTable({
    "autoWidth": true,
    "ordering": false,
    "oLanguage": {
        "sSearch": "",
    },
    language: {
        searchPlaceholder: "Enter information to search..."
    },
    "dom": '<"top" lp>rt<"bottom"lp>'
});
        $("#table4")
.dataTable({
    "autoWidth": true,
    "ordering": false,
    "oLanguage": {
        "sSearch": "",
    },
    language: {
        searchPlaceholder: "Enter information to search..."
    },
    "dom": '<"top" lp>rt<"bottom"lp>'
});
        $('.dataTables_filter input').attr("placeholder", "Enter information to search...");
        $("#submit").click(function () {
            var lc = location.href;
            console.log($("#submit").val());
            lc = URI(lc).removeSearch("query").addSearch("query", $("#query").val());
            location.href = lc;
        });
    </script>
    <script>

        // Replace with your client ID from the developer console.
        var CLIENT_ID = '401093889198-5u5vh75501jdtqcduv54ui48vjbu2vme.apps.googleusercontent.com';

        // Set authorized scope.
        var SCOPES = ['https://www.googleapis.com/auth/analytics.readonly'];


        function authorize(event) {
            // Handles the authorization flow.
            // `immediate` should be false when invoked from the button click.
            var useImmdiate = event ? false : true;
            var authData = {
                client_id: CLIENT_ID,
                scope: SCOPES,
                immediate: useImmdiate
            };

            gapi.auth.authorize(authData, function (response) {
                //var authButton = document.getElementById('auth-button');
                if (response.error) {
                    //authButton.hidden = false;
                }
                else {
                    //authButton.hidden = true;
                    queryAccounts();
                }
            });
        }


        function queryAccounts() {
            // Load the Google Analytics client library.
            gapi.client.load('analytics', 'v3').then(function () {

                // Get a list of all Google Analytics accounts for this user
                gapi.client.analytics.management.accounts.list().then(handleAccounts);
            });
        }


        function handleAccounts(response) {
            // Handles the response from the accounts list method.
            if (response.result.items && response.result.items.length) {
                // Get the first Google Analytics account.
                var firstAccountId = response.result.items[0].id;

                // Query for properties.
                queryProperties(firstAccountId);
            } else {
                console.log('No accounts found for this user.');
            }
        }


        function queryProperties(accountId) {
            // Get a list of all the properties for the account.
            gapi.client.analytics.management.webproperties.list(
                { 'accountId': accountId })
              .then(handleProperties)
              .then(null, function (err) {
                  // Log any errors.
                  console.log(err);
              });
        }


        function handleProperties(response) {
            // Handles the response from the webproperties list method.
            if (response.result.items && response.result.items.length) {

                // Get the first Google Analytics account
                var firstAccountId = response.result.items[0].accountId;

                // Get the first property ID
                var firstPropertyId = response.result.items[0].id;

                // Query for Views (Profiles).
                queryProfiles(firstAccountId, firstPropertyId);
            } else {
                console.log('No properties found for this user.');
            }
        }


        function queryProfiles(accountId, propertyId) {
            // Get a list of all Views (Profiles) for the first property
            // of the first Account.
            gapi.client.analytics.management.profiles.list({
                'accountId': accountId,
                'webPropertyId': propertyId
            })
            .then(handleProfiles)
            .then(null, function (err) {
                // Log any errors.
                console.log(err);
            });
        }


        function handleProfiles(response) {
            // Handles the response from the profiles list method.
            if (response.result.items && response.result.items.length) {
                // Get the first View (Profile) ID.
                var firstProfileId = response.result.items[0].id;

                // Query the Core Reporting API.
                queryCoreReportingApi(firstProfileId);
            } else {
                console.log('No views (profiles) found for this user.');
            }
        }


        function queryCoreReportingApi(profileId) {
            // Query the Core Reporting API for the number sessions for
            // the past seven days.
            gapi.client.analytics.data.ga.get({
                'ids': 'ga:' + profileId,
                'start-date': '7daysAgo',
                'end-date': 'today',
                'metrics': 'ga:sessions,ga:users,ga:pageviews',
            })
            .then(function (response) {
                $("#sessions").text(response.result.totalsForAllResults["ga:sessions"]);
                $("#users").text(response.result.totalsForAllResults["ga:users"]);
                $("#views").text(response.result.totalsForAllResults["ga:pageviews"]);
                var formattedJson = JSON.stringify(response.result, null, 2);
                console.log(formattedJson);
            })
            .then(null, function (err) {
                // Log any errors.
                console.log(err);
            });
        }

        // Add an event listener to the 'auth-button'.
        $(".authorize").on('click', authorize);
        jQuery('.page-preloader-wrap-dashboard').hide();
    </script>
    <script src="https://apis.google.com/js/client.js?onload=authorize"></script>
}
