﻿@using Xencore.Helpers
@{
    Layout = null;
}
<style>
    .field-wrap span {
        color: #b4df69;
        font-size: 20px;
    }

        .field-wrap span.ws {
            color: #333;
        }

    .field-wrap.cs {
        background-color: #cef;
        padding: 25px;
        text-align: center;
    }

    input {
        border: none;
    }
</style>
<section class="admin teacher-profile cards-details">
    <div class="content-wrap">
        <div class="bgc-content-wrap ft clearfix">
            <div class="col-xs-12">
                <!-- Button trigger modal -->
                <a ng-click="changePage($event, '/cards')" class="back-link"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Cards</a>
                <div class="single-card-wrap">
                    <h2>Sandbox</h2>
                    <form class="select-wrap">
                        <div class="row cs" style="background-color: #F5E; padding: 15px 0">
                            <div class="col-md-6" style="color: #b4df69">Count Rigth Answers: {{countRight}}</div>
                            <div class="col-md-6" style="color: red">Count Wrong Answers : {{countWrong}}</div>
                        </div>
                        <div class="field-wrap">
                            <span>Title:</span><span class="ws">{{card.Title}}</span>
                            @*<label for="lang">Choose a language</label>
                                <select ui-select2 ng-model="card.Language" class="lang select-item" ng-init="initLang()" id="lng">
                                    @Html.GetTeachingLanguages();
                                </select>*@
                        </div>
                        <div class="field-wrap">
                            <span>Level:</span><span class="ws">{{card.Level}}</span>
                            @*<label for="complexity">Choose complexity</label>
                                <select ui-select2 ng-model="card.Level" class="complexity select-item">
                                    <option selected="selected" value="Beginner">
                                        @Resources.Resource.Beginner
                                    </option>
                                    <option value="UpperBeginner">
                                        @Resources.Resource.UpperBeginner
                                    </option>
                                    <option value="Intermediate">
                                        @Resources.Resource.Intermediate
                                    </option>
                                    <option value="UpperIntermediate">
                                        @Resources.Resource.UpperIntermediate
                                    </option>
                                    <option value="Advanced">
                                        @Resources.Resource.Advanced
                                    </option>
                                    <option value="UpperAdvanced">
                                        @Resources.Resource.UpperAdvanced
                                    </option>
                                </select>*@
                        </div>
                        <div class="field-wrap">
                            <span>Subject</span>:<span class="ws">{{card.Subject}}</span>
                            @*<label for="cardName">Card name</label>
                                <input ng-model="card.Title" type="text" name="cardName" value="" placeholder="Holidays with my grandmother" />*@
                        </div>
                        @*<div class="field-wrap">
                                <label for="Subj">Subject</label>
                                <input ng-model="card.Subject" type="text" name="Subj" value="" placeholder="Family" />
                            </div>*@
                        @*<div class="field-wrap">
                                <label for="type-card">Type of card</label>
                                <select ui-select2 ng-model="card.Type" class="type-card select-item">
                                    <option value="0">Microphone</option>
                                    <option value="1">Picture</option>
                                    <option value="2">Translation</option>
                                    <option value="3">Test</option>
                                    <option value="4">Write 1 word</option>
                                </select>
                            </div>*@
                        <div class="field-wrap cs">
                            <span>Question:</span><br><span class="ws"> {{card.Question}}</span>
                            @*<label for="Quest">Question</label>
                                <input ng-model="card.Question" type="text" name="Quest" value="" placeholder="Tell us how you spend your holidays with your grandmother" />*@
                        </div>
                        <div ng-if="card.Type === '0' || card.Type === '2' || card.Type === '4'" class="field-wrap custom-answer current-show" id="custom-answer">
                            <label for="Answer">Answer</label>
                            <input ng-model="data.answer" type="text" name="inputAnsw" placeholder="Answer your question" />
                            <input ng-if="card.Type === '0'" type="button" style="margin-top: 0;padding-top: 0;color: #fff; width: 150px;" value="Speach" ng-click="RecognizerStart()" class="btn btn-success" />
                        </div>
                        <div ng-if="card.Type === '1'" class="field-wrap picture-answer" id="picture-answer">
                            <label for="Answer">Choose correct answer</label>
                            <div class="wrap-field">
                                <div class="answer-field" ng-repeat="image in card.Answers">
                                    <input type="radio" ng-model="data.answer" class="choice-answ" n name="Answer" ng-value="image.Id" />
                                    <div class="img-wrap">
                                        <span>{{$index + 1}}</span>
                                        <div class="img-inside">
                                            <img ng-src="{{image.ImageSrc}}" />
                                            @*<div ng-click="image.isDeleted=true" class="delete-pict">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                    <span>Delete</span>
                                                </div>*@
                                        </div>
                                        <br />
                                        @*{{image.Variant}}*@
                                        <input disabled="disabled" type="text" ng-model="image.Variant" class="type-answ" />
                                    </div>
                                </div>
                                @*<div class="answer-field">
                                        <input type="radio" class="choice-answ" name="Answer" value="a" />
                                        <div class="img-wrap">
                                            <span></span>
                                            <div class="noPhoto">
                                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                                <span>No image.<a class="uploadFile" ng-click="uploadClick()">Upload</a></span>
                                                <input type="file" onchange="angular.element(this).scope().changeImage(this.files)" id="upload" class="hidden" name="uploadFile" />
                                            </div>
                                            <br />
                                            <input type="text" disabled="disabled" class="type-answ" />
                                        </div>
                                    </div>*@
                            </div>
                            @*<a class="addAnswer"><i class="fa fa-plus" aria-hidden="true"></i> Add answer</a>*@
                        </div>
                        <div ng-if="card.Type === '3'" class="field-wrap test-field" id="test-field">
                            <label for="Answer">Answer</label>
                            <div class="wrap-field">
                                <div ng-repeat="test in card.Answers" class="answer-field">
                                    <input ng-model="data.answer" type="radio" class="choice-answ" name="Answerr" ng-value="test.Id" />
                                    <span>{{$index + 1}}) </span>
                                    <input disabled="disabled" ng-model="test.Variant" type="text" class="type-answ" />
                                    @*<span ng-click="test.isDeleted = true">Delete</span>*@
                                </div>
                            </div>
                            @*<a ng-click="tests.push({IsRight:false})" class="addAnswer"><i class="fa fa-plus" aria-hidden="true"></i> Add answer</a>*@
                        </div>
                        <button ng-click="reply()" class="btn btn-primary btn-lg">REPLY</button>
                        @*<div class="hidden add-field-wrap">
                                <div class="answer-field add-picture">
                                    <input type="radio" class="choice-answ" name="Answer" value="a" />
                                    <div class="img-wrap">
                                        <span>a)</span>
                                        <div class="noPhoto">
                                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                            <span>No image.<a>Upload</a></span>
                                        </div>
                                        <br />
                                        <input type="text" class="type-answ" />
                                    </div>
                                </div>
                                <div class="answer-field add-test">
                                    <input type="radio" class="choice-answ" name="Answer" value="a" />
                                    <span>в)</span>
                                    <input type="text" class="type-answ" />
                                </div>
                            </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    <script>
        $('.sortSlides-wrap select').select2();

        $('.selectLang').select2();
        $('.sortBy-sel').select2();

        $('.count-pairs').select2();
        //home task
        $('.chapter-table').DataTable({
            "autoWidth": true,
            "oLanguage": {
                "sSearch": "",
            },
            language: {
                searchPlaceholder: "Enter information to search..."
            },
            "dom": '<"top" flp>rt<"bottom"flp>'
        });
        $('.lesson-table').DataTable({
            "autoWidth": true,
            "oLanguage": {
                "sSearch": "",
            },
            language: {
                searchPlaceholder: "Enter information to search..."
            },
            "dom": '<"top" flp>rt<"bottom"flp>'
        });
        $('.cards-table-home').DataTable({
            "autoWidth": true,
            "oLanguage": {
                "sSearch": "",
            },
            language: {
                searchPlaceholder: "Enter information to search..."
            },
            "dom": '<"top" flp>rt<"bottom"flp>'
        });
        //group cards
        //call filter-list
        $('.group-cards-wrap .sortBy-wrap .filter').click(function () {
            $(this).next('ul').slideToggle(100);
            return false;
        })
        //call search panel
        $('.group-cards-wrap .add').click(function () {
            $(this).parent('.control-panel').children('.search-wrap').slideToggle(300);
            return false;
        })
        //remove child element
        $('.group-item .child-group-item .close').click(function () {
            $(this).parent().remove();
            return false;
        })
        //change border color when click circle
        $('.changeColor-form ul li a').click(function () {
            $('.changeColor-form ul li').removeClass('current');
            $(this).parent().addClass('current');
            var currentColor = $(this).css('background-color');
            $(this).closest('.group-item').css('border-color', currentColor);
            return false;
        })
        //call popup and check current border color
        $('.group-item .changeColor').click(function () {
            var currentBorder = $(this).closest('.group-item').css('border-left-color');
            $('.changeColor-form ul li').each(function () {
                if ($(this).children('a').css('background-color') == currentBorder) {
                    $('.changeColor-form ul li').removeClass('current');
                    $(this).addClass('current');
                }
            })
            if ($(this).next('.changeColor-form').is(":visible")) {
                $(this).next('.changeColor-form').hide();
            } else {
                $('.changeColor-form').show();
                $(this).parent().append($('.changeColor-form'));
            }
            return false;
        })


        //cards
        $('.card-answ .answ-item input').click(function () {
            if (!$(this).parent().parent().hasClass('active')) {
                $('.card-answ .answ-item').removeClass('active')
                $(this).parent().parent().addClass('active')
            }
        })

        $('.card-quast .next-quast.active , .card-quast form .btn.active').click(function () {
            $('.card-quast .next-quast.active , .card-quast form .btn.active').removeClass('active');
        });


    </script>
