﻿@model Xencore.Models.ModelsWithDiscountViewModels
@{
    ViewBag.Title = "Home Page";
    var model = Model.Model;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Admin = "discounts";
}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">

<h1>Discounts</h1>
<!-- Button trigger modal -->
<div class="admin discount-wrap">
    <button type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#myModal">
        Add new Discount
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">New Modal</h4>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("AddDiscount")" method="post" id="form1">
                        <div class="form-group">
                            <label for="number">Enter number:</label>
                            @Html.TextBoxFor(x => model.Number, new { @class = "form-control", @id = "number", @readonly = "readonly" })
                            @Html.ValidationMessageFor(x => model.Number)
                        </div>
                        <div class="form-group">
                            <label class="radio-inline"><input checked="checked" type="radio" value="Packages" name="type">Package</label>
                            <label class="radio-inline"><input type="radio" value="Membership" name="type">Membership</label>
                        </div>
                        <div class="form-group">
                            <label for="percent">Is percent:</label>
                            @Html.CheckBoxFor(x => model.IsPercent, new { @class = "form-control", @id = "percent" })
                        </div>
                        <div class="form-group">
                            <label for="value">Value:</label>
                            @Html.TextBoxFor(x => model.Value, new { @class = "form-control", @id = "value" })
                            @Html.ValidationMessageFor(x => model.Value)
                        </div>
                        <div class="form-group">
                            <label for="startdate">Start Date:</label>
                            @Html.TextBoxFor(x => model.DateStart, new { @class = "form-control datepicker", @id = "startdate" })
                            @*@Html.ValidationMessageFor(x => model.DateStart)*@
                        </div>
                        <div class="form-group">
                            <label for="enddate">End Date:</label>
                            @Html.TextBoxFor(x => model.DateEnd, new { @class = "form-control datepicker", @id = "enddate" })
                            @*@Html.ValidationMessageFor(x => model.DateEnd)*@
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" form="form1" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table-bordered" id="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Number</td>
                <td>Type</td>
                <td>Is Percent</td>
                <td>Value (% / EUR)</td>
                <td>Date Start</td>
                <td>Date End</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var discount in Model.Discounts)
            {
                <tr>
                    <td>@discount.Id</td>
                    <td>@discount.Number</td>
                    <td>@(discount.Type ?? "NONE")</td>
                    <td>@discount.IsPercent</td>
                    <td>@discount.Value</td>
                    <td>@discount.PeriodAccessStart.ToString("dd/MM/yyyy")</td>
                    <td>@discount.PeriodAccessEnd.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#table").DataTable();
    $(".datepicker").datetimepicker({
        format: 'DD/MM/YYYY'
    });
    function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }

    $("#number").val(makeid());
    jQuery.validator.methods["date"] = function (value, element) { return true; }

</script>