﻿@{
  Layout = null;
}
<section class="admin teacher-profile cards-info">
  <div class="content-wrap">
    <div class="bgc-content-wrap ft clearfix">
      <div class="col-xs-12">
        <!-- Button trigger modal -->
        <a class="btn btn-primary btn-lg" ng-href="#/lessons/{{chapterId}}/lessondetails">
          Add a new lesson
        </a>
        <a href="#" class="btn btn-primary btn-lg">
          Edit
        </a>
        <a href="#" class="btn btn-primary btn-lg">
          Duplicate
        </a>
        @*<div class="sortBy">
          <form>
            <label for="sortBy-sel">Sort by</label>
            <select class="sortBy-sel">
              <option>Date</option>
              <option>Count</option>
            </select>
          </form>
        </div>*@
        <table id="table" class="lesson-table">
          <thead>
              <tr>
                  <th>Lesson Name</th>
                  <th>Language</th>
                  <th>Logo</th>
                  <th>Level</th>
                  <th>Number of slides</th>
                  <th>Creator</th>
                  <th>Data</th>
              </tr>
          </thead>
          <tbody ng-model="lessons">
              <tr ng-repeat="lesson in lessons">
                  <td class="name"><a ng-href="#/lessons/{{chapterId}}/lessondetails/{{lesson.Id}}">{{lesson.Name}}</a></td>
                  <td>{{lesson.Language}}</td>
                  <td><img class="upload-logo-btn" src={{lesson.IconSrc}} alt="" /></td>
                  <td>{{lesson.Level}}</td>
                  <td>{{lesson.CountOfLessons}}</td>
                  <td>{{lesson.Creator}}</td>
                  <td>{{lesson.Date}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="modal fade chapter-modal discount-modal" id="myModalLesson" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLesson">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a new lesson</h4>
      </div>
      <div class="modal-body">
        <form method="post" id="form1">
          <div class="form-group">
            <label for="chapterName">Name of the chapter</label>
            <input class="chapterName" />
          </div>
          <div class="form-group">
            <label for="selectLang">Select language</label>
            <select class="selectLang">
              <option>English</option>
            </select>
          </div>
          <div class="form-group">
            <a href="#" class="btn btn-primary btn-lg">Add the lesson</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>