﻿@using Xencore.Helpers
@{
    Layout = null;
}
<section class="admin teacher-profile cards-details new-card">
    <div class="content-wrap">
        <div class="bgc-content-wrap ft clearfix">
            <div class="col-xs-12">
                <a ng-href="#/lessons/{{chapter.Id}}" class="back-link"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Lessons</a>
                <div class="make-quast all-slides">
                    <form class="sortSlides-wrap">
                        <div class="field-wrap" style="width: 20%">
                            <label class="title" for="lessonName">Enter lesson name</label>
                            <input ng-model="model.Name" type="text" name="This is fisrt lesson name" />
                        </div>
                        <div class="field-wrap" style="width: 5%">
                            <label class="title">Logo</label>
                            <div>
                                <a ng-style="{'background-image':'url('+model.IconSrc+')'}" ng-click="uploadFileLogoTrigger()" class="upload-logo-btn upload-logo-btn-center">
                                    <span ng-if="!model.IconSrc">+</span>
                                </a>
                            </div>
                            <input class="upload-logo-chapter-button upload-file-button" type="file" name="logoLesson" onchange="angular.element(this).scope().myFileLogo(this)">
                        </div>
                        <div class="field-wrap" style="width: 15%">
                            <label class="title">Language</label>
                            <input disabled="disabled" type="text" value="{{chapter.Language}}" />
                            @*<select ui-select2 ng-model="model.Language" class="lang select-item" ng-init="initLang()" id="lng">
                                  @Html.GetTeachingLanguages();
                                </select>*@
                        </div>
                        <div class="field-wrap" style="width: 10%">
                            <label class="title">Level</label>
                            <input disabled="disabled" type="text" value="{{chapter.Level}}" />
                        </div>
                        <div class="field-wrap" style="width: 20%">
                            <label class="title">Chapter</label>
                            <input disabled="disabled" type="text" value="{{chapter.Name}}" />
                        </div>
                        <div class="field-wrap" style="width: 10%">
                            <a ng-click="saveChanges()" class="btn btn-primary btn-lg">Save changes</a>
                        </div>
                        @*<div class="field-wrap">
                                <input type="file" value="Upload PDF file" onchange="angular.element(this).scope().changePDF(this.files)">
                            </div>*@
                    </form>
                    <div class="slides-wrap">

                    </div>
                    <div class="slides-wrap" id="sortable">
                        <span class="title">Slides in the lesson</span>
                        @*<div ng-repeat="sl in imageSlides" class="slide-item ui-state-default">
                                <img ng-src="{{sl}}" style="width: 200px;" />
                            </div>*@
                        <div ui-sortable="sortableOptions" ng-model="slides">
                            <div ng-repeat="slide in slides" class="slide-item ui-state-default">
                                <div ng-if="slide.Type!=9">
                                    <i ng-class="getClass(slide.Type)"></i>
                                    <span class="slide-type">{{getNameOfSlide(slide.Type)}}</span>
                                    <div class="item-descr">
                                        <span class="slide-name">{{slide.Title}}</span>
                                        <span class="slide-autor">{{slide.UserName}}</span>
                                        <span class="slide-date">{{slide.DateTimeUtcString}}</span>
                                        <span class="slide-number">{{slide.OrderId}}</span>
                                    </div>
                                    <div class="delete-wrap" ng-click="deleteSlide(slide.Id)">
                                        <a>
                                            <i class="fa fa-trash"></i>
                                            <span>Delete</span>
                                        </a>
                                    </div>
                                    <div class="edit-wrap" ng-click="pathToCard(slide.Id)">
                                        <a>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <span>Edit</span>
                                        </a>
                                    </div>
                                </div>
                                <div ng-if="slide.Type===9">
                                    <img ng-src="{{slide.ImageSlideSrc}}" style="width: 200px;" />
                                </div>
                            </div>
                        </div>
                        <a ng-click="chooseTypeOfCard()" class="add-slide">
                            <div class="slide-descr">
                                <i class="fa fa-plus"></i>
                                <span>Add new slide</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mfp-hide chooseTypeCard-popup mfp-with-anim">
    <div class="chooseTypeCard-popup-wrap">
        <a ng-click="addNewCard()" class="addType-slide">
            <img src="~/Images/new-slide.png" alt="new-slide" />
            <h4>Make new slide</h4>
            <span>using builder of the slides</span>
        </a>
        <a ng-click="uploadFileTrigger()" class="addType-slide">
            <img src="~/Images/pdf.png" alt="new-pdf" />
            <h4>Upload Presentation</h4>
            <span>PDF file</span>
        </a>
        <input class="upload-file-button upload-file-button-pdf" type="file" value="Upload PDF file" onchange="angular.element(this).scope().changePDF(this.files)">
    </div>
</div>

@*<script>

        $(document).ready(function () {
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(".upload-logo-btn").html("");
                        $('.upload-logo-btn').css('backgroundImage', 'url(' + e.target.result + ')');
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(".upload-logo-chapter-button").change(function () {


                readURL(this);

            });
        });
    </script>*@