﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_NewMyAccountPageLayout.cshtml";
}
<script>
    var user = @Html.Raw(ViewBag.User);
</script>
<ng-view class="page-animation"></ng-view>