﻿*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.button-simple {
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #009de4;
  padding: 10px 36px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  border-radius: 25px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease; }
  .button-simple:hover {
    background-color: #00affe; }
    .button-simple:hover:after {
      opacity: .32; }

h2 {
  color: #cccccc;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase; }

h3 {
  color: #494949;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px; }

textarea {
  font-family: 'Lato', sans-serif; }

.left-sidebar {
  position: fixed;
  display: inline-block;
  width: 50px;
  min-height: 100vh; }
  .left-sidebar_element {
    display: inline-block;
    position: relative; }
    .left-sidebar_element:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #323949;
      box-shadow: 0 1px 0 rgba(252, 252, 252, 0.05); }
  .left-sidebar .logo-wrapper, .left-sidebar .flag-wrapper, .left-sidebar .avatar-wrapper {
    text-align: center;
    padding: 20px 0;
    width: 100%; }
    .left-sidebar .logo-wrapper img, .left-sidebar .flag-wrapper img, .left-sidebar .avatar-wrapper img {
      display: inline-block;
      margin: 0 auto;
      width: 36px; }
  .left-sidebar .avatar-wrapper {
    padding: 10px 0; }

.left-sidebar_navigation {
  list-style: none;
  margin: 0;
  padding: 20px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 360px; }
  .left-sidebar_navigation li {
    display: block;
    width: 50px;
    text-align: center; }
    .left-sidebar_navigation li a {
      opacity: 0.5;
      color: #bed1e4;
      font-size: 16px;
      font-weight: 400; }

.left-sidebar_element:last-child:after {
  display: none; }

.content-test-cards {
  display: inline-block;
  margin-right: 14px;
  position: fixed;
  max-height: 100vh;
  right: 11px;
  left: 17px;
  bottom: 19px;
  top: 86px; }
  .content-test-cards .content-wrapper {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 33px 2px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
    display: flex;
    flex-direction: column; }

.content-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px 12px 14px;
  border-bottom: 2px solid #eeeeee;
  background: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 99; }
  .content-header .lesson-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #EAEFF2;
    border-radius: 50%;
    text-align: center;
    color: #A6B3BF;
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 5px; }
  .content-header .lesson-name {
    display: inline-block;
    margin-left: 25px;
    color: #494949;
    font-size: 17px;
    font-weight: 700;
    line-height: 30.06px; }
  .content-header .button-close {
    color: #777777;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    cursor: pointer; }
  .content-header .button-cards-close {
    background: none !important; }
  .content-header .button-ask {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-color: #009de4;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    display: none; }

.content-header__right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center; }

.progressbar-cards-lesson-wrapper {
  position: absolute;
  top: -10px;
  width: 60%;
  height: 8px;
  margin: 54px auto; }
  .progressbar-cards-lesson-wrapper i {
    display: inline-block;
    background-color: #e0e0e0;
    position: absolute;
    top: -15px;
    right: -22px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.38);
    transition: background-color 0.5s ease 0.8s; }

.progressbar-cards-lesson {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

progress[value]::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px; }

progress[value]::-webkit-progress-bar-inner-element {
  border-radius: 4px; }

progress[value]::-webkit-progress-value {
  border-radius: 4px;
  background-color: #87d500;
  transition: all 1s ease; }

.progress {
  position: absolute;
  bottom: 0;
  left: 0; }

.content-main .content-main__wrapper {
  text-align: center;
  align-items: center;
  margin: 0 auto; }
  .content-main .content-main__wrapper h2 {
    margin-top: 25px; }
  .content-main .content-main__wrapper h3 {
    margin-top: 20px;
    max-width: 710px;
    display: inline-block;
    font-size: 24px;
    font-weight: 600; }
  .content-main .content-main__wrapper .radio-nav {
    max-width: 710px;
    text-align: center;
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-top: 20px;
    padding: 0; }
    .content-main .content-main__wrapper .radio-nav label {
      font-family: "Lato", sans-serif; }
    .content-main .content-main__wrapper .radio-nav li {
      margin-bottom: 16px;
      text-align: left; }
      .content-main .content-main__wrapper .radio-nav li input[type="radio"] {
        border: 1px solid #a2a2a2;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #fff;
        position: absolute;
        z-index: -1;
        opacity: 0; }
        .content-main .content-main__wrapper .radio-nav li input[type="radio"]:checked + .option-letter > .checker {
          border: 1px solid #009de4;
          background: #009de4;
          color: #fff; }
      .content-main .content-main__wrapper .radio-nav li .checker {
        position: absolute;
        top: -2px;
        left: -12px;
        width: 20px;
        height: 20px;
        border: 1px solid #a2a2a2;
        border-radius: 50%;
        background-color: #ffffff;
        color: #aaaaaa;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        transition: .2s;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center; }
      .content-main .content-main__wrapper .radio-nav li .option-letter {
        display: inline-block;
        color: #333333;
        font-size: 17px;
        font-weight: 700;
        line-height: 17px;
        text-transform: uppercase;
        position: relative;
        padding: 0 0 0 22px;
        cursor: pointer; }
      .content-main .content-main__wrapper .radio-nav li .option {
        display: inline-block;
        color: #333333;
        font-size: 17px;
        font-weight: 400;
        line-height: 17px;
        cursor: pointer;
        margin-left: 8px; }

.content-footer {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 130px;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 54px; }
  .content-footer__decision {
    display: inline-block;
    align-self: center;
    margin: 10px 0; }
    .content-footer__decision .right-check {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 550;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #558b2f;
      margin-left: 23px; }
    .content-footer__decision .custom-button-new {
      display: inline-block;
      margin-top: 30px;
      background-color: #fafafa;
      font-family: "Roboto", sans-serif;
      font-size: 17px;
      padding: 10px 16px;
      min-width: 151px;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      opacity: 1;
      text-transform: uppercase;
      line-height: 1; }
    .content-footer__decision .button-check-cards {
      margin-top: 0;
      background-color: #00a0ea;
      font-size: 16px;
      font-weight: 400; }
    .content-footer__decision .wrong-click-check {
      position: static;
      margin-bottom: 10px; }
      .content-footer__decision .wrong-click-check:last-of-type {
        margin-bottom: 0; }
    .content-footer__decision .check-sign {
      font-size: 23px;
      font-weight: 400;
      margin-left: 6px;
      position: absolute;
      right: 0;
      top: 0; }
  .content-footer .decision-right {
    display: flex;
    justify-content: center;
    align-items: center; }
    .content-footer .decision-right .correct-icon {
      display: inline-block;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background: #fff;
      color: #8bc34a;
      font-size: 36px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .content-footer .decision-right .correct-icon i {
        font-size: 36px; }
    .content-footer .decision-right span {
      position: relative; }
  .content-footer .wrong-decision {
    display: flex; }
    .content-footer .wrong-decision .wrong-answer-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-left: 23px; }
      .content-footer .wrong-decision .wrong-answer-wrapper .right-check {
        color: #e53935;
        margin-left: 0; }
      .content-footer .wrong-decision .wrong-answer-wrapper .wrong-click-check {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #e53935; }
        .content-footer .wrong-decision .wrong-answer-wrapper .wrong-click-check .correct-ans-wrong {
          font-weight: 900; }
    .content-footer .wrong-decision .correct-icon {
      display: inline-block;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background: #fff;
      color: #e53935;
      font-size: 36px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .content-footer .wrong-decision .correct-icon i {
        font-size: 36px; }

.content-footer .content-footer__next {
  align-self: center;
  position: absolute;
  right: 50px; }
  .content-footer .content-footer__next .button-check-pdf {
    margin-top: 0;
    background-color: #00a0ea;
    font-size: 16px;
    font-weight: 400; }

.content-footer .button_skip {
  position: absolute;
  left: 150px;
  cursor: pointer; }

.check-footer {
  justify-content: flex-end;
  border-top: 1px solid #E0E0E0; }

.content-footer__next .custom-button-new {
  display: inline-block;
  margin-top: 30px;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding: 10px 16px;
  min-width: 151px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
  text-transform: uppercase;
  line-height: 1; }

.content-footer__next .button-check-cards {
  margin-top: 0;
  background-color: #8bc34a;
  font-size: 16px;
  font-weight: 400; }

.content-footer__next .button-wrong-cards {
  margin-top: 0;
  background-color: #e53935;
  font-size: 16px;
  font-weight: 400; }

.video-cardTest {
  position: relative; }

.video-wrapper-cards {
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 540px; }
  .video-wrapper-cards iframe {
    margin-bottom: 10px; }
  .video-wrapper-cards .question {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #494949;
    font-size: 14px;
    font-weight: 700;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  .video-wrapper-cards #carquestion {
    resize: none;
    width: 100%;
    max-width: 540px;
    min-height: 40px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 40px;
    color: #494949; }
    .video-wrapper-cards #carquestion::placeholder {
      color: #aaaaaa;
      text-align: left;
      text-transform: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px; }

.pictures-nav {
  list-style: none;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 66px;
  padding: 0; }
  .pictures-nav label {
    margin-right: 33px; }
    .pictures-nav label:last-child {
      margin-right: 0; }
    .pictures-nav label li {
      display: inline-block;
      text-align: center;
      padding: 6px 6px 46px 6px;
      position: relative;
      cursor: pointer; }
      .pictures-nav label li:hover {
        background: #eef2f5; }
      .pictures-nav label li input[type="radio"] {
        position: absolute;
        bottom: 14px;
        left: 50%;
        z-index: -1;
        opacity: 0; }
        .pictures-nav label li input[type="radio"]:checked + .checker {
          border: 1px solid #009de4;
          background: #009de4;
          color: #fff; }
      .pictures-nav label li img {
        cursor: pointer;
        width: auto;
        height: 130px; }
      .pictures-nav label li .checker {
        position: absolute;
        bottom: 14px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 20px;
        border: 1px solid #a2a2a2;
        border-radius: 50%;
        background-color: #ffffff;
        color: #aaaaaa;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        transition: .2s;
        cursor: pointer;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center; }

.task-wrap .task-ans .task-word {
  display: inline-block;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #eef2f5;
  font-size: 16px;
  line-height: 38px;
  margin-right: 7px;
  margin-left: 7px;
  color: #494949;
  border-bottom-color: #ddd;
  box-shadow: none; }

.task-sent {
  color: #494949;
  font-size: 19px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 23px; }

.task-ans {
  display: inline-block;
  color: #494949;
  font-size: 19px;
  font-weight: 400;
  margin-right: 13px;
  display: flex;
  align-items: center; }
  .task-ans input {
    padding: 0 20px;
    text-align: center; }

.task-word {
  display: inline-block;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #eef2f5;
  font-size: 16px;
  line-height: 38px;
  margin-right: 7px;
  margin-left: 7px;
  color: #494949; }
  .task-word:focus {
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: none !important;
    outline: none !important; }

.task-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  justify-content: center; }
  .task-wrap span {
    font-size: 20px; }

.answer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px; }
  .answer-nav li {
    display: inline-block;
    margin-right: 26px;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #009de4;
    color: #009de4;
    font-size: 16px;
    line-height: 38px;
    cursor: pointer; }
    .answer-nav li:hover {
      background: #009de4;
      color: #fff; }
    .answer-nav li input[type="radio"] {
      opacity: 0;
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%; }

.task-word-sent {
  border: none;
  margin-right: 13px;
  cursor: pointer;
  margin-top: 12px; }

.sentence-nav {
  margin: 0 auto;
  max-width: 680px; }
  .sentence-nav li {
    margin-top: 30px;
    background: #009de4;
    color: #fff;
    margin-right: 13px;
    border: none; }
    .sentence-nav li:hover {
      background-color: #00affe; }

.voice-record {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 66px;
  height: 66px;
  background-color: #009de4;
  border-radius: 50%;
  color: #fafbfc;
  font-size: 23px;
  line-height: 66px;
  cursor: pointer;
  position: relative;
  z-index: 10; }

.rel {
  position: relative;
  display: inline-block; }
  .rel .circle {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #ceecfa;
    border-radius: 50%;
    top: 23px;
    left: -7px;
    z-index: 8; }
  .rel .circle2 {
    content: '';
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: #e5f5fc;
    border-radius: 50%;
    top: 19px;
    left: -11px;
    z-index: 6; }

.memory-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 800px;
  display: block; }
  .memory-nav li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px; }
    .memory-nav li:nth-child(4n) {
      margin-right: 0; }
  .memory-nav .flip-container {
    perspective: 1000;
    position: relative;
    width: 160px;
    height: 130px;
    cursor: pointer; }
    .memory-nav .flip-container .flipper {
      transition: 0.6s;
      transform-style: preserve-3d; }
      .memory-nav .flip-container .flipper .back {
        display: inline-block;
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        height: 130px;
        top: 0;
        left: 0;
        transform: rotateY(180deg); }
        .memory-nav .flip-container .flipper .back img {
          width: 160px;
          height: 130px; }
        .memory-nav .flip-container .flipper .back .memory-descr {
          text-transform: uppercase;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 15;
          opacity: 1;
          height: 45px;
          display: block;
          color: #fff;
          font-size: 13px;
          line-height: 45px; }
        .memory-nav .flip-container .flipper .back span {
          display: block;
          background: linear-gradient(to top, rgba(18, 17, 17, 0.6), rgba(18, 17, 17, 0.2));
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 45px;
          z-index: 1; }
      .memory-nav .flip-container .flipper .front {
        display: inline-block;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        z-index: 2;
        opacity: 0.7;
        width: 160px;
        height: 130px;
        color: #8694a5;
        font-size: 80px;
        line-height: 136px;
        font-weight: 700;
        background-color: #ebeff2;
        position: absolute;
        top: 0;
        left: 0; }

.firstPictureMatch {
  transition: all 0.5s ease-in-out 1.1s;
  -webkit-transition: all 0.5s ease-in-out 1.1s;
  -moz-transition: all 0.5s ease-in-out 1.1s;
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

.secondPictureMatch {
  transition: all 0.5s ease-in-out 0.6s;
  -webkit-transition: all 0.5s ease-in-out 0.6s;
  -moz-transition: all 0.5s ease-in-out 0.6s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  opacity: 0.6;
  cursor: default; }

.viewVocaWrap h2 {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: none; }

.viewVocaWrap span {
  color: #777777;
  font-size: 14px;
  line-height: 14px;
  display: block;
  margin-bottom: 17px; }

.viewVocaWrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .viewVocaWrap .backLevelPage {
    cursor: pointer;
    margin-top: -2px;
    margin-bottom: 10px;
    font-weight: 700; }
    .viewVocaWrap .backLevelPage i {
      font-weight: 700; }
  .viewVocaWrap .vocabulary-center {
    display: inline-block;
    height: 100%;
    width: 100%; }
    .viewVocaWrap .vocabulary-center .vocabulary-nav {
      list-style: none;
      margin: 0;
      padding: 0; }
      .viewVocaWrap .vocabulary-center .vocabulary-nav li {
        width: 100%;
        background: #fff;
        border-radius: 10px;
        height: 60px;
        padding: 10px 24px 10px 20px;
        vertical-align: middle;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        cursor: pointer; }
        .viewVocaWrap .vocabulary-center .vocabulary-nav li:hover {
          box-shadow: 0 0 27px 3px rgba(55, 63, 81, 0.1); }
        .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-left_vocabulary {
          display: inline-block;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex; }
          .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-left_vocabulary .avatar-lesson {
            background-color: #f6f5f5;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            vertical-align: bottom;
            margin: auto 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-right: 20px;
            position: relative; }
            .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-left_vocabulary .avatar-lesson img {
              height: 40px;
              max-width: 40px; }
          .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-left_vocabulary .lesson-title {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-left_vocabulary .lesson-title h4 {
              margin: 0;
              display: inline-block;
              color: #333333;
              font-size: 15px;
              font-weight: 700;
              line-height: 20px; }
            .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-left_vocabulary .lesson-title span {
              display: inline-block;
              color: #aaaaaa;
              font-family: Lato;
              font-size: 15px;
              line-height: 20px;
              margin: 0; }
        .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-right_vocabulary {
          width: 222px;
          display: inline-block;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative; }
          .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-right_vocabulary .percent-lock {
            display: none; }
          .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-right_vocabulary .notpass {
            position: absolute;
            left: -10px;
            color: #949aa7;
            font-size: 14px;
            line-height: 14px;
            display: none; }
          .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-right_vocabulary span {
            display: inline-block;
            color: #333333;
            font-size: 14px;
            line-height: 14px;
            margin: 0; }
          .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-right_vocabulary .progressbar-wrap {
            display: inline-block;
            width: 165px;
            height: 11px;
            margin-right: 21px;
            background-color: #f6f5f5;
            border-radius: 7px; }
            .viewVocaWrap .vocabulary-center .vocabulary-nav li .li-right_vocabulary .progressbar-wrap .progress-bar {
              height: 100%;
              background-color: #9ad341;
              border-radius: 7px; }
      .viewVocaWrap .vocabulary-center .vocabulary-nav .locked {
        cursor: default; }
        .viewVocaWrap .vocabulary-center .vocabulary-nav .locked:hover .notpass {
          display: block; }
        .viewVocaWrap .vocabulary-center .vocabulary-nav .locked .li-left_vocabulary .avatar-lesson img {
          filter: grayscale(100%); }
        .viewVocaWrap .vocabulary-center .vocabulary-nav .locked .li-left_vocabulary .lesson-title h4 {
          color: #cccccc; }
        .viewVocaWrap .vocabulary-center .vocabulary-nav .locked .li-left_vocabulary .lesson-title span {
          color: #cccccc; }
        .viewVocaWrap .vocabulary-center .vocabulary-nav .locked .li-right_vocabulary .percent {
          display: none; }
        .viewVocaWrap .vocabulary-center .vocabulary-nav .locked .li-right_vocabulary .percent-lock {
          color: #949aa7;
          font-size: 18px;
          line-height: 18px;
          text-transform: uppercase;
          display: block;
          position: absolute;
          right: 0; }
        .viewVocaWrap .vocabulary-center .vocabulary-nav .locked .li-right_vocabulary .progressbar-wrap {
          display: none; }

#my-account-container .right-content .main-content .right-right-content .self-sudy-directive {
  padding: 0;
  border: none;
  border-radius: 3px; }
  #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right {
    background: #fff;
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: left; }
    #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .vocabulary-right_item {
      border-bottom: 1px solid #e8e8e8;
      padding: 18px 20px; }
      #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .vocabulary-right_item span {
        display: block; }
      #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .vocabulary-right_item h3 {
        color: #333333;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        margin: 0; }
    #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .succes-wrap {
      position: relative; }
      #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .succes-wrap .circle-progress {
        text-align: center;
        width: 115px;
        position: relative;
        margin: 12px auto 12px auto; }
        #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .succes-wrap .circle-progress .circle-percent {
          position: absolute;
          top: 40%;
          left: 35%;
          color: #949aa7;
          font-size: 22px;
          font-weight: 700;
          line-height: 22px; }
      #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .succes-wrap span {
        text-align: center;
        color: #949aa7;
        font-size: 15px;
        line-height: 15px;
        margin: 0; }
    #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .balance-wrap span {
      color: #949aa7;
      font-size: 23px;
      font-weight: 700;
      line-height: 23px;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 10px; }
    #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .cart-wrap span {
      color: #949aa7;
      font-size: 12px;
      line-height: 12px;
      margin: 0;
      margin-top: 12px;
      display: block; }
    #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .cart-wrap a {
      color: #009de4;
      font-size: 12px;
      line-height: 12px;
      text-decoration: none;
      display: inline-block;
      margin-top: 7px;
      display: block; }
    #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .cart-wrap .button-checkout {
      margin-top: 10px;
      padding: 10px 20px;
      margin-bottom: 5px; }
    #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .brain-tournament-wrap span {
      color: #949aa7;
      font-size: 12px;
      line-height: 12px;
      margin: 0;
      margin-top: 12px; }
    #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .brain-tournament-wrap .button_play {
      margin-top: 12px; }
    #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .ratings-wrap .ratings-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 9px; }
      #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .ratings-wrap .ratings-nav li {
        color: #949aa7;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 9px; }
        #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .ratings-wrap .ratings-nav li span {
          margin: 0;
          position: relative;
          display: inline-block; }
        #my-account-container .right-content .main-content .right-right-content .self-sudy-directive .vocabulary-right .ratings-wrap .ratings-nav li .your-rate:after {
          content: 'You';
          display: block;
          position: absolute;
          right: -33px;
          top: -2px;
          padding: 4px;
          background-color: #a8d85c;
          border-radius: 3px;
          color: #ffffff;
          font-size: 11px;
          font-weight: 700;
          line-height: 11px; }

.level-center {
  display: inline-block;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 34px;
  min-height: 773px; }
  .level-center .level-center_wrap {
    max-width: 450px;
    display: inline-block; }
    .level-center .level-center_wrap .level-title {
      color: #333333;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      font-family: "Lato";
      margin: 0; }
    .level-center .level-center_wrap .level-descr {
      color: #aaaaaa;
      font-family: Lato;
      font-size: 12px;
      line-height: 20px;
      margin: 0;
      margin-top: 18px;
      display: block; }
    .level-center .level-center_wrap .level-nav {
      margin-top: 80px;
      list-style: none;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0; }
      .level-center .level-center_wrap .level-nav li {
        display: inline-block;
        cursor: pointer;
        margin-bottom: 48px;
        width: 33%; }
        .level-center .level-center_wrap .level-nav li .level-item {
          position: relative; }
          .level-center .level-center_wrap .level-nav li .level-item .level-item_title {
            font-size: 15px;
            font-family: "Lato";
            margin: 0;
            color: #333333;
            line-height: 20px;
            display: block; }
          .level-center .level-center_wrap .level-nav li .level-item .level-item_descr {
            color: #aaaaaa;
            font-size: 12px;
            line-height: 12px;
            margin: 0;
            margin-top: 8px; }
          .level-center .level-center_wrap .level-nav li .level-item img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -34px;
            margin-top: -37px;
            width: 68px;
            height: 68px;
            border-radius: 50%; }
        .level-center .level-center_wrap .level-nav li .circle-level {
          position: relative; }
        .level-center .level-center_wrap .level-nav li .lock-level {
          cursor: default; }
          .level-center .level-center_wrap .level-nav li .lock-level .level-item_descr {
            display: none; }

.button_next-level {
  margin-bottom: 45px; }

lesson-progress {
  display: flex; }

.white-popup {
  position: relative;
  background: #FFF;
  padding: 110px;
  width: auto;
  max-width: 900px;
  margin: 20px auto;
  text-align: center; }
  .white-popup .popup-succes-wrap {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #949aa7;
    font-weight: 700; }
    .white-popup .popup-succes-wrap .circle-succes {
      position: relative;
      width: 115px;
      height: 115px;
      display: inline-block; }
      .white-popup .popup-succes-wrap .circle-succes .circle-percent {
        position: absolute;
        top: 32%;
        left: 32%; }
  .white-popup .mfp-close {
    color: #777777;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    z-index: 20; }
    .white-popup .mfp-close i {
      z-index: -1; }
  .white-popup .congrat-title {
    color: #494949;
    font-family: Lato;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
    text-transform: none; }
  .white-popup .congrat-descr {
    color: #949aa7;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 16px;
    display: block; }
  .white-popup .button_try-again, .white-popup .button_next {
    margin-top: 30px;
    width: 130px; }
  .white-popup .button_next {
    margin-left: 20px; }

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.6); }

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out; }

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1); }

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.6);
  opacity: 0; }

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

.content-nav-main {
  position: relative;
    position-width: 100%;
  padding-top: 30px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .content-nav-main .button-close {
    color: #777777;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 22px;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    opacity: 0.54;
    color: #000000; }
  .content-nav-main .button-cards-close {
    background: none !important; }

.content-main {
  overflow: hidden; }

.animate-show-hide {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.animate-show-hide.ng-enter {
  left: 20%;
  opacity: 0;
  transition: all 0.3s ease; }
  .animate-show-hide.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1; }

.view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 300ms; }

.view-wrap {
  width: 72%;
  position: relative;
  overflow: hidden; }

.vocabulary-animation .view.ng-enter {
  left: 100%;
  opacity: 0;
  margin-top: 0; }
  .vocabulary-animation .view.ng-enter.ng-enter-active {
    left: 0%;
    opacity: 1; }

.vocabulary-animation .view.ng-leave {
  left: 0%;
  opacity: 1; }
  .vocabulary-animation .view.ng-leave.ng-leave-active {
    left: -100%;
    opacity: 0; }

body #my-account-container .right-content .main-content .left-left-content {
  height: 100%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
