*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto
.button-simple
		display: inline-block
		border: none
		cursor: pointer
		color: #fff
		text-decoration: none
		background-color: #009de4
		padding: 10px 36px
		font-size: 13px
		line-height: 13px
		font-weight: 400
		border-radius: 25px
		text-align: center
		position: relative
		outline: none
		transition: background-color .1s ease
		&:hover
				background-color: lighten(#009de4, 5%)
				&:after
						opacity: .32

h2
	color: #cccccc
	font-size: 20px
	font-weight: 700
	line-height: 25px
	text-transform: uppercase
h3	
	color: #494949
	font-size: 20px
	font-weight: 700
	line-height: 30px	

textarea
	font-family: 'Lato', sans-serif


/////////////////      SIDEBAR       /////////////////////			

.left-sidebar
	position: fixed
	display: inline-block
	width: 50px
	min-height: 100vh	
	&_element
		display: inline-block
		position: relative
		&:after
			display: block
			content: ''	
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 2px
			background-color: #323949
			box-shadow: 0 1px 0 rgba(252, 252, 252, 0.05)	
	
	.logo-wrapper, .flag-wrapper, .avatar-wrapper
		text-align: center
		padding: 20px 0
		width: 100%
		img
			display: inline-block
			margin: 0 auto
			width: 36px
	.avatar-wrapper
		padding: 10px 0
.left-sidebar_navigation
	list-style: none
	margin: 0
	padding: 20px 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 360px
	li
		display: block
		width: 50px
		text-align: center
		a
			opacity: 0.5
			color: #bed1e4
			font-size: 16px
			font-weight: 400

.left-sidebar_element:last-child
	&:after
		display: none
///////////////////////////////////////////////////////////////////////

//////////////           CONTENT             //////////////////////////

.content-test-cards
	display: inline-block	
	//padding: 20px 14px 20px 20px
	margin-right: 14px
	position: fixed
	max-height: 100vh
	right: 11px
	left: 17px
	bottom: 19px
	top: 86px
	.content-wrapper
		position: relative
		//margin-bottom: 20px
		//padding-bottom: 80px
		background: #fff
		width: 100%
		height: 100%
		box-shadow: 0 10px 33px 2px rgba(0, 0, 0, 0.08)
		overflow-y: auto
		display: flex
		flex-direction: column
		//justify-content: center
 
//////////////   Content header   ///////////////////////////
.content-header
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center
	padding: 12px 14px 12px 14px
	border-bottom: 2px solid #eeeeee
	background: #fff
	position: absolute
	top: 0
	width: 100%
	right: 0
	z-index: 99
	.lesson-number
		display: inline-block
		width: 30px
		height: 30px
		background-color: #EAEFF2
		border-radius: 50%
		text-align: center
		color: #A6B3BF
		font-size: 17px
		font-weight: 700
		line-height: 28px
		margin-left: 5px
	.lesson-name
		display: inline-block
		margin-left: 25px
		color: #494949
		font-size: 17px
		font-weight: 700
		line-height: 30.06px
	.button-close
		color: #777777
		font-size: 20px
		font-weight: 400
		line-height: 20px
		border: none
		cursor: pointer
	.button-cards-close
		background: none!important
	.button-ask
		width: 20px
		height: 20px
		margin-right: 12px
		background-color: #009de4	
		border-radius: 50%
		border: none
		color: #fff
		font-size: 12px
		font-weight: 400
		line-height: 12px
		text-align: center
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		display: none
.content-header__right
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
.progressbar-cards-lesson-wrapper
	position: absolute
	top: -10px
	width: 60%
	height: 8px
	margin: 54px auto
	i
			display: inline-block
			background-color: #e0e0e0
			position: absolute
			top: -15px
			right: -22px
			width: 36px
			height: 36px
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center
			color: rgba(0, 0, 0, 0.38);
			transition: background-color 0.5s ease 0.8s
.progressbar-cards-lesson
		width: 100%
		height: 100%
		border-radius: 4px
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		
progress[value]::-webkit-progress-bar 
     background-color: rgba(0, 0, 0, 0.12)
     border-radius: 4px
progress[value]::-webkit-progress-bar-inner-element 
     border-radius: 4px
progress[value]::-webkit-progress-value 
     border-radius: 4px
     background-color: #87d500
     transition: all 1s ease
               
////////////////////////////   porgress bar   ////////////////////////
.progress
	position: absolute
	bottom: 0
	left: 0	

///////////////////   Content-main   //////////////////

.content-main
	.content-main__wrapper
		text-align: center
		align-items: center
		margin: 0 auto
		h2
			margin-top: 25px
		h3
			margin-top: 20px
			max-width: 710px
			display: inline-block
			font-size: 24px
			font-weight: 600
		.radio-nav
			max-width: 710px
			text-align: center
			display: inline-block
			list-style: none
			margin: 0
			margin-top: 20px
			padding: 0
			label
				font-family: "Lato", sans-serif;
			li
				margin-bottom: 16px
				text-align: left
				input[type="radio"]
					border: 1px solid #a2a2a2
					border-radius: 50%
					width: 20px
					height: 20px
					background: #fff
					position: absolute
					z-index: -1
					opacity: 0
					&:checked + .option-letter>.checker
						border: 1px solid #009de4
						background: #009de4
						color: #fff
				.checker
						position: absolute
						top: -2px
						left: -12px
						width: 20px
						height: 20px
						border: 1px solid #a2a2a2
						border-radius: 50%
						background-color: #ffffff	
						color: #aaaaaa
						font-size: 12px
						font-weight: 400
						line-height: 18px
						text-align: center
						transition: .2s	
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: center
						align-items: center				
				.option-letter
					display: inline-block
					color: #333333
					font-size: 17px
					font-weight: 700
					line-height: 17px
					text-transform: uppercase
					position: relative
					padding: 0 0 0 22px
					cursor: pointer
				.option
					display: inline-block
					color: #333333
					font-size: 17px
					font-weight: 400
					line-height: 17px
					cursor: pointer
					margin-left: 8px

/////////////        Content footer   ///////////////////////

.content-footer
	position: relative
	z-index: 99
	width: 100%
	height: 130px
	right: 0
	bottom: 0
	left: 0
	// height: 50px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: space-between
	padding: 7px 54px
	&__decision
		display: inline-block
		align-self: center
		margin: 10px 0
		.right-check
			  font-family: Roboto
			  font-size: 24px
			  font-weight: 550
			  font-style: normal
			  font-stretch: normal
			  letter-spacing: normal
			  color: #558b2f
			  margin-left: 23px
		.custom-button-new 
			display: inline-block
			margin-top: 30px
			background-color: #fafafa
			font-family: "Roboto", sans-serif
			font-size: 17px
			padding: 10px 16px
			min-width: 151px
			border-radius: 4px
			text-align: center
			cursor: pointer
			-webkit-transition: all 0.2s
			-moz-transition: all 0.2s
			-ms-transition: all 0.2s
			-o-transition: all 0.2s
			transition: all 0.2s
			opacity: 1
			text-transform: uppercase
			line-height: 1
		.button-check-cards
			margin-top: 0
			background-color: #00a0ea
			font-size: 16px
			font-weight: 400
		.wrong-click-check
			position: static
			margin-bottom: 10px
			&:last-of-type
				margin-bottom: 0
		.check-sign
			font-size: 23px
			font-weight: 400
			margin-left: 6px
			position: absolute
			right: 0
			top: 0
	.decision-right
		display: flex
		justify-content: center
		align-items: center
		.correct-icon
			display: inline-block
			width: 54px
			height: 54px
			border-radius: 50%
			background: #fff
			color: #8bc34a
			font-size: 36px
			display: flex
			justify-content: center
			align-items: center
			i
				font-size: 36px
		span	
			position: relative
		
	.wrong-decision
		display: flex
		.wrong-answer-wrapper
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: space-between
			margin-left: 23px
			.right-check
				color: #e53935
				margin-left: 0
			.wrong-click-check
				font-size: 14px
				font-weight: normal
				font-style: normal
				font-stretch: normal
				line-height: normal
				letter-spacing: normal
				color: #e53935;
				.correct-ans-wrong
					font-weight: 900
		.correct-icon
			display: inline-block
			width: 54px
			height: 54px
			border-radius: 50%
			background: #fff
			color: #e53935
			font-size: 36px
			display: flex
			justify-content: center
			align-items: center
			i
				font-size: 36px
.content-footer
	.content-footer__next
		align-self: center
		position: absolute
		right: 50px
		.button-check-pdf
			margin-top: 0
			background-color: #00a0ea
			font-size: 16px
			font-weight: 400
	.button_skip
		position: absolute
		left: 150px
		cursor: pointer

.check-footer
	justify-content: flex-end
	border-top: 1px solid #E0E0E0
.content-footer__next
	.custom-button-new 
				display: inline-block
				margin-top: 30px
				background-color: #fafafa
				font-family: "Roboto", sans-serif
				font-size: 17px
				padding: 10px 16px
				min-width: 151px
				border-radius: 4px
				text-align: center
				cursor: pointer
				-webkit-transition: all 0.2s
				-moz-transition: all 0.2s
				-ms-transition: all 0.2s
				-o-transition: all 0.2s
				transition: all 0.2s
				opacity: 1
				text-transform: uppercase
				line-height: 1
	.button-check-cards
		margin-top: 0
		background-color: #8bc34a
		font-size: 16px
		font-weight: 400
	.button-wrong-cards
		margin-top: 0
		background-color: #e53935
		font-size: 16px
		font-weight: 400
////////////////        VIDEO        //////////////////////////
.video-cardTest
	position: relative
.video-wrapper-cards
	margin: 0 auto
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	width: 540px
	iframe
		margin-bottom: 10px
	.question
		margin-top: 20px
		margin-bottom: 10px
		color: #494949
		font-size: 14px
		font-weight: 700
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	#carquestion
		resize: none
		width: 100%
		max-width: 540px
		min-height: 40px
		text-align: center
		font-size: 20px
		text-transform: uppercase
		line-height: 40px
		color: #494949
		&::placeholder
			color: #aaaaaa
			text-align: left
			text-transform: none
			font-size: 14px
			font-weight: 400
			line-height: 14px


//////////////////           PICTURES         ///////////////////////////

.pictures-nav
	list-style: none
	margin: 0
	margin-top: 33px
	margin-bottom: 66px
	padding: 0
	label
		margin-right: 33px
		&:last-child
			margin-right: 0
		li
			display: inline-block
			text-align: center
			padding: 6px 6px 46px 6px
			position: relative
			cursor: pointer
			&:hover
				background: #eef2f5
			input[type="radio"]
				position: absolute
				bottom: 14px
				left: 50%
				z-index: -1
				opacity: 0
				&:checked + .checker
							border: 1px solid #009de4
							background: #009de4
							color: #fff
		
			img
				cursor: pointer
				width: auto
				height: 130px
			.checker
				position: absolute
				bottom: 14px
				left: 50%
				margin-left: -10px
				width: 20px
				height: 20px
				border: 1px solid #a2a2a2
				border-radius: 50%
				background-color: #ffffff	
				color: #aaaaaa
				font-size: 12px
				font-weight: 400
				line-height: 18px
				text-align: center
				transition: .2s	
				cursor: pointer
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: center
				align-items: center		



///////////////            WORDS            //////////////////////
.task-wrap
	.task-ans
		.task-word
			display: inline-block
			width: 140px
			height: 40px
			border-radius: 20px
			border: 1px solid #ddd
			background-color: #eef2f5
			font-size: 16px
			line-height: 38px
			margin-right: 7px
			margin-left: 7px
			color: #494949
			border-bottom-color: #ddd
			box-shadow: none
.task-sent
	color: #494949
	font-size: 19px
	font-weight: 400
	margin-top: 10px
	margin-bottom: 23px
.task-ans
	display: inline-block
	color: #494949
	font-size: 19px
	font-weight: 400
	margin-right: 13px
	display: flex
	align-items: center
	input
		padding: 0 20px
		text-align: center
.task-word
	display: inline-block
	width: 140px
	height: 40px
	border-radius: 20px
	border: 1px solid #ddd
	background-color: #eef2f5
	font-size: 16px
	line-height: 38px
	margin-right: 7px
	margin-left: 7px
	color: #494949
	&:focus
		border-bottom: 1px solid rgb(158, 158, 158)!important
		box-shadow: none!important
		outline: none!important
.task-wrap
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	align-items: center
	margin: 0 auto
	justify-content: center
	span
		font-size: 20px
.answer-nav
	list-style: none
	margin: 0
	padding: 0
	margin-top: 40px
	
	li
		display: inline-block
		margin-right: 26px
		width: 140px
		height: 40px
		border-radius: 20px
		border: 1px solid #009de4
		color: #009de4
		font-size: 16px
		line-height: 38px
		cursor: pointer
		&:hover
			background: #009de4
			color: #fff
		
		input[type="radio"]
			opacity: 0
			z-index: -1
			position: absolute
			top: 50%
			left: 50%

		
//////////////////           SENTENCE            //////////////////////////////
.task-word-sent
	border: none
	margin-right: 13px
	cursor: pointer
	margin-top: 12px
.sentence-nav
	margin: 0 auto
	max-width: 680px
	li
		margin-top: 30px
		background: #009de4
		color: #fff
		margin-right: 13px
		border: none
		&:hover
			background-color: lighten(#009de4, 5%)



/////////////         VOICE        ////////////////////////////

.voice-record
	display: inline-block
	margin-top: 30px
	margin-bottom: 40px
	width: 66px
	height: 66px
	background-color: #009de4;
	border-radius: 50%
	color: #fafbfc;
	font-size: 23px;
	line-height: 66px
	cursor: pointer
	position: relative
	z-index: 10
.rel
	position: relative
	display: inline-block
	.circle
		content: ''
		position: absolute
		width: 80px
		height: 80px	
		background-color: #ceecfa;
		border-radius: 50%
		top: 23px
		left: -7px
		z-index: 8
	.circle2
		content: ''
		position: absolute
		width: 88px
		height: 88px	
		background-color: #e5f5fc;
		border-radius: 50%
		top: 19px
		left: -11px
		z-index: 6


//////////////////             MEMORY GAMES         /////////////////////////////////

.memory-nav
	list-style: none
	margin: 0
	padding: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	width: 800px
	display: block
	li
		display: inline-block
		margin-right: 30px
		margin-bottom: 20px
		&:nth-child(4n)
			margin-right: 0
	.flip-container
		perspective: 1000
		position: relative
		width: 160px
		height: 130px
		cursor: pointer
		.flipper
			transition: 0.6s
			transform-style: preserve-3d
			.back
				display: inline-block
				position: absolute
				backface-visibility: hidden
				-webkit-backface-visibility: hidden
				-moz-backface-visibility: hidden
				height: 130px
				top: 0
				left: 0
				transform: rotateY(180deg)
				img
					width: 160px
					height: 130px
				.memory-descr
					text-transform: uppercase
					position: absolute
					bottom: 0
					left: 0
					right: 0
					z-index: 15
					opacity: 1
					height: 45px
					display: block
					color: #fff
					font-size: 13px
					line-height: 45px
				span
					display: block
					background: linear-gradient(to top, rgba(18, 17, 17, 0.6), rgba(18, 17, 17, 0.2))
					background: 
					position: absolute
					bottom: 0
					left: 0
					right: 0
					height: 45px
					z-index: 1

			.front
				display: inline-block
				backface-visibility: hidden
				-webkit-backface-visibility: hidden
				-moz-backface-visibility: hidden
				z-index: 2
				opacity: 0.7
				width: 160px
				height: 130px
				color: #8694a5
				font-size: 80px
				line-height: 136px
				font-weight: 700
				background-color: #ebeff2
				position: absolute
				top: 0
				left: 0
.firstPictureMatch
	transition: all 0.5s ease-in-out 1.1s
	-webkit-transition: all 0.5s ease-in-out 1.1s
	-moz-transition: all 0.5s ease-in-out 1.1s
	-moz-transform: scale(0.8)
	-webkit-transform: scale(0.8)
	transform: scale(0.8)

  
.secondPictureMatch
	transition: all 0.5s ease-in-out 0.6s
	-webkit-transition: all 0.5s ease-in-out 0.6s
	-moz-transition: all 0.5s ease-in-out 0.6s
	transform: scale(1.1)
	-webkit-transform: scale(1.1)
	-moz-transform: scale(1.1)
	opacity: 0.6
	cursor: default




//////////////////             VOCABULARY          ///////////////////////////////////
.viewVocaWrap
	h2
		color: #333333
		font-size: 20px
		font-weight: 700
		line-height: 20px
		text-transform: none
	span
		color: #777777
		font-size: 14px
		line-height: 14px
		display: block
		margin-bottom: 17px
.viewVocaWrap
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: space-between
		.backLevelPage
			cursor: pointer
			margin-top: -2px
			margin-bottom: 10px
			font-weight: 700
			i
				font-weight: 700
		.vocabulary-center
			// background: red
			display: inline-block
			height: 100%
			width: 100%
			.vocabulary-nav
				list-style: none
				margin: 0
				padding: 0
				li
					width: 100%
					background: #fff
					border-radius: 10px
					height: 60px
					padding: 10px 24px 10px 20px
					vertical-align: middle
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: space-between
					margin-bottom: 10px
					cursor: pointer
					&:hover
						box-shadow: 0 0 27px 3px rgba(55, 63, 81, 0.1)
					.li-left_vocabulary
						display: inline-block	
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						.avatar-lesson
							background-color: #f6f5f5
							border-radius: 50%
							width: 40px
							height: 40px
							text-align: center
							vertical-align: bottom
							margin: auto 0
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							justify-content: center
							align-items: flex-end
							margin-right: 20px
							position: relative
							img
								height: 40px
								max-width: 40px
						.lesson-title
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							flex-direction: column
							justify-content: space-between
							h4
								margin: 0
								display: inline-block
								color: #333333
								font-size: 15px
								font-weight: 700
								line-height: 20px
							span
								display: inline-block			
								color: #aaaaaa
								font-family: Lato
								font-size: 15px
								line-height: 20px
								margin: 0
					.li-right_vocabulary	
						width: 222px
						display: inline-block
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						align-items: center
						justify-content: space-between
						position: relative
						.percent-lock
							display: none
						.notpass
							position: absolute
							left: -10px
							color: #949aa7
							font-size: 14px
							line-height: 14px
							display: none
						span
							display: inline-block
							color: #333333
							font-size: 14px
							line-height: 14px
							margin: 0
						.progressbar-wrap
							display: inline-block
							width: 165px
							height: 11px
							margin-right: 21px
							background-color: #f6f5f5
							border-radius: 7px
							.progress-bar
								height: 100%
								background-color: #9ad341
								border-radius: 7px
				.locked
					cursor: default
					&:hover
						.notpass
							display: block		
					.li-left_vocabulary
						.avatar-lesson
							img
								filter: grayscale(100%)
						.lesson-title
							h4
								color: #cccccc
							span
								color: #cccccc
					.li-right_vocabulary
						.percent
							display: none
						.percent-lock
							color: #949aa7
							font-size: 18px
							line-height: 18px
							text-transform: uppercase
							display: block
							position: absolute
							right: 0
						.progressbar-wrap
							display: none
#my-account-container
	.right-content
		.main-content
			.right-right-content
				.self-sudy-directive	
					padding: 0
					border: none
					border-radius: 3px
					.vocabulary-right
						background: #fff	
						display: inline-block
						height: 100%
						width: 100%	
						text-align: left
						.vocabulary-right_item
							border-bottom: 1px solid #e8e8e8
							padding: 18px 20px
							span
								display: block
							h3
								color: #333333
								font-size: 16px
								font-weight: 700
								line-height: 16px
								margin: 0
						.succes-wrap
							position: relative
							.circle-progress
								text-align: center
								width: 115px
								position: relative
								margin: 12px auto 12px auto
								.circle-percent
									position: absolute
									top: 40%
									left: 35%
									color: #949aa7
									font-size: 22px
									font-weight: 700
									line-height: 22px
							span
								text-align: center
								color: #949aa7
								font-size: 15px
								line-height: 15px
								margin: 0
						     	  
						.balance-wrap
							span
								color: #949aa7
								font-size: 23px
								font-weight: 700
								line-height: 23px
								text-align: center
								margin-top: 15px
								margin-bottom: 10px
						.cart-wrap
							span
								color: #949aa7
								font-size: 12px
								line-height: 12px
								margin: 0
								margin-top: 12px
								display: block
							a
								color: #009de4
								font-size: 12px
								line-height: 12px
								text-decoration: none
								display: inline-block
								margin-top: 7px
								display: block
							.button-checkout
								margin-top: 10px
								padding: 10px 20px
								margin-bottom: 5px
						.brain-tournament-wrap
							span
								color: #949aa7
								font-size: 12px
								line-height: 12px
								margin: 0
								margin-top: 12px
							.button_play
								margin-top: 12px
						.ratings-wrap
							.ratings-nav
								list-style: none
								padding: 0
								margin: 0
								margin-top: 9px
								li
									color: #949aa7
									font-size: 12px
									line-height: 12px
									margin-bottom: 9px
									span
										margin: 0
										position: relative
										display: inline-block
									.your-rate:after
											content: 'You'
											display: block
											position: absolute
											right: -33px
											top: -2px
											padding: 4px
											background-color: #a8d85c
											border-radius: 3px
											color: #ffffff
											font-size: 11px
											font-weight: 700
											line-height: 11px



//////////////////////////////       LEVEL     ////////////////////////////////////////

.level-center
	display: inline-block
	width: 100%
	background: #fff
	text-align: center
	padding: 34px
	min-height: 773px
	.level-center_wrap
		max-width: 450px
		display: inline-block
		.level-title
			color: #333333
			font-size: 20px
			font-weight: 700
			line-height: 20px
			text-transform: uppercase
			font-family: "Lato"
			margin: 0
		.level-descr
			color: #aaaaaa
			font-family: Lato
			font-size: 12px
			line-height: 20px
			margin: 0
			margin-top: 18px
			display: block
		.level-nav
			margin-top: 80px
			list-style: none
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: center
			flex-wrap: wrap
			padding: 0
			li
				display: inline-block
				cursor: pointer
				margin-bottom: 48px
				width: 33%
				.level-item
					position: relative
					.level-item_title
						font-size: 15px
						font-family: "Lato"
						margin: 0
						color: #333333;
						line-height: 20px
						display: block
					.level-item_descr
						color: #aaaaaa
						font-size: 12px
						line-height: 12px
						margin: 0
						margin-top: 8px
					img
						position: absolute
						top: 50%
						left: 50%
						margin-left: -34px
						margin-top: -37px
						width: 68px
						height: 68px
						border-radius: 50%
				.circle-level
					position: relative
				.lock-level
					cursor: default
					.level-item_descr
						display: none

						
.button_next-level
	margin-bottom: 45px					

lesson-progress
	display: flex
/////////////////////////            POPUP               //////////////////////////

.white-popup 
  position: relative;
  background: #FFF;
  padding: 110px;
  width: auto;
  max-width: 900px;
  margin: 20px auto;
  text-align: center
  .popup-succes-wrap
  	display: block
  	text-align: center
	  .circle-succes
	  	position: relative
	  	width: 115px
	  	height: 115px
	  	display: inline-block
	  	.circle-percent
	  		position: absolute
	  		top: 32%
	  		left: 32%
			font-size: 20px
			font-family: 'Roboto', sans-serif;
			color: #949aa7
			font-weight: 700
		.mfp-close
			color: #777777;
			font-size: 30px
			font-weight: 700
			line-height: 30px
			z-index: 20
			i
				z-index: -1
		.congrat-title
			color: #494949
			font-family: Lato
			font-size: 22px
			font-weight: 700
			margin: 0
			margin-top: 20px
			text-transform: none
		.congrat-descr
			color: #949aa7;
			font-family: Lato
			font-size: 16px
			font-weight: 400
			margin-top: 10px
			line-height: 16px
			display: block
		.button_try-again, .button_next
			margin-top: 30px
			width: 130px
		.button_next
			margin-left: 20px

.mfp-zoom-in
  .mfp-with-anim
    opacity: 0
    transition: all 0.2s ease-in-out
    transform: scale(0.6)
  &.mfp-bg
    opacity: 0
    transition: all 0.3s ease-out
  &.mfp-ready
    .mfp-with-anim
      opacity: 1
      transform: scale(1)
    &.mfp-bg
      opacity: 0.8
  &.mfp-removing
    .mfp-with-anim
      transform: scale(0.6)
      opacity: 0
    &.mfp-bg
      opacity: 0
	
////////////////////////////////////   Animation Cards       /////////////////////////////////////////////////

.content-nav-main
	position: relative
    width: 100%
	padding-top: 30px
	text-align: center
	height: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	.button-close
		color: #777777
		font-size: 20px
		font-weight: 400
		line-height: 20px
		border: none
		cursor: pointer
		position: absolute
		top: 14px
		right: 22px
		display: inline-block
		width: 24px
		height: 24px
		line-height: 24px
		text-align: center
		opacity: 0.54
		color: #000000
	.button-cards-close
		background: none!important
.content-main
	overflow: hidden
.animate-show-hide
  position: relative
  top: 0
  left: 0
  bottom: 0
  right: 0	 

  

.animate-show-hide
	&.ng-enter
    left: 20%
    opacity: 0
    transition: all 0.3s ease
    &.ng-enter-active
      left: 0
      opacity: 1  
// .animate-show-hide          
//   &.ng-leave
//     opacity: 1
//     &.ng-leave-active
//     	left: -20%
//       opacity: 0

///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////      ANIMATION LevelPage //////////////////////////////////////////////////////////
.view
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0	
  transition: 300ms


.view-wrap
	width: 72%
	position: relative
	overflow: hidden

.vocabulary-animation .view
  &.ng-enter
    left: 100%
    opacity: 0
    margin-top: 0
    &.ng-enter-active
      left: 0%
      opacity: 1
  &.ng-leave
    left: 0%
    opacity: 1
    &.ng-leave-active
      left: -100%
      opacity: 0
//////////////////////////////////   AFTER SETUP /////////////////////////////////////////
body 
	#my-account-container 
		.right-content 
			.main-content 
				.left-left-content
					height: 100%


@import "media" // Всегда в конце
