﻿@model IEnumerable<Domain.Entities.HelpersEntity.MyStudentsView>
@{
    Layout = null;
}
<div class="students-tab-wrap">
    <table dt-options="dtOptions" dt-instance="dtInstance" datatable="" id="mystudents" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
               data-info = "@Resources.Resource.showingstart"  data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
        <thead>
        <tr>
            <th>@Resources.Resource.studentsname</th>
            <th>@Resources.Resource.LEVEL</th>
            <th>@Resources.Resource.Learning</th>
            <th>@Resources.Resource.lastclass</th>
            <th>@Resources.Resource.attendance</th>
            <th>@Resources.Resource.classes</th>
            <th>@Resources.Resource.Message</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>0
                <td><img src="@item.ProfilePicture" /> @item.Name</td>
                <td>@item.Level</td>
                <td>@item.ILearn</td>
                <td>@(item.LastClass?.ToString("dd.MM.yyyy"))</td>
                <td>@item.Attendance</td>
                <td>@item.Classes</td>
                <td><a ng-click="goTo('/chat', $event);" data-clientid="@item.Id" class="send-msg">@Resources.Resource.SendMessage <i class="fa fa-comments-o" aria-hidden="true"></i></a></td>
            </tr>
        }
        </tbody>
    </table>
    </div>

