﻿@{
    Layout = null;
}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
<section class="admin teacher-profile company-info discount-wrap">

    <div class="content-wrap">
        <div class="bgc-content-wrap ft clearfix">
            <div class="col-xs-12 table-mobile-wrap">
                <!-- Button trigger modal -->
                <button ng-click="onAddNewDiscountClick()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Add new Discount
                </button>
                <table dt-instance="dtInstance" datatable="ng" dt-options="dtOptions" class="table-bordered table-discount" id="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Number</th>
                            <th>Type</th>
                            <th>Is Percent</th>
                            <th>Value (% / EUR)</th>
                            <th>Date Start</th>
                            <th>Date End</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="discount in discounts">
                            <td>{{discount.Id}}</td>
                            <td>{{discount.Number}}</td>
                            <td>{{discount.Type}}</td>
                            <td>{{discount.IsPercent?'Yes':'No'}}</td>
                            <td>{{discount.Value}}</td>
                            <td>{{getCorrectDate(discount.PeriodAccessStart)}}</td>
                            <td>{{getCorrectDate(discount.PeriodAccessEnd)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade discount-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">New Modal</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="form1">
                        <div class="form-group">
                            <label class="radio-inline"><input checked="checked" ng-model="newDiscount.type" type="radio" value="Packages" name="type">Package</label>
                            <label class="radio-inline"><input type="radio" ng-model="newDiscount.type" value="Membership" name="type">Membership</label>
                        </div>
                        <div class="form-group">
                            <label for="percent">Discount value</label>
                            @*<input type="radio" ng-model="newDiscount.isPercent" class="form-control">*@
                            <label class="radio-inline"><input type="radio" checked="checked" ng-model="newDiscount.isPercent"  value="true" name="isPercent">In percent (%)</label>
                            <label class="radio-inline"><input type="radio" ng-model="newDiscount.isPercent" value="false" name="isPercent">In euro (€)</label>
                            @*@Html.CheckBoxFor(x => model.IsPercent, new { @class = "form-control", @id = "percent" })*@
                        </div>
                        <div class="form-group">
                            <label for="value">Value:</label>
                            <input ng-model="newDiscount.value" class="form-control" />
                            @*@Html.TextBoxFor(x => model.Value, new { @class = "form-control", @id = "value" })
                                @Html.ValidationMessageFor(x => model.Value)*@
                        </div>
                        <div class="form-group">
                            <label for="startdate">Start Date:</label>
                            <input id="startdate" ng-model="newDiscount.dateStart" class="form-control datepicker" />
                            @*@Html.TextBoxFor(x => model.DateStart, new { @class = "form-control datepicker", @id = "startdate" })
                                Html.ValidationMessageFor(x => model.DateStart)*@
                        </div>
                        <div class="form-group">
                            <label for="enddate">End Date:</label>
                            <input id="enddate" ng-model="newDiscount.dateEnd" class="form-control datepicker" />
                            @*@Html.TextBoxFor(x => model.DateEnd, new { @class = "form-control datepicker", @id = "enddate" })
                                @Html.ValidationMessageFor(x => model.DateEnd)*@
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal" >Save</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
