﻿@*@{
  Layout = null;
  string ck = "";
  var responseCookie = Response.Cookies.AllKeys.FirstOrDefault(x => x == "lang");
  var requestCookie = Request.Cookies.AllKeys.FirstOrDefault(x => x == "lang");
  if (responseCookie == null && requestCookie == null)
  {
    ck = "en";
  }
  else if (responseCookie != null)
  {
    ck = Response.Cookies.Get("lang").Value;
  }
  else
  {
    ck = Request.Cookies.Get("lang").Value;
  }
}
<style>
  .dropdown.flags-wrap {
    position: fixed;
    left: 75px;
    bottom: 75px;
  }

  .dropdown .dropdown-menu {
    min-width: 0;
  }
</style>
<div class="dropdown flags-wrap main-area">
  <span class="dropdown-toggle unPreload" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="display: inline-block; background-color: #fff; border-radius: 100px; cursor: pointer">
    @if (ck == "en")
    {
      <img style="width: 60px; height: 60px; margin: -2px;" src="~/img/circleFlags/if_Flag_of_United_Kingdom_96354.png">
    }
    @if (ck == "es")
    {
      <img style="width: 60px; height: 60px; margin: -2px;" src="~/img/circleFlags/if_Flag_of_Spain_96317 (1).png">
    }
    @if (ck == "fr")
    {
      <img style="width: 60px; height: 60px; margin: -2px;" src="~/img/circleFlags/if_Flag_of_France_96147.png">
    }
    @if (ck == "de")
    {
      <img style="width: 60px; height: 60px; margin: -2px;" src="~/img/circleFlags/if_Flag_of_Germany_96145.png">
    }
  </span>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="background-color: transparent; box-shadow: none; border: none; left: 5px; top: auto; bottom: 100%;cursor: pointer">
    <li data-lang="en" class="js-lang" data-check="English" style="width: 50px; background-color: #fff; border-radius: 100px; margin-bottom: 5px" class="en unPreload"><img style="width: 50px; height: 50px;" src="~/img/circleFlags/if_Flag_of_United_Kingdom_96354.png" /></li>

    <li data-lang="es" class="js-lang" data-check="Spanish" style="width: 50px;background-color: #fff; border-radius: 100px; margin-bottom: 5px;cursor: pointer" class="es unPreload"><img style="width: 50px; height: 50px;" src="~/img/circleFlags/if_Flag_of_Spain_96317 (1).png" /></li>


    <li data-lang="fr" class="js-lang" data-check="French" style="width: 50px;background-color: #fff; border-radius: 100px; margin-bottom: 5px;cursor: pointer" class="fr unPreload">
      <img style="width: 50px; height: 50px;" src="~/img/circleFlags/if_Flag_of_France_96147.png" />
    </li>
    <li data-lang="de" class="js-lang" data-check="German" style="width: 50px;background-color: #fff; border-radius: 100px; margin-bottom: 5px;cursor: pointer" class="de unPreload">
      <img style="width: 50px; height: 50px;" src="~/img/circleFlags/if_Flag_of_Germany_96145.png" />
    </li>

  </ul>
</div>*@