<section class="sect-wrap sect-formula">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="title">@Resources.Resource.ALANGUAGESCHOOLBUILTFORYOU</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
                <div class="formula-item formula-item1">
                    <div class="image-wrap">
                        <img class="hidden-xs visible-sm visible-md visible-lg" src="~/Images/formula2_4.jpg" />
                    </div>
                    <div class="description">
                        <span class="formula-title">@Resources.Resource.CustomizedLessonPlan</span>
                        <p>@Resources.Resource.Yourteacherwilltailor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
                <div class="formula-item formula-item2">
                    <div class="image-wrap">
                        <img class="hidden-xs visible-sm visible-md visible-lg" src="~/Images/formula2_3.jpg" />
                    </div>
                    <div class="description">
                        <span class="formula-title">@Resources.Resource.FlexibleScheduling</span>
                        <p>@Resources.Resource.Scheduleyourlessons</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
                <div class="formula-item formula-item3">
                    <div class="image-wrap">
                        <img class="hidden-xs visible-sm visible-md visible-lg" src="~/Images/formula2_2.jpg" />
                    </div>
                    <div class="description">
                        <span class="formula-title">@Resources.Resource.FinalCertification</span>
                        <p>@Resources.Resource.Attheendofeachlevel</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
                <div class="formula-item formula-item4">
                    <div class="image-wrap">
                        <img class="hidden-xs visible-sm visible-md visible-lg" src="~/Images/formula2_1.jpg" />
                    </div>
                    <div class="description">
                        <span class="formula-title">@Resources.Resource.OnlineTeacheingTools</span>
                        <p>@Resources.Resource.Anintuitivelearning</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="button-wrap text-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                    if (!Response.Cookies.AllKeys.Contains("isNewLandingPage") && !Request.Cookies.AllKeys.Contains("isNewLandingPage"))
                    {
                    <a href="@Url.Action(" ListOfTeachers", "ListOfTeachers" )" class="custom-button">@Resources.Resource.Createanaccount</a>
                    }
                    else
                    {
                    <div data-toggle="modal" data-target="#TellUsMore1" class="custom-button">@Resources.Resource.BookATrialLesson</div>
                    }
                    }
                    else
                    {
                    <a href="#SignIn" data-toggle="modal" class="custom-button">@Resources.Resource.Createanaccount</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>