﻿<div class="li-right_vocabulary">
    <span class="notpass">You did not pass previous lesson</span>
    <div class="progressbar-wrap">
        <div class="progress-bar" style="width: {{lessonobj.PercentSuccuss}}%">
        </div>
    </div>
    <span class="percent">{{lessonobj.PercentSuccuss}}%</span>
    <span class="percent-lock"><i class="fa fa-lock"></i></span>
</div>