﻿<div class="level-item">
    <div class="circle-level" id="level{{levelobj.Id}}">
        <span class="circle-percent">
            <img src="https://pbs.twimg.com/profile_images/890848858082824192/ZRmiS0WA_400x400.jpg" alt="{{levelobj.Name}}">
        </span>
    </div>
    <h4 class="level-item_title">{{levelobj.Name}}</h4>
    <span class="level-item_descr">Success {{levelobj.percent}}%</span>
</div>