﻿@using Microsoft.Ajax.Utilities
@using Xencore.Helpers
@model List<Domain.Entities.HelpersEntity.MonthlyEarningHelper>
@{
    ViewBag.Title = "All Transactions";
    ViewBag.Admin = "earnings";
    //var date = ViewBag.Date;
    var dt = ViewBag.Date;
}
@section Head{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
}
@*<section class="blue-bg-prof hidden-xs"></section>*@
@*<div class="row">
        <div class="col-lg-3">
            <select style="color:#333" id="month">
                @for (int i = 1; i < 13; i++)
                {
                    <option value="@i" @(dt.Month == i?"selected":"")>@(new DateTime(dt.Year, i,1).ToString("MMMM"))</option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select style="color:#333" id="year">
                @for (int i = 2017; i < 2020; i++)
                {
                    <option value="@i" @(dt.Year == i?"selected":"")>@(new DateTime(i, dt.Month, 1).ToString("yyyy"))</option>
                }
            </select>
        </div>
    </div>*@
<section class="admin teacher-profile">
    <div class="container-fluid" id="my-account-container">
        <div class="row content-wrap">
            @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminDashboardHeader.cshtml", "Admin Dashboard");}
            <div class="col-lg-10 col-md-10 right-content">
                <div class="bgc-content-wrap ft clearfix">
                    <div class="col-xs-12">
                        <table id="table">
                            <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>EMAIL</th>
                                    <th>Earning (EUR</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="@Url.Action("SeeDetails", "Attendee", new {id=item.Schedules.First().TeacherId})">@item.Schedules.First().TeacherName</a></td>
                                    <td>@item.Schedules.First().TeacherEmail</td>
                                    <td>@item.MonthlyEarnings (EUR)</td>
                                </tr>
                            }
                        </table>
                        <span class="table-count">Showing 10 of @Model.Count</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        $("#table")
            .dataTable({
                "autoWidth": true,
                "ordering": false,
                "oLanguage": {
                    "sSearch": "",
                },
                language: {
                    searchPlaceholder: "Enter information to search..."
                },
                "dom": '<"top" flp>rt<"bottom"flp>'
            });
        $('.dataTables_filter input').attr("placeholder", "Enter information to search...");
        $("#month").on("change",
            function (elem) {
                location.href = "@Url.Action("GetMonthlyEarningsForAllTeachers")" +
                    "?month=" +
                    elem.currentTarget.value +
                    "&year=" +
                    $("#year").val();
                console.log(elem.currentTarget.value);
            });
        $("#year").on("change",
            function (elem) {
                location.href = "@Url.Action("GetMonthlyEarningsForAllTeachers")" +
                    "?year=" +
                    elem.currentTarget.value +
                    "&month=" +
                    $("#month").val();
                console.log(elem.currentTarget.value);
            });
    </script>
}
