﻿@using Microsoft.Ajax.Utilities
@using Xencore.Helpers
@model IEnumerable<Domain.Entities.HelpersEntity.MonthlyEarningHelper>
@{
    Layout = null;
    //var date = ViewBag.Date;
    var dt = ViewBag.Date;
}
<section class="admin teacher-profile monthy-earn">
        <div class="content-wrap">
          <div class="bgc-content-wrap ft clearfix">
            <div class="col-xs-3">
              <select style="width: 100%" ui-select2 ng-model="model.month" class="js-select2-location">
                <option value='1'>Janaury</option>
                <option value='2'>February</option>
                <option value='3'>March</option>
                <option value='4'>April</option>
                <option value='5'>May</option>
                <option value='6'>June</option>
                <option value='7'>July</option>
                <option value='8'>August</option>
                <option value='9'>September</option>
                <option value='10'>October</option>
                <option value='11'>November</option>
                <option value='12'>December</option>
              </select>
            </div>
            <div class="col-xs-3">
              <select style="width: 100%" ui-select2 ng-model="model.year" class="js-select2-location">
                <option value='2017'>2017</option>
                <option value='2018'>2018</option>
                <option value='2019'>2019</option>
              </select>
            </div>
            <div class="col-xs-12">
              <table id="table" class="earnings-table" dt-instance="dtInstance" datatable="ng" dt-options="dtOptions">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Earning (EUR)</th>
                </tr>
                </thead>
                <tr ng-repeat="item in items">
                  <td>{{item.Schedules[0].TeacherName}}</td>
                  <td>{{item.Schedules[0].TeacherEmail}}</td>
                  <td>{{item.MonthlyEarnings}} (EUR)</td>
                </tr>
              </table>
              <span class="table-count">Showing 10 of {{items.length}}</span>
            </div>
          </div>
       </div>
</section>

