﻿@{
    ViewBag.Title = "Error 404";
    ViewBag.Description = "Page not found";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<style>
    .navbar-fixed-bottom {
        z-index: 1;
    }
    body {
        background-color: #fbfbfb;
        color: #42464d;
    }
    .error_body {
        text-align: center;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
    }
    footer {
        background-color: #fff;
    }
    .error_body img {
        width: 400px;
    }
    h1 {
        font-size: 45px !important;
        margin: 15px 0;
    }
    p {
        font-size: 22px;
    }
    p a {
        color: #00a2e7;
    }
        p a:hover {
        color: #00a2e7;
            text-decoration: none;
    }
</style>
<div class="error_body">
    <div><img src="~/img/Error_404_2017.png" /></div>
    <h1>PAGE NOT FOUND</h1>
    <p>The Page you are looking for doesn’t exist or an other error occurred. <br>
       <a href="javascript:history.back()">Go Back</a>, or head over to <a href="@Url.Action("NewLandingPage","Openlang")">Openlanguages.com</a> to choose a new direction.</p>
</div>
@section Scripts
{
    <script>
        var hh = $("header").height();
        var fh = $("footer").outerHeight();
        $("main").height($(window).height() - hh - fh);
        //if ($(document).height() <= $(window).height())
        //    $("footer").addClass("navbar-fixed-bottom");
            //var docHeight = $(window).height();
            //var footerHeight = $('footer').height();
            //var footerTop = $('footer').position().top + footerHeight;

            //if (footerTop < docHeight) {
            //    $('footer').css('margin-top', (docHeight - footerTop) + 'px');
            //}
    
    </script>
}
