﻿@{
    ViewBag.Title = "Error 404";
    ViewBag.Description = "Page not found";
    Layout = null;
}
<h1 style="color: #000">Sorry, you broke our site((</h1>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/js/jquery.cookie.js"></script>
<script>
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
        for (var it in $.cookie()) $.removeCookie(it);
        location.href = '@Url.Action("NewLandingPage","Openlang")';
    </script>
