﻿@using Domain.Entities.IdentityEntities
@model Domain.Entities.HelpersEntity.UserMetricHelper
@{
    Layout = null;
}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
    <style>
        .legend {
            color: #333;
            text-align: center;
            margin: 40px 0;
        }

            .legend span:first-child {
                color: #a1d418;
                display: block;
            }

        #table td.rw {
            background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        .datails {
            padding-left: 50px !important;
        }

        .filtering {
            text-align: center;
        }

            .filtering h1 {
                text-align: left;
                margin-left: 20px !important;
            }

        a.active {
            background-color: yellow;
        }

        .stat {
            color: #333;
        }

            .stat:first-child {
                margin-top: 50px !important;
            }

            .stat div:first-child {
                color: #a6c45e !important;
            }
    </style>
<section class="admin teacher-profile lessons-materic userMater">
    <div class="content-wrap">
        <div class="bgc-content-wrap clearfix">
            <div class="row stat marT">
                <div class="col-xs-6">Total Count Of Users</div>
                <div class="col-xs-2"><span>@Model.TotalCountUsers</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Total Count Of Student which use new system</div>
                <div class="col-xs-2"><span>@Model.UsersUsedNewSystem</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Total Count Of Teachers</div>
                <div class="col-xs-2"><span>@Model.TotalCountTeachers</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Count teachers which visible on "Find teachers" list</div>
                <div class="col-xs-2"><span>@Model.TotalActiveTeachers</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Count teachers which use new system</div>
                <div class="col-xs-2"><span>@Model.TeachersUsedNewSystem</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Count students which have positive balance</div>
                <div class="col-xs-2"><span>@Model.StudentWhichHasMoney</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Count students which did one or more transactions (PayPal/Card)</div>
                <div class="col-xs-2"><span>@Model.SsersWhichHasOneTransaction</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Count students which are Belong to companies</div>
                <div class="col-xs-2"><span>@Model.StudentsForAllCompations</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Count users from Europe</div>
                <div class="col-xs-2"><span>@Model.StudentsFromEurope</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Count users from Asia</div>
                <div class="col-xs-2"><span>@Model.StudentsFromAsia</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Count users from America</div>
                <div class="col-xs-2"><span>@Model.StudentsFromAmerica</span></div>
            </div>
            <div class="row stat">
                <div class="col-xs-6">Count users from Unknown Zone</div>
                <div class="col-xs-2"><span>@Model.StudentsUnknownTimezone</span></div>
            </div>
            <div class="row stat btn-wrap">
                <div class="col-xs-6">Sessions last 7 days (Google Metric)</div>
                <div class="col-xs-2" id="sessions"><button type="button" class="authorize">Authorize</button></div>
            </div>
            <div class="row stat btn-wrap">
                <div class="col-xs-6">Users last 7 days (Google Metric)</div>
                <div class="col-xs-2" id="users"><button type="button" class="authorize">Authorize</button></div>
            </div>
            <div class="row stat btn-wrap">
                <div class="col-xs-6">Count views of pages 7 days (Google Metric)</div>
                <div class="col-xs-2" id="views"><button type="button" class="authorize">Authorize</button></div>
            </div>
            <div class="row">
                <div class="location-group">Users are grouped by Location</div>
                <div class="col-xs-12 table-wrap">
                    <table id="table" class="table-country-user">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Count of users</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Groups.OrderByDescending(x => x.Count))
            {
                                <tr>
                                    <td>@item.Key</td>
                                    <td>@item.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="location-group">Users are grouped by LocalTime</div>
                <div class="col-xs-12  table-wrap">
                    <table id="table2" class="table-time-user">
                        <thead>
                            <tr>
                                <th>Time (minutes)</th>
                                <th>Count of users</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LocalTimeDiffirent.OrderByDescending(x => x.Count))
            {
                                <tr>
                                    <td>@item.Key</td>
                                    <td>@item.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="location-group">Students Learn</div>
                <div class="col-xs-12  table-wrap">
                    <table id="table3" class="table-learn-user">
                        <thead>
                            <tr>
                                <th>Learn</th>
                                <th>Count of students (In brackets, those who really to learn)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>English</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_us")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_us"))))
                                </td>
                            </tr>
                            <tr>
                                <td>German</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_de")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_de"))))
                                </td>
                            </tr>
                            <tr>
                                <td>French</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_fr")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_fr"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Spain</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_es")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_es"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Portuguese</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_br")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_br"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Russin</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_ru")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_ru"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Italian</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_it")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_it"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Greece</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_gr")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_gr"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Sweden</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_sw")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_sw"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Chinese</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_cn")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_cn"))))
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="location-group">Teachers Teach Learn. In brackets, those who really to learn (WITHOUT INACTIVE TEACHERS)</div>
                <div class="col-xs-12  table-wrap">
                    <table id="table4" class="table-learn-teacher">
                        <thead>
                            <tr>
                                <th>Learn</th>
                                <th>Count of teachers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>English</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_us")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_us"))))
                                </td>
                            </tr>
                            <tr>
                                <td>German</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_de")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_de"))))
                                </td>
                            </tr>
                            <tr>
                                <td>French</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_fr")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_fr"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Spain</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_es")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_es"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Portuguese</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_br")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_br"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Russin</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_ru")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_ru"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Italian</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_it")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_it"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Greece</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_gr")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_gr"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Sweden</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_sw")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_sw"))))
                                </td>
                            </tr>
                            <tr>
                                <td>Chinese</td>
                                <td>
                                    @((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.TeacherInfo == null && x.Ilearn != null && x.Ilearn.Contains("_cn")))
                                    (@((ViewBag.Users as IEnumerable<CustomUser>).Count(x => x.ScheduleTransactions.Any() && x.Active && x.TeacherInfo != null && x.Ilearn != null && x.Ilearn.Contains("_cn"))))
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.10/URI.min.js"></script>
<script>
        $(".table-country-user")
            .dataTable({
                "autoWidth": true,
                "ordering": false,
                "oLanguage": {
                    "sSearch": "",
                },
                language: {
                    searchPlaceholder: "Enter information to search..."
                },
                "dom": '<"top" lp>rt<"bottom"lp>'
            });
        $(".table-time-user")
    .dataTable({
        "autoWidth": true,
        "ordering": false,
        "oLanguage": {
            "sSearch": "",
        },
        language: {
            searchPlaceholder: "Enter information to search..."
        },
        "dom": '<"top" lp>rt<"bottom"lp>'
    });
        $(".table-learn-user")
.dataTable({
    "autoWidth": true,
    "ordering": false,
    "oLanguage": {
        "sSearch": "",
    },
    language: {
        searchPlaceholder: "Enter information to search..."
    },
    "dom": '<"top" lp>rt<"bottom"lp>'
});
        $(".table-learn-teacher")
.dataTable({
    "autoWidth": true,
    "ordering": false,
    "oLanguage": {
        "sSearch": "",
    },
    language: {
        searchPlaceholder: "Enter information to search..."
    },
    "dom": '<"top" lp>rt<"bottom"lp>'
});
        $('.dataTables_filter input').attr("placeholder", "Enter information to search...");
        $("#submit").click(function () {
            var lc = location.href;
            console.log($("#submit").val());
            lc = URI(lc).removeSearch("query").addSearch("query", $("#query").val());
            location.href = lc;
        });
        jQuery('.page-preloader-wrap-dashboard').hide();
</script>

<script src="https://apis.google.com/js/client.js?onload=authorize"></script>
