﻿@using Xencore.Extentions
<div class="page-preloader-wrap"></div>
<div class="page-wrap">
    <div class="container terms-and-conditions-page-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="top-info">
                    <h1 class="page-title">@Resources.Resource.Termsandconditions</h1>
                    <p>@Resources.Resource.Thefollowingdocument</p>
                </div>
            </div>
            <form action="@Url.Action("LastConfirm")" method="post" id="submit-contract" class="submit-contract-form">
                <div class="col-md-12">
                    <div class="company-info">
                        <ul>
                            
                            <li><b>Open Languages GmbH</b></li>
                            <li>Rossbergweg 9</li>
                            <li>8824 Schönenberg ZH</li>
                            <li>Switzerland</li>
                            <li>@Resources.Resource.hereinafterreferred</li>
                        </ul>
                    </div>
                    <span class="divider">And</span>
                    <div class="user-info">
                        <div class="form-group name-wrap">
                            <label for="name">@Resources.Resource.EnterName</label>
                            <input disabled="disabled" class="form-control" name="name" id="name" value="@User.UserName()" placeholder="Fedor Maximovichevkiy" type="text">
                        </div>
                        <div class="form-group addres-wrap">
                            <label for="addres">@Resources.Resource.EnterAddress</label>
                            <input class="form-control" name="address" id="name" placeholder="Markt 46, 3345 Göstling-Hochkar, Austria" type="text">
                        </div>
                        <div class="form-group country-wrap">
                            <label for="country">@Resources.Resource.Country</label>
                            <input disabled="disabled" class="form-control" name="country" id="name" value="@User.Location().Split(':')[0]" placeholder="Austria" type="text">
                        </div>
                        <div class="notify">(hereinafter referred to as <b>“The Teacher“</b>)</div>

                    </div>
                    @Html.Raw(Resources.Resource.MainTermsTeacher);
                    <div class="form-group check-wrap">
                        <input type="checkbox" ng-model="accept" name="contract-succsess" required="">
                        <label for="contract-succsess">@Resources.Resource.Iagreewiththeterms</label>
                    </div>
                    <div class="form-group submit-wrap">
                        <button ng-disabled="!accept" ng-click="saveCondition()" class="button">@Resources.Resource.SignmyContract</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>