﻿@{
    ViewBag.Title = "BeforeAuthoriation";
    Layout = "~/Areas/Dashboard/Views/Shared/_BeforeActivateAccount.cshtml";
}
@using Microsoft.AspNet.Identity
@using Xencore.Helpers
@model Domain.Entities.IdentityEntities.CustomUser
<div data-user-email="@User.Identity.GetUserName()" class="page-preloader-wrap"></div>
<div class="page-wrap hidden">
            <div class="form-succsess-wrap container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="description-wrpa">
                            <div class="img-wrap">
                                <img src="~/img/icon_4.png" alt="verification">
                            </div>
                            <h1>@Resources.Resource.WelcometotheTeam</h1>
                            <p>@Resources.Resource.Youwillreceivemshortly</p>
                            <a href="/" class="button">@Resources.Resource.Continue</a>
                        </div>
                    </div>
                </div>
            </div>
</div>

<ng-view class="page-animation"></ng-view>

