﻿@using Xencore.Extentions
@using Xencore.Helpers
@model Domain.Entities.IdentityEntities.CustomUser
<script>
        var user = @Html.Raw(ViewBag.User);
        var langData = @Html.Raw(ViewBag.Languages);
</script>
<div class="page-preloader-wrap"></div>
<div class="page-wrap">
    <div class="container application-page-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="top-info">
                    <h1 class="page-title">@Resources.Resource.Teacher_application</h1>
                    <p>
                        @Html.Raw(Resources.Resource.thankyouforyourinterest)
                    </p>
                </div>
            </div>
            <form action="#" method="post">
                <div class="form-wrap clearfix">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="main-info">
                            <div class="form-group upload-photo-wrap">
                                <label for="uploadPhoto">@Resources.Resource.Profile_Photo</label>
                                <div class="uploading-photo-wrap">
                                    <div style="background-image:url('{{user.profilePicture}}')" class="img-wrap unploading-photo">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <a class="upload-photo"  onclick="document.getElementById('upload-photo').click()">@Resources.Resource.ChangePhoto</a>
                                <input id="upload-photo" class="form-image hidden-xs hidden" onchange="angular.element(this).scope().uploadImage()" type="file" accept="image/*" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="main-info">
                            <div class="form-group name-wrap">
                                <label for="name">@Resources.Resource.Name</label>
                                <input class="form-control" disabled="disabled" name="name" id="name" placeholder="Name" value="@User.UserName()" type="text">
                            </div>
                        </div>
                    </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="main-info language">
                        <div id="change-language">
                            <div class="serviceMessageMain gp-style js-service text-center">
                                <span></span>
                            </div>
                            <div class="form-group custom-tags-input">
                                <label for="tags">@Resources.Resource.ITeach</label>
                                <select ui-select2 ng-model="ilearn" multiple class="js-example-tags" id="tags">
                                    @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                </select>
                            </div>
                            <div class="form-group custom-tags-input">
                                <label for="tags2">@Resources.Resource.Speak</label>
                                <select ui-select2 ng-model="ispeak" multiple class="js-example-tags" id="tags2">
                                    @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="main-info">
                        <div class="form-group name-wrap">
                            <label for="name">Skype</label>
                            <input ng-model="skype" class="form-control" name="name" id="skype" placeholder="Skype ID" value="" type="text">
                        </div>
                    </div>
                </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="main-info">
                            <div class="form-group">
                                <label>Presentation video</label>
                                <input type="text" class="form-control" id="for-url" ng-model="item.videoSrc" placeholder="https://www.youtube.com/watch?v=RKp1_HI6hvc"> @* value="{{item.videoSrc}}" *@
                                <a data-toggle="modal" data-target="#guidelines" class="static-link">Guidelines</a>
                                <iframe height="315" ng-src="{{item.videoSrc}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="main-info">
                            <div class="form-group aboutMe-wrap">
                                <label for="aboutme-description">@Resources.Resource.Aboutme</label>
                                <textarea maxlength="160" ng-model="item.videoDescription" rows="10" class="form-control" id="aboutme-description"
                                          placeholder="@Resources.Resource.Tellstudentsabout">
                                        {{item.videoDescription}}
                                </textarea>
                                <span class="sumbols-count">{{160 - item.videoDescription.length}} / 160</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="main-info">
                            <p class="payment-title">@Resources.Resource.Education <span class="required">*</span></p>
                            <div class="eduItems fords" ng-repeat="edu in educations | filter:{ Deleted: false }">
                                <div class="form-group">
                                    <label>@Resources.Resource.Title</label>
                                    <input type="text" class="form-control" placeholder="@Resources.Resource.EducationPlaceholder" ng-model="edu.Title">@*value="{{edu.Title}}" *@
                                </div>
                                <div class="form-group choice-years choice-first-year">
                                    <label for="period">@Resources.Resource.Period</label>
                                    <select ng-model="edu.PeriodFrom" ui-select2 class="js-select2-period" id="period">
                                        @for (var i = 1945; i < DateTime.Now.Year; i++)
                                        {
                                            if (i == DateTime.Now.Year)
                                            {
                                                <option value=@i selected="selected">@i</option>
                                            }
                                            else
                                            {
                                                <option value=@i>@i</option>
                                            }
                                        }
                                        <option value="2014" selected="selected">2014</option>
                                    </select>
                                </div>
                                <div class="form-group choice-years">
                                    <select ng-model="edu.PeriodTo" ui-select2 class="js-select2-period2" id="period2">
                                        @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                        {
                                            if (i == DateTime.Now.Year)
                                            {
                                                <option value="@i" selected="selected">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                        <option value="2014" selected="selected">2014</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea ckeditor="options" ng-model="edu.Description" type="text" rows="6" class="form-control"
                                              placeholder="@Resources.Resource.PeriodPlaceholder">
                                                {{edu.Description}}
                                            </textarea>
                                </div>
                                <span ng-click="deleteItem(educations, edu, $index)" class="remove-field">
                                    <i class="fa fa-times"
                                       aria-hidden="true"></i> @Resources.Resource.delete
                                </span>
                            </div>
                            <div ng-click="addItem(educations)" data-class="eduItems" data-prefix="teach-desc" class="add-new-field">
                                <i class="fa fa-plus" aria-hidden="true"></i>@Resources.Resource.Addmore
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="main-info">
                            <p class="payment-title">@Resources.Resource.WorkExperience <span class="required">*</span></p>
                            <div class="eduItems fords" ng-repeat="work in expiriences | filter:{ Deleted: false}">
                                <div class="form-group">
                                    <label>@Resources.Resource.Title</label>
                                    <input type="text" class="form-control" placeholder="@Resources.Resource.EducationPlaceholder" ng-model="work.Title">@*value="{{edu.Title}}" *@
                                </div>
                                <div class="form-group choice-years choice-first-year">
                                    <label for="period">@Resources.Resource.Period</label>
                                    <select ng-model="work.PeriodFrom" ui-select2 class="js-select2-period" id="period">
                                        @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                        {
                                            if (i == DateTime.Now.Year)
                                            {
                                                <option value=@i selected="selected">@i</option>
                                            }
                                            else
                                            {
                                                <option value=@i>@i</option>
                                            }
                                        }
                                        <option value="2014" selected="selected">2014</option>
                                    </select>
                                </div>
                                <div class="form-group choice-years">
                                    <select ng-model="work.PeriodTo" ui-select2 class="js-select2-period2" id="period2">
                                        @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                        {
                                            if (i == DateTime.Now.Year)
                                            {
                                                <option value="@i" selected="selected">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                        <option value="2014" selected="selected">2014</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea ckeditor="options" ng-model="work.Description" type="text" rows="6" class="form-control"
                                              placeholder="@Resources.Resource.PeriodPlaceholder">
                                                {{work.Description}}
                                            </textarea>
                                </div>
                                <span ng-click="deleteItem(expiriences, work, $index)" class="remove-field">
                                    <i class="fa fa-times"
                                       aria-hidden="true"></i> @Resources.Resource.delete
                                </span>
                            </div>
                            <div ng-click="addItem(expiriences)" data-class="eduItems" data-prefix="teach-desc" class="add-new-field">
                                <i class="fa fa-plus" aria-hidden="true"></i>@Resources.Resource.Addmore
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="main-info">
                            <p class="payment-title">@Resources.Resource.Certifications <span class="required">*</span></p>
                            <div class="eduItems fords" ng-repeat="cert in certifications | filter:{ Deleted: false}">
                                <div class="form-group">
                                    <label>@Resources.Resource.Title</label>
                                    <input type="text" class="form-control" placeholder="@Resources.Resource.EducationPlaceholder" ng-model="cert.Title">
                                </div>
                                <div class="form-group choice-years choice-first-year">
                                    <label for="period">@Resources.Resource.Period</label>
                                    <select ng-model="cert.PeriodFrom" ui-select2 class="js-select2-period" id="period">
                                        @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                        {
                                            if (i == DateTime.Now.Year)
                                            {
                                                <option value=@i selected="selected">@i</option>
                                            }
                                            else
                                            {
                                                <option value=@i>@i</option>
                                            }
                                        }
                                        <option value="2014" selected="selected">2014</option>
                                    </select>
                                </div>
                                <div class="form-group choice-years">
                                    <select ng-model="cert.PeriodTo" ui-select2 class="js-select2-period2" id="period2">
                                        @for (var i = 1945; i <= DateTime.Now.Year; i++)
                                        {
                                            if (i == DateTime.Now.Year)
                                            {
                                                <option value="@i" selected="selected">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                        <option value="2014" selected="selected">2014</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea ckeditor="options" ng-model="cert.Description" type="text" rows="6" class="form-control"
                                              placeholder="@Resources.Resource.PeriodPlaceholder">
                                                {{cert.Description}}
                                            </textarea>
                                </div>
                                <span ng-click="deleteItem(certifications, cert, $index)" class="remove-field">
                                    <i class="fa fa-times"
                                       aria-hidden="true"></i> @Resources.Resource.delete
                                </span>
                            </div>
                            <div ng-click="addItem(certifications)" data-class="eduItems" data-prefix="teach-desc" class="add-new-field">
                                <i class="fa fa-plus" aria-hidden="true"></i>  @Resources.Resource.Addmore
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="bottom-sumbit-wrap">
                            <div class="fields-required"><span class="required">*</span> – @Resources.Resource.requiredfield</div>
                            <a ng-click="submitForm()" class="button">@Resources.Resource.Submit <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="guidelines" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.Required</h4>
            </div>
            <div class="modal-body">
                <ul>
                    @Html.Raw(Resources.Resource.requiredParams)
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.Close</button>
            </div>
        </div>
    </div>
</div>
<div class="form-succsess-wrap container">
    <div class="row">
        <div class="col-md-12">
            <div class="description-wrpa">
                <div class="img-wrap">
                    <img src="~/img/icon_4.png" alt="verification">
                </div>
                <h1>Welcom to the Team</h1>
                <p>You will receive your onboarding manual via email shortly</p>
                <a href="/" class="button">Continue</a>
            </div>
        </div>
    </div>
</div>
</div>

