﻿<div class="page-wrap">
    <div class="container application-page-wrap">
        <img src="~/Images/Notification.jpg" />
        <h1>@Resources.Resource.NOTIFICATION</h1>
        <p>@Html.Raw(Resources.Resource.submittingyourapplication)</p>
        <div class="form-group text-center">
            <button  onclick="location.href = '@Url.Action("newlandingpage","Openlang", new { area = string.Empty})'" class="button">Ok</button>
        </div>
    </div>
</div>
