﻿<footer class="myAccount-footer" style="display:none">
    <div class="container-fluid inner-footer">
        <div class="row">
            <div class="col-sm-3">
                <p>@Resources.Resource.Company</p>
                <ul>
                    <li>@Html.ActionLink(Resources.Resource.Offices, "Offices", "Offices", new {Area= string.Empty}, new {})</li>
                    <li>@Html.ActionLink(Resources.Resource.Terms, "Terms", "PrivacyAndTerms", new { Area = string.Empty }, new { })</li>
                    <li>@Html.ActionLink(Resources.Resource.Privacy, "Privacy", "PrivacyAndTerms", new { Area = string.Empty }, new { })</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p>@Resources.Resource.JoinUs</p>
                <ul>
                    <li>@Html.ActionLink(Resources.Resource.Forteachers, "Teachers", "Forteachers", new { Area = string.Empty }, new { })</li>
                    <li>@Html.ActionLink(Resources.Resource.Contact_us, "ContactUs", "ContactUs", new { Area = string.Empty }, new { })</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p>@Resources.Resource.Info</p>
                <ul>
                    <li>@Html.ActionLink(Resources.Resource.ForEnterprises, "Bussiness", "Openlang", new { Area = string.Empty }, new { })</li>
                    <li>@Html.ActionLink(Resources.Resource.Courses, "Courses", "Courses", new { Area = string.Empty }, new { })</li>
                    <li>@Html.ActionLink("FAQ", "FAQ", "Faq", new { Area = string.Empty }, new { })</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p>@Resources.Resource.FollowUs</p>
                <ul class="footer-socials">
                    <li><a  href="https://www.facebook.com/openlanguageszh"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="http://twitter.com/openlanguagesTW"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/3598248"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/101655078254166830753/posts"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>