﻿<div class="top-header visible-md visible-sm hidden-lg visible-xs">
    <div class="row">
        <div class="col-xs-12">
            <p class="page-name-wrap" role="tab" data-target="#navigation" data-toggle="tab"><span class="page-name">{{shared.globalTitle}}</span></p>
        </div>
    </div>
</div>
