﻿@using Xencore.Extentions

@*<ul class="nav nav-sidebar admin-sidebar-wrap">
  <li class="widget-name unPreload">Navigation</li>
  <li ng-click="changePage($event, '/attendees')" ng-class="{active: isActive('/attendees')}"><i class="fa fa-user" aria-hidden="true"></i>Attendees</li>
  <li ng-click="changePage($event, '/teachers')" ng-class="{active: isActive('/teachers')}"><i class="fa fa-users" aria-hidden="true"></i>Teachers</li>
  <li ng-click="changePage($event, '/teachertracker')" ng-class="{active: isActive('/teachertracker')}"><i class="fa fa-users" aria-hidden="true"></i>Teacher Tracker</li>
  <li ng-click="changePage($event, '/discounts')" ng-class="{active: isActive('/discounts')}"><i class="fa fa-percent" aria-hidden="true"></i>Discounts</li>
  <li ng-click="changePage($event, '/payments')" ng-class="{active: isActive('/payments')}"><i class="fa fa-eur" aria-hidden="true"></i>Payments</li>
  <li ng-click="changePage($event, '/monthlyearnings')" ng-class="{active: isActive('/monthlyearnings')}"><i class="fa fa-money" aria-hidden="true"></i>Monthly earnings</li>
  <li ng-click="changePage($event, '/companies')" ng-class="{active: isActive('/companies')}"><i class="fa fa-th" aria-hidden="true"></i>Companies</li>
  <li class="noPaddingB">
    <div class="collapse-element" role="button" data-toggle="collapse" data-target="#metricSub" aria-expanded="false" aria-controls="metricSub">
      <i class="fa fa-area-chart" aria-hidden="true"></i>Metric <span class="caret prof-caret"></span>
    </div>
    <div class="collapse" id="metricSub">
      <ul class="submenu">
        <li ng-click="changePage($event,'/lessonmetric')" ng-class="{active: isActive('/lessonmetric')}">- Lessons Metric</li>
        <li ng-click="changePage($event,'/usermetric')" ng-class="{active: isActive('/usermetric')}">- Users Metric</li>
        <li ng-click="changePage($event,'/actionmetric')" ng-class="{active: isActive('/actionmetric')}">- Actions Metric</li>
      </ul>
    </div>
  </li>
  <li ng-click="changePage($event, '/chapters')" ng-class="{active: isActive('/chapters')}"><i class="fa fa-th" aria-hidden="true"></i>Chapters</li>
  <li ng-click="changePage($event, '/constructor')" ng-class="{active: isActive('/constructor')}"><i class="fa fa-th" aria-hidden="true"></i>Constructor</li>
  @*<li ng-click="changePage($event, '/sandbox')" ng-class="{active: isActive('/sandbox')}"><i class="fa fa-th" aria-hidden="true"></i>Sandbox</li>*@
  @*<li class="noPaddingB">
      <div class="collapse-element" role="button" data-toggle="collapse" data-target="#slidesSub" aria-expanded="false" aria-controls="slidesSub">
        <i class="fa fa-area-chart" aria-hidden="true"></i>Slides <span class="caret prof-caret"></span>
      </div>
      <div class="collapse" id="slidesSub">
        <ul class="submenu">
          <li ng-click="changePage($event, '/chapters')" ng-class="{active: isActive('/chapters')}">- Chapters</li>
          <li ng-click="changePage($event, '/lessons')" ng-class="{active: isActive('/lessons')}">- Lessons</li>
        </ul>
      </div>
    </li>*@
  @*<li onclick="location.href='@Url.Action("Logout", "Openlang",new {area = string.Empty})'" class="sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</li>
</ul>
<ul class="nav nav-sidebar sidebar-lang">
    <div class="dark-line"></div>
    <div class="light-line"></div>
    <li class="widget-name unPreload">Languages</li>
    <li class="flag unPreload ">
        <div class="dropdown flags-wrap">
            <span class="dropdown-toggle unPreload" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img ng-src="{{selectedLang}}" />
                <span>English <i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="en unPreload" ng-click="changeLang('en')"><img src="https://media.info/i/fl/GB.png" /><span>@Resources.Resource.English</span></li>
                @*<li ng-click="changeLang('it')"><img src="https://media.info/i/fl/IT.png"/></li>*@
                @*<li class="es unPreload" ng-click="changeLang('es')"><img src="https://media.info/i/fl/ES.png" /><span>@Resources.Resource.Spanish</span></li>
                @*<li ng-click="changeLang('pt')"><img src="https://media.info/i/fl/BR.png"/></li>*@
                @*<li ng-click="changeLang('ru')"><img src="https://media.info/i/fl/RU.png"/></li>*@
                @*<li class="fr unPreload" ng-click="changeLang('fr')"><img src="https://media.info/i/fl/FR.png" /><span>@Resources.Resource.French</span></li>
                <li class="de unPreload" ng-click="changeLang('de')"><img src="https://media.info/i/fl/DE.png" /><span>@Resources.Resource.German</span></li>
                @*<li ng-click="changeLang('zh')"><img src="https://media.info/i/fl/CN.png"/></li>*@
            @*</ul>
        </div>

    </li>
</ul>*@
