﻿@model Guid  
@*<div class="col-sm-12">
    <div class="replenish-balance-step-1">
        <div class="modal fade" id="share_modal" tabindex="-1" role="dialog"
             aria-labelledby="replenish-balance-step-1Label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">
                            @Resources.Resource.ShareReferralCode
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ttt text-center">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" data-target="#email">Email</a></li>
                                        <li><a data-toggle="tab" data-target="#sms">SMS</a></li>
                                        <li><a data-toggle="tab" data-target="#social">Social</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="email" class="tab-pane fade in active">
                                            <form name="email_form">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group email-input-wrap">
                                                            <label  for="friend_email">@Resources.Resource.Enteremailofyourfriend</label>
                                                            <input ng-required="true" ng-model="friendEmail"  type="email" id="friend_email" class="form-control" placeholder="@Resources.Resource.Enteremailofyourfriend">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div  class="form-group area-wrap">
                                                            <textarea disabled="disabled" type="text" id="friend_text" class="form-control hidden">Hi! This is {{shared.user.name}}. You can use my referral code @Model when signing up for Open Languages, and get 2 free lessons! Have a great day!</textarea>
                                                            <div  type="text" id="friend_text_div" class="form-control"> Hi! This is {{shared.user.name}}. You can use my referral code <span>@Model</span> when signing up for Open Languages, and get 2 free lessons! Have a great day!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input ng-disabled="!email_form.$valid || isLoading" type="button" ng-click="sendEmail()" class="btn btn-success" value="Send Email">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="sms" class="tab-pane fade">
                                            <form name="sms_form">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group email-input-wrap">
                                                            <label for="friend_phone">@Resources.Resource.Enterphoneofyourfriend (+79811673409)</label>
                                                            <input ng-required="true" ng-model="friendPhone"  type="text" id="friend_phone" class="form-control" placeholder="+79811658934">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div  class="form-group area-wrap">
                                                            <textarea disabled="disabled" type="text" id="friend_sms_text" class="form-control hidden">Hi! This is {{shared.user.name}}. You can use my referral code @Model when signing up for Open Languages, and get 2 free lessons! Have a great day!</textarea>
                                                            <div  type="text" id="friend_sms_text_div" class="form-control">Hi! This is {{shared.user.name}}. You can use my referral code <span>@Model</span> when signing up for Open Languages, and get 2 free lessons! Have a great day!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input ng-disabled="!sms_form.$valid || isLoading" type="button" ng-click="sendSms()" class="btn btn-success" value="Send SMS">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="social" class="tab-pane fade">
                                            <div class="social-wrap">
                                                <span class="social-name">@Resources.Resource.viasocialnetworks</span>
                                                <ul>
                                                    <li class="facebook"><a href="" style="cursor: pointer" class="hvr-fade"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                    <li class="twitter"><a href="https://twitter.com/intent/tweet?text=+'@Model'+&url=https://openlanguages.com" class="hvr-fade"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                    <li class="google">
                                                        <a class="g-interactivepost hvr-fade"
                                                           data-contenturl="https://openlanguages.com"
                                                           data-clientid="401093889198-5u5vh75501jdtqcduv54ui48vjbu2vme.apps.googleusercontent.com"
                                                           data-cookiepolicy="single_host_origin"
                                                           data-prefilltext="@Model"
                                                           data-calltoactiondeeplinkid="/pages/create" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li class="linkedin"><a class="hvr-fade" target="_blank" rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url=https://openlanguages.com&title=Teacher:+'@Model'+&summary=11&source="><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                    <li class="pinterest"><a class="hvr-fade" href="https://pinterest.com/pin/create/link/?url=https://openlanguages.com&description=https://openlanguages.com" data-pin-do="buttonPin" data-pin-custom="true"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div id="modal-refferal" class="modal">
    <div class="modal-content">
        <h4>@Resources.Resource.ShareReferralCode</h4>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-referral">
                <li class="tab col s4" ><a href="#test1" >Email</a></li>
                <li class="tab col s4"><a href="#test2" >SMS</a></li>
                <li class="tab col s4"><a href="#test3">Social</a></li>
                
            </ul>
        </div>
        <div id="test1" class="col s12 refferal-wrap">
            <form name="email_form">
                <div class="input-field input-wrapper-popup general-top-input">
                    <i class="material-icons prefix">alternate_email</i>
                    <input id="friend_text" ng-model="friendEmail" name="email" type="email">
                    <label for="friend_text">@Resources.Resource.Enteremailofyourfriend</label>

                </div>
                <div class="input-field about-textarea">
                    <label for="friend-message">Text of the message</label>
                    <textarea disabled rows="2" name="listen-answer" id="friend-message" cols="50">Hi! This is {{shared.user.name}}. You can use my referral code @Model when signing up for Open Languages, and get 2 free lessons! Have a great day!
                </textarea>
                </div>
            </form>
            <div class="general-button-save">
                <button class="waves-effect waves-light modal-close button-cancel" href="#modal-refferal">Cancel</button>
                <button id="css" data-ng-click="sendEmail()" class="waves-effect waves-light button-create bt-save" ng-disabled="!email_form.$valid || isLoading || !friendEmail">Send Email</button>
            </div>
        </div>
        <div id="test2" class="col s12 refferal-wrap">
            <form name="sms_form">
                <div class="input-field input-wrapper-popup general-top-input">
                    <i class="material-icons prefix">phone_iphone</i>
                    <input id="friend-sms" ng-model="friendSms" name="sms" type="text">
                    <label for="friend-sms">Phone number</label>
                    <span class="helper-text">Example +380956783467</span>
                </div>
                <div class="input-field about-textarea sms-textarea">
                    <label for="friend_sms_text">Text of the message</label>
                    <textarea disabled rows="2" name="listen-answer" id="friend_sms_text" cols="50">Hi! This is {{shared.user.name}}. You can use my referral code @Model when signing up for Open Languages, and get 2 free lessons! Have a great day!
                </textarea>
                </div>
            </form>
            <div class="general-button-save">
                <button class="waves-effect waves-light modal-close button-cancel" href="#modal-refferal">Cancel</button>
                <button type="button" ng-click="sendSms()" class="waves-effect waves-light button-create bt-save" ng-disabled="!sms_form.$valid || isLoading || !friendSms" type="button">Send SMS</button>
            </div>
        </div>
        <div id="test3" class="col s12 refferal-wrap">
            <span class="referral-social-title">Share your referral code via social networks</span>
            <div class="referral-social-wrap">
                <div class="referral-social-item waves-effect waves-light facebook">
                    <a href="" style="cursor: pointer" class="hvr-fade">
                        
                        <i class="fa fa-facebook-f"></i>
                    </a>
                </div>
                <div class="referral-social-item waves-effect waves-light twitter">
                    <a href="https://twitter.com/intent/tweet?text=+'@Model'+&url=https://openlanguages.com">
                        
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                <div class="referral-social-item waves-effect waves-light google">
                    <a class="g-interactivepost hvr-fade"
                       data-contenturl="https://openlanguages.com"
                       data-clientid="401093889198-5u5vh75501jdtqcduv54ui48vjbu2vme.apps.googleusercontent.com"
                       data-cookiepolicy="single_host_origin"
                       data-prefilltext="@Model"
                       data-calltoactiondeeplinkid="/pages/create" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
                <div class="referral-social-item waves-effect waves-light linkedin">
                    <a class="hvr-fade" target="_blank" rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url=https://openlanguages.com&title=Teacher:+'@Model'+&summary=11&source="><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="referral-social-item waves-effect waves-light pinterest">
                    <a class="hvr-fade" href="https://pinterest.com/pin/create/link/?url=https://openlanguages.com&description=https://openlanguages.com" data-pin-do="buttonPin" data-pin-custom="true"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    
                </div>

            </div>
            <div class="general-button-save">
                <button class="waves-effect waves-light modal-close button-cancel button-cancel-social" href="#modal-refferal">Cancel</button>
                
            </div>
        </div>
        
    </div>

</div>