﻿@model IEnumerable<Xencore.Areas.Admin.ViewModels.ResXWrapper>
    @section Head
    {
        <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
    }
<div id="screen" style="position: absolute; text-align: center; z-index: 100; width: 100%;     height: 50px;
                                      z-index: 100;
                                      background-color: rgba(355,104,0,0.4);">
    <input type="button" class="btn btn-danger save-string" style="margin-top: 8px; width: 300px;" value="Download"/>
</div>
<table id="table" style="color: black;">
    <thead>
    <tr>
        <th>
            Code
        </th>
        <th>
            English
        </th>
        <th>
            ToNative
        </th>
    </tr>
    </thead>
    @foreach (var elem in Model)
    {
        <tr>
            <td>@elem.Key</td>
            <td>@elem.EnglishValue</td>
            <td>@elem.Value</td>
        </tr>
        @*<div id="@elem.Key" class="row" style="color: black">
                <div class="col-xs-2">@elem.Key</div>
                <div class="col-xs-5">@elem.EnglishValue</div>
                <div class="col-xs-5">
                    @elem.Value
                    <textarea data-changed ="false" style="width: 100%">@elem.Value</textarea>
                </div>
            </div>*@
    }
</table>
@section Scripts
{
<script type="text/javascript">
    var tableToExcel = (function() {
          var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
          return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            window.location.href = uri + base64(format(template, ctx))
          }
        })()
</script> 
    <script src="~/js/table2excel.js"></script>
    <script>
        $(".save-string")
            .click(function () {
                tableToExcel("table", "Translate");
                //$("#table")
                //    .table2excel({
                //        name: "Worksheet Name",
                //        filename: "Translate" //do not include extension
                //    });
            });

        $(window)
            .scroll(function() {
                var header = $("header").height();
                if ($(this).scrollTop() > header) {
                    $('#screen').css({ 'position': "fixed", 'top': 0 });
                } else {
                    $('#screen').css("position", "absolute");
                }
            });
    </script>
}
