﻿@{
  Layout = null;
}
<div id="gjs">
   
    <div class="txt-red">Hello world!</div>
   

    <style>
        .txt-red {
            color: red
        }
    </style>
</div>


<script type="text/javascript">

    

  var editor = grapesjs.init({
    container : '#gjs',
    fromElement: true,
    plugins: ['gjs-blocks-basic']
  });
</script>