﻿@{
    Layout = null;
}
<div class="col-md-9">
    <div class="classes-wrap">
        <div class="row switcher">
            <div ng-class="shared.classActive?'active':''" class="col-md-6 col-sm-6 col-xs-6" ng-click="shared.classActive = true">@Resources.Resource.Upcomingclasses</div>
            <div ng-class="shared.classActive?'':'active'" class="col-md-6 col-sm-6 col-xs-6" ng-click="shared.classActive = false">@Resources.Resource.Pastclasses</div>
        </div>
        @if (User.IsInRole("Presenter"))
        {
            <div ng-if="shared.classActive" class="uncoming-classes" method="GetUpcommingClasses" list-upcommingclasses top="1000" template="GetFullUpcommingClasses">
            </div>
            <div ng-if="!shared.classActive" class="uncoming-classes" method="GetPastClasses" list-pastclasses top="1000" template="GetFullUpcommingClasses">
            </div>
        }
        else if (User.IsInRole("Company"))
        {
            <div ng-if="shared.classActive" class="uncoming-classes" method="GetUpcommingCompanyClasses" list-upcommingclasses top="1000" template="GetFullUpcommingClasses">
            </div>
            <div ng-if="!shared.classActive" class="uncoming-classes" method="GetPastClassesOfCompany" list-pastclasses top="1000" template="GetFullUpcommingClasses">
            </div>

        }
        else
        {
            <div ng-if="shared.classActive" class="uncoming-classes" method="GetUpcommingStudentClasses" list-upcommingclasses top="1000" template="GetFullUpcommingClasses">
            </div>
            <div ng-if="!shared.classActive" class="uncoming-classes" method="GetPastClassesOfStudent" list-pastclasses top="1000" template="GetFullUpcommingClasses">
            </div>
        }
    </div>
</div>