﻿@model CustomUser
@{
    ViewBag.Title = "AddAttendee";
}
<script src="~/Scripts/new/timezones.full.js"></script>
<script src="~/Scripts/new/jquery.js"></script>
<script>
    $(function () {
        $("#datetimepicker1").datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });
    });
    $(document).ready(function () {
        $('#timezone').timezones();
        $("#hiddenTimeZone").val($('#timezone').val());
        $("#hiddenLanguageCultureName").val($('#languageCultureName').val());
        $("#hiddenLevel").val($('#level').val());
    });


    function FunctionTimeZone() {
        $("#hiddenTimeZone").val($('#timezone').val());
    }
    function FunctionLanguageCultureName() {
        $("#hiddenLanguageCultureName").val($('#languageCultureName').val());
    }
    function FunctionLevel() {
        $("#hiddenLevel").val($('#level').val());
    }
</script>

@using (Html.BeginForm("Add", "Attendee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="field">
        <label class="paytxt">Name</label>
        <p>@Html.TextBoxFor(x => x.Name, new { @style = "width: 300px", @required = "required" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Email</label>
        <p>@Html.TextBoxFor(x => x.Email, new {@style = "width: 300px", @required = "required"})</p>
    </div>
    <div class="common">
        <label class="paytxt">Password</label>
        <p>@Html.TextBoxFor(x => x.PasswordHash, new { @style = "width: 300px", @required = "required", @maxlength = "10", @minlength = "6" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Profile Picture (for example "http://exmaple.com/profilepicture.jpg")</label>
        <p>@Html.TextBoxFor(x => x.ProfilePicture, new { @style = "width: 300px" })</p>
    </div>
    @*<div class="field">
            <label class="paytxt">Password</label>
            <p>@Html.TextBoxFor(x => x.Password, new { @style = "width: 300px" })</p>
        </div>*@
    <div class="field">
        <label class="paytxt">PhoneNumber (start with only '+' symbol)</label>
        <p>@Html.TextBoxFor(x => x.PhoneNumber, new { @style = "width: 300px", @required = "required" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Location (Enter only format ({Text Country}:{CODE COUNTRY} for example "Russian Federation:RU") )</label>
        <p>@Html.TextBoxFor(x => x.Location, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Currency (Enter only format ({CURRENCY CODE}:{Currency Text} for example "EUR:EURO") )</label>
        <p>@Html.TextBoxFor(x => x.Currency, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">I want to learn via</label>
        <p>@Html.TextBoxFor(x => x.Skype, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">How did you find us</label>
        <p>@Html.TextBoxFor(x => x.HowDidFind, new { @style = "width: 300px", })</p>
    </div>
    <div class="common">
        <label class="paytxt">Time Zone</label>
        <p>@Html.TextBoxFor(x => x.TimeZone, new {@style = "width: 300px",})</p>
    </div>
    <div class="field">
        <input type="submit" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated animated" value="OK" onclick="SendData()">
    </div>
}


