﻿@using Microsoft.Ajax.Utilities
@using Xencore.Helpers
@model List<Domain.Entities.IdentityEntities.CustomUser>
@{
    ViewBag.Title = "Multiple delete";
}

<h2>See All</h2>
<h3>Total Attendees: @Model.Count</h3>
<form method="POST">
    <div class="field">
        <input type="text" name="search" id="search" placeholder="Email, Name, Skype, I learn (code), I speak (code)"/>
        <button type="submit" formaction="@Url.Action("Search", "Attendee")">search</button>
        <button type="submit" formaction="@Url.Action("DeleteMultyple", "Attendee")">delete</button>
    </div>
    @Html.Hidden("delete",true)
    <table class="table-bordered">
        <tr>
            <th>#</th>
            <th>See Details</th>
            <th>Attendee Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>I learn</th>
            <th>I speak</th>
            <th>Creation Date</th>
            <th>PhoneNumber</th>
            <th>I learn via</th>
            <th>Count bought courses</th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td><input type="checkbox" name="ids" value="@item.Id"></td>
                <td>@Html.ActionLink("See Details", "SeeDetails", new { item.Id })</td>
                <td>@item.Id</td>
                <td>@item.Email</td>
                <td>@item.Name</td>
                <td>

                    @Html.Raw(Html.DrawILearnAndISpeak(item.Ilearn))
                </td>
                <td>
                    @Html.Raw(Html.DrawILearnAndISpeak(item.Ispeak))
                </td>

                <td>@item.CreationDateTime.ToString("D")</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Skype</td>
                <td>@item.PayPalPaymentTransactions.Count(x => x.Approved)</td>
            </tr>

        }
    </table>
</form>
