﻿@model MvcApplicationPostFinanceLatest.ViewModel.AttendeeDDModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm("Delete", "Attendee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(m => m.AttendeeId)
    @Html.DropDownListFor(m => m.AttendeeId, Model.Classes)
    <input type="submit" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated animated" value="Delete">
}

