﻿@model Domain.Entities.IdentityEntities.CustomUser

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit Password</h2>

<h3>@Model.Id</h3>
<h3>@Model.Email</h3>
@using (Html.BeginForm("EditPassword", "Attendee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="field">
        <label class="paytxt">Password</label>
        <p>@Html.TextBoxFor(x => x.PasswordHash, new {@style = "width: 300px"})</p>
    </div>
    <div class="field">
        <input type="submit" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated animated" value="OK" onclick="SendData()">
    </div>
}
