﻿@{
    ViewBag.Title = "Index";
}

<h2>Attendee Index</h2>

<ul>
    <li>
        @Html.ActionLink("Add", "Add")
    </li>
    <li>
        @Html.ActionLink("Delete", "Delete")
    </li>
    <li>
        @Html.ActionLink("See All", "SeeAll")
    </li>
</ul>
