﻿@using System.Globalization
@using DTO.Enums
@using Xencore.Helpers
@model Domain.Entities.IdentityEntities.CustomUser

@{
    ViewBag.Title = "SeeDetails";
    //noelia.pascual@openlanguages.com
}
<section class="admin teacher-profile">
    <div class="container-fluid" id="my-account-container">
        <div class="row content-wrap">
            @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminDashboardHeader.cshtml", "Admin Dashboard");}
            <div class="col-lg-10 col-md-10 right-content">
                <div class="bgc-content-wrap clearfix">
                    <div class="row student-info">
                        <div class="col-xs-3">
                            @*<div class="row edit-bittons">
                                <div class="col-md-2 col-xs-12">
                                    @Html.ActionLink("Change Information", "Edit", new { Model.Id })
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    <a href="@Url.Action("EditPassword", new {Model.Id})"><i class="fa fa-pencil" aria-hidden="true"></i><span>Change Password</span></a>
                                </div>
                            </div>*@
                            <div class="row image-wrap">
                                <div class="col-xs-12 text-center">
                                    <span class="property"><span class="value"><img src="{{model.ProfilePicture}}" /></span></span>
                                </div>
                                <div class="col-xs-12 text-center">
                                   <a href="#" class="btn btn-success">Send contact</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="row infoes">
                                <div class="col-xs-12">
                                    <span class="infoes-title">General information:</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">Id: </span><span class="value">{{model.Id}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">Email: </span><span class="value">{{model.Email}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">Name: </span><span class="value">{{model.Name}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">I Learn: </span><span class="value">@Html.Raw(Html.DrawILearnAndISpeak(Model.Ilearn))</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">I Speak: </span><span class="value">@Html.Raw(Html.DrawILearnAndISpeak(Model.Ispeak))</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">Location: </span><span class="value">@Model.Location</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">Currency: </span><span class="value">@Model.Currency</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">I want learn via: </span><span class="value">@Model.Skype</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">Creation Date: </span><span class="value">@Model.CreationDateTime</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">Phone Number: </span><span class="value">@Model.PhoneNumber</span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="property">Time zone: </span><span class="value">@Model.TimeZone</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <table class="table info-table" id="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Payment Date
                                        </th>
                                        <th>Amount</th>
                                        <th>Payment method</th>
                                        <th>Lesson type</th>
                                        <th>Package type</th>
                                        <th>Count lessons</th>
                                        <th>Left lessons</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var credit in Model.Credits.Where(x => x.Type != TypeLessons.Trial))
                                    {
                                        <tr>
                                            <td>@credit.StartDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                            <td>@(credit.Payment?.CurrenceAmount)</td>
                                            <td>@(credit.Payment?.PaymentMethod)</td>
                                            <td>@credit.Type.ToString()</td>
                                            <td>@credit.TypeOfPrice</td>
                                            <td>@credit.CountLessons</td>
                                            <td>@credit.LeftLessons</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 infoes">
                            <span class="infoes-title">Change password:</span>
                            <div class="form-wrap">
                                <div class="fields-wrap">
                                    <label for="password">Password</label>
                                    <input name="password" />
                                </div>
                                <div class="fields-wrap">
                                    <label for="confirm">Confirm Password</label>
                                    <input name="confirm" />
                                </div>
                                <button href="#" class="btn btn-success">Save</button>
                            </div>
                        </div>
                        <div class="col-xs-12 infoes">
                            <span class="infoes-title">Rates:</span>
                            <div class="form-wrap">
                                <div class="fields-wrap">
                                    <label for="password">Individual 45 min rate, €  </label>
                                    <input name="password" placeholder="8.00"/>
                                </div>
                                <div class="fields-wrap">
                                    <label for="confirm">Individual 60 min rate, €</label>
                                    <input name="confirm" placeholder="10.00"/>
                                </div>
                                <div class="fields-wrap">
                                    <label for="confirm">Individual group rate, €</label>
                                    <input name="confirm" placeholder="5.00"/>
                                </div>
                                <button href="#" class="btn btn-success">Save</button>
                            </div>
                            <div class="extens-info">
                                <span class="quation">What is your goal?:</span>
                                <span class="ask">No data</span>
                            </div>
                            <div class="extens-info">
                                <span class="quation">Student short introduction:</span>
                                <span class="ask">No data</span>
                            </div>
                        </div>
                        <div class="col-xs-12 infoes">
                            <span class="infoes-title">Change i teach:</span>
                            <div class="form-wrap">
                                <div class="fields-wrap">
                                    <label for="password">I teach</label>
                                    <div class="form-group custom-tags-input">
                                        <select ui-select2 ng-model="ilearn" multiple class="js-example-tags" id="tags">
                                            @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 infoes">
                            <span class="infoes-title">Change i speak:</span>
                            <div class="form-wrap">
                                <div class="fields-wrap">
                                    <label for="password">I speak</label>
                                    <div class="form-group custom-tags-input">
                                        <select ui-select2 ng-model="ilearn" multiple class="js-example-tags" id="tags">
                                            @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 infoes">
                            <div class="extens-info">
                                <span class="quation">Education:</span>
                                <span class="ask">No data</span>
                            </div>
                            <div class="extens-info">
                                <span class="quation">Work Experience:</span>
                                <span class="ask">No data</span>
                            </div>
                            <div class="extens-info">
                                <span class="quation">Certifications:</span>
                                <span class="ask">No data</span>
                            </div>
                            <div class="extens-info">
                                <span class="quation">Special skills:</span>
                                <span class="ask">No data</span>
                            </div>
                            <div class="extens-info">
                                <span class="quation">About me:</span>
                                <span class="ask">No data</span>
                            </div>
                            <div class="extens-info">
                                <span class="quation">Video:</span>
                                <span class="ask">No data</span>
                            </div>
                        </div>
                        <div class="col-xs-12 infoes">
                            <span class="infoes-title">Change video url:</span>
                            <div class="form-wrap">
                                <div class="fields-wrap">
                                    <label for="password">Link of video:</label>
                                    <iframe width="350" height="180" src="https://www.youtube.com/embed/Y4cXIyyc-L0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <button href="#" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    $(".info-table").dataTable();
    jQuery('.page-preloader-wrap-dashboard').hide();
</script>

