﻿
@{
    ViewBag.Title = "Teachers";
    Layout = "~/Views/Shared/_OpenLangMain.cshtml";
}
<div class="popup_teacher">
    <div class="teacher_app">
        <h2>@Resources.Resource.Teacher_application
            <span id="closeApp" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
        </h2>
        @using (Html.BeginForm("ApplyTeacher","Forteachers", FormMethod.Post))
        {
            <div class="first_fields">
                <div>
                    <div style="text-align: left">@Resources.Resource.Name</div>
                    <input id="Name" type="text" style="text-align: left" placeholder="@Resources.Resource.EnterYourName" name="Name"/>
                </div>

                <div style="margin-top: 10px !important" class="ch_selectLang">
                    <div>@Resources.Resource.LangWhatYouWant</div>
                    <div class="ui selection dropdown drops">
                        <input type="hidden" id="res_lang" name="Language">
                        <i class="dropdown icon"></i>
                        <div class="default text">@Resources.Resource.ChooseLang</div>
                        <div class="menu">
                            <div class="item" data-value="us">
                                <i class="us flag"></i>@Resources.Resource.English
                            </div>
                            <div class="item" data-value="fr">
                                <i class="fr flag"></i>@Resources.Resource.French
                            </div>
                            <div class="item" data-value="de">
                                <i class="de flag"></i>@Resources.Resource.German
                            </div>
                            <div class="item" data-value="gr">
                                <i class="gr flag"></i>@Resources.Resource.Greek
                            </div>
                            <div class="item" data-value="it">
                                <i class="it flag"></i>@Resources.Resource.Italian
                            </div>
                            <div class="item" data-value="br">
                                <i class="br flag"></i>@Resources.Resource.Portuguese
                            </div>
                            <div class="item" data-value="es">
                                <i class="es flag"></i>@Resources.Resource.Spanish
                            </div>
                            <div class="item" data-value="se">
                                <i class="se flag"></i>@Resources.Resource.Swedish
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 12px;">
                    <div style="margin-bottom: 9px; text-align: left">@Resources.Resource.Telephone</div>
                    <input id="tel_number" type="tel" name="Telephone" placeholder=""/>
                </div>
            </div>
            <div class="record">
                <div>@Resources.Resource.RecordTeacher <span class="linkToInstruction">@Resources.Resource.Instruction</span></div>
                <input type="text" name="Link" placeholder="https://youtube.com"/>
            </div>
            <div class="record">
                <div>@Resources.Resource.List_relevant</div>
                <textarea name="Relevant" placeholder="@Resources.Resource.Write_here"></textarea>
            </div>
            <div class="record">
                <div>
                    @Resources.Resource.List_any_additional
                </div>
                <textarea name="Additional" placeholder="@Resources.Resource.Write_here"></textarea>
            </div>
            <div class="btn">
                <input type="submit" id="submitTecherApp" value="@Resources.Resource.Submit"/>
            </div>
        }
    </div>
    <div class="instruction" style="z-index: 20">
        <h2>
            @Resources.Resource.How_do_i
            <span id="closeInstruction" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
        </h2>
        <div class="go_back"><span><i class="fa fa-long-arrow-left"></i> @Resources.Resource.Go_Back</span></div>
        <div class="info">
            <h3>@Resources.Resource.Guidelines</h3>
            <div>
                <h4>@Resources.Resource.Teach</h4>
                <p>@Resources.Resource.Teach_Text</p>
            </div>
            <div>
                <h4>@Resources.Resource.Show_your_face</h4>
                <p>@Resources.Resource.Show_your_face_text</p>
            </div>
            <div>
                <h4>@Resources.Resource.No_students</h4>
                <p>@Resources.Resource.No_students_text</p>
            </div>
            <div>
                <h4>@Resources.Resource.Use_your_webcam</h4>
                <p>@Resources.Resource.Use_your_webcam_text</p>
            </div>
            <div>
                <h4>@Resources.Resource.Good_sound</h4>
                <p>@Resources.Resource.Good_sound_text</p>
            </div>
            <div>
                <h4>@Resources.Resource.Recording</h4>
                <p>@Resources.Resource.Record_video</p>
            </div>
        </div>
    </div>
</div>
<div id="forTeacher">
    <div style="width: 100%; height: 100%; position: fixed; background: url(../../Images/openlang/teachers.jpg); background-size: cover"></div>
    <span style="cursor: pointer; z-index: 10" id="go_to_home" class="scroll_for_info">@Html.Raw(Resources.Resource.BackToHome) <i style="position: absolute; left: 0; top: 10px;" class="fa fa-chevron-left"></i></span>
    <div class="Teachers">
        <h1>@Resources.Resource.APPLY_TO_TEACH</h1>
        <div>@Resources.Resource.TeachALunguage</div>
        <table>
            <tr>
                <td>
                    <div>
                        <i class="fa fa-credit-card"></i>
                    </div>
                    <div>@Resources.Resource.PAYMENT</div>
                    <div>
                        @Resources.Resource.PAYMENTT_Text
                    </div>
                </td>
                <td>
                    <div>
                        <i class="fa fa-globe"></i>
                    </div>
                    <div>@Resources.Resource.WORK_ANYWHERE</div>
                    <div>
                        @Resources.Resource.WORK_ANYWHERE_Text
                    </div>
                </td>
                <td>
                    <div>
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div>@Resources.Resource.TEACH_ANYTIME</div>
                    <div>
                        @Resources.Resource.TEACH_ANYTIME_Text
                    </div>
                </td>
                <td>
                    <div>
                        <i class="fa fa-skyatlas"></i>
                    </div>
                    <div>@Resources.Resource.FLEXIBILITY</div>
                    <div>
                        @Resources.Resource.FLEXIBILITY_Text
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <i class="fa fa-users"></i>
                    </div>
                    <div>@Resources.Resource.COMMUNITY</div>
                    <div>
                        @Resources.Resource.COMMUNITY_text
                    </div>
                </td>
                <td>
                    <div>
                        <i class="fa fa-male"></i>
                    </div>
                    <div>@Resources.Resource.WORK_WITH_US</div>
                    <div>
                        @Resources.Resource.WORK_WITH_US_Text
                    </div>
                </td>
                <td>
                    <div>
                        <i class="fa fa-comment"></i>
                    </div>
                    <div>@Resources.Resource.NATIVE_SPEAKERS</div>
                    <div>
                        @Resources.Resource.NATIVE_SPEAKERS_Text
                    </div>
                </td>
                <td>
                    <div>
                        <i class="fa fa-skype"></i>
                    </div>
                    <div>@Resources.Resource.TOOLS</div>
                    <div>
                        @Resources.Resource.TOOLS_Text
                    </div>
                </td>
            </tr>
        </table>
        <div style="text-align: center">
            <div class="btn" id="applyFoTeachers">
                @Resources.Resource.Apply_Now
            </div>
        </div>
    </div>
    <div></div>
</div>
<script>
    $(document).ready(function() {
        var response = "@ViewBag.Response";
        if (response)
            Messager.show("Application");
    });
    var selectedLang;
    var popTecher = $(".popup_teacher");
    $("header").before(popTecher);
    $("#tel_number").intlTelInput();
    $(".ch_selectLang:not(#selLangForSing) .dropdown").dropdown({
        onChange: function(p, text, val) {
            $("#res_lang").val(val[0].textContent.replace(/[_\s]/g, ''));
        }
    });
    $(".linkToInstruction").click(function() {
        popTecher.children(".teacher_app").animate({ 'top': '-100%' }, 500).siblings(".instruction").animate({ 'top': '50%' }, 500);

    });
    $(".go_back span").click(function () {
        popTecher.children(".instruction").animate({ 'top': '-100%' }, 500).siblings(".teacher_app").animate({ 'top': '50%' }, 500);

    });
    $("#closeInstruction").click(function () {
        popTecher.children(".instruction").animate({ 'top': '-100%' }, 500, function() {
            popTecher.css("display","none");
        });
    });
    $("#applyFoTeachers").click(function() {
        if (!RegistratedUser.isInit) {
            $("#sign_up").click();
            return;
        }
        popTecher.css("display", "block").children(".teacher_app").animate({ 'top': '50%' }, 500);
    });
    GeolocationManager.init(function(location) {
        $("#tel_number").intlTelInput("selectCountry", location.code);
    });
    $("#submitTecherApp").click(function() {
        var resLang = $("#res_lang");
        var name = $("input[name='Name']#Name");
        var tel = $("input[name='Telephone']");
        var link = $("input[name='Link']");
        var relevant = $("textarea[name='Relevant']");
        var additional = $("textarea[name='Additional']");
        var flag = true;
        if (!resLang.val()) {
            $(".ui.selection.dropdown.drops").css("border-color", "red");
            flag = false;
        }
        else $(".ui.selection.dropdown.drops").css("border-color", "#ccc");

        if (!name.val()) {
            name.css("border-color", "red");
            flag = false;
        }
        else name.css("border-color", "#ccc");

        if (!tel.val()) {
            tel.css("border-color", "red");
            flag = false;
        }
        else tel.css("border-color", "#ccc");

        if (!link.val()) {
            link.css("border-color", "red");
            flag = false;
        }
        else link.css("border-color", "#ccc");

        if (!relevant.val()) {
            relevant.css("border-color", "red");
            flag = false;
        }
        else relevant.css("border-color", "#ccc");

        if (!additional.val()) {
            additional.css("border-color", "red");
            flag = false;
        }
        else additional.css("border-color", "#ccc");
        return flag;

    });
    $("#closeApp").click(function() {
        popTecher.children(".teacher_app").animate({ 'top': '-100%' }, 500, function() {
            popTecher.css("display", "none");
        });
    });
    $("#go_to_home").click(function() {
        location.href = '@Url.Action("LandingSite","Openlang")';
    });
</script>

