﻿@using System.Web.Optimization

@{
    ViewBag.Title = "Become language teacher, Apply now - OpenLanguages Online";
    ViewBag.Description = "Teach students online. Anytime. Anywhere. Read more about advantages…";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section Jsonld{
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org/",
        "@@type": "WebPage",
        "url": "http://www.openlanguages.com/for-teachers",
        "description":"Teach students online. Anytime. Anywhere. Read more about advantages…",
        "primaryImageOfPage":{
        "url":"http://www.openlanguages.com/images/teachers.jpg",
        "fileFormat":"jpg",
        "caption":"background"
        },
        "mainContentOfPage":{
        "description":"Teach students online. Anytime. Anywhere. Read more about advantages…",
        "url":"http://www.openlanguages.com/for-teachers"
        }
        }
    </script>
}
<section class="for-teachers">
    <img class="bg-img" src="~/images/teachers.jpg" alt="" />
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>@Resources.Resource.APPLY_TO_TEACH</h1>
                    <p class="description">@Resources.Resource.TeachALunguage </p>
                </div>
            </div>
            <div id="appSuccess" style="display: block !important; margin-bottom: 0 !important; line-height: 40px!important" class="serviceMessageMain js-service for-modal text-center">
                <span>@(ViewBag.Response ?? "")</span>
            </div>
            <div class="row teach-info">
                <div class="col-md-3 col-sm-6">
                    <div class="icon">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </div>
                    <h4>@Resources.Resource.PAYMENT</h4>
                    <p class="description">
                        @Resources.Resource.PAYMENTT_Text
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </div>
                    <h4>@Resources.Resource.WORK_ANYWHERE</h4>
                    <p class="description">
                        @Resources.Resource.WORK_ANYWHERE_Text
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <h4>@Resources.Resource.TEACH_ANYTIME</h4>
                    <p class="description">
                        @Resources.Resource.TEACH_ANYTIME_Text
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon">
                        <i class="fa fa-skyatlas" aria-hidden="true"></i>
                    </div>
                    <h4>@Resources.Resource.FLEXIBILITY</h4>
                    <p class="description">
                        @Resources.Resource.FLEXIBILITY_Text
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <h4>@Resources.Resource.COMMUNITY</h4>
                    <p class="description">
                        @Resources.Resource.COMMUNITY_text
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon">
                        <i class="fa fa-street-view" aria-hidden="true"></i>
                    </div>
                    <h4>@Resources.Resource.WORK_WITH_US</h4>
                    <p class="description">
                        @Resources.Resource.WORK_WITH_US_Text
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </div>
                    <h4>@Resources.Resource.NATIVE_SPEAKERS</h4>
                    <p class="description">
                        @Resources.Resource.NATIVE_SPEAKERS_Text
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon">
                        <i class="fa fa-skype" aria-hidden="true"></i>
                    </div>
                    <h4>@Resources.Resource.TOOLS</h4>
                    <p class="description">
                        @Resources.Resource.TOOLS_Text
                    </p>
                </div>
                <div class="col-sm-12">
                    <div class="button-wrap" style="text-align: center;">
                        <div class="custom-button">
                            @*<button data-toggle="modal" data-target=@(((User.Identity.IsAuthenticated && !User.IsInRole("Presenter")) || !User.Identity.IsAuthenticated)?"#forTeacher1":"")>@Resources.Resource.Apply_Now</button>*@
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <button data-toggle="modal" data-target="#TeacherApp">@Resources.Resource.Apply_Now</button>
                            }
                            else
                            {
                                <button onclick="location.href='@Url.Action("LoadMain","Main", new {area= "Dashboard"})'">@Resources.Resource.Apply_Now</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @if ((User.Identity.IsAuthenticated && !User.IsInRole("Presenter")) || !User.Identity.IsAuthenticated)
    {
        @Html.Partial("~/Views/newLayouts/Modals/_ForTeachers.cshtml")
        @Scripts.Render("~/Scripts/openalng/Geolocation")
        <script>
            $(document).ready(function () {
                var locm = new IPGeolocationManager();
                locm.init(function (region) {
                    $("#teacher-phone").intlTelInput("setCountry", region.code)
                });
            });

        </script>
        if (User.Identity.IsAuthenticated)
        {
            <script>
                var post = document.getElementById("postSignInTeach");
                post.Email.value = "@User.Identity.Name";
                post.Password.value = "00000000"
                post.ConfirmPassword.value = "00000000";
            </script>
        }
    }
    else
    {
        <script>
            $("button[data-target='']").click(function () {
                $("#appSuccess").fadeIn("slow").children().text(resource.match('you_are_teacher_now'));
                setTimeout(function () {
                    $('#appSuccess').fadeOut('slow')
                }, 3500);
            });
        
        </script>
    }
    <script>
        setTimeout(function () {
            $('#appSuccess.js-service').fadeOut('slow')
            $('#appSuccess').modal('hide')
        }, 3500);
        var forteachervalidate = $("#forTeacher").validate({
            rules: {
                Name: {
                    required: true
                },
                Language: {
                    required: true
                },
                phone: {
                    required: true
                },
                url: {
                    required: true,
                    url: true
                },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 18
                },
                confirmpass: {
                    required: true,
                    minlength: 6,
                    maxlength: 18,
                    equalTo: "#teacher-password"
                },
                email: {
                    required: true,
                    email: true,
                    remote: function () {
                        var emailData = "{'email':'" +
                                        $('#teacher-email').val() +
                                        "'}";
                        var r = {
                            url: "@Url.Action("CheckExistUserByEmail", "Openlang")",
                            type: "post",
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            cache: false,
                            data: emailData,
                            dataFilter: function (response) {
                                obj = JSON.parse(response);
                                return obj.result; //return true or false
                            }
                        };
                        return r;
                    }
                },

            },
            messages: {
                Name: { required: "@Resources.Resource.Pleaseenteryourfirstandlastname" },
                Language: { required: "@Resources.Resource.Choosethelanguagethatyouwanttoteach" },
                phone: { required: "@Resources.Resource.Addyourphone" },
                url: { required: "@Resources.Resource.PleaseenteryourvideoURL", url: '@Resources.Resource.Entervalidurl' },

                email: {
                    required: "@Resources.Resource.PlEnterEmailAddress",
                    email: "@Resources.Resource.EnterValidEmail",
                    remote: "@Resources.Resource.EmailExist"
                },
                password: {
                    required: "@Resources.Resource.ProvideValidPassword",
                    minlength: "@Resources.Resource.Yourpasswordmustbe6",
                    maxlength: "@Resources.Resource.Yourpasswordhasto18"
                },
                confirmpass: {
                    required: "@Resources.Resource.ConfirmYourPassword",
                    minlength: "@Resources.Resource.Yourpasswordmustbe6",
                    equalTo: "@Resources.Resource.EnterTheSamePassword",
                    maxlength: "@Resources.Resource.Yourpasswordhasto18"
                }
            },
            errorElement: "div",
            errorPlacement: function (error, element) {
                $(element).parents('form').find('.js-service span').append(error)
                if ($("#forTeacher .js-service").css('display') == 'none') {
                    $("#forTeacher .js-service").fadeIn("slow")
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parent().addClass("has-error").removeClass("has-success");
                if ($("#forTeacher .js-service").css('display') == 'none') {
                    $("#forTeacher .js-service").fadeIn("slow")
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parent().addClass("has-success").removeClass("has-error");

                if ($('#forTeacher .has-error').length == 0) {
                    $("#forTeacher .js-service").fadeOut('slow')
                }
            },
            submitHandler: function (e) {
                submit_application()
            }
        });
        $(document).on("change", ".for-select2", function () {
            if (!$.isEmptyObject(forteachervalidate.submitted)) {
                forteachervalidate.form();
            }
        });
        function submit_application() {
            var post = document.getElementById("postSignInTeach");
            post.Name.value = $("#teacher-name").val();
            post.Language.value = $("#teacher-lang").select2('data')[0].text.trim();
            post.Telephone.value = $("#teacher-phone").intlTelInput('getNumber');
            post.Link.value = $("#teacher-promo").val();
            post.Relevant.value = $("#teacher-about").val();
            post.Additional.value = $("#teacher-info").val();
            @if (!User.Identity.IsAuthenticated)
            {
                <text>
            post.Email.value = $("#teacher-email").val();
            post.Password.value = $("#teacher-password").val();
            post.ConfirmPassword.value = $("#teacher-confpass").val();
            </text>
            }
            post.submit();
            @*var teacherAllinfo = {
                Name: name,
                Language: language,
                Telephone: phone,
                Link: promo,
                Relevant: about,
                Additional: info
            };
            $.post("@Url.Action("ApplyTeacher", "Forteachers")", teacherAllinfo).always(function (result) {
                if (result.errors) {
                    if (Array.isArray(result.errors)) {
                        var str = "";
                        result.errors.forEach(function (elem) {
                            str += elem.ErrorMessage + "\n";
                        });
                        alert(str);
                    }
                    else
                        alert(result.errors);
                } else {
                    $('#forTeacher .js-service').fadeIn('slow')
                    $('#forTeacher .js-service').find('span').text('Your application was sent successful')
                    setTimeout(function () {
                        $('#forTeacher .js-service').fadeOut('slow')
                        $('#forTeacher1').modal('hide')
                    }, 3500);
                }
            });*@
        };



    </script>
}

