﻿
@model IEnumerable<DTO.TeachersOfStudentDto>
@{
    Layout = null;
}
<div ng-if="favorite">
    <table datatable="" dt-options="dtOptions" dt-instance="dtInstance" id="mystudents" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
               data-info = "@Resources.Resource.showingstart"  data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
        <thead>
            <tr>
                <th>@Resources.Resource.teachersname</th>
                <th>@Resources.Resource.Teach</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="@Url.Action("GetTeacherDetails","ListOfTeachers", new {id = item.Id})"><img src="@item.ProfilePicture" /> @item.Name</a></td>
                    <td>@item.Iteach</td>
                </tr>
            }
        </tbody>
    </table>
</div>
