﻿@model IEnumerable<DTO.TeachersOfStudentDto>
@{
    Layout = null;
}
<div class="col-md-9">
    <div>
        <div class="form-group teacher-btn-wrap">
            <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                <a class="button btn-ft" href="@Url.Action("ListOfTeachers", "ListOfTeachers", new {area=string.Empty}, null)">Find a teacher</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="filter"><input id="filter" class="form-control" type="checkbox" ng-model="favorite">@Resources.Resource.Favorite</label>
            </div>
        </div>
        <div class="studnts-wrap" ng-if="!favorite">
            <table datatable="" dt-options="dtOptions" dt-instance="dtInstance" id="mystudents" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
                   data-info="@Resources.Resource.showingstart" data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
                <thead>
                    <tr>
                        <th>@Resources.Resource.teachersname</th>
                        <th>@Resources.Resource.LANGUAGE</th>
                        <th>@Resources.Resource.lastclass</th>
                        <th>@Resources.Resource.nextclass</th>
                        <th>@Resources.Resource.Countlessons</th>
                        <th>@Resources.Resource.Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("GetTeacherDetails","ListOfTeachers", new {id=item.Id, area = string.Empty }, null)"><img src="@item.ProfilePicture" /> @item.Name</a></td>
                            <td>@item.Iteach</td>
                            <td>@(item.Past?.ToString("dd.MM.yyyy HH:mm"))</td>
                            <td>@(item.Next?.ToString("dd.MM.yyyy HH:mm"))</td>
                            <td>@item.Count</td>
                            <td><a ng-click="goTo('/chat', $event);" data-clientid="@item.Id" class="send-msg">@Resources.Resource.SendMessage <i class="fa fa-comments-o" aria-hidden="true"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Action("GetMyBookedTeachers", "MyTeachers")
    </div>
</div>