﻿
@{
    Layout = null;
}@*<section class="blue-bg-prof hidden-xs"></section>*@

<section class="admin teacher-profile company-info">
    <div class="content-wrap">
        <div class="bgc-content-wrap ft clearfix">
            <div class="col-xs-12">
                <!-- Button trigger modal -->
                <button ng-click="onAddNewCompanyClick()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#CompaniesModal">
                    Add new company
                </button>
                @*<button onclick="location.href = '@Url.Action("AddCompany")'" type="button" class="btn btn-success">Add Company</button>*@
                <table dt-instance="dtInstance" datatable="ng" dt-options="dtOptions" id="table" class="companies-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Creation Date</th>
                            <th>Count of Students</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="company in companies">
                            <td class="name"><a ng-href="#/companies/{{company.Id}}">{{company.Name}}</a></td>
                            <td><a href="">{{company.Email}}</a></td>
                            <td>{{getCorrectDate(company.CreationDateTime)}}</td>
                            <td>{{company.Count}}</td>
                        </tr>
                    </tbody>
                </table>
                @*<span class="table-count">Showing 10 of @Model.Count()</span>*@
            </div>
        </div>
    </div>
    <div class="modal fade discount-modal companies-modal" id="CompaniesModal" tabindex="-1" role="dialog" aria-labelledby="CompaniesModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" id="form1">
                        <div class="form-group">
                            <label for="value">Name of Company*</label>
                            <input ng-model="newCompany.name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="value">Email of Company*</label>
                            <input ng-model="newCompany.email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="value">Password*</label>
                            <input ng-model="newCompany.password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="value">Confirm Password*</label>
                            <input ng-model="newCompany.confirmPassword" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="value">Phone</label>
                            <input ng-model="newCompany.phoneNumber" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal">Add new company</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
</script>
