﻿@{ 
    Layout = null;
}
<style>
    input, div {
        color:#000!important;
    }
</style>
<div>
    <div>
        <label>($)Common rate:</label>
        <input type="text" style="color:#000" ng-model="mainRate.Rate"/>
        <input type="button" value="Save Shared Rate" ng-click="saveCommon()">
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Trial</td>
                    <td>Single</td>
                    <td>5 lessons</td>
                    <td>10 lessons</td>
                    <td>15 lessons</td>
                    <td>Update<td/>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rate in rates">
                    <td>
                        <div>{{rate.Name}}</div>
                    </td>
                    <td>
                        <div>Ind.{{rate.Trial}} $</div>
                        <div>
                            Perc.
                            <input type="text" ng-model="rate.TrialPercent" />
                        </div>
                    </td>
                    <td>
                        <div>Ind.{{rate.OneLessonRate}} $</div>
                        <div>
                            Perc.
                            <input type="text" ng-model="rate.OneLessonRatePercent" />
                        </div>
                    </td>
                    <td>
                        <div>Ind.{{rate.FiveLessonRate}} $</div>
                        <div>
                            Perc.
                            <input type="text" ng-model="rate.FiveLessonRatePercent" />
                        </div>
                    </td>
                    <td>
                        <div>Ind.{{rate.TenLessonRate}} $</div>
                        <div>
                            Perc.
                            <input type="text" ng-model="rate.TenLessonRatePercent" />
                        </div>
                    </td>
                    <td>
                        <div>Ind.{{rate.FifteenLessonRate}} $</div>
                        <div>
                            Perc.
                            <input type="text" ng-model="rate.FifteenLessonRatePercent" />
                        </div>
                    </td>
                    <td>
                        <input type="button" value="Update" ng-click="save(rate)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
