﻿@using System.Threading
@using Xencore.Extentions
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html class="html-height" lang="@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0])">
<head>
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="~/Css/style12.css?v3.1.4" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    @Styles.Render("~/Css/css")
    @Styles.Render("~/less/style?v3.1.2")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    @RenderSection("Head", false)
    @RenderSection("Jsonld", false)
    <link href="~/Content/Css/intlTelInput.css" rel="stylesheet" />
</head>
<body ng-app="myaccountmodule" class="beforeActive myAccount lang-@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0])">
    @Html.Partial("~/Views/openlang/_NewHeader.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/openlang/_NewFooter.cshtml")
    <script>
        redirect = '@Url.Action("AfterRegisterBeforeTerms", "BeforeActivationTeacherAccount")';
        routes = [];
        @if (!Request.Url.AbsolutePath.Contains("Wait", StringComparison.OrdinalIgnoreCase) && !Request.Url.AbsolutePath.Contains("Terms", StringComparison.OrdinalIgnoreCase))
        {
            @:routes = routes.concat([{ route: '/index', template: '@Url.Action("PreRegister", "BeforeActivationTeacherAccount")', controller: 'beforeactivationcontroller', header: "Teacher Application" }]);
        }
        @if (Request.Url.AbsolutePath.Contains("Terms", StringComparison.OrdinalIgnoreCase))
        {
            @:routes = routes.concat([{ route: '/terms', template: '@Url.Action("AcceptTerms", "BeforeActivationTeacherAccount")', controller: 'accepttermscontroller', header: "Terms" }]);
        }
        @if (Request.Url.AbsolutePath.Contains("Wait", StringComparison.OrdinalIgnoreCase))
        {
            @:routes = routes.concat([{  route: '/waitingconfirmation', template: '@Url.Action("Waitingconfirmation", "BeforeActivationTeacherAccount")', controller: 'waitingconfirmationcontroller', header: "Waiting confirmation" }]);
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/js/adapter.min.js"></script>
    <script src="~/Scripts/openlang/VideoChat/STUNServers.js?v2"></script>
    <script src="~/Scripts/openlang/VideoChat/Helper.js?v2"></script>
    <script src="~/Scripts/openlang/VideoChat/VideoChat.js?v2"></script>
    @Scripts.Render("~/js/Select2Angular")
    <script src="~/js/fullcalendar.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/InfrastructureForNewDesign/resources/resource.js"></script>
    <script src="~/Scripts/jquery-asPieProgress.min.js"></script>
    <script src="~/js/bootstrap-progressbar.min.js"></script>
    <script src="~/js/ckeditor-angular.js"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
    <link href="~/js/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <script src="~/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/InfrastructureForNewDesign/push.js"></script>
    <script src="~/js/animate/animate-css.js"></script>
    @Scripts.Render("~/js/Shared")
    <script>
        shared('@Url.Action("Logout", "Openlang", new {area = string.Empty})',false);
    </script>
    @Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularteacher")
    <script src="~/js/jquery.mCustomScrollbar.js"></script>
    <script src="~/js/select2/i18n/@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0]).js"></script>
    <script>


    </script>
    <script>
    $(".page-wrap .application-page-wrap .button").click(function(){
        $(".application-page-wrap").addClass("animateLeft").hide(1000);
        $(".form-succsess-wrap").show()
        $(".form-succsess-wrap").addClass("animateRight");
    })
        var userId = '@User.Identity.GetUserId()';
        var isTeacher = @User.IsInRole("Presenter").ToString().ToLower();
        var currencies = [{"Val": "EUR: Euro" }, { "Val": "USD: United States Dollar" }, { "Val": "CHF: Swiss Franc" },{"Val":"GBP: Pound Sterling"}, { "Val": "BRL: Brazilian Real" }, { "Val": "SEK: Swedish Kronal" }, { "Val": "DKK: Danish Krone" }, { "Val": "NOK: Norwegian Krone" }];
        var module = angular.module("myaccountmodule", ["ngRoute", 'ui.select2', 'notifications', 'api', 'ckeditor', 'ngAnimate', 'recorderService', 'datatables', 'ui.bootstrap']).config(function ($routeProvider, $sceDelegateProvider, $animateProvider) {
            routes.forEach(function (elem) {
                $routeProvider.when(elem.route, {
                    templateUrl: elem.template,
                    controller: elem.controller,
                });
                $routeProvider.otherwise({ redirectTo: routes[0].route });
            });
            $sceDelegateProvider.resourceUrlWhitelist([
                'self',
                '*://www.youtube.com/**',
                '*://player.vimeo.com/**',
                '*://vimeo.com/**',
            ]);
        });
        routes.forEach(function (elem) {
            module.controller(elem.controller,eval(elem.controller))
        });
        module.filter('inArray', filterarrayinarray).filter('balanceIsPositive', balanceispositive).filter("trust", ['$sce', function ($sce) {
                return function (htmlCode) {
                    return $sce.trustAsHtml(htmlCode);
                }
            }]);
    </script>
</body>
</html>
