﻿@using System.Threading
@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@using Xencore.Extentions
<!DOCTYPE html>
<html class="html-height" lang="@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0])">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="Learn German online, Learn German, German online, Learn English online, Learn English, English online, Learn French online, Learn French, French online, Learn Spanish online, Learn Spanish, Spanish online, Learn Italian online, Learn Italian, Italian online, Learn Portuguese online, Learn Portuguese, Portuguese online, Learn Chinese online, Learn Chinese, Chinese online, Learn Russian online, Learn Russian, Russian online, Learn a language online, Online language learning, Learn German in Zurich, Learn German in Berlin, Learn French in Paris, Learn Spanish in Barcelona, German, English, French, Spanish, Italian, Chinese, Portuguese, Russian, English language school, German language school, French language school, Spanish language school, online language school, language school online, online language learning, distance learning, language school, e-learning language, language teacher, English teacher, German teacher, French teacher, Spanish teacher, English teacher online, German teacher online, French teacher online, Spanish teacher online, teacher online, online language teacher, language teachers, online language course, language courses, grammar course, speaking courses" />
    <meta name="description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!">
    <meta property="og:title" content="Learn Languages Online" />
    <meta property="og:url" content="https://www.openlanguages.com/en/" />
    <meta property="og:site_name" content="Open Languages" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="966242223397117" />
    <meta property="og:image" content="https://www.openlanguages.com/Images/openlang/logo_forPDF2.jpg" />
    <meta property="og:description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!" />
    <link rel="icon" href="@Url.Content("~/Images/favicon.png")" />
    <meta name="keywords" content="Learn German online, Learn German, German online, Learn English online, Learn English, English online, Learn French online, Learn French, French online, Learn Spanish online, Learn Spanish, Spanish online, Learn Italian online, Learn Italian, Italian online, Learn Portuguese online, Learn Portuguese, Portuguese online, Learn Chinese online, Learn Chinese, Chinese online, Learn Russian online, Learn Russian, Russian online, Learn a language online, Online language learning, Learn German in Zurich, Learn German in Berlin, Learn French in Paris, Learn Spanish in Barcelona, German, English, French, Spanish, Italian, Chinese, Portuguese, Russian, English language school, German language school, French language school, Spanish language school, online language school, language school online, online language learning, distance learning, language school, e-learning language, language teacher, English teacher, German teacher, French teacher, Spanish teacher, English teacher online, German teacher online, French teacher online, Spanish teacher online, teacher online, online language teacher, language teachers, online language course, language courses, grammar course, speaking courses" />
    <meta name="description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!">
    <meta property="og:title" content="Learn Languages Online" />
    <meta property="og:url" content="https://www.openlanguages.com/en/" />
    <meta property="og:site_name" content="Open Languages" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="966242223397117" />
    <meta property="og:image" content="https://www.openlanguages.com/Images/openlang/logo_forPDF2.jpg" />
    <meta property="og:description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="~/Css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
    <link href="~/Content/Css/intlTelInput.css" rel="stylesheet" />
    <link href="~/Css/fullcalendar.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/animate/animate.css" rel="stylesheet" />
    <link href="~/Css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Css/asPieProgress.min.css" rel="stylesheet" />
    <link href="~/Css/jquery.treegrid.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Css/lf-ng-md-file-input.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <link href="~/Areas/Dashboard/sass/main.min.css" rel="stylesheet" />
    @Styles.Render("~/less/style")
    <title>Dashboard</title>
    <script type="text/javascript">
        setTimeout(function () {
            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = document.location.protocol + "//script.crazyegg.com/pages/scripts/0064/0683.js?" + Math.floor(new Date().getTime() / 3600000);
            a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
        }, 1);
    </script>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '620498961477362'); // Insert your pixel ID here.
        fbq('track', 'CompleteRegistration');
    </script>
    <noscript>
        <img height="1" width="1" style="display: none"
             src="https://www.facebook.com/tr?id=620498961477362&ev=PageView&noscript=1" />
    </noscript>
</head>
<body ng-app="myaccountmodule" class="myAccount lang-@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0])">
    <audio controls="controls" id="recMess">
        <source src="~/img/your-turn.mp3" type="audio/mpeg" />
    </audio>
    @Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/Modals/LearnMoreAboutBonusProgramm.cshtml")
    @Html.Partial("~/Areas/Dashboard/Views/RefferalProgrammDashboard/Modals/Share_modal.cshtml", Guid.Parse(User.Identity.GetUserId())) @*Вот теперь мы передали модель*@
    <div id="fpreloader">
        <div id="preloader"></div>
    </div>
    <script type="text/javascript">
        var preLoader = document.getElementById("preloader");
        function fadeOutnojquery(el) {
            el.style.opacity = 1;
            var interPreLoader = setInterval(function () {
                el.style.opacity = el.style.opacity - 0.05;
                if (el.style.opacity <= 0.05) {
                    clearInterval(interPreLoader);
                    preLoader.style.display = "none";
                }
            }, 16);
        }
        window.onload = function () {
            setTimeout(function () {
                fadeOutnojquery(preLoader);
            }, 500);
        };</script>
    <div data-user-email="@User.Identity.GetUserName()" class="container-fluid" id="my-account-container" ng-controller="myaccountpage">
        <div id="errorSharedPlace">
            <div id="title"></div>
            <span id="message"></span>
        </div>
        <div class="row content-wrap">
            <div class="">
                <nav class="top-navbar-wrapper">
                    <div class="left-navbar-header">
                        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i><span>MENU</span></a>
                        <img src="~/Images/logo-mini-top.png" alt="Open Languages" />
                        <ul class="dashboard-breadcrumbs-nav">
                            <li><a href="#">Page Title</a></li>
                            <li><a href="#">Page next</a></li>
                        </ul>

                    </div>
                    <div class="right-navbar-header">
                        <ul class="dashboard-right-nav">
                            @*<li><a href="#"><i class="material-icons">sort</i></a></li>
                                <li><a href="#"><i class="material-icons">search</i></a></li>
                                <li><a href="#"><i class="material-icons">share</i></a></li>*@

                            <li class="waves-effect waves-cyan notification-icon dropdown-trigger" data-target='dropdown-message'><a><i class="material-icons">message</i><span ng-show="shared.checkIfExistUnredAll()">{{shared.checkIfExistUnredAll()}}</span></a></li>
                            <li class="waves-effect waves-cyan notification-icon dropdown-trigger" data-target='dropdown2'><a><i class="material-icons">notifications_none</i><span ng-show="shared.notifications.length">{{shared.notifications.length}}</span></a></li>
                            <li class="waves-effect waves-cyan avatar-icon dropdown-trigger" data-target='dropdown3'><img ng-src="{{shared.user.profilePicture}}" alt="user" /></li>
                            <li class="waves-effect waves-cyan language-icon dropdown-trigger" data-target='dropdown-lang'></li>
                            <li class="waves-effect waves-cyan profile-icon dropdown-trigger" data-target='dropdown-profile'></li>

                            <ul id='dropdown-message' class='dropdown-content notification-dropdown message-dropdown'>
                                <div class="notification-title">Messages</div>
                                <div ng-show="false" class="no-notification">You don’t have any messages</div>

                                <li ng-click="shared.clickToDialog2(dialog, $event)" ng-repeat="dialog in shared.getUnreadMessagesDialogs()">
                                    <div class="notify-left">
                                        <div class="isNotRead" ng-show="true"></div>
                                        <img ng-src="{{dialog.Dialog.ProfilePicture}}" alt="member" />
                                        <div class="notify-message-wrap">
                                            <span class="notify-message-title">{{dialog.Dialog.Name}}</span>
                                            <span class="notify-message-content">{{shared.getLastMessage(dialog)}}</span>
                                        </div>
                                    </div>
                                    <div class="date-notify">{{shared.getNormalDate(dialog.Replies[0].UtcDateTime)}}</div>
                                    <i class="material-icons close-notify">close</i>

                            </ul>

                            <ul id='dropdown2' class='dropdown-content notification-dropdown'>
                                <div class="notification-title">Notifications</div>
                                <div ng-show="shared.notifications.length===0" class="no-notification">You don’t have any notifications</div>
                                <li ng-repeat="note in shared.notifications">
                                    <div class="notify-left">
                                        <i class="material-icons prefix">account_circle</i>
                                        <div class="notify-message-wrap">
                                            <span class="notify-message-title">{{note.Title}}</span>
                                            <span class="notify-message-content">{{note.Message}}</span>
                                        </div>
                                    </div>
                                    <div class="date-notify">{{shared.getNormalDate(note.CreationDate)}}</div>
                                    <i ng-click="shared.removeNotification(note)" class="material-icons close-notify">close</i>
                                </li>
                            </ul>


                            <ul id='dropdown3' class='dropdown-content notification-dropdown avatar-dropdown'>
                                <div class="notification-title">
                                    <img ng-src="{{shared.user.profilePicture}}" alt="User" />
                                    <div class="avatar-title-wrap">
                                        <p class="avatar-dropdown-title">{{shared.user.name}}</p>
                                        <p class="avatar-dropdown-subtitle">{{shared.user.email}}</p>
                                    </div>
                                </div>
                                <li class="without_border" @*id="open-profile"*@ ng-click="changePage($event,'/myprofile')">
                                    <div class="avatar-left-wrap">
                                        <i class="material-icons prefix">account_circle</i>
                                        <span class="avatar-message">My Profile</span>

                                    </div>

                                    @*<i class="material-icons avatar-next">keyboard_arrow_right</i>*@
                                </li>

                                <li onclick="location.href='@Url.Action("Logout", "Openlang",new {area = string.Empty})'">
                                    <div class="avatar-left-wrap">
                                        <i class="material-icons prefix">exit_to_app</i>
                                        <span class="avatar-message">Log out</span>

                                    </div>

                                    <i class="material-icons avatar-next"></i>
                                </li>

                                <li id="lang-choice" class="waves-effect waves-cyan">
                                    <div class="avatar-left-wrap">
                                        <i class="material-icons prefix">language</i>
                                        <span ng-class="{'hide': !checkSelectedLang('en')}" class="avatar-message">Language:&nbsp;<p>English</p></span>
                                        <span ng-class="{'hide': !checkSelectedLang('es')}" class="avatar-message">Language:&nbsp;<p>Spanish</p></span>
                                        <span ng-class="{'hide': !checkSelectedLang('de')}" class="avatar-message">Language:&nbsp;<p>German</p></span>
                                        <span ng-class="{'hide': !checkSelectedLang('fr')}" class="avatar-message">Language:&nbsp;<p>French</p></span>

                                    </div>

                                    <i class="material-icons avatar-next">keyboard_arrow_right</i>
                                </li>


                            </ul>
                            <ul id='dropdown-lang' class='dropdown-content notification-dropdown avatar-dropdown avatar-language-dropdown'>
                                <form action="/" method="post">
                                    <div id="backToLang" class="notification-title language-choice-title">
                                        <i class="material-icons avatar-next">arrow_back</i>
                                        &nbsp;&nbsp;Choose Language
                                    </div>

                                    <li class="without_border" ng-click="changeLang('en')">
                                        <label class="language-check">
                                            <input name="group1" type="radio" ng-checked="checkSelectedLang('en')" />
                                            <span>English</span>
                                        </label>
                                    </li>
                                    <li class="without_border" ng-click="changeLang('es')">
                                        <label class="language-check">
                                            <input name="group1" type="radio" ng-checked="checkSelectedLang('es')" />
                                            <span>Spanish</span>
                                        </label>
                                    </li>
                                    <li class="without_border" ng-click="changeLang('de')">
                                        <label class="language-check">
                                            <input name="group1" type="radio" ng-checked="checkSelectedLang('de')" />
                                            <span>German</span>
                                        </label>
                                    </li>
                                    <li class="without_border" ng-click="changeLang('fr')">
                                        <label class="language-check">
                                            <input name="group1" type="radio" ng-checked="checkSelectedLang('fr')" />
                                            <span>French</span>
                                        </label>
                                    </li>


                                </form>
                            </ul>

                            @*<ul id='dropdown-profile' class='dropdown-content notification-dropdown avatar-dropdown avatar-profile-dropdown'>
                                <form action="/" method="post">
                                    <div id="backToProfile" class="notification-title language-choice-title">
                                        <i class="material-icons avatar-next">arrow_back</i>
                                        &nbsp;&nbsp;My Profile
                                    </div>

                                    <li ng-click="changePage($event,'/myprofile')" class="without_border">

                                        <i class="material-icons prefix">face</i>
                                        <span class="avatar-message">@Resources.Resource.General</span>


                                    </li>
                                    <li ng-click="changePage($event,'/languages')" class="without_border">

                                        <i class="material-icons prefix">language</i>
                                        <span class="avatar-message">@Resources.Resource.Languages</span>


                                    </li>
                                    <li ng-click="changePage($event,'/changepassword')" class="without_border">

                                        <i class="material-icons prefix">lock</i>
                                        <span class="avatar-message">@Resources.Resource.Change_password</span>


                                    </li>
                                    <li ng-click="changePage($event,'/paymentreceipts')" class="without_border">

                                        <i class="material-icons prefix">payment</i>
                                        <span class="avatar-message">@Resources.Resource.Payments_received</span>


                                    </li>



                                </form>
                            </ul>*@

                        </ul>



                        <div>


                        </div>
                    </div>
                </nav>

                <ul id="slide-out" class="sidenav">
                    <div class="brand-sidebar">
                        <a data-target="slide-out" class="sidenav-close"><i class="material-icons">menu</i><span>MENU</span></a>
                        <img src="~/Images/logotype.svg" alt="Open Languages" />
                    </div>

                    <li ng-click="changePage($event, '/mylessons')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">event</i>@Resources.Resource.Schedule</a></li>
                    @*<li class="message-{{getCountMessages()}}" ng-click="changePage($event, '/chat')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">message</i>@Resources.Resource.ChatBeta<span>{{getCountMessages()}}</span></a></li>*@
                    <li ng-click="changePage($event, '/chat')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">message</i>@Resources.Resource.ChatBeta<span></span></a></li>

                    @*<ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">account_circle</i>@Resources.Resource.Profile</a>
                <div class="collapsible-body">
                    <ul>
                        <li ng-click="changePage($event,'/myprofile')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>@Resources.Resource.General</a></li>
                        <li ng-click="changePage($event,'/languages')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>@Resources.Resource.Languages</a></li>
                        <li ng-click="changePage($event,'/changepassword')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>@Resources.Resource.Change_password</a></li>

                        @if (User.IsInRole("Presenter"))
                        {
                            <li ng-click="changePage($event,'/expirience')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i> @Resources.Resource.Experience </a></li>
                            <li ng-click="changePage($event,'/photogallery')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i> @Resources.Resource.Photogallery</a></li>
                            <li ng-click="changePage($event,'/aboutme')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i> @Resources.Resource.Aboutme</a></li>
                        }


                        <li ng-click="changePage($event,'/paymentreceipts')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>@Resources.Resource.Payments_received</a></li>
                    </ul>
                </div>
            </li>
        </ul>*@
                    <li ng-click="changePage($event, '/corresponds')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">library_books</i>@Resources.Resource.Studentenquiries</a></li>
                    <li ng-click="changePage($event, '/myteachers')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">supervisor_account</i>@Resources.Resource.MyTeachers</a></li>
                    <li ng-click="changePage($event, '/myclasses')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">library_books</i>@Resources.Resource.classes.ToUpperFirstCharacter()</a></li>
                    <li ng-click="changePage($event, '/mywords')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">font_download</i>@Resources.Resource.MyWords</a></li>
                    <li class="message-{{countAss}}" ng-click="changePage($event, '/myassingments')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">create</i>@Resources.Resource.MyAssignments </a></li>
                    <li ng-click="changePage($event, '/tutorial')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">help</i>@Resources.Resource.Tutorial</a></li>

                    @if (!User.IsInRole("Presenter"))
                    {
                        <li ng-click="changePage($event, '/self-study')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">school</i>Self-Study</a></li>
                    }

                    @*<li onclick="location.href='@Url.Action("Logout", "Openlang",new {area = string.Empty})'"><a class="waves-effect waves-cyan"><i class="material-icons">exit_to_app</i>Log out</a></li>*@

                    <li><div class="divider"></div></li>
                    <li ng-click="changePage($event,'/refferal')" class="referral-program"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">show_chart</i>Referral program</a></li>
                </ul>

            </div>
            <div data-role="content" id="contentWrap" class="col-md-10 col-sm-10 col-xs-10 right-content">
                @Html.Partial("~/Areas/Dashboard/Views/Components/Header.cshtml")
                <div class="main-content">

                    @*<h1>
                            {{shared.globalTitle}}
                            <input ng-show="shared.currentPath==='/mywords'" type="button" class="custom-button btn add-new-assingment" ng-click="shared.addNewWord()" value="@Resources.Resource.Addnewword"/>
                            @if (User.IsInRole("Presenter"))
                            {
                                <input ng-show="shared.currentPath==='/myassingments'" type="button" class="custom-button btn add-new-assingment" ng-click="shared.addNewAssingment()" value="@Resources.Resource.Addassingment"/>
                            }
                        </h1>*@
                    <div class="page-preloader-wrap-dashboard"></div>
                    <div class="row">

                        <div class="left-left-content">
                            @RenderBody()
                        </div>
                        @{
                            @Html.Partial(User.IsInRole("Company") ? "~/Areas/Dashboard/Views/NewMyAccount/VidgetsForCompany.cshtml" : "~/Areas/Dashboard/Views/NewMyAccount/VidgetsForUsers.cshtml")
                        }
                    </div>
                </div>
                @Html.Partial("~/Areas/Dashboard/Views/Components/Footer.cshtml")
            </div>
        </div>

    </div>
    <script>
    @if (User.IsInRole("Company"))
    {
        @: var routes = [{ route: '/mybouget', template: '@Url.Action("Index", "Budget")', controller: 'mybudgetcontroller', header:'@Resources.Resource.MyBudget' },
        @:{ route: '/mylessons', template: '@Url.Action("GetMyLessons", "NewMyAccount")', controller: 'mylessonscompanycontroller', header: '@Html.Raw(Resources.Resource.MyLessons)' },
        @:{ route: '/mystudents', template: '@Url.Action("Index", "StudentsOfCompany")', controller: 'mystudentscompanycontroller', header: '@Html.Raw(Resources.Resource.MyStudents)' },
        @: { route: '/myclasses', template: '@Url.Action("GetMyClasses", "MyClasses")', controller: 'myclassescontroller', header: '@Resources.Resource.classes.ToUpperFirstCharacter()' },
        @:{ route: '/mytransfers', template: '@Url.Action("GetMyTransfers", "NewMyAccount")', controller: 'mytransferscompanycontroller', header: '@Html.Raw(Resources.Resource.MyTransfers)' },
        @:{ route: '/makepayment', template: '@Url.Action("MakePayment", "NewMyAccount")', controller: 'makepaymentcontroller', header: 'Payment' }
        @: ];
    }
    else
    {
        @: var routes = [{ route: '/myprofile', template: '@Url.Action("Index", "Profile")', controller: 'myprofilecontroller', header:'@Html.Raw(Resources.Resource.Profile)' },
        @: { route: '/myclasses', template: '@Url.Action("GetMyClasses", "MyClasses")', controller: 'myclassescontroller', header: '@Resources.Resource.classes.ToUpperFirstCharacter()' },
        @:{ route: '/chat/:selectedDialogId', template: '@Url.Action("GetMyChat", "NewMyAccount")', controller: 'mychatcontroller', header: '@Resources.Resource.ChatBeta' },
        @:{ route: '/chat', template: '@Url.Action("GetMyChat", "NewMyAccount")', controller: 'mychatcontroller', header: '@Resources.Resource.ChatBeta' },
        @: { route: '/changepassword', template: '@Url.Action("ChangePassword", "NewMyAccount")', controller: 'changepasswordcontroller', header: '@Html.Raw(Resources.Resource.Change_password)' },
        @: { route: '/languages', template: '@Url.Action("GetMyLanguages", "NewMyAccount")', controller: 'mylanguagescontroller', header: '@Html.Raw(Resources.Resource.Languages)' },
        @: { route: '/paymentreceipts', template: '@Url.Action("GetPaymentReceipts", "NewMyAccount")', controller: 'paymentreceiptscontroller', header: '@Html.Raw(Resources.Resource.Payments_received)' },
        @: { route: '/mywords', template: '@Url.Action("GetMyWords", "NewMyAccount")', controller: 'mywordscontroller',header: '@Html.Raw(Resources.Resource.MyWords)' },
        @: { route: '/tutorial', template: '@Url.Action("GetTutorials", "NewMyAccount")', controller: 'tutorialcontroller', header: '@Resources.Resource.Tutorial' },


        @: { route: '/refferal', template: '@Url.Action("GetRefferalPage", "RefferalProgrammDashboard")', controller: 'refferalparticiplescontroller',header: 'Refferal program' }
        @: ];

        if (User.IsInRole("Presenter"))
        {
            @:routes = routes.concat([{ route: '/aboutme', template: '@Url.Action("AboutMe", "NewMyAccount")', controller: 'aboutmecontroller', header: "@Html.Raw(Resources.Resource.Aboutme)" },
            @:{ route: '/photogallery', template: '@Url.Action("PhotoGallery", "NewMyAccount")', controller: 'photogallerycontroller', header: '@Html.Raw(Resources.Resource.Photogallery)' },
            @:{ route: '/expirience', template: '@Url.Action("GetMyExperience", "NewMyAccount")', controller: 'myexperiencecontroler', header: '@Html.Raw(Resources.Resource.Experience)' },
            @:{ route: '/mystudents', template: '@Url.Action("GetMyStudents", "MyStudents")', controller: 'mystudentscontroller', header: '@Html.Raw(Resources.Resource.MyStudents)' },
            @:{ route: '/mylessons', template: '@Url.Action("GetMyLessons", "NewMyAccount")', controller: 'mylessonscontroller', header: '@Html.Raw(Resources.Resource.MyLessons)' },
            @: { route: '/corresponds', template: '@Url.Action("GetMyCorresponds", "NewMyAccount")', controller: 'mycorrespondscontroller', header: '@Resources.Resource.Tutorial' },

            @:{ route: '/myassingments', template: '@Url.Action("GetMyAssingments", "NewMyAccount")', controller: 'myassingmentscontroller', header: '@Html.Raw(Resources.Resource.MyAssignments)' }
            @:])
        }
        else
        {
            //
            @:routes = routes.concat([{ route: '/myteachers', template: '@Url.Action("GetMyTeachers", "MyTeachers")', controller: 'myteacherscontroller', header: '@Html.Raw(Resources.Resource.MyTeachers)' },
            @:{ route: '/mylessons', template: '@Url.Action("GetMyLessons", "NewMyAccount")', controller: 'mylessonsstudentcontroller', header: '@Html.Raw(Resources.Resource.MyLessons)' },
             @:{ route: '/studenthomework', template: '@Url.Action("GetHomeworkStudentPage", "NewMyAccount")', controller: 'homeworktudentcontroller', header: 'Homework student' },
             @:{ route: '/godohomeworkcontroller/:id', template: '@Url.Action("GetDoHomework", "NewMyAccount")', controller: 'godohomeworkcontroller', header: 'Doing homework'},
            @:{ route: '/myassingments', template: '@Url.Action("GetMyAssingments", "NewMyAccount")', controller: 'myassingmentsstudentcontroller', header: '@Html.Raw(Resources.Resource.MyAssignments)' },
          @: { route: '/self-study/level/:levelId/chapter/:chapterId/lesson/:lessonName/:index/:lessonId', template: '@Url.Action("Choise", "SelfStudy")', controller: 'choisecontroller', header: '' },
        @: { route: '/self-study/level/:levelId/chapter/:chapterId', template: '@Url.Action("Vocabulary", "SelfStudy")', controller: 'vocabularycontroller', header: '' },
        @: { route: '/self-study/level/:levelId', template: '@Url.Action("Index", "SelfStudy")', controller: 'selfstudycontroller', header: '' },
        @: { route: '/self-study', template: '@Url.Action("Level", "SelfStudy")', controller: 'levelcontroller', header: '' },
            @:{ route: '/makepayment', template: '@Url.Action("MakePayment", "NewMyAccount")', controller: 'makepaymentcontroller', header: 'Payment' }]);
        }
    }

    </script>
    @*<script src="~/js/createObjectPolyfill.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @*<script src="~/js/adapter.js"></script>*@
    <script src="~/js/adapter.min.js"></script>
    <script src="~/Scripts/openlang/VideoChat/STUNServers.js?v2"></script>
    <script src="~/Scripts/openlang/VideoChat/Helper.js?v2"></script>
    <script src="~/Scripts/openlang/VideoChat/VideoChat.js?v2"></script>
    @*<script src="~/bootstrap/js/bootstrap.min.js"></script>*@
    @*<script src="~/Scripts/circle-progress.min.js"></script>*@
    @*<script src="~/js/moment.min.js"></script>
        <script src="~/js/intlTelInput.js"></script>
        <script src="~/js/fullcalendar.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @Scripts.Render("~/js/Select2Angular")
    <script src="~/js/fullcalendar.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>*@
    <script src="~/ckeditor/ckeditor.js"></script>
    @*<script src="~/js/ckeditor.js"></script>*@
    <script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/InfrastructureForNewDesign/resources/resource.js"></script>
    <script src="~/Scripts/jquery-asPieProgress.min.js"></script>
    <script src="~/js/bootstrap-progressbar.min.js"></script>
    <script src="~/js/jquery.treegrid.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>*@
    <script src="~/js/lf-ng-md-file-input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>*@
    @*<script src="~/js/AngularInfrastructure/Validations/SharedTemplateValidation.js"></script>
        <script src="~/js/AngularInfrastructure/Shared/CalendarType.js"></script>
        <script src="~/js/bootstrap-progressbar.min.js"></script>

        <script src="~/js/select2.full.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/js/Select2Angular.js"></script>*@
    <script src="~/js/ckeditor-angular.js"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
    <link href="~/js/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <script src="~/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/InfrastructureForNewDesign/push.js"></script>
    <script src="~/js/animate/animate-css.js"></script>
    <script src="~/Areas/Dashboard/js/libs/circle-progress.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    @*<script src="~/js/libs/chatScroll/jquery.nicescroll.min.js"></script>*@
    @if (User.IsInRole("Company"))
    {
        @Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularcompany")
    }
    else
    {
        @(User.IsInRole("Presenter") ? Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularteacher") : Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularstudent"))
    }
    <script src="~/js/jquery.mCustomScrollbar.js"></script>
    <script src="~/js/select2/i18n/@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0]).js"></script>
    <script src="~/Areas/Dashboard/js/AngularInfrastructure/Shared/angular-drag-drop.min.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Shared/speech.sdk.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script>
        var userId = '@User.Identity.GetUserId()';
        var isTeacher = @User.IsInRole("Presenter").ToString().ToLower();
    var currencies = [{"Val": "EUR: Euro" }, { "Val": "USD: United States Dollar" }, { "Val": "CHF: Swiss Franc" },{"Val":"GBP: Pound Sterling"}, { "Val": "BRL: Brazilian Real" }, { "Val": "SEK: Swedish Kronal" }, { "Val": "DKK: Danish Krone" }, { "Val": "NOK: Norwegian Krone" }];
        var module = angular.module("myaccountmodule", ["ngRoute", 'filearts.dragDrop', 'ui.select2', 'notifications', 'api', 'ckeditor', 'ngAnimate', 'recorderService', 'datatables', 'ui.bootstrap', 'md.data.table', 'lfNgMdFileInput']).config(function ($routeProvider, $sceDelegateProvider,$animateProvider) {
            routes.forEach(function (elem) {
                $routeProvider.when(elem.route, {
                    templateUrl: elem.template,
                    controller: elem.controller,
                });
                $routeProvider.otherwise({ redirectTo: '/mylessons' });
            });
            $sceDelegateProvider.resourceUrlWhitelist([
              'self',
              '*://www.youtube.com/**',
              '*://player.vimeo.com/**',
              '*://vimeo.com/**',
            ]);
        }).controller("myaccountpage",myaccountpage);
        routes.forEach(function (elem) {
            module.controller(elem.controller,eval(elem.controller))

        });

        module.directive('uiIntltelinput', intlTelInputAngular).directive("listUpcommingclasses", upcommingClasses)
            .directive('listPastclasses', pastClasses)
            //.directive('uiReplenisbalance', replenishBalance)
            .directive('uiPricesblock', pricesblock)
            .directive('uiMonthlyearnings', monthlyEarnings)
            .directive('uiBudgetStatistic', budgetStatistic)
            .filter('inArray', filterarrayinarray).filter('balanceIsPositive', balanceispositive).filter("trust", ['$sce', function ($sce) {
                return function (htmlCode) {
                    return $sce.trustAsHtml(htmlCode);
                }
            }]);
        @if (!User.IsInRole("Presenter"))
        {
            @:$("#progress").asPieProgress({ 'namespace': 'pie_progress', size: 75, barcolor: '#88cc49', speed: 25, trackcolor: '#4b5363' }).asPieProgress('go',  '75%');
        }
        @if (!User.IsInRole("Presenter"))
        {
            @:module.directive('uiSelfstudydirective', selfStudyRightWidget)
            @:.directive("chapterProgress", chapterProgress)
            @:.directive("lessonProgress", lessonProgress)
            @:.directive("levelProgress", levelProgress)
            @:.directive("nonDir", nonDir)
            @:.directive('choiceDir', choiceDir).directive('memoryDir', memoryDir).directive('picturesDir', picturesDir).directive('sentenceDir', sentenceDir).directive('videoDir', videoDir).directive('voiceDir', voiceDir).directive('wordsDir', wordsDir).directive('translateDir', translateDir).directive('listenDir', listenDir)
            @:.directive('statistic', statistic)
        }

    </script>
    <script>
        jQuery('#my-account-container .navigation ul li:not(".unPreload")').click(function () {
            if (!jQuery(this).hasClass('active')) {
                jQuery('.page-preloader-wrap-dashboard').show();
            }
        })
        jQuery("#my-account-container .navigation ul li#general-info .collapse-element").click(function () {

            if (jQuery("#myProfile-page").is(":visible")) {
                setTimeout(function () {
                    var dropDownH = jQuery("#contentWrap").height() - 370
                    jQuery("#contentWrap").css("min-height", dropDownH)
                }, 500);
            } else {
                var dropDownH = 370 + jQuery("#contentWrap").height()
                jQuery("#contentWrap").css("min-height", dropDownH)
            }
        })

    </script>
    <script src="~/Scripts/GoogleAnalytics.js"></script>
    <script type="text/javascript">
        adroll_adv_id = "H3S2CR5ECBB55MYEWJA7C2";
        adroll_pix_id = "GV537S3N75CVFJTSXVCIU4";
        (function () {
            var _onload = function () {
                if (document.readyState && !/loaded|complete/.test(document.readyState)) { setTimeout(_onload, 10); return }
                if (!window.__adroll_loaded) { __adroll_loaded = true; setTimeout(_onload, 50); return }
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) { window.addEventListener('load', _onload, false); }
            else { window.attachEvent('onload', _onload) }
        }());




        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);

        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);

        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);

        $('.notification-icon').dropdown({

            closeOnClick: false,

        }
        );


        $("#lang-choice").click(function () {

            $('.language-icon').dropdown('open');

        });
        $("#open-profile").click(function () {

            $('.profile-icon').dropdown('open');
        });
        $("#backToLang").click(function () {

            $('.avatar-icon').dropdown('open');
        });
        $("#backToProfile").click(function () {

            $('.avatar-icon').dropdown('open');
        });

    </script>
</body>
</html>

