﻿@using System.Threading
@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@using Xencore.Extentions
<!DOCTYPE html>
<html class="html-height" lang="@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0])">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="keywords" content="Learn German online, Learn German, German online, Learn English online, Learn English, English online, Learn French online, Learn French, French online, Learn Spanish online, Learn Spanish, Spanish online, Learn Italian online, Learn Italian, Italian online, Learn Portuguese online, Learn Portuguese, Portuguese online, Learn Chinese online, Learn Chinese, Chinese online, Learn Russian online, Learn Russian, Russian online, Learn a language online, Online language learning, Learn German in Zurich, Learn German in Berlin, Learn French in Paris, Learn Spanish in Barcelona, German, English, French, Spanish, Italian, Chinese, Portuguese, Russian, English language school, German language school, French language school, Spanish language school, online language school, language school online, online language learning, distance learning, language school, e-learning language, language teacher, English teacher, German teacher, French teacher, Spanish teacher, English teacher online, German teacher online, French teacher online, Spanish teacher online, teacher online, online language teacher, language teachers, online language course, language courses, grammar course, speaking courses"/>
    <meta name="description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!">
    <meta property="og:title" content="Learn Languages Online"/>
    <meta property="og:url" content="https://www.openlanguages.com/en/"/>
    <meta property="og:site_name" content="Open Languages"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="966242223397117"/>
    <meta property="og:image" content="https://www.openlanguages.com/Images/openlang/logo_forPDF2.jpg"/>
    <meta property="og:description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!"/>
    <link rel="icon" href="@Url.Content("~/Images/favicon.png")"/>
    <meta name="keywords" content="Learn German online, Learn German, German online, Learn English online, Learn English, English online, Learn French online, Learn French, French online, Learn Spanish online, Learn Spanish, Spanish online, Learn Italian online, Learn Italian, Italian online, Learn Portuguese online, Learn Portuguese, Portuguese online, Learn Chinese online, Learn Chinese, Chinese online, Learn Russian online, Learn Russian, Russian online, Learn a language online, Online language learning, Learn German in Zurich, Learn German in Berlin, Learn French in Paris, Learn Spanish in Barcelona, German, English, French, Spanish, Italian, Chinese, Portuguese, Russian, English language school, German language school, French language school, Spanish language school, online language school, language school online, online language learning, distance learning, language school, e-learning language, language teacher, English teacher, German teacher, French teacher, Spanish teacher, English teacher online, German teacher online, French teacher online, Spanish teacher online, teacher online, online language teacher, language teachers, online language course, language courses, grammar course, speaking courses"/>
    <meta name="description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!">
    <meta property="og:title" content="Learn Languages Online"/>
    <meta property="og:url" content="https://www.openlanguages.com/en/"/>
    <meta property="og:site_name" content="Open Languages"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="966242223397117"/>
    <meta property="og:image" content="https://www.openlanguages.com/Images/openlang/logo_forPDF2.jpg"/>
    <meta property="og:description" content="Learn a language online with native speaking teachers. It’s easy! Our online language courses are available 24/7 from the comfort of your home or from anywhere, you choose!"/>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="~/Css/select2.min.css" rel="stylesheet"/>
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Content/Css/intlTelInput.css" rel="stylesheet"/>
    <link href="~/Css/fullcalendar.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/js/animate/animate.css" rel="stylesheet"  />
    <link href="~/Css/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
    <link href="~/Css/asPieProgress.min.css" rel="stylesheet"/>
    @Styles.Render("~/less/style")
    <title>Dashboard</title>
    <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0064/0683.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '620498961477362'); // Insert your pixel ID here.
        fbq('track', 'CompleteRegistration');
    </script>
    <noscript>
        <img height="1" width="1" style="display: none"
             src="https://www.facebook.com/tr?id=620498961477362&ev=PageView&noscript=1"/>
    </noscript>
</head>
<body ng-app="myaccountmodule" class="myAccount">
    <audio  controls="controls" id="recMess">
        <source src="~/img/your-turn.mp3" type="audio/mpeg" />
    </audio>
@Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/Modals/LearnMoreAboutBonusProgramm.cshtml")

<div id="fpreloader">
    <div id="preloader"></div>
</div>
<div class="page-preloader-wrap-dashboard"></div>
<script type="text/javascript">
        var preLoader = document.getElementById("preloader");
        function fadeOutnojquery(el) {
            el.style.opacity = 1;
            var interPreLoader = setInterval(function () {
                el.style.opacity = el.style.opacity - 0.05;
                if (el.style.opacity <= 0.05) {
                    clearInterval(interPreLoader);
                    preLoader.style.display = "none";
                }
            }, 16);
        }
        window.onload = function () {
            setTimeout(function () {
                fadeOutnojquery(preLoader);
            }, 500);
        };</script>
<div class="container-fluid mobile-tempates" id="my-account-container" ng-controller="myaccountpage">
    <div id="errorSharedPlace">
        <div id="title"></div>
        <span id="message"></span>
    </div>
    <div class="tab-content">
        <div role="tabpanel" id="navigation" class="tab-pane fade col-lg-2 col-md-3 col-sm-3 col-xs-12 no-float left-side-bar">
            <div class="hidden-lg visible-md visible-sm visible-xs mobile-btn-nav">
                <div class="lg">
                    <img onclick="location.href='@Url.Action("newlandingpage", "Openlang", new {area=string.Empty})'" src="~/img/OL-logotype-250.png" />
                </div>
                <a href="" role="tab" data-toggle="tab" data-target="#main_content"><i class="fa fa-bars" aria-hidden="true"></i></a>
            </div>
            <div class="sidebar-wrapper" >
                <div class="dark-line"></div>
                <div class="light-line"></div>
                <div class="profile">


                    <div ng-switch on="shared.user.profilePicture">
                        <div ng-switch-when="/Images/openlang/user.png" class="icon-wrap">
                            <div class="user-icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <img ng-switch-default ng-src="{{shared.user.profilePicture}}" />
                    </div>
                    <div data-user-email="@User.Identity.GetUserName()" class="name">{{shared.user.name}}</div>
                    @if (User.IsInRole("Company"))
                    {
                        <div class="position">Company</div>
                    }
                    else
                    {
                        <div class="position">@(User.IsInRole("Presenter") ? Resources.Resource.Teacher : Resources.Resource.Student)</div>
                    }
                </div>
                <div class="dark-line"></div>
                <div class="light-line"></div>
                <div class="navigation">
                    @Html.Partial("~/Areas/Dashboard/Views/Components/LeftNavigation.Mobile.cshtml")
                </div>
            </div>
        </div>
        <div role="tabpanel" class="col-md-10 fade in right-content tab-pane active" id="main_content">
            <div  class="hidden-lg visible-md visible-sm visible-xs mobile-btn-nav">
                <div class="lg">
                    <img onclick="location.href='/en'" src="/img/OL-logotype-250.png">
                </div>
                <a href="" role="tab" data-toggle="tab" data-target="#navigation"><i class="fa fa-bars" aria-hidden="true"></i></a>
            </div>
            @Html.Partial("~/Areas/Dashboard/Views/Components/Header.Mobile.cshtml")
            <div class="main-content">
                <div class="row tab-content">
                    <div role="tabpanel" class="col-md-9 left-left-content fade in tab-pane active" id="bodys">
                        
                        <a id="show-content2" href="" role="tab" data-toggle="tab" data-target="#bodys"></a>
                        @if (User.IsInRole("Presenter"))
                        {
                            <div class="right-right-content monthly-widget">
                                <div class="anim-directives" ui-monthlyearnings></div>
                            </div>
                        }
                        else
                        {
                            <div class="anim-directives" ui-pricesblock></div>
                        }
                        @RenderBody()

                    </div>
                    @{

                        <div class="tab-pane fade" role="tabpanel" id="vidgets">
                            @Html.Partial(User.IsInRole("Company") ? "~/Areas/Dashboard/Views/NewMyAccount/VidgetsForCompany.cshtml" : "~/Areas/Dashboard/Views/NewMyAccount/VidgetsForUsers.Mobile.cshtml")
                        </div>
       
                    }
                </div>
            </div>
            @Html.Partial("~/Areas/Dashboard/Views/Components/Footer.cshtml")
        </div>
    </div>
</div>

<script>
    @if (User.IsInRole("Company"))
    {
        @: var routes = [{ route: '/mybouget', template: '@Url.Action("MyBouget", "NewMyAccount")', controller: 'mybudgetcontroller', header:'@Resources.Resource.MyBudget' },
        @:{ route: '/mylessons', template: '@Url.Action("GetMyLessons", "NewMyAccount")', controller: 'mylessonscompanycontroller', header: '@Html.Raw(Resources.Resource.MyLessons)' },
        @:{ route: '/mystudents', template: '@Url.Action("GetCompanyStudents", "NewMyAccount")', controller: 'mystudentscompanycontroller', header: '@Html.Raw(Resources.Resource.MyStudents)' },
        @: { route: '/myclasses', template: '@Url.Action("GetMyClasses", "MyClasses")', controller: 'myclassescontroller', header: '@Resources.Resource.classes.ToUpperFirstCharacter()' },
        @:{ route: '/mytransfers', template: '@Url.Action("GetMyTransfers", "NewMyAccount")', controller: 'mytransferscompanycontroller', header: '@Html.Raw(Resources.Resource.MyTransfers)' },
        @: ];
    }
    else
    {
        @: var routes = [{ route: '/myprofile', template: '@Url.Action("Index", "Profile")', controller: 'myprofilecontroller', header:'@Html.Raw(Resources.Resource.Profile)' },
        @: { route: '/myclasses', template: '@Url.Action("GetMyClasses", "MyClasses")', controller: 'myclassescontroller', header: '@Resources.Resource.classes.ToUpperFirstCharacter()' },
        @:{ route: '/chat', template: '@Url.Action("GetMyChat", "NewMyAccount")', controller: 'mychatcontroller', header: '@Resources.Resource.ChatBeta' },
        @: { route: '/changepassword', template: '@Url.Action("ChangePassword", "NewMyAccount")', controller: 'changepasswordcontroller', header: '@Html.Raw(Resources.Resource.Change_password)' },
        @: { route: '/languages', template: '@Url.Action("GetMyLanguages", "NewMyAccount")', controller: 'mylanguagescontroller', header: '@Html.Raw(Resources.Resource.Languages)' },
        @: { route: '/paymentreceipts', template: '@Url.Action("GetPaymentReceipts", "NewMyAccount")', controller: 'paymentreceiptscontroller', header: '@Html.Raw(Resources.Resource.Payments_received)' },
        @: { route: '/mywords', template: '@Url.Action("GetMyWords", "NewMyAccount")', controller: 'mywordscontroller',header: '@Html.Raw(Resources.Resource.MyWords)' },
        @: { route: '/tutorial', template: '@Url.Action("GetTutorials", "NewMyAccount")', controller: 'tutorialcontroller', header: '@Resources.Resource.Tutorial' },
        @: { route: '/refferal', template: '@Url.Action("GetRefferalPage", "RefferalProgrammDashboard")', controller: 'refferalparticiplescontroller',header: 'Refferal program' }
        @: ];

        if (User.IsInRole("Presenter"))
        {
            @:routes = routes.concat([{ route: '/aboutme', template: '@Url.Action("AboutMe", "NewMyAccount")', controller: 'aboutmecontroller', header: "@Html.Raw(Resources.Resource.Aboutme)" },
            @:{ route: '/photogallery', template: '@Url.Action("PhotoGallery", "NewMyAccount")', controller: 'photogallerycontroller', header: '@Html.Raw(Resources.Resource.Photogallery)' },
            @:{ route: '/expirience', template: '@Url.Action("GetMyExperience", "NewMyAccount")', controller: 'myexperiencecontroler', header: '@Html.Raw(Resources.Resource.Experience)' },
            @:{ route: '/mystudents', template: '@Url.Action("GetMyStudents", "MyStudents")', controller: 'mystudentscontroller', header: '@Html.Raw(Resources.Resource.MyStudents)' },
            @:{ route: '/mylessons', template: '@Url.Action("GetMyLessons", "NewMyAccount")', controller: 'mylessonscontroller', header: '@Html.Raw(Resources.Resource.MyLessons)' },
            @:{ route: '/myassingments', template: '@Url.Action("GetMyAssingments", "NewMyAccount")', controller: 'myassingmentscontroller', header: '@Html.Raw(Resources.Resource.MyAssignments)' },
            @:{ route: '/corresponds', template: '@Url.Action("GetMyCorresponds", "NewMyAccount")', controller: 'mycorrespondscontroller', header: '@Html.Raw(Resources.Resource.MyCorresponds)'},])
        }
        else
        {
            @:routes = routes.concat([{ route: '/myteachers', template: '@Url.Action("GetMyTeachers", "MyTeachers")', controller: 'myteacherscontroller', header: '@Html.Raw(Resources.Resource.MyTeachers)' },
            @:{ route: '/mylessons', template: '@Url.Action("GetMyLessons", "NewMyAccount")', controller: 'mylessonsstudentcontroller', header: '@Html.Raw(Resources.Resource.MyLessons)' },
            @:{ route: '/myassingments', template: '@Url.Action("GetMyAssingments", "NewMyAccount")', controller: 'myassingmentsstudentcontroller', header: '@Html.Raw(Resources.Resource.MyAssignments)' },
            @:{ route: '/makepayment', template: '@Url.Action("MakePayment", "NewMyAccount")', controller: 'makepaymentcontroller', header: 'Payment' }]);
        }
    }

    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/js/adapter.min.js"></script>
<script src="~/Scripts/openlang/VideoChat/STUNServers.js?v2"></script>
<script src="~/Scripts/openlang/VideoChat/Helper.js?v2"></script>
<script src="~/Scripts/openlang/VideoChat/VideoChat.js?v2"></script>
@Scripts.Render("~/js/Select2Angular")
<script src="~/js/fullcalendar.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/InfrastructureForNewDesign/resources/resource.js"></script>
<script src="~/Scripts/jquery-asPieProgress.min.js"></script>
<script src="~/js/bootstrap-progressbar.min.js"></script>
<script src="~/js/ckeditor-angular.js"></script>
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
<link href="~/js/libs/magnific-popup/magnific-popup.css" rel="stylesheet"/>
<script src="~/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/InfrastructureForNewDesign/push.js"></script>
    <script src="~/js/animate/animate-css.js"></script>
@if (User.IsInRole("Company"))
{
    @Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularcompany")
}
else
{
    @(User.IsInRole("Presenter") ? Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularteacher") : Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularstudent"))
}
<script src="~/js/jquery.mCustomScrollbar.js"></script>
<script src="~/js/select2/i18n/@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0]).js"></script>
<script>

    jQuery(window).load(function() {
        jQuery(".nav-sidebar .fa-user").parent().parent().removeAttr("role").removeAttr("data-toggle").removeAttr("data-target")
    });
    </script>
<script>
        var userId = '@User.Identity.GetUserId()';
        var isTeacher = @User.IsInRole("Presenter").ToString().ToLower();
    var currencies = [{"Val": "EUR: Euro" }, { "Val": "USD: United States Dollar" }, { "Val": "CHF: Swiss Franc" },{"Val":"GBP: Pound Sterling"}, { "Val": "BRL: Brazilian Real" }, { "Val": "SEK: Swedish Kronal" }, { "Val": "DKK: Danish Krone" }, { "Val": "NOK: Norwegian Krone" }];
        var module = angular.module("myaccountmodule", ["ngRoute", 'ui.select2', 'notifications', 'api', 'ckeditor', 'ngAnimate', 'recorderService','datatables','ui.bootstrap']).config(function ($routeProvider, $sceDelegateProvider,$animateProvider) {
            routes.forEach(function (elem) {
                $routeProvider.when(elem.route, {
                    templateUrl: elem.template,
                    controller: elem.controller,
                });
                $routeProvider.otherwise({ redirectTo: '/mylessons' });
            });
            $sceDelegateProvider.resourceUrlWhitelist([
              'self',
              '*://www.youtube.com/**',
              '*://player.vimeo.com/**',
              '*://vimeo.com/**',
            ]);
        }).controller("myaccountpage",myaccountpage);
        routes.forEach(function (elem) {
            module.controller(elem.controller,eval(elem.controller))
        });
        module.directive('uiIntltelinput', intlTelInputAngular).directive("listUpcommingclasses", upcommingClasses)
            .directive('listPastclasses', pastClasses)
            //.directive('uiReplenisbalance', replenishBalance)
            .directive('uiPricesblock', pricesblock)
            .directive('uiMonthlyearnings', monthlyEarnings)
            .directive('uiBudgetStatistic', budgetStatistic)
            .directive('statistic',statistic).filter('inArray', filterarrayinarray).filter('balanceIsPositive', balanceispositive).filter("trust", ['$sce', function ($sce) {
                return function (htmlCode) {
                    return $sce.trustAsHtml(htmlCode);
                }
            }]);
        @if (!User.IsInRole("Presenter"))
        {
            @:$("#progress").asPieProgress({ 'namespace': 'pie_progress', size: 75, barcolor: '#88cc49', speed: 25, trackcolor: '#4b5363' }).asPieProgress('go',  '75%');
        }

    </script>
<script src="~/Scripts/GoogleAnalytics.js"></script>
<script src="~/Scripts/GoogleAnalytics.js"></script>
<script type="text/javascript">
    adroll_adv_id = "H3S2CR5ECBB55MYEWJA7C2";
    adroll_pix_id = "GV537S3N75CVFJTSXVCIU4";
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
    </script>
</body>
</html>

