﻿@color_1: #000;
@color_2: #ccc;
@color_3: #999999;
@color_4: #fff;
@color_5: #dddddc;
@color_6: #b9c9a0;
@color_7: #8aa350;
@color_8: #c8c1c2;
@color_9: #a8c75f;
@color_10: #6a7d42;
@color_11: #445030;
@color_12: #677940;
@color_13: #a6c45e;
@color_14: #bdbcbb;
@color_15: #75933f;
@color_16: #adadad;
@color_17: #667840;
@color_18: #455030;
@color_19: #65783f;
@color_20: #495632;
@color_21: #7c924a;
@color_22: #fff0f5;
@color_23: #666665;
@color_24: #383838;
@color_25: #61733e;
@color_26: #8ca551;
@color_27: #778c53;
@color_28: #7e944b;
@color_29: #a2c05c;
@color_30: #99b558;
@color_31: #515f36;
@color_32: #333333;
@color_33: #99af67;
@color_34: #f00;
@color_35: #60742d;
@font-family_1: PTSansRegular;
@font-family_2: Seravek;
@font-family_3: SeravekLight;
@font-family_4: Helvetica;
@font-family_5: PTSans;
@font-family_6: 'Lato', sans-serif;

@font-face {
	font-family: "PTSansRegular";
	src: url("../../fonts/openlang/PTSansRegular.eot");
	src: url("../../fonts/openlang/PTSansRegular.eot?#iefix")format("embedded-opentype"), url("../../fonts/openlang/PTSansRegular.woff") format("woff"), url("../../fonts/openlang/PTSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Seravek";
	src: url("../../fonts/openlang/seravek-medium-webfont.eot");
	src: url("../../fonts/openlang/seravek-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/openlang/seravek-medium-webfont.woff") format("woff");
	src: url("../../fonts/openlang/seravek-medium-webfont.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "SeravekLight";
	src: url("../../fonts/openlang/seravek-light-webfont.eot");
	src: url("../../fonts/openlang/seravek-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/openlang/seravek-light-webfont.woff") format("woff");
	src: url("../../fonts/openlang/seravek-light-webfont.ttf");
	font-style: normal;
	font-weight: normal;
}
* {
	margin: 0;
	padding: 0;
}
html {
	width: 100%;
}
body {
	width: 100%;
}
header {
	width: 100%;
	background-color: rgba(0,0,0,0.9);
}
.change_lang {
	display: inline-block;
	position: relative;
	ul {
		position: absolute;
		display: none;
		list-style-type: none;
		color: @color_1;
		z-index: 10;
		margin-top: 5px;
		li {
			margin-left: 20px;
			padding: 5px 10px;
			cursor: pointer;
			background-color: #ccc;
			-moz-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			transition: all .5s ease-out;
			&:hover {
				background-color: #000;
				color: @color_2;
			}
		}
	}
}
.align_items_center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
}
.flex_direction_row {
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.justify-content_space_between {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.justify-content_center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.flex_direction_column {
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	flex-direction: column;
}
.align_items_start {
	-webkit-box-align: start;
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-ms-align-content: flex-start;
	align-items: flex-start;
}
.flexable {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.logo {
	width: 90%;
}
.navigation {
	position: absolute;
	top: 50%;
	left: -15%;
	height: 316px;
	margin-top: -158px;
	i {
		background-color: transparent;
		padding: 10px;
		display: block;
		border-radius: 30px;
		font-size: 17px;
		cursor: pointer;
		&:before {
			margin-left: 1px;
		}
	}
}
.learn_languages_online {
	.navigation {
		i.active_nav {
			background-color: #fff;
			border-color: #fff;
			color: @color_3;
		}
		i {
			color: @color_5;
			border: 1px solid #dddddc;
		}
	}
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	overflow: hidden;
	.content {
		height: 600px;
	}
	fieldset {
		border: 1px dashed #fff;
		-ms-border-radius: 100px;
		border-radius: 100px;
		position: relative;
		margin-top: 50px;
	}
}
.about_us {
	.navigation {
		i.active_nav {
			background-color: #fff;
			border-color: #fff;
			color: @color_3;
		}
		i {
			color: @color_5;
			border: 1px solid #dddddc;
		}
		margin-top: 0;
		top: -315px;
	}
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	.container.flexable {
		height: 500px;
		padding-bottom: 140px;
		padding-top: 20px;
	}
	.description {
		text-align: center;
		font-family: @font-family_3;
		color: @color_4;
		font-size: 14px;
		padding: 0;
		line-height: 23px;
		margin-top: 20px;
	}
	.tutorial_btns {
		.btn {
			width: 100px;
			text-align: center;
		}
	}
}
.learn_by_immertial {
	.navigation {
		i.active_nav {
			background-color: #fff;
			border-color: #fff;
			color: @color_3;
		}
		i {
			color: @color_5;
			border: 1px solid #dddddc;
		}
		margin-top: 0;
		top: -345px;
	}
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	padding: 50px 0;
	overflow: hidden;
	.description {
		padding: 0 60px;
		color: @color_4;
	}
	.sign_up {
		background-color: #a6c45e;
		margin: 20px 10px;
		width: 140px;
	}
}
.plans_prices {
	.navigation {
		i.active_nav {
			background-color: #a8c75f;
			color: @color_4;
		}
		i {
			color: @color_6;
			border: 1px solid #e1ebc7;
		}
		top: -340px;
		margin-top: 0;
	}
	background-color: #fff;
	overflow: hidden;
	.content {
		height: 800px;
	}
	h1 {
		color: @color_9;
	}
	.inner_block_content {
		.tutorial_btns {
			.btn.unselect {
				background-color: #fff;
				color: @color_9;
			}
			margin-top: 10px !important;
			.btn {
				padding: 7px 24px;
				border: 1px solid #a8c75f;
			}
		}
	}
	.description {
		color: @color_3;
		margin-top: 10px;
	}
	>div {
		&:first-child {
			margin-top: 40px;
		}
	}
}
.testimonials {
	.navigation {
		i.active_nav {
			background-color: #a8c75f;
			color: @color_4;
		}
		i {
			color: @color_6;
			border: 1px solid #e1ebc7;
		}
		margin-top: 0;
		top: -295px;
	}
	background-color: #fff;
	overflow: hidden;
	.container.flexable {
		background-color: #fff;
	}
	.container {
		height: 700px;
		.description {
			color: @color_3;
			font-size: 14px;
			padding: 0;
			margin-top: 5px;
		}
	}
	h1 {
		color: @color_13;
	}
}
.dash {
	border-right: 1px dotted #dddddc;
	height: 25px;
	margin-right: 20px;
}
.content {
	position: relative;
}
#languages {
	font-family: @font-family_1;
	font-size: 14px;
	color: @color_4;
	display: inline-block;
	border-bottom: 1px dotted;
	cursor: pointer;
}
.top_btn {
	font-family: @font-family_1;
	font-size: 14px;
	color: @color_4;
	display: inline-block;
	padding: 5px 20px;
	background-color: #444;
	-ms-border-radius: 35px;
	border-radius: 35px;
	margin-right: 16px;
	cursor: pointer;
	&:hover {
		background-color: #8aa350;
	}
}
.globe {
	margin-right: 5px;
	margin-top: 2px;
	color: @color_7;
	font-size: 13px;
}
h1 {
	font-family: @font-family_2;
	color: @color_4;
	text-align: center;
	font-size: 50px;
}
.description {
	font-family: @font-family_2;
	color: @color_4;
	text-align: center;
	font-size: 50px;
	font-size: 14px;
	font-weight: normal;
	font-family: @font-family_3;
	padding: 0 40px;
}
.inner_block_content {
	width: 750px;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
}
legend {
	font-family: @font-family_1;
	font-size: 14px;
	text-align: center;
	color: @color_8;
	padding: 0 30px;
}
.flags_content.flexable {
	margin: 20px 43px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.flex_prices_content_inner {
	margin-top: 50px;
}
.basic_price {
	width: 100%;
	margin-right: 15px;
	color: @color_1;
	font-family: @font-family_3;
}
.individ_price {
	width: 100%;
	margin-right: 15px;
	color: @color_1;
	font-family: @font-family_3;
	>div {
		&:first-child {
			>div {
				&:first-child {
					text-align: center;
				}
			}
		}
	}
	.tutorial_btns.flexable {
		>div {
			-ms-border-radius: 100px;
			border-radius: 100px;
			border: 1px solid #a8c75f;
			color: @color_9;
			width: 35px;
			height: 35px;
			text-align: center;
			padding-top: 9px;
			font-size: 13px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			cursor: pointer;
		}
		>div.active {
			background-color: #a8c75f;
			color: @color_4;
		}
	}
	.price {
		margin-top: 30px;
		margin-left: 0;
	}
	.it_price {
		margin-top: 29px;
	}
	h2 {
		.degree {
			left: 123px;
		}
	}
}
.price {
	position: relative;
	width: 220px;
	background-color: #a8c75f;
	border-top: 2px solid #445030;
	padding: 20px;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 53px;
	font-family: @font-family_4;
	-ms-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	h2 {
		color: @color_4;
		position: relative;
		font-weight: normal;
		.degree {
			position: absolute;
			left: 80px;
			top: 0;
			color: @color_10;
			font-size: 13px;
		}
	}
	.description {
		color: @color_11;
		font-size: 13px;
		text-align: left;
		padding: 0;
		margin-right: 20px;
	}
	ul {
		list-style-type: none;
		color: @color_4;
		font-size: 12px;
		font-weight: normal;
		li {
			margin-top: 10px;
		}
	}
	input {
		color: @color_4;
		background-color: #445030;
		padding: 10px 30px;
		-ms-border-radius: 30px;
		border-radius: 30px;
		border: none;
		margin-top: 15px;
		width: 100%;
		font-family: @font-family_1;
	}
}
.star {
	position: absolute;
	right: 5px;
	top: 0;
}
.flagss {
	background-image: url(../../Images/openlang/flags_smaller.png);
	position: relative;
	height: 45px;
	width: 44px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.flags_content {
	span {
		color: @color_4;
		font-family: @font-family_3;
		font-size: 14px;
		text-align: center;
		display: block;
		margin-top: 15px;
	}
}
.flagss.english {
	background-position: 0, 0;
}
.flagss.france {
	background-position: -44px, 0;
}
.flagss.german {
	background-position: -88px, 0;
}
.flagss.greek {
	background-position: -131px, 0;
}
.flagss.italian {
	background-position: -175px, 0;
}
.flagss.port {
	background-position: -218px, 0;
	width: 45px;
}
.flagss.spain {
	background-position: -262px, 0;
}
.flagss.swed {
	background-position: -305px, 0;
}
.tutorial_btns {
	margin-top: 40px !important;
	.btn {
		background: #a8c75f;
		font-size: 14px;
		font-family: @font-family_1;
		padding: 11px 45px;
		-ms-border-radius: 10px;
		border-radius: 30px;
		color: @color_4;
		cursor: pointer;
		&:first-child {
			margin-right: 25px;
		}
		&:last-child {
			margin-left: 25px;
		}
	}
	.wrapper_awesome {
		display: inline-block;
		margin-right: 10px;
	}
}
.Contact_US {
	.btn {
		background: #a8c75f;
		font-size: 14px;
		font-family: @font-family_1;
		padding: 11px 45px;
		-ms-border-radius: 10px;
		border-radius: 30px;
		color: @color_4;
		cursor: pointer;
		width: 115px;
		margin: 0 auto;
		text-align: center;
		padding: 10px 70px;
		margin-top: 20px;
	}
	.inner_block_content {
		width: 100%;
		margin-top: 40px;
	}
	input[type="text"] {
		text-align: left;
		padding: 10px 20px;
		margin: 0 20px 0 0;
		width: 242px;
		&:last-child {
			margin: 0;
		}
	}
	form {
		margin-top: 40px;
	}
	textarea {
		width: 100%;
		height: 200px;
		margin-top: 25px;
		border-radius: 10px;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.it_price {
	border-top: 1px dashed #445030;
	border-bottom: 1px dashed #445030;
	margin: 10px 0;
	padding: 10px 0;
	h2 {
		font-weight: bold;
		font-size: 33px;
	}
}
.before_price {
	font-size: 13px;
	color: @color_12;
}
.post_header {
	margin-top: 30px;
	color: @color_13;
	font-family: @font-family_4;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
}
.global_lang {
	margin-top: 50px;
	width: 115%;
	margin-left: -7.5%;
	.img {
		background-image: url(../../Images/openlang/about_us_smaller.png);
		height: 48px;
		width: 51px;
		margin-left: 43px;
	}
	.img.mission {
		background-position: 0, 0;
	}
	.img.vision {
		background-position: 50px, 0;
	}
	.img.values {
		background-position: 100px, 0;
	}
	.img.comm {
		background-position: 150px, 0;
	}
	>div {
		width: 140px;
	}
	h4 {
		color: @color_4;
		font-family: @font-family_2;
		font-size: 13px;
		text-align: center;
		margin-top: 10px;
	}
	.desk {
		font-family: @font-family_3;
		font-size: 12px;
		color: @color_14;
		text-align: center;
		word-wrap: break-word;
		width: 141%;
		margin-left: -18%;
		margin-top: 5px;
	}
}
.dady {
	position: absolute;
	bottom: -9px;
	left: 50%;
	width: 197px;
	margin-left: -61px;
}
.what_say {
	>div {
		width: 275px;
		background-color: #a6c45e;
		padding: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	width: 115%;
	margin-left: -7.5%;
	margin-top: 20px;
}
.sign_up {
	background-color: #445030;
	color: @color_4;
	font-size: 13px;
	border-radius: 30px;
	text-align: center;
	padding: 10px;
	font-family: @font-family_1;
	width: 15%;
	cursor: pointer;
}
.name_pup {
	.names {
		margin-left: 10px;
		margin-top: 10px;
	}
}
.my_name {
	font-family: @font-family_3;
	color: @color_15;
	font-size: 13px;
}
.desc_pup {
	color: @color_4;
	font-family: @font-family_4;
	font-size: 12px;
	font-weight: normal;
	margin-top: 13px;
	line-height: 17px;
}
.social_pup {
	color: @color_10;
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	>i {
		display: inline-block;
		margin-right: 10px;
	}
}
.family {
	color: @color_11;
	font-size: 20px;
}
.stay_in_touch {
	margin-top: 50px;
	h3 {
		color: @color_13;
		font-size: 25px;
		font-family: @font-family_2;
	}
	.desc {
		font-size: 16px;
		color: @color_16;
	}
}
input[type="text"] {
	width: 310px;
	padding: 13px 10px;
	border: 1px solid #cccccc;
	border-radius: 50px;
	margin: 15px;
	text-align: center;
	outline: 0;
}
input[type="tel"] {
	width: 310px;
	padding: 13px 10px;
	border: 1px solid #cccccc;
	border-radius: 50px;
	margin: 15px;
	text-align: center;
	outline: 0;
}
input[type="email"] {
	width: 310px;
	padding: 13px 10px;
	border: 1px solid #cccccc;
	border-radius: 50px;
	margin: 15px;
	text-align: center;
	outline: 0;
}
.for_bycourse {
	width: 700px !important;
	margin-left: -350px !important;
	.log_in_with {
		>div {
			&:first-child {
				text-align: left;
				margin-left: 30px;
				font-size: 16px;
				font-weight: bold;
				margin-bottom: -10px;
				margin-top: 20px;
			}
		}
		.ch_lang {
			margin-top: -15px;
		}
		.confirm_buy_course {
			font-size: 16px !important;
			font-weight: bold !important;
		}
		.conf_shedule {
			padding: 10px 20px 10px 30px;
		}
	}
	.line_dash {
		margin-left: 30px;
		margin-right: 30px;
		color: @color_17 !important;
		border-color: #667840;
	}
	.top_btn {
		background-color: #445030;
		padding: 8px 30px;
	}
	.already {
		font-size: 13px;
		padding: 0 55px !important;
		color: @color_17 !important;
	}
}
.terms {
	color: @color_4;
	text-decoration: underline;
	cursor: pointer;
}
.trial {
	.pop_up_trial.step_1.for_bycourse {
		height: 355px !important;
		margin-top: -177px !important;
	}
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 11;
	font-family: @font-family_1;
	display: none;
	.pop_up_trial {
		position: relative;
		width: 460px;
		height: 320px;
		top: -100%;
		left: 50%;
		margin-left: -230px;
		margin-top: -200px;
		background-color: #a6c45e;
		-ms-border-radius: 0 0 20px 20px;
		border-radius: 0 0 20px 20px;
		top: -100%;
		margin-top: -200px;
		height: 390px;
		h2 {
			background-color: #455030;
			color: @color_4;
			text-align: center;
			padding: 10px 0;
			font-family: @font-family_2;
		}
	}
	.pop_up_trial.step_1 {
		height: 445px !important;
		margin-top: -223px !important;
	}
	.pop_up_trial.step_2 {
		height: auto !important;
		margin-top: -300px !important;
		width: 700px;
		margin-left: -350px;
		.log_in_with {
			padding: 0 20px 20px 20px;
			#go_back_buy {
				text-align: left;
				color: @color_4;
				display: block;
				font-family: @font-family_1;
				>i {
					display: inline-block;
					margin-right: 5px;
				}
			}
		}
	}
	.already {
		padding: 0 20px;
	}
	.header {
		position: relative;
		span {
			position: absolute;
			top: 16px;
			left: 20px;
			font-size: 14px;
			color: @color_27;
		}
	}
}
.card_num {
	input {
		text-align: center !important;
	}
	input[type="text"] {
		width: 100%;
	}
}
.confirm_buy_course + div {
			margin-bottom: 7px;
}
.what_wait {
	color: @color_13;
	font-size: 35px;
	font-family: @font-family_2;
	text-align: center;
	margin-top: 90px;
}
.sin_up {
	color: @color_4;
	text-align: center;
	font-size: 17px;
	font-family: @font-family_3;
	margin-top: 10px;
	b {
		font-weight: bold;
	}
	span {
		color: @color_13;
		font-weight: bold;
	}
}
.icons_bottom {
	color: @color_4;
	text-align: center;
	margin-top: 100px;
	i {
		display: inline-block;
		padding: 10px;
		background-color: #787671;
		border-radius: 20px;
		margin-right: 15px;
		font-size: 12px;
		font-weight: normal;
	}
}
.scroll_for_info {
	position: absolute;
	left: 50%;
	bottom: 10px;
	color: @color_4;
	font-family: @font-family_5;
	font-weight: normal;
	text-align: center;
	width: 100px;
	margin-left: -50px;
	font-size: 13px;
	cursor: pointer;
	z-index: 10;
}
.log_in {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 11;
	font-family: @font-family_1;
	display: none;
	.pop_up_log_in {
		position: relative;
		width: 460px;
		height: 320px;
		top: -100%;
		left: 50%;
		margin-left: -230px;
		margin-top: -200px;
		background-color: #a6c45e;
		-ms-border-radius: 0 0 20px 20px;
		border-radius: 0 0 20px 20px;
		h2 {
			background-color: #455030;
			color: @color_4;
			text-align: center;
			padding: 10px 0;
			font-family: @font-family_2;
		}
	}
}
.sing_in {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 11;
	font-family: @font-family_1;
	display: none;
	.pop_up_sing_in {
		position: relative;
		width: 460px;
		height: 320px;
		top: -100%;
		left: 50%;
		margin-left: -230px;
		margin-top: -200px;
		background-color: #a6c45e;
		-ms-border-radius: 0 0 20px 20px;
		border-radius: 0 0 20px 20px;
		top: -100%;
		margin-top: -200px;
		height: 390px;
		h2 {
			background-color: #455030;
			color: @color_4;
			text-align: center;
			padding: 10px 0;
			font-family: @font-family_2;
		}
	}
	.pop_up_trial {
		position: relative;
		width: 460px;
		height: 320px;
		top: -100%;
		left: 50%;
		margin-left: -230px;
		margin-top: -200px;
		background-color: #a6c45e;
		-ms-border-radius: 0 0 20px 20px;
		border-radius: 0 0 20px 20px;
		top: -100%;
		margin-top: -200px;
		height: 390px;
		h2 {
			background-color: #455030;
			color: @color_4;
			text-align: center;
			padding: 10px 0;
			font-family: @font-family_2;
			margin-bottom: 25px;
		}
	}
	.pop_up_trial.step_1 {
		label {
			color: @color_11;
		}
		.intl-tel-input {
			input[type=tel] {
				padding-left: 65px;
			}
		}
		width: 500px;
		margin-left: -250px;
		position: absolute;
		height: 330px !important;
		margin-top: -165px !important;
		.header {
			background-color: #445030;
			color: @color_4;
		}
	}
	>div {
		.trial {
			>div {
				text-align: center;
				color: @color_18;
				margin-top: 10px;
				font-size: 14px;
			}
		}
	}
	hr {
		height: 1px;
		background-color: #8eac4c;
		text-align: center;
		width: 90%;
		margin: 0 auto;
		margin-top: 18px;
	}
}
.how_it_works {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 11;
	font-family: @font-family_1;
	display: none;
	.pop_up_how_it_works {
		width: 600px;
		height: 420px !important;
		margin-top: -200px !important;
		margin-left: -300px;
		top: -100%;
		margin-top: -200px;
		height: 390px;
		h2 {
			background-color: #455030;
			color: @color_4;
			text-align: center;
			padding: 10px 0;
			font-family: @font-family_2;
		}
	}
}
.forgot {
	>div {
		color: @color_4;
		margin: 5px 27px;
		border-bottom: 1px dotted #fff0f5;
		cursor: pointer;
	}
}
.pop_up_how_it_works {
	position: relative;
	width: 460px;
	height: 320px;
	top: -100%;
	left: 50%;
	margin-left: -230px;
	margin-top: -200px;
	background-color: #a6c45e;
	-ms-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
}
#go_to_step_22 {
	margin: 15px auto;
}
.country-name {
	color: @color_18 !important;
}
.log_in_with {
	>div {
		text-align: center;
		color: @color_18;
		margin-top: 10px;
		font-size: 14px;
	}
	.hr {
		height: 1px;
		background-color: #8eac4c;
		text-align: center;
		width: 90%;
		margin: 0 auto;
		margin-top: 18px;
	}
	.inputs {
		margin-top: 16px;
	}
}
.socials_btns {
	>span {
		display: inline-block;
		color: @color_4;
		cursor: pointer;
		padding: 8px 35px;
		border-radius: 20px;
		i {
			display: inline-block;
			margin-right: 5px;
			font-weight: bold;
		}
		&:first-child {
			background-color: #3c599b;
			margin-right: 27px;
		}
		&:last-child {
			background-color: #db503b;
			margin-right: 10px;
		}
	}
}
.pop_up_log_in {
	input[type="text"] {
		width: 195px;
		padding: 7px 18px;
		margin-top: 5px;
		text-align: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.sign_up {
		color: @color_4;
		margin: 0 auto;
		margin-top: 10px;
		width: 150px;
	}
}
.pop_up_sing_in {
	input[type="text"] {
		width: 195px;
		padding: 7px 18px;
		margin-top: 5px;
		text-align: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	input[type="email"] {
		width: 195px;
		padding: 7px 18px;
		margin-top: 5px;
		text-align: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.sign_up {
		color: @color_4;
		margin: 0 auto;
		margin-top: 10px;
		width: 150px;
	}
	.log_in_with {
		.inputs.last {
			margin-top: 0;
		}
	}
	.already {
		>span {
			color: @color_4;
			cursor: pointer;
			border-bottom: 1px dotted #fff;
		}
	}
}
.pop_up_trial {
	input[type="text"] {
		width: 195px;
		padding: 7px 18px;
		margin-top: 5px;
		text-align: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	input[type="tel"] {
		width: 195px;
		padding: 7px 18px;
		margin-top: 5px;
		text-align: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.sign_up {
		color: @color_4;
		margin: 0 auto;
		margin-top: 10px;
		width: 150px;
	}
	&:nth-child(2) {
		.log_in_with {
			padding: 0 20px;
			>div {
				&:first-child {
					color: @color_4;
					text-align: left;
					i {
						display: inline-block;
						margin-right: 10px;
					}
				}
			}
		}
		width: 730px;
		margin-left: -365px;
	}
}
.inputs {
	>div {
		text-align: left;
		width: 223px;
		label {
			text-align: left;
			margin-left: 15px;
		}
	}
}
.or {
	background-color: #a6c45e;
	width: 20px;
	position: relative;
	top: -0.6em;
	display: inline-block;
	width: 30px;
}
.close_log_in {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	z-index: 10;
}
.qestions {
	>div {
		background-color: rgba(0, 0, 0, 0.5);
		margin-top: 2px;
		border-left: 2px solid #8aa350;
		font-family: @font-family_3;
	}
	.quest {
		color: @color_4;
		padding: 10px 15px;
		cursor: pointer;
		font-size: 13px;
		i {
			display: inline-block;
			margin-right: 15px;
		}
	}
    .quest + div.answer {
				background-color: #8aa350;
				color: @color_11;
				padding: 10px 30px 10px 45px;
				font-size: 13px;
				display: none;
				.helpful {
					font-family: @font-family_4;
					color: @color_19;
					font-size: 11px;
					text-decoration: none;
				}
			}
	.comment {
		background-color: #80974c;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 15px;
		line-height: 20px;
		font-size: 13px;
		margin: 10px 0;
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 15px;
			top: -5px;
			z-index: 5;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 5px 5px;
			border-color: transparent transparent #80974c transparent;
		}
	}
}
#forFaq {
	header {
		position: relative;
	}
	.dynamik_block {
		color: @color_4;
		text-align: left;
		-ms-flex-grow: 1;
		-webkit-flex-grow: 1;
		flex-grow: 1;
		font-size: 14px;
		font-family: @font-family_1;
	}
}
.FAQ {
	position: relative;
	.description {
		margin: 5px 0 25px 0;
	}
	.content {
		padding-bottom: 100px;
	}
}
.Courses {
	position: relative;
	.description {
		margin: 5px 0 25px 0;
	}
	.inner_block_content {
		margin: 80px 0 140px 0;
		width: 100%;
	}
	.all_courses {
		>div {
			width: 50%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		h2 {
			font-size: 18px;
			color: @color_9;
			font-family: @font-family_1;
			text-align: center;
			font-weight: normal;
			margin-bottom: 15px;
		}
	}
}
.all_courses img + div {
				background-color: #a8c75f;
				color: @color_4;
				text-align: center;
				padding: 7px 0;
				font-family: @font-family_1;
				font-weight: normal;
				margin-top: -4px;
			}
.all_courses {
	img {
		width: 100%;
	}
	>div {
		h2 {
		}
		&:first-child {
			margin-right: 12px;
			p {
				left: 100%;
			}
			h3 {
				font-family: @font-family_2;
			}
		}
		p {
			width: 400%;
			height: 128px;
			top: 0;
			position: absolute;
			z-index: 1;
			background-color: #a8c75f;
			color: @color_4;
			font-family: @font-family_3;
			padding: 15px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			font-size: 13px;
			cursor: auto;
			display: none;
			span {
				display: block;
				font-family: @font-family_2;
				font-size: 16px;
				margin-bottom: 10px;
			}
		}
		&:last-child {
			p {
				right: 100%;
			}
			margin-left: 12px;
		}
	}
}
div.answer {
	.name {
		color: @color_20;
		text-decoration: none;
		font-weight: bold;
		margin-right: 10px;
	}
	hr {
		background-color: #7c924a;
		color: @color_21;
		border: none;
		height: 1px;
		margin: 12px 0;
	}
	span {
		color: @color_4;
		text-decoration: underline;
		cursor: pointer;
	}
}
.answer {
	h5 {
		font-size: 14px;
		margin-bottom: 10px;
	}
}
.hands {
	display: inline-block;
	margin: 0 5px;
}
footer {
	background-color: #242423;
	padding: 40px 0 0 0;
	img {
		-ms-opacity: 0.6;
		opacity: 0.6;
	}
	a {
		color: @color_4;
		font-family: @font-family_1;
		font-size: 13px;
		display: block;
		margin-top: 5px;
		text-decoration: none;
		cursor: pointer;
	}
	h3 {
		color: @color_23;
		margin-bottom: 10px;
		font-family: @font-family_1;
		font-weight: bold;
	}
	span {
		i {
			color: @color_4;
			font-size: 20px !important;
			display: inline-block;
			margin-right: 8px;
		}
	}
	>div {
		&:last-child {
			background-color: #151515;
			padding: 10px 0;
			text-align: center;
			color: @color_24;
			margin-top: 40px;
			font-family: @font-family_1;
		}
		&:first-child {
			>div {
				&:first-child {
					i {
						color: @color_7;
						display: inline-block;
						margin-right: 10px;
					}
					>div {
						margin-top: 5px;
						&:nth-child(4) {
							margin-top: 10px;
						}
					}
				}
			}
			color: @color_4;
			font-family: @font-family_1;
			font-weight: normal;
			font-size: 13px;
		}
	}
}
#post_sign_in {
	display: none;
}
#Logout {
	color: @color_22;
	cursor: pointer;
	font-family: @font-family_4;
	font-size: 13px;
}
#MyAccount {
	color: @color_22;
	cursor: pointer;
	font-family: @font-family_4;
	font-size: 13px;
}
.userPict {
	width: 35px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 8px;
	border-radius: 20px;
	/*~ {
		i {
			color: @color_7;
			display: inline-block;
			margin: 0 5px 0 15px;
		}
	}*/
}
.group {
	.price {
		h2 {
			.degree {
				left: 92px;
			}
		}
		&:not(:first-child) {
			h2 {
				.degree {
					left: 105px;
				}
			}
		}
		margin-left: 10px;
		width: 180px;
	}
}
.group.flex_prices_content_inner {
	margin-top: 0;
}
.word_month {
	font-size: 20px;
	font-weight: normal;
}
.ch_lang {
	margin-top: -10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	>label {
		display: inline-block;
		margin-bottom: 4px;
	}
}
.dd-options.dd-click-off-close {
	width: 200px !important;
}
#choose_level {
	.dd-selected-text {
		margin-left: 0 !important;
		margin-top: 2px !important;
	}
}
#choose_find_us {
	.dd-selected-text {
		margin-left: 0 !important;
		margin-top: 2px !important;
	}
}
#choose_timezone {
	.dd-selected-text {
		margin-left: 0 !important;
		margin-top: 2px !important;
	}
}
.conf_shedule {
	span[id] {
		color: @color_4;
		display: inline-block;
		margin-left: 7px;
	}
	>div {
		&:first-child {
			>div {
				text-align: left;
				&:first-child {
					font-size: 15px;
					margin-bottom: 5px;
					font-weight: bold;
				}
			}
		}
	}
	/*+ {
		div.line_dash {
			margin-bottom: 10px;
		}
	}*/
}
.skype {
	&:last-child {
		input {
			text-align: center;
			padding: 7px 0 !important;
		}
	}
	img {
		position: absolute;
		left: 33px;
		top: 28px;
		width: 23px;
	}
	input {
		padding-left: 50px !important;
		font-size: 13px;
	}
	position: relative;
}
.pay_pal {
	>* {
		text-align: left;
	}
	margin: 30px 0 !important;
	h4 {
		font-size: 16px;
		font-weight: bold;
	}
}
.card_details {
	h4 {
		text-align: left;
		font-size: 15px;
		font-weight: bold;
		margin: 15px 0 10px;
	}
}
.ch_level {
	margin-top: -17px;
	label {
		margin-bottom: 5px;
		display: inline-block;
	}
}
.thanks {
	position: absolute;
	top: -100%;
	left: 50%;
	width: 500px;
	height: 200px;
	margin-top: -100px;
	margin-left: -250px;
	background-color: #a6c45e;
	border-radius: 0 0 20px 20px;
	.header {
		background-color: #445030;
		color: @color_4;
		text-align: center;
		position: relative;
		padding: 10px 0;
		font-family: @font-family_2;
	}
}
.resetPassword {
	position: absolute;
	top: -100%;
	left: 50%;
	width: 500px;
	height: 200px;
	margin-top: -100px;
	margin-left: -250px;
	background-color: #a6c45e;
	border-radius: 0 0 20px 20px;
	height: 220px !important;
	margin-top: -110px !important;
	.sign_up {
		margin: 0 auto;
		width: 27%;
	}
	.header {
		background-color: #445030;
		color: @color_4;
		text-align: center;
		position: relative;
		padding: 10px 0;
		font-family: @font-family_2;
	}
}
.pay_compleate {
	font-family: @font-family_1;
	text-align: center;
	color: @color_25;
	font-size: 14px;
	margin: 30px 0;
	line-height: 20px;
	padding: 0 40px;
	h4 {
		font-size: 16px;
		font-weight: bold;
		color: @color_11;
		margin-bottom: 7px;
	}
}
#close_trial_step_thanks {
	img {
		right: 0;
		top: -10px;
		position: absolute;
	}
}
#close_trial_step_thanks_trial {
	img {
		right: 0;
		top: -10px;
		position: absolute;
	}
}
/*img[src {
	$="date.jpg"] {
		left: 36px;
		top: 28px;
		width: 20px;
	}
}*/
.fogot {
	input {
		width: 200px;
		padding: 8px 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	margin: 10px 0;
	#email_fogot {
		text-align: left;
		padding-left: 20px;
		margin-top: 0;
	}
	label {
		display: block !important;
		margin-left: 15px;
		color: @color_11;
		margin-bottom: 5px;
		font-size: 13px;
	}
	.name {
		label {
			margin-top: 7px;
		}
		margin-left: 15px;
	}
	/*> {
		&:nth-child(2) {
			color: @color_26;
			margin: 15px 0 0 0;
		}
	}*/
}
#go_back_trial {
	cursor: pointer;
}
#go_back_buy {
	cursor: pointer;
}
#close_trial_step_thanks_reset {
	margin-top: 0;
}
.reset_psw {
	height: 160px;
	margin-top: -80px;
}
.go_to_login {
	text-align: center;
	color: @color_4;
	text-decoration: underline;
	margin-top: 10px;
	font-size: 13px;
	cursor: pointer;
}
.dd-option-image {
	max-width: 22px !important;
}
.dd-option {
	padding: 0 0 0 10px !important;
}
.dd-container {
	margin-left: 12px;
	width: 197px !important;
	border-radius: 20px !important;
	height: 30px !important;
	background-color: #fff !important;
}
.dd-select {
	width: 197px !important;
	border-radius: 20px !important;
	height: 30px !important;
	background-color: #fff !important;
}
.dd-selected {
	padding: 4px 0 0 20px !important;
}
.dd-selected-text {
	display: inline-block;
	margin-top: -4px;
	margin-left: 8px !important;
}
.dd-selected-image {
	max-width: 22px !important;
}
.dynamik_block {
	a {
		display: inline-block;
		margin-left: 20px;
		color: @color_4;
		text-decoration: none;
		i {
			color: @color_7;
			display: inline-block;
			margin-right: 5px;
		}
	}
}
.intl-tel-input {
	margin-left: 15px;
	margin-top: -5px;
	.flag-container {
		padding-left: 15px !important;
	}
}
.tele {
	label {
		margin-bottom: 10px;
		display: inline-block;
	}
	margin-top: -10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#tel_number {
	padding-left: 59px;
}
.im {
	span {
		font-size: 14px;
	}
}
.pay_method {
	h5 {
		font-size: 16px;
		text-align: left;
	}
	>div {
		>div {
			&:last-child {
				margin-top: 30px;
				font-size: 12px;
				input {
					display: inline-block;
					margin-right: 10px;
				}
			}
		}
	}
}
.pay_type {
	img {
		width: 57px;
	}
	background-color: #fff;
	padding: 2px 10px;
	border-radius: 5px;
	text-align: left;
}
.card_name {
	text-align: left;
	margin: 5px 0;
}
.card_info {
	background-color: rgba(68,80,48,0.5);
	border-radius: 8px;
	position: relative;
	>div {
		&:first-child {
			background-color: #445030;
			border-radius: 8px;
			padding: 11px 15px;
			z-index: 1;
			position: relative;
			>div {
				text-align: left;
			}
		}
	}
	.cvc {
		label {
			color: @color_11;
		}
	}
	.dd-container {
		margin-left: 0;
		margin-top: 4px;
		width: 120px !important;
	}
	.dd-select {
		width: 120px !important;
	}
	.dd-options.dd-click-off-close {
		width: 120px !important;
	}
	label.dd-selected-text {
		color: @color_1;
		margin-top: 2px;
	}
	label.dd-option-text {
		color: @color_1;
		margin-top: 2px;
	}
	input[type="text"] {
		margin-left: 0;
	}
	label {
		color: @color_30;
		font-size: 13px;
		display: inline-block;
	}
}
.sec_code {
	position: absolute;
	top: 30px;
	padding: 15px;
	background-color: #556438;
	color: @color_28;
	text-align: right;
	left: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 0;
}
.cvc {
	z-index: 1;
	margin-top: 110px;
	margin-left: 20px;
	text-align: left;
	div {
		&:first-child {
			>div {
				color: @color_29;
			}
		}
	}
}
.line_dash {
	content: '';
	display: block;
	border-top: 1px dashed #445030;
	margin-top: 20px;
}
.date_card {
	img {
		margin-top: 18px;
	}
	>div {
		&:last-child {
			input[type="text"] {
				margin-right: 0;
			}
		}
	}
}
.welcome {
	color: @color_16;
	font-family: @font-family_1;
	font-size: 13px;
}
#date_expary {
	width: 120px;
}
.ex_terms {
	background-color: transparent;
	z-index: 11;
	width: 100%;
	height: 100%;
	display: none;
	.terms_popiup {
		width: 700px;
		height: 500px;
		background-color: #a6c45e;
		position: absolute;
		left: 50%;
		top: -100%;
		margin-left: -350px;
		margin-top: -250px;
		border-radius: 0 0 20px 20px;
	}
	.text {
		&::-webkit-scrollbar {
			width: 5px;
			background-color: #88a150;
		}
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			border-radius: 10px;
			background-color: #88a150;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #445030;
			border-radius: 10px;
		}
		padding: 15px 0 15px 15px;
		color: @color_31;
		font-family: @font-family_1;
		font-size: 13px;
		line-height: 21px;
		height: 500px;
		overflow: hidden;
		>div {
			&:first-child {
				overflow-y: scroll;
				height: 407px;
			}
		}
		h5 {
			font-size: 13px;
			font-weight: bold;
			margin: 10px 0;
		}
	}
	h2 {
		background-color: #445030;
		color: @color_4;
		text-align: center;
		padding: 15px 0;
		font-family: @font-family_2;
		position: relative;
	}
}
#go_to_ourPrivacy {
	color: @color_4;
	text-decoration: underline;
	cursor: pointer;
}
#private_account {
	background-color: #fbfbfb;
	.content {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	nav {
		font-family: @font-family_3;
		width: 200px;
		h2 {
			/*~ {
				div {
					color: @color_13;
					font-weight: normal;
					cursor: pointer;
					margin: 3px 0;
					font-size: 14px;
				}
			}*/
			font-size: 16px;
			font-family: @font-family_2;
			margin-bottom: 7px;
		}
		>div {
			margin-top: 15px;
		}
	}
	.main_content {
		width: calc(100% - 200px);
		background-color: #fff;
		padding: 20px;
		box-sizing: border-box;
		font-family: @font-family_1;
		border: 1px solid #eeeeee;
		font-size: 14px;
		.confitmm_email {
			text-align: center;
			background-color: #fafafa;
			padding: 15px 0;
			margin: 10px 0;
			color: @color_32;
			border: 1px solid #eaeaea;
			span {
				color: @color_33;
				text-decoration: underline;
				cursor: pointer;
			}
		}
		h2 {
			font-size: 16px;
		}
		#_general {
			input {
				padding: 9px 15px;
				border: 1px solid #cccccc;
				border-radius: 50px;
				margin: 5px 0;
				width: 265px;
				text-align: left;
				outline: 0;
			}
		}
		#_change_password {
			input[type=password] {
				padding: 9px 15px;
				border: 1px solid #cccccc;
				border-radius: 50px;
				margin: 5px 0;
				width: 265px;
				text-align: left;
				outline: 0;
				margin-bottom: 20px;
			}
		}
		.account_form {
			margin-top: 20px;
		}
	}
	.profile_photo {
		h3 {
			font-size: 14px;
		}
		>div {
			&:last-child {
				color: @color_13;
				cursor: pointer;
			}
		}
		img {
			width: 100px;
			border: 1px solid #ddd;
			border-radius: 100px;
			margin: 10px 0;
		}
	}
	.account_data {
		>div {
			width: 40%;
			>div {
				margin-bottom: 20px;
				&:first-child {
					margin-bottom: 10px;
				}
			}
		}
	}
	#_general {
		.ui.selection.dropdown {
			border-radius: 20px;
			min-width: 100%;
			width: 100%;
		}
	}
	.dd-select {
		width: 100% !important;
		margin-left: 0;
		height: 32px !important;
		margin: 5px 0;
	}
	.dd-container {
		width: 100% !important;
		margin-left: 0;
		height: 32px !important;
	}
	.dd-selected-text {
		margin-top: 2px !important;
		font-weight: normal;
	}
	.dd-options {
		width: 100% !important;
	}
	.intl-tel-input {
		margin: 5px 0 0 0 !important;
		padding: 0 !important;
	}
	#telephone {
		padding-left: 65px !important;
		width: 267px;
	}
	.bt_wrapper {
		text-align: right;
		margin-top: 20px;
	}
	#save_account {
		background-color: #a8c75f;
		padding: 8px 30px;
		color: @color_4;
		border-radius: 20px;
		cursor: pointer;
		border: none;
	}
	#save_languages {
		background-color: #a8c75f;
		padding: 8px 30px;
		color: @color_4;
		border-radius: 20px;
		cursor: pointer;
		border: none;
	}
	#_languages {
		display: none;
		._languages {
			>div {
				width: 45%;
			}
			.ui.selection.dropdown {
				min-width: 100%;
				max-width: 100%;
				width: 100%;
				border-radius: 20px;
			}
			.ui.multiple.dropdown {
				>.label {
					font-size: 13px;
					font-family: @font-family_1 !important;
					font-weight: normal;
					color: @color_4;
				}
				padding-right: 15px;
				padding-left: 20px;
				padding-top: 4px;
			}
			.ui.label {
				background-color: #a6c45e;
				border-radius: 20px 0 0 20px;
			}
		}
	}
	#_change_password {
		display: none;
	}
	.tb_payments_receives {
		th {
			background-color: #93c210;
			color: @color_4;
			text-align: center;
			padding: 8px;
			font-family: @font-family_6;
			border: 1px solid #fff;
		}
		border-collapse: collapse;
		width: 100%;
		td {
			&:nth-child(2n+1) {
				text-align: center;
			}
			&:nth-child(2) {
				width: 65%;
			}
			border: 1px solid #fff;
			color: @color_35;
			padding: 8px;
		}
		tr {
			&:nth-child(odd) {
				background-color: #d1deac;
			}
			&:nth-child(even) {
				background-color: #dce9b9;
			}
		}
	}
	.tb_payments_receives.courseBooking {
		td {
			&:nth-child(2) {
				width: auto;
			}
		}
	}
	.flagCourseBooking {
		width: 20px;
		vertical-align: middle;
		margin-right: 5px;
	}
}
#bt_change_password {
	background-color: #a8c75f;
	padding: 8px 30px;
	color: @color_4;
	border-radius: 20px;
	cursor: pointer;
	border: none;
}
#deactiveButton {
	background-color: #a8c75f;
	padding: 8px 30px;
	color: @color_4;
	border-radius: 20px;
	cursor: pointer;
	border: none;
	margin: auto;
}
.flagActive {
	background-color: #f93348 !important;
	color: @color_4 !important;
}
.check_state {
	>i {
		display: none;
	}
	font-size: 17px;
	display: inline-block;
	margin-left: -25px;
	.error {
		color: @color_34;
	}
	.correct {
		color: @color_9;
	}
}
#_deactivate {
	display: none;
}
#_payment_received {
	display: none;
}
#_courseBooking {
	display: none;
}
div#ui-datepicker-div {
	z-index: 11 !important;
}
@media (min-width:1200px) {
	.content {
		width: 900px;
		margin: 0 auto;
	}
	header {
		.flexable {
			height: 63px;
		}
	}
}
