﻿body {
  margin: 0 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.borders {
  width: 40%;
  margin: 40px auto;
}
.borders img:first-child {
  width: 250px;
}
.borders .printOrPdf {
  text-align: right;
}
.borders .printOrPdf > span {
  display: inline-block;
  background-color: #A1D318;
  padding: 10px 40px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.borders > div {
  margin: 50px 0;
  font-size: 14px;
}
.borders > div .payer {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 8px;
}
.borders > div > .desc {
  font-weight: bold;
}
.borders table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}
.borders table tr:nth-child(2) {
  border-bottom: 1px solid #000;
}
.borders table tr:nth-child(2) ~ tr {
  font-weight: bold;
}
.borders table th {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding: 5px 10px;
}
.borders table th:not(:first-child),
.borders table th:not(:nth-child(2)) {
  text-align: right;
}
.borders table th:first-child,
.borders table th:nth-child(2) {
  text-align: left;
}
.borders table td {
  text-align: center;
  padding: 5px 10px;
}
.borders table td:not(:first-child) {
  text-align: right;
}
.borders table td:first-child,
.borders table td:nth-child(2) {
  text-align: left;
}
.borders .any {
  font-weight: bold;
  margin: 10px 0;
}
.borders .any + div {
  width: 650px;
}
.borders .allDetails,
.borders .contact {
  display: none;
}
.borders .contact {
  width: 90%;
  font-size: 11px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 50px;
}
.borders .contact span:first-child {
  font-weight: bold;
}
