﻿body {
    margin: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.borders {
    width: 40%;
    margin: 40px auto;

    img {
        &:first-child {
            width: 250px;
        }
    }

    & .printOrPdf {
        text-align: right;

        & > span {
            display: inline-block;
            background-color: #A1D318;
            padding: 10px 40px;
            color: #fff;
            cursor:pointer;
            border-radius:5px;
        }
    }

    & > div {
        margin: 50px 0;
        font-size: 14px;

        .payer {
            font-weight: bold;
            display: inline-block;
            margin-bottom: 8px;
        }

        & > .desc {
            font-weight: bold;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;

        tr:nth-child(2) {
            border-bottom: 1px solid #000;

            & ~ tr {
                font-weight: bold;
            }
        }


        th {
            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
            padding: 5px 10px;

            &:not(:first-child), &:not(:nth-child(2)) {
                text-align: right;
            }

            &:first-child, &:nth-child(2) {
                text-align: left;
            }
        }

        td {
            &:not(:first-child) {
                text-align: right;
            }

            &:first-child, &:nth-child(2) {
                text-align: left;
            }

            text-align: center;
            padding: 5px 10px;
        }
    }

    .any {
        font-weight: bold;
        margin: 10px 0;

        & + div {
            width: 650px;
        }
    }
    .allDetails,.contact{
        display:none;
    }

    .contact {
        width: 90%;
        font-size: 11px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        margin-top: 50px;

        span:first-child {
            font-weight: bold;
        }
    }
}
