﻿@using DTO.Enums
@using Microsoft.Ajax.Utilities
@using Xencore.Helpers
@using Xencore.Managers.TablesOfPrices.Abstract
@model List<Domain.Entities.Schedule>
@{
    ViewBag.Title = "All Transactions";
    ViewBag.Admin = "lessonsmetric";
}
@section Head{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
    <style>
        .legend {
            color: #333;
            text-align: center;
            margin: 40px 0;
        }

            .legend span:first-child {
                color: #a1d418;
                display: block;
            }

        #table td.rw {
            background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        .datails {
            padding-left: 50px !important;
        }

        .filtering {
            text-align: center;
        }

            .filtering h1 {
                text-align: left;
                margin-left: 20px !important;
            }

        a.active {
            background-color: yellow;
        }
    </style>
}
@*<section class="blue-bg-prof hidden-xs"></section>*@
<section class="admin teacher-profile lessons-materic">
    <div class="container-fluid" id="my-account-container">
        <div class="row content-wrap">
            @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminDashboardHeader.cshtml", "Admin Dashboard");}
            <div class="col-lg-10 col-md-10 right-content">
                <div class="bgc-content-wrap clearfix">
                    <div class="col-xs-12">
                        <div class="myBoudget materic-wrap">
                            <div class="chart-chart">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-2 toe active">
                                            <div><a class="@(ViewBag.type == null || ViewBag.type == "All"?"active":"")" href="@Url.Action("Index", new {type = "All", ViewBag.query})">All</a></div>
                                        </div>
                                        <div class="col-xs-2 toe">
                                            <div><a class="@(ViewBag.type == "LastYear"?"active":"")" href="@Url.Action("Index", new {type = "LastYear", ViewBag.query})">Last Year</a></div>
                                        </div>
                                        <div class="col-xs-2 toe">
                                            <div><a class="@(ViewBag.type == "LastMonth"?"active":"")" href="@Url.Action("Index", new {type = "LastMonth", ViewBag.query})">Last Month</a></div>
                                        </div>
                                        <div class="col-xs-2 toe">
                                            <div><a class="@(ViewBag.type == "LastWeek"?"active":"")" href="@Url.Action("Index", new {type = "LastWeek", ViewBag.query})">Last Week</a></div>
                                        </div>
                                        <div class="col-xs-2 toe">
                                            <div><a class="@(ViewBag.type == "Today"?"active":"")" href="@Url.Action("Index", new {type = "Today", ViewBag.query})">Today</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            @*<div class="row filtering">
                                <h1>Filter by period:</h1>
                                <div class="col-xs-2">
                                    <a class="@(ViewBag.type == null || ViewBag.type == "All"?"active":"")" href="@Url.Action("Index", new {type = "All", ViewBag.query})">All</a>
                                </div>
                                <div class="col-xs-2">
                                    <a class="@(ViewBag.type == "LastYear"?"active":"")" href="@Url.Action("Index", new {type = "LastYear", ViewBag.query})">Last Year</a>
                                </div>
                                <div class="col-xs-2">
                                    <a class="@(ViewBag.type == "LastMonth"?"active":"")" href="@Url.Action("Index", new {type = "LastMonth", ViewBag.query})">Last Month</a>
                                </div>
                                <div class="col-xs-2">
                                    <a class="@(ViewBag.type == "LastWeek"?"active":"")" href="@Url.Action("Index", new {type = "LastWeek", ViewBag.query})">Last Week</a>
                                </div>
                                <div class="col-xs-2">
                                    <a class="@(ViewBag.type == "Today"?"active":"")" href="@Url.Action("Index", new {type = "Today", ViewBag.query})">Today</a>
                                </div>
                                <div class="col-xs-2"></div>
                            </div>*@
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row legend">
                                        <div class="col-xs-2">
                                            <span>Total count lesons</span>
                                            <span>@Model.Count</span>
                                        </div>
                                        <div class="col-xs-2">
                                            <span>Trial lesons</span>
                                            <span>@Model.Count(x => x.Type == TypeLessons.Trial)</span>
                                        </div>
                                        <div class="col-xs-2">
                                            <span>Basic lesons</span>
                                            <span>@Model.Count(x => x.Type == TypeLessons.Basic)</span>
                                        </div>
                                        <div class="col-xs-2">
                                            <span>Premium lesons</span>
                                            <span>@Model.Count(x => x.Type == TypeLessons.Premium)</span>
                                        </div>
                                        <div class="col-xs-2">
                                            <span>Group lesons</span>
                                            <span>@Model.Count(x => x.Type == TypeLessons.Group)</span>
                                        </div>
                                        <div class="col-xs-2">

                                        </div>
                                    </div>
                                </div>
                                <div class="row legend">
                                    <div class="col-xs-2">
                                        <span>Total Price</span>
                                        <span>@Model.SelectMany(x => x.ScheduleTransactions).Sum(x => x.Price) (EUR)</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Price Trial lesons</span>
                                        <span>@Model.Where(x => x.Type == TypeLessons.Trial).SelectMany(x => x.ScheduleTransactions).Sum(x => x.Price)</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Price Basic lesons</span>
                                        <span>@Model.Where(x => x.Type == TypeLessons.Basic).SelectMany(x => x.ScheduleTransactions).Sum(x => x.Price)</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Price Premium lesons</span>
                                        <span>@Model.Where(x => x.Type == TypeLessons.Premium).SelectMany(x => x.ScheduleTransactions).Sum(x => x.Price)</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Price Group lesons</span>
                                        <span>@Model.Where(x => x.Type == TypeLessons.Group).SelectMany(x => x.ScheduleTransactions).Sum(x => x.Price)</span>
                                    </div>
                                    <div class="col-xs-2">

                                    </div>
                                </div>
                            </div>
                        <div class="row filtering search-wrap">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input value="@ViewBag.query" type="text" id="query" class="form-control" placeholder="Enter part of email or name of student or teacher" />
                                    <button type="button" id="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                            <div class="col-xs-12">
                                <table id="table">
                                    <thead>
                                        <tr>
                                            <th>Teacher Name</th>
                                            <th>Start (UTC)</th>
                                            <th>Type</th>
                                            <th>Language</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.OrderByDescending(x => x.StartDateTimeDateTime))
                                    {
                                        <tr>
                                            <td>@item.CustomUser.Name</td>
                                            <td>@item.StartDateTimeDateTime.ToString("dd/MM/yyyy hh:mm")</td>
                                            <td>@item.Type.ToString()</td>
                                            <td>@Resources.Resource.ResourceManager.GetString(item.Language)</td>
                                            <td>@item.ScheduleTransactions.Sum(x => x.Price) (EUR)</td>
                                        </tr>
                                        <tr class="child">
                                            <td class="datails child" colspan="4">
                                                <table>
                                                    <tbody>
                                                        @foreach (var stud in item.ScheduleTransactions.OrderByDescending(x => x.CreatedDate))
                                                        {
                                                            <tr>
                                                                <td>@stud.User.Name</td>
                                                                <td>@stud.User.Email</td>
                                                                <td>@stud.User.Location</td>
                                                                <td>@stud.Price (EUR)</td>
                                                                <td></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.10/URI.min.js"></script>
    <script>
        $("#table")
            .dataTable({
                "autoWidth": true,
                "ordering": false,
                "oLanguage": {
                    "sSearch": "",
                },
                language: {
                    searchPlaceholder: "Enter information to search..."
                },
                "dom": '<"top" lp>rt<"bottom"lp>'
            });
        $('.dataTables_filter input').attr("placeholder", "Enter information to search...");
        $("#submit").click(function () {
            var lc = location.href;
            console.log($("#submit").val());
            lc = URI(lc).removeSearch("query").addSearch("query", $("#query").val());
            location.href = lc;
        });
    </script>
}
