﻿@{
    Layout = null;
}

<div class="content-test-cards">
    <div class="content-wrapper">
        <!-- /            Content  header                    -->
        @*<div class="content-header">*@
            @*<div class="content-header__left">
                <div class="lesson-number">{{index}}</div>
                <span class="lesson-name">{{lessonName}}</span>
            </div>*@
            @*<div class="content-header__right">
                <button class="button-ask">
                    <i class="fa fa-question"></i>
                </button>
                <button class="button-close button-cards-close" ng-click="closeLessons()">
                    <i class="fa fa-times"></i>
                </button>
            </div>*@
            <!-- <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                    aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    40% Complete (success)
                    </div>
            </div> -->
        @*</div>*@
        <!-- /.content-header -->
        <!-- /            Content  main                     -->
        <div class="content-nav-main">

            <div class="progressbar-cards-lesson-wrapper">
                <progress class="progressbar-cards-lesson" max={{cards.length}} value={{curCheck}}></progress>
                <i class="material-icons" ng-style="isFinishedCards()">outlined_flag</i>
            </div>
          

            <button class="button-close button-cards-close" ng-click="closeLessons()"><i class="material-icons">close</i></button>
                @*<h2>slide {{curSlide + 1}} of {{cards.length}}</h2>*@
                <div class="    ">
                    <div class="animate-show-hide" ng-if="card">
                        <div class="animate-show-hide" ng-if="curType == '3'">
                            <choice-dir card="card"></choice-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="curType == '7'">
                            <video-dir card="card"></video-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="curType == '5'">
                            <words-dir card="card"></words-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="curType == '1'">
                            <pictures-dir card="card"></pictures-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="curType == '6'">
                            <sentence-dir card="card"></sentence-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="curType == '8'">
                            <memory-dir card="card"></memory-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="curType == '0'">
                            <voice-dir card="card"></voice-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="curType == '9'">
                            <non-dir card="card"></non-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="curType == '12'">
                            <translate-dir card="card"></translate-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="curType == '13'">
                            <listen-dir card="card"></listen-dir>
                        </div>
                        <div class="animate-show-hide" ng-if="!card.Type">
                        </div>


                    </div>
                </div>
        </div>
            <div class="white-popup mfp-hide succes-popup mfp-with-anim">
                <div class="popup-succes-wrap">
                    <div class="circle-succes"><span class="circle-percent">{{attempt.percentSuccuss}}%</span></div>
                    <h2 class="congrat-title">{{attempt.title}}</h2>
                    <span class="congrat-descr">{{attempt.description}}</span>
                    <button class="button-simple button_try-again" ng-click="tryAgain()">Try again</button>
                    <button class="button-simple button_next" ng-click="nextTry()">Next</button>
                </div>
            </div>
            <div class="content-footer check-footer" style="background-color: #ffffff" ng-if="!card.IsAnswered && card.Type != '9'">
                <div class="button-simple button_skip" ng-hide="(card.Type != '8') || (card.Type != '0')" ng-click="isSkip()">Skip</div>
                <div class="content-footer__decision decision-check">
                    <span class="custom-button-new button-check-cards" ng-click="testCheck()">check answer</span>
                </div>
            </div>
            <div class="content-footer" style="background-color: rgba(135, 213, 0, 0.36);" ng-if="card.IsAnswered && card.IsRightAnswer">
                <div class="content-footer__decision decision-right">
                    <span class="correct-icon"><i class="material-icons">done</i></span>
                    <span class="right-check">Correct answer!</span>

                </div>
                <div class="content-footer__next">
                    <span class="custom-button-new button-check-cards" ng-click="setTab();">Next slide</span>
                </div>
            </div>

            <div class="content-footer" style="background-color: rgba(229, 57, 53, 0.36);" ng-if="card.IsAnswered && !card.IsRightAnswer">
                <div class="content-footer__decision wrong-decision">
                    <span class="correct-icon"><i class="material-icons">close</i></span>
                    <div class="wrong-answer-wrapper">
                        <span class="right-check">Wrong!</span>
                        <span class="click-check words-check wrong-click-check" ng-show="rightAnswerIs">Correct Answer:&nbsp;<span class="correct-ans-wrong">{{rightAnswerIs}}</span></span>
                    </div>


                </div>
                <div class="content-footer__next">
                    <span class="custom-button-new button-wrong-cards" ng-click="setTab();">Next slide</span>
                </div>
            </div>
            <div class="content-footer" style="background-color: rgb(229, 245, 252)" ng-if="card.Type == '9'">
                <div class="content-footer__decision wrong-decision">

                </div>
                <div class="content-footer__next">
                    <span class="custom-button-new button-check-pdf" ng-click="setTab();">Next slide</span>
                </div>
            </div>
        </div>
</div>
