﻿
<div class="col-md-9">
    <div class="level-center classes-wrap">
        <div class="level-center_wrap">
            <h2 class="level-title">CAHPTERS {{chapters.length}} OF {{chapters.length}}</h2>
            <span class="level-descr">
                Chapters are sorted in order of difficulty, but you can choose any chapter by level
            </span>
            <ul class="level-nav">
                <li ng-repeat="chapter in chapters" ng-click="goTo('/self-study/level/'+levelId+'/chapter/' + chapter.Id)">
                    <chapter-progress chapterobj="chapter"></chapter-progress>
                </li>
            </ul>
            <button class="button_next-level button-simple" style="display: none;">Next Level</button>
        </div>
    </div>
</div>