﻿
<div class="col-md-9">
    <div class="level-center classes-wrap">
        <div class="level-center_wrap">
            <h2 class="level-title">LEVELS {{levels.length}} OF {{levels.length}}</h2>
            <span class="level-descr">
                Some Text
            </span>
            <ul class="level-nav">
                <li ng-repeat="level in levels" ng-click="goTo('/self-study/level/' + level.Id)">
                    <level-progress levelobj="level"></level-progress>
                </li>
            </ul>
            <button class="button_next-level button-simple" style="display: none;">Next Level</button>
        </div>
    </div>
</div>