﻿@{
    Layout = null;
}
<div class="vocabulary-right">
    <div class="succes-wrap vocabulary-right_item">
        <h3>Success</h3>
        <div class="circle-progress"><span class="circle-percent">{{statistic.Percent}}%</span></div>
        <span>Passed {{statistic.CompletedLessons}} lessons out of {{statistic.TotalLessons}}</span>
    </div>
    <!-- /.succes-wrap -->
    <div class="balance-wrap vocabulary-right_item">
        <h3>Balance</h3>
        <span>{{getTotalPoints()}} points</span>
    </div>
    <!-- /.balance -->
    <div class="cart-wrap vocabulary-right_item" ng-show="false">
        <h3>Your cart</h3>
        <span>You have 0 items in your cart</span>
        <a class="toshop" href="#">Go to shop</a>
    </div>
    <div class="cart-wrap vocabulary-right_item" ng-show="true">
        <h3>Your cart</h3>
        <span>You have 1 items in your cart</span>
        <span>Total price: €300.00</span>
        <button class="button-simple button-checkout">Checkout</button>
        <a class="toshop" href="#">Open cart</a>
        <a class="toshop" href="#">Go to shop</a>
    </div>
    <!-- /.cart-wrap -->
    <div class="brain-tournament-wrap vocabulary-right_item">
        <h3>Brain tournament 1x1</h3>
        <span>Now 3 people in the game</span>
        <button class="button_play button-simple">Play</button>
    </div>
    <!-- /.brain-tournament-wrap -->
    <div class="ratings-wrap vocabulary-right_item">
        <h3>Ratings</h3>
        <ul class="ratings-nav">
            <li ng-repeat="user in statistic.rating">
                <span ng-class="{'your-rate':user.IsYou}">{{user.Index + 1}}. {{user.Name}}</span>
            </li>
            @*<li><span>2. Joshua Larson</span></li>
                <li><span>3. Sherri Meyer</span></li>
                <li><span class="your-rate">77. Boichenko Artem</span></li>*@
        </ul>
    </div>
    <!-- /.ratings-wrap -->
</div>
