﻿@{
    Layout = null;
}
<div class="col-md-9">
    <div class="viewVocaWrap">
        <h2 ng-click="goto('/self-study/level/'+levelId)" class="backLevelPage"><i class="fa fa-angle-left"></i>Chapter "{{chapter.Name}}"</h2>
        <span>Go through the lessons and get at least 75% success</span>
        <div class="vocabulary-center">

            <ul class="vocabulary-nav">
                <li ng-repeat="lesson in chapter.Lessons" ng-click="goto('/self-study/level/'+levelId+'/chapter/'+chapterId+'/lesson/' + lesson.Name + '/' + ($index + 1) + '/' +  lesson.Id, lesson)" class="backLevelPage" ng-class="{'locked':!lesson.IsAvailable}">
                    <div class="li-left_vocabulary">
                        <div class="avatar-lesson">
                            <img src="~/Images/clear.png" ng-src="{{lesson.IconSrc}}">
                        </div>
                        <div class="lesson-title">
                            <h4> {{$index + 1}}. {{lesson.Name}} </h4>
                            <span>{{lesson.CountCards}} cards</span>
                        </div>
                    </div>
                    <lesson-progress lessonobj="lesson" previd="{{$index?chapter.Lessons[$index-1].Id: null}}"></lesson-progress>
                </li>
            </ul>
        </div>
    </div>
</div>