﻿
<div class="about_us">
    <div class="video">
        <video id="video2" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
            <source src="~/Content/professional_in_office.webm" type='video/webm; codecs="vp8, vorbis"' />
            <source src="~/Content/professional_in_office.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            <source src="~/Content/professional_in_office.ogv" type='video/ogg; codecs="theora, vorbis"' />
        </video>
    </div>
    <div class="content container flexable justify-content_center align_items_center">
        <div class="navigation">
            <i data-to=".learn_languages_online" class="fa fa-home"></i>
            <div class="dash"></div>
            <i data-to=".plans_prices" class="fa fa-credit-card"></i>
            <div class="dash"></div>
            <i data-to=".about_us" class="active_nav fa fa-users"></i>
            <div class="dash"></div>
            <i data-to=".testimonials" class="fa fa-comments-o"></i>
            <div class="dash"></div>
            <i data-to=".learn_by_immertial" class="fa fa-check"></i>
        </div>
        <div class="inner_block_content">
            <h1>@Resources.Resource.AboutUs</h1>
            <h2 class="post_header">
                @Resources.Resource.GlobalOnline
            </h2>
            <div class="description">
                @Resources.Resource.WeOfferLive
            </div>
            <div class="global_lang ui grid center aligned">
                <div class="doubling four column row">
                    <div class="one mobile wide two tablet wide column">
                        <div class="bullet_center">
                            <div class="img mission"></div>
                            <h4>@Resources.Resource.OurMission</h4>
                            <div class="desk">
                                @Resources.Resource.UnderOurMission
                            </div>
                        </div>
                    </div>
                    <div class="one mobile wide two tablet wide column">
                        <div class="bullet_center">
                            <div class="img vision"></div>
                            <h4>@Resources.Resource.OurVision</h4>
                            <div class="desk">
                                @Resources.Resource.UnderOurVision
                            </div>
                        </div>
                    </div>
                    <div class="one mobile  two tablet wide column">
                        <div class="bullet_center">
                            <div class="img values"></div>
                            <h4>@Resources.Resource.OurValues</h4>
                            <div class="desk">
                                @Resources.Resource.UnderOurValues
                            </div>
                        </div>
                    </div>
                    <div class="one mobile  two tablet wide column">
                        <div class="bullet_center">
                            <div class="img comm"></div>
                            <h4>@Resources.Resource.OurCommint</h4>
                            <div class="desk">
                                @Resources.Resource.UnderOurCommint
                            </div>
                        </div>
                    </div>
                </div>
            </div>            


                <div class="tutorial_btns flexable justify-content_center">
                    <div class="btn" id="go_to_courses">
                        <span class="wrapper_awesome"><i class="fa fa-university"></i></span>@Resources.Resource.Courses
                    </div>
                    <div class="btn" id="go_to_FAQ">
                        <span class="wrapper_awesome"><i class="fa fa-info-circle"></i></span>FAQ
                    </div>
                </div>
            </div>
                </div>
            </div>
