﻿<section class="sect-wrap sect-benefits">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <p class="title"><span class="subtitle">@Resources.Resource.Whylearnalanguage</span>@Html.Raw(Resources.Resource.BENEFITS)</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="benefits-item image-left clearfix">
                <div class="col-md-6 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-0 no-paddings">
                    <img src="~/Images/benefits1.jpg" />
                </div>
                <div class="col-md-6 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-0 flex no-paddings">
                    <div class="description">
                        <span class="item-title">@Html.Raw(Resources.Resource.BoostYour)</span>
                        <p>@Resources.Resource.Boostingyourconfidence</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (!Response.Cookies.AllKeys.Contains("isNewLandingPage") && !Request.Cookies.AllKeys.Contains("isNewLandingPage"))
                            {
                                <a href="@Url.Action("ListOfTeachers", "ListOfTeachers")" class="custom-button-new button-border waves-effect waves-light">@Resources.Resource.Createanaccount</a>
                            }
                            else
                            {
                                <div onclick="location.href='@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button-new button-border waves-effect waves-light">@Resources.Resource.Starttoboost</div>
                            }
                        }
                        else
                        {
                            <div onclick="location.href='@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button-new button-border waves-effect waves-light">@Resources.Resource.Starttoboost</div>
                        }
                    </div>
                </div>
            </div>
            <div class="benefits-item image-right clearfix">
                <div class="col-md-6 col-md-push-6 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-0 no-paddings">
                    <img src="~/Images/benefits2.jpg" />
                </div>
                <div class="col-md-6 col-md-pull-6 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-0 flex no-paddings">
                    <div class="description">
                        <span class="item-title">@Resources.Resource.Improveyourcommunicationscills</span>
                        <p>
                            @Resources.Resource.Havinggoodcommunication
                        </p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (!Response.Cookies.AllKeys.Contains("isNewLandingPage") && !Request.Cookies.AllKeys.Contains("isNewLandingPage"))
                            {
                                <a href="@Url.Action("ListOfTeachers", "ListOfTeachers")" class="custom-button-new button-border waves-effect waves-light">@Resources.Resource.Createanaccount</a>
                            }
                            else
                            {
                                <div onclick="location.href='@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button-new button-border waves-effect waves-light">@Resources.Resource.Starttoimprove</div>
                            }

                        }
                        else
                        {
                            <div onclick="location.href='@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button-new button-border waves-effect waves-light">@Resources.Resource.Starttoimprove</div>
                        }
                    </div>
                </div>
            </div>
            <div class="benefits-item image-left clearfix">
                <div class="col-md-6 col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-md-offset-0 no-paddings">
                    <img src="~/Images/benefits3.jpg" />
                </div>
                <div class="col-md-6 col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-md-offset-0 flex no-paddings">
                    <div class="description">
                        <span class="item-title">@Resources.Resource.Learnanewculture</span>
                        <p>
                            @Resources.Resource.Asyoulearnanewlanguage
                        </p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (!Response.Cookies.AllKeys.Contains("isNewLandingPage") && !Request.Cookies.AllKeys.Contains("isNewLandingPage"))
                            {
                                <a href="@Url.Action("ListOfTeachers", "ListOfTeachers")" class="custom-button-new button-border waves-effect waves-light">@Resources.Resource.Createanaccount</a>
                            }
                            else
                            {
                                <div onclick="location.href='@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button-new button-border waves-effect waves-light">@Resources.Resource.Starttolearn</div>
                            }

                        }
                        else
                        {
                            <div onclick="location.href='@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button-new button-border waves-effect waves-light">@Resources.Resource.Starttolearn</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
