﻿<div class="trial for_buy">
    <div class="pop_up_trial step_1 for_bycourse">
        <span id="close_trial_step1" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
        <div class="header">
            <span>@Resources.Resource.Step1</span>
            <h2>
                @Resources.Resource.BuyCourse
            </h2>
        </div>
        <div class="log_in_with">
            <div>@Resources.Resource.ChooseTheDetails</div>
            <div id="EveryfieldrequaredBuy" class="serviceMessageMain">
                <span class="flexable justify-content_center align_items_center">
                    <span>@Resources.Resource.Everyfieldrequared</span>
                </span>
            </div>
            <div class="last inputs flexable justify-content_center align_items_center">
                <div class="skype">
                    <label>@Resources.Resource.StartDate</label>
                    <img src="/Images/openlang/date.jpg"/>
                    <input type="text" id="choose_date_for_buy" placeholder="@Resources.Resource.StartDate">
                </div>
                <div class="ch_selectLang">
                    <label>@Resources.Resource.ChooseLang</label>
                    <div class="ui selection dropdown drops">
                        <input type="hidden" name="country">
                        <i class="dropdown icon"></i>
                        <div class="default text">@Resources.Resource.ChooseLang</div>
                        <div class="menu">
                            <div class="item" data-value="us">
                                <i class="us flag"></i>@Resources.Resource.English
                            </div>
                            <div class="item" data-value="fr">
                                <i class="fr flag"></i>@Resources.Resource.French
                            </div>
                            <div class="item" data-value="de">
                                <i class="de flag"></i>@Resources.Resource.German
                            </div>
                            <div class="item" data-value="gr">
                                <i class="gr flag"></i>@Resources.Resource.Greek
                            </div>
                            <div class="item" data-value="it">
                                <i class="it flag"></i>@Resources.Resource.Italian
                            </div>
                            <div class="item" data-value="br">
                                <i class="br flag"></i>@Resources.Resource.Portuguese
                            </div>
                            <div class="item" data-value="es">
                                <i class="es flag"></i>@Resources.Resource.Spanish
                            </div>
                            <div class="item" data-value="se">
                                <i class="se flag"></i>@Resources.Resource.Swedish
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch_level ch_levelBuy">
                    <label>@Resources.Resource.ChooseLevel</label>
                    <select id="choose_level_for_buy">
                        <option value="">
                            @Resources.Resource.ChooseLevel
                        </option>
                        <option value="0">
                            @Resources.Resource.Beginner
                        </option>
                        <option value="1">
                            @Resources.Resource.UpperBeginner
                        </option>
                        <option value="2">
                            @Resources.Resource.Intermediate
                        </option>
                        <option value="3">
                            @Resources.Resource.UpperIntermediate
                        </option>
                        <option value="4">
                            @Resources.Resource.Advanced
                        </option>
                        <option value="5">
                            @Resources.Resource.UpperAdvanced
                        </option>
                    </select>
                </div>
            </div>
            <div class="line_dash"></div>
            <div class="flexable justify-content_space_between conf_shedule align_items_center">
                <div>
                    <div class="confirm_buy_course">@Resources.Resource.BookYourCourse</div>
                    <div><span>Course:</span><span id="res_course"></span></div>
                    <div><span>@Resources.Resource.PayNow</span><span id="res_pay"></span></div>
                </div>
                <div>
                    <span id="confitm_payment_buy_course" class="top_btn">@Resources.Resource.CheckOut <i class="fa fa-long-arrow-right"></i></span>
                    <div style="margin-top: 5px;">
                        <i class="fa fa-shield"></i> @Resources.Resource.ViaSecureServer
                    </div>
                </div>
            </div>
            <div class="line_dash"></div>
            <div class="already">
                <span>
                    @Html.Raw(Resources.Resource.TermsOfServoce)
                </span>
            </div>
        </div>
    </div>
    <div style="position: absolute" class="pop_up_trial step_2">
        <span id="close_trial_step2" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
        <div class="header">
            <span>@Resources.Resource.Step2</span>
            <h2>@Resources.Resource.BuyCourse</h2>
        </div>
        <div class="log_in_with">
            <div>
                <a id="go_back_buy"><i class="fa fa-long-arrow-left"></i>@Resources.Resource.BackToStep1</a>
            </div>
            <div id="EveryfieldrequaredBuyStep2" class="serviceMessageMain">
                <span class="flexable justify-content_center align_items_center">
                    <span>@Resources.Resource.Everyfieldrequared</span>
                </span>
            </div>
            <div id="CustomErrorBuy" class="serviceMessageMain">
                <span class="flexable justify-content_center align_items_center">
                    <span id="messageBuy"></span>
                </span>
            </div>
            <div class="pay_method">
                <h5>@Resources.Resource.ChoosePayMethod</h5>
                <div  class="payment_methods">
                    <div>
                        <div>
                            <div class="card_name">@Resources.Resource.CreditCard</div>
                            <div class="pay_type flexable align_items_center">
                                <input type="checkbox" checked value="visa" /> <img src="/Images/openlang/visa.png">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="card_name">PayPal</div>
                            <div class="pay_type flexable align_items_center">
                                <input type="checkbox" value="pay_pal" /> <img src="/Images/openlang/pay_pal.png">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="card_name">TenPay</div>
                            <div class="pay_type flexable align_items_center">
                                <input type="checkbox" value="ten_pay"/> <img src="/Images/openlang/ten_pay.png">
                            </div>
                        </div>
                    </div>
                    <div class="confirm_privacy">
                        <input type="checkbox" id="checkTermsConfirmation" />@Html.Raw(Resources.Resource.ToContinueClick)
                    </div>
                </div>
            </div>
            <div class="card_details">
                <h4 class="flexable justify-content_space_between">
                    @Resources.Resource.CaedDetials
                </h4>
                <div class="card_info flexable">
                    <div>
                        <div class="flexable justify-content_space_between">
                            <div>
                                <label>@Resources.Resource.NameOfCard</label><br>
                                <input type="text" id="cardOwner" placeholder="@Resources.Resource.EnterYourName">
                            </div>
                            <div class="ch_cardType">
                                <label>@Resources.Resource.CardType</label><br>
                                <select id="typeCard_for_by_course">
                                    <option value="">@Resources.Resource.CardType</option>
                                    <option>Visa</option>
                                    <option>Master Card</option>
                                    <option>American Express</option>
                                    <option>JCB</option>
                                    <option>Discover</option>
                                    <option>Diners Club</option>
                                </select>
                            </div>
                        </div>
                        <div class="card_num">
                            <label>@Resources.Resource.CardNumber</label>
                            <input type="text" id="cardNumber" placeholder="@Resources.Resource.CardNumber">
                        </div>
                        <div class="flexable justify-content_space_between date_card">
                            <div>
                                <img src="/Images/openlang/mastercard.png">
                            </div>
                            <div class="mnth">
                                <label>@Resources.Resource.CardExpiryDate</label><br>
                                @*<input type="text" id="date_expary_for_buy_course" placeholder="@Resources.Resource.CardExpiryDate">*@
                                <select id="selectMonth" class="selection ui dropdown">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <select id="selectYear" class="selection ui dropdown">
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>

                                <script>
                                    var date = new Date();
                                    var month = date.getMonth() + 1;
                                    var mth = pad(month);
                                    $("#selectMonth").children("option").each(function (index,elem) {
                                        if(parseInt(elem.value)<month)
                                            elem.setAttribute("disabled", "disabled");
                                    }).end().dropdown('set selected', mth);
                                    $("#selectMonth").dropdown('set selected', mth);
                                    $("#selectYear").dropdown('set selected', date.getFullYear());
                                    $("#selectYear").dropdown({
                                        onChange: function (p, text, val) {
                                            var year = parseInt(val);
                                            if (year === new Date().getFullYear()) {
                                                $("#selectMonth").siblings(".menu.transition").find("item")
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="sec_code">Security code</div>
                    <div class="cvc">
                        <div>
                            <label>CVC / CVV / CID:</label><br>
                            <input type="text" id="cvc" placeholder="321">
                            <div>
                                @Resources.Resource.WhatIs CVC/ CVV / CID? <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line_dash"></div>
            </div>
            <div style="display: none" class="pay_pal pal">
                <h4>@Resources.Resource.Information</h4>
                <div>@Resources.Resource.ForPayPalText</div>
            </div>
            <div style="display: none" class="pay_pal ten">
                <h4>@Resources.Resource.Information</h4>
                <div>@Resources.Resource.ForTanPayText</div>
            </div>

            <div class="flexable justify-content_space_between conf_shedule align_items_center">
                <div>
                    <div>@Resources.Resource.BookYourCourse</div>
                    <div><span>Course:</span><span id="res_name_2_for_by_course"></span></div>
                    <div><span>@Resources.Resource.PayNow</span><span id="res_pay_2_for_by_course"></span></div>
                </div>
                <div>
                    <span id="confitm_payment" class="top_btn">@Resources.Resource.ConfirmPayment <i class="fa fa-long-arrow-right"></i></span>
                    <div style="margin-top: 5px;">
                        <i class="fa fa-shield"></i> Via Secure server!
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 20px;" class="line_dash"></div>
        </div>
    </div>
    <div class="thanks">
        <div class="header">
            <span id="close_trial_step_thanks" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
            <span>Step 3 of 3</span>
            <h2>@Resources.Resource.BuyCourse</h2>
        </div>
        <div class="pay_compleate">
            <h4>@Resources.Resource.PayComplete</h4>
            <p>
                @Resources.Resource.ThankYou <span id="userName"></span> @Resources.Resource.YourOrderHasBeen
            </p>
        </div>
    </div>
    <div class="ex_terms t_o_s">
        <div class="terms_popiup">
            <h2>
                Terms of service
                <span id="close_terms" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
            </h2>
            <div class="text">
                <div>
                    This Site is the property of Open Languages Limited and its licensors.
                    BY USING THE SITE, you agree that you have read, understand and agree,
                    to be bound by the Terms of Service set out below. IF YOU DO NOT AGREE, DO NOT USE THE SITE.
                    <h5>1. Your Use of the Site</h5>
                    y using the Site you agree to be bound by the Terms of Service and to follow all applicable laws, guidelines and policies and confirm that you are 18 years of age or older or otherwise are an entity that can form legally binding contracts under applicable law.<br><br>
                    You must provide your first name, last name, current address, a valid email address, and any other information needed in order to complete your registration process.<br><br>
                    Your rights: Subject to the Terms of Service, you are hereby granted a limited, revocable, non-exclusive right to access, use and display the Site and the content and materials on the website in the normal course of your use of the Site.<br><br>
                    Accounts/Securities/Passwords: you may register to utilize this Site by completing the specified registration process and providing us with current, complete, and accurate information as requested by the online registration form. It is your responsibility to maintain the completeness and accuracy of your registration data, and any loss caused by your failure to do so is your responsibility. You agree to notify Open Languages immediately of any unauthorized use of your account. Open Languages is not liable for any loss that you may incur as a result of someone else using your account, either with or without your knowledge.<br><br>
                    You are only authorized to use this Site for lawful purposes.
                    This Site is the property of Open Languages Limited and its licensors.
                    BY USING THE SITE, you agree that you have read, understand and agree,
                    to be bound by the Terms of Service set out below. IF YOU DO NOT AGREE, DO NOT USE THE SITE.
                    <h5>1. Your Use of the Site</h5>
                    y using the Site you agree to be bound by the Terms of Service and to follow all applicable laws, guidelines and policies and confirm that you are 18 years of age or older or otherwise are an entity that can form legally binding contracts under applicable law.<br><br>
                    You must provide your first name, last name, current address, a valid email address, and any other information needed in order to complete your registration process.<br><br>
                    Your rights: Subject to the Terms of Service, you are hereby granted a limited, revocable, non-exclusive right to access, use and display the Site and the content and materials on the website in the normal course of your use of the Site.<br><br>
                    Accounts/Securities/Passwords: you may register to utilize this Site by completing the specified registration process and providing us with current, complete, and accurate information as requested by the online registration form. It is your responsibility to maintain the completeness and accuracy of your registration data, and any loss caused by your failure to do so is your responsibility. You agree to notify Open Languages immediately of any unauthorized use of your account. Open Languages is not liable for any loss that you may incur as a result of someone else using your account, either with or without your knowledge.<br><br>
                    You are only authorized to use this Site for lawful purposes.
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    var chLang2;
    var selectedLang;
    var selectedLevel;
    var signInpop = new SignUpPupup();
    $(".ch_selectLang:not(#selLangForSing) .dropdown").dropdown({
        onChange: function (p, text, val) {
            selectedLang = val[0].textContent.replace(Patterns.replaceTabsAndNewLines, '');
            chLang2 = selectedLang + "_" + p;
        }
    });
    if (RegistratedUser.isInit && RegistratedUser.selectedLearnLang)
        $(".ch_selectLang:not(#selLangForSing) .dropdown").dropdown('set selected', RegistratedUser.selectedLearnLang.split('|')[0]);
    $("#choose_level_for_buy").dropdown({
        onChange: function (p, text) {
            selectedLevel = text;
        }
    });
    //$("#typeCard_for_by_course").ddslick();
    $("#typeCard_for_by_course").dropdown({
        onChange: function () {

        }
    });
    $("#choose_date_for_buy").datepicker("option", "dateFormat", "mm.dd.yy").datepicker({ minDate: 0});
    //$("#date_expary_for_buy_course").datepicker();

    function ShowBuyCourse(tr, course) {
        $("#close_trial_step1,#close_trial_step2").unbind("click").bind("click", function () {
            var tr = $(".trial");
            tr.children(".pop_up_trial").animate({ "top": "-100%" }, 500, function () {
                tr.css("display", "none");
            });
            signInpop.SuccessAllParams = null;
        });
        $("#close_trial_step_thanks").unbind("click").bind("click", function () {
            var tr = $(".trial.for_buy");
            tr.children(".thanks").animate({ "top": "-100%" }, 500, function () {
                tr.css("display", "none");
            });
            signInpop.SuccessAllParams = null;
        });
        var price;
        var EndPrice;
        if (course === "basic") {
            price = $(PlansPrices.CurrentPriceBasic).text();
            EndPrice = PlansPrices.PriceBasic;
        } else {
            price = $(PlansPrices.CurrentPricePrimium).text();
            EndPrice = PlansPrices.PricePremium;
        }
        tr.css("display", "block");
        if (RegistratedUser.isInit && RegistratedUser.currency)
            var cur = RegistratedUser.currency.split(':')[0];
        tr.find("#res_pay, #res_pay_2_for_by_course").text((cur === "EUR " || !cur) ? "EUR " + price : cur + " " + price);
        tr.find("#res_course, #res_name_2_for_by_course").text($(PlansPrices.CurrentCountLesson).text() + " @Resources.Resource.individLessons");
        tr.children(".pop_up_trial.step_1.for_bycourse").animate({ "top": "50%" }, 500);
        $(".terms").unbind("click").bind("click", function () {
            tr.children(".pop_up_trial.step_1").animate({ "top": "-100%" }, 500);
            tr.find(".ex_terms")
                .css("display", "block")
                .children(".terms_popiup")
                .animate({ "top": "50%" }, 500);

        });
        tr.find("#close_terms").unbind("click").bind("click", function () {
            $(this).parents(".terms_popiup").animate({ "top": "-100%" }, 500, function () {
                $(this).parent(".ex_terms").css("display", "none");
            });
            $(this).parents(".ex_terms").siblings(".pop_up_trial.step_1.for_bycourse").animate({ "top": "50%" }, 500);
        });

        $("#termsTobuy").unbind("click").bind("click", function () {
            tr.children(".pop_up_trial.step_2").animate({ "top": "-100%" }, 500);
            tr.find(".ex_terms")
                .css("display", "block")
                .children(".terms_popiup")
                .animate({ "top": "50%" }, 500);

        });
        tr.find("#close_terms").unbind("click").bind("click", function () {
            $(this).parents(".terms_popiup").animate({ "top": "-100%" }, 500, function () {
                $(this).parent(".ex_terms").css("display", "none");
            });
            $(this).parents(".ex_terms").siblings(".pop_up_trial.step_2").animate({ "top": "50%" }, 500);
        });

        $("#confitm_payment_buy_course").unbind("click").bind("click", function () {
            var flag = true;
            var dateVal = $("#choose_date_for_buy").val();
            if (!dateVal || !dateVal.match(Patterns.date)) {
                $("#choose_date_for_buy").css("border-color", "red");
                flag = false;
            }
            else $("#choose_date_for_buy").css("border-color", "#ccc");
            if (!selectedLang) {
                $(".ch_selectLang .ui.selection.dropdown").css("border-color", "red");
                flag = false;
            }
            else $(".ch_selectLang .ui.selection.dropdown").css("border-color", "#ccc");
            if (!selectedLevel) {
                $(".ch_levelBuy .ui.selection.dropdown").css("border-color", "red");
                flag = false;
            }
            else $(".ch_levelBuy .ui.selection.dropdown").css("border-color", "#ccc");
            if (!flag) {
                $("#EveryfieldrequaredBuy").fadeIn("slow");
                return;
            }
            $("#EveryfieldrequaredBuy").fadeOut("slow");
            tr.children(".pop_up_trial.step_1").animate({ "top": "-100%" }, 500);
            var step2 = tr.children(".pop_up_trial.step_2");
            step2.animate({ "top": "50%" }, 500);
            step2.find("#go_back_buy").unbind("click").bind("click", function () {
                step2.animate({ "top": "-100%" }, 500);
                tr.children(".pop_up_trial.step_1.for_bycourse").animate({ "top": "50%" }, 500);
            });
            step2.find("input[type='checkbox']:not(#checkTermsConfirmation)").on("change", function () {
                step2.find("input[type='checkbox']").filter(":checked").removeAttr("checked");
                this.checked = true;
                if (this.value == "pay_pal") {
                    $(".card_details").hide();
                    $(".pay_pal.ten").hide();
                    $(".pay_pal.pal").show();
                }
                if (this.value == "ten_pay") {
                    $(".card_details").hide();
                    $(".pay_pal.ten").show();
                    $(".pay_pal.pal").hide();
                }
                if (this.value == "visa") {
                    $(".card_details").show();
                    $(".pay_pal.ten").hide();
                    $(".pay_pal.pal").hide();
                }
            });
            step2.find("#confitm_payment").unbind("click").bind("click", function () {
                if ($(".pay_pal.pal").css("display") === "block") {
                    var checkConfirm2 = $("#checkTermsConfirmation");
                    if (!checkConfirm2.is(":checked")) {
                        checkConfirm2.parent().css("background-color", "yellow");
                        return;
                    }
                    else checkConfirm2.parent().css("background-color", "transparent");
                    //$("body").prepend("<div id='curtain' style='z-index:100;position:fixed; width:100%; height:100%; background-color:rgba(0,0,0,0.7)'></div>");
                    step2.animate({ "top": "-100%" }, 500);
                    startLoader();
                    $.ajax({
                        method: "post",
                        url: '@Url.Action("Get_PayPalLink", "PayPalPayment")',
                        data: {
                            CountLessons: parseInt($(PlansPrices.CurrentCountLesson).text()),
                            Amount: parseFloat(EndPrice),
                            SelectedLanguage: selectedLang,
                            StartDate: $("#choose_date_for_buy").val(),
                            SelectedLevel: selectedLevel,
                            CourseType: course,
                            UtcDateTime: new Date().toString(),
                            Advance: $("#res_pay_2_for_by_course").text(),
                            chLang: chLang2
                        },
                        success: function(e) {
                            location.href = e.success;
                        },
                        error: function(err) {
                            // $("#curtain").remove();
                            step2.animate({ "top": "50%" }, 500);
                            $("#EveryfieldrequaredBuyStep2").fadeOut("slow");
                            stopLoader();
                            alert(err.responseJSON.error);
                        }
                    });
                }
                if ($(".card_details").css("display") === "block") {
                    var typecard2 = $("#typeCard_for_by_course").dropdown('get value');
                    var mnth = $("#selectMonth").dropdown("get value");
                    var yy = $("#selectYear").dropdown("get value");
                    var error;
                    var cardOwner = $("#cardOwner");
                    var cardNumber = $("#cardNumber");
                    // var date = $("#date_expary_for_buy_course");
                    var cvc = $("#cvc");
                    var checkConfirm = $("#checkTermsConfirmation");
                    if (!cardOwner.val()) {
                        cardOwner.css("border-color", "red");
                        error = true;
                    }
                    else cardOwner.css("border-color", "#ccc");
                    if (!cardNumber.val()) {
                        cardNumber.css("border-color", "red");
                        error = true;
                    }
                    else cardNumber.css("border-color", "#ccc");
                    //if (!date.val() || !date.val().match(/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/)) {
                    //    date.css("border-color", "red");
                    //    error = true;
                    //}
                    //else date.css("border-color", "#ccc");
                    if (!cvc.val()) {
                        cvc.css("border-color", "red");
                        error = true;
                    }
                    else cvc.css("border-color", "#ccc");
                    if (!typecard2[0]) {
                        $(".ch_cardType .selection.ui.dropdown").css("border", "1px solid red");
                        error = true;
                    }
                    else $(".ch_cardType .selection.ui.dropdown").css("border", "1px solid #ccc");
                    if (!checkConfirm.is(":checked")) {
                        checkConfirm.parent().css("background-color", "yellow");
                        error = true;
                    }
                    else checkConfirm.parent().css("background-color", "transparent");
                    if (error) {
                        $("#EveryfieldrequaredBuyStep2").fadeIn("slow");
                        return;
                    }
                    $("#EveryfieldrequaredBuyStep2").fadeOut("slow");
                    //$("body").prepend("<div id='curtain' style='z-index:100;position:fixed; width:100%; height:100%; background-color:rgba(0,0,0,0.7)'></div>");
                    step2.animate({ "top": "-100%" }, 500);
                    startLoader();
                    $.ajax({
                        method: "post",
                        url: '@Url.Action("MakePayment", "CreditCardPayment")',
                        data: {
                            Name: $("#cardOwner").val(),
                            CardNumber: $("#cardNumber").val(),
                            ExpMonth: parseInt(mnth),
                            ExpYear: parseInt(yy),
                            Cvc: $("#cvc").val(),
                            Advance: $("#res_pay_2_for_by_course").text(),
                            PaymentDetails: {
                                CountLessons: parseInt($(PlansPrices.CurrentCountLesson).text()),
                                Amount: parseFloat(EndPrice),
                                SelectedLanguage: selectedLang,
                                StartDate: $("#choose_date_for_buy").val(),
                                SelectedLevel: selectedLevel,
                                CourseType: course,
                                UtcDateTime: new Date().toString(),
                                chLang:chLang2
                            }
                        },
                        success: function (e) {
                            //$("#curtain").remove();
                            tr.find(".thanks").animate({ "top": "50%" }, 500).find("h2").text("@Resources.Resource.BuyCourse " + $("#res_pay_2_for_by_course").text()).end().find("#userName").text(RegistratedUser.userName);
                            stopLoader();
                        },
                        error: function (err) {
                            //$("#curtain").remove();
                            stopLoader();
                            $("#CustomErrorBuy").fadeIn("slow").find("#messageBuy").text(err.responseJSON.error);
                            step2.animate({ "top": "50%" }, 500);
                            //alert(err.responseJSON.error);
                        }
                    });
                }
                if ($(".pay_pal.ten").css("display") === "block") {
                    var checkConfirm3 = $("#checkTermsConfirmation");
                    if (!checkConfirm3.is(":checked")) {
                        checkConfirm3.parent().css("background-color", "yellow");
                        return;
                    }
                    else checkConfirm3.parent().css("background-color", "transparent");
                    $.ajax({
                        method: "post",
                        url: '@Url.Action("MakePayment", "TenPayPayment")',
                        data: { countLessons: parseInt($(PlansPrices.CurrentCountLesson).text()), price: parseFloat(price) },
                        success: function (e) {
                            location.href = e;
                        },
                        error: function (err) {
                            console.log(err.responseJSON.error);
                        }
                    });
                }

            });
        });
    }
    $("#sign_up1,#sign_up2").unbind("click").bind("click", function () {
        var user = localStorage.getItem("user");
        var tr = $('.trial.for_buy');
        if (user === null) {
            signInpop.Show();
        } else {
            var c = "";
            if ($(this).attr("id") === "sign_up2")
                c = "premium";
            else
                c = "basic";
            ShowBuyCourse(tr, c);
        }
    });
</script>