﻿<footer>
    <div class="content flexable justify-content_space_between">
        <div>
            <img class="logo" src="~/Images/openlang/new-lp-with-video.png">
            @*<div>Budenerstrasse 549</div>
                <div>8048 Zurich</div>
                <div>Switzerland</div>
                <div>
                    <i class="fa fa-phone-square"></i>00800 241 241 24
                </div>
                <div><i class="fa fa-envelope"></i>info@openlanguages.com</div>*@
        </div>
        <div>
            <h3>@Resources.Resource.Company</h3>
            <a class="show_pop_law">@Html.ActionLink(Resources.Resource.Offices, "Offices", "Openlang")</a>
            @*<a class="show_pop_law" data-pop=".ex_terms.t_o_s">@Resources.Resource.Terms</a>
            <a class="show_pop_law" data-pop=".ex_terms.privacyP">@Resources.Resource.Privacy</a>*@
            @Html.ActionLink(Resources.Resource.Terms, "Terms", "PrivacyAndTerms",new {@class= "show_pop_law" })
            @Html.ActionLink(Resources.Resource.Privacy, "Privacy", "PrivacyAndTerms", new { @class = "show_pop_law" })
        </div>
        <div>
            <h3>@Resources.Resource.JoinUs</h3>
            @Html.ActionLink(Resources.Resource.Forteachers, "Teachers", "Forteachers")
            @Html.ActionLink(Resources.Resource.ContactUs, "ContactUs", "ContactUs")
        </div>
        <div>
            <h3>@Resources.Resource.Info</h3>
            @Html.ActionLink(Resources.Resource.Courses, "Courses", "Courses")
            @Html.ActionLink("FAQ", "FAQ", "Faq")
        </div>
        <div>
            <h3>@Resources.Resource.FollowUs</h3>
            <span>
                <a href="https://www.facebook.com/openlanguageszh">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="http://twitter.com/openlanguagesTW">
                    <i class="fa fa-twitter-square"></i>
                </a>
                <a href="https://plus.google.com/u/0/101655078254166830753/posts">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                    <a href="https://plus.google.com/u/0/101655078254166830753/posts"><i class="fa fa-google-plus-square"></i>
                </a>
            </span>
        </div>
    </div>
    <div>2015 © Open Languages</div>
</footer>
