﻿<script>
    function logOut() {
        RegistratedUser.dispose();
        sessionStorage.removeItem('token');
        location.href = '@Url.Action("Logout", "Openlang")';
    };
    function setUser() {
        document.write(getInfoPanel());
        RegistratedUser.addCallBack(function() {
            $("#userInfoPanel").replaceWith(getInfoPanel());

        });
    }

    function getInfoPanel() {
        return "<div id='userInfoPanel' style='flex-grow:1' class='flexable align_items_center'>" + RegistratedUser.getImage() + "<pre></pre>" +
            "<span class='welcome'>@Resources.Resource.Welcome " + RegistratedUser.curName + "</span>" + "<pre>   </pre>" +
            "<i class=\"fa fa-user\"></i>" + "<pre></pre>" +
            "<a href = \"javascript:go_to_account()\" id='MyAccount'>@Resources.Resource.MyAccount</a>" +
            "</div>";
    }

    function go_to_account() {
        location.href = '@Url.Action("Index", "MyAccount")';
    }

</script>
<header>
    <div class="content flexable justify-content_space_between align_items_center">
        <div>
            <a href=@Url.Action("LandingSite","Openlang")>
                <img class="logo" src="~/Images/openlang/new-lp-with-video.png">
            </a>
        </div>
        @if (Request.IsAuthenticated)
        {
            <script>
                if (RegistratedUser.isInit)
                    setUser();
                var second = "@ViewBag.User";
                if (!RegistratedUser.isInit && second) {
                    RegistratedUser.setUser(second);
                    setUser();
                }
            </script>
        }
        else
        {
            <script>
                if (RegistratedUser.isInit)
                    RegistratedUser.dispose();
                if (sessionStorage.getItem("token"))
                    localStorage.removeItem("token");
            </script>
        }
        <div style="display: none" class="dynamik_block">
            <a href="@Url.Action("Courses")"><i class="fa fa-comment-o"></i>Courses</a>
            <a href="@Url.Action("FAQ")"><i class="fa fa-info"></i>FAQ</a>
            <a href="@Url.Action("ContactUs")"><i class="fa fa-phone"></i>Contact</a>
        </div>
        <div>
            @if (!Request.IsAuthenticated)
            {
                <span id="login" class="top_btn">@Resources.Resource.LogIn</span>
                <span id="sign_up" class="top_btn">@Resources.Resource.SignUp</span>
            }
            else
            {
                <a onclick='logOut()' id='Logout'>@Resources.Resource.LogOut</a>
            }
            <div class="change_lang">
                <i class="globe fa fa-globe"></i>
                <span id="languages">
                    <span id="selectedLocalLang"></span>
                </span>
                <ul>
                    <li><a data-lang="en" class="js-lang" data-check="English">@Resources.Resource.English</a></li>
                    <li><a data-lang="de" class="js-lang" data-check="German">@Resources.Resource.German</a></li>
                    <li><a data-lang="fr" class="js-lang" data-check="French">@Resources.Resource.French</a></li>
                    <li><a data-lang="it" class="js-lang" data-check="Italian">@Resources.Resource.Italian</a></li>
                    <li><a data-lang="es" class="js-lang" data-check="Spanish">@Resources.Resource.Spanish</a></li>
                </ul>
                <script>
                    if ($.cookie("checkLang") != null) {
                        var cook = $.cookie("checkLang");
                        var chech = $(".change_lang li").filter("[data-check = '" + cook + "']");
                        $("#selectedLocalLang").text(chech.text());
                        chech.css('display', 'none');
                        //document.write($.cookie("checkLang"));
                        //ckCook = $.cookie("checkLang");
                    } else {
                        $("#selectedLocalLang").text("English");
                        ckCook = "English";
                    }

                </script>
            </div>
        </div>
    </div>
</header>

