﻿<div class="learn_by_immertial">
    <div class="video">
        <video id="video3" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
            <source src="~/Content/woman_at_the_supermarket.webm" type='video/webm; codecs="vp8, vorbis"' />
            <source src="~/Content/woman_at_the_supermarket.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            <source src="~/Content/woman_at_the_supermarket.ogv" type='video/ogg; codecs="theora, vorbis"' />
        </video>
    </div>
    <div class="container content flexable justify-content_center align_items_center">
        <div class="navigation">
            <i data-to=".learn_languages_online" class="fa fa-home"></i>
            <div class="dash"></div>
            <i data-to=".plans_prices" class="fa fa-credit-card"></i>
            <div class="dash"></div>
            <i data-to=".about_us" class="fa fa-users"></i>
            <div class="dash"></div>
            <i data-to=".testimonials" class="fa fa-comments-o"></i>
            <div class="dash"></div>
            <i data-to=".learn_by_immertial" class="active_nav fa fa-check"></i>
        </div>
        <div class="inner_block_content">
            @Html.Raw(Resources.Resource.Immercial);
            <div class="icons_bottom">
                <i class="fa fa-pencil"></i>
                <i class="fa fa-headphones"></i>
                <i class="fa fa-commenting-o"></i>
                <i class="fa fa-volume-up"></i>
                <i class="fa fa-skype"></i>
                <i class="fa fa-quote-right"></i>
                <i class="fa fa-qq"></i>
            </div>
            <div class="what_wait">@Resources.Resource.WhatYouWait</div>
            <div class="sin_up">
                @Html.Raw(Resources.Resource.GetFirstLesson)
            </div>
            <div class="flexable justify-content_center">
                @if (!Request.IsAuthenticated)
                {
                    <div id="sign_up4" class="sign_up">@Resources.Resource.SignUp</div>
                }
                <div class="sign_up" id="go_to_contactus">@Resources.Resource.ContactUs</div>
            </div>
        </div>
    </div>
</div>