﻿<div class="learn_languages_online">
    <span id="scroll_more" class="scroll_for_info">@Resources.Resource.ScrollMoreInfo<br> <i class="fa fa-chevron-down"></i></span>
    <div class="content flexable justify-content_center align_items_center">
        <div class="navigation">
            <i data-to=".learn_languages_online" class="active_nav fa fa-home"></i>
            <div class="dash"></div>
            <i data-to=".plans_prices" class="fa fa-credit-card"></i>
            <div class="dash"></div>
            <i data-to=".about_us" class="fa fa-users"></i>
            <div class="dash"></div>
            <i data-to=".testimonials" class="fa fa-comments-o"></i>
            <div class="dash"></div>
            <i data-to=".learn_by_immertial" class="fa fa-check"></i>
        </div>
        <div class="inner_block_content">
            <h1>@Html.Raw(Resources.Resource.OpenLang)</h1>
            <div class="description">
                @*@Resources.Resource.DescFoOpnPage*@
            </div>
                @*<legend align="center">@Resources.Resource.WantLearn </legend>*@
                <div class="flags_content ui grid center aligned">
                    <div class="doubling four column row">
                        <div class="four tablet wide two mobile column">
                            <div data-firstLanguage="us|English">
                                <div class="flagss english"></div>
                                <span>@Resources.Resource.English</span>
                            </div>
                        </div>
                        <div class="four tablet wide two mobile column">
                            <div data-firstLanguage="fr|French">
                                <div class="flagss france"></div>
                                <span>@Resources.Resource.French</span>
                            </div>
                        </div>
                        <div class="four tablet wide two mobile column">
                            <div data-firstLanguage="de|German">
                                <div class="flagss german"></div>
                                <span>@Resources.Resource.German</span>
                            </div>
                        </div>
                        <div class="four tablet wide two mobile column">
                            <div data-firstLanguage="gr|Greek">
                                <div class="flagss greek"></div>
                                <span>@Resources.Resource.Greek</span>
                            </div>
                        </div>
                        <div class="four tablet wide two mobile column">
                            <div data-firstLanguage="it|Italian">
                                <div class="flagss italian"></div>
                                <span>@Resources.Resource.Italian</span>
                            </div>
                        </div>
                        <div class="four tablet wide two mobile column">
                            <div data-firstLanguage="br|Portuguese">
                                <div class="flagss port"></div>
                                <span>@Resources.Resource.Portuguese</span>
                            </div>
                        </div>
                        <div class="four tablet wide two mobile column">
                            <div data-firstLanguage="es|Spanish">
                                <div class="flagss spain"></div>
                                <span>@Resources.Resource.Spanish</span>
                            </div>
                        </div>
                        <div class="four tablet wide two mobile column">
                            <div data-firstLanguage="se|Swedish">
                                <div class="flagss swed"></div>
                                <span>@Resources.Resource.Swedish</span>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="tutorial_btns flexable justify-content_center">
                <div class="btn" id="bt_trial_lesson">
                    <span class="wrapper_awesome"><i class="fa fa-check"></i></span>@Resources.Resource.TrialLesson
                </div>
                <div class="btn" id="bt_how_it_works">
                    <span class="wrapper_awesome"><i class="fa fa-play-circle"></i></span>@Resources.Resource.HowItWorks
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
