﻿<section class="sect-wrap sect-benefits sect-learn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <p class="title">Learn <span class="subtitle">In A Natural Way and Internalize Grammar and Vocabulary Effortlessly</span></p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="lessons">
                <div class="lessons-wrapper">
                    <div class="lessons-center">
                        <div class="lessons-left">
                            <img src="~/Images/examCard2.png" alt="Lesson2" />
                        </div>
                        <div class="lessons-right ">
                            <img src="~/Images/examCard3.png" alt="Succes" />
                        </div>
                        <img src="~/Images/examCard1.png" alt="Lesson1" />
                    </div>

                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div onclick="location.href='@(Url.Action("LoadMain", "Main",new {area="Dashboard"}) + "#/self-study")'" class="custom-button-new button-boost waves-light waves-effect"><p>try self study system</p></div>
                }
                else
                {
                    <div onclick="location.href='@Url.Action("Login","Openlang", new { area = string.Empty})'" class="custom-button-new button-boost waves-light waves-effect"><p>try self study system</p></div>
                }
            </div>
        </div>
    </div>
</section>

