﻿<div class="log_in">
    <div class="pop_up_log_in">
        <span id="close_log_in" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
        <div class="header">
            <h2>@Resources.Resource.LogIn</h2>
        </div>
        @using (Html.BeginForm("Login", "Openlang", FormMethod.Post, new { id = "formLogin" }))
        {
            <div class="log_in_with">
                <div style="margin: 10px 0" >@Resources.Resource.LogInWith</div>
                <div class="socials_btns">
                    <span id="facebook_login"><i class="fa fa-facebook"></i>Facebook</span>
                    <span id="google_login"><i class="fa fa-google"></i>Google</span>
                </div>
                <div class="hr">
                    <span class="or">
                        @Resources.Resource.Or
                    </span>
                </div>
                <div id="notCorrectLogIn" class="serviceMessageMain">
                    <span class="flexable justify-content_center align_items_center">
                        <span>@Resources.Resource.EmailOrPassWrong</span>
                    </span>
                </div>
                <div class="inputs flexable justify-content_center align_items_center">
                    <div class="name">
                        <label>Email</label>
                        <input type="text" name="name" id="name" placeholder="@Resources.Resource.EnterYourEmail">
                    </div>
                    <div class="password">
                        <label>@Resources.Resource.Password</label>
                        <input type="text" id="pass" name="password" placeholder="@Resources.Resource.EnterYourPass">
                    </div>
                </div>
                <div id="LOGIN" class="sign_up">@Resources.Resource.LogIn</div>
                <div class="forgot flexable justify-content_space_between">
                    @Html.Raw(Resources.Resource.FogotPass)
                </div>

            </div>
        }
    </div>
    <div class="resetPassword">
        <div class="header">
            <span id="close_log_in_fogot" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
            <h2>@Resources.Resource.ResetPass</h2>
        </div>
        <div id="incorrectResetPassword" class="serviceMessageMain">
            <span class="flexable justify-content_center align_items_center">
                <span>Invalid email.</span>
            </span>
        </div>
        <div id="youMustSelectOneWay" class="serviceMessageMain">
            <span class="flexable justify-content_center align_items_center">
                <span>@Resources.Resource.OnlyOneWay</span>
            </span>
        </div>
        <div class="fogot flexable justify-content_center align_items_center">
            <div class="name">
                <label>Email</label>
                <input type="email" id="email_fogot" placeholder="@Resources.Resource.EnterYourEmail">
            </div>
            <div>@Resources.Resource.Or</div>
            <div class="tele">
                <label>@Resources.Resource.Telephone</label>
                <input type="tel" id="tel_number2_fogot" placeholder="">
            </div>
        </div>
        <div class="sign_up" id="reset_complete">@Resources.Resource.ResetPass</div>
        <div class="go_to_login">@Resources.Resource.GoToLogin</div>
    </div>
    <div class="thanks reset_psw">
        <div class="header">
            <span id="close_trial_step_thanks_reset" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
            <h2>@Resources.Resource.ResetPass</h2>
        </div>
        <div class="pay_compleate">
            <h4>@Resources.Resource.CheckYourEmail <span id="resetMathod"></span></h4>
        </div>
    </div>
</div>