﻿<header class="main home-page top-line">
    <div class="header-main">
        <div class="header-main-wrapper">

            <div class="logo-wrap">
                <a href="@Url.Action("NewLandingPage","Openlang")" class="logo">
                    <img class="img-responsive" src="~/Images/logoNew.png">
                </a>

            </div>
            <div class="">
                @{ Html.RenderPartial("~/Views/openlang/LastNewHeader.cshtml");}
            </div>
            </div class="header-main-wrapper">
        </div>
    </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Components/_LanguagesModule.cshtml");
    }
</header>
