﻿<div class="messeger">
    <div class="message">
        <span id="close_messages" onclick="Messager.close()" class="close_log_in"><img src="~/Images/openlang/close.jpg" /></span>
        <div class="header">
            <h2>Service Message</h2>
        </div>
        <div class="icon">
            <img src="~/Images/openlang/forMessage/sendEmail.jpg">
        </div>
        <div class="textMessage">Message was sent successful</div>
        <div><input type="button" onclick="Messager.close()" value="OK"></div>
    </div>
</div>
