﻿@using System.Threading
@{
    var lang = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0].ToLower();
}
<header>
    <section class="header @lang notH-header" style="padding:0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="row">
                        <div style="height: 70px" class="col-sm-3 col-xs-5">
                            <div class="left-header">
                                <a class="logo" href="@Url.Action("newlandingpage","Openlang", new { area = string.Empty})">
                                    <img src="~/img/logotype-normal-size.png" class="logo" alt="openlanguages.com" />
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-6" style="margin-top: 15px">
                            @{ Html.RenderPartial("~/Views/openlang/LastNewHeader.cshtml");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            Html.RenderPartial("~/Views/Components/_LanguagesModule.cshtml");
        }
    </section>
</header>
