﻿<footer>
    <section class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <img src="~/img/footer-logo.png" alt="openlanguages.com" />
                </div>
                <div class="col-sm-2 col-xs-12">
                    <p class="list-title">@Resources.Resource.Company</p>
                    <ul>
                        <li>@Html.ActionLink(Resources.Resource.Offices, "Offices", "Offices")</li>
                        <li>@Html.ActionLink(Resources.Resource.Terms, "Terms", "PrivacyAndTerms")</li>
                        <li>@Html.ActionLink(Resources.Resource.Privacy, "Privacy", "PrivacyAndTerms")</li>
                    </ul>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <p class="list-title">@Resources.Resource.JoinUs</p>
                    <ul>
                        <li>@Html.ActionLink(Resources.Resource.Forteachers, "Teachers", "Forteachers")</li>
                        <li>@Html.ActionLink(Resources.Resource.Contact_us, "ContactUs", "ContactUs")</li>
                    </ul>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <p class="list-title">@Resources.Resource.Info</a></p>
                    <ul>
                        @*<li>@Html.ActionLink(Resources.Resource.ForEnterprises, "Bussiness", "Openlang")</li>*@
                        @*<li>@Html.ActionLink(Resources.Resource.Courses, "Courses", "Courses")</li>*@
                        <li>@Html.ActionLink("FAQ", "FAQ", "Faq")</li>
                        <li onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers", new { area = string.Empty})'"><a>@Resources.Resource.Findateacher</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <p class="list-title">@Resources.Resource.FollowUs</p>
                    <div class="socials">
                        <a href="https://www.facebook.com/openlanguageszh">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="http://twitter.com/openlanguagesTW">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/3598248 ">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                        <a href="https://plus.google.com/u/0/101655078254166830753/posts">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>@DateTime.Now.Year © Open Languages</p>
                </div>
            </div>
        </div>
    </section>
</footer>