﻿<div class="shadow">
    <div class="thanks" style="top: 50%">
        <div class="header">
            <span id="close_trial_step_thanks_trial" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
            <h2>@{
                string msgs = null;
                var am = decimal.Parse(ViewBag.PaymentCompleteAmount)>1;
                    msgs = am ? Resources.Resource.BuyCourse : Resources.Resource.TrialLessonFor;
                }
                @msgs @ViewBag.Currency @ViewBag.PaymentCompleteAmount</h2>
        </div>
        <div class="pay_compleate">
            <h4>@Resources.Resource.PayComplete</h4>
            <p>
                @Resources.Resource.ThankYou <span> @HttpContext.Current.User.Identity.Name</span> @Resources.Resource.YourOrderHasBeen
            </p>
        </div>
    </div>
</div>
<script>
    $(".shadow img").click(function () {
        $(this).parents(".thanks").animate({ "top": "-100%" }, 500, function () {
            $(this).parents(".shadow").remove();
        });
    });
</script>
