﻿<div class="plans_prices">
    <div class="content flexable justify-content_center align_items_center">
        <div class="navigation">
            <i data-to=".learn_languages_online" class="fa fa-home"></i>
            <div class="dash"></div>
            <i data-to=".plans_prices" class="active_nav fa fa-credit-card"></i>
            <div class="dash"></div>
            <i data-to=".about_us" class="fa fa-users"></i>
            <div class="dash"></div>
            <i data-to=".testimonials" class="fa fa-comments-o"></i>
            <div class="dash"></div>
            <i data-to=".learn_by_immertial" class="fa fa-check"></i>
        </div>
        <div class="inner_block_content">
            <h1>@Resources.Resource.PlansAPrice</h1>
            <div class="flex_prices_content_inner flexable justify-content_center align_items_start individ">
                <div class="individ_price">
                    <div style="width: 51%; margin: 0 auto;">
                        <div>@Resources.Resource.HowLess </div>
                        <div class="tutorial_btns flexable align_items_center justify-content_center">
                            <div class="active">5</div>
                            <div>10</div>
                            <div>15</div>
                            <div>20</div>
                            <div>25</div>
                            <div>50</div>
                            <div>100</div>
                        </div>
                    </div>
                    <div class="prices flexable justify-content_center">
                        <div class="price" >
                            <span class="star">
                                <img src="~/Images/openlang/star.png">
                            </span>
                            <h2>BASIC<span style="left: 80px" class="degree">45 minutes</span></h2>
                            <div class="description">
                                @Resources.Resource.OBPackage
                            </div>
                            <div class="it_price">
                                <h2><span class="currency_for_price">&#8364;</span> <span id="price_basic">390</span></h2>
                                <div class="before_price">@Resources.Resource.PricePLess <span class="currency_for_price">&#8364;</span> <span id="basic_cur_one_price">19.50</span></div>
                            </div>
                            <ul>
                                <li>• <span class="count_lessons">5</span> @Resources.Resource.CountIndividLess</li>
                                <li>• @Resources.Resource.FlexShrdule</li>
                                <li>• @Resources.Resource.SpeakingTecher</li>
                                <li>• @Resources.Resource.LiveVia</li>
                                <li>• @Resources.Resource.EffLEarning</li>
                            </ul>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <input id="sign_up1" type="button" value="@Resources.Resource.ClickHereToSignUp"/>
                            }
                            else
                            {
                                <input id="sign_up1" type="button" value="@Resources.Resource.BuyCourse"/>
                            }
                        </div>
                        <div class="price">
                            <h2>PREMIUM<span class="degree">60 minutes</span></h2>
                            <div class="description">
                                @Resources.Resource.OurPremium
                            </div>
                            <div class="it_price">
                                <h2><span class="currency_for_price">&#8364;</span> <span id="price_primium">1940</span></h2>
                                <div class="before_price">@Resources.Resource.PricePLess <span class="currency_for_price">&#8364;</span> <span id="premium_cur_one_price">19.50</span></div>
                            </div>
                            <ul>
                                <li>• <span class="count_lessons">5</span> @Resources.Resource.CountIndividLess</li>
                                <li>• @Resources.Resource.ExtraTime</li>
                                <li>• @Resources.Resource.FlexShrdule</li>
                                <li>• @Resources.Resource.SpeakingTecher</li>
                                <li>• @Resources.Resource.LiveVia</li>
                                <li>• @Resources.Resource.EffLEarning</li>
                            </ul>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <input id="sign_up2" type="button" value="@Resources.Resource.ClickHereToSignUp"/>
                            }
                            else
                            {
                                <input id="sign_up2" type="button" value="@Resources.Resource.BuyCourse"/>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var arrDesc = [];
        var arrUl = [];
        var prices = $(".price");
        var descriptions = prices.find(".description");
        var uls = prices.find("ul");
        descriptions.each(function (num, elem) {
            arrDesc.push(elem.offsetHeight);
        });
        var max = Math.max.apply(Math, arrDesc);
        descriptions.each(function(num, elem) {
            $(elem).css("height", max);
        });
        uls.each(function (num, elem) {
            arrUl.push(elem.offsetHeight);
        });
        var max2 = Math.max.apply(Math, arrUl);
        uls.each(function (num, elem) {
            $(elem).css("height", max2);
        });
        uls.outerHeight(Math.max(uls.outerHeight(true)));
    });
</script>
