﻿<style>
       .redirecttobuy {
        cursor: pointer;   
    }
       .select2-container {
         width: 200px !important;
       }
        .select2-container .select2-selection--single {
          height: 40px !important;
        }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px !important;
    right: 11px !important;
  } .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important
  }
  .select2-container--default .select2-selection--single {
    border-radius: 100px;
  }
</style>
<section id="sect-price" class="sect-pricing">
    <div class="sect-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="title-wrap">
                      <p class="title">@Resources.Resource.Pricing.ToUpper()</p>
                      <p class="subtitle">
                        @Resources.Resource.Regularityisthekey
                      </p>
                      <div style="text-align: center; margin-top: 25px">
                        <select  class=" select2-hidden-accessible" id="currency2" tabindex="-1" aria-hidden="true">
                          <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "EUR"?"selected":"") value="EUR" class="ng-binding ng-scope" selected="selected">EUR: Euro</option>
                          <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "USD"?"selected":"")  value="USD" class="ng-binding ng-scope">USD: United States Dollar</option>
                          <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "CHF"?"selected":"")  value="CHF" class="ng-binding ng-scope">CHF: Swiss Franc</option>
                          <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "GBP"?"selected":"")  value="GBP" class="ng-binding ng-scope">GBP: Pound Sterling</option>
                          <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "BRL"?"selected":"")  value="BRL" class="ng-binding ng-scope">BRL: Brazilian Real</option>
                          <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "SEK"?"selected":"")  value="SEK" class="ng-binding ng-scope">SEK: Swedish Kronal</option>
                          <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "DKK"?"selected":"")  value="DKK" class="ng-binding ng-scope">DKK: Danish Krone</option>
                          <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "NOK"?"selected":"")  value="NOK"  class="ng-binding ng-scope">NOK: Norwegian Krone</option>
                        </select>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="buttons-wrap">
        <div class="container">
            <div class="row ">
                <div class="col-md-5 col-sm-5 col-xs-5 flex">
                    <span class="buttons-title flex">@Resources.Resource.Subscriptions:<span style="color:#00a0eb; margin-left:7px; margin-top:2px" class="info-tooltip" data-placement="right" data-toggle="tooltip" title="@Resources.Resource.Monthlysubscriptionsallow"><i style="color:#00a0eb" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
                    <ul>
                        <li><a href="#" class="buttons-pricing active" data-type="basic-membership">@Resources.Resource.Basic</a></li>
                        <li><a href="#" class="buttons-pricing" data-type="premium-membership">@Resources.Resource.Premium</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 flex">
                    <span class="divider">- @Resources.Resource.Or.ToLower() -</span>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 flex">
                    <span class="buttons-title flex">@Resources.Resource.Packages:<span style="color:#00a0eb; margin-left:7px; margin-top:2px" class="info-tooltip" data-placement="left" data-toggle="tooltip" title="@Resources.Resource.Packagesallowyou"><i class="fa fa-info-circle" aria-hidden="true"></i></span></span>
                    <ul>
                        <li><a href="#" class="button-pricing" data-type="basic-packages">@Resources.Resource.Basic</a></li>
                        <li><a href="#" class="button-pricing" data-type="premium-packages">@Resources.Resource.Premium</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div id="basic-membership" class="blocks-wrap">

        <div class="container">
            <div class="row">
                @foreach (var el in ViewBag.Prices.MembershipLessons["basic"])
                {
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="block-wrap @(el.Key == 16?"active":"") @(el.Key == 24 ?"best-value":"")">

                        <div class="popular-wrap">
                            @if (el.Key == 16)
                                {
                                <div class="popular-wrap active">
                                    <span class="popular">@Resources.Resource.Mostpopular</span>
                                </div>
                            }
                            else if (el.Key == 24)
                            {
                                <div class="popular-wrap active">
                                    <span class="popular">@Resources.Resource.BestValue</span>
                                </div>
                            }
                        </div>
                        <span class="time">45 @Resources.Resource.minutes</span>
                        <span class="count">@el.Key @Resources.Resource.basiclessons</span>
                        <span class="price">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</span>
                        <ul class="pros">
                            <li><i class="fa fa-check" aria-hidden="true"></i>45 @Resources.Resource.minutes</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>@((el.Value/el.Key).ToString("N")) @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0]) @Resources.Resource.perlesson</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>@(el.Key/4) @(el.Key/4 > 1 ? Resources.Resource.lessonsperweek : Resources.Resource.lessonperweek)</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.TailoredLessonPlans</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.privatelessons</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.Finallevelcertificate</li>
                            @*<li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.Validfor 1 @Resources.Resource.month</li>*@
                        </ul>
                        @if (User.Identity.IsAuthenticated)
                            {
                            <a data-key="@el.Key" data-href="@(Url.Action("LoadMain", "Main", new {area = "Dashboard"}) + "#/makepayment")" data-type="basic" data-member="membership" class="button-item redirecttobuy">@Resources.Resource.BookIt</a>
                            }
                            else
                            {
                            <a data-key="@el.Key" data-href="@(Url.Action("LoadMain", "Main", new {area = "Dashboard"}) + "#/makepayment")" data-type="basic" data-member="membership" data-toggle="modal" data-target="#SignIn" href="" class="button-item add-to-cookies">@Resources.Resource.BookIt</a>
                            }
                    </div>
                </div>
                }
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="package-info">
                            <p>@Resources.Resource.Subscriptionlessonsare</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="premium-membership" class="blocks-wrap hidden">
        <div class="container">
            <div class="row">
                @foreach (var el in ViewBag.Prices.MembershipLessons["premium"])
                {
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="block-wrap @(el.Key == 16?"active":"") @(el.Key == 24 ?"best-value":"")">
                            <div class="popular-wrap">
                                @if (el.Key == 16)
                                {
                                    <div class="popular-wrap active">
                                        <span class="popular">@Resources.Resource.Mostpopular</span>
                                    </div>
                                }
                                else if (el.Key == 24)
                                {
                                    <div class="popular-wrap active">
                                        <span class="popular">@Resources.Resource.BestValue</span>
                                    </div>
                                }
                            </div>
                            <span class="time">60 @Resources.Resource.minutes</span>
                            <span class="count">@el.Key @Resources.Resource.premiumlessons</span>
                            <span class="price">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</span>
                            <ul class="pros">
                                <li><i class="fa fa-check" aria-hidden="true"></i>60 @Resources.Resource.minutes</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@((el.Value/el.Key).ToString("N")) @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0]) @Resources.Resource.perlesson</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@(el.Key/4) @(el.Key/4 > 1 ? Resources.Resource.lessonsperweek : Resources.Resource.lessonperweek)</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.TailoredLessonPlans</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.privatelessons</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.Finallevelcertificate</li>
                                @*<li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.Validfor 1 @Resources.Resource.month</li>*@
                            </ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a data-key="@el.Key" data-href="@(Url.Action("LoadMain", "Main", new {area = "Dashboard"}) + "#/makepayment")" data-type="premium" data-member="membership" class="button-item redirecttobuy">@Resources.Resource.BookIt</a>
                            }
                            else
                            {
                                <a data-key="@el.Key" data-href="@(Url.Action("LoadMain", "Main", new {area = "Dashboard"}) + "#/makepayment")" data-type="premium" data-member="membership" data-toggle="modal" data-target="#SignIn" href="" class="button-item add-to-cookies">@Resources.Resource.BookIt</a>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="package-info">
                        <p>Subscription lessons are valid for 30 days and renewed automatically on a monthly basis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="basic-packages" class="blocks-wrap hidden">
        <div class="container">
            <div class="row">
                @foreach (var el in ViewBag.Prices.PackagesLessons["basic"])
                {
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="block-wrap @(el.Key == 25?"active":"") @(el.Key == 50 ?"best-value":"")">
                            <div class="popular-wrap">
                                @if (el.Key == 25)
                                {
                                    <div class="popular-wrap active">
                                        <span class="popular">@Resources.Resource.Mostpopular</span>
                                    </div>
                                }
                                else if (el.Key == 50)
                                {
                                    <div class="popular-wrap active">
                                        <span class="popular">@Resources.Resource.BestValue</span>
                                    </div>
                                }
                            </div>
                            <span class="time">45 @Resources.Resource.minutes</span>
                            
                            <span class="count">@el.Key @Resources.Resource.basiclessons</span>
                            <span class="price">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</span>
                            <ul class="pros">
                                <li><i class="fa fa-check" aria-hidden="true"></i>45 @Resources.Resource.minutes</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@((el.Value/el.Key).ToString("N")) @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0]) @Resources.Resource.perlesson</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.TailoredLessonPlans</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.privatelessons</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.Finallevelcertificate</li>
                                @*<li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.Validfor 6 @Resources.Resource.months</li>*@
                            </ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a data-key="@el.Key" data-href="@(Url.Action("LoadMain", "Main", new {area = "Dashboard"}) + "#/makepayment")" data-type="basic" data-member="packages" aria-checked class="button-item redirecttobuy">@Resources.Resource.BookIt</a>
                            }
                            else
                            {
                                <a  data-key="@el.Key" data-href="@(Url.Action("LoadMain", "Main", new {area = "Dashboard"}) + "#/makepayment")" data-type="basic" data-member="packages" data-toggle="modal" data-target="#SignIn" href="" class="button-item add-to-cookies">@Resources.Resource.BookIt</a>
                            }
                        </div>
                    </div>
                }

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="package-info">
                        <p>@Resources.Resource.Packagelessonsare</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="premium-packages" class="blocks-wrap hidden">
        <div class="container">
            <div class="row">
                @foreach (var el in ViewBag.Prices.PackagesLessons["premium"])
                {
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="block-wrap @(el.Key == 25 ?"active":"") @(el.Key == 50 ?"best-value":"") ">
                            <div class="popular-wrap">
                                @if (el.Key == 25)
                                {
                                    <div class="popular-wrap active">
                                        <span class="popular">@Resources.Resource.Mostpopular</span>
                                    </div>
                                }
                                else if (el.Key == 50)
                                {
                                    <div class="popular-wrap active">
                                        <span class="popular">@Resources.Resource.BestValue</span>
                                    </div>
                                }
                            </div>
                            <span class="time">60 @Resources.Resource.minutes</span>
                            <span class="count">@el.Key @Resources.Resource.premiumlessons</span>
                            <span class="price">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</span>
                            <ul class="pros">
                                <li><i class="fa fa-check" aria-hidden="true"></i>60 @Resources.Resource.minutes</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@((el.Value/el.Key).ToString("N")) @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0]) @Resources.Resource.perlesson</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.TailoredLessonPlans</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.privatelessons</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.Finallevelcertificate</li>
                                @*<li><i class="fa fa-check" aria-hidden="true"></i>@Resources.Resource.Validfor 6 @Resources.Resource.months</li>*@
                            </ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a data-key="@el.Key" data-href="@(Url.Action("LoadMain", "Main", new {area = "Dashboard"}) + "#/makepayment")" data-type="premium" data-member="packages" class="button-item redirecttobuy">@Resources.Resource.BookIt</a>
                            }
                            else
                            {
                                <a data-key="@el.Key" data-href="@(Url.Action("LoadMain", "Main", new {area = "Dashboard"}) + "#/makepayment")" data-type="premium" data-member="packages" data-toggle="modal" data-target="#SignIn" href="" class="button-item add-to-cookies">@Resources.Resource.BookIt</a>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="package-info">
                        <p>Package lessons are valid 6 months, to allow you more flexible scheduling</p>
                    </div>
                </div>
            </div>
        </div>
    </div>           
</section>
