﻿<div class="sing_in">
    @using (Html.BeginForm("SignIn", "Openlang", FormMethod.Post, new { id = "post_sign_in" }))
    {
        <input type="hidden" name="Name" value="" />
        <input type="hidden" name="Password" value="" />
        <input type="hidden" name="ConfirmPassword" value="" />
        <input type="hidden" name="Email" value="" />
        <input type="hidden" name="PhoneNumber" value="" />
        <input type="hidden" name="TimeZone" value="" />
        <input type="hidden" name="ChosenLang" value="" />
        <input type="hidden" name="ChosenLevel" value="" />
        <input type="hidden" name="Skype" value="" />
        <input type="hidden" name="HowDidFind" value="" />
        <input type="hidden" name="selLang" value="" />

    }
    <div class="pop_up_sing_in">

        <span id="close_sing_in" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
        <div class="header">
            <h2>@Resources.Resource.SignUp</h2>
        </div>
        <form id="form_sign_in_step_1">
            <div class="log_in_with">
                <div style="margin: 10px 0">@Resources.Resource.SignUpWith</div>
                <div class="socials_btns">
                    <span id="facebook_signup"><i class="fa fa-facebook"></i>Facebook</span>
                    <span id="google_signup"><i class="fa fa-google"></i>Google</span>
                </div>
                <div class="hr">
                    <span class="or">
                        @Resources.Resource.Or
                    </span>
                </div>
                <div id="emailExists" class="serviceMessageMain">
                    <span class="flexable justify-content_center align_items_center">
                        <span>@Resources.Resource.EmailExist</span>
                    </span>
                </div>
                <div id="notEnterName" class="serviceMessageMain">
                    <span class="flexable justify-content_center align_items_center">
                        <span>@Resources.Resource.EnterName</span>
                    </span>
                </div>
                <div id="notEnterEmail" class="serviceMessageMain">
                    <span class="flexable justify-content_center align_items_center">
                        <span>@Resources.Resource.EnterCorrectEmail</span>
                    </span>
                </div>
                <div id="notEnterPass" class="serviceMessageMain">
                    <span class="flexable justify-content_center align_items_center">
                        <span>@Resources.Resource.EnterPassword</span>
                    </span>
                </div>
                <div id="shortPass" class="serviceMessageMain">
                    <span class="flexable justify-content_center align_items_center">
                        <span>@Resources.Resource.Symbols</span>
                    </span>
                </div>
                <div id="notMatchPass" class="serviceMessageMain">
                    <span class="flexable justify-content_center align_items_center">
                        <span>@Resources.Resource.PasswordMatch</span>
                    </span>
                </div>
                <div class="inputs flexable justify-content_center align_items_center">
                    <div class="name">
                        <label>Name</label>
                        <input required type="text" id="name" name="name" placeholder="@Resources.Resource.EnterYourName">
                    </div>
                    <div class="name">
                        <label>Email</label>
                        <input type="email" id="email" placeholder="@Resources.Resource.EnterYourEmail">
                    </div>
                </div>
                <div class="last inputs flexable justify-content_center align_items_center">
                    <div class="password">
                        <label>@Resources.Resource.Password</label>
                        <input required type="password" id="pass" name="pass" placeholder="@Resources.Resource.EnterYourPass">
                    </div>
                    <div class="password">
                        <label>@Resources.Resource.ConfirmPass</label>
                        <input required type="password" id="conf_pass" placeholder="@Resources.Resource.ConfirmYourPass">
                    </div>
                </div>
                <div class="sign_up" id="SingUpNow">@Resources.Resource.SignUp</div>
                <div class="already">
                    <span id="iHaveAccount">@Resources.Resource.IhaveAccount</span>
                </div>
            </div>
        </form>
    </div>
    <div class="pop_up_trial step_1">
        <span id="close_trial_step5" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
        <div class="header">
            <h2>@Resources.Resource.TellUsMore</h2>
        </div>
        <div id="Everyfieldrequared" class="serviceMessageMain">
            <span class="flexable justify-content_center align_items_center">
                <span>@Resources.Resource.Everyfieldrequared</span>
            </span>
        </div>
        <div class="log_in_with">
            <div class="last inputs flexable justify-content_center align_items_center">
                <div class="ch_selectLang" id="selLangForSing">
                    <label>@Resources.Resource.ChooseLang</label>
                    <div class="ui selection dropdown drops">
                        <input type="hidden" name="country">
                        <i class="dropdown icon"></i>
                        <div class="default text">@Resources.Resource.ChooseLang</div>
                        <div class="menu">
                            <div class="item" data-value="us">
                                <i class="us flag"></i>@Resources.Resource.English
                            </div>
                            <div class="item" data-value="fr">
                                <i class="fr flag"></i>@Resources.Resource.French
                            </div>
                            <div class="item" data-value="de">
                                <i class="de flag"></i>@Resources.Resource.German
                            </div>
                            <div class="item" data-value="gr">
                                <i class="gr flag"></i>@Resources.Resource.Greek
                            </div>
                            <div class="item" data-value="it">
                                <i class="it flag"></i>@Resources.Resource.Italian
                            </div>
                            <div class="item" data-value="br">
                                <i class="br flag"></i>@Resources.Resource.Portuguese
                            </div>
                            <div class="item" data-value="es">
                                <i class="es flag"></i>@Resources.Resource.Spanish
                            </div>
                            <div class="item" data-value="se">
                                <i class="se flag"></i>@Resources.Resource.Swedish
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ch_level ch_levelBuy">
                    <label>@Resources.Resource.ChooseLevel</label>
                    <select id="choose_level_for_signup">
                        <option value="">
                            @Resources.Resource.ChooseLevel
                        </option>
                        <option value="0">
                            @Resources.Resource.Beginner
                        </option>
                        <option value="1">
                            @Resources.Resource.UpperBeginner
                        </option>
                        <option value="2">
                            @Resources.Resource.Intermediate
                        </option>
                        <option value="3">
                            @Resources.Resource.UpperIntermediate
                        </option>
                        <option value="4">
                            @Resources.Resource.Advanced
                        </option>
                        <option value="5">
                            @Resources.Resource.UpperAdvanced
                        </option>
                    </select>
                </div>
            </div>
            <div class="last inputs flexable justify-content_center align_items_center">
                <div class="skype ilearnDropdown2">
                    <label>@Resources.Resource.ILearnVia</label>
                    <div class="ui selection dropdown ilearnVia">
                        <input type="hidden" name="user">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select tool</div>
                        <div class="menu">
                            <div class="item" data-value="Skype">
                                <img class="ui mini avatar image" src="/Images/openlang/skype.png" />
                                Skype
                            </div>
                            <div class="item" data-value="Google Hangouts">
                                <img class="ui mini avatar image" src="/Images/openlang/google.png" />
                                Google Hangouts
                            </div>
                            <div class="item" data-value="QQ">
                                <img class="ui mini avatar image" src="/Images/openlang/smile.png" />
                                QQ
                            </div>
                            <div class="item" data-value="Other">
                                <img class="ui mini avatar image" src="/Images/openlang/open_languages.png" />
                                Other
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tele">
                    <label>Telephone</label>
                    <input type="tel" id="tel_number2" placeholder="">
                </div>
            </div>
            <div class="last inputs flexable justify-content_center align_items_center">
                <div class="ch_howFind" id="howDidFindSign">
                    <label>@Resources.Resource.HowDidYouFind</label>
                    <select id="choose_find_us_singup">
                        <option value="">
                            @Resources.Resource.HowDidYouFind
                        </option>
                        <option value="0">
                            Google
                        </option>
                        <option value="1">
                            Internet
                        </option>
                        <option value="2">
                            Media
                        </option>
                        <option value="3">
                            Facebook
                        </option>
                        <option value="4">
                            Recommended
                        </option>
                    </select>
                </div>
                <script>
                    $("#choose_find_us_singup").dropdown({
                        onChange: function(e, s) {
                            $("input[name='HowDidFind']").val(s);
                        }
                    });
                    $("#choose_level_for_signup").dropdown({
                        onChange: function(e, s) {
                            $("input[name='ChosenLevel']").val(s);
                        }
                    });
                </script>
                <div class="ch_timezone">
                    <label>@Resources.Resource.YourTimeZone</label>
                    <select id="choose_timezone_for_sign_up">
                        <option selected>Greenwich Mean Time</option>
                        <option>Universal Coordinated Time</option>
                        <option>European Central Time</option>
                        <option>Eastern European Time</option>
                        <option>(Arabic) Egypt Standard Time</option>
                        <option>Eastern African Time</option>
                        <option>Middle East Time</option>
                        <option>Near East Time</option>
                        <option>Pakistan Lahore Time</option>
                        <option>India Standard Time</option>
                        <option>Bangladesh Standard Time</option>
                        <option>Vietnam Standard Time</option>
                        <option>China Taiwan Time</option>
                        <option>Japan Standard Time</option>
                        <option>Australia Central Time</option>
                        <option>Australia Eastern Time</option>
                        <option>Solomon Standard Time</option>
                        <option>New Zealand Standard Time</option>
                        <option>Midway Islands Time</option>
                        <option>Hawaii Standard Time</option>
                        <option>Alaska Standard Time</option>
                        <option>Pacific Standard Time</option>
                        <option>Phoenix Standard Time</option>
                        <option>Mountain Standard Time</option>
                        <option>Central Standard Time</option>
                        <option>Eastern Standard Time</option>
                        <option>Indiana Eastern Standard Time</option>
                        <option>Puerto Rico and US Virgin Islands Time</option>
                        <option>Canada Newfoundland Time</option>
                        <option>Argentina Standard Time</option>
                        <option>Brazil Eastern Time</option>
                        <option>Central African Time</option>
                    </select>
                </div>
            </div>
            <div id="go_to_sign_in" class="sign_up">@Resources.Resource.SignUp</div>
        </div>
    </div>
<script>
    $("#go_to_sign_in").click(function () {
        var form = document.forms["post_sign_in"];
        var sign = $(".sing_in");
        form.selLang.value = selLangg;
        form.Name.value = sign.find("#name").val();
        form.Email.value = sign.find("#email").val();
        form.PhoneNumber.value = sign.find("#tel_number2").intlTelInput("getNumber");
        form.Password.value = sign.find("#pass").val();
        form.TimeZone.value = selTimezoneForSignUp;
        form.ConfirmPassword.value = sign.find("#conf_pass").val();
        form.Skype.value = selTool2;
        var flag = true;
        if (!selLangg) {
            $("#selLangForSing .selection.dropdown").css("border", "1px solid red");
            flag = false;
        } else {
            $("#selLangForSing .selection.dropdown").css("border", "1px solid #ccc");
        }
        if (!form.ChosenLevel.value) {
            $(".ch_level.ch_levelBuy .selection.dropdown").css("border", "1px solid red");
            flag = false;
        }
        else $(".ch_level.ch_levelBuy .selection.dropdown").css("border", "1px solid #ccc");
        if (!selTool2) {
            $(".skype.ilearnDropdown2 .selection.dropdown").css("border", "1px solid red");
            flag = false;
        }
        else $(".skype.ilearnDropdown2 .selection.dropdown").css("border", "1px solid #ccc");
        //if (!form.PhoneNumber.value) {
        //    $("#tel_number2").css("border", "1px solid red");
        //    flag = false;
        //}
        //else $("#tel_number2").css("border", "1px solid #ccc");
        if (!form.HowDidFind.value) {
            $("#howDidFindSign .selection.dropdown").css("border", "1px solid red");
            flag = false;
        }
        else $("#howDidFindSign .selection.dropdown").css("border", "1px solid #ccc");
        if (!flag) {
            $("#Everyfieldrequared").fadeIn("slow");
            return;
        }
        form.submit();

    });
    //Login.initialize();
    $("#LOGIN").click(function () {
        var name = $("#name").val();
        var pass = $("#pass").val();
        $.ajax({
            url: "/Account/CheckExistUser",
            type: "post",
            data: { 'name': name, 'password': pass },
            async: true,
            success: function (result) {
                if (result === "True")
                    document.forms["formLogin"].submit();
                else {
                    $("#name,#pass").css("border-color", "red");
                    $("#notCorrectLogIn").fadeIn("slow");
                }
            },
            error: function () {
                alert(resource.match('error_occured'));
            }
        });
    });
    $("#selLangForSing .dropdown").dropdown({
        onChange: function (p, text, val) {
            var lng = val[0].textContent.replace(Patterns.replaceTabsAndNewLines, '');
            $("input[name='ChosenLang']").val(lng);
            var content = $(".flags_content>div>div>*").map(function (index,elem) {
                var attr = elem.getAttribute("data-firstlanguage");
                if (attr.indexOf(lng) >= 0)
                    return attr;
            });

            setSelLangg(content[0]);
        }
    });
</script>
</div>