﻿<div class="testimonials">
    <div class="container content flexable justify-content_center align_items_center">
        <div class="navigation">
            <i data-to=".learn_languages_online" class="fa fa-home"></i>
            <div class="dash"></div>
            <i data-to=".plans_prices" class="fa fa-credit-card"></i>
            <div class="dash"></div>
            <i data-to=".about_us" class="fa fa-users"></i>
            <div class="dash"></div>
            <i data-to=".testimonials" class="active_nav fa fa-comments-o"></i>
            <div class="dash"></div>
            <i data-to=".learn_by_immertial" class="fa fa-check"></i>
        </div>
        <div class="inner_block_content">
            @Html.Raw(Resources.Resource.Testimonials)

            <div class="what_say ui grid center aligned">
                <div class="stackable three column row">
                    <div class=" column">
                        <div  class="testi">
                            <div class="name_pup flexable">
                                <img src="~/Images/openlang/man1.png" />
                                <div class="names">
                                    <span class="my_name">@Resources.Resource.HiMyNameIS</span><br>
                                    <span class="family">Jared Kuhn</span>
                                </div>
                            </div>
                            <div class="desc_pup">
                                @Resources.Resource.JurredText
                            </div>
                            @*<div class="social_pup">
                                    <i class="fa fa-facebook-square"></i>
                                    <i class="fa fa-twitter-square"></i>
                                    <i class="fa fa-instagram"></i>
                                </div>*@
                        </div>
                    </div>
                    <div class="column">
                        <div  class="testi">
                            <div class="name_pup flexable">
                                <img src="~/Images/openlang/man2.png" />
                                <div class="names">
                                    <span class="my_name">@Resources.Resource.HiMyNameIS</span><br>
                                    <span class="family">Jissie Medina</span>
                                </div>
                            </div>
                            <div class="desc_pup">
                                @Resources.Resource.JissieText
                            </div>
                            @*<div class="social_pup">
                                    <i class="fa fa-facebook-square"></i>
                                </div>*@
                        </div>
                    </div>
                    <div class="column">
                        <div class="testi">
                            <div class="name_pup flexable">
                                <img src="~/Images/openlang/man3.png" />
                                <div class="names">
                                    <span class="my_name">@Resources.Resource.HiMyNameIS</span><br>
                                    <span class="family">Bella Henry</span>
                                </div>
                            </div>
                            <div class="desc_pup">
                                @Resources.Resource.BellaText
                            </div>
                            @*<div class="social_pup">
                                    <i class="fa fa-facebook-square"></i>
                                    <i class="fa fa-instagram"></i>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>


            <div class="stay_in_touch flexable justify-content_center flex_direction_column align_items_center">
                <div id="notEnterFieldTestimonials" class="serviceMessageMain">
                    <span class="flexable justify-content_center align_items_center">
                        <span>@Resources.Resource.EnterCorrectEmail</span>
                    </span>
                </div>
                @Html.Raw(Resources.Resource.StayInTouch)
            </div>
        </div>
    </div>
</div>
