﻿<div class="trial for_trial">
    <div class="pop_up_trial step_1 for_trial">
        <span id="close_trial_step1" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
        <div class="header">
            <span>@Resources.Resource.Step1</span>
            <h2>@Resources.Resource.TrialLessonFor &#8364 0.99</h2>
        </div>
        <div class="log_in_with">
            <div id="EveryfieldrequaredTrial" class="serviceMessageMain">
                <span class="flexable justify-content_center align_items_center">
                    <span>@Resources.Resource.Everyfieldrequared</span>
                </span>
            </div>
            <div class="last inputs flexable justify-content_center">
                <div class="ch_lang ch_lang_trial">
                    <label>@Resources.Resource.ChooseLang</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="country">
                        <i class="dropdown icon"></i>
                        <div class="default text">@Resources.Resource.ChooseLang</div>
                        <div class="menu">
                            <div class="item" data-value="us">
                                <i class="us flag"></i>@Resources.Resource.English
                            </div>
                            <div class="item" data-value="fr">
                                <i class="fr flag"></i>@Resources.Resource.French
                            </div>
                            <div class="item" data-value="de">
                                <i class="de flag"></i>@Resources.Resource.German
                            </div>
                            <div class="item" data-value="gr">
                                <i class="gr flag"></i>@Resources.Resource.Greek
                            </div>
                            <div class="item" data-value="it">
                                <i class="it flag"></i>@Resources.Resource.Italian
                            </div>
                            <div class="item" data-value="br">
                                <i class="br flag"></i>@Resources.Resource.Portuguese
                            </div>
                            <div class="item" data-value="es">
                                <i class="es flag"></i>@Resources.Resource.Spanish
                            </div>
                            <div class="item" data-value="se">
                                <i class="se flag"></i>@Resources.Resource.Swedish
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ch_level ch_level_rial">
                    <label>@Resources.Resource.ChooseLevel</label>
                    <select id="choose_level">
                        <option value="">
                            @Resources.Resource.ChooseLevel
                        </option>
                        <option value="0">
                            @Resources.Resource.Beginner
                        </option>
                        <option value="1">
                            @Resources.Resource.UpperBeginner
                        </option>
                        <option value="2">
                            @Resources.Resource.Intermediate
                        </option>
                        <option value="3">
                            @Resources.Resource.UpperIntermediate
                        </option>
                        <option value="4">
                            @Resources.Resource.Advanced
                        </option>
                        <option value="5">
                            @Resources.Resource.UpperAdvanced
                        </option>
                    </select>
                </div>
            </div>
            <div class="last inputs flexable justify-content_center">
                <div class="skype ilearnDropdown">
                    <label>@Resources.Resource.ILearnVia</label>
                    <div class="ui selection dropdown ilearnVia">
                        <input type="hidden" name="user">
                        <i class="dropdown icon"></i>
                        <div class="default text">@Resources.Resource.ILearnVia</div>
                        <div class="menu">
                            <div class="item" data-value="Skype">
                                <img class="ui mini avatar image" src="/Images/openlang/skype.png"/>
                                Skype
                            </div>
                            <div class="item" data-value="Google Hangouts">
                                <img class="ui mini avatar image" src="/Images/openlang/google.png"/>
                                Google Hangouts
                            </div>
                            <div class="item" data-value="QQ">
                                <img class="ui mini avatar image" src="/Images/openlang/smile.png"/>
                                QQ
                            </div>
                            <div class="item" data-value="Other">
                                <img class="ui mini avatar image" src="/Images/openlang/open_languages.png"/>
                                Other
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tele">
                    <label>@Resources.Resource.Telephone</label>
                    <input type="tel" id="tel_number" placeholder="">
                </div>
            </div>
            <div class="last inputs flexable justify-content_center">
                <div class="ch_howFind howFindTrial">
                    <label>@Resources.Resource.HowDidYouFind</label>
                    <select id="choose_find_us">
                        <option value="">
                            @Resources.Resource.HowDidYouFindForIta
                        </option>
                        <option value="0">
                            Google
                        </option>
                        <option value="1">
                            Internet
                        </option>
                        <option value="2">
                            Media
                        </option>
                        <option value="3">
                            Facebook
                        </option>
                        <option value="4">
                            Recommended
                        </option>
                    </select>
                </div>
                <div class="ch_timezone">
                    <label>@Resources.Resource.YourTimeZone</label>
                    <select id="choose_timezone">
                        <option selected>Greenwich Mean Time</option>
                        <option>Universal Coordinated Time</option>
                        <option>European Central Time</option>
                        <option>Eastern European Time</option>
                        <option>(Arabic) Egypt Standard Time</option>
                        <option>Eastern African Time</option>
                        <option>Middle East Time</option>
                        <option>Near East Time</option>
                        <option>Pakistan Lahore Time</option>
                        <option>India Standard Time</option>
                        <option>Bangladesh Standard Time</option>
                        <option>Vietnam Standard Time</option>
                        <option>China Taiwan Time</option>
                        <option>Japan Standard Time</option>
                        <option>Australia Central Time</option>
                        <option>Australia Eastern Time</option>
                        <option>Solomon Standard Time</option>
                        <option>New Zealand Standard Time</option>
                        <option>Midway Islands Time</option>
                        <option>Hawaii Standard Time</option>
                        <option>Alaska Standard Time</option>
                        <option>Pacific Standard Time</option>
                        <option>Phoenix Standard Time</option>
                        <option>Mountain Standard Time</option>
                        <option>Central Standard Time</option>
                        <option>Eastern Standard Time</option>
                        <option>Indiana Eastern Standard Time</option>
                        <option>Puerto Rico and US Virgin Islands Time</option>
                        <option>Canada Newfoundland Time</option>
                        <option>Argentina Standard Time</option>
                        <option>Brazil Eastern Time</option>
                        <option>Central African Time</option>
                    </select>
                </div>
            </div>
            <div class="last inputs flexable justify-content_center">
                <div class="skype">
                    <label>@Resources.Resource.StartDate</label>
                    <img src="/Images/openlang/date.jpg"/>
                    <input type="text" id="choose_date" placeholder="@Resources.Resource.ChooseStartDate">
                </div>
                <div class="skype">
                    <label>@Resources.Resource.StartTime</label>
                    <input type="text" id="free_trial_lesson_time" placeholder="00 : 00">
                </div>
            </div>
            <div id="go_to_step_2" class="sign_up">
                @Resources.Resource.GetTrialLesson <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="already">
                <span>
                    @Html.Raw(Resources.Resource.WeRespect)
                </span>
            </div>
        </div>
    </div>
    <div class="pop_up_trial step_2">
        <span id="close_trial_step2" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
        <div class="header">
            <span>@Resources.Resource.Step2</span>
            <h2>@Resources.Resource.TrialLessonFor &#8364 0.99</h2>
        </div>
        <div class="log_in_with">
            <div>
                <a id="go_back_trial"><i class="fa fa-long-arrow-left"></i>@Resources.Resource.BackToStep1</a>
            </div>
            <div id="EveryfieldrequaredTrialStep2" class="serviceMessageMain">
                <span class="flexable justify-content_center align_items_center">
                    <span>@Resources.Resource.Everyfieldrequared</span>
                </span>
            </div>
            <div id="CustomError" class="serviceMessageMain">
                <span class="flexable justify-content_center align_items_center">
                    <span id="message"></span>
                </span>
            </div>
            <div class="pay_method">
                <h5>@Resources.Resource.ChoosePayMethod</h5>
                <div class="payment_methods">
                    <div>
                        <div>
                            <div class="card_name">@Resources.Resource.CreditCard</div>
                            <div class="pay_type flexable align_items_center">
                                <input type="checkbox" checked value="visa" /> <img src="/Images/openlang/visa.png">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="card_name">PayPal</div>
                            <div class="pay_type flexable align_items_center">
                                <input type="checkbox" value="pay_pal" /> <img src="/Images/openlang/pay_pal.png">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="card_name">TenPay</div>
                            <div class="pay_type flexable align_items_center">
                                <input type="checkbox" value="ten_pay"/> <img src="/Images/openlang/ten_pay.png">
                            </div>
                        </div>
                    </div>
                    <div class="confirm_privacy">
                        <input type="checkbox" id="checkTermsConfirmationTrial" />@Html.Raw(Resources.Resource.AcceptProvicy)
                    </div>
                </div>
            </div>
            <div class="card_details">
                <h4 class="flexable justify-content_space_between">
                    @Resources.Resource.CaedDetials
                </h4>
                <div class="card_info flexable">
                    <div>
                        <div class="flexable justify-content_space_between">
                            <div>
                                <label>@Resources.Resource.NameOfCard</label><br>
                                <input type="text" id="cardOwnerTrial" placeholder="@Resources.Resource.EnterYourName">
                            </div>
                            <div class="ch_cardType">
                                <label>@Resources.Resource.CardType</label><br>
                                <select id="typeCard">
                                    <option value="">@Resources.Resource.CardType</option>
                                    <option>Visa</option>
                                    <option>Master Card</option>
                                    <option>American Express</option>
                                    <option>JCB</option>
                                    <option>Discover</option>
                                    <option>Diners Club</option>
                                </select>
                            </div>
                        </div>
                        <div class="card_num">
                            <label>@Resources.Resource.CardNumber</label>
                            <input type="text" id="cardNumberTrial" placeholder="@Resources.Resource.CardNumber">
                        </div>
                        <div class="flexable justify-content_space_between date_card">
                            <div>
                                <img src="/Images/openlang/mastercard.png">
                            </div>
                                @*<input type="text" id="date_expary" placeholder="@Resources.Resource.CardExpiryDate">*@
                                <div class="mnth">
                                    <label>@Resources.Resource.CardExpiryDate</label><br>
                                    @*<input type="text" id="date_expary_for_buy_course" placeholder="@Resources.Resource.CardExpiryDate">*@
                                    <select id="selectMonthTrial" class="selection ui dropdown">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <select id="selectYearTrial" class="selection ui dropdown">
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>

                                    <script>
                                        var date = new Date();
                                        var month = date.getMonth() + 1;
                                        var mth = pad(date.getMonth() + 1);
                                        //$("#selectMonthTrial").children("option").each(function (index, elem) {
                                        //    if (parseInt(elem.value) < month)
                                        //        elem.setAttribute("disabled", "disabled");
                                        //}).end().dropdown('set selected', mth);
                                        $("#selectMonthTrial").dropdown('set selected', mth);
                                        $("#selectYearTrial").dropdown('set selected', date.getFullYear());
                                    </script>
                                </div>
                        </div>
                    </div>
                    <div class="sec_code">@Resources.Resource.SecurityCode</div>
                    <div class="cvc">
                        <div>
                            <label>CVC / CVV / CID:</label><br>
                            <input type="text" id="cvcTrial" placeholder="321">
                            <div>
                                @Resources.Resource.WhatIs CVC/ CVV / CID? <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line_dash"></div>
            </div>
            <div style="display: none" class="pay_pal pal">
                <h4>
                    @Resources.Resource.Information

                </h4>
                <div>@Resources.Resource.ForPayPalText</div>
            </div>
            <div style="display: none" class="pay_pal ten">
                <h4>Information:</h4>
                <div>@Resources.Resource.ForTanPayText</div>
            </div>
            <div class="flexable justify-content_space_between conf_shedule align_items_center">
                <div>
                    <div>@Resources.Resource.ConfirmSchedule</div>
                    <div><span>@Resources.Resource.Name:</span><span id="res_name_trial"></span></div>
                    <div><span>@Resources.Resource.ChooseLang:</span><span id="res_lang"></span></div>
                    <div><span>@Resources.Resource.ChooseLevel:</span><span id="res_level"></span></div>
                    <div><span>@Resources.Resource.StartDate:</span><span id="res_date"></span></div>
                </div>
                <div>
                    <div style="margin-bottom: 5px;">
                        <span>@Resources.Resource.PayNow:</span>
                        <span id="idd">&#8364 0.99</span>
                    </div>
                    <span id="confitm_payment_trial" class="top_btn">@Resources.Resource.ConfirmPayment <i class="fa fa-long-arrow-right"></i></span>
                    <div style="margin-top: 5px;">
                        <i class="fa fa-shield"></i> @Resources.Resource.ViaSecureServer
                    </div>
                </div>
            </div>
            <div class="line_dash"></div>
        </div>

    </div>
    <div class="thanks">
        <div class="header">
            <span id="close_trial_step_thanks_trial" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
            <span>Step 3 of 3</span>
            <h2>@Resources.Resource.TrialLessonFor &#8364 0.99</h2>
        </div>
        <div class="pay_compleate">
            <h4>@Resources.Resource.PayComplete</h4>
            <p>
                @Resources.Resource.ThankYou <span id="userNameTrial"></span> @Resources.Resource.YourOrderHasBeen
            </p>
        </div>
    </div>
    <div class="ex_terms privacyP">
        <div class="terms_popiup">
            <h2>
                Privacy
                <span id="close_terms" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
            </h2>
            <div class="text">
                <div>
                    This Site is the property of Open Languages Limited and its licensors.
                    BY USING THE SITE, you agree that you have read, understand and agree,
                    to be bound by the Terms of Service set out below. IF YOU DO NOT AGREE, DO NOT USE THE SITE.
                    <h5>1. Your Use of the Site</h5>
                    y using the Site you agree to be bound by the Terms of Service and to follow all applicable laws, guidelines and policies and confirm that you are 18 years of age or older or otherwise are an entity that can form legally binding contracts under applicable law.<br><br>
                    You must provide your first name, last name, current address, a valid email address, and any other information needed in order to complete your registration process.<br><br>
                    Your rights: Subject to the Terms of Service, you are hereby granted a limited, revocable, non-exclusive right to access, use and display the Site and the content and materials on the website in the normal course of your use of the Site.<br><br>
                    Accounts/Securities/Passwords: you may register to utilize this Site by completing the specified registration process and providing us with current, complete, and accurate information as requested by the online registration form. It is your responsibility to maintain the completeness and accuracy of your registration data, and any loss caused by your failure to do so is your responsibility. You agree to notify Open Languages immediately of any unauthorized use of your account. Open Languages is not liable for any loss that you may incur as a result of someone else using your account, either with or without your knowledge.<br><br>
                    You are only authorized to use this Site for lawful purposes.
                    This Site is the property of Open Languages Limited and its licensors.
                    BY USING THE SITE, you agree that you have read, understand and agree,
                    to be bound by the Terms of Service set out below. IF YOU DO NOT AGREE, DO NOT USE THE SITE.
                    <h5>1. Your Use of the Site</h5>
                    y using the Site you agree to be bound by the Terms of Service and to follow all applicable laws, guidelines and policies and confirm that you are 18 years of age or older or otherwise are an entity that can form legally binding contracts under applicable law.<br><br>
                    You must provide your first name, last name, current address, a valid email address, and any other information needed in order to complete your registration process.<br><br>
                    Your rights: Subject to the Terms of Service, you are hereby granted a limited, revocable, non-exclusive right to access, use and display the Site and the content and materials on the website in the normal course of your use of the Site.<br><br>
                    Accounts/Securities/Passwords: you may register to utilize this Site by completing the specified registration process and providing us with current, complete, and accurate information as requested by the online registration form. It is your responsibility to maintain the completeness and accuracy of your registration data, and any loss caused by your failure to do so is your responsibility. You agree to notify Open Languages immediately of any unauthorized use of your account. Open Languages is not liable for any loss that you may incur as a result of someone else using your account, either with or without your knowledge.<br><br>
                    You are only authorized to use this Site for lawful purposes.
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function GetTimeZoneForTrialLesson() {
        GeolocationManager.init(function (location) {
            var str = "<option selected>" + location.timezone + "</option>";
            selTimezone = location.timezone;
            $("#choose_timezone").prepend(str).dropdown({
                onChange: function (p, text) {
                    selTimezone = text;
                }
            });
        });
    }
    $("#free_trial_lesson_time").mask("99 : 99", { placeholder: "00:00" });
    //$("#cardNumberTrial").mask("9999 9999 9999 9999", { placeholder: "0000 0000 0000 0000" });
    var selHowDidFindUs;
    $("#tel_number").intlTelInput({
        utilsScript: '/Scripts/openlang/utils.js'
    });
    GeolocationManager.init(function(location) {
        $("#tel_number").intlTelInput("selectCountry", location.code);
    });
    GetTimeZoneForTrialLesson();
    function DisplayTrialStep1(tr) {
        tr.css("display", "block");
        tr.children(".pop_up_trial.step_1.for_trial").animate({ "top": "50%" }, 500);
    }
    var chLang;
    function ShowBuyTrial(tr, user) {
        DisplayTrialStep1(tr);


        $("#go_to_step_2").unbind("click").bind("click", function () {
            var flag = true;
            var mDate = $("#choose_date");
            //|| !mDate.val().match(/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/)
            if (!mDate.val()) {
                mDate.css("border-color", "red");
                flag = false;
            }
            else mDate.css("border-color", "#ccc");
            if (!selLang) {
                $(".ch_lang .ui.selection.dropdown").css("border-color", "red");
                flag = false;
            }
            else $(".ch_lang .ui.selection.dropdown").css("border-color", "#ccc");
            if (!selLevel) {
                $(".ch_level .ui.selection.dropdown").css("border-color", "red");
                flag = false;
            }
            else $(".ch_level .ui.selection.dropdown").css("border-color", "#ccc");
            if (!$("#free_trial_lesson_time").val() || !$("#free_trial_lesson_time").val().replace(Patterns.replaceSpaces, '').match(Patterns.time)) {
                $("#free_trial_lesson_time").css("border-color", "red");
                flag = false;
            }
            else $("#free_trial_lesson_time").css("border-color", "#ccc");
            if (!selHowDidFindUs) {
                $(".ch_howFind .ui.selection.dropdown").css("border-color", "red");
                flag = false;
            }
            else $(".ch_howFind .ui.selection.dropdown").css("border-color", "#ccc");
            if (!selTool) {
                $(".ilearnDropdown .ilearnVia").css("border-color", "red");
                flag = false;
            }
            else $(".ilearnDropdown .ilearnVia").css("border-color", "#ccc");
            if (!flag) {
                $("#EveryfieldrequaredTrial").fadeIn("slow");
                return;
            }
            $("#EveryfieldrequaredTrial").fadeOut("slow");
            tr.children(".pop_up_trial.step_1").animate({ "top": "-100%" }, 500);
            var step2 = tr.children(".pop_up_trial.step_2");
            step2.animate({ "top": "0" }, 500);
            step2.find("#res_name_trial").text(user.Name);
            step2.find("#res_lang").text(selLang);
            step2.find("#res_level").text(selLevel);
            step2.find("#res_date").text($("#choose_date").val() + " " + $("#free_trial_lesson_time").val());
            step2.find("#go_back_trial").bind("click", function () {
                step2.animate({ "top": "-100%" }, 500);
                tr.children(".pop_up_trial.step_1.for_trial").animate({ "top": "50%" }, 500);
                $(this).unbind("click");
            });
            step2.find("input[type='checkbox']:not(#checkTermsConfirmationTrial)").on("change", function () {
                step2.find("input[type='checkbox']").filter(":checked").removeAttr("checked");
                this.checked = true;
                if (this.value == "pay_pal") {
                    $(".card_details").hide();
                    $(".pay_pal.ten").hide();
                    $(".pay_pal.pal").show();
                }
                if (this.value == "ten_pay") {
                    $(".card_details").hide();
                    $(".pay_pal.ten").show();
                    $(".pay_pal.pal").hide();
                }
                if (this.value == "visa") {
                    $(".card_details").show();
                    $(".pay_pal.ten").hide();
                    $(".pay_pal.pal").hide();
                }
            });
            step2.find("#confitm_payment_trial").unbind("click").bind("click", function () {
                if ($(".pay_pal.pal").css("display") == "block") {
                    var checkConfirm2 = $("#checkTermsConfirmationTrial");
                    if (!checkConfirm2.is(":checked")) {
                        checkConfirm2.parent().css("background-color", "yellow");
                        return;
                    }
                    else checkConfirm2.parent().css("background-color", "transparent");
                    step2.animate({ "top": "-100%" }, 500);
                    startLoader();
                    //$("body").prepend("<div id='curtain' style='z-index:100;position:fixed; width:100%; height:100%; background-color:rgba(0,0,0,0.7)'></div>");
                    $.ajax({
                        method: "post",
                        url: '@Url.Action("Get_PayPalLink", "PayPalPayment")',
                        data: {
                            CountLessons: 1,
                            Amount: "0.99",
                            SelectedLanguage: selLang,
                            StartDate: $("#choose_date").val(),
                            SelectedLevel: selLevel,
                            StartTime: $("#free_trial_lesson_time").val(),
                            Timezone: selTimezone,
                            Skype: selTool,
                            HowDidFind: selHowDidFindUs,
                            Telephone: $("#tel_number").intlTelInput("getNumber"),
                            CourseType: "Trial",
                            UtcDateTime: new Date().toString(),
                            Advance: "EUR 0.99",
                            chLang: chLang
                        },
                        success: function (e) {
                            location.href = e.success;
                        },
                        error: function (err) {
                            //$("#curtain").remove();
                            stopLoader();
                            $("#EveryfieldrequaredTrialStep2").fadeOut("slow");
                            step2.animate({ "top": "0" }, 500);
                            //alert(err.responseJSON.error);
                        }
                    });
                }
                if ($(".card_details").css("display") === "block") {
                    var mm = $("#selectMonthTrial").dropdown('get value');
                    var yyyy = $("#selectYearTrial").dropdown('get value');
                    var typecard = $("#typeCard").dropdown('get value');
                    var error;
                    var cardOwner = $("#cardOwnerTrial");
                    var cardNumber = $("#cardNumberTrial");
                    //var date = $("#date_expary");
                    var cvc = $("#cvcTrial");
                    var checkConfirm = $("#checkTermsConfirmationTrial");
                    if (!cardOwner.val()) {
                        cardOwner.css("border-color", "red");
                        error = true;
                    }
                    else cardOwner.css("border-color", "#ccc");
                    if (!cardNumber.val()) {
                        cardNumber.css("border-color", "red");
                        error = true;
                    }
                    else cardNumber.css("border-color", "#ccc");
                    if (!typecard[0]) {
                        $(".ch_cardType .selection.ui.dropdown").css("border", "1px solid red");
                        error = true;
                    }
                    else $(".ch_cardType .selection.ui.dropdown").css("border", "1px solid #ccc");
                    //|| !date.val().match(/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/)
                    //if (!date.val()) {
                    //    date.css("border-color", "red");
                    //    error = true;
                    //}
                    //else date.css("border-color", "#ccc");
                    if (!cvc.val()) {
                        cvc.css("border-color", "red");
                        error = true;
                    }
                    else cvc.css("border-color", "#ccc");
                    if (!checkConfirm.is(":checked")) {
                        checkConfirm.parent().css("background-color", "yellow");
                        error = true;
                    }
                    else checkConfirm.parent().css("background-color", "transparent");
                    if (error) {
                        $("#EveryfieldrequaredTrialStep2").fadeIn("slow");
                        return;
                    }
                    $("#EveryfieldrequaredTrialStep2").fadeOut("slow");
                    step2.animate({ "top": "-100%" }, 500);
                    startLoader();
                    //$("body").prepend("<div id='curtain' style='z-index:100;position:fixed; width:100%; height:100%; background-color:rgba(0,0,0,0.7)'></div>");
                    $.ajax({
                        method: "post",
                        url: '@Url.Action("MakePayment", "CreditCardPayment")',
                        data: {
                            Name: $("#cardOwnerTrial").val(),
                            CardNumber: $("#cardNumberTrial").val(),
                            ExpMonth:parseInt(mm),
                            ExpYear: parseInt(yyyy),
                            Cvc: $("#cvcTrial").val(),
                            Advance:"EUR 0.99",
                            PaymentDetails: {
                                CountLessons: 1,
                                Amount: "0.99",
                                SelectedLanguage: selLang,
                                StartDate: $("#choose_date").val(),
                                SelectedLevel: selLevel,
                                StartTime: $("#free_trial_lesson_time").val(),
                                Timezone: selTimezone,
                                Skype: selTool,
                                HowDidFind: selHowDidFindUs,
                                Telephone: $("#tel_number").intlTelInput("getNumber"),
                                CourseType: "Trial",
                                UtcDateTime: new Date().toString(),
                                chLang: chLang
                            }
                        },
                        success: function (e) {
                            stopLoader();
                            
                            tr.find(".thanks").animate({ "top": "50%" }, 500);
                            tr.find(".thanks").animate({ "top": "50%" }, 500).find("#userNameTrial").text(RegistratedUser.userName);
                        },
                        error: function (err) {
                            stopLoader();
                            step2.animate({ "top": "0" }, 500);
                            $("#CustomError").fadeIn("slow").find("#message").text(err.responseJSON.error);
                        }
                    });
                }
                if ($(".pay_pal.ten").css("display") === "block") {
                    var checkConfirm3 = $("#checkTermsConfirmationTrial");
                    if (!checkConfirm3.is(":checked")) {
                        checkConfirm3.parent().css("background-color", "yellow");
                        return;
                    }
                    else checkConfirm3.parent().css("background-color", "transparent");
                    $.ajax({
                        method: "post",
                        url: '@Url.Action("MakePayment", "TenPayPayment")',
                        data: {
                            CountLessons: 1,
                            Amount: "0.99",
                            SelectedLanguage: selLang,
                            StartDate: $("#choose_date").val(),
                            SelectedLevel: selLevel,
                            StartTime: $("#free_trial_lesson_time").val(),
                            Timezone: selTimezone,
                            Skype: selTool,
                            HowDidFind: selHowDidFindUs,
                            Telephone: $("#tel_number").intlTelInput("getNumber"),
                            CourseType: "Trial",
                            UtcDateTime: new Date().toString(),
                            Advance: "EUR 0.99",
                            chLang: chLang
                        },
                        success: function (e) {
                            location.href = e;
                        },
                        error: function (err) {
                            console.log(err);
                            console.log(err.responseJSON.error);
                        }
                    });
                }
            });
        });
    }
    var selLevel;
    var selLang;
    var selTool;
    var signInpopTrial = new SignUpPupup();
    var logUpopTrial = new LogUpPopup();
    $("#choose_level").dropdown({
        onChange: function(p, text) {
            selLevel = text;
        }
    });
    $(".ilearnDropdown .ilearnVia").dropdown({
        onChange: function (p, text) {
            selTool = p;
        }
    });
    $(".ch_lang_trial .dropdown").not("#hui").dropdown({
        onChange: function (p, text, val) {
            selLang = val[0].textContent.replace(Patterns.replaceTabsAndNewLines, '');
            if (!seLang || selLang !== seLang.split('|')[1]) {
                chLang = selLang + "_" + p;
            }
        }
    });
    var seLang = RegistratedUser.selectedLearnLang;
    if (RegistratedUser.isInit && RegistratedUser.selectedLearnLang)
        $(".ch_lang_trial .dropdown").not("#hui").dropdown('set selected', seLang.split('|')[0]);

    var tr = $(".trial.for_trial");
    $("#close_trial_step_thanks_trial").click(function () {
        tr.children(".thanks").animate({ "top": "-100%" }, 500, function () {
            tr.css("display", "none");
        });
        signInpopTrial.SuccessAllParams = null;
    });
    $("#close_trial_step1,#close_trial_step2,#close_trial_step_thanks").click(function () {
        var tr = $(".trial");
        tr.children(".pop_up_trial").animate({ "top": "-100%" }, 500, function () {
            tr.css("display", "none");
        });
        signInpopTrial.SuccessAllParams = null;
    });
    $("#choose_find_us").dropdown({
        onChange: function (p, text,val) {
            selHowDidFindUs = val[0].textContent.replace(Patterns.replaceTabsAndNewLines, '');
        }
    });
    //$("#typeCard").ddslick();
    $("#typeCard").dropdown({onChange:function(val, text) {
        
    }});
    $("#choose_date2").datepicker();
    $("#choose_date").datepicker("option", "dateFormat", "mm/dd/yy").datepicker({ minDate: 3});
    //$("#date_expary").datepicker();
    $("#go_to_ourPrivacy").click(function () {
        tr.children(".pop_up_trial.step_1").animate({ "top": "-100%" }, 500);
        tr.find(".ex_terms")
            .css("display", "block")
            .children(".terms_popiup")
            .animate({ "top": "50%" }, 500)
            .find("#close_terms").bind("click", function () {
                $(this).unbind("click").parents(".terms_popiup").animate({ "top": "-100%" }, 500, function () {
                    $(this).parent(".ex_terms").css("display", "none");
                });
                $(this).parents(".ex_terms")
                    .siblings(".pop_up_trial.step_1")
                    .animate({ "top": "50%" }, 500);
            });

    });
    $("#TermsOfService2").unbind("click").bind("click",function () {
        tr.children(".pop_up_trial.step_2").animate({ "top": "-100%" }, 500);
        tr.find(".ex_terms")
            .css("display", "block")
            .children(".terms_popiup")
            .animate({ "top": "50%" }, 500)
            .find("#close_terms").bind("click", function () {
                $(this).unbind("click").parents(".terms_popiup").animate({ "top": "-100%" }, 500, function () {
                    $(this).parent(".ex_terms").css("display", "none");
                });
                $(this).parents(".ex_terms")
                    .siblings(".pop_up_trial.step_2")
                    .animate({ "top": "0" }, 500);
            });

    });
    signInpopTrial.clickToIhaveAccount(logUpopTrial);
    logUpopTrial.CreateNewAccountEvent(signInpopTrial);
    $("#bt_trial_lesson").click(function () {
        var tr = $('.trial.for_trial');
        var userLog = localStorage.getItem("user");
        if (userLog === null) {
            localStorage.setItem("prePopup", "#bt_trial_lesson");
            signInpopTrial.Show();
        } else {
            ShowBuyTrial(tr, JSON.parse(userLog.replace(Patterns.replaceQuot, '\"')));
        }
    });
    var prePopup = localStorage.getItem("prePopup");
    if (prePopup) {
        localStorage.removeItem("prePopup");
        $("#bt_trial_lesson").click();
    }
</script>
