﻿@using Xencore.Helpers
@{

    ViewBag.Title = "We offer Business Language Training For You And Your Team";
    ViewBag.Description = "Open Languages Offers Business Language Training Online, Tailored To Your Industry, And Customized For You & Your Team. Get A Free Demo Today!";
    Layout = "~/Views/Shared/SharedLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
<div class="bussines-wrap">
<header class="main bussiness">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
               
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <a href="@Url.Action("NewLandingPage","Openlang")" class="logo">
                            <img style="max-width: 217px" src="~/img/logotype-normal-size.png">
                        </a>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
                        @{ Html.RenderPartial("~/Views/openlang/LastNewHeader.cshtml");}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="title">
                            @Html.Raw(Resources.Resource.EnterpriseSolutionss)
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="subtitle">
                            @Resources.Resource.LanguageTrainingFor
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="something">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <img class="head img-responsive center-block" src="~/Images/something-bgc.png">
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                <p class="subtitle desc">
                    @Resources.Resource.Amultilingualworkforce
                </p>
            </div>
        </div>
    </div>
</section>
<section class="HowItWorks">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <p class="title">@Resources.Resource.HowItWorks</p>
            </div>
            <div class="col-sm-12 col-xs-12">
                <p class="subtitle">@Resources.Resource.Aseasyas</p>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="col-lg-4 col-md-6 col-sm-12 col-sm-offset-0 col-xs-12">
                    <div class="step-1">
                        <div class="col-sm-8 col-sm-offset-2 col-xs-12 flex step ">
                            <img src="~/img/step1.png" class="step-img" alt="" />
                        </div>
                        <div class="col-sm-12 col-xs-12 no-paddings">
                            <p class="step-title">@Resources.Resource.Step 1</p>
                            <p class="flex step-subtitle">@Resources.Resource.Title1</p>
                            <p class="step-desc">@Resources.Resource.Youtellusabout</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="step-2">
                        <div class="col-sm-8 col-sm-offset-2 col-xs-12 flex step">
                            <img src="~/img/step2.png" class="step-img" alt="" />
                        </div>
                        <div class="col-sm-12 col-xs-12 step2-right no-paddings animated">
                            <p class="step-title">@Resources.Resource.Step 2</p>
                            <p class="step-subtitle flex">@Resources.Resource.Title2</p>
                            <p class="step-desc">@Resources.Resource.Ourteacherswillthen</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 col-xs-12">
                    <div class="step-3">
                        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center flex step step3-right">
                            <img src="~/Images/point-im-3.png" class="step-img" alt="" />
                        </div>
                        <div class="col-sm-12 col-xs-12 no-paddings step3-left ">
                            <p class="step-title">@Resources.Resource.Step 3</p>
                            <p class="step-subtitle">@Resources.Resource.Title3</p>
                            <p class="step-desc">@Resources.Resource.ouremployeesdevelop</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 text-center">
            <div id="scrollTo" class="custom-button">@Resources.Resource.GETAFREEDEMO</div>
        </div>
    </div>
    </div>
</section>

<section class="pricing">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>@Resources.Resource.OurCustomizedManager</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="img-wrap"><img src="~/img/p6.png" /></div>
                        <span>
                            @Resources.Resource.EasyOverview
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-wrap"><img src="~/img/p5.png" /></div>
                        <span>
                            @Resources.Resource.FullControl
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-wrap"><img src="~/img/p7.png" /></div>
                        <span>
                            @Resources.Resource.OverSeeAnd
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <p class="title"><span class="subtitle">@Resources.Resource.Lookatwhatour</span>@Resources.Resource.Testi_monials</p>
            </div>
            <div class="col-sm-12 col-xs-12">
                
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="owl-carousel owl-theme testi-slider">
                        <div class="item">
                            <img style="border-radius: 100px" src="~/img/nelma.jpg" alt="" />
                            <p class="slide-title">@Resources.Resource.HiMyNameIS</p>
                            <p class="slide-name">Nelma Teixeira Jones</p>
                            <p class="slide-desc">
                                @Resources.Resource.Isought
                            </p>
                        </div>
                        <div class="item">
                            <img style="border-radius: 100px" src="~/img/Jan.jpg" alt="" />
                            <p class="slide-title">@Resources.Resource.HiMyNameIS</p>
                            <p class="slide-name">Jan</p>
                            <p class="slide-desc">
                                @Resources.Resource.JanMessage
                            </p>
                        </div>
                        <div class="item">
                            <img style="border-radius: 100px" src="~/Images/BW_18_web.jpg" alt="" />
                            <p class="slide-title">@Resources.Resource.HiMyNameIS</p>
                            <p class="slide-name">Robin Grünbichler</p>
                            <p class="slide-desc">
                                @Resources.Resource.Within12months
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 text-center hidden-xs">
                <div class="custom-button" data-toggle="modal" data-target="#Login">Book a FREE Trial Lesson 0.99 cents</div>
            </div>
        </div>
    </div>
</section>
<section class="customers">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <p class="title">@Resources.Resource.OpenLanguagecustomers</p>
            </div>
            <div class="col-sm-12 col-xs-12">
                <p class="subtitle">@Resources.Resource.OpenLanguagesisdriving</p>
            </div>
            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 xs-mar-bot">
                        <img class="img-responsive  center-block" src="~/img/custom1.png" />
                    </div>
                    <div class="col-sm-3 col-xs-12 xs-mar-bot">
                        <img class="img-responsive  center-block" src="~/img/custom2.png" />
                    </div>
                    <div class="col-sm-3 col-xs-12 xs-mar-bot">
                        <img class="img-responsive  center-block" src="~/img/custom3.png" />
                    </div>
                    <div class="col-sm-3 col-xs-12 ">
                        <img class="img-responsive center-block" src="~/img/custom4.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="benefits page-howitowrks bussiness">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <p class="title">@Resources.Resource.HOWYOURBENEFITS</p>
                        <p class="subtitle">@Resources.Resource.Whylearnalanguagewithus</p>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-12 ben-1">
                                <div class="benefits-item">
                                    <div class="img-wrap flex"><img src="~/img/ben1.png" alt="" /></div>
                                    <p class="ben-title">
                                        @Resources.Resource.Increasedcustomersatisfaction
                                    </p>
                                    <p class="sub-title">
                                        @Resources.Resource.Beingabletospeak
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-12 ben-2">
                                <div class="benefits-item">
                                    <div class="img-wrap flex"><img src="~/img/ben2.png" alt="" /></div>
                                    <p class="ben-title">@Resources.Resource.Improvedinternalcommunication</p>
                                    <p class="sub-title">
                                        @Resources.Resource.Amultilingual
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-12  ben-3">
                                <div class="benefits-item">
                                    <div class="img-wrap flex"><img src="~/img/ben3.png" alt="" /></div>
                                    <p class="ben-title">
                                        @Resources.Resource.Heightenedcompetitiveness
                                    </p>
                                    <p class="sub-title">
                                        @Resources.Resource.Intoday
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-12 ben-4">
                                <div class="benefits-item">
                                    <div class="img-wrap flex"><img src="~/img/ben4.png" alt="" /></div>
                                    <p class="ben-title">
                                        @Resources.Resource.Enhancedemployeesatisfaction
                                    </p>
                                    <p class="sub-title">
                                        @Resources.Resource.Learninglanguages
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contactForm">
    <form action="@Url.Action("SendRequestBussiness")" method="post" id="bussRequest">
        <input type="hidden" id="EmploeeWithTranungs" name="EmploeeWithTranungs" value="Only me" />
        <div class="container business-content">
            <div class="row">
                <div class="col-sm-12">
                    <p class="title">@Resources.Resource.Yourcontactdetails</p>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label for="name">@Resources.Resource.Name</label>
                                <input data-rule-maxlength="20"
                                       data-rule-required="true"
                                       data-msg-required="Name is required field"
                                       data-msg-maxlength="Max length 20 digits"
                                       type="text" class="form-control" name="Name" placeholder="@Resources.Resource.Name" id="name" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label for="company">@Resources.Resource.Company</label>
                                <input data-rule-maxlength="20"
                                       data-rule-required="true"
                                       data-msg-required="Company is required field"
                                       data-msg-maxlength="Max length 20 digits"
                                       type="text" class="form-control" name="Company" placeholder="@Resources.Resource.Company" id="company" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label for="email">@Resources.Resource.Email1</label>
                                <input type="text"
                                       data-rule-email="true"
                                       data-rule-required="true"
                                       data-msg-required="Email is required field"
                                       data-msg-email="Email format"
                                       class="form-control" name="Email" placeholder="@Resources.Resource.Email1" id="email" />
                            </div>
                        </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 mar-t-20">
                    <div class="form-group">
                        <label for="message">@Resources.Resource.Yourmessage</label>
                        <textarea data-rule-required="true"
                                  name="Text" class="form-control" rows="7" id="message"
                                  placeholder="@Resources.Resource.Enteryourmessage"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <div class="custom-button" id="sendMessage">
                        @Resources.Resource.GETAFREEDEMO
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <p class="support-title">
                        @Resources.Resource.OurServiceteam
                    </p>
                    <p class="support-info"><span>info@openlanguages.com</span></p>
                    <p class="support-title">@Resources.Resource.Ourteamis</p>
                </div>
            </div>
        </div>
    </form>
</section>
</div>
@section scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery(".HowItWorks p.step-subtitle").each(function () {
                var maxTitleH = 50;
                if (jQuery(this).height() > maxTitleH) {
                    maxTitleH = jQuery(this).height();
                    jQuery(".HowItWorks p.step-subtitle").height(maxTitleH)
                }
            })
            jQuery("section.benefits .ben-title").each(function () {
                var maxTitleH = 50;
                if (jQuery(this).height() > maxTitleH) {
                    maxTitleH = jQuery(this).height();
                    jQuery("section.benefits .ben-title").height(maxTitleH)
                }
            })
        });
    $('.owl-carousel').owlCarousel({
        center: true,
        loop: true,
        margin: 45,
        stagePadding: 0,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 2
            }
        }
    });
    function scrollToElem() {
        $('html, body').animate({
            scrollTop: $(".contactForm").offset().top
        }, 2000);
    }
    $("#bussRequest").validate({
        errorPlacement: function () { },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass("error").siblings("button").addClass("error");
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass("error").siblings("button").removeClass("error");
        }
            
    });
    $(".training").click(function () {
        $(this).addClass("active").parent().siblings().children().removeClass("active");
        $("#EmploeeWithTranungs").val($(this).text());
    });
    $("#sendMessage").click(function () {
        if (!$("#bussRequest").valid())
            return;
        $.post("@Url.Action("SendRequestBussiness")", $("#bussRequest").serialize()).success(function (res) {
            $("#bussRequest").trigger('reset');
            alert("Your message has been sent");
        });
    });
        $("#scrollTo").click(function () {
            $('html, body').animate({
                scrollTop: $("#bussRequest").offset().top
            }, 2000);
        });
</script>
}