﻿
@using System.Threading
@using Microsoft.AspNet.Identity
@using Xencore.Extentions
@{
    ViewBag.Title = "Learn Languages Online With Experienced Private Teachers";
    ViewBag.Description = "Open Languages is an online language school. Our experienced language teachers are available for private lessons 24/7. Learn Anytime. Anywhere. You choose!";
    Layout = "~/Views/Shared/SharedLayout.cshtml";
    var lang = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0].ToLower();
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
<link href="~/Css/style12.css" rel="stylesheet" />
<link href="~/Css/main.min.css?v3.1.5" rel="stylesheet" />
<script src="~/js/InfrastructureForNewDesign/ForRegistration.js"></script>
<link href="~/less/main.css" rel="stylesheet" />

@{
    Html.RenderPartial("~/Views/openlang/_Menu.cshtml");
}
<header class="main flex @lang home-page flex-home">
    <div class="header-content">

        <div class="header-content-wrap">

            <div class="modal-login">
                <div class="popup-title-wrap">
                    <span class="popup-title">
                        Forgot your password?
                    </span>
                    <span class="popup-subtitle">
                        Don't worry! We will help you with this problem.
                    </span>
                </div>
                <div class="modal-content">
                    <div class="divider-wrapper">
                        <form id="resPass">
                            <div class="input-wrapper">
                                <div class="input-field input-wrapper-popup">
                                    <i class="material-icons prefix">alternate_email</i>
                                    <input name="Value" data-rule-required="true" type="email" id="email">
                                    <label for="email">Email address</label>
                                </div>
                            </div>
                            <div class="modal-bottom">
                                <div class="wrapper-choice">
                                    <span class="already" onclick="location.href = '@Url.Action("Login", "Openlang")'"><a>I remembered my password</a></span>
                                    <span class="already already-create" onclick="location.href = '@Url.Action("Registration", "Openlang")'"><a>Create account</a></span>
                                </div>


                                <button class="waves-effect waves-light btn modal-trigger button-create bt-login" type="button" onclick="resetPassword('@Url.Action("Login", "Openlang")')">RESTORE</button>

                            </div>
                        </form>
                        
                       
                    </div>
                    <div class="modal-footer-wrapper">
                        <div class="dropdown-wrapper">
                            <a class='dropdown-trigger dropdown-languages' data-target='dropdown2'><span class="ccc"></span><i class="material-icons">arrow_drop_down</i></a>
                            <ul id='dropdown2' class='dropdown-content modal-dropdown'>
                                <li data-lang="en" class="js-lang" data-check="English"><a>English</a></li>
                                <li data-lang="es" class="js-lang" data-check="Spanish"><a>Spanish</a></li>
                                <li data-lang="fr" class="js-lang" data-check="French"><a>French</a></li>
                                <li data-lang="de" class="js-lang" data-check="German"><a>German</a></li>

                            </ul>
                        </div>
                       
                    </div>
                </div>

            </div>







</header>




@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="~/js/InfrastructureForNewDesign/libs.min.js?v3.1.1"></script>
    <script src="~/js/InfrastructureForNewDesign/common.js?v3.1.1"></script>


    <script>


        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);

        jQuery('.hidepass-trigger').click(function () {
            if ($('#password').prop('type') == 'text') {
                $('#password').prop('type', 'password')
            } else {
                $('#password').prop('type', 'text')
            }
            if ($('.hidepass-trigger').hasClass("fa-eye-slash")) {
                $('.hidepass-trigger').addClass("fa-eye");
                $('.hidepass-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepass-trigger').removeClass("fa-eye");
                $('.hidepass-trigger').addClass("fa-eye-slash");
            }
        })
        jQuery('.hidepasscheck-trigger').click(function () {
            if ($('#password-check').prop('type') == 'text') {
                $('#password-check').prop('type', 'password')
            } else {
                $('#password-check').prop('type', 'text')
            }

            if ($('.hidepasscheck-trigger').hasClass("fa-eye-slash")) {
                $('.hidepasscheck-trigger').addClass("fa-eye");
                $('.hidepasscheck-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepasscheck-trigger').removeClass("fa-eye");
                $('.hidepasscheck-trigger').addClass("fa-eye-slash");
            }

        })
        jQuery('.hidepass-login-trigger').click(function () {
            if ($('#login_password-input').prop('type') == 'text') {
                $('#login_password-input').prop('type', 'password')
            } else {
                $('#login_password-input').prop('type', 'text')
            }

            if ($('.hidepass-login-trigger').hasClass("fa-eye-slash")) {
                $('.hidepass-login-trigger').addClass("fa-eye");
                $('.hidepass-login-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepass-login-trigger').removeClass("fa-eye");
                $('.hidepass-login-trigger').addClass("fa-eye-slash");
            }

        })

        let password = document.getElementById("password")
        let confirm_password = document.getElementById("password-check");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

        $(".already-button").click(function () {
            $('#modal-login').modal('open');
            $('#modal-registration').modal('close');
        });

        $('.signIn').css("display", "none");


    </script>

    <script>

        $(window).load(function () {

            jQuery(".sect-benefits .benefits-item .col-md-6:last-of-type")
                .height(jQuery(".sect-benefits .benefits-item .col-md-6:first-of-type").height());


            jQuery(".mobile-btn-nav span").click(function() {
                jQuery(".sidebar-wrapper").slideToggle();
            })
            jQuery(".page-name-wrap").click(function() {
                jQuery(".sidebar-wrapper").slideToggle();
            })

        });

        @if (!User.Identity.IsAuthenticated)
        {
            @:$(".main .title span").attr("data-toggle", "modal").attr("data-target", "#SignIn");
        }
        else
        {
            @:$(".main .title span").click(function() {
            @:   location.href = "@Url.Action("ListOfTeachers", "ListOfTeachers")"
            @:});
        }
        $(window).resize(function() {
            jQuery(".sect-benefits .benefits-item .col-md-6:last-of-type")
                .height(jQuery(".sect-benefits .benefits-item .col-md-6:first-of-type").height())
            if ($(window).width() <= '767') {
                $('body').on('click',
                    '.for-language',
                    function() {
                        if ($('.for-language .dropdown').hasClass('open')) {
                            $('ul li.li').removeClass('hide');
                        } else {
                            $('ul li.li').addClass('hide');
                        }
                    });
            } else {
            }

        });
        var resize = function(e) {
            $(".testi-slider .owl-item .item").each(function() {
                var descH = $(this).children(".description").children(".slide-desc").height();
                var nameH = $(this).children(".description").children(".slide-name").height();
                var fulldescrH = $(this).children(".description").height(descH + nameH);
            })
        };
        (function() {
            var time;
            window.onresize = function(e) {
                if (time)
                    clearTimeout(time);
                time = setTimeout(function() {
                        resize(e);
                    },
                    100);
            }
        })();

        $(document).ready(function () {

            $('.signIn').css("display", "none");

            $(".testi-slider .owl-item .item").each(function() {
                var descH = $(this).children(".description").children(".slide-desc").height();
                var nameH = $(this).children(".description").children(".slide-name").height();
                var fulldescrH = $(this).children(".description").height(descH + nameH);
            })


            if ($(window).width() <= '767') {
                $('body').on('click',
                    '.for-language',
                    function() {
                        if ($('.for-language .dropdown').hasClass('open')) {
                            $('ul li.li').removeClass('hide');
                        } else {
                            $('ul li.li').addClass('hide');
                        }
                    });
            } else {
            }
        });


        $('.owl-carousel').owlCarousel({
            center: true,
            loop: true,
            margin: 45,
            nav: true,
            dots: false,
            items: 1,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"]
        });

        function mainResize() {
            //if (window.location.href == 'http://localhost:21514/' || window.location.href == 'http://xencoredevelop.azurewebsites.net/' || window.location.href == 'http://xencoredevelop.azurewebsites.net/') {
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            if (windowWidth <= 768) {
                var widthItem = $('.for-xs-slider .slider-col');
                $('.for-xs-slider').width(widthItem[0].offsetWidth * 3 + 'px')
            }
            if (windowWidth < 540) {
                var allWidth = $('.for-xs-slider').width();
                var block = $('.slider-col');
                var blockWidth = block.width() - 25;
                var windowWidth = $(window).width();
                var newBlockWidth = 0;
                var slide = 0;
                $('.for-xs-slider')[0].addEventListener('swr',
                    function() {
                        console.log($(this).data('slide'));
                        if ($(this).data('slide') == 0) {
                        } else {
                            newBlockWidth -= blockWidth;
                            slide -= 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
                $('.for-xs-slider')[0].addEventListener('swl',
                    function() {
                        if ($(this).data('slide') == 2) {
                        } else {
                            newBlockWidth += blockWidth;
                            slide += 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
            }
            if (windowWidth > 540 && windowWidth < 769) {
                var allWidth = $('.for-xs-slider').width();
                var block = $('.slider-col');
                var blockWidth = block.width() - 25;
                var windowWidth = $(window).width();
                var newBlockWidth = 0;
                var slide = 0;
                $('.for-xs-slider')[0].addEventListener('swr',
                    function() {
                        console.log($(this).data('slide'));
                        if ($(this).data('slide') == 0) {
                        } else {
                            newBlockWidth -= blockWidth;
                            slide -= 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
                $('.for-xs-slider')[0].addEventListener('swl',
                    function() {
                        console.log($(this).data('slide'));
                        if ($(this).data('slide') == 1) {
                        } else {
                            newBlockWidth += blockWidth;
                            slide += 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
            }
        };
        @if (User.Identity.IsAuthenticated)
        {
            <text>
        $('#date4').datetimepicker({
            format: 'DD/MM/YYYY',
            minDate: moment().add(1, "day"),
            ignoreReadonly: true
        });
        $('#time4').datetimepicker({
            format: 'HH:mm',
            defaultDate: new Date(),
            ignoreReadonly: true,
            stepping: 30

        });
        $("#bind").click(function() {
            var lang = $("#selectLangForTeach").val();
            var level = $("#selectLevelForTeach").val();
            var date = $('#date4').data('DateTimePicker').date();
            var time = $('#time4').data('DateTimePicker').date();
            date.hours(time.hours());
            date.minutes(time.minutes());
            date.seconds(0);
            $("#TellUsMore2 #lng").text(($("#selectLangForTeach:selected").text()));
            $("#TellUsMore2 #tm").text(date.format("HH:mm"));
            $("#TellUsMore2 #dt").text(date.format("DD/MM/YYYY"));
            $.post("en/openlang/SendRequestToFreeLesson", { language: lang, level: level, date: date.toISOString() })
                .success(function(res) {
                    $("#TellUsMore2").modal("show");
                }).fail(function(err) {
                    alert(err);
                });
        });
        $(document).ready(function() {
            //$("#TellUsMore1.tell").modal('show');
            if ($.cookie("showBookTrialLessonPopup")) {
                clearCookie("showBookTrialLessonPopup");
                $("#TellUsMore1").modal('show');
            }
        });
            </text>
        }
    </script>
}


