﻿@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBearerToken</title>
</head>
<body>
    <!-- Google Code for Sign up Conversion Page -->
    <script type="text/javascript">
var google_conversion_id = 991936943;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "z4HzCKbCkHAQr4P_2AM";
var google_remarketing_only = false;
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/991936943/?label=z4HzCKbCkHAQr4P_2AM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
@Scripts.Render("/Scripts/openlang/OauthAutorizeToken.js")
<script>
        location.href = "@Model";
</script>
</body>
</html>
