﻿@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/_OpenLangMain.cshtml";
}
@section head{
    <title>Landing Page</title>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
    @*<script src="~/Scripts/openlang/Prices/CountryCurrency.js"></script>
    <script src="~/Scripts/openlang/Prices/CurrencyConverter.js"></script>
    <script src="~/Scripts/openlang/Prices/EuropeAndOtherWorldPrices.js"></script>
    <script src="~/Scripts/openlang/Prices/ICountryPrices.js"></script>
    <script src="~/Scripts/openlang/Prices/PropertiesPrices.js"></script>
    <script src="~/Scripts/openlang/Prices/ScandinaviaPrices.js"></script>
    <script src="~/Scripts/openlang/Prices/SwitzerlandPrices.js"></script>
    <script src="~/Scripts/openlang/Prices/PlansPrices.js"></script>*@
    <script src="~/Scripts/openlang/LeftNav.js"></script>
    <script>
        $(document).ready(function() {
            if (!RegistratedUser.isInit)
                $(".flags_content>div>div>*").click(function() {
                    signInpop.Show();
                    $(".sing_in input[name='selLang']").val($(this).data("firstlanguage"));
                    selLangg = $(this).data("firstlanguage");
                    $("#selLangForSing .dropdown").dropdown('set selected', $(this).data("firstlanguage").split('|')[0]);
                });
            else {
                $(".flags_content>div>*").click(function() {
                    $("i[data-to='.plans_prices']").click();
                });
            }
            if (RegistratedUser.isInit && RegistratedUser.currency)
                PlansPrices.Currency = RegistratedUser.currency.split(':')[0];
            PlansPrices.Init(".flex_prices_content_inner");
            $("#scroll_more").click(function() {
                $("html, body").stop().animate({ scrollTop: $(".plans_prices").offset().top }, 1000);
            });
            $(".show_pop_law").unbind("click").bind("click", function() {
                $($(this).data("pop"))
                    .parent()
                    .css({ 'display': 'block' })
                    .end().css({ 'display': 'block' })
                    .children()
                    .first()
                    .animate({ 'top': '50%' }, 500).find("#close_terms").bind("click", function() {
                        $(this).parents(".terms_popiup").animate({ 'top': '-100%' }, 500, function() {
                            $(this).parent().css("display", "none").parent().css("display", "none");
                        });

                    });
            });
            $.post('@Url.Action("BuyCourseView", "Openlang")', function(result) {
                $(".preHeader").append(result);
            });
            $.post('@Url.Action("TrialLessonView", "Openlang")', function(result) {
                $(".preHeader").append(result);
            });
            $("#stayTouchClick").click(function() {
                var email = $(this).siblings("input").val();
                if (!email || !email.match(Patterns.email)) {
                    $(this).siblings("input").css("border-color", "red");
                    $("#notEnterFieldTestimonials").fadeIn("slow", function() {
                        setTimeout(function() {
                            $("#notEnterFieldTestimonials").fadeOut("slow");
                        }, 5000);
                    });
                    return;
                }
                $(this).siblings("input").css("border-color", "#ccc");
                $.ajax({
                    url: "/openlang/StayInTouchSubscription",
                    type: "POST",
                    data: { email: $(this).siblings("input").val() },
                    async: true,
                    success: function(result) {
                        $("#stayTouchClick").siblings("input").val("");
                        Messager.show("SendEmail");

                    },
                    error: function(er) {
                        alert(er.message);
                    }
                });
            });
        });
    </script>
}
@section preHeader{
    @if (ViewBag.PaymentCompleteAmount != null)
    {
        @Html.Partial("_PaymentCompleteSignalize")
    }
    <div class="how_it_works">
        <div class="pop_up_how_it_works">
            <span id="close_how_it_works" class="close_log_in"><img src="~/Images/openlang/close.jpg"></span>
            <div class="header">
                <h2>@Resources.Resource.HowItWorks</h2>
            </div>
            <div class="log_in_with">
                <iframe width="560" style="margin: 20px;" height="315" src="https://www.youtube.com/embed/yhevvEDBxeM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
}
<div class="video">
    <video id="video" muted="muted" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
        <source src="~/Content/homepage_video_testing_2.webm" type='video/webm; codecs="vp8, vorbis"'/>
        <source src="~/Content/homepage_video_testing_2.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'/>
        <source src="~/Content/homepage_video_testing_2.ogv" type='video/ogg; codecs="theora, vorbis"'/>
    </video>
</div>
@Html.Partial("_LearnLanguagesOnline")
@Html.Partial("_PlansAndPrices")
@Html.Partial("_AboutUs")
@Html.Partial("_Testimonials")
@Html.Partial("_LearnByImmersion")

@Html.Partial("_Footer")