﻿<footer>
    
            <div class="footer-bottom">
                <div class="footer-top-wrapper footer-top-wrapper-flex">
                    <div class="footer-property">
                        <span class="footer-bold">Open Languages</span> respects the intellectual property rights of others and expects its
                        users to do the same. Open Languages may remove content that in its sole discretion
                        appears to infringe the intellectual property rights of others. Open Languages will in its discretion
                        terminate the accounts of users who infringe the intellectual property rights of others.
                        <span class="footer-reserved">© OPEN LANGUAGES 2018. All rights reserved.</span>
                    </div>
                    
                <div>
                    <p class="list-title">@Resources.Resource.Company</p>
                    <ul>
                        <li>@Html.ActionLink(Resources.Resource.Offices, "Offices", "Offices")</li>
                        <li>@Html.ActionLink(Resources.Resource.Terms, "Terms", "PrivacyAndTerms")</li>
                        <li>@Html.ActionLink(Resources.Resource.Privacy, "Privacy", "PrivacyAndTerms")</li>
                    </ul>
                </div>
                <div>
                    <p class="list-title">@Resources.Resource.JoinUs</p>
                    <ul>
                        <li>@Html.ActionLink(Resources.Resource.Forteachers, "Teachers", "Forteachers")</li>
                        <li>@Html.ActionLink(Resources.Resource.Contact_us, "ContactUs", "ContactUs")</li>
                    </ul>
                </div>
                <div>
                    <p class="list-title">@Resources.Resource.Info</p>
                    <ul>
                        @*<li>@Html.ActionLink(Resources.Resource.ForEnterprises, "Bussiness", "Openlang")</li>*@
                        @*<li>@Html.ActionLink(Resources.Resource.Courses, "Courses", "Courses")</li>*@
                        <li>@Html.ActionLink("FAQ", "FAQ", "Faq")</li>
                        <li onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers", new { area = string.Empty})'"><a>@Resources.Resource.Findateacher</a></li>
                    </ul>
                </div>
                
                
            </div>
        </div>
            <div class="footer-footer">
                <div class="footer-top-wrapper">
                    <div>
                        <span class="footer-language">Site language:</span>
                        <ul class="list-lang">
                            <li><a onclick="changeLang('en')">English</a></li>
                            <li><a onclick="changeLang('es')">Spanish</a></li>
                            <li><a onclick="changeLang('fr')">French</a></li>
                            <li><a onclick="changeLang('de')">Germany</a></li>
                        </ul>
                    </div>
                    <div>
                        @*<p class="list-title">@Resources.Resource.FollowUs</p>*@
                        <div class="socials">
                            <a href="https://www.facebook.com/openlanguageszh">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="http://twitter.com/openlanguagesTW">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/3598248 ">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://plus.google.com/u/0/101655078254166830753/posts">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
              </div>
</footer>