﻿@using Xencore.Extentions
<nav class="flex top-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="user-logo user-logIn" style="cursor: pointer" onclick="location.href='@Url.Action("LoadMain", "Main", new {area="Dashboard"})'">
            <span class="username" style="font-family: 'Lato'; display: inline-block;  font-size: 16px; font-weight: bold">Hi, @User.UserName().Split(' ')[0]</span> <img style="margin-left: 7px;" src="@User.ProfilePicture()" alt=""/>
        </div>
        <div data-href="@(Url.Action("LoadMain", "Main",new {area="Dashboard"}) + "#/chat")" class="messages">
            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <span class="mess-count"></span>
        </div>
    }
    else
    {
        <div class="user-logo hidden-xs user-notLogin">
            @if (User.Identity.IsAuthenticated)
            {
                <span onclick="location.href = '@(Url.Action("LoadMain", "Main",new {area="Dashboard"}) + "#/self-study")'" style="font-size: 19px; font-weight: bold; margin-top: 5px; cursor: pointer; display: inline-block; margin-right: 50px;">Self Study System</span>
            }
            else
            {
                <span onclick="location.href = '@Url.Action("Login","Openlang", new { area = string.Empty})'" style="font-size: 19px; font-weight: bold; margin-top: 5px; cursor: pointer; display: inline-block; margin-right: 50px;">Self Study System</span>
            }

            <span onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers", new { area = string.Empty})'" style="font-size: 19px; font-weight: bold; margin-top: 5px; cursor: pointer; display: inline-block; margin-right: 50px;">@Resources.Resource.Findateacher</span>
            @*@if (ViewBag.IsMain != null)
        {*@

            @*<span onclick="location.href = '@Url.Action("Prices", "Openlang")'" style="font-size: 19px; font-weight: bold; margin-top: 5px; cursor: pointer; display: inline-block; margin-right: 50px;">@Resources.Resource.Pricing</span>*@
            @*}*@
            <span onclick="location.href = '@Url.Action("TeacherApplication", "Openlang")'" style="font-size: 19px; font-weight: bold; margin-top: 5px; cursor: pointer; display: inline-block; margin-right: 50px;">Apply to teach</span>
            @*<span style="font-size: 19px; cursor: pointer; display: inline-block; font-weight: bold; margin-top: 5px; margin-right: 60px;">*@@*<span data-target="#SignIn" data-toggle="modal">@Resources.Resource.Register &nbsp;</span>|&nbsp;*@ <span class="signIn waves-effect waves-light modal-trigger" onclick="location.href = '@Url.Action("Login", "Openlang")'">@Resources.Resource.LogIn@*</span>*@</span>
        </div>
    }
    @*<div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>*@
    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul class="ul">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="li"><a href="@(Url.Action("LoadMain", "Main",new {area="Dashboard"}) + "#/mylessons")"> @Resources.Resource.MyDashboard</a></li>
                    <li class="li"><a href="@(Url.Action("LoadMain", "Main",new {area="Dashboard"}) + "#/chat")"> @Resources.Resource.MyMessage</a></li>
                }
                else
                {
                    <li data-toggle="modal" data-target="#Login" id="loginbtn" class="li"><a href="#">@Resources.Resource.LogIn</a></li>
                    <li data-toggle="modal" data-target="#TeacherApp" id="applytoteach1" class="li"><a href="#">@Resources.Resource.APPLY_TO_TEACH.ToUpperFirstCharacter()</a></li>
                }
                @if (!Response.Cookies.AllKeys.Contains("isNewLandingPage") && !Request.Cookies.AllKeys.Contains("isNewLandingPage"))
                {
                    <li class="li"><a href="@Url.Action("ListOfTeachers", "ListOfTeachers", new {area = string.Empty})">@Resources.Resource.Findateacher</a></li>   
                }
                @*<li class="li"><a href="@Url.Action("Index", "HowItWorks",new {area = string.Empty})">@Resources.Resource.Howitworkss</a></li>
                <li class="li"><a href="@Url.Action("Bussiness", "Openlang",new {area = string.Empty})">@Resources.Resource.ForEnterprises</a></li>*@
                <li class="for-language">
                    <span></span>
                    <div class="dropdown">
                        <div class="dropdown-toggle drop" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.Languages
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            @*<li data-lang="en" class="js-lang" data-check="English">@Resources.Resource.English</li>
                            <li data-lang="de" class="js-lang" data-check="German">@Resources.Resource.German</li>
                            <li data-lang="fr" class="js-lang" data-check="French">@Resources.Resource.French</li>
                            <li data-lang="it" class="js-lang" data-check="Italian">@Resources.Resource.Italian</li>
                            <li data-lang="es" class="js-lang" data-check="Spanish">@Resources.Resource.Spanish</li>
                            <li data-lang="pt" class="js-lang" data-check="Portuguese">@Resources.Resource.Portuguese </li>
                            <li data-lang="ru" class="js-lang" data-check="Russian">@Resources.Resource.Russian</li>*@
                        </ul>
                    </div>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="li" onclick="logOut()"><a href="#">@Resources.Resource.LogOut</a></li>
                }

            </ul>
        </nav>
    </div>
</nav>
