﻿@using System.Threading
@using Microsoft.AspNet.Identity
@using Xencore.Extentions
@{
    ViewBag.Title = "Learn Languages Online With Experienced Private Teachers";
    ViewBag.Description = "Open Languages is an online language school. Our experienced language teachers are available for private lessons 24/7. Learn Anytime. Anywhere. You choose!";
    Layout = "~/Views/Shared/SharedLayout.cshtml";
    var lang = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0].ToLower();
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
<link href="~/Css/style12.css" rel="stylesheet" />
<link href="~/Css/main.min.css?v3.1.5" rel="stylesheet" />

<link href="~/less/main.css" rel="stylesheet" />


@{
    Html.RenderPartial("~/Views/openlang/_Menu.cshtml");
}
<header class="main flex @lang home-page flex-home">
    <div class="header-content">

        <div class="header-content-wrap">
            @{
                Html.RenderPartial("~/Views/openlang/LearnForeignLanguage/LearnForeignLanguage." + lang + ".cshtml");
            }

            <div>
                <div>
                    <p class="subtitle visible-xs">
                        @Resources.Resource.Enjoypersonalizedlessons
                    </p>
                </div>
                <div>
                    <p class="subtitle hidden-xs">
                        @Resources.Resource.Enjoypersonalizedlessons
                    </p>
                </div>
            </div>
            <div class="main-page-header-img">
                <img src="~/Images/macbook4.png" alt="Welcome" />
            </div>

            <div id="modal-login" class="modal modal-login">
                <div class="popup-title-wrap">
                    <span class="popup-title">
                        Welcome!
                    </span>
                    <span class="popup-subtitle">
                        Thank you for visiting Open Languages!
                    </span>
                </div>
                <div class="modal-content">
                    <div class="divider-wrapper">
                        <form id="loginform" action="/" method="post">
                            <div class="input-wrapper">
                                <div class="input-field input-wrapper-popup">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="login_login-input" type="text" class="validate" required>
                                    <label for="login_login-input">Username</label>
                                </div>


                                <div class="input-field input-wrapper-popup">
                                    <i class="material-icons prefix">lock</i>
                                    <input id="login_password-input" type="password" class="validate" required>
                                    <label for="login_password-input">Password</label>
                                    <i class="fa fa-eye hidepass-login-trigger"></i>
                                </div>

                            </div>
                            <div class="modal-bottom">
                                <div class="wrapper-choice">
                                    <span class="already"><a>Forgot password?</a></span>
                                    <span class="already already-create"><a>Create account</a></span>
                                </div>
                                <button class="waves-effect waves-light btn modal-trigger button-create bt-login" type="submit">LOG IN</button>
                            </div>
                        </form>
                        <div class="orLog-wrapper">
                            <span class="orLog">Or Log In With </span>
                        </div>
                        <div class="social-buttons-wrapper">
                            <div id="facebook_login" class="waves-effect waves-light btn social-btn">FACEBOOK</div>
                            <div id="google_login" class="waves-effect waves-light btn social-btn">GOOGLE</div>
                        </div>
                    </div>
                    <div class="modal-footer-wrapper">
                        <div class="dropdown-wrapper">
                            <a class='dropdown-trigger dropdown-languages' data-target='dropdown2'>English<i class="material-icons">arrow_drop_down</i></a>
                            <ul id='dropdown2' class='dropdown-content modal-dropdown'>
                                <li><a>English</a></li>
                                <li><a>Spanish</a></li>
                                <li><a>French</a></li>
                                <li><a>Deutch</a></li>

                            </ul>
                        </div>
                        <div class="policy-wrapper">
                            <span><a href="/en/privacy">Terms of Service</a></span>
                            <span><a href="/en/privacy">Privacy Policy</a></span>
                        </div>
                    </div>
                </div>

            </div>


            <div>
                <div>
                    <div class="button-wrap">
                        @if (User.Identity.IsAuthenticated)
                        {
                            //if (Response.Cookies.AllKeys.Contains("isNewLandingPage") || Request.Cookies.AllKeys.Contains("isNewLandingPage"))
                            //{
                            <div data-toggle="modal" onclick="location.href = '@(Url.Action("LoadMain", "Main",new {area="Dashboard"}) + "#/self-study")'" class="custom-button-new button-main-new waves-effect waves-light">@Resources.Resource.BookATrialLesson</div>
                            @*}
                                else
                                {
                                    <div onclick="location.href='@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button">@Resources.Resource.BookATrialLesson</div>
                                }*@
                        }
                        else
                        {

                            <div class="custom-button-new button-main-new waves-effect waves-light" onclick="location.href = '@Url.Action("Login", "Openlang")'">@Resources.Resource.BookATrialLesson</div>
                        }
                    </div>


                </div>
            </div>

</header>



@*@{ Html.RenderPartial("_PricesBlock");}*@
@{ Html.RenderPartial("_LearningOwnPace");}
<section class="sect-wrap sect-teachers">
    <p class="title teachers-title"><span class="subtitle">Or Take</span>Live Lessons With Our Experienced Teachers <br /><span class="subtitle">X Languages Now Available, 24/7</span></p>
    <div class="footer-top-wrapper section-teachers-wrapper">

        <div class="teachers-nav-wrap">
            <ul class="teachers-nav">
                <li class="teachers-item" style="background-image: linear-gradient(136deg, #f8c741, #cc5d1e);">
                    <div class="teacher-img-wrap">
                        <img src="~/Images/teacher1.png" alt="teacher" />
                        <div class="small-circle"></div>
                        <div class="big-circle"></div>
                    </div>
                    <span class="teacher-title">Serena Calderisi</span>
                    <span class="teacher-subtitle">Teaches English</span>
                </li>
                <li class="teachers-item" style="background-image: linear-gradient(136deg, #fb8c42, #b82b2d);">
                    <div class="teacher-img-wrap">
                        <img src="~/Images/teacher2.png" alt="teacher" />
                        <div class="small-circle"></div>
                        <div class="big-circle"></div>
                    </div>
                    <span class="teacher-title">Hugo Oliveira</span>
                    <span class="teacher-subtitle">Teaches Portuguese</span>
                </li>
                <li class="teachers-item" style="background-image: linear-gradient(136deg, #e75758, #982ab5);">
                    <div class="teacher-img-wrap">
                        <img src="~/Images/teacher3.png" alt="teacher" />
                        <div class="small-circle"></div>
                        <div class="big-circle"></div>
                    </div>
                    <span class="teacher-title">Alex Hughes</span>
                    <span class="teacher-subtitle">Teaches English</span>
                </li>
                <li class="teachers-item" style="background-image: linear-gradient(135deg, #8665fe, #389ecb);">
                    <div class="teacher-img-wrap">
                        <img src="~/Images/teacher4.png" alt="teacher" />
                        <div class="small-circle"></div>
                        <div class="big-circle"></div>
                    </div>
                    <span class="teacher-title">Geoffrey Lugli</span>
                    <span class="teacher-subtitle">Teaches French</span>
                </li>
                <li class="teachers-item" style="background-image: linear-gradient(136deg, #b82de2, #5a3ad0);">
                    <div class="teacher-img-wrap">
                        <img src="~/Images/teacher5.png" alt="teacher" />
                        <div class="small-circle"></div>
                        <div class="big-circle"></div>
                    </div>
                    <span class="teacher-title">Mathilde</span>
                    <span class="teacher-subtitle">Teaches French</span>
                </li>
                <li class="teachers-item" style="background-image: linear-gradient(136deg, #60d2ff, #46b29a);">
                    <div class="teacher-img-wrap">
                        <img src="~/Images/teacher6.png" alt="teacher" />
                        <div class="small-circle"></div>
                        <div class="big-circle"></div>
                    </div>
                    <span class="teacher-title">Michael Thomas</span>
                    <span class="teacher-subtitle">Teaches English</span>
                </li>
                <li class="teachers-item" style="background-image: linear-gradient(136deg, #74e1c8, #64af21);">
                    <div class="teacher-img-wrap">
                        <img src="~/Images/teacher7.png" alt="teacher" />
                        <div class="small-circle"></div>
                        <div class="big-circle"></div>
                    </div>
                    <span class="teacher-title">Ana Becerra Gуmez</span>
                    <span class="teacher-subtitle">Teaches Spanish</span>
                </li>
            </ul>

        </div>
        <div class="teachers-benefits">
            <ul class="teachers-benefits-nav">
                <li>
                    <img src="~/Images/custom.svg" alt="Benefit Icon" />
                    <span class="teachers-benefits-title">Customized Lesson Plan</span>
                    <span class="teachers-benefits-subtitle">
                        Your teacher will tailor a lesson plan for you,
                        based on your level, interests and objectives
                    </span>
                </li>
                <li>
                    <img src="~/Images/flex.svg" alt="Benefit Icon" />
                    <span class="teachers-benefits-title">Flexible Scheduling</span>
                    <span class="teachers-benefits-subtitle">
                        Schedule your lessons whenever is convenient
                        for you, including evenings and weekends
                    </span>
                </li>
                <li>
                    <img src="~/Images/final.svg" alt="Benefit Icon" />
                    <span class="teachers-benefits-title">Final Certification</span>
                    <span class="teachers-benefits-subtitle">
                        At the end of each level, you receive an official
                        certificate that you can use to prove your
                        language level
                    </span>
                </li>
                <li>
                    <img src="~/Images/tools.svg" alt="Benefit Icon" />
                    <span class="teachers-benefits-title">Online Teaching Tools</span>
                    <span class="teachers-benefits-subtitle">
                        An intuitive learning environment, and online
                        tools to accelerate your progress
                    </span>
                </li>
            </ul>
        </div>
        <div onclick="location.href = '@Url.Action("ListOfTeachers", "ListOfTeachers", new {area = string.Empty})'" class="custom-button-new button-border waves-effect waves-light"><p>find your own teacher</p></div>
    </div>

</section>
<section class="testimonials">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p class="title"><span class="subtitle">@Resources.Resource.Lookatwhatour</span>@Html.Raw(Resources.Resource.Testi_monials)</p>
            </div>

            <div class="col-sm-12">
                <div class="row">
                    <div class="owl-carousel owl-theme testi-slider">
                        <div class="item clearfix">
                            <img src="~/Images/BW_18_web.jpg" alt="" />
                            <div class="description">
                                <q class="slide-desc">@Resources.Resource.Within12months</q>
                                <p class="slide-name">- Robin Grünbichler</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/Jan.jpg" alt="" />
                            <div class="description">
                                <q class="slide-desc">@Resources.Resource.JanMessage</q>
                                <p class="slide-name">- Jan</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/nelma.jpg" alt="" />
                            <div class="description">
                                <q class="slide-desc">@Resources.Resource.Isought</q>
                                <p class="slide-name">- Nelma Teixeira Jones</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                @if (User.Identity.IsAuthenticated)
                {
                    if (!Response.Cookies.AllKeys.Contains("isNewLandingPage") && !Request.Cookies.AllKeys.Contains("isNewLandingPage"))
                    {
                        <a href="@Url.Action("ListOfTeachers", "ListOfTeachers")" class="custom-button-new button-border waves-effect waves-light"><p>@Resources.Resource.Createanaccount</p></a>
                    }
                    else
                    {
                        <div onclick="location.href='@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button-new button-border waves-effect waves-light"><p>@Resources.Resource.BookATrialLesson</p></div>
                    }

                }
                else
                {
                    <div onclick="location.href='@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button-new button-border waves-effect waves-light"><p>@Resources.Resource.BookATrialLesson</p></div>
                }
            </div>
        </div>
    </div>
</section>

@{ Html.RenderPartial("_Benefits");}
<div class="footer-top">

    <div class="footer-top-wrapper">
        <div class="footer-top-left">
            <img src="~/Images/emblem.png" class="logo-footer" alt="" />
            <div class="footer-title-wrap">
                <h5 class="footer-title">Start learning a new language today</h5>
                <span class="footer-subtitle">Try a free a trial live lesson and our Self Study System </spanclass="footer-title">
            </div>
        </div>
        <div class="footer-top-right">
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div onclick="location.href = '@(Url.Action("LoadMain", "Main", new { area = "Dashboard" }) + "#/self-study")'" class="custom-button-new button-main-new waves-effect waves-light btn-footer">
                        Try for Free
                    </div>
                    <div onclick="location.href = '@(Url.Action("LoadMain", "Main", new { area = "Dashboard" }))'" class="custom-button-new button-border2 waves-effect waves-light btn-footer">
                        <p class="footer-button">Get A PRO account</p>
                    </div>
                }
                else
                {
                    <div onclick="location.href = '@Url.Action("Login", "Openlang")'" class="custom-button-new button-main-new waves-effect waves-light btn-footer">
                        Try for Free
                    </div>
                    <div onclick="location.href = '@Url.Action("Login", "Openlang")'" class="custom-button-new button-border2 waves-effect waves-light btn-footer">
                        <p class="footer-button">Get A PRO account</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    Html.RenderPartial("~/Views/openlang/NewModals/FreeTrialThroughtAdmin.cshtml");
    Html.RenderPartial("~/Views/openlang/NewModals/ThanksForRequest.cshtml");
}
@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="~/js/InfrastructureForNewDesign/libs.min.js?v3.1.1"></script>
    <script src="~/js/InfrastructureForNewDesign/common.js?v3.1.1"></script>


    <script>

        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);

        jQuery('.hidepass-trigger').click(function () {
            if ($('#password').prop('type') == 'text') {
                $('#password').prop('type', 'password')
            } else {
                $('#password').prop('type', 'text')
            }
            if ($('.hidepass-trigger').hasClass("fa-eye-slash")) {
                $('.hidepass-trigger').addClass("fa-eye");
                $('.hidepass-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepass-trigger').removeClass("fa-eye");
                $('.hidepass-trigger').addClass("fa-eye-slash");
            }
        })
        jQuery('.hidepasscheck-trigger').click(function () {
            if ($('#password-check').prop('type') == 'text') {
                $('#password-check').prop('type', 'password')
            } else {
                $('#password-check').prop('type', 'text')
            }

            if ($('.hidepasscheck-trigger').hasClass("fa-eye-slash")) {
                $('.hidepasscheck-trigger').addClass("fa-eye");
                $('.hidepasscheck-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepasscheck-trigger').removeClass("fa-eye");
                $('.hidepasscheck-trigger').addClass("fa-eye-slash");
            }

        })
        jQuery('.hidepass-login-trigger').click(function () {
            if ($('#login_password-input').prop('type') == 'text') {
                $('#login_password-input').prop('type', 'password')
            } else {
                $('#login_password-input').prop('type', 'text')
            }

            if ($('.hidepass-login-trigger').hasClass("fa-eye-slash")) {
                $('.hidepass-login-trigger').addClass("fa-eye");
                $('.hidepass-login-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepass-login-trigger').removeClass("fa-eye");
                $('.hidepass-login-trigger').addClass("fa-eye-slash");
            }

        })

        let password = document.getElementById("password")
        let confirm_password = document.getElementById("password-check");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

        //$(".already-button").click(function () {
        //    $('#modal-login').modal('open');
        //    $('#modal-registration').modal('close');
        //});



    </script>

    <script>

        $(window).load(function() {
            jQuery(".sect-benefits .benefits-item .col-md-6:last-of-type")
                .height(jQuery(".sect-benefits .benefits-item .col-md-6:first-of-type").height());


            jQuery(".mobile-btn-nav span").click(function() {
                jQuery(".sidebar-wrapper").slideToggle();
            })
            jQuery(".page-name-wrap").click(function() {
                jQuery(".sidebar-wrapper").slideToggle();
            })

        });

        @if (!User.Identity.IsAuthenticated)
        {
            @:$(".main .title span").attr("data-toggle", "modal").attr("data-target", "#SignIn");
        }
        else
        {
            @:$(".main .title span").click(function() {
            @:   location.href = "@Url.Action("ListOfTeachers", "ListOfTeachers")"
            @:});
        }
        $(window).resize(function() {
            jQuery(".sect-benefits .benefits-item .col-md-6:last-of-type")
                .height(jQuery(".sect-benefits .benefits-item .col-md-6:first-of-type").height())
            if ($(window).width() <= '767') {
                $('body').on('click',
                    '.for-language',
                    function() {
                        if ($('.for-language .dropdown').hasClass('open')) {
                            $('ul li.li').removeClass('hide');
                        } else {
                            $('ul li.li').addClass('hide');
                        }
                    });
            } else {
            }

        });
        var resize = function(e) {
            $(".testi-slider .owl-item .item").each(function() {
                var descH = $(this).children(".description").children(".slide-desc").height();
                var nameH = $(this).children(".description").children(".slide-name").height();
                var fulldescrH = $(this).children(".description").height(descH + nameH);
            })
        };
        (function() {
            var time;
            window.onresize = function(e) {
                if (time)
                    clearTimeout(time);
                time = setTimeout(function() {
                        resize(e);
                    },
                    100);
            }
        })();

        $(document).ready(function() {
            $(".testi-slider .owl-item .item").each(function() {
                var descH = $(this).children(".description").children(".slide-desc").height();
                var nameH = $(this).children(".description").children(".slide-name").height();
                var fulldescrH = $(this).children(".description").height(descH + nameH);
            })


            if ($(window).width() <= '767') {
                $('body').on('click',
                    '.for-language',
                    function() {
                        if ($('.for-language .dropdown').hasClass('open')) {
                            $('ul li.li').removeClass('hide');
                        } else {
                            $('ul li.li').addClass('hide');
                        }
                    });
            } else {
            }
        });


        $('.owl-carousel').owlCarousel({
            center: true,
            loop: true,
            margin: 45,
            nav: true,
            dots: false,
            items: 1,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"]
        });

        function mainResize() {
            //if (window.location.href == 'http://localhost:21514/' || window.location.href == 'http://xencoredevelop.azurewebsites.net/' || window.location.href == 'http://xencoredevelop.azurewebsites.net/') {
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            if (windowWidth <= 768) {
                var widthItem = $('.for-xs-slider .slider-col');
                $('.for-xs-slider').width(widthItem[0].offsetWidth * 3 + 'px')
            }
            if (windowWidth < 540) {
                var allWidth = $('.for-xs-slider').width();
                var block = $('.slider-col');
                var blockWidth = block.width() - 25;
                var windowWidth = $(window).width();
                var newBlockWidth = 0;
                var slide = 0;
                $('.for-xs-slider')[0].addEventListener('swr',
                    function() {
                        console.log($(this).data('slide'));
                        if ($(this).data('slide') == 0) {
                        } else {
                            newBlockWidth -= blockWidth;
                            slide -= 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
                $('.for-xs-slider')[0].addEventListener('swl',
                    function() {
                        if ($(this).data('slide') == 2) {
                        } else {
                            newBlockWidth += blockWidth;
                            slide += 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
            }
            if (windowWidth > 540 && windowWidth < 769) {
                var allWidth = $('.for-xs-slider').width();
                var block = $('.slider-col');
                var blockWidth = block.width() - 25;
                var windowWidth = $(window).width();
                var newBlockWidth = 0;
                var slide = 0;
                $('.for-xs-slider')[0].addEventListener('swr',
                    function() {
                        console.log($(this).data('slide'));
                        if ($(this).data('slide') == 0) {
                        } else {
                            newBlockWidth -= blockWidth;
                            slide -= 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
                $('.for-xs-slider')[0].addEventListener('swl',
                    function() {
                        console.log($(this).data('slide'));
                        if ($(this).data('slide') == 1) {
                        } else {
                            newBlockWidth += blockWidth;
                            slide += 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
            }
        };
        @if (User.Identity.IsAuthenticated)
        {
            <text>
        $('#date4').datetimepicker({
            format: 'DD/MM/YYYY',
            minDate: moment().add(1, "day"),
            ignoreReadonly: true
        });
        $('#time4').datetimepicker({
            format: 'HH:mm',
            defaultDate: new Date(),
            ignoreReadonly: true,
            stepping: 30

        });
        $("#bind").click(function() {
            var lang = $("#selectLangForTeach").val();
            var level = $("#selectLevelForTeach").val();
            var date = $('#date4').data('DateTimePicker').date();
            var time = $('#time4').data('DateTimePicker').date();
            date.hours(time.hours());
            date.minutes(time.minutes());
            date.seconds(0);
            $("#TellUsMore2 #lng").text(($("#selectLangForTeach:selected").text()));
            $("#TellUsMore2 #tm").text(date.format("HH:mm"));
            $("#TellUsMore2 #dt").text(date.format("DD/MM/YYYY"));
            $.post("en/openlang/SendRequestToFreeLesson", { language: lang, level: level, date: date.toISOString() })
                .success(function(res) {
                    $("#TellUsMore2").modal("show");
                }).fail(function(err) {
                    alert(err);
                });
        });
        $(document).ready(function() {
            //$("#TellUsMore1.tell").modal('show');
            if ($.cookie("showBookTrialLessonPopup")) {
                clearCookie("showBookTrialLessonPopup");
                $("#TellUsMore1").modal('show');
            }
        });
            </text>
        }
    </script>
}
