﻿@{
    Layout = "~/Views/Shared/_OpenLangMain.cshtml";
}
<div class="shadow" style="display:none">
    <div class="ex_terms privacyP" style="display: block;">
        <div class="terms_popiup" style="top: -100%;">
            <h2>
                <span>@Resources.Resource.Privacy</span>
                <span id="close_terms" class="close_log_in"><img src="/Images/openlang/close.jpg"></span>
            </h2>
            <div class="text">
                <div>
                    This Site is the property of Open Languages Limited and its licensors.
                    BY USING THE SITE, you agree that you have read, understand and agree,
                    to be bound by the Terms of Service set out below. IF YOU DO NOT AGREE, DO NOT USE THE SITE.
                    <h5>1. Your Use of the Site</h5>
                    y using the Site you agree to be bound by the Terms of Service and to follow all applicable laws, guidelines and policies and confirm that you are 18 years of age or older or otherwise are an entity that can form legally binding contracts under applicable law.<br><br>
                    You must provide your first name, last name, current address, a valid email address, and any other information needed in order to complete your registration process.<br><br>
                    Your rights: Subject to the Terms of Service, you are hereby granted a limited, revocable, non-exclusive right to access, use and display the Site and the content and materials on the website in the normal course of your use of the Site.<br><br>
                    Accounts/Securities/Passwords: you may register to utilize this Site by completing the specified registration process and providing us with current, complete, and accurate information as requested by the online registration form. It is your responsibility to maintain the completeness and accuracy of your registration data, and any loss caused by your failure to do so is your responsibility. You agree to notify Open Languages immediately of any unauthorized use of your account. Open Languages is not liable for any loss that you may incur as a result of someone else using your account, either with or without your knowledge.<br><br>
                    You are only authorized to use this Site for lawful purposes.
                    This Site is the property of Open Languages Limited and its licensors.
                    BY USING THE SITE, you agree that you have read, understand and agree,
                    to be bound by the Terms of Service set out below. IF YOU DO NOT AGREE, DO NOT USE THE SITE.
                    <h5>1. Your Use of the Site</h5>
                    y using the Site you agree to be bound by the Terms of Service and to follow all applicable laws, guidelines and policies and confirm that you are 18 years of age or older or otherwise are an entity that can form legally binding contracts under applicable law.<br><br>
                    You must provide your first name, last name, current address, a valid email address, and any other information needed in order to complete your registration process.<br><br>
                    Your rights: Subject to the Terms of Service, you are hereby granted a limited, revocable, non-exclusive right to access, use and display the Site and the content and materials on the website in the normal course of your use of the Site.<br><br>
                    Accounts/Securities/Passwords: you may register to utilize this Site by completing the specified registration process and providing us with current, complete, and accurate information as requested by the online registration form. It is your responsibility to maintain the completeness and accuracy of your registration data, and any loss caused by your failure to do so is your responsibility. You agree to notify Open Languages immediately of any unauthorized use of your account. Open Languages is not liable for any loss that you may incur as a result of someone else using your account, either with or without your knowledge.<br><br>
                    You are only authorized to use this Site for lawful purposes.
                </div>

            </div>
        </div>
    </div>
</div>
<div class="offices">
    <div class="content">
        <div>
        </div>
        <div>
            <div id="map"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="inner_content">
        <div>
            <h2>@Resources.Resource.Offices</h2>
            <div class="sort_by">@Resources.Resource.Sort_By: <span class="selected" data-sort="all">@Resources.Resource.All</span><span onclick="onEmea()" data-sort="emea" >@Resources.Resource.EMEA</span><span onclick="onAmerica()" data-sort="america">@Resources.Resource.Americas</span><span data-sort="asia">@Resources.Resource.Asia_pacific</span></div>
            <div class="offices_info">
                <div>
                    <h4 class="city"><span>Zurich</span><i class="fa fa-long-arrow-right"></i></h4>
                    <div class="address">Rossbergweg 9</div>
                    <div class="sti">8824 Schönenberg ZH</div>
                    <div class="country">Switzerland</div>
                    <div>Phone 00800 241 241 24</div>
                    <div class="forTitle">Switzerland, Zurich, Rossbergweg 9</div>
                    <div class="continent">emea</div>
                    <div data-lat="47.195159" data-lng="8.641046"></div>
                </div>
                <div>
                    <h4 class="city"><span>Zurich Airport <br>Prime Centre 1</span><i class="fa fa-long-arrow-right"></i></h4>
                    <div class="address">Building A11 5th floor<br> Office Nr. 497</div>
                    <div class="sti">8058 Zurich</div>
                    <div class="country">Switzerland</div>
                    <div>Phone 00800 241 241 24</div>
                    <div class="forTitle">Switzerland, Zurich Airport, Building A11 5th floor</div>
                    <div class="continent">emea</div>
                    <div data-lat="47.458308" data-lng="8.555485"></div>
                </div>
                <div>
                    <h4 class="city"><span>Chemnitz</span><i class="fa fa-long-arrow-right"></i></h4>
                    <div class="address">Weststrasse 88</div>
                    <div class="sti">09116 Chemnitz</div>
                    <div class="country">Germany</div>
                    <div>Phone 49 0800 241 2411</div>
                    <div class="forTitle">Germany, Chemnitz, Weststrasse 88</div>
                    <div class="continent">emea</div>
                    <div data-lat="50.831347" data-lng="12.894919"></div>
                </div>
                <div>
                    <h4 class="city"><span>Toledo</span><i class="fa fa-long-arrow-right"></i></h4>
                    <div class="address">Rua Joana D'arc,607</div>
                    <div class="sti">CEP 85904320</div>
                    <div class="country">Brazil</div>
                    <div>Phone 00800 241 241 24</div>
                    <div class="forTitle">Rua Joana D'arc, 607, Toledo</div>
                    <div class="continent">america</div>
                    <div data-lat="-24.714483" data-lng="-53.748614"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div></div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
@Html.Partial("_Footer")
<script>
    var offices = $(".offices_info>div");
    var map;
    function initMap() {
        //center: { lat: -0.1602716, lng: 11.471651317},
        var marker;
        var mapDiv = document.getElementById('map');
        map = new google.maps.Map(mapDiv, {
            center: { lat: -0.1602716, lng: 11.471651317 },
            zoom: 1
        });
        offices.children(":last-child").each(function (index, elem) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng($(elem).data("lat"), $(elem).data("lng")),
                map: map,
                title: $(elem).siblings(".forTitle").text()
            });
            //var marker = new google.maps.Marker({
            //    position: location,
            //    map: map,
            //    title: 'Hello World!'
            //});
        });
    }
    function onAll() {
        var pt = new google.maps.LatLng(-0.1602716, 11.471651317);
        map.setCenter(pt);
        map.setZoom(1);
    }
    function onEmea() {
        var pt = new google.maps.LatLng(50.831347, 12.894919);
        map.setCenter(pt);
        map.setZoom(5);
    }
    function onAmerica() {
        var pt = new google.maps.LatLng(-24.714483, -53.748614);
        map.setCenter(pt);
        map.setZoom(5);
    }

    function UpdateMap(lat, lng) {
        var lt = parseFloat(lat);
        var lg = parseFloat(lng);
        var pt = new google.maps.LatLng(lt, lg);
        map.setCenter(pt);
        map.setZoom(16);
        //var mapDiv = document.getElementById('map');
        //var map = new google.maps.Map(mapDiv, {
        //    center: { lat: lt, lng: lg },
        //    zoom: 16
        //});
        //var marker = new google.maps.Marker({
        //    position: { lat: lt, lng: lg },
        //    map: map
        //});
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
<script>
    var selectedCity;
    $(".sort_by>span").click(function () {
        var data = $(this).addClass("selected").siblings().removeClass("selected").end().data("sort");
        if (data === "all") {
            onAll();
            $(".offices_info>div").fadeIn(300);
        }
        else {
            $(".offices_info>div").each(function (index, elem) {
                var t = $(elem);
                if (t.children(".continent:contains('" + data + "')").length)
                    t.fadeIn(300);
                else
                    t.hide(300);
            });
        }
    });
    $(".city").click(function () {
        var res = $(this).siblings().filter(":last-child");
        if (selectedCity)
            selectedCity.append("<i class='fa fa-long-arrow-right'></i>");
        selectedCity = $(this).children("i").remove().end();
        UpdateMap(res.data("lat"), res.data("lng"));
    });
    $(document).ready(function () {
        AlignHeight();
        $("#map").css('height', $(".inner_content").css('height'));

        $("[data-pop='.ex_terms.privacyP']").click(function () {
            $(".shadow").css("display", "block").find(".terms_popiup").animate({ 'top': '50%' }, 500).find("h2>span:first-child").text("Privacy");
        });
        $("[data-pop='.ex_terms.t_o_s']").click(function () {
            $(".shadow").css("display", "block").find(".terms_popiup")
                .animate({ 'top': '50%' }, 500).find("h2>span:first-child").text("Terms of service");
        });
        $("#close_terms").click(function () {
            $(".shadow").find(".terms_popiup").animate({ 'top': '-100%' }, 500, function () {
                $(".shadow").css("display", "none");
            });
        });
    });
    var winHeight = $(window).outerHeight();
    var headerHeight = $("header").outerHeight();
    var footerHeight = $("footer").outerHeight();
    var outerInner = $(".inner_content").outerHeight();
    function AlignHeight() {
        $(".offices").css('height', 'auto');
        var paHeight = $(".offices").outerHeight();
        if (winHeight >= headerHeight + footerHeight + paHeight) {
            $(".offices").outerHeight(winHeight - headerHeight - footerHeight);
        } else {
            $(".offices").css('height', 'auto');
        }

    }
</script>


