﻿@using System.Threading
@using Microsoft.AspNet.Identity
@using Xencore.Extentions
@{
    ViewBag.Title = "Learn Languages Online With Experienced Private Teachers";
    ViewBag.Description = "Open Languages is an online language school. Our experienced language teachers are available for private lessons 24/7. Learn Anytime. Anywhere. You choose!";
    Layout = "~/Views/Shared/SharedLayout.cshtml";
    var lang = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0].ToLower();
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
<link href="~/Css/style12.css" rel="stylesheet" />
<link href="~/Css/main.min.css?v3.1.5" rel="stylesheet" />

<link href="~/less/main.css" rel="stylesheet" />
@{
    Html.RenderPartial("~/Views/openlang/_Menu.cshtml");
}
<header id="pricing-page-header" class="main flex @lang pricing-page flex-home">
    <div class="header-content">

        <div class="header-content-wrap">
</header>
<div class="pricing-section">
    <div class="pricing-section-wrapper">
        <p class="title teachers-title">
            Regularity <span class="subtitle">is the key to</span>learning a language<span class="subtitle">
                And now it's also the key to saving money!<br />
                Thanks to our subscriptions you can take monthly classes at unbeatable prices.
            </span>
        </p>
        <div class="dropdown-section-wrapper">
            <div class="drop-wrap  first-input-drop">
                <div class="input-field">
                    <select id="plan">
                        <option value="basic-membership">Basic Subscriptions</option>
                        <option value="premium-membership">Premium Subscriptions</option>
                        <option value="basic-packages">Basic Packages</option>
                        <option value="premium-packages">Premium Packages</option>
                    </select>
                    <label>Choose Plan</label>
                </div>
            </div>
            <div class="drop-wrap">
                <div class="input-field">
                    <select id="currency2">
                        <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "EUR" ? "selected" : "") value="EUR" class="ng-binding ng-scope" selected="selected">EUR: Euro</option>
                        <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "USD" ? "selected" : "") value="USD" class="ng-binding ng-scope">USD: United States Dollar</option>
                        <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "CHF" ? "selected" : "") value="CHF" class="ng-binding ng-scope">CHF: Swiss Franc</option>
                        <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "GBP" ? "selected" : "") value="GBP" class="ng-binding ng-scope">GBP: Pound Sterling</option>
                        <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "BRL" ? "selected" : "") value="BRL" class="ng-binding ng-scope">BRL: Brazilian Real</option>
                        <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "SEK" ? "selected" : "") value="SEK" class="ng-binding ng-scope">SEK: Swedish Kronal</option>
                        <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "DKK" ? "selected" : "") value="DKK" class="ng-binding ng-scope">DKK: Danish Krone</option>
                        <option @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0] == "NOK" ? "selected" : "") value="NOK" class="ng-binding ng-scope">NOK: Norwegian Krone</option>
                    </select>
                    <label>Choose Currency</label>
                </div>
            </div>
        </div>
        <div class="pricing-content-wrapper">
            <div id="basic-membership" style="display:flex">
                @foreach (var el in ViewBag.Prices.MembershipLessons["basic"])
                {
                    <div class="pricing-content-item">
                        <div class="pricing-item-header">
                            @if (el.Key == 4)
                            {
                                <span class="pricing-item-title">Standart</span>
                            }
                            @if (el.Key == 8)
                            {
                                <span class="pricing-item-title">Growing</span>
                            }
                            @if (el.Key == 16)
                            {
                                <span class="pricing-item-title">Most Popular</span>
                            }
                            @if (el.Key == 24)
                            {
                                <span class="pricing-item-title">Best Value</span>
                            }
                            <span class="pricing-item-subtitle">@el.Key @Resources.Resource.basiclessons</span>
                        </div>
                        <div class="pricing-item-content">
                            <div class="pricing-item-money">
                                <p class="pricing-money">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</p><p class="pricing-month">/ month</p>
                            </div>
                            <div class="pricing-item-list-wrap">
                                <ul class="pricing-item-list">
                                    <li class="pricing-item-list-item">45 @Resources.Resource.minutes</li>
                                    <li class="pricing-item-list-item">@((el.Value / el.Key).ToString("N")) @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0]) @Resources.Resource.perlesson</li>
                                    <li class="pricing-item-list-item">@(el.Key / 4) @(el.Key / 4 > 1 ? Resources.Resource.lessonsperweek : Resources.Resource.lessonperweek)</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.TailoredLessonPlans</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.privatelessons</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.Finallevelcertificate</li>
                                </ul>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div onclick="location.href='@(Url.Action("LoadMain", "Main", new { area = "Dashboard" }) + "#/makepayment")'" class="waves-effect waves-light price-btn">
                                    Book It!
                                </div>
                            }
                            else
                            {
                                <div onclick="location.href='@(Url.Action("Login", "Openlang"))'" class="waves-effect waves-light price-btn">
                                    Book It!
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div id="premium-membership" class="hidden" style="display:flex">
                @foreach (var el in ViewBag.Prices.MembershipLessons["premium"])
                {
                    <div class="pricing-content-item">
                        <div class="pricing-item-header">
                            @if (el.Key == 4)
                            {
                                <span class="pricing-item-title">Standart</span>
                            }
                            @if (el.Key == 8)
                            {
                                <span class="pricing-item-title">Growing</span>
                            }
                            @if (el.Key == 16)
                            {
                                <span class="pricing-item-title">Most Popular</span>
                            }
                            @if (el.Key == 24)
                            {
                                <span class="pricing-item-title">Best Value</span>
                            }
                            <span class="pricing-item-subtitle">@el.Key @Resources.Resource.basiclessons</span>
                        </div>
                        <div class="pricing-item-content">
                            <div class="pricing-item-money">
                                <p class="pricing-money">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</p><p class="pricing-month">/ month</p>
                            </div>
                            <div class="pricing-item-list-wrap">
                                <ul class="pricing-item-list">
                                    <li class="pricing-item-list-item">60 @Resources.Resource.minutes</li>
                                    <li class="pricing-item-list-item">@((el.Value / el.Key).ToString("N")) @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0]) @Resources.Resource.perlesson</li>
                                    <li class="pricing-item-list-item">@(el.Key / 4) @(el.Key / 4 > 1 ? Resources.Resource.lessonsperweek : Resources.Resource.lessonperweek)</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.TailoredLessonPlans</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.privatelessons</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.Finallevelcertificate</li>
                                </ul>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div onclick="location.href='@(Url.Action("LoadMain", "Main", new { area = "Dashboard" }) + "#/makepayment")'" class="waves-effect waves-light price-btn">
                                    Book It!
                                </div>
                            }
                            else
                            {
                                <div onclick="location.href='@(Url.Action("Login", "Openlang"))'" class="waves-effect waves-light price-btn">
                                    Book It!
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div id="basic-packages" class="hidden" style="display:flex">
                @foreach (var el in ViewBag.Prices.PackagesLessons["basic"])
                {
                    <div class="pricing-content-item">
                        <div class="pricing-item-header">
                            @if (el.Key == 5)
                            {
                                <span class="pricing-item-title">Standart</span>
                            }
                            @if (el.Key == 10)
                            {
                                <span class="pricing-item-title">Growing</span>
                            }
                            @if (el.Key == 25)
                            {
                                <span class="pricing-item-title">Most Popular</span>
                            }
                            @if (el.Key == 50)
                            {
                                <span class="pricing-item-title">Best Value</span>
                            }
                            <span class="pricing-item-subtitle">@el.Key @Resources.Resource.basiclessons</span>
                        </div>
                        <div class="pricing-item-content">
                            <div class="pricing-item-money">
                                <p class="pricing-money">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</p><p class="pricing-month">/ 6 months</p>
                            </div>
                            <div class="pricing-item-list-wrap">
                                <ul class="pricing-item-list">
                                    <li class="pricing-item-list-item">45 @Resources.Resource.minutes</li>
                                    <li class="pricing-item-list-item">@((el.Value / el.Key).ToString("N")) @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0]) @Resources.Resource.perlesson</li>
                                    <li class="pricing-item-list-item">@(el.Key / 4) @(el.Key / 4 > 1 ? Resources.Resource.lessonsperweek : Resources.Resource.lessonperweek)</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.TailoredLessonPlans</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.privatelessons</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.Finallevelcertificate</li>
                                </ul>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div onclick="location.href='@(Url.Action("LoadMain", "Main", new { area = "Dashboard" }) + "#/makepayment")'" class="waves-effect waves-light price-btn">
                                    Book It!
                                </div>
                            }
                            else
                            {
                                <div onclick="location.href='@(Url.Action("Login", "Openlang"))'" class="waves-effect waves-light price-btn">
                                    Book It!
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div id="premium-packages" class="hidden" style="display:flex">
                @foreach (var el in ViewBag.Prices.PackagesLessons["premium"])
                {
                    <div class="pricing-content-item">
                        <div class="pricing-item-header">
                            @if (el.Key == 5)
                            {
                                <span class="pricing-item-title">Standart</span>
                            }
                            @if (el.Key == 10)
                            {
                                <span class="pricing-item-title">Growing</span>
                            }
                            @if (el.Key == 25)
                            {
                                <span class="pricing-item-title">Most Popular</span>
                            }
                            @if (el.Key == 50)
                            {
                                <span class="pricing-item-title">Best Value</span>
                            }
                            <span class="pricing-item-subtitle">@el.Key @Resources.Resource.basiclessons</span>
                        </div>
                        <div class="pricing-item-content">
                            <div class="pricing-item-money">
                                <p class="pricing-money">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</p><p class="pricing-month">/ 6 months</p>
                            </div>
                            <div class="pricing-item-list-wrap">
                                <ul class="pricing-item-list">
                                    <li class="pricing-item-list-item">60 @Resources.Resource.minutes</li>
                                    <li class="pricing-item-list-item">@((el.Value / el.Key).ToString("N")) @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0]) @Resources.Resource.perlesson</li>
                                    <li class="pricing-item-list-item">@(el.Key / 4) @(el.Key / 4 > 1 ? Resources.Resource.lessonsperweek : Resources.Resource.lessonperweek)</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.TailoredLessonPlans</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.privatelessons</li>
                                    <li class="pricing-item-list-item">@Resources.Resource.Finallevelcertificate</li>
                                </ul>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div onclick="location.href='@(Url.Action("LoadMain", "Main", new { area = "Dashboard" }) + "#/makepayment")'" class="waves-effect waves-light price-btn">
                                    Book It!
                                </div>
                            }
                            else
                            {
                                <div onclick="location.href='@(Url.Action("Login", "Openlang"))'" class="waves-effect waves-light price-btn">
                                    Book It!
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <span class="pricing-descr">Subscription lessons are valid for 30 days and renewed automatically on a monthly basis</span>

    </div>
</div>
<footer>

    <div class="footer-bottom">
        <div class="footer-top-wrapper footer-top-wrapper-flex">
            <div class="footer-property">
                <span class="footer-bold">Open Languages</span> respects the intellectual property rights of others and expects its
                users to do the same. Open Languages may remove content that in its sole discretion
                appears to infringe the intellectual property rights of others. Open Languages will in its discretion
                terminate the accounts of users who infringe the intellectual property rights of others.
                <span class="footer-reserved">© OPEN LANGUAGES 2018. All rights reserved.</span>
            </div>

            <div>
                <p class="list-title">@Resources.Resource.Company</p>
                <ul>
                    <li>@Html.ActionLink(Resources.Resource.Offices, "Offices", "Offices")</li>
                    <li>@Html.ActionLink(Resources.Resource.Terms, "Terms", "PrivacyAndTerms")</li>
                    <li>@Html.ActionLink(Resources.Resource.Privacy, "Privacy", "PrivacyAndTerms")</li>
                </ul>
            </div>
            <div>
                <p class="list-title">@Resources.Resource.JoinUs</p>
                <ul>
                    <li>@Html.ActionLink(Resources.Resource.Forteachers, "Teachers", "Forteachers")</li>
                    <li>@Html.ActionLink(Resources.Resource.Contact_us, "ContactUs", "ContactUs")</li>
                </ul>
            </div>
            <div>
                <p class="list-title">@Resources.Resource.Info</p>
                <ul>
                    @*<li>@Html.ActionLink(Resources.Resource.ForEnterprises, "Bussiness", "Openlang")</li>*@
                    @*<li>@Html.ActionLink(Resources.Resource.Courses, "Courses", "Courses")</li>*@
                    <li>@Html.ActionLink("FAQ", "FAQ", "Faq")</li>
                    <li onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers", new { area = string.Empty})'"><a>@Resources.Resource.Findateacher</a></li>
                </ul>
            </div>


        </div>
    </div>
    <div class="footer-footer">
        <div class="footer-top-wrapper">
            <div>
                <span class="footer-language">Site language:</span>
                <ul class="list-lang">
                    <li><a onclick="changeLang('en')">English</a></li>
                    <li><a onclick="changeLang('es')">Spanish</a></li>
                    <li><a onclick="changeLang('fr')">French</a></li>
                    <li><a onclick="changeLang('de')">Germany</a></li>
                </ul>
            </div>
            <div>
                @*<p class="list-title">@Resources.Resource.FollowUs</p>*@
                <div class="socials">
                    <a href="https://www.facebook.com/openlanguageszh">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="http://twitter.com/openlanguagesTW">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/3598248 ">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://plus.google.com/u/0/101655078254166830753/posts">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="~/js/InfrastructureForNewDesign/libs.min.js?v3.1.1"></script>
    <script src="~/js/InfrastructureForNewDesign/common.js?v3.1.1"></script>


    <script>


        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);
        $('select').formSelect();
        $('#plan').on('change', function () {
            var val = $('#plan').val();
            $("#" + val).removeClass("hidden").siblings("[id]").addClass('hidden');
        })
        //var elems = document.querySelectorAll('select');
        //var instances = M.FormSelect.init(elems);

        jQuery('.hidepass-trigger').click(function () {
            if ($('#password').prop('type') == 'text') {
                $('#password').prop('type', 'password')
            } else {
                $('#password').prop('type', 'text')
            }
            if ($('.hidepass-trigger').hasClass("fa-eye-slash")) {
                $('.hidepass-trigger').addClass("fa-eye");
                $('.hidepass-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepass-trigger').removeClass("fa-eye");
                $('.hidepass-trigger').addClass("fa-eye-slash");
            }
        })
        jQuery('.hidepasscheck-trigger').click(function () {
            if ($('#password-check').prop('type') == 'text') {
                $('#password-check').prop('type', 'password')
            } else {
                $('#password-check').prop('type', 'text')
            }

            if ($('.hidepasscheck-trigger').hasClass("fa-eye-slash")) {
                $('.hidepasscheck-trigger').addClass("fa-eye");
                $('.hidepasscheck-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepasscheck-trigger').removeClass("fa-eye");
                $('.hidepasscheck-trigger').addClass("fa-eye-slash");
            }

        })
        jQuery('.hidepass-login-trigger').click(function () {
            if ($('#login_password-input').prop('type') == 'text') {
                $('#login_password-input').prop('type', 'password')
            } else {
                $('#login_password-input').prop('type', 'text')
            }

            if ($('.hidepass-login-trigger').hasClass("fa-eye-slash")) {
                $('.hidepass-login-trigger').addClass("fa-eye");
                $('.hidepass-login-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepass-login-trigger').removeClass("fa-eye");
                $('.hidepass-login-trigger').addClass("fa-eye-slash");
            }

        })

        let password = document.getElementById("password")
        let confirm_password = document.getElementById("password-check");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

        $(".already-button").click(function () {
            $('#modal-login').modal('open');
            $('#modal-registration').modal('close');
        });

        $('.signIn').css("display", "none");


    </script>

    <script>

        $(window).load(function () {

            jQuery(".sect-benefits .benefits-item .col-md-6:last-of-type")
                .height(jQuery(".sect-benefits .benefits-item .col-md-6:first-of-type").height());


            jQuery(".mobile-btn-nav span").click(function() {
                jQuery(".sidebar-wrapper").slideToggle();
            })
            jQuery(".page-name-wrap").click(function() {
                jQuery(".sidebar-wrapper").slideToggle();
            })

        });

        @if (!User.Identity.IsAuthenticated)
        {
            @:$(".main .title span").attr("data-toggle", "modal").attr("data-target", "#SignIn");
        }
        else
        {
            @:$(".main .title span").click(function() {
            @:   location.href = "@Url.Action("ListOfTeachers", "ListOfTeachers")"
            @:});
        }
        $(window).resize(function() {
            jQuery(".sect-benefits .benefits-item .col-md-6:last-of-type")
                .height(jQuery(".sect-benefits .benefits-item .col-md-6:first-of-type").height())
            if ($(window).width() <= '767') {
                $('body').on('click',
                    '.for-language',
                    function() {
                        if ($('.for-language .dropdown').hasClass('open')) {
                            $('ul li.li').removeClass('hide');
                        } else {
                            $('ul li.li').addClass('hide');
                        }
                    });
            } else {
            }

        });
        var resize = function(e) {
            $(".testi-slider .owl-item .item").each(function() {
                var descH = $(this).children(".description").children(".slide-desc").height();
                var nameH = $(this).children(".description").children(".slide-name").height();
                var fulldescrH = $(this).children(".description").height(descH + nameH);
            })
        };
        (function() {
            var time;
            window.onresize = function(e) {
                if (time)
                    clearTimeout(time);
                time = setTimeout(function() {
                        resize(e);
                    },
                    100);
            }
        })();

        $(document).ready(function () {

            $('.signIn').css("display", "none");




            $(".testi-slider .owl-item .item").each(function() {
                var descH = $(this).children(".description").children(".slide-desc").height();
                var nameH = $(this).children(".description").children(".slide-name").height();
                var fulldescrH = $(this).children(".description").height(descH + nameH);
            })


            if ($(window).width() <= '767') {
                $('body').on('click',
                    '.for-language',
                    function() {
                        if ($('.for-language .dropdown').hasClass('open')) {
                            $('ul li.li').removeClass('hide');
                        } else {
                            $('ul li.li').addClass('hide');
                        }
                    });
            } else {
            }
        });


        $('.owl-carousel').owlCarousel({
            center: true,
            loop: true,
            margin: 45,
            nav: true,
            dots: false,
            items: 1,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"]
        });

        function mainResize() {
            //if (window.location.href == 'http://localhost:21514/' || window.location.href == 'http://xencoredevelop.azurewebsites.net/' || window.location.href == 'http://xencoredevelop.azurewebsites.net/') {
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            if (windowWidth <= 768) {
                var widthItem = $('.for-xs-slider .slider-col');
                $('.for-xs-slider').width(widthItem[0].offsetWidth * 3 + 'px')
            }
            if (windowWidth < 540) {
                var allWidth = $('.for-xs-slider').width();
                var block = $('.slider-col');
                var blockWidth = block.width() - 25;
                var windowWidth = $(window).width();
                var newBlockWidth = 0;
                var slide = 0;
                $('.for-xs-slider')[0].addEventListener('swr',
                    function() {
                        console.log($(this).data('slide'));
                        if ($(this).data('slide') == 0) {
                        } else {
                            newBlockWidth -= blockWidth;
                            slide -= 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
                $('.for-xs-slider')[0].addEventListener('swl',
                    function() {
                        if ($(this).data('slide') == 2) {
                        } else {
                            newBlockWidth += blockWidth;
                            slide += 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
            }
            if (windowWidth > 540 && windowWidth < 769) {
                var allWidth = $('.for-xs-slider').width();
                var block = $('.slider-col');
                var blockWidth = block.width() - 25;
                var windowWidth = $(window).width();
                var newBlockWidth = 0;
                var slide = 0;
                $('.for-xs-slider')[0].addEventListener('swr',
                    function() {
                        console.log($(this).data('slide'));
                        if ($(this).data('slide') == 0) {
                        } else {
                            newBlockWidth -= blockWidth;
                            slide -= 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
                $('.for-xs-slider')[0].addEventListener('swl',
                    function() {
                        console.log($(this).data('slide'));
                        if ($(this).data('slide') == 1) {
                        } else {
                            newBlockWidth += blockWidth;
                            slide += 1;
                            $(this).data('slide', slide)
                            $('.for-xs-slider').animate({
                                    'right': newBlockWidth + 'px'
                                },
                                100)
                        }
                    },
                    false);
            }
        };
        @if (User.Identity.IsAuthenticated)
        {
            <text>
        $('#date4').datetimepicker({
            format: 'DD/MM/YYYY',
            minDate: moment().add(1, "day"),
            ignoreReadonly: true
        });
        $('#time4').datetimepicker({
            format: 'HH:mm',
            defaultDate: new Date(),
            ignoreReadonly: true,
            stepping: 30

        });
        $("#bind").click(function() {
            var lang = $("#selectLangForTeach").val();
            var level = $("#selectLevelForTeach").val();
            var date = $('#date4').data('DateTimePicker').date();
            var time = $('#time4').data('DateTimePicker').date();
            date.hours(time.hours());
            date.minutes(time.minutes());
            date.seconds(0);
            $("#TellUsMore2 #lng").text(($("#selectLangForTeach:selected").text()));
            $("#TellUsMore2 #tm").text(date.format("HH:mm"));
            $("#TellUsMore2 #dt").text(date.format("DD/MM/YYYY"));
            $.post("en/openlang/SendRequestToFreeLesson", { language: lang, level: level, date: date.toISOString() })
                .success(function(res) {
                    $("#TellUsMore2").modal("show");
                }).fail(function(err) {
                    alert(err);
                });
        });
        $(document).ready(function() {
            //$("#TellUsMore1.tell").modal('show');
            if ($.cookie("showBookTrialLessonPopup")) {
                clearCookie("showBookTrialLessonPopup");
                $("#TellUsMore1").modal('show');
            }
        });
            </text>
        }
    </script>
}


