﻿<!DOCTYPE html>
<html>
<head></head>
<body>
    <script>
    setTimeout(function() {
            location.href = "@ViewBag.Redirect";
        },
        1);
        </script>
<script type="text/javascript">
var google_conversion_id = 991936943;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "akGeCIDbsGsQr4P_2AM";
var google_remarketing_only = false;
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/991936943/?label=akGeCIDbsGsQr4P_2AM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</body>

</html>