﻿<form class="make-quast audioRecord">
  <span class="title">Task description</span>
  <div class="quast">
    <textarea ng-model="Question" placeholder="Enter the text"></textarea>
  </div>
  <div class="answer-wrap">
    <span class="title">Write the text</span>
      <div class="quast">
          <textarea ng-model="Answer" placeholder="Write the text and mark missing word by (). For example 'I do not speak (Russian)'"></textarea>
      </div>
    <!--<div class="audio-wrap" ng-class="getStateOfPlayer()">
      <div class="contoller">
        <ul>
          <li ng-click="playAudio()"><a class="playAudio"><i class="fa fa-play"></i></a></li>
          <li class="active" ng-click="startAudio()">
                <a class="pauseAudio">
                 <i class="fa fa-microphone"></i>
                </a>
          </li>
          <li ng-click="stopAudio()"><a class="deleteAudio"><i class="fa fa-trash"></i></a></li>
        </ul>
      </div>
      <div class="counter">
        <span class="number-counter">{{currentTime}}</span>
        <div class="track-counter">
          <div class="track-countering" ng-style="{width:tracker + '%'}"></div>
        </div>
      </div>
      <audio id="aud" controls class="hidden">
        <source src="" type="audio/mpeg">.
      </audio>
    </div>-->
  </div>
</form>
