﻿<style>
  .delete-wrap {
    left: 50% !important;
    margin-left: -25px !important;
  }
</style>
<form class="make-quast picture">
  <span class="title">Task description</span>
  <div class="quast">
    <textarea ng-model="card.Question" placeholder="Enter your translate"></textarea>
  </div>
  <div class="answer-wrap" ng-class="{'thirt-wrap':selectedImageLayout === 3}">
    <span class="title">Choice image layout</span>
    <div class="change-layout">
      <ul>
        <li ng-class="{'active':selectedImageLayout===1}" ng-click="setImageLayout(1)" class="single">
          <span></span>
        </li>
        <li ng-class="{'active':selectedImageLayout===2}" ng-click="setImageLayout(2)" class="both">
          <span></span>
          <span></span>
        </li>
        <li ng-class="{'active':selectedImageLayout===3}" ng-click="setImageLayout(3)" class="thirt">
          <span></span>
          <span></span>
          <span></span>
        </li>
        <li ng-class="{'active':selectedImageLayout===4}" ng-click="setImageLayout(4)" class="four">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </li>
      </ul>
    </div>
    <span class="title">Add and choose correct answer</span>
    <div ng-repeat="image in images" ng-if="$index<selectedImageLayout" class="answer-field">
      <div ng-class="{'noPhoto':!image.ImageSrc}" class="image-wrap">
        <div class="noPhoto-descr">
          <i class="fa fa-file-photo-o"></i>
          <span>No photo. <a class="uploadImage" ng-click="uploadClick($index)">Upload</a></span>
          <input type="file" id="upload_{{$index}}" onchange="angular.element(this).scope().changeImage(this.files, this)" class="hidden" />
        </div>
        <div class="delete-wrap" ng-click="image.ImageSrc = null">
          <a>
            <i class="fa fa-trash"></i>
            <span>Delete</span>
          </a>
        </div>
          <!--<div class="edit-wrap" ng-click="image.ImageSrc = null">
              <a>
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  <span>Edit</span>
              </a>
          </div>-->
        <img ng-if="image.ImageSrc" ng-src="{{image.ImageSrc}}" />
      </div>
      <input type="text" ng-model="image.Variant" placeholder="Enter answer" />
      <a ng-if="selectedImageLayout>1" ng-click="setIsRight($index)" ng-class="{'active':image.IsRight}" class="check"><i class="fa fa-check"></i></a>
      <input type="checkbox" class="hidden" value="" />
    </div>
  </div>
</form>