﻿<form class="make-quast audioRecord">

    <div class="answer-wrap">
        <span class="title">Record Task Message</span>
        <div ng-click="startReccord()" class="record-wrapper">
            <i class="fa fa-microphone waves-effect waves-cyan" id="reccord-logo"></i>
        </div>

    </div>
    <audio style="display:block" id="audio" controls>
        <source ng-src="{{audio.url}}" type="audio/wav">
        Your browser does not support the audio tag.
    </audio>

    <div class="answer-wrap">
        <span class="title">Write the Answer</span>
        <div class="quast">
            <textarea ng-model="Answer" placeholder="Enter the Answer Text"></textarea>
        </div>

    </div>
</form>