﻿<form class="make-quast picture memory">
  <span class="title">Grid size</span>
  <select ui-select2 ng-model="selectedImageLayout" class="count-pairs">
    <option value="2">2 pairs</option>
    <option value="4">4 pairs</option>
  </select>
  <div class="answer-wrap">
    <span class="title">Add a picture</span>
    <div ng-repeat="image in images" class="answer-field" ng-class="{'pairs':$index +1>selectedImageLayout}">
      <div class="image-wrap" ng-class="{'noPhoto':!image.ImageSrc}">
        <div class="noPhoto-descr" ng-if="$index<selectedImageLayout">
          <i class="fa fa-file-photo-o"></i>
          <span>No photo. <a ng-click="uploadClick($index)">Upload</a></span>
          <input type="file" id="upload_{{$index}}" onchange="angular.element(this).scope().changeImage(this.files, this)" class="hidden" />
        </div>
        <div class="delete-wrap" ng-click="image.ImageSrc = null">
          <a>
            <i class="fa fa-trash"></i>
            <span>Delete</span>
          </a>
        </div>
        <img ng-if="image.ImageSrc" ng-src="{{image.ImageSrc}}" />
      </div>
      <input ng-model="image.Variant" ng-disabled="$index+1 > selectedImageLayout" type="text" placeholder="Enter answer" value="" />
    </div>
    
    <div ng-repeat="image in images" class="answer-field pairs">
      <div class="image-wrap" ng-class="{'noPhoto':!image.ImageSrc}">
        <div class="noPhoto-descr" ng-if="$index<selectedImageLayout">
          <i class="fa fa-file-photo-o"></i>
          <input type="file" id="upload_{{$index}}" onchange="angular.element(this).scope().changeImage(this.files, this)" class="hidden" />
        </div>
        <img ng-if="image.ImageSrc" ng-src="{{image.ImageSrc}}" />
      </div>
      <input ng-model="image.Variant" disabled="disabled" type="text" placeholder="Enter answer" value="" />
    </div>
  </div>
</form>