﻿<form class="make-quast quiz">
  <div class="quiz-wrap" ng-repeat="item in forJsonStructure">
    <a class="delete" ng-click="forJsonStructure.splice($index,1)"><i class="fa fa-times"></i></a>
    <span class="title">Enter your question</span>
    <div class="quast">
      <textarea ng-model="item.Question" placeholder="Enter your question"></textarea>
    </div>
    <div class="answer-wrap">
      <div class="answer-field" ng-repeat="answer in item.Answers">
        <a ng-click="checkAnswer(item, $index)" ng-class="{'active':answer.IsRight}" class="check"><i class="fa fa-check"></i></a>
        <input type="checkbox" class="hidden" />
        <input type="text" ng-model="answer.Variant" placeholder="Enter answer" value="" />
        <a class="delete-field" ng-click="item.Answers.splice($index,1)"><i class="fa fa-minus"></i></a>
      </div>
    </div>
    <a class="addLink" ng-click="addAnswer(item)"><i class="fa fa-plus"></i>Add answer</a>
  </div>
  <a class="addAnsw" ng-click="addNewQuestion()"><i class="fa fa-plus"></i>Add a question</a>
</form>