﻿<form class="make-quast sentence">
  <span class="title">Task description</span>
  <div class="quast">
    <textarea  ng-model="Question" placeholder="Enter your translate"></textarea>
  </div>
  <div class="answer-wrap">
    <span class="title">Enter the answer</span>
    <div ng-click="buildAnswer(word)" class="answer-field completed" ng-repeat="word in words">
      <div class="completed-val">{{word.Variant}}</div>
        <a class="delete-field" ng-click="words.splice($index,1)"><i class="fa fa-minus"></i></a> 
    </div>
    <div class="answer-field">
      <input ng-model="model.enteringword" type="text" placeholder="Enter answer" value="" />
    </div>
    <a class="addLink" ng-click="addNewWord()"><i class="fa fa-plus"></i>Add a word</a>
  </div>
  <div class="correct-answer">
    <span class="title">Insert the correct sentence</span>
    <div class="answer-message">You did not choose anything. Make the right sentence from the words you added.</div>
    <div class="answer-field">
      <input ng-repeat="word in words | filter:{'Index':'!-1'} | orderBy:'Index'" type="text" value="{{word.Variant}}" disabled="disabled" />
    </div>
  </div>
</form>