﻿<style>
  .noVideo video {
    display: block!important;
  }
</style>
<form class="make-quast video">
    <span ng-if="!model.VideoSrc" class="title">Upload video </span>
    <a ng-if="!model.VideoSrc" ng-click="card.VideoSrc = null" class="deleteVideo">Delete video</a>
    <div class="video-wrap noVideo dropzone" ng-if="!model.VideoSrc" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event)">
        <div class="noVideo-descr" ng-if="!card.VideoSrc">
            <i class="fa fa-cloud-download"></i>
            <span>Drag & Drop video (not more than 100 MB and MP4 format </br> or </span> <a ng-click="uploadVideo()" class="uploadVideo">upload</a>
            <input type="file" id="upload_video" onchange="angular.element(this).scope().changeVideo(this.files, this)" class="hidden" />
        </div>
        <div class="play" style="display: none;">
            <i class="fa fa-play"></i>
        </div>
        <video controls id="videoControl" ng-show="card.VideoSrc">
            <source src="" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
    <iframe style="display:block" ng-if="model.VideoSrc" width="540" height="260" ng-src="{{'https://www.youtube.com/embed/' + getVideoId() + '?rel=0'}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <span class="title">Upload videos using YouTube</span>
    <div class="quast">
        <input ng-model="model.VideoSrc" placeholder="Enter video link"></>
    </div>
    <span class="title">Enter the question</span>
    <div class="quast">
        <textarea ng-model="answer.Question" placeholder="Enter the text"></textarea>
    </div>
    <div class="answer-wrap">
        <span class="title">Answer</span>
        <div class="quast">
            <textarea ng-model="answer.Variant" placeholder="Enter the correct sentence"></textarea>
        </div>
    </div>
</form>
