﻿<form class="make-quast words">
    <span class="title">Task description</span>
    <div class="quast">
        <textarea ng-model="Question" placeholder="Enter your translate"></textarea>
    </div>
    <div class="answer-wrap">
        <span class="title">Template</span>
        <div class="quast">
            <textarea ng-model="sentence" placeholder="Enter template with a missing word by __ (two bottom slashes)"></textarea>
        </div>
        <span class="title">Write a missing word</span>
        <div ng-repeat="word in words" class="answer-field">
            <input ng-click="selectRightAnswer(word)" readonly ng-style="getStyle(word)" style="cursor:pointer" type="text" ng-model="word.Variant" placeholder="Enter word" />
            <a class="delete-field" ng-click="deleteWord(word)"><i class="fa fa-minus"></i></a>
        </div>
        <div class="answer-field">
            <input type="text" ng-model="model.typedWord" placeholder="Enter word" />
        </div>
        <a class="addLink" ng-click="addNewWord()"><i class="fa fa-plus"></i>Add a word</a>
    </div>
</form>