﻿@using Xencore.HtmlHelpers

<div class="modal fade buy-step-2 buy-step tell-us-more" id="buy-full-step-1" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="steps hidden-xs">@Resources.Resource.Step1</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">@Resources.Resource.BuyCourse </p>
            </div>
            <div class="modal-body">
                <form id="buyFullStep1">
                    <div class="serviceMessageMain js-service for-modal text-center">
                        <span></span>
                    </div>
                    <input type="hidden" class="hidden" data-target="#buy-full-step-2" id="buy-fullStep1" />
                <div class="row">
                    <div class="col-sm-12 col-xs-12 choose-text">
                        @Resources.Resource.ChooseTheDetails
                    </div>
                    <div class="col-sm-12 col-xs-12 payment-method">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group mar-auto">
                                    <label for="datetimepicker">@Resources.Resource.StartDate</label>
                                    <div class='input-group date datetimepicker' id='datetimepicker'>
                                        <span class="input-group-addon">
                                            <img src="~/images/calendar.png" alt="">
                                        </span>
                                        <input type='text' id="buy_datetimepicker" class="form-control open-datetimepicker" name="date"
                                               placeholder="@Resources.Resource.ChooseStartDate" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group mar-auto">
                                    <label for="buy_select_lang">@Resources.Resource.ChooseLang</label>
                                    <select class="js-select2-country for-select" id="buy_select_lang" name="selectLang">
                                        <option></option>
                                        @Html.DropDpwnListCountries()
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group mar-auto">
                                    <label for="buy_select_level">@Resources.Resource.ChooseLevel</label>
                                    <select class="js-select2-level for-select" id="buy_select_level" name="selectLevel">
                                        <option></option>
                                        <option value="Beginner">
                                            @Resources.Resource.Beginner
                                        </option>
                                        <option value="UpperBeginner">
                                            @Resources.Resource.UpperBeginner
                                        </option>
                                        <option value="Intermediate">
                                            @Resources.Resource.Intermediate
                                        </option>
                                        <option value="UpperIntermediate">
                                            @Resources.Resource.UpperIntermediate
                                        </option>
                                        <option value="Advanced">
                                            @Resources.Resource.Advanced
                                        </option>
                                        <option value="UpperAdvanced">
                                            @Resources.Resource.UpperAdvanced
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 confirmation">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="choose-text">
                                    @Resources.Resource.BookYourCourse
                                </div>
                                <p>
                                    @Resources.Resource.Courses <span class="white"> <span class="full_individ_lessons">5</span> @Resources.Resource.individLessons </span>
                                    <br>
                                    @Resources.Resource.PayNow <span class="white"> <span class="currency-for-price">€</span> <span class="full_individ_price">118.65</span> </span>
                                </p>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="discount">
                                            <label for="discount">Discount Number: </label>
                                            <input class="form-control" id="discount" type="text" />
                                        </div>
                                    </div>
                                    <div class="confirm-block col-md-6">
                                        <div class="custom-button">
                                            <button type="submit" class="next">
                                                @Resources.Resource.ConfirmPayment
                                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <p class="secure-text">
                                            <i class="fa fa-shield" aria-hidden="true"></i>
                                            @Resources.Resource.ViaSecureServer
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 footer-text">
                        <p class="text-center">
                            @*<span class="js-closeModals target"
                                  data-target="#buy-step1-policy">@Html.Raw(Resources.Resource.Privacy)</span>.*@
                            <span class="js-closeModals target">@Html.ActionLink(Resources.Resource.Privacy, "Privacy", "PrivacyAndTerms")</span>
                        </p>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>