﻿<div class="modal fade buy-step-3 buy-step tell-us-more" id="buy-full-step-3" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="steps hidden-xs">Step 3 of 3</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">@Resources.Resource.BuyCourse</p>
            </div>
            <div class="modal-body">
                <p class="complete-text">
                    @Resources.Resource.ThankYou 
                    @if (ViewBag.User != null)
                    {
                        @ViewBag.User.Name
                    }
                     @Resources.Resource.YourOrderHasBeen
                </p>
            </div>
        </div>
    </div>
</div>