﻿<div class="modal fade buy-step-3 buy-step tell-us-more" id="findateacheravailable" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="steps hidden-xs"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">Find a Teacher</p>
            </div>
            <div class="modal-body">
                <p class="complete-text">
                 @Html.Raw(Resources.Resource.pagehasbeenenhanced)</br></br>

                    @Html.Raw(Resources.Resource.Wethankyoufor)</br>

                    @Resources.Resource.YourOpenLanguagesTeam
                </p>
            </div>
        </div>
    </div>
</div>