﻿@using Xencore.HtmlHelpers
<!--First modal-->
<div class="modal fade buy-step-2 buy-step tell-us-more" id="forTeacher1" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">@Resources.Resource.Teacher_application</p>
            </div>
            <div class="modal-body">
                <form id="forTeacher">
                    <div class="serviceMessageMain js-service for-modal text-center">
                        <span></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 payment-method">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group mar-auto">
                                        <label for="teacher-name">@Resources.Resource.Name</label>
                                        <input type="text" class="form-control" id="teacher-name" name="Name"
                                               placeholder="@Resources.Resource.EnterYourName">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mar-auto">
                                        <label for="teacher-lang">@Resources.Resource.LangWhatYouWant</label>
                                        <select name="Language" class="js-select2-lang_teach for-select2" id="teacher-lang">
                                            <option></option>
                                            @Html.DropDpwnListCountries()
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mar-auto">
                                        <label for="teacher-phone">@Resources.Resource.Telephone</label>
                                        <input type="tel" class="form-control phone" name="phone" id="teacher-phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="col-sm-12 col-xs-12 payment-method fteach">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group mar-auto">
                                            <label for="teacher-email">@Resources.Resource.Email1</label>
                                            <input type="text" class="form-control" id="teacher-email" name="email"
                                                   placeholder="@Resources.Resource.Email1">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mar-auto">
                                            <label for="teacher-password">@Resources.Resource.Password</label>
                                            <input type="password" class="form-control" id="teacher-password" name="password"
                                                   placeholder="@Resources.Resource.EnterYourPass">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mar-auto">
                                            <label for="teacher-confpass">@Resources.Resource.ConfirmPass</label>
                                            <input type="password" class="form-control" id="teacher-confpass" name="confirmpass"
                                                   placeholder="@Resources.Resource.ConfirmYourPass">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-sm-12 col-xs-12 youtubeLink">
                            <div class="form-group mar-auto">
                                <label for="teacher-promo">
                                    @Resources.Resource.RecordTeacher<span class="js-closeModals cursor"
                                                                           data-target="#forTeacher2">@Resources.Resource.Instruction</span>
                                </label>
                                <input type="text" class="form-control" name="url" id="teacher-promo"
                                       placeholder="https://www.youtube.com/watch?v=PpWX-p_VF8k&t=1198s">
                            </div>
                        </div>
                        @*<div class="col-sm-12 col-xs-12 textarea">
                            <div class="form-group mar-auto">
                                <label for="teacher-about">
                                    @Resources.Resource.List_relevant
                                </label>
                                <textarea name="teacherAbout" class="form-control" id="teacher-about" rows="5"
                                          placeholder="@Resources.Resource.Write_here"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 textarea">
                            <div class="form-group mar-auto">
                                <label for="teacher-info">
                                    @Resources.Resource.List_any_additional
                                </label>
                                <textarea name="teacherInfo" class="form-control" id="teacher-info" rows="5"
                                          placeholder="@Resources.Resource.Write_here"></textarea>
                            </div>
                        </div>*@
                        <div class="col-sm-12 col-xs-12">
                            <div class="custom-button">
                                <button type="submit" name="submit">@Resources.Resource.Submit</button>
                            </div>
                        </div>

                    </div>
                </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- END First modal-->
                                    <!-- END SECOND modal-->
                                    <div class="modal fade" data-easein="bounceDownIn" id="forTeacher2" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" data-backdrop="static">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close js-closeModals" data-target="#forTeacher1"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <p class="modal-title">@Resources.Resource.Teacher_application</p>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="js-closeModals cursor back-button" data-target="#forTeacher1">
                                                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Resources.Resource.Go_Back
                                                    </div>

                                                    <div class="custom-scroll">
                                                        <h3>@Resources.Resource.Guidelines</h3>

                                                        @*<h4>Introduction</h4>
                                                            <p>Briefly introduce yourself (10-30 seconds).</p>*@

                                                        <h4>@Resources.Resource.Teach</h4>

                                                        <p>@Resources.Resource.Teach_Text</p>

                                                        <h4>@Resources.Resource.Show_your_face</h4>
                                                        <p>@Resources.Resource.Show_your_face_text</p>
                                                        <h4>@Resources.Resource.No_students</h4>
                                                        <p>@Resources.Resource.No_students_text</p>

                                                        <h4>@Resources.Resource.Use_your_webcam</h4>
                                                        <p>@Resources.Resource.Use_your_webcam_text</p>

                                                        <h4>@Resources.Resource.Good_sound</h4>
                                                        <p>@Resources.Resource.Good_sound_text</p>

                                                        <h4>@Resources.Resource.Recording</h4>
                                                        <p>@Resources.Resource.Record_video</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!-- END SECOND modal-->
<!-- HTMLHELPER-->
@using (Html.BeginForm(User.Identity.IsAuthenticated ? "PostTeacherAuthorizeAuthor" : "PostTeacherAuthorize", "Forteachers", FormMethod.Post, new { @id = "postSignInTeach" }))
{
    <input type="hidden" name="Name">
    <input type="hidden" name="Language">
    <input type="hidden" name="Telephone">
    <input type="hidden" name="Email">
    <input type="hidden" name="Password">
    <input type="hidden" name="ConfirmPassword">
    <input type="hidden" name="Link">
    <input type="hidden" name="Relevant">
    <input type="hidden" name="Additional">
}
