﻿<div class="modal fade" data-easein="bounceDownIn" id="howitworks" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">How it works </p>
            </div>
            <div class="modal-body">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/bUYJgO-8Tps?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
