﻿
<div class="modal fade login-modal" id="signin" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">@Resources.Resource.LogIn</p>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Login","Openlang")" id="loginform" method="post">
                    <div  class="serviceMessageMain js-service for-modal text-center">
                        <span></span>
                    </div>
                    <p class="text-center">@Resources.Resource.LogInWith</p>
                    <div class="row xs-mar-0 socials_btns text-center">
                        <div class="col-sm-6 col-xs-6">
                            <span class="fb-login pull-right" id="facebook_login">
                                <i class="fa fa-facebook"></i>Facebook
                            </span>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <span class="google-login pull-left" id="google_login">
                                <i class="fa fa-google"></i>Google
                            </span>
                        </div>
                    </div>
                    <div class="under-title">
                        <span class="pre-line"></span>
                        <span class="favorite"> @Resources.Resource.Or </span>
                        <span class="aft-line"></span>
                    </div>
                    <div class="row xs-mar-0 custom-form">
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group pull-right xs-float-left mar-auto">
                                <label for="login-name">@Resources.Resource.Email1</label>
                                <input name="name" type="text" class="form-control" id="login-name"
                                       placeholder="@Resources.Resource.EnterYourEmail">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group mar-auto">
                                <label for="login-password">@Resources.Resource.Password</label>
                                <input name="password" type="password" class="form-control" id="login-password"
                                       placeholder="@Resources.Resource.Password">
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="custom-button">
                                <button  type="submit" name="submit">@Resources.Resource.LogIn</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-left js-closeModals" data-target="#resetpassword">
                    @Resources.Resource.ForgotPassword
                </div>
                <div class="pull-right js-closeModals" data-target="#signup">@Resources.Resource.Createaccount</div>
                <div style="margin-right: 40px" class="pull-right js-closeModals" data-target="#forTeacher1">Apply to Teach</div>
            </div>
        </div>
    </div>
</div>