﻿<div class="modal fade reset-pass-modal-before" id="resetpassword2" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title" id="myModalLabel">@Resources.Resource.ResetPass</p>
            </div>
            <div class="modal-body">
                @*<p>@Resources.Resource.CheckYourEmail</p>
                <span>dan******nes@openlanguages.com</span>*@
                <p></p>
                <span></span>
            </div>
        </div>
    </div>
</div>
    <!--reset password before-->
<div class="modal fade reset-pass-modal-before" id="resetpassword" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title" id="myModalLabel">@Resources.Resource.ResetPass</p>
            </div>
            <div class="modal-body">
                <form id="reset-pass" method="post">
                    <div class="serviceMessageMain js-service for-modal text-center">
                        <span></span>
                    </div>
                <div class="row xs-mar-0 custom-form">
                    <div class="col-sm-6 col-xs-12 w50">
                        <div class="form-group pull-right xs-float-left mar-auto">
                            <label for="reset_select_email">@Resources.Resource.Email1</label>
                            <input type="text" class="form-control" id="reset_select_email" name="email"
                                   placeholder="@Resources.Resource.EnterYourEmail">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 w50">
                        <span style="position: relative"><span style="position: absolute;
    color: #90aa53;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    top: 35px;
    left: -23px; z-index: 100">@Resources.Resource.Or</span></span>
                        <div class="form-group mar-auto">
                            <label for="reset_select_phone">@Resources.Resource.Telephone</label>
                            <input type="tel" class="form-control phone" id="reset_select_phone" name="phone">
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="custom-button">
                            @*go_to_resetPassword*@
                            <button class="pre-btn" id="" data-text="@Resources.Resource.ResetPass" type="submit">@Resources.Resource.ResetPass</button>
                        </div>
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <div class="text-center js-closeModals" data-target="#signin">@Resources.Resource.GoToLogin</div>
            </div>
        </div>
    </div>
</div>
<!-- END reset password before-->