﻿
<div class="modal fade login-modal" id="signup" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">@Resources.Resource.SignUp</p>
            </div>
            <div class="modal-body">
                <form action="/Openlang/Login" id="formLogin" method="post">
                    <div class="serviceMessageMain js-service for-modal text-center">
                        <span></span>
                    </div>
                    <input type="hidden" class="hidden"  data-target="#tell-us-more"  id="go_tellUsMore" />
                    <p class="text-center">@Resources.Resource.SignUpWith</p>
                    <div class="row xs-mar-0 socials_btns text-center">
                        <div class="col-sm-6 col-xs-6">
                            <span class="fb-login pull-right" id="facebook_login">
                                <i class="fa fa-facebook"></i>Facebook
                            </span>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <span class="google-login pull-left" id="google_login">
                                <i class="fa fa-google"></i>Google
                            </span>
                        </div>
                    </div>
                    <div class="under-title">
                        <span class="pre-line"></span>
                        <span class="favorite"> @Resources.Resource.Or </span>
                        <span class="aft-line"></span>
                    </div>
                    <div class="row xs-mar-0 custom-form">
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group pull-right xs-float-left mar-auto">
                                <label for="signup-name">@Resources.Resource.Name</label>
                                <input type="text" class="form-control" id="signup-name" name="signupName"
                                       placeholder="@Resources.Resource.EnterYourName">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group pull-right xs-float-left mar-auto">
                                <label for="signup-email">@Resources.Resource.Email1</label>
                                <input type="email" class="form-control" id="signup-email" name="email"
                                       placeholder="@Resources.Resource.EnterYourEmail">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group mar-auto ">
                                <label for="signup-password">@Resources.Resource.Password</label>
                                <input type="password" class="form-control" id="signup-password" name="signupPassword"
                                       placeholder="@Resources.Resource.Password">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group mar-auto">
                                <label for="signup-passwordConfirm"> @Resources.Resource.ConfirmPass</label>
                                <input type="password" class="form-control" id="signup-passwordConfirm" name="signupPasswordConfirm"
                                       placeholder="@Resources.Resource.ConfirmYourPass">
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="custom-button">
                                <button   type="submit"   name="signupSubmit">@Resources.Resource.SignUp</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center js-closeModals" data-target="#signin">
                    @Resources.Resource.IhaveAccount
                </div>
            </div>
        </div>
    </div>
</div>