﻿@using Xencore.HtmlHelpers
<div class="modal fade buy-step-1 buy-step tell-us-more" id="buy-step-1" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="steps hidden-xs">@Resources.Resource.Step1</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">
                    @Resources.Resource.TrialLessonFor
                    <i class="fa fa-eur" aria-hidden="true"></i> 0.99
                </p>
            </div>
            <div class="modal-body">
                <form id="byTrialStep1">
                    <div class="serviceMessageMain js-service for-modal text-center">
                        <span></span>
                    </div>
                    <input type="hidden" class="hidden" data-target="#buy-step-2" id="trialStep2" />
                    <div class="row xs-mar-0 custom-form">
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group pull-right xs-float-left mar-auto">
                                <label for="trial_select_lang">@Resources.Resource.ChooseLang</label>
                                <select class="js-select2-country for-select" id="trial_select_lang" name="iWantLearn">
                                    <option></option>
                                    @Html.DropDpwnListCountries()
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group mar-auto">
                                <label for="trial_select_level">@Resources.Resource.ChooseLevel</label>
                                <select class="js-select2-level for-select" id="trial_select_level" name="myLevel">
                                    <option></option>
                                    <option value="0">
                                        @Resources.Resource.Beginner
                                    </option>
                                    <option value="1">
                                        @Resources.Resource.UpperBeginner
                                    </option>
                                    <option value="2">
                                        @Resources.Resource.Intermediate
                                    </option>
                                    <option value="3">
                                        @Resources.Resource.UpperIntermediate
                                    </option>
                                    <option value="4">
                                        @Resources.Resource.Advanced
                                    </option>
                                    <option value="5">
                                        @Resources.Resource.UpperAdvanced
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group pull-right xs-float-left mar-auto">
                                <label for="trial_select_learn_via">@Resources.Resource.ILearnVia</label>
                                <select class="js-select2-socials for-select" id="trial_select_learn_via" name="learnVia">
                                    <option></option>
                                    <option class="item" data-value="Skype" value="Skype">
                                        Skype
                                    </option>
                                    <option class="item" data-value="Google Hangouts" value="Google Hangouts">
                                        Google Hangouts
                                    </option>
                                    <option class="item" data-value="QQ" value="QQ">
                                        QQ
                                    </option>
                                    <option class="item" data-value="Other" value="Other">
                                        Other
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group mar-auto">
                                <label for="trial_select_phone">@Resources.Resource.Telephone</label>
                                <input type="tel" class="form-control phone" id="trial_select_phone" name="myPhone">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group pull-right xs-float-left mar-auto">
                                <label for="trial_select_find_us">@Resources.Resource.HowDidYouFind</label>
                                <select class="js-select2-find for-select" id="trial_select_find_us" name="howYouFindUs">
                                    <option></option>
                                    <option value="0">
                                        Google
                                    </option>
                                    <option value="1">
                                        Internet
                                    </option>
                                    <option value="2">
                                        Media
                                    </option>
                                    <option value="3">
                                        Facebook
                                    </option>
                                    <option value="4">
                                        Recommended
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group mar-auto">
                                <label for="trial_select_timezone">@Resources.Resource.YourTimeZone</label>
                                <select class="js-select2-timezone for-select" id="trial_select_timezone" name="myTimeZone">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <option selected="selected">@ViewBag.User.TimeZone</option>
                                    }
                                    <option>Greenwich Mean Time</option>
                                    <option>Universal Coordinated Time</option>
                                    <option>European Central Time</option>
                                    <option>Eastern European Time</option>
                                    <option>(Arabic) Egypt Standard Time</option>
                                    <option>Eastern African Time</option>
                                    <option>Middle East Time</option>
                                    <option>Near East Time</option>
                                    <option>Pakistan Lahore Time</option>
                                    <option>India Standard Time</option>
                                    <option>Bangladesh Standard Time</option>
                                    <option>Vietnam Standard Time</option>
                                    <option>China Taiwan Time</option>
                                    <option>Japan Standard Time</option>
                                    <option>Australia Central Time</option>
                                    <option>Australia Eastern Time</option>
                                    <option>Solomon Standard Time</option>
                                    <option>New Zealand Standard Time</option>
                                    <option>Midway Islands Time</option>
                                    <option>Hawaii Standard Time</option>
                                    <option>Alaska Standard Time</option>
                                    <option>Pacific Standard Time</option>
                                    <option>Phoenix Standard Time</option>
                                    <option>Mountain Standard Time</option>
                                    <option>Central Standard Time</option>
                                    <option>Eastern Standard Time</option>
                                    <option>Indiana Eastern Standard Time</option>
                                    <option>Puerto Rico and US Virgin Islands Time</option>
                                    <option>Canada Newfoundland Time</option>
                                    <option>Argentina Standard Time</option>
                                    <option>Brazil Eastern Time</option>
                                    <option>Central African Time</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group pull-right xs-float-left mar-auto">
                                <label for="trial_datetimepicker">@Resources.Resource.StartDate</label>
                                <div class='input-group date datetimepicker hasMinDate'>
                                    <span class="input-group-addon">
                                        <img src="~/images/calendar.png" alt="">
                                    </span>
                                    <input id='trial_datetimepicker' type='text' class="form-control open-datetimepicker"
                                           placeholder="@Resources.Resource.ChooseStartDate" name="date"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 w50">
                            <div class="form-group mar-auto">
                                <label for="start-hours">@Resources.Resource.StartTime</label>
                                <input type="text" class="form-control times" maxlength="5" name="time"
                                       pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" id="start-hours"
                                       placeholder="00:00">
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="custom-button">
                                <button type="submit" id="go_to_trialStep2" name="submitTrialStep1">
                                    @Resources.Resource.CheckOut
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </button>
                                <p class="secure-text">
                                    <i class="fa fa-shield" aria-hidden="true"></i> Via
                                    @Resources.Resource.ViaSecureServer
                                </p>
                                <p class="confirm-text">
                                    @Html.Raw(Resources.Resource.WeRespect)<br>
                                    @*<span class="js-closeModals target"
                                          data-target="#trial-step1-policy">@Html.Raw(Resources.Resource.Privacy)</span>*@
                                    <span class="js-closeModals target">@Html.ActionLink(Resources.Resource.Privacy, "Privacy", "PrivacyAndTerms")</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>