﻿

<div class="modal fade buy-step-2 buy-step tell-us-more" id="buy-step-2" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="steps hidden-xs">@Resources.Resource.Step2</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">
                    @Resources.Resource.TrialLessonFor
                    <i class="fa fa-eur" aria-hidden="true"></i> 0.99
                </p>
            </div>
            <div class="modal-body">
                <form id="byTrialStep2">
                    <div class="serviceMessageMain js-service for-modal text-center">
                        <span></span>
                    </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="js-closeModals cursor back-button" data-target="#buy-step-1">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Resources.Resource.BackToStep1
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 choose-text">
                        @Resources.Resource.ChoosePayMethod:
                    </div>
                    <div class="col-sm-12 col-xs-12 payment-method">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p>@Resources.Resource.CreditCard</p>
                                        <div class="checkbox payment-type">
                                            <label>
                                                <input type="checkbox"  id="trial_card" class="js-toogle-payment" 
                                                       data-type="credit" checked>
                                                <img src="~/images/creditcard.png" alt="credit card">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>PayPal</p>
                                        <div class="checkbox payment-type">
                                            <label>
                                                <input type="checkbox" class="js-toogle-payment"
                                                       data-type="paypal" id="trial_paypal">
                                                <img src="~/images/paypal.png" alt="PayPal">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>TenPay</p>
                                        <div class="checkbox payment-type">
                                            <label>
                                                <input type="checkbox" id="trial_tenpay" class="js-toogle-payment"
                                                       data-type="tenpay">
                                                <img src="~/images/tenpay.png" alt="TenPay">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="checkbox agreement-check">
                                            <label>
                                                <input name="confirm" type="checkbox" id="confirm">@Html.Raw(Resources.Resource.ToContinueClick)
                                                @*<span class="js-closeModals cursor" data-target="#trial-step2-policy">@Resources.Resource.TermsOfService</span>*@
                                                <span class="js-closeModals cursor">@Html.ActionLink(Resources.Resource.Terms, "Terms", "PrivacyAndTerms")</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="js-toggle credit">
                        <div class="col-sm-12 col-xs-12">
                            <div class="choose-text">
                                @Resources.Resource.CaedDetials:
                            </div>
                            <div class="col-sm-12 col-sx-12 creditcard">
                                <div class="row">
                                    <div class="col-sm-7 info">
                                        <div class="row">
                                            <div class="col-sm-8 col-xs-12">
                                                <div class="form-group  xs-float-left ">
                                                    <label for="name-on-card">
                                                        @Resources.Resource.NameOfCard
                                                    </label>
                                                    <input class="form-control" id="name-on-card" name="cardName"
                                                           placeholder="@Resources.Resource.EnterYourName">
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12">
                                                <div class="form-group mar-auto">
                                                    <label for="card-type">@Resources.Resource.CardType</label>
                                                    <select class="js-select2-card for-select" id="card-type" name="cardType">
                                                        <option></option>
                                                        <option>Visa</option>
                                                        <option>Master Card</option>
                                                        <option>American Express</option>
                                                        <option>JCB</option>
                                                        <option>Discover</option>
                                                        <option>Diners Club</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="card-number">@Resources.Resource.CardNumber</label>
                                                <input class="form-control card-number" id="card-number" name="cardNumber"
                                                       maxlength="16" placeholder="@Resources.Resource.CardNumber">
                                            </div>
                                            <div class="col-sm-3 hidden-xs">
                                                <div class="credit-logo">
                                                    <img src="~/images/cardslogo.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-sm-7 col-xs-12 pull-right">
                                                <div class="form-group  xs-float-left credit-exp">
                                                    <label>@Resources.Resource.CardExpiryDate</label>
                                                    <select class="js-select2-month short for-select" id="trial_card_month" name="cardMonth">
                                                        <option></option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <select class="js-select2-year short for-select" id="trial_card_year" name="cardYear">
                                                        <option></option>
                                                        <option value="2016">2016</option>
                                                        <option value="2017">2017</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 ">
                                        <div class="row">
                                            <div class="security">
                                                <p>@Resources.Resource.SecurityCode</p>
                                            </div>
                                        </div>
                                        <div class="cvv">
                                            <div class="form-group xs-float-left ">
                                                <label for="cvv-card">CVC / CVV / CID:</label>
                                                <input class="form-control" id="cvv-card" name="cvc"
                                                       placeholder="321" maxlength="4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="js-toggle paypal hidden">
                        <div class="col-sm-12 col-xs-12">
                            <div class="choose-text">
                                @Resources.Resource.Information:
                            </div>
                            <p>
                                @Resources.Resource.ForPayPalText
                            </p>
                        </div>
                    </section>
                    <section class="js-toggle tenpay hidden">
                        <div class="col-sm-12 col-xs-12">
                            <div class="choose-text">
                                @Resources.Resource.Information:
                            </div>
                            <p>
                                @Resources.Resource.ForTanPayText
                            </p>
                        </div>
                    </section>
                    <div class="col-sm-12 col-xs-12 confirmation">
                        <div class="row">
                            <div class="col-sm-9 col-xs-12">
                                <div class="choose-text">
                                    @Resources.Resource.ConfirmSchedule:
                                </div>
                                <p>
                                    @Resources.Resource.Name: <span class="white"> @if (ViewBag.User != null)
                                                                                   {
                                                                                            @ViewBag.User.Name
                                                                                   } </span> <br>
                                    @Resources.Resource.ChooseLang: <span class="white" id="selLng"> English </span><br>
                                    @Resources.Resource.ChooseLevel: <span class="white" id="selLevel">Intermediate</span> <br>
                                    @Resources.Resource.StartDate: <span class="white" id="selDate">22/11/2015 </span>
                                </p>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="confirm-block">
                                    <p>@Resources.Resource.PayNow: <span class="white">€0.99</span></p>
                                    <div class="custom-button">
                                        @*id="trial_pay" for button*@
                                        <button type="submit" class="pre-btn" data-text="@Resources.Resource.ConfirmPayment">
                                            @Resources.Resource.ConfirmPayment
                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <p class="secure-text">
                                        <i class="fa fa-shield" aria-hidden="true"></i>
                                        @Resources.Resource.ViaSecureServer
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>