﻿<div class="modal fade buy-step-3 buy-step tell-us-more" id="teacher-authenticated" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="steps hidden-xs"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title">Teacher was authenticated</p>
            </div>
            <div class="modal-body">
                <p class="complete-text">
                    @if (ViewBag.User != null)
                    {
                        @ViewBag.User.Name
                    }
                    Your application has been accepted, the administration treats you as a teacher
                </p>
            </div>
        </div>
    </div>
</div>