﻿@using (Html.BeginForm("SignIn", "Openlang", FormMethod.Post,new {name="formToSend"}))
{
    <input type="hidden" name="Name"/>
    <input type="hidden" name="Password"/>
    <input type="hidden" name="ConfirmPassword"/>
    <input type="hidden" name="Email"/>
    <input type="hidden" name="PhoneNumber"/>
    <input type="hidden" name="TimeZone"/>
    <input type="hidden" name="ChosenLang"/>
    <input type="hidden" name="ChosenLevel"/>
    <input type="hidden" name="Skype"/>
    <input type="hidden" name="HowDidFind"/>
    <input type="hidden" name="selLang"/>
    <input type="hidden" name="ProfilePicture"/>
    <input type="hidden" name="ISpeak">
}
<div class="modal fade tell-us-more" id="tell-us-more" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title" id="myModalLabel">@Resources.Resource.TellUsMore</p>
            </div>
            <div class="modal-body">
                <form id="tellUsMore">
                    <div class="serviceMessageMain js-service for-modal text-center">
                        <span></span>
                    </div>
                <div class="row xs-mar-0 custom-form">
                    <div class="col-sm-6 col-xs-12 w50">
                        <div class="form-group pull-right xs-float-left mar-auto">
                            <label for="signup_select_lang">@Resources.Resource.ChooseLang</label>
                            <select class="js-select2-country" id="signup_select_lang" name="iWantLearn">
                                <option></option>
                                <option data-value="us" value="us">
                                    @Resources.Resource.English
                                </option>
                                <option data-value="fr" value="fr">
                                    @Resources.Resource.French
                                </option>
                                <option data-value="de" value="de">
                                    @Resources.Resource.German
                                </option>
                                <option data-value="gr" value="gr">
                                    @Resources.Resource.Greek
                                </option>
                                <option data-value="it" value="it">
                                    @Resources.Resource.Italian
                                </option>
                                <option data-value="br" value="br">
                                    @Resources.Resource.Portuguese
                                </option>
                                <option data-value="es" value="es">
                                    @Resources.Resource.Spanish
                                </option>
                                <option data-value="se" value="se">
                                    @Resources.Resource.Swedish
                                </option>
                                <option data-value="cn" value="cn">
                                    Chinese
                                </option>
                                <option data-value="ru" value="ru">
                                    Russian
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 w50">
                        <div class="form-group mar-auto">
                            <label for="signup_select_level">@Resources.Resource.ChooseLevel</label>
                            <select class="js-select2-level" id="signup_select_level" name="myLevel">
                                <option></option>
                                @{Html.RenderPartial("~/Views/PartialsOptions/AllLevels.cshtml");}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 w50">
                        <div class="form-group pull-right xs-float-left mar-auto">
                            <label for="signup_select_learn_via">@Resources.Resource.ILearnVia</label>
                            <select class="js-select2-socials" id="signup_select_learn_via" name="learnVia">
                                <option></option>
                                <option class="item" data-value="Skype" value="Skype">
                                    Skype
                                </option>
                                <option class="item" data-value="Google Hangouts" value="Google Hangouts">
                                    Google Hangouts
                                </option>
                                <option class="item" data-value="QQ" value="QQ">
                                    QQ
                                </option>
                                <option class="item" data-value="Other" value="Other">
                                    Other
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 w50">
                        <div class="form-group mar-auto">
                            <label for="signup_select_phone">@Resources.Resource.Telephone</label>
                            <input type="tel" class="form-control phone" id="signup_select_phone" name="myPhone">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 w50">
                        <div class="form-group pull-right xs-float-left mar-auto">
                            <label for="signup_select_find_us">@Resources.Resource.HowDidYouFind</label>
                            <select class="js-select2-find" id="signup_select_find_us" name="howYouFindUs">
                                <option></option>
                                <option value="0">
                                    Google
                                </option>
                                <option value="1">
                                    Internet
                                </option>
                                <option value="2">
                                    Media
                                </option>
                                <option value="3">
                                    Facebook
                                </option>
                                <option value="4">
                                    Recommended
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 w50">
                        <div class="form-group mar-auto">
                            <label for="signup_select_timezone">@Resources.Resource.YourTimeZone</label>
                            <select class="js-select2-timezone" id="signup_select_timezone" name="myTimeZone">
                                <option selected>Greenwich Mean Time</option>
                                <option>Universal Coordinated Time</option>
                                <option>European Central Time</option>
                                <option>Eastern European Time</option>
                                <option>(Arabic) Egypt Standard Time</option>
                                <option>Eastern African Time</option>
                                <option>Middle East Time</option>
                                <option>Near East Time</option>
                                <option>Pakistan Lahore Time</option>
                                <option>India Standard Time</option>
                                <option>Bangladesh Standard Time</option>
                                <option>Vietnam Standard Time</option>
                                <option>China Taiwan Time</option>
                                <option>Japan Standard Time</option>
                                <option>Australia Central Time</option>
                                <option>Australia Eastern Time</option>
                                <option>Solomon Standard Time</option>
                                <option>New Zealand Standard Time</option>
                                <option>Midway Islands Time</option>
                                <option>Hawaii Standard Time</option>
                                <option>Alaska Standard Time</option>
                                <option>Pacific Standard Time</option>
                                <option>Phoenix Standard Time</option>
                                <option>Mountain Standard Time</option>
                                <option>Central Standard Time</option>
                                <option>Eastern Standard Time</option>
                                <option>Indiana Eastern Standard Time</option>
                                <option>Puerto Rico and US Virgin Islands Time</option>
                                <option>Canada Newfoundland Time</option>
                                <option>Argentina Standard Time</option>
                                <option>Brazil Eastern Time</option>
                                <option>Central African Time</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 w50">
                        <div class="form-group pull-right xs-float-left mar-auto">
                            <label for="SkypeId">@Resources.Resource.YourSkypeID</label>
                            <input class="form-control" type="text" id="SkypeId" placeholder="Skype ID" name="SkypeId"/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 w50">
                        <div class="form-group mar-auto">
                            <label for="ISpeak">@Resources.Resource.NativeLanguage</label>
                            <select class="js-select2-native-language" id="ISpeak" name="ISpeak">
                                <option></option>
                                @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="custom-button">
                            <button id="go_signup" class="pre-btn" data-text="@Resources.Resource.SignUp" type="submit" name="tellUsMoreSubmit">@Resources.Resource.SignUp</button>
                        </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>