﻿
<div class="modal fade" data-easein="bounceDownIn" id="trial-step1-policy" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close js-closeModals" data-target="#buy-step-1"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center">Privacy</h4>
            </div>
            <div class="modal-body">
                <div class="custom-scroll">
                    <p>
                        Open Languages understands the importance of your privacy rights. We are committed to transparency and disclosure of the ways in which we use personal and non-personal information. Our goal is to be as minimally intrusive as possible, but also to be transparent about the way we do use your information and to educate the users of our site about the ways in which websites actually utilize personal and non-personal information and to locate our practices within that broader context.

                        The material you submit to the site, including but not limited to, Blogs, Forums, Groups, Wikis, or other modalities, may be made public. If you are the administrator or editor of a Blog, Forum, Group, Wiki, or other modality on the site, you may adjust settings to restrict the availability of that material to outside search engines. In addition, there may be links to independent web sites outside of the Open Languages, and we are not responsible for the privacy policies of other web sites.

                        We will take all reasonable measures to protect the integrity of private communication on the site. However even protected sites can be subject to illegal hacking, technological glitches, user misconduct, and administrative errors, and we assume no liability for any of these actions or occurrences or their results.

                        Open Languages will use information supplied by our users (including, without limitation, sensitive personal data) to aid the recruitment process and associated administrative functions, including, where Open Languages considers it necessary, the disclosure of your personal data to related third parties.

                        Sensitive personal data may be collected and processed only as it is necessary to ensure we conform to legal requirements. By using this website and by registering your details with us, you consent to us collect and process sensitive personal data supplied by you, disclosure of this information to prospective employers and clients in connection with the recruitment process, and the sharing of aggregate information with selected third parties.

                        Open Languages considers the security of your data imperative. Access to your personal data is only provided to our staff and third parties who help us to process data and, in order to help with the recruitment process, to prospective employers or customers.
                    </p>
                    <h4>Registration:</h4>
                    <p>We request information from the user on our registration form. On this form a user must provide contact information, such as name, address and telephone numbers. This information is used for registration purposes. If we have any trouble processing the registration we will use the contact information provided to get in touch with the user.</p>



                    <h4>Data Protection:</h4>
                    <p>Open Languages is committed to privacy for all users of this site. The Data Protection Acts of 1984 and 1998 require us to comply with certain regulations which are designed to ensure that any personal data provide to us by the user is processed with due care and attention.</p>

                    <h4>Cookies:</h4>
                    <p>A cookie is a piece of data stored on the user’s hard drive containing information about the user. Usage of a cookie is in no way linked to any personally identifiable information while on our site. Once the user closes the browser, the cookie simply terminates. For instance, by setting a cookie on our site, the user would not have to log a password more than once, thereby saving time while on our site. If a user rejects the cookie, he may still use our site.</p>

                    <h4>Log Files:</h4>
                    <p>We use IP addresses to analyze market trends, administer the site, track user’s movement and gather broad demographic information for aggregate use. IP addresses are not linked to personally identifiable information.</p>

                    <h4>Surveys and Feedback:</h4>
                    <p>From time to time our site requests information from users via surveys or feedback forms. Participation in these surveys or user feedback is completely voluntary and the user therefore has a choice whether or not to disclose this information. Information requested may include satisfaction information (for example, a name or company, use of the product and your views on the product), and demographic information (for example age bracket or postcode). Feedback information may be published on the site as a review. Survey information will be used for purpose of monitoring and or improving the use and satisfaction of this site.</p>

                    <h4>Security:</h4>
                    <p>This website takes every precaution to protect its user’s information. When users submit sensitive information via the website, their information is protected both online and off-line.</p>

                    <p>We do everything in our power to protect user-information off-line. All of our users’ information, not just the sensitive information mentioned above, is restricted in our offices. Only Open Languages employees who need the information to perform a specific job are granted access to personally identifiable information.</p>

                    <p>If you have any questions about the security of our website, you can send an email to. admin@openlanguages.com.</p>



                    <h4>Supplementation of Information:</h4>
                    <p>Open Languages does not share any information we receive from this website with any third party sources.</p>

                    <h4>Special offers:</h4>
                    <p>We send all new customers a welcoming email to verify their password and username. Established members will occasionally receive information on products, services, special deals, events and a newsletter. Out of respect for the privacy of our users we present the option to not receive these types of communications, please see the choice and opt-out below.</p>

                    <h4>Choice/Opt-out:</h4>
                    <p>Our users are given the opportunity to ‘opt-out’ of having their information used for purposes not directly related to our site at the point where we ask for the information. For example, our order form contains an ‘opt out’ mechanism so users who buy a service from us, but don’t want to receive any marketing material, can keep their email address off our list.</p>

                    <h4>Correcting/Updating Personal Information:</h4>
                    <p>If a user’s personally identifiable information changes (such as address), or if a user no longer requires our service, we will endeavor to provide a way to correct, update or remove that user’s personal data provided to us. This can usually be done by emailing us at admin@openlanguages.com.</p>

                    <h4>Notification of Changes:</h4>
                    <p>If we decide to change our privacy policy, we will post those changes on this page so our users are always aware of what information we collect, how we use it, and under circumstances, if any, we disclose it. If at any point we decide to use personally identifiable information in a different manner from that stated at the time it was collected, we will notify users by way of an email. Users will have a choice as to whether or not we use their information in this different manner. If the user does not agree to the new Privacy Policy we will use the information in accordance with the Privacy Policy under which the information was collected.</p>
                </div>
            </div>
        </div>
    </div>
</div>