﻿@model MvcApplicationPostFinanceLatest.ViewModel.ClassViewModel

@{
    ViewBag.Title = "EditTeacher";
}

<h2>EditTeacher</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.ClassId)
    @Html.DropDownListFor(m => m.ClassId, Model.Classes)
    <input type="submit" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated animated" value="GET">
}



