﻿@model MvcApplicationPostFinanceLatest.Models.EditTeacherRequestModel

@{
    ViewBag.Title = "EditTeacherData";
}

<h2>EditTeacherData</h2>


@using (Html.BeginForm("EditTeacherData", "Teacher", Model))
{
    <script src="~/Scripts/new/timezones.full.js"></script>
    <script src="~/Scripts/new/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('#timezone').timezones();
            $('#timezone').val($("#hiddenTimeZone").val());
            $("#hiddenTimeZone").val($('#timezone').val());
        });

        function FunctionTimeZone() {
            $("#hiddenTimeZone").val($('#timezone').val());
        }
    </script>
    <div class="field">
        <label class="paytxt">Teacher Id: @Model.GetType().GetProperty("PresenterId").GetValue(Model)
</label>
    </div>
    <div class="field">
        <label class="paytxt">Name</label>
        <p>@Html.TextBoxFor(x => x.Name, new { @style = "width: 300px" })</p>
    </div>


    <div class="field">
        <label class="paytxt">Email</label>
        <p>@Html.TextBoxFor(x => x.Email, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Password</label>
        <p>@Html.TextBoxFor(x => x.Password, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Phone Number</label>
        <p>@Html.TextBoxFor(x => x.PhoneNumber, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Mobile Number</label>
        <p>@Html.TextBoxFor(x => x.MobileNumber, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Time Zone</label>
        <p>@Html.HiddenFor(x => x.TimeZone, new { @id = "hiddenTimeZone" })</p>
        <select class="form-control" style="width: 300px" name="country" id="timezone" onchange="FunctionTimeZone()"></select>
    </div>
    <div class="field">
        <label class="paytxt">About The Teacher</label>
        <p>@Html.TextAreaFor(x => x.AboutTheTeacher, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Can Schedule Class</label>
        <p>@Html.RadioButtonFor(model => model.CanScheduleClass, true) Yes</p>
        <p>@Html.RadioButtonFor(model => model.CanScheduleClass, false) No</p>
    </div>
    <div class="field">
        <label class="paytxt">Is Active</label>
        <p>@Html.RadioButtonFor(model => model.IsActive, true) Yes</p>
        <p>@Html.RadioButtonFor(model => model.IsActive, false) No</p>
    </div>
    <div class="field">
        <label class="paytxt">Image</label>
        <p>@Html.TextBoxFor(m => m.PostFilePath, new { type = "file" })</p>
    </div>
    <div class="field">
        <input type="submit" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated animated" value="ADD">
    </div>
}