﻿@using Microsoft.Ajax.Utilities
@using Xencore.Helpers
@model List<Domain.Entities.IdentityEntities.CustomUser>
@{
    ViewBag.Title = "See All";
}
@section Head{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
    <style>
      .activeOfTeacher.disable {
        color: #f04848;
    }
    .activeOfTeacher.enable {
        color: #a1d418;
    }
    .activeOfTeacher {
        cursor: pointer;   
    }
      #usp {
          color:#a0a0a0;
                    display:inline-block;
          margin-left:20px;
        }
      #unscheduledLessons{
          color:#333;
      }
    </style>
}
@*<section class="blue-bg-prof hidden-xs"></section>*@
<section class="admin teacher-profile">
    <div class="container-fluid" id="my-account-container">
        <div class="row content-wrap">
            @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminDashboardHeader.cshtml", "Admin Dashboard");}
            <div class="col-lg-10 col-md-10 right-content">
                <div class="bgc-content-wrap ft clearfix">
                    <div class="col-xs-12">
                        <table id="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>I teach</th>
                                    <th>I speak</th>
                                    <th>Sign up</th>
                                    <th>Phone</th>
                                    <th>Isactive</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.OrderByDescending(x => x.CreationDateTime))
                            {
                                var name = item.Name ?? "Empty";
                                var email = item.Email ?? "Empty";
                                <tr>
                                    <td class="name">@Html.ActionLink(name, "GetDetailsOfTeacher", new { item.Id })</td>
                                    <td>@email</td>
                                    <td>

                                        @Html.Raw(Html.DrawILearnAndISpeak(item.Ilearn))
                                    </td>
                                    <td>
                                        @Html.Raw(Html.DrawILearnAndISpeak(item.Ispeak))
                                    </td>

                                    <td>@item.CreationDateTime.ToString("dd.MM.yyyy")</td>
                                    <td>@item.PhoneNumber</td>
                                    <td><span id="@item.Id" class="activeOfTeacher @(item.Active ? "disable" : "enable")">@(item.Active ? "DISABLE" : "ENABLE")</span></td>
                                </tr>

                            }
                        </table>
                        <span class="table-count">Showing 10 of @Model.Count</span>
                    </div>
                </div>
                <div class="bgc-content-wrap myBoudget clearfix">
                    <div class="row  chart-chart">
                        <div class="col-xs-3 toe active">
                            <div style="cursor: pointer" onclick="getData('daily')">@Resources.Resource.daily</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div style="cursor: pointer" onclick="getData('weekly')">@Resources.Resource.Weekly</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div style="cursor: pointer" onclick="getData('monthly')">@Resources.Resource.Monthly</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div style="cursor: pointer" onclick="getData('yearly')">@Resources.Resource.Yearly</div>
                        </div>
                        <div class="col-xs-12 ch-chart" id="chart">
                            <canvas id="myChart" width="740" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        function forClick() {
            var id = $(this).attr("id");
            $(this).toggleClass(function () {
                if ($(this).text() === "DISABLE") {
                    $(this).text("ENABLE").removeClass("disable");
                    return "enable";
                } else {
                    $(this).text("DISABLE").removeClass("enable");
                    return "disable";
                }
            });
            $.post("/Admin/Teacher/ChangeTeacherActive", { 'id': id }, 'json').success(function (res) {
                if (res.Success)
                    var t = 0;
                else
                    alert("Error!");
            });
        }
        $("#table")
            .dataTable({
                "autoWidth": true,
                "ordering": false,
                "oLanguage": {
                    "sSearch": "",
                },
                language: {
                    searchPlaceholder: "Enter information to search..."
                },
                "dom": '<"top" flp>rt<"bottom"flp>'
            }).on('draw.dt', function () {
                $(".activeOfTeacher").unbind("click").bind("click", forClick);
            });
        $(".activeOfTeacher").click(forClick);;
        $('.dataTables_filter input').attr("placeholder", "Enter information to search...");
        $.post("@Url.Action("GetCountUnscheduledLessons", "Teacher")").success(function(result) {
            $("#unscheduledLessons").text(result.count);
        });
        $("#clear").click(function() {
            $.post("@Url.Action("ClearUnscgeduledLessons","Teacher")").success(function(result) {
                if (!result.result)
                    alert("Error");
                else
                    $("#unscheduledLessons").text("0");
            });
        });


        Chart.defaults.global.legend.display = false;
        var mainChart;
        var data = {
            //labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    backgroundColor: 'rgba(153, 211, 50, 0.2)',
                    pointBackgroundColor: 'rgb(153, 211, 50)',
                    pointBorderColor: 'rgb(153, 211, 50)',
                    pointHoverBackgroundColor: 'rgb(153, 211, 50)',
                    pointHoverBorderColor: 'rgb(153, 211, 50)',
                    pointHighlightStroke: "rgba(153, 211, 50,1)",
                    //data: [65, 59, 80, 81, 56, 55, 40]
                },
            ]
        };

        function drawChart() {
            if (mainChart)
                mainChart.destroy();
            var ctx = document.getElementById("myChart").getContext("2d");
            ctx.clearRect(0, 0, ctx.width, ctx.height);
            mainChart = new Chart(ctx,
                {
                    type: "line",
                    data: data,
                });
        };

        function getData(type) {
            $.get("@Url.Action("GetStats")" + "?chat=" + type).done(function(res) {
                data.labels = res.labels;
                data.datasets[0].data = res.data;
                drawChart();
            });
        }

        getData('monthly');
    </script>
}
