﻿@model MvcApplicationPostFinanceLatest.ViewModel.ClassViewModel
@{
    ViewBag.Title = "GetDetails";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>GetDetails</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.ClassId)
    @Html.DropDownListFor(m => m.ClassId, Model.Classes)
    <input type="submit" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated animated" value="GET">
}
