﻿@model Xencore.Areas.ViewModels.ViewModelForDetailsOfTeacher
@{
    ViewBag.Title = "GetDetails";
    var iframeSrc = "";
    if (Model.CustomUser.TeacherInfo?.Link != null)
    {
        if (!string.IsNullOrEmpty(Model.CustomUser.TeacherInfo.Link) && Model.CustomUser.TeacherInfo.Link.ToLower().Contains("youtube"))
        {
            iframeSrc = Model.CustomUser.TeacherInfo.Link;
        }
        else if (!string.IsNullOrEmpty(Model.CustomUser.TeacherInfo.Link) && Model.CustomUser.TeacherInfo.Link.ToLower().Contains("vimeo"))
        {
            iframeSrc = Model.CustomUser.TeacherInfo.Link;
        }
        else
        {
            iframeSrc = Model.CustomUser.TeacherInfo.Link;
        }
    }
    var rate = Model.CustomUser.TeacherRate;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .titleField {
        font-size: 15px;
        font-weight: bold;
    }

    #infos {
        margin-left: 20px;
    }

        #infos .details {
            margin-bottom: 15px;
        }

        #infos .exp {
            border: 1px solid black;
            padding: 7px;
            margin-bottom: 7px;
        }
</style>
<div id="infos">
    <div class="titleField">Email:</div>
    <div class="details">@Model.CustomUser.Email</div>
    <div class="titleField">CURRENT HASH PASSWORD</div>
    <div class="details">@Model.CustomUser.PasswordHash</div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">SEND CONTRACT</div>
                <div class="panel-body">
                    <div class="form-group">
                        <input id="sendEmailWithConfirmation" type="button" value="Send" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">CHANGE PASSWORD</div>
                <div class="panel-body">
                    @using (Html.BeginForm("ChangePassword", "Teacher", FormMethod.Post, new { @class = "form", id = "changePass" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(x => x.Password)
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ConfirmPassword)
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>
                        @Html.HiddenFor(x => x.CustomUser.Id, new { Name = "id" })
                        <div class="form-group">
                            <input id="changePassBtn" type="button" value="Save" class="btn btn-default" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">RATES</div>
                <div class="panel-body">
                    @using (Html.BeginForm("ChangeRate", "Teacher", FormMethod.Post, new { @class = "form", id = "formChangeRate" }))
                    {
                        @Html.HiddenFor(x => rate.UserId, new { Value = rate.UserId })
                        <div class="form-group">
                            @Html.LabelFor(x => rate.Individual45Rate)
                            @Html.TextBoxFor(x => rate.Individual45Rate, new { Value = Model.CustomUser.TeacherRate.Individual45Rate, @class = "form-control", placeholder = "Individual 60 min rate" })
                            @Html.ValidationMessageFor(x => rate.Individual45Rate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => rate.Individual60Rate)
                            @Html.TextBoxFor(x => rate.Individual60Rate, new { Value = Model.CustomUser.TeacherRate.Individual60Rate, @class = "form-control", placeholder = "Individual 45 min rate" })
                            @Html.ValidationMessageFor(x => rate.Individual60Rate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => rate.GroupRate)
                            @Html.TextBoxFor(x => rate.GroupRate, new { Value = Model.CustomUser.TeacherRate.GroupRate, @class = "form-control", placeholder = "Group" })
                            @Html.ValidationMessageFor(x => rate.GroupRate)
                        </div>
                        @Html.HiddenFor(x => x.CustomUser.Id, new { Name = "id" })
                        <div class="form-group">
                            <input id="changeRate" type="button" value="Save" class="btn btn-default" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="titleField">Location:</div>
    <div class="details">@(Model.CustomUser.Location ?? "Default")</div>

    <div class="titleField">Currency:</div>
    <div class="details">@(Model.CustomUser.Currency ?? "Default")</div>

    <div class="titleField">Profile Photo:</div>
    <div class="details">@(Html.Raw(Model.CustomUser.ProfilePicture != null ? "<img src = '" + Model.CustomUser.ProfilePicture + "'>" : "Default"))</div>

    <div class="titleField">Phone Number:</div>
    <div class="details">@(Model.CustomUser.PhoneNumber ?? "Default")</div>

    <div class="titleField">What is your goal?:</div>
    <div class="details">@(Model.CustomUser.AdditionalUserInformation?.WhatLookingFor ?? "NO DATA")</div>

    <div class="titleField">Student short introduction:</div>
    <div class="details">@(Model.CustomUser.AdditionalUserInformation?.ShotIntrodution ?? "NO DATA")</div>

    <div class="titleField">I teach:</div>
    <div class="row">
        <div class="col-md-6">
            <div>@(Model.CustomUser.Ilearn ?? "NO DATA")</div>
            <div class="panel panel-default">
                <div class="panel-heading">CHANGE I TEACH</div>
                <div class="panel-body">
                    @using (Html.BeginForm("ChangeITeachn", "Teacher", FormMethod.Post, new { @class = "form", id = "changeITeach" }))
                    {
                        <div class="form-group">
                            <select multiple class="js-example-tags form-control" name="langs" id="tags2">
                                @*<option value="any">@Resources.Resource.Any</option>*@
                                @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                @*<option value="us" @(Model.CustomUser.Ilearn.Contains("us") ? "selected='selected'" : "")>@Resources.Resource.English</option>
                                    <option value="es" @(Model.CustomUser.Ilearn.Contains("es") ? "selected='selected'" : "")>@Resources.Resource.Spanish</option>
                                    <option value="fr" @(Model.CustomUser.Ilearn.Contains("fr") ? "selected='selected'" : "")>@Resources.Resource.French</option>
                                    <option value="it" @(Model.CustomUser.Ilearn.Contains("it") ? "selected='selected'" : "")>@Resources.Resource.Italian</option>
                                    <option value="br" @(Model.CustomUser.Ilearn.Contains("br") ? "selected='selected'" : "")>@Resources.Resource.Portuguese</option>
                                    <option value="se" @(Model.CustomUser.Ilearn.Contains("se") ? "selected='selected'" : "")>@Resources.Resource.Swedish</option>
                                    <option value="de" @(Model.CustomUser.Ilearn.Contains("de") ? "selected='selected'" : "")>@Resources.Resource.German</option>
                                    <option value="gr" @(Model.CustomUser.Ilearn.Contains("gr") ? "selected='selected'" : "")>@Resources.Resource.Greek</option>
                                    <option value="cn" @(Model.CustomUser.Ilearn.Contains("cn") ? "selected='selected'" : "")>@Resources.Resource.Chinese</option>
                                    <option value="ru" @(Model.CustomUser.Ilearn.Contains("ru") ? "selected='selected'" : "")>@Resources.Resource.Russian</option>
                                    <option value="ae" @(Model.CustomUser.Ilearn.Contains("ae") ? "selected='selected'" : "")>@Resources.Resource.Arabic</option>*@
                            </select>
                        </div>
                        @*<div class="form-group">
                                @Html.LabelFor(x => x.Url)
                                @Html.TextBoxFor(x => x.Url, new { @class = "form-control", placeholder = "New Url", id = "urlId" })
                                @Html.ValidationMessageFor(x => x.Url)
                            </div>*@
                                    @Html.HiddenFor(x => x.CustomUser.Id, new { Name = "id" })
                                    <div class="form-group">
                                        <input id="changeITeachBtn" type="button" value="Save" class="btn btn-default" />
                                    </div>
                                    }
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    @*<div class="details">@(Model.CustomUser.Ilearn ?? "NO DATA")</div>*@
    <div class="titleField">I speak:</div>
    <div class="row">
        <div class="col-md-6">
            <div>@(Model.CustomUser.Ispeak ?? "NO DATA")</div>
            <div class="panel panel-default">
                <div class="panel-heading">CHANGE I SPEAK</div>
                <div class="panel-body">
                    @using (Html.BeginForm("ChangeISpeak", "Teacher", FormMethod.Post, new { @class = "form", id = "changeISpeak" }))
                    {
                        <div class="form-group">
                            <select multiple class="js-example-tags form-control" name="langs" id="tags2">
                                @*<option value="any">@Resources.Resource.Any</option>*@
                                @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                @*<option value="us" @(Model.CustomUser.Ilearn.Contains("us") ? "selected='selected'" : "")>@Resources.Resource.English</option>
                                    <option value="es" @(Model.CustomUser.Ilearn.Contains("es") ? "selected='selected'" : "")>@Resources.Resource.Spanish</option>
                                    <option value="fr" @(Model.CustomUser.Ilearn.Contains("fr") ? "selected='selected'" : "")>@Resources.Resource.French</option>
                                    <option value="it" @(Model.CustomUser.Ilearn.Contains("it") ? "selected='selected'" : "")>@Resources.Resource.Italian</option>
                                    <option value="br" @(Model.CustomUser.Ilearn.Contains("br") ? "selected='selected'" : "")>@Resources.Resource.Portuguese</option>
                                    <option value="se" @(Model.CustomUser.Ilearn.Contains("se") ? "selected='selected'" : "")>@Resources.Resource.Swedish</option>
                                    <option value="de" @(Model.CustomUser.Ilearn.Contains("de") ? "selected='selected'" : "")>@Resources.Resource.German</option>
                                    <option value="gr" @(Model.CustomUser.Ilearn.Contains("gr") ? "selected='selected'" : "")>@Resources.Resource.Greek</option>
                                    <option value="cn" @(Model.CustomUser.Ilearn.Contains("cn") ? "selected='selected'" : "")>@Resources.Resource.Chinese</option>
                                    <option value="ru" @(Model.CustomUser.Ilearn.Contains("ru") ? "selected='selected'" : "")>@Resources.Resource.Russian</option>
                                    <option value="ae" @(Model.CustomUser.Ilearn.Contains("ae") ? "selected='selected'" : "")>@Resources.Resource.Arabic</option>*@
                            </select>
                        </div>
                        @*<div class="form-group">
                                @Html.LabelFor(x => x.Url)
                                @Html.TextBoxFor(x => x.Url, new { @class = "form-control", placeholder = "New Url", id = "urlId" })
                                @Html.ValidationMessageFor(x => x.Url)
                            </div>*@
                                    @Html.HiddenFor(x => x.CustomUser.Id, new { Name = "id" })
                                    <div class="form-group">
                                        <input id="changeISpeakBtn" type="button" value="Save" class="btn btn-default" />
                                    </div>
                                    }
                </div>
            </div>
        </div>
    </div>
    @*<div class="details">@string.Join(",",Model.CustomUser.Ilearn?.Split('|').Select(x=>x.Split('_')[0]).ToArray())</div>*@

    <div class="titleField">Education:</div>
    <div class="details">
        @foreach (var edu in Model.CustomUser.Educations)
        {
            <div class="exp">
                <span>@edu.PeriodFrom</span> <text> - </text> <span>@edu.PeriodTo</span><br>
                <span>@edu.Title</span><br>
                <span>@Html.Raw(edu.Description)</span><br>
            </div>
        }
        @if (!Model.CustomUser.Educations.Any())
        {
            <span>NO DATA</span>
        }
    </div>

    <div class="titleField">Work Experience:</div>
    <div class="details">
        @foreach (var edu in Model.CustomUser.WorkExperiences)
        {
            <div class="exp">
                <span>@edu.PeriodFrom</span> <text> - </text> <span>@edu.PeriodTo</span><br>
                <span>@edu.Title</span><br>
                <span>@Html.Raw(edu.Description)</span><br>
            </div>
        }
        @if (!Model.CustomUser.WorkExperiences.Any())
        {
            <span>NO DATA</span>
        }
    </div>

    <div class="titleField">Certifications:</div>
    <div class="details">
        @foreach (var edu in Model.CustomUser.Certifications)
        {
            <div class="exp">
                <span>@edu.PeriodFrom</span> <text> - </text> <span>@edu.PeriodTo</span><br>
                <span>@edu.Title</span><br>
                <span>@Html.Raw(edu.Description)</span><br>
            </div>
        }
        @if (!Model.CustomUser.Certifications.Any())
        {
            <span>NO DATA</span>
        }
    </div>

    <div class="titleField">Video:</div>
    <div class="details">
        @if (iframeSrc.ToLower().Contains("youtube") || iframeSrc.ToLower().Contains("vimeo"))
        {
            <iframe id="url_frame" src="@iframeSrc" frameborder="0"
                    allowfullscreen></iframe>
        }
        else
        {
            <video width="320" height="240" controls>
                <source src="@iframeSrc" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">CHANGE VIDEO URL</div>
                <div class="panel-body">
                    @using (Html.BeginForm("ChangeVideoLink", "Teacher", FormMethod.Post, new { @class = "form", id = "changeVideo" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(x => x.Url)
                            @Html.TextBoxFor(x => x.Url, new { @class = "form-control", placeholder = "New Url", id = "urlId" })
                            @Html.ValidationMessageFor(x => x.Url)
                        </div>
                        @Html.HiddenFor(x => x.CustomUser.Id, new { Name = "id" })
                        <div class="form-group">
                            <input id="changeUrlBtn" type="button" value="Save" class="btn btn-default" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="titleField">Special skills:</div>
    <div class="details">
        @(Model.CustomUser.TeacherInfo?.SpecialSkills ?? "NO DATA")
    </div>

    <div class="titleField">About me:</div>
    <div class="details">
        @(Model.CustomUser.TeacherInfo?.VideoDescription ?? "NO DATA")
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.9.0/jquery.validate.js"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#changePassBtn")
        .click(function () {
            var form = $("#changePass");
            if (!form.valid()) return;
            $.post("@Url.Action("ChangePassword","Teacher")", form.serialize())
                .success(function () {
                    alert("Password was changed");
                })
                .error(function () {
                    alert("Error! Try Change new password");
                });
        });
    $("#changeRate").click(function() {
        var form = $("#formChangeRate");
        if (!form.valid()) return;
        $.post("@Url.Action("ChangeRate","Teacher")", form.serialize())
                .success(function () {
                    alert("Rates was changed");
                })
                .error(function () {
                    alert("Error! Rates was now changed");
                });
    });
    $("#changeUrlBtn").click(function () {
        var form = $("#changeVideo");
        if (!form.valid()) return;
        $.post("@Url.Action("ChangeVideoLink","Teacher")", form.serialize())
                .success(function () {
                    alert("Video url was changed");
                })
                .error(function () {
                    alert("Error! Try Change new password");
                });
    });

    $("#changeITeachBtn").click(function () {
        var form = $("#changeITeach");
        $.post("@Url.Action("ChangeITeachn", "Teacher")", form.serialize())
            .success(function () {
                alert("I Teach was changed");
            })
            .error(function () {
                alert("Error! Try again");
            });
    });
    $("#changeISpeakBtn").click(function() {
        var form = $("#changeISpeak");
        $.post("@Url.Action("ChangeISpeak", "Teacher")", form.serialize())
            .success(function () {
                alert("I Speak was changed");
            })
            .error(function () {
                alert("Error! Try again");
            });
    });
    var url = "https://www.youtube.com/embed/";
    var urlforsave = "https://www.youtube.com/watch?v=";
    var vimeo = "https://player.vimeo.com/video/";
    var linkForSave;
    $("#urlId").keyup(function () {
        var text = $(this).val();
        if (text.indexOf("embed") > -1 || text.indexOf("player.vimeo.com") > -1) {
            $("#url_frame").attr("src", text);
            return;
        }
        if (text.indexOf("youtube") > -1) {
            var arr = gup('v', text);
            $("#url_frame").attr("src", url + arr);
            $("#urlId").val(url + arr)
            linkForSave = text;
            return;
        }
        else if (text.indexOf("vimeo")) {
            var ar = text.split('/');
            var ids = ar[ar.length - 1];
            $("#url_frame").attr("src", vimeo + ids);
            linkForSave = vimeo + ids;
            $("#urlId").val(linkForSave);
            return;
        }
        $("#url_frame").attr("src", "");
    });
    $("#sendEmailWithConfirmation").click(function () {
        $.post('@Url.Action("SendConfirmationAboutRegistration")', { id: '@Model.CustomUser.Id' }).done(function () {
            alert("Email was sent");
        });
    });
    function gup(name, url) {
        if (!url) url = location.href;
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(url);
        return results == null ? null : results[1];
    }
</script>