﻿@model Entities.MyAccount.Entity.Presenter

@{
    ViewBag.Title = "Get Teacher Details";
}

<h2>GetTeacherData</h2>

<table class="table-bordered">
    <tr><th>ID</th><td>@Model.Id</td></tr>
    <tr><th>Name</th><td>@Model.Name</td></tr>
    <tr><th>Email</th><td>@Model.PresenterEmail</td></tr>
    <tr><th>Password</th><td>@Model.Password</td></tr>
    <tr><th>PhoneNumber</th><td>@Model.PhoneNumber</td></tr>
    <tr><th>MobileNumber</th><td>@Model.MobileNumber</td></tr>
    <tr><th>TimeZone</th><td>@Model.TimeZone</td></tr>
    <tr><th>AboutTheTeacher</th><td>@Model.AboutTheTeacher</td></tr>
    <tr><th>CanScheduleClass</th><td>@Model.CanScheduleClass</td></tr>
    <tr><th>IsActive</th><td>@Model.IsActive</td></tr>
    <tr><th>PostFilePath</th><td><img src="@Model.PostFilePath" alt="NaN"/>@Model.PostFilePath</td></tr>
    <tr><th>CLASSES</th>
        <td>
            @if (Model.ClassModels != null)
            {
                foreach (var classModel in Model.ClassModels)
                {
                    <p>Id: @classModel.ClassID</p>
                    <p>Start Time: @classModel.StartTime</p>
                    <p>Title:@classModel.Title</p>
                    <p>------------------------------------------------</p>
                }
            }                
        </td>
    </tr>
</table>