﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>
        @Html.ActionLink("AddTeacher", "AddTeacher")
    </li>
    <li>
        @Html.ActionLink("EditTeacher", "EditTeacher")
    </li>
    <li>
        @Html.ActionLink("Get All Teachers Details", "GetAllTeachersDetails")
    </li>
    <li>
        @Html.ActionLink("Get Teacher", "GetDetails")
    </li>
    <li>
        @Html.ActionLink("Delete Teacher", "Remove")
    </li>
</ul>