﻿@{
    Layout = null;
}
<div>
    <div class="earning">@Resources.Resource.MonthlyEarning</div>
    <div class="money">~ {{shared.NativeMoney}}</div>
    <div class="moneyNative">{{elem.Money}} EUR</div>
    <div class="your-progress" data-countlessons="{{elem.CountLessons}}">@Resources.Resource.Yourbonusis: <span ng-model="elem.CountLessons">{{elem.CountLessons}}</span> @Resources.Resource.of {{maxvalue}}
    </div>
    <div style="background-color: #eef2f5; border-radius: 8px;">
        <div class="progress-earnings progress-bar" role="progressbar" data-transitiongoal="{{elem.CountLessons}}"
             aria-valuemax="{{maxvalue}}"></div>
    </div>
    <div data-toggle="modal" data-target="#myModaLearnMore" class="learn-more-about-program">@Resources.Resource.Learnmoreaboutthebonus</div>
    <div data-target="#share_modal" data-toggle="modal" class="learn-more-about-program">Do you know about our referral programm?</div>
</div>
