﻿@*@section Head {<link href="~/Css/polyfill.object-fit.min.css" rel="stylesheet" />}*@

@using System.Web.Optimization
@using Xencore.Helpers
@using System.Linq
@section Head{
    <link href="~/less/main.css" rel="stylesheet" />
}
@section Jsonld{
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org/",
        "@@type": "WebPage",
        "alternativeHeadline":"Learn Languages Online. Anytime. Anywhere. You choose!",
        "url": "http://www.openlanguages.com",
        "description":"A Global Online Language Learning Center Since 2010. We offer live classes 24 hours a day, 7 days a week and all of our teachers are native speakers.",
        "primaryImageOfPage":{
        "url":"http://www.openlanguages.com/images/logo.png",
        "fileFormat":"png",
        "caption":"logo"
        },
        "mainContentOfPage":{
        "description":"A Global Online Language Learning Center Since 2010. We offer live classes 24 hours a day, 7 days a week and all of our teachers are native speakers.",
        "url":"http://www.openlanguages.com"
        }
        }
    </script>
}

@{
    ViewBag.Title = "Learn Languages Online. Anytime. Anywhere. You choose!";
    //ViewBag.Description = "A Global Online Language Learning Center Since 2010. We offer live classes 24 hours a day, 7 days a week and all of our teachers are native speakers.";
    ViewBag.Description = "An Online Language Learning School. We offer live classes with real, native teachers via Skype, Google Hangouts and Live-Chat! Start your language course today.";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div id="fpreloader">
    <div id="preloader"></div>
</div>
<script type="text/javascript">
    var preLoader = document.getElementById("preloader");
    function fadeOutnojquery(el) {
        el.style.opacity = 1;
        var interPreLoader = setInterval(function () {
            el.style.opacity = el.style.opacity - 0.05;
            if (el.style.opacity <= 0.05) {
                clearInterval(interPreLoader);
                preLoader.style.display = "none";
            }
        }, 16);
    }
    window.onload = function () {
        setTimeout(function () {
            fadeOutnojquery(preLoader);
        }, 500);
    };</script>
<section id="section1" class="learn-language-online">
    <div class="main-bg blur" style="background: url(/images/newImg/learn-lang-bg.jpg) no-repeat; position: absolute; top: 0; left: 0; min-height: 745px; background-size: cover;"></div>
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        <!--Html.Raw(Resources.Resource.OpenLang)-->
                        @Resources.Resource.FlexibleScheduling
                        <br>
                        @Resources.Resource.TailoredLessonPlans
                        <br>
                        @Resources.Resource.Topteachers
                    </h1>
                    <p>
                        <!--Resources.Resource.We_get_you-->
                        @Resources.Resource.AAYC
                        <br>
                        @Resources.Resource.StartLearning
                        <!--Resources.Resource.Here_is <a data-toggle="modal" data-target="#howitworks">-->
                        <!--Resources.Resource.How_it_works <i class="fa fa-play-circle"></i>-->

                    </p>
                    <div class="custom-button">
                        <!--@Resources.Resource.TrialLesson-->
                        @if (User.Identity.IsAuthenticated)
                        {
                            @*<button type="button" data-toggle="modal" data-type="Premium" data-target="#buy-full-step-1">@Resources.Resource.BuyCourse</button>*@
                            <button type="button" onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers")'">@Resources.Resource.BookATrialLesson <span>0.99 EUR</span></button>
                        }
                        else
                        {
                            <button type="button" data-toggle="modal" data-target="#signup">@Resources.Resource.BookATrialLesson <span>0.99 EUR</span></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flags">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                    <div class="row">
                        <div class="col-lg-5ths col-md-4 col-sm-4 col-xs-12">
                            <div class="row flags-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.English, "uk-flag.png", "us", User.Identity.IsAuthenticated))
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.French, "fr-flag.png", "fr", User.Identity.IsAuthenticated))
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5ths col-md-4 col-sm-4 col-xs-12">
                            <div class="row flags-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.German, "de-flag.png", "de", User.Identity.IsAuthenticated))
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.Greek, "gr-flag.png", "gr", User.Identity.IsAuthenticated))
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5ths col-md-4 col-sm-4 col-xs-12">
                            <div class="row flags-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.Italian, "it-flag.png", "it", User.Identity.IsAuthenticated))
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.Portuguese, "br-flag.png", "br", User.Identity.IsAuthenticated))
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5ths col-lg-offset-0 col-md-offset-2 col-md-4 col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                            <div class="row flags-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.Spanish, "sp-flag.png", "es", User.Identity.IsAuthenticated))
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.Swedish, "sw-flag.png", "se", User.Identity.IsAuthenticated))
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5ths col-md-4 col-sm-4 col-xs-12">
                            <div class="row flags-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.Chinese, "ch-flag.png", "cn", User.Identity.IsAuthenticated))
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.Raw(Html.DrawLinkForFlag(Resources.Resource.Russian, "ru-flag.png", "ru", User.Identity.IsAuthenticated))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-works" id="section2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="hiw-title">
                    @Resources.Resource.HowItWorks
                    <span>@Resources.Resource.Informationabout</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 hiw-items">
                <span>1</span>
                <img src="~/images/hiw-step1.png" alt="">
                <p>@Resources.Resource.Findateacher</p>
            </div>
            <div class="col-sm-4 hiw-items">
                <span>2</span>
                <img src="~/images/hiw-step2.png" alt="">
                <p>@Resources.Resource.Bookalesson</p>
            </div>
            <div class="col-sm-4 hiw-items">
                <span>3</span>
                <img src="~/images/hiw-step3.png" alt="">
                <p>@Resources.Resource.StartLearning</p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="custom-button">
                @if (User.Identity.IsAuthenticated)
                {
                    @*<button type="button" data-toggle="modal" data-type="Premium" data-target="#buy-full-step-1">@Resources.Resource.BuyCourse</button>*@
                    <button type="button" onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers")'">@Resources.Resource.BookATrialLesson <span>0.99 EUR</span></button>
                }
                else
                {
                    <button type="button" data-toggle="modal" data-target="#signup">@Resources.Resource.BookATrialLesson <span>0.99 EUR</span></button>
                }
            </div>
        </div>
    </div>
</section>
<section id="section3" class="plans-price" style="min-height: 745px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="price-title">
                    @Resources.Resource.PlansAPrice
                </h2>
            </div>
        </div>
        <div class="row head-price">
            <div class="col-sm-12 text-center">
                    <div class="choose-plan">
                        <h4>@Resources.Resource.ChooseAPlan</h4>
                        <div class="choose-item individual active">@Resources.Resource.Individual</div>
                        <div class="choose-item group">@Resources.Resource.Group</div>
                    </div>
                    <div class="choose-lesson" style="float: none">
                        <h4>@Resources.Resource.HowLess</h4>
                        <div class="lessons-number">
                            <div class="lesson-item active"><span>5</span></div>
                            <div class="lesson-item"><span>10</span></div>
                            <div class="lesson-item"><span>15</span></div>
                            <div class="lesson-item"><span>20</span></div>
                            <div class="lesson-item"><span>25</span></div>
                            <div class="lesson-item"><span>50</span></div>
                            <div class="lesson-item"><span>100</span></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container xs-pad-0 individual-js" style="display: block;">
        <div class="row content-price xs-mar-0">
            <div class="for-xs-slider" data-slide="0">
                <div class="col-sm-4 slider-col slide-1">
                    <div class="basic-type">
                        <div class="title">BASIC<span>45 minutes</span></div>
                        <p class="description">
                            @Resources.Resource.OBPackage
                        </p>
                        <div class="price">
                            <span class="currency-for-price">€</span>
                            <span class="price-basic" id="basic-price">105.00</span>
                        </div>
                        <div class="before-price">
                            @Resources.Resource.PricePLess
                            <span class="currency-for-price">€</span>
                            <span class="price-basic" id="basic-price-ones">21</span>
                        </div>
                        <ul style="height: 165px">
                            <li>
                                <span class="count_lessons">5</span>
                                @Resources.Resource.CountIndividLess<
                            </li>
                            <li>@Resources.Resource.FlexShrdule</li>
                            <li>@Resources.Resource.SpeakingTecher</li>
                            <li>@Resources.Resource.LiveVia</li>
                            <li>@Resources.Resource.EffLEarning</li>
                        </ul>
                        <div class="custom-button">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button type="button" onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers")'">@Resources.Resource.BuyCourse</button>
                            }
                            else
                            {
                                <button type="button" data-toggle="modal" data-type="Basic" data-target="#signup">@Resources.Resource.SignUp</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 slider-col slide-2">
                    <div class="premium-type" style="float: none; margin: 0 auto">
                        <div class="title">PREMIUM<span>60 minutes</span></div>
                        <p style="height: 124px" class="description">
                            @Resources.Resource.OurPremium
                        </p>
                        <div class="price">
                            <span class="currency-for-price">€</span>
                            <span class="price-basic" id="premium-price">105.00</span>
                        </div>
                        <div class="before-price">
                            @Resources.Resource.PricePLess
                            <span class="currency-for-price">€</span>
                            <span class="proce-basic" id="premium-price-ones">21</span>
                        </div>
                        <ul>
                            <li><span class="count_lessons">5</span> @Resources.Resource.CountIndividLess</li>
                            <li>@Resources.Resource.ExtraTime</li>
                            <li>@Resources.Resource.FlexShrdule</li>
                            <li>@Resources.Resource.SpeakingTecher</li>
                            <li>@Resources.Resource.LiveVia</li>
                            <li>@Resources.Resource.EffLEarning</li>
                        </ul>
                        <div class="custom-button">
                            @if (User.Identity.IsAuthenticated)
                            {
                            
                                <button type="button" onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers")'">@Resources.Resource.BuyCourse</button>
                            }
                            else
                            {
                                <button type="button" data-toggle="modal" data-type="Premium" data-target="#signup">@Resources.Resource.SignUp</button>
                            }
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
                <div class="col-sm-4 slider-col slide-3">
                    <div class="basic-type mar-lr-0" style="margin-left: 10px !important; float: left !important">
                        <div class="title">Group<span>45 minutes</span></div>
                        <p class="description">
                            @Resources.Resource.OurGroupLessons
                        </p>
                        <div class="price">
                            <span class="currency-for-price">€</span>
                            <span class="price-basic" id="group-price">105.00</span>
                        </div>
                        <div class="before-price">
                            @Resources.Resource.PricePLess
                            <span class="currency-for-price">€</span>
                            <span class="price-basic" id="group-price-ones">21</span>
                        </div>
                        <ul style="height: 164px;">
                            <li>
                                <span class="count_lessons">5</span>
                                @Resources.Resource.Onlinegrouplessons
                            </li>
                            <li>@Resources.Resource.FlexShrdule</li>
                            <li>@Resources.Resource.SpeakingTecher</li>
                            <li>@Resources.Resource.LiveVia</li>
                            <li>@Resources.Resource.EffLEarning</li>
                        </ul>
                        <div class="custom-button">
                            @if (User.Identity.IsAuthenticated)
                            {
                             
                                <button type="button" onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers")'">@Resources.Resource.BuyCourse</button>
                            }
                            else
                            {
                                <button type="button" data-toggle="modal" data-type="Premium" data-target="#signup">@Resources.Resource.SignUp</button>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container xs-pad-0 group-js" style="display: none;">
        <div class="row content-price xs-mar-0">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="for-xs-slider">
                        <div class="col-sm-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="benefits" id="section4" style="background: url('/images/newImg/benef-bg.jpg') no-repeat">
    <!--<img src="images/newImg/benef-bg.jpg" class="img-responsive" alt="">-->
    <div class="benefits-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title">@Resources.Resource.BENEFITS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12 ico-item">
                    <img src="/images/newImg/ben-ico-1.png">
                    <p>@Html.Raw(Resources.Resource.BoostYour)
                </div>
                <div class="col-sm-3 col-xs-12 ico-item">
                    <img src="/images/newImg/ben-ico-2.png">
                    <p>@Html.Raw(Resources.Resource.Learnhowto)
                </div>
                <div class="col-sm-3 col-xs-12 ico-item">
                    <img src="/images/newImg/ben-ico-3.png">
                    <p>@Html.Raw(Resources.Resource.Learnanew)</p>
                </div>
                <div class="col-sm-3 col-xs-12 ico-item">
                    <img src="/images/newImg/ben-ico-4.png">
                    <p>@Html.Raw(Resources.Resource.Improveyourcommunication)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom-button">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @*<button type="button" data-toggle="modal" data-type="Premium" data-target="#buy-full-step-1">@Resources.Resource.BuyCourse</button>
                            <button type="button" onclick="location.href = '@Url.Action("ListOfTeachers","ListOfTeachers")'">@Resources.Resource.BookATrialLesson <span>0.99 EUR</span></button>
                        }
                        else
                        {
                            <button type="button" data-toggle="modal" data-target="#signup">@Resources.Resource.BookATrialLesson <span>0.99 EUR</span></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="new-testimonials" id="section5">
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <h2 class="title">
                    @Resources.Resource.Testi_monials
                    <span>@Resources.Resource.Lookatwhat </span>
                </h2>
            </div>
        </div>
    </div>
    <div class="row testimonials-slider">
        <div class="container">
            <div class="col-sm-12">
                <div id="carousel-example-generic" data-interval="10000" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        @*<li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        @*<li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner " role="listbox">
                    <div class="col-sm-12 ben-2">
                        <img src="~/img/ben2.png" alt="" />
                        <p class="ben-title">@Resources.Resource.Improvedinternalcommunication</p>
                        <p class="sub-title">
                            @Resources.Resource.Amultilingual
                        </p>
                    </div>
                        <div class="item">
                            <img src="~/images/Man.png" alt="...">
                            <h4>
                                Carlos
                                <span>@Resources.Resource.CarlosLearn</span>
                            </h4>
                            <p>
                                @Resources.Resource.TheOpenLanguagesmethodgave
                            </p>
                        </div>
                        <div class="item">
                            <img src="~/images/Woman.png" alt="...">
                            <h4>
                                Sabine
                                <span>@Resources.Resource.SabineLearn</span>
                            </h4>
                            <p>
                                @Resources.Resource.Iamverysatisfied

                            </p>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>*@
@{
    if (!User.Identity.IsAuthenticated)
    {
        Html.RenderPartial("~/Views/newLayouts/Modals/_LogIn.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_SignUp.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_ResetPassword.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_TellUsMore.cshtml");
    }
    else
    {
        Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep1.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep2.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep3.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_BuyFullStep1.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_BuyFullStep2.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_BuyFullStep3.cshtml");
        //Html.RenderPartial("~/Views/newLayouts/Modals/_BuyStep1Policy.cshtml");
        //Html.RenderPartial("~/Views/newLayouts/Modals/_BuyStep2Policy.cshtml");
        //Html.RenderPartial("~/Views/newLayouts/Modals/_TrialStep1Policy.cshtml");
        //Html.RenderPartial("~/Views/newLayouts/Modals/_TrialStep2Policy.cshtml");
    }
    Html.RenderPartial("~/Views/newLayouts/Modals/_HowItWorks.cshtml");
}

@section Scripts {
    <script>
        //function deviceFunction() {
        //    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        //        $('img.for-320-img').attr('src', '/Images/767x842.jpg').show();
        //        $('.learn-language-online video').hide();
        //    }
        //}
        function browser() {
            var ua = navigator.userAgent;
            if (ua.search(/MSIE/) > 0) return 'Internet Explorer';
            if (ua.search(/Edge/) > 0) return 'Edge';
            if (ua.search(/Firefox/) > 0) return 'Firefox';
            if (ua.search(/Opera/) > 0) return 'Opera';
            if (ua.search(/Chrome/) > 0) return 'Google Chrome';
            if (ua.search(/Safari/) > 0) return 'Safari';
            if (ua.search(/Konqueror/) > 0) return 'Konqueror';
            if (ua.search(/Iceweasel/) > 0) return 'Debian Iceweasel';
            if (ua.search(/SeaMonkey/) > 0) return 'SeaMonkey';
            if (ua.search(/Gecko/) > 0) return 'Gecko';
            return 'Search Bot';
        }
        $(document).ready(function () {
            if (browser() == 'Safari') {
                $('.content-price ul li').css('letter-spacing', '-0.5px')
            }
            if (browser() == 'Edge') {
                $('body').addClass('browser-edge')
            }
            //deviceFunction();
            mainResize();
            if (gup('amount') == '0.99') {
                $('#buy-step-3').modal('show')
            }
            else if (gup('amount') > '0.99') {
                $('#buy-full-step-3').modal('show')
            }
            $("#go_to_FAQ").click(function () {
                location.href = '@Url.Action("FAQ", "Faq")';
            });
        });
        $(window).resize(function () {
            mainResize();
        });
        var date = new Date();
        $(".hasMinDate").datetimepicker({
            minDate: new Date(date.setDate(date.getDate() + 4)),
            format: 'DD/MM/YYYY',
            allowInputToggle: true,
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/BuyCourse.js"></script>
    }

    @*<script src="~/Scripts/openlang/Prices/ICountryPrices.js"></script>
        <script src="~/Scripts/openlang/Prices/ITypePrice.js"></script>
        <script src="~/Scripts/openlang/Prices/AbstractRegionFactory.js"></script>
        <script src="~/Scripts/openlang/Prices/EuropeIndividualBasicPrices.js"></script>
        <script src="~/Scripts/openlang/Prices/EuropeIndividualPremiumPrices.js"></script>
        <script src="~/Scripts/openlang/Prices/EuropeRegionIndividualFactory.js"></script>
        <script src="~/Scripts/openlang/Prices/ScandinaviaIndividualBasicPrices - Copy.js"></script>
        <script src="~/Scripts/openlang/Prices/ScandinaviaIndividualPremium.js"></script>
        <script src="~/Scripts/openlang/Prices/ScandinaviaRegionIndividualFactory.js"></script>
        <script src="~/Scripts/openlang/Prices/SwitzerlandIndividualBasicPrices.js"></script>
        <script src="~/Scripts/openlang/Prices/SwitzerlandIndividualPremiumPrices.js"></script>
        <script src="~/Scripts/openlang/Prices/SwitzerlandRegionIndividualFactory.js"></script>
        <script src="~/Scripts/openlang/Prices/CustomCurrencyConterter.js"></script>
        <script src="~/Scripts/openlang/Prices/ICurrencyConverter.js"></script>
        <script src="~/Scripts/openlang/Prices/PropertiesPrices.js"></script>
        <script src="~/Scripts/openlang/Prices/CurrencyConverter.js"></script>
        <script src="~/Scripts/openlang/Prices/CountryCurrency.js"></script>*@
    @Scripts.Render("~/Scripts/openalng/Prices")
    @*<script src="~/js/polyfill.object-fit.min.js"></script>*@
    @*<script src="~/Scripts/openlang/Geolocation/aes.js"></script>
            <script src="~/Scripts/openlang/Geolocation/Coords.js"></script>
            <script src="~/Scripts/openlang/Geolocation/AbstractGeolocationManager.js"></script>
        <script src="~/Scripts/openlang/Geolocation/IGeolocationManager.js"></script>
        <script src="~/Scripts/openlang/Geolocation/freeGeoIp.js"></script>
            <script src="~/Scripts/openlang/Geolocation/IPGeolocationManager.js"></script>
            <script src="~/Scripts/openlang/Geolocation/HTML5GeolocationManager.js"></script>
            <script src="~/Scripts/openlang/Geolocation/NullbleGeolocationManager.js"></script>
            <script src="~/Scripts/openlang/Geolocation/GoogleAPIGeplocationManager.js"></script>*@
    @Scripts.Render("~/Scripts/openalng/Geolocation")
    @*<script src = "~/js/owl.carousel.min.js"></script>*@
    <script src="~/Scripts/openlang/UserManager.js"></script>
    <script>
        $(document).ready(function () {
            resize();
            $('.choose-item').click(function () {
                $(this).parent().find('.choose-item.active').removeClass('active');
                $(this).addClass('active');
                if ($('.individual').hasClass('active')) {
                    $('.individual-js').show();
                    $('.group-js').hide();
                } else {
                    $('.individual-js').hide();
                    $('.group-js').show();
                }
            });
        });
        $(window).resize(function () {
            resize();
        });

        function resize() {
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            if (windowWidth < 992) {
                $('.learn-language-online, .about-us, .plans-price, .testimonials, .learning-by-immersion').css('min-height', 'auto');
                $('.contact-us').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
                $('.for-teachers').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
                $('.courses').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
                $('.payment-received').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
                $('.courses-booking').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
                $('.change-password').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
                $('.general-page').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
                $('.offices').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
                $('.faq').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
            } else {
                $('.learn-language-online').css('min-height', windowHeight);
                $('.about-us').css('min-height', windowHeight + 'px');
                $('.plans-price').css('min-height', windowHeight + 'px');
                $('.testimonials').css('min-height', windowHeight + 'px');
                $('.learning-by-immersion').css('min-height', windowHeight - $("footer")[0].clientHeight + 'px');
                $('.contact-us').css('min-height', windowHeight + 'px');
                $('.for-teachers').css('min-height', windowHeight + 'px');
                $('.courses').css('min-height', windowHeight + 'px');
                $('.payment-received').css('min-height', windowHeight + 'px');
                $('.courses-booking').css('min-height', windowHeight + 'px');
                $('.change-password').css('min-height', windowHeight + 'px');
                $('.general-page').css('min-height', windowHeight + 'px');
                $('.offices').css('min-height', windowHeight + 'px');
                $('#map').css('height', $('main').height() + 'px');
                $('.faq').css('min-height', windowHeight + 'px');
                $('.calc').css('min-height', windowHeight + 'px');
            }
        }
    </script>
    <script>
        var modelId = null;
        var currentCurrencyTable = {};
        var selectedprice;
        var countLessons;
        var selectedType;
        $(".lesson-item").click(function () {
            var str = $(this).addClass("active").siblings().removeClass("active").end().text();
            var count = parseInt(str);
            $(".count_lessons").text(str);
            CurrenciesCountry.convert(count, 0, function (res) {
                var eurPrice = CurrenciesCountry.getCurrentEurPrice(count, 0);
                $("#basic-price").text(res.price).attr("data-eurprice", eurPrice);
                $("#basic-price-ones").text(res.priceForOneLesson);
            });
            CurrenciesCountry.convert(count, 1, function (res) {
                var eurPrice = CurrenciesCountry.getCurrentEurPrice(count, 1);
                $("#premium-price").text(res.price).attr("data-eurprice", eurPrice);;
                $("#premium-price-ones").text(res.priceForOneLesson);
            });
            CurrenciesCountry.convert(count, 2, function (res) {
                var eurPrice = CurrenciesCountry.getCurrentEurPrice(count, 2);
                $("#group-price").text(res.price).attr("data-eurprice", eurPrice);;
                $("#group-price-ones").text(res.priceForOneLesson);
            });

        });
        $("[data-target='#buy-full-step-1']:not(.back)").click(function () {
            var price = $(this).parents(".col-sm-6.slider-col").find(".price .price-basic").text();
            selectedType = $(this).data("type");
            selectedprice = price;
            selectedpriceeur =
                $(this).parents(".col-sm-6.slider-col").find(".price .price-basic").attr("data-eurprice");
            $(".full_individ_lessons").text($(".lesson-item.active").text());
            countLessons = $(".lesson-item.active").text();
            $(".full_individ_price").text(price);
        });

        var code, timez, cc = ""
        @if (User.Identity.IsAuthenticated)
        {
            <text>
        code = "@Html.Raw(ViewBag.User.Currency?.Split(':')[0])";
        timez = "@ViewBag.User.TimeZone";
        @if (!string.IsNullOrEmpty(ViewBag.User.Location))
        {
            <text>
        cc = '@Html.Raw((ViewBag.User.Location.Split(':') as IEnumerable<string>).Skip(1).FirstOrDefault())';
        </text>
        }
        </text>
        }
        UserManager.initalizeRegionsInformation(code, timez, cc);
        function gup(name, url) {
            if (!url) url = location.href;
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(url);
            return results == null ? null : results[1];
        }
        function mainResize() {
            //if (window.location.href == 'http://localhost:21514/' || window.location.href == 'http://xencoredevelop.azurewebsites.net/' || window.location.href == 'http://xencoredevelop.azurewebsites.net/') {
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            if (windowWidth <= 768) {
                var widthItem = $('.for-xs-slider .slider-col');
                $('.for-xs-slider').width(widthItem[0].offsetWidth * 3 + 'px')
            }
            if (windowWidth < 540) {
                var allWidth = $('.for-xs-slider').width();
                var block = $('.slider-col');
                var blockWidth = block.width() -25;
                var windowWidth = $(window).width();
                var newBlockWidth = 0;
                var slide = 0;
                $('.for-xs-slider')[0].addEventListener('swr', function () {
                    console.log($(this).data('slide'));
                    if ($(this).data('slide') == 0) {
                    } else {
                        newBlockWidth -= blockWidth;
                        slide -= 1;
                        $(this).data('slide', slide)
                        $('.for-xs-slider').animate({
                            'right': newBlockWidth + 'px'
                        }, 100)
                    }
                }, false);
                $('.for-xs-slider')[0].addEventListener('swl', function () {
                    if ($(this).data('slide') == 2) {
                    } else {
                        newBlockWidth += blockWidth;
                        slide += 1;
                        $(this).data('slide', slide)
                        $('.for-xs-slider').animate({
                            'right': newBlockWidth + 'px'
                        }, 100)
                    }
                }, false);
            }
            if (windowWidth > 540 && windowWidth < 769) {
                var allWidth = $('.for-xs-slider').width();
                var block = $('.slider-col');
                var blockWidth = block.width() - 25;
                var windowWidth = $(window).width();
                var newBlockWidth = 0;
                var slide = 0;
                $('.for-xs-slider')[0].addEventListener('swr', function () {
                    console.log($(this).data('slide'));
                    if ($(this).data('slide') == 0) {
                    } else {
                        newBlockWidth -= blockWidth;
                        slide -= 1;
                        $(this).data('slide', slide)
                        $('.for-xs-slider').animate({
                            'right': newBlockWidth + 'px'
                        }, 100)
                    }
                }, false);
                $('.for-xs-slider')[0].addEventListener('swl', function () {
                    console.log($(this).data('slide'));
                    if ($(this).data('slide') == 1) {
                    } else {
                        newBlockWidth += blockWidth;
                        slide += 1;
                        $(this).data('slide', slide)
                        $('.for-xs-slider').animate({
                            'right': newBlockWidth + 'px'
                        }, 100)
                    }
                }, false);
            }
        };

    </script>
}
