﻿@using Xencore.Extentions
<div class="modal fade" id="TeacherApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Resources.Resource.Teacher_application</h4>
                <p class="modal-subtitle">@Resources.Resource.Ifyouareconfidentin</p>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("PostTeacherAuthorize","Forteachers")" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="Name" data-rule-required="true" data-rule-maxlength="100" type="text" class="form-control custom-input"
                                       placeholder="@Resources.Resource.EnterYourName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="Email" data-rule-required="true" data-rule-email="true" type="text" class="form-control custom-input"
                                       placeholder="@Resources.Resource.EnterYourEmail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <select name="Language" data-rule-required="true" required="" aria-required="true" class="selectpicker modal-custom-select">
                                <option selected="selected" disabled="disabled">@Resources.Resource.LangWhatYouWant</option>
                                @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input id="phone2" name="Telephone" data-rule-required="true" type="text" class="form-control custom-input phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="Password" id="pss" data-rule-required="true" type="password" data-rule-minlength="6" data-rule-maxlength="16" class="form-control custom-input"
                                       placeholder="@Resources.Resource.EnterYourPass">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="ConfirmPassword" data-rule-required="true" data-rule-minlength="6" data-rule-maxlength="16" data-rule-equalto="#pss" type="password" class="form-control custom-input"
                                       placeholder="@Resources.Resource.ConfirmYourPassword">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input name="Link" data-rule-required="true" data-rule-url="true" type="text" class="form-control custom-input"
                                       placeholder="@Resources.Resource.EnteryourYoutube">
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input id="refferCodeTeach" data-value="" data-rule-remote="@Url.HttpRouteUrl("DefaultApiWithAction", new {controller = "RefferalProgramm", action = "CheckReferCode"})"  data-rule-minlength="36" data-rule-maxlength="36" name="refferCode" class="form-control custom-input"
                                       placeholder="Refferal code" onkeyup="this.setAttribute('data-value', this.value);" />
                                <span class="err">Your code in not valid</span>
                                <span class="vl">Your bonus is 25 EUR</span>
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="goToTeach" class="modal-custom-button">
                                @Resources.Resource.APPLY_TO_TEACH.ToUpperFirstCharacter()
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="modal-footer-link" data-toggle="modal" data-target="#Login" href="#" data-dismiss="modal" >@Resources.Resource.IhaveAccount</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>