﻿@using Xencore.Helpers
<div class="modal fade tell" id="TellUsMore1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">BOOK A FREE TRIAL LESSON</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6" style="text-align: left">
                        <label style="color: #fff; font-size: 20px" for="selectLangForTeach">Language:</label>
                        <select id="selectLangForTeach" class="selectpicker modal-custom-select">
                            @Html.GetTeachingLanguages();
                        </select>
                    </div>
                    <div class="col-sm-6" style="text-align: left">
                        <label style="color: #fff; font-size: 20px" for="selectLevelForTeach">Level:</label>
                        <select id="selectLevelForTeach" class="selectpicker modal-custom-select">
                            <option value="Beginner">
                                @Resources.Resource.Beginner
                            </option>
                            <option value="UpperBeginner">
                                @Resources.Resource.UpperBeginner
                            </option>
                            <option value="Intermediate">
                                @Resources.Resource.Intermediate
                            </option>
                            <option value="UpperIntermediate">
                                @Resources.Resource.UpperIntermediate
                            </option>
                            <option value="Advanced">
                                @Resources.Resource.Advanced
                            </option>
                            <option value="UpperAdvanced">
                                @Resources.Resource.UpperAdvanced
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px">
                    
                    <div class="col-lg-6" style="text-align: left">
                        <label style="color: #fff; font-size: 20px" for="selectLevelForTeach">Date:</label>
                        <input type='text' readonly="readonly" class="form-control custom-input" id='date4'/>
                    </div>
                    <div class="col-lg-6" style="text-align: left">
                        <label style="color: #fff; font-size: 20px" for="selectLevelForTeach">Time:</label>
                        <input type='text' readonly="readonly" class="form-control custom-input" id='time4'/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" style="margin-bottom: 15px">
                        <div class="custom-social-button google-color" data-dismiss="modal">@Resources.Resource.Close</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="custom-social-button fb-color" data-dismiss="modal"  id="bind">SEND</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
