﻿
<div class="modal fade" id="GoodNews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="img-responsive img-success" src="~/img/success.png" alt="" />
                <h4 class="modal-title">@Resources.Resource.Goodnewsforyou</h4>
                <p class="modal-subtitle">
                    @Resources.Resource.NewPasswordhasbeensent <a data-dismiss="modal" data-toggle="modal" href="#Login">
                        @Resources.Resource.LogIn
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="BadNews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="img-responsive img-success" src="~/img/error.png" alt="" />
                <h4 class="modal-title">@Resources.Resource.Badnewsforyou</h4>
                <p class="modal-subtitle">@Resources.Resource.Incorrectemailor <a data-dismiss="modal" data-toggle="modal" href="#ResetPass">@Resources.Resource.tryagain</a></p>
            </div>
        </div>
    </div>
</div>