﻿@using Xencore.Extentions
<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Resources.Resource.LogIn</h4>
                <p class="modal-subtitle">@Resources.Resource.Thankyouforcoming</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 xs-mar-bot-20">
                        <div id="facebook_login" class="custom-social-button fb-color">
                            <i class="fa fa-facebook " aria-hidden="true"></i><span class="hidden-xs">@Resources.Resource.connectViaFaccount</span>
                            <span class="visible-xs-inline">Facebook account</span>
                        </div>
                    </div>
                    <div class="col-sm-6 xs-mar-bot-20">
                        <div id="google_login" class="custom-social-button google-color">
                            <i class="fa fa-google" aria-hidden="true"></i><span class="hidden-xs">@Resources.Resource.connectViaGaccount</span>
                            <span class="visible-xs-inline">Google account</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 hidden-xs visible-lg visible-md visible-sm under-title">
                        <div class="pre-line"></div>
                        <div class="favorite">@Resources.Resource.Or</div>
                        <div class="aft-line"></div>
                    </div>
                </div>
                <div class="row">
                    <form action="@Url.Action("Login","Openlang")" name="login" id="loginform" method="post">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" data-rule-email="true" data-rule-required="true" class="form-control custom-input" name="name" placeholder="@Resources.Resource.EnterYourEmail">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="password" data-rule-required="true" type="password" class="form-control custom-input"
                                       placeholder="@Resources.Resource.EnterPassword">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="modal-custom-button bt-login">@Resources.Resource.LogIn</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-4 col-xs-4 text-left xxs-full">
                        <a class="modal-footer-link js-togglePopups" data-target="#ResetPass">@Resources.Resource.ForgotPassword</a>
                    </div>
                    <div class="col-sm-4 col-xs-4 xxs-full">
                        <a class="modal-footer-link js-togglePopups" data-target="#TeacherApp">@Resources.Resource.APPLY_TO_TEACH.ToUpperFirstCharacter()</a>
                    </div>
                    <div class="col-sm-4 col-xs-4 text-right xxs-full">
                        <a class="modal-footer-link js-togglePopups" data-target="#SignIn">@Resources.Resource.Createanaccount</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
