﻿<div class="modal fade" id="ResetPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Resources.Resource.doyouforgotyourpassword</h4>
                <p class="modal-subtitle">@Resources.Resource.Pleasedonotworry</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <form id="resPass">
                                <input name="Value" data-rule-required="true" type="text" class="form-control custom-input"
                                       placeholder="@Resources.Resource.EnterYourAorP">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div onclick="resetPassword()" class="modal-custom-button">@Resources.Resource.ResetPass</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="modal-footer-link" data-dismiss="modal" data-toggle="modal" href="#Login">@Resources.Resource.IhaveAccount</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
