﻿@*@using System.Threading
    @{
        var lang = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0].ToLower();
    }
    <div class="modal fade" id="SignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h4 class="modal-title">@Resources.Resource.REGISTRATIONofnewaccount</h4>*@
@*<h4 class="modal-title">@Resources.Resource.GET_STARTED</h4>
    <p class="modal-subtitle">
        @{
            Html.RenderPartial("~/Views/openlang/NewModals/Helpers/ByRegisterConfirm." + lang + ".cshtml");
        }
    </p>
                </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6 xs-mar-bot-20">
                <div id="facebook_login" class="custom-social-button fb-color">
                    <i class="fa fa-facebook " aria-hidden="true"></i><span class="hidden-xs">@Resources.Resource.connectViaFaccount</span>
                    <span class="visible-xs-inline">Facebook account</span>
                </div>
            </div>
            <div class="col-sm-6 xs-mar-bot-20">
                <div id="google_login" class="custom-social-button google-color">
                    <i class="fa fa-google" aria-hidden="true"></i><span class="hidden-xs">@Resources.Resource.connectViaGaccount</span>
                    <span class="visible-xs-inline">Google account</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 hidden-xs visible-lg visible-md visible-sm under-title">
                <div class="pre-line"></div>
                <div class="favorite">@Resources.Resource.Or</div>
                <div class="aft-line"></div>
            </div>
        </div>
        <form id="formLogin" action="@Url.Action("SignIn", "Openlang")" method="post">
            <input type="hidden" id="companyId" name="companyId" />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input data-rule-required="true" name="name" data-rule-maxlength="100" type="text" class="form-control custom-input" placeholder="@Resources.Resource.EnterName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input data-rule-required="true" data-rule-remote="@Url.HttpRouteUrl("DefaultApiWithAction", new {controller = "Account", action = "CheckExistUser"})" name="email" data-rule-maxlength="40" data-rule-email="true" type="text" class="form-control custom-input" placeholder="@Resources.Resource.EnterYourEmail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="password" data-rule-required="true" data-rule-minlength="6" data-rule-maxlength="16" class="form-control custom-input" name="password" id="signInPassword" placeholder="@Resources.Resource.EnterPassword">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input data-rule-required="true" data-rule-minlength="6" data-rule-maxlength="16" data-rule-equalto="#signInPassword" type="password" name="confirmPassword" class="form-control custom-input"
                               placeholder="@Resources.Resource.ConfirmYourPassword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input id="refferCode" data-value="" data-rule-remote="@Url.HttpRouteUrl("DefaultApiWithAction", new {controller = "RefferalProgramm", action = "CheckReferCode"})" data-rule-required="false" data-rule-minlength="36" data-rule-maxlength="36" name="refferCode" class="form-control custom-input"
                               placeholder="Referral code" onkeyup="this.setAttribute('data-value', this.value);" />
                        <span class="err">Your code in not valid</span>
                        <span class="vl">Your bonus is 2 free lessons</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div onclick="checkLoginForm()" class="modal-custom-button">@Resources.Resource.Createanaccount</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-12">
                <a class="modal-footer-link" data-dismiss="modal" data-toggle="modal" href="#Login">@Resources.Resource.IhaveAccount</a>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>*@
