﻿<div class="modal fade" id="TellUsMore1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="step-back"><i class="fa fa-angle-left" aria-hidden="true"></i>@Resources.Resource.OnestepBack</span>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Resources.Resource.TellUsMore</h4>
                <p class="modal-subtitle">@Resources.Resource.Wewoudlliketoget</p>
            </div>
            <div class="modal-body">
                <form id="tellusmore" name="tellusmore">
                    <div class="row">
                        <div class="col-sm-6">
                            <select name="ChosenLang" class="selectpicker modal-custom-select">
                                @*<option value="us" selected="selected" data-content="<img src='/images/flag/us.png' alt='' /><span>@Resources.Resource.English</span>">@Resources.Resource.English</option>*@
                                <option value="" selected="selected" disabled="disabled">@Resources.Resource.ChooseLang</option>
                                @{ Html.RenderPartial("~/Views/openlang/NewModals/Helpers/AllLanguagesForDropDown.cshtml");}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select data-rule-required="true" name="ChosenLevel" class="selectpicker modal-custom-select">
                                @*<option value="" selected="selected" disabled="disabled">@Resources.Resource.ChooseLevel</option>*@
                                <option selected="selected" value="Beginner">
                                    @Resources.Resource.Beginner
                                </option>
                                <option value="UpperBeginner">
                                    @Resources.Resource.UpperBeginner
                                </option>
                                <option value="Intermediate">
                                    @Resources.Resource.Intermediate
                                </option>
                                <option value="UpperIntermediate">
                                    @Resources.Resource.UpperIntermediate
                                </option>
                                <option value="Advanced">
                                    @Resources.Resource.Advanced
                                </option>
                                <option value="UpperAdvanced">
                                    @Resources.Resource.UpperAdvanced
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <select name="selectLearnVia" data-rule-required="true" class="selectpicker iwanttolearnvia modal-custom-select">
                                @*<option value="" selected="selected" disabled="disabled">@Resources.Resource.ILearnVia</option>*@
                                <option selected="selected" data-content="<img src='/images/socials/skype.png' alt='' /><span>Skype</span>" data-value="Skype" value="Skype">
                                    Skype
                                </option>
                                <option data-content="<img src='/images/socials/google hangouts.png' alt='' /><span>Google Hangouts</span>" data-value="Google Hangouts" value="Google Hangouts">
                                    Google Hangouts
                                </option>
                                <option data-content="<img src='/images/socials/qq.png' alt='' /><span>QQ</span>" data-value="QQ" value="QQ">
                                    QQ
                                </option>
                                <option data-content="<img src='/images/socials/other.png' alt='' /><span>Other</span>" data-value="Other" value="Other">
                                    Other
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input id="phone" name="PhoneNumber" type="text" class="form-control custom-input phone"
                                       placeholder="">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <select name="HowDidFind" data-rule-required="true" class="selectpicker modal-custom-select">
                                @*<option value="" selected="selected" disabled="disabled">@Resources.Resource.HowDidYouFind</option>*@
                                <option value="Google">
                                    Google
                                </option>
                                <option value="Internet">
                                    Internet
                                </option>
                                <option value="Media">
                                    Media
                                </option>
                                <option value="Facebook">
                                    Facebook
                                </option>
                                <option selected="selected" value="Recommended">
                                    Recommended
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select name="TimeZone" class="selectpicker modal-custom-select">
                                <option selected="selected" value="@ViewBag.ObjectCurrentUser.Timezone">@ViewBag.ObjectCurrentUser.Timezone</option>
                                <option value="Greenwich Mean Time">Greenwich Mean Time</option>
                                <option value="Universal Coordinated Time">Universal Coordinated Time</option>
                                <option value="European Central Time">European Central Time</option>
                                <option value="Eastern European Time">Eastern European Time</option>
                                <option value="(Arabic) Egypt Standard Time">(Arabic) Egypt Standard Time</option>
                                <option value="Eastern African Time">Eastern African Time</option>
                                <option value="Middle East Time">Middle East Time</option>
                                <option value="Near East Time">Near East Time</option>
                                <option value="Pakistan Lahore Time">Pakistan Lahore Time</option>
                                <option value="India Standard Time">India Standard Time</option>
                                <option value="Bangladesh Standard Time">Bangladesh Standard Time</option>
                                <option value="Vietnam Standard Time">Vietnam Standard Time</option>
                                <option value="China Taiwan Time">China Taiwan Time</option>
                                <option value="Japan Standard Tim">Japan Standard Time</option>
                                <option value="Australia Central Time">Australia Central Time</option>
                                <option value="Australia Eastern Time">Australia Eastern Time</option>
                                <option value="Solomon Standard Time">Solomon Standard Time</option>
                                <option value="New Zealand Standard Time">New Zealand Standard Time</option>
                                <option value="Midway Islands Time">Midway Islands Time</option>
                                <option value="Hawaii Standard Time">Hawaii Standard Time</option>
                                <option value="Alaska Standard Time">Alaska Standard Time</option>
                                <option value="Pacific Standard Time">Pacific Standard Time</option>
                                <option value="Phoenix Standard Time">Phoenix Standard Time</option>
                                <option value="Mountain Standard Time">Mountain Standard Time</option>
                                <option value="Central Standard Time">Central Standard Time</option>
                                <option value="Eastern Standard Time">Eastern Standard Time</option>
                                <option value="Indiana Eastern Standard Time">Indiana Eastern Standard Time</option>
                                <option value="Puerto Rico and US Virgin Islands Time">Puerto Rico and US Virgin Islands Time</option>
                                <option value="Canada Newfoundland Time">Canada Newfoundland Time</option>
                                <option value="Argentina Standard Time">Argentina Standard Time</option>
                                <option value="Brazil Eastern Time">Brazil Eastern Time</option>
                                <option value="Central African Time">Central African Time</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group inp-img">
                                <input name="Skype" type="text" class="form-control custom-input"
                                       placeholder="@Resources.Resource.EnterYourSkypeID">
                                <span class="skype-ico"><i class='fa fa-skype' aria-hidden='true'></i></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <select name="ISpeak" class="selectpicker modal-custom-select">
                                <option selected="selected" disabled="disabled">@Resources.Resource.MyNativeLanguageis</option>
                                @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="startlearning" class="modal-custom-button">
                                @Resources.Resource.StartLearningaLanguage
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="modal-footer-link" href="">@Resources.Resource.IhaveAccount</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
