﻿@using Xencore.Helpers
<div class="modal fade tell" id="TellUsMore2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Thank you for booking a <span id="lng">French</span> lesson at <span id="tm">10am</span> on the <span id="dt">12/11/2017</span>. We will be in touch via email shortly with more details</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
