﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        @*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
        <script src="~/Scripts/moment.min.js"></script>
        @*@Styles.Render("~/Content/css")*@
        @*<link href="~/Content/Css/site.css" rel="stylesheet" />*@
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />

        <link href="~/Content/Css/bootstrap-datepicker.min.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    </head>
    <body>
        @*<header>
            <div class="content-wrapper">
                <ul class="nav nav-pills" style="width: 60%">
                    <li role="presentation" class="dropdown">
                        @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false" })
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Class <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="">@Html.ActionLink("Class", "Index", "Class")</a></li>
                            <li class="divider"></li>
                            <li>
                                @Html.ActionLink("Create", "Create", "Class")
                            </li>
                            <li>
                                @Html.ActionLink("Get Data", "GetData", "Class")
                            </li>
                            <li>
                                @Html.ActionLink("GetAllClasses", "GetAllClasses", "Class")
                            </li>
                            <li>
                                @Html.ActionLink("Modify", "Modify", "Class")
                            </li>
                            <li>
                                @Html.ActionLink("DownloadRecording", "DownloadRecording", "Class")
                            </li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Attendee <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="">@Html.ActionLink("Attendee", "Index", "Attendee")</a></li>
                            <li class="divider"></li>
                            <li>
                                @Html.ActionLink("Create", "Add", "Attendee")
                            </li>
                            <li>
                                @Html.ActionLink("See All", "SeeAll", "Attendee")
                            </li>
                            <li>
                                @Html.ActionLink("Delete", "Delete", "Attendee")

                            </li>
                            <li>
                                @Html.ActionLink("Multiple delete", "DeleteMultyple", "Attendee")
                            </li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Teacher <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="">@Html.ActionLink("Teacher", "Index", "Teacher")</a></li>
                            <li class="divider"></li>
                            <li>
                                @Html.ActionLink("AddTeacher", "AddTeacher", "Teacher")
                            </li>
                            <li>
                                @Html.ActionLink("EditTeacher", "EditTeacher", "Teacher")
                            </li>
                            <li>
                                @Html.ActionLink("Get All Teachers Details", "GetAllTeachersDetails", "Teacher")
                            </li>
                            <li>
                                @Html.ActionLink("Get Teacher", "GetDetails", "Teacher")
                            </li>
                            <li>
                                @Html.ActionLink("Delete Teacher", "Remove", "Teacher")
                            </li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        @Html.ActionLink("Discounts", "GetDiscounts", "Discount", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false" })
                    </li>
                    <li role="presentation" class="dropdown">
                        @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false" })
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Translate <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                @Html.ActionLink("English", "GetAllEnglishStrings", "Translate", routeValues:new {prefix="en"}, htmlAttributes:null)
                            </li>
                            <li>
                                @Html.ActionLink("German", "GetAllEnglishStrings", "Translate", routeValues: new { prefix = "de" }, htmlAttributes: null)
                            </li>
                            <li>
                                @Html.ActionLink("Spanish", "GetAllEnglishStrings", "Translate", routeValues: new { prefix = "es" }, htmlAttributes: null)
                            </li>
                            <li>
                                @Html.ActionLink("French", "GetAllEnglishStrings", "Translate", routeValues: new { prefix = "fr" }, htmlAttributes: null)
                            </li>
                            <li>
                                @Html.ActionLink("Italian", "GetAllEnglishStrings", "Translate", routeValues: new { prefix = "it" }, htmlAttributes: null)
                            </li>
                            <li>
                                @Html.ActionLink("Portuguese", "GetAllEnglishStrings", "Translate", routeValues: new { prefix = "pt" }, htmlAttributes: null)
                            </li>
                            <li>
                                @Html.ActionLink("Russian", "GetAllEnglishStrings", "Translate", routeValues: new { prefix = "ru" }, htmlAttributes: null)
                            </li>
                            <li>
                                @Html.ActionLink("Chinese", "GetAllEnglishStrings", "Translate", routeValues: new { prefix = "zh" }, htmlAttributes: null)
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="navbarWelcome">Hello, @HttpContext.Current.User.Identity.Name</div>
        </header>*@
        <div id="body">
                @RenderBody()
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - AT</p>
                </div>
            </div>
        </footer>

        @*@Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
    </body>
</html>
