﻿@using System.Threading
@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@using Xencore.Extentions
<!DOCTYPE html>
<html class="html-height" lang="@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0])">
<head>

    <meta charset="utf-8">
    <link rel="icon" href="@Url.Content("~/Images/favicon.png")" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Css/select2.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Content/Css/intlTelInput.css" rel="stylesheet" />
    <link href="~/Css/fullcalendar.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link href="~/js/animate/animate.css" rel="stylesheet" />
    <link href="~/Css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Css/angular-datatables.css" rel="stylesheet" />
    <link href="~/Css/asPieProgress.min.css" rel="stylesheet" />
    <link href="~/Css/jquery.treegrid.css" rel="stylesheet" />

    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.12.17/css/grapes.min.css"/>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    @Styles.Render("~/less/style")
    <title>Dashboard</title>
</head>
<body ng-app="myaccountmodule" class="admin-wrap myAccount lang-@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0])">
    <audio controls="controls" id="recMess">
        <source src="~/img/your-turn.mp3" type="audio/mpeg" />
    </audio>
    @*@Html.Partial("~/Areas/Dashboard/Views/NewMyAccount/Modals/LearnMoreAboutBonusProgramm.cshtml")
        @Html.Partial("~/Areas/Dashboard/Views/RefferalProgrammDashboard/Modals/Share_modal.cshtml",Guid.Parse(User.Identity.GetUserId())) @*Вот теперь мы передали модель*@
    <div id="fpreloader">
        <div id="preloader"></div>
    </div>
    <script type="text/javascript">
        var preLoader = document.getElementById("preloader");
        function fadeOutnojquery(el) {
            el.style.opacity = 1;
            var interPreLoader = setInterval(function () {
                el.style.opacity = el.style.opacity - 0.05;
                if (el.style.opacity <= 0.05) {
                    clearInterval(interPreLoader);
                    preLoader.style.display = "none";
                }
            }, 16);
        }
        window.onload = function () {
            setTimeout(function () {
                fadeOutnojquery(preLoader);
            }, 500);
        };</script>
    <div class="container-fluid" id="my-account-container" ng-controller="myaccountpage">
        <div id="errorSharedPlace">
            <div id="title"></div>
            <span id="message"></span>
        </div>
        <div class="row content-wrap">
            <div class="">
                <nav class="top-navbar-wrapper">
                    <div class="left-navbar-header">
                        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i><span>MENU</span></a>
                        <img src="~/Images/logo-mini-top.png" alt="Open Languages" />
                        <ul class="dashboard-breadcrumbs-nav">
                            <li><a href="#">Page Title</a></li>
                            <li><a href="#">Page next</a></li>
                        </ul>

                    </div>
                    <div class="right-navbar-header">
                        <ul class="dashboard-right-nav">
                            @*<li><a href="#"><i class="material-icons">sort</i></a></li>
                                <li><a href="#"><i class="material-icons">search</i></a></li>
                                <li><a href="#"><i class="material-icons">share</i></a></li>*@

                            <li class="waves-effect waves-cyan notification-icon dropdown-trigger" data-target='dropdown2'><a><i class="material-icons">notifications_none</i><span>99</span></a></li>
                            <li class="waves-effect waves-cyan avatar-icon dropdown-trigger" data-target='dropdown3'><img src="~/Images/teacher4.png" alt="user" /></li>
                            <li id="language-icon" class="waves-effect waves-cyan dropdown-trigger" data-target='dropdown-lang'></li>
                            <li id="profile-icon" class="waves-effect waves-cyan dropdown-trigger" data-target='dropdown-profile'></li>

                            <ul id='dropdown2' class='dropdown-content notification-dropdown'>
                                <div class="notification-title">Notifications</div>
                                <li>
                                    <div class="notify-left">
                                        <i class="material-icons prefix">account_circle</i>
                                        <div class="notify-message-wrap">
                                            <span class="notify-message-title">New message</span>
                                            <span class="notify-message-content">Short info of the message</span>
                                        </div>
                                    </div>
                                    <div class="date-notify">5:09 PM</div>
                                    <i class="material-icons close-notify">close</i>
                                </li>

                                <li>
                                    <div class="notify-left">
                                        <i class="material-icons prefix">account_circle</i>
                                        <div class="notify-message-wrap">
                                            <span class="notify-message-title">New message</span>
                                            <span class="notify-message-content">Short info of the message</span>
                                        </div>
                                    </div>
                                    <div class="date-notify">5:09 PM</div>
                                    <i class="material-icons close-notify">close</i>
                                </li>

                                <li>
                                    <div class="notify-left">
                                        <i class="material-icons prefix">account_circle</i>
                                        <div class="notify-message-wrap">
                                            <span class="notify-message-title">New message</span>
                                            <span class="notify-message-content">Short info of the message</span>
                                        </div>
                                    </div>
                                    <div class="date-notify">5:09 PM</div>
                                    <i class="material-icons close-notify">close</i>
                                </li>

                                <li>
                                    <div class="notify-left">
                                        <i class="material-icons prefix">account_circle</i>
                                        <div class="notify-message-wrap">
                                            <span class="notify-message-title">New message</span>
                                            <span class="notify-message-content">Short info of the message</span>
                                        </div>
                                    </div>
                                    <div class="date-notify">5:09 PM</div>
                                    <i class="material-icons close-notify">close</i>
                                </li>

                                <li>
                                    <div class="notify-left">
                                        <i class="material-icons prefix">account_circle</i>
                                        <div class="notify-message-wrap">
                                            <span class="notify-message-title">New message</span>
                                            <span class="notify-message-content">Short info of the message</span>
                                        </div>
                                    </div>
                                    <div class="date-notify">5:09 PM</div>
                                    <i class="material-icons close-notify">close</i>
                                </li>



                            </ul>


                            <ul id='dropdown3' class='dropdown-content notification-dropdown avatar-dropdown'>
                                <div class="notification-title">
                                    <img src="~/Images/teacher4.png" alt="User" />
                                    <div class="avatar-title-wrap">
                                        <p class="avatar-dropdown-title">Geoffrey Lugli</p>
                                        <p class="avatar-dropdown-subtitle">Example@email.com</p>
                                    </div>
                                </div>
                                <li class="without_border" id="open-profile">
                                    <div class="avatar-left-wrap">
                                        <i class="material-icons prefix">account_circle</i>
                                        <span class="avatar-message">My Profile</span>

                                    </div>

                                    <i class="material-icons avatar-next">keyboard_arrow_right</i>
                                </li>

                                <li onclick="location.href='@Url.Action("Logout", "Openlang",new {area = string.Empty})'">
                                    <div class="avatar-left-wrap">
                                        <i class="material-icons prefix">exit_to_app</i>
                                        <span class="avatar-message">Log out</span>

                                    </div>

                                    <i class="material-icons avatar-next"></i>
                                </li>

                                <li id="lang-choice" class="waves-effect waves-cyan">
                                    <div class="avatar-left-wrap">
                                        <i class="material-icons prefix">language</i>
                                        <span class="avatar-message">Language:&nbsp;<p>English</p></span>

                                    </div>

                                    <i class="material-icons avatar-next">keyboard_arrow_right</i>
                                </li>


                            </ul>
                            <ul id='dropdown-lang' class='dropdown-content notification-dropdown avatar-dropdown avatar-language-dropdown'>
                                <form action="/" method="post">
                                    <div id="backToLang" class="notification-title language-choice-title">
                                        <i class="material-icons avatar-next">arrow_back</i>
                                        &nbsp;&nbsp;Choose Language
                                    </div>

                                    <li class="without_border" ng-click="changeLang('en')">
                                        <label class="language-check">
                                            <input name="group1" type="radio" ng-checked="checkSelectedLang('en')" />
                                            <span>English</span>
                                        </label>
                                    </li>
                                    <li class="without_border" ng-click="changeLang('es')">
                                        <label class="language-check">
                                            <input name="group1" type="radio" ng-checked="checkSelectedLang('es')" />
                                            <span>Spanish</span>
                                        </label>
                                    </li>
                                    <li class="without_border" ng-click="changeLang('de')">
                                        <label class="language-check">
                                            <input name="group1" type="radio" ng-checked="checkSelectedLang('de')" />
                                            <span>Deutsch</span>
                                        </label>
                                    </li>
                                    <li class="without_border" ng-click="changeLang('fr')">
                                        <label class="language-check">
                                            <input name="group1" type="radio" ng-checked="checkSelectedLang('fr')" />
                                            <span>French</span>
                                        </label>
                                    </li>



                                </form>
                            </ul>

                            <ul id='dropdown-profile' class='dropdown-content notification-dropdown avatar-dropdown avatar-profile-dropdown'>
                                <form action="/" method="post">
                                    <div id="backToProfile" class="notification-title language-choice-title">
                                        <i class="material-icons avatar-next">arrow_back</i>
                                        &nbsp;&nbsp;My Profile
                                    </div>

                                    <li ng-click="changePage($event,'/myprofile')" class="without_border">

                                        <i class="material-icons prefix">remove</i>
                                        <span class="avatar-message">@Resources.Resource.General</span>


                                    </li>
                                    <li ng-click="changePage($event,'/languages')" class="without_border">

                                        <i class="material-icons prefix">remove</i>
                                        <span class="avatar-message">@Resources.Resource.Languages</span>


                                    </li>
                                    <li ng-click="changePage($event,'/changepassword')" class="without_border">

                                        <i class="material-icons prefix">remove</i>
                                        <span class="avatar-message">@Resources.Resource.Change_password</span>


                                    </li>
                                    <li ng-click="changePage($event,'/paymentreceipts')" class="without_border">

                                        <i class="material-icons prefix">remove</i>
                                        <span class="avatar-message">@Resources.Resource.Payments_received</span>


                                    </li>



                                </form>
                            </ul>

                        </ul>



                        <div>


                        </div>
                    </div>
                </nav>

                <ul id="slide-out" class="sidenav">
                    <div class="brand-sidebar">
                        <a data-target="slide-out" class="sidenav-close"><i class="material-icons">menu</i><span>MENU</span></a>
                        <img src="~/Images/logotype.svg" alt="Open Languages" />
                    </div>

                    <li ng-click="changePage($event, '/attendees')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">group</i>Attendees</a></li>
                    <li ng-click="changePage($event, '/teachers')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">folder_shared</i>Teachers</a></li>
                    <li ng-click="changePage($event, '/teachertracker')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">event</i>Teacher Tracker</a></li>
                    <li ng-click="changePage($event, '/discounts')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">card_giftcard</i>Discounts</a></li>
                    <li ng-click="changePage($event, '/payments')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">euro_symbol</i>Payments</a></li>
                    <li ng-click="changePage($event, '/monthlyearnings')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">money</i>Monthly earnings</a></li>
                    <li ng-click="changePage($event, '/companies')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">scatter_plot</i>Companies</a></li>
                    <li ng-click="changePage($event, '/rates')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">scatter_plot</i>Rates</a></li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">bar_chart</i>Metric</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li ng-click="changePage($event,'/lessonmetric')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>Lessons Metric</a></li>
                                    <li ng-click="changePage($event,'/usermetric')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>Users Metric</a></li>
                                    <li ng-click="changePage($event,'/actionmetric')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>Actions Metric</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <li ng-click="changePage($event, '/chapters')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">school</i>Chapters</a></li>
                    <li ng-click="changePage($event, '/constructor')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">build</i>Constructor</a></li>
                    <li ng-click="changePage($event, '/notifications')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">notifications</i>Notifications</a></li>

                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">slideshow</i>Slides</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li ng-click="changePage($event, '/chapters')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>Chapters</a></li>
                                    <li ng-click="changePage($event, '/lessons')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>Lessons</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>



                    @*<li onclick="location.href='@Url.Action("Logout", "Openlang",new {area = string.Empty})'"><a class="waves-effect waves-cyan"><i class="material-icons">exit_to_app</i>Log out</a></li>*@

                    <li><div class="divider"></div></li>
                    <li><a class="subheader">LANGUAGES</a></li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect waves-cyan"><img class="img-language" ng-src="{{selectedLang}}" />English</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li ng-click="changeLang('en')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>@Resources.Resource.English</a></li>
                                    <li ng-click="changeLang('es')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>@Resources.Resource.Spanish</a></li>
                                    <li ng-click="changeLang('fr')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>@Resources.Resource.French</a></li>
                                    <li ng-click="changeLang('de')"><a class="waves-effect waves-cyan sidenav-close"><i class="material-icons">keyboard_arrow_right</i>@Resources.Resource.German</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </ul>

            </div>




            <div data-role="pafe" id="navWrap" class="col-lg-2 col-md-3 col-sm-3 col-xs-12 no-float left-side-bar">
                <div class="hidden-lg visible-md visible-sm visible-xs mobile-btn-nav">
                    <div class="lg">
                        <img onclick="location.href='@Url.Action("newlandingpage", "Openlang", new {area=string.Empty})'" src="~/img/OL-logotype-250.png" />
                    </div>
                    <span><i class="fa fa-bars" aria-hidden="true"></i></span>
                </div>
                @*<div class="sidebar-wrapper">
                    <div class="lg">
                        <img onclick="location.href='@Url.Action("newlandingpage", "Openlang",new {area=string.Empty})'" src="~/img/OL-logotype-250.png" />
                    </div>
                    <div class="dark-line"></div>
                    <div class="light-line"></div>
                    <div class="profile">
                        <div ng-switch on="shared.user.profilePicture">
                            <div ng-switch-when="/Images/openlang/user.png" class="icon-wrap">
                                <div class="user-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            @*<img ng-src="" />*@
                @*<div style='background-image:url("{{shared.user.profilePicture}}")' ng-switch-default class="img-wrap user-logo"></div>
                            </div>
                            <div data-user-email="@User.Identity.GetUserName()" class="name">{{shared.user.name}}</div>
                            <div class="position">Admin</div>
                        </div>
                        <div class="dark-line"></div>
                        <div class="light-line"></div>
                        <div class="navigation">
                            @Html.Partial("~/Areas/Admin/Views/Components/LeftNavigation.cshtml")
                        </div>
                    </div>*@
            </div>
            <div data-role="content" id="contentWrap" class="col-md-10 col-sm-10 col-xs-10 right-content">
                @Html.Partial("~/Areas/Admin/Views/Components/Header.cshtml")
                <div class="main-content">
                    <div class="page-preloader-wrap-dashboard"></div>
                    <div class="row">

                        <div class="col-md-12 left-left-content">
                            @RenderBody()
                        </div>
                        @*@{
                                @Html.Partial(User.IsInRole("Company") ? "~/Areas/Dashboard/Views/NewMyAccount/VidgetsForCompany.cshtml" : "~/Areas/Dashboard/Views/NewMyAccount/VidgetsForUsers.cshtml")
                            }*@
                    </div>
                </div>
                @Html.Partial("~/Areas/Admin/Views/Components/Footer.cshtml")
            </div>
        </div>

    </div>
    <script>
    @if (User.IsInRole("Admin"))
    {
        @: var routes = [
        @:{ route: '/attendees', template: '@Url.Action("Index", "Attendees")', controller: 'attendeescontroller', header: 'Attendees' },
         @:{ route: '/attendees/:id', template: '@Url.Action("GetDetails", "Attendees")', controller: 'attendeesdetailscontroller', header: '' },
        @:{ route: '/teachers', template: '@Url.Action("Index", "Teachers")', controller: 'teacherscontroller', header: 'Teachers' },
         @:{ route: '/teachers/:id', template: '@Url.Action("GetDetails", "Teachers")', controller: 'teachersdetailscontroller', header: '' },
        @:{ route: '/payments', template: '@Url.Action("Index", "Payments")', controller: 'paymentscontroller', header: 'Payments' },
        @: { route: '/monthlyearnings', template: '@Url.Action("Index", "MonthlyEarnings2")', controller: 'monthlyearningscontroller', header: 'Monthly Earnings' },
        @:{ route: '/companies', template: '@Url.Action("Index", "Companies")', controller: 'companiescontroller', header: 'Companies' },
        @:{ route: '/companies/:id', template: '@Url.Action("CompanyDetails", "Companies")', controller: 'companiesdetailscontroller', header: 'Companies Details' },
        @:{ route: '/discounts', template: '@Url.Action("Index", "Discounts")', controller: 'discountscontroller', header: 'Discounts' },
        @:{ route: '/lessonmetric', template: '@Url.Action("Index", "LessonsMetric")', controller: 'lessonmetriccontroller', header: 'Lesson Metric' },
        @:{ route: '/usermetric', template: '@Url.Action("Indexx", "UsersMetricSecond")', controller: 'usermetriccontroller', header: 'Users Metric' },
        @:{ route: '/actionmetric', template: '@Url.Action("Index", "ActionsMetric")', controller: 'actionmetriccontroller', header: 'Actions Metric' },
        @:{ route: '/cards', template: '@Url.Action("Index", "Cards")', controller: 'cardscontroller', header: 'Cards List' },
        @:{ route: '/carddetail', template: '@Url.Action("CardDetails", "Cards")', controller: 'cardsdetailcontroller', header: 'Details' },
         @:{ route: '/carddetail/:id', template: '@Url.Action("CardDetails", "Cards")', controller: 'cardsdetailcontroller', header: 'Details' },
         @:{ route: '/sandbox', template: '@Url.Action("Index", "SandboxTemp")', controller: 'sandboxcontroller', header: 'Sandbox' },
        @:{ route: '/chapters', template: '@Url.Action("Index", "Chapters")', controller: 'chapterscontroller', header: 'Chapters' },
        @:{ route: '/constructor', template: '@Url.Action("Index", "Cunstructor")', controller: 'constructorcontroller', header: 'Constructor' },
        @:{ route: '/notifications', template: '@Url.Action("Index", "AdminNotifications")', controller: 'notificationscontroller', header: 'Notifications' },
        @:{ route: '/lessons/:chapterId/lessondetails/:lessid?', template: '@Url.Action("LessonDetail", "LessonsCards")', controller: 'lessondetailscontroller', header: 'Lesson Details' },
        @:{ route: '/lessons/:chapterId/lessondetails/:lessid/:id?', template: '@Url.Action("CardDetails", "Cards")', controller: 'cardsdetailcontroller', header: 'Card details' },
        @:{ route: '/lessons/:chapterId', template: '@Url.Action("Index", "LessonsCards")', controller: 'lessonscontroller', header: 'Lessons' },
        @:{ route: '/rates', template: '@Url.Action("Index", "IndividualTeacherRates")', controller: 'ratescontroller', header: 'Rates' },
        @:{ route: '/teachertracker', template: '@Url.Action("Index", "TeacherTracker")', controller: 'teachertrackercontroller', header: 'Teacher Tracker' },

        @: ];
    }

    </script>
    @*<script src="~/js/createObjectPolyfill.js"></script>*@
    <script src="~/Areas/Admin/js/AngularInfrastructure/Shared/speech.sdk.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @*<script src="~/js/adapter.js"></script>*@
    <script src="~/js/adapter.min.js"></script>

    <script src="~/Scripts/openlang/VideoChat/STUNServers.js?v2"></script>
    <script src="~/Scripts/openlang/VideoChat/Helper.js?v2"></script>
    <script src="~/Scripts/openlang/VideoChat/VideoChat.js?v2"></script>
    @*<script src="~/bootstrap/js/bootstrap.min.js"></script>*@
    @*<script src="~/Scripts/circle-progress.min.js"></script>*@
    @*<script src="~/js/moment.min.js"></script>
        <script src="~/js/intlTelInput.js"></script>
        <script src="~/js/fullcalendar.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @Scripts.Render("~/js/Select2Angular")
    <script src="~/js/fullcalendar.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>*@
    <script src="~/ckeditor/ckeditor.js"></script>
    @*<script src="~/js/ckeditor.js"></script>*@
    <script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/InfrastructureForNewDesign/resources/resource.js"></script>
    <script src="~/js/bootstrap-progressbar.min.js"></script>
    <script src="~/js/jquery.treegrid.min.js"></script>
    @*<script src="~/js/AngularInfrastructure/Validations/SharedTemplateValidation.js"></script>
        <script src="~/js/AngularInfrastructure/Shared/CalendarType.js"></script>
        <script src="~/js/bootstrap-progressbar.min.js"></script>

        <script src="~/js/select2.full.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/js/Select2Angular.js"></script>*@
    <script src="~/js/ckeditor-angular.js"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
    <link href="~/js/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <script src="~/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/InfrastructureForNewDesign/push.js"></script>
    <script src="~/js/animate/animate-css.js"></script>
    <script src="~/js/angular-datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    @*<script src="~/js/libs/chatScroll/jquery.nicescroll.min.js"></script>*@
    @Scripts.Render("~/Areas/Admin/js/AngularInfrastructure/admin")
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/Cards/ImageCards.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/Cards/TranslateCards.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/Cards/ListenCards.js"></script>

    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/Cards/QuizCards.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/Cards/WordsCards.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/Cards/SentenseCards.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/Cards/VideoCards.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/Cards/AudioCards.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/Cards/MemoryGameCards.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/dropzone.js"></script>
    <script src="~/Areas/Dashboard/js/AngularInfrastructure/mp3recorder/recorder.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Areas/Admin/js/AngularInfrastructure/Directives/sortable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.12.17/grapes.min.js"></script>
        <script src="~/Areas/Admin/js/plugins/grapejs.js"></script>*@
    @*@if (User.IsInRole("Company"))
        {
            @Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularcompany")
        }
        else
        {
            @(User.IsInRole("Presenter") ? Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularteacher") : Scripts.Render("~/Areas/Dashboard/js/AngularInfrastructure/angularstudent"))
        }*@

    <script src="~/js/jquery.mCustomScrollbar.js"></script>
    <script src="~/js/select2/i18n/@(Thread.CurrentThread.CurrentCulture.Name.Split('-')[0]).js"></script>
    <script>




        var userId = '@User.Identity.GetUserId()';
        var isTeacher = @User.IsInRole("Presenter").ToString().ToLower();
    var currencies = [{"Val": "EUR: Euro" }, { "Val": "USD: United States Dollar" }, { "Val": "CHF: Swiss Franc" },{"Val":"GBP: Pound Sterling"}, { "Val": "BRL: Brazilian Real" }, { "Val": "SEK: Swedish Kronal" }, { "Val": "DKK: Danish Krone" }, { "Val": "NOK: Norwegian Krone" }];
        var module = angular.module("myaccountmodule", ["ngRoute", 'ngMaterial', 'ngMessages', 'md.data.table', 'ui.select2', 'notifications', 'api', 'ckeditor', 'ngAnimate', 'recorderService', 'datatables', 'ui.bootstrap', 'ui.sortable']).config(function ($routeProvider, $sceDelegateProvider,$animateProvider) {
            routes.forEach(function (elem) {
                if (elem.route.indexOf(":id") >= 0) {
                    $routeProvider.when(elem.route,
                        {
                            templateUrl: function(r) {
                                return elem.template + "?id=" + r.id;
                            },
                            controller: elem.controller,
                        });
                } else {
                    $routeProvider.when(elem.route, {
                        templateUrl: elem.template,
                        controller: elem.controller,
                    });
                    $routeProvider.otherwise({ redirectTo: '/attendees' });
                }
            });
            $sceDelegateProvider.resourceUrlWhitelist([
              'self',
              '*://www.youtube.com/**',
              '*://player.vimeo.com/**',
              '*://vimeo.com/**',
            ]);
        }).controller("myaccountpage",myaccountpage);
        routes.forEach(function (elem) {
            module.controller(elem.controller, eval(elem.controller));

        });
        module.directive('cardImage', imageCard).directive('cardQuiz', quizCards).directive('cardWords', wordsCards).directive('cardSentense', sentenseCards).directive('cardVideo', videoCards).directive('cardAudio', audioCards).directive('cardMemory', memoryCard).directive('cardTranslate', translateCards).directive('cardListen', listenCards);
        @*module.directive('uiIntltelinput', intlTelInputAngular).directive("listUpcommingclasses", upcommingClasses)
            .directive('listPastclasses', pastClasses)
            //.directive('uiReplenisbalance', replenishBalance)
            .directive('uiPricesblock', pricesblock)
            .directive('uiMonthlyearnings', monthlyEarnings)
            .directive('uiBudgetStatistic', budgetStatistic)
            .directive('statistic',statistic).filter('inArray', filterarrayinarray).filter('balanceIsPositive', balanceispositive).filter("trust", ['$sce', function ($sce) {
                return function (htmlCode) {
                    return $sce.trustAsHtml(htmlCode);
                }
            }]);
        @if (!User.IsInRole("Presenter"))
        {
            @:$("#progress").asPieProgress({ 'namespace': 'pie_progress', size: 75, barcolor: '#88cc49', speed: 25, trackcolor: '#4b5363' }).asPieProgress('go',  '75%');
        }*@

    </script>

    <script>
        jQuery('#my-account-container .navigation ul li:not(".noPaddingB")').click(function () {
            if (!jQuery(this).hasClass('active')) {
                jQuery('.page-preloader-wrap-dashboard').show();
            }
        })
        jQuery("#my-account-container .navigation ul li#general-info .collapse-element").click(function () {

            if (jQuery("#myProfile-page").is(":visible")) {
                setTimeout(function () {
                    var dropDownH = jQuery("#contentWrap").height() - 370
                    jQuery("#contentWrap").css("min-height", dropDownH)
                }, 500);
            } else {
                var dropDownH = 370 + jQuery("#contentWrap").height()
                jQuery("#contentWrap").css("min-height", dropDownH)
            }
        })


        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);

        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);

        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);

        $("#lang-choice").click(function () {

            $('#language-icon').dropdown('open');
        });
        $("#open-profile").click(function () {

            $('#profile-icon').dropdown('open');
        });
        $("#backToLang").click(function () {

            $('.avatar-icon').dropdown('open');
        });
        $("#backToProfile").click(function () {

            $('.avatar-icon').dropdown('open');
        });

    </script>
</body>
</html>

