﻿@model string
<style>
    .list-inline .active {
        color: #000000;
        background-color: transparent;
    }
</style>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 no-float left-side-bar admin-sidebar">
            @*<h1>@Model</h1>*@
            <div class="lg">
                <img src="~/img/OL-logotype-250.png" />
            </div>
            <div class="dark-line"></div>
            <div class="light-line"></div>
            <div class="profile">
                <div>
                    <div class="icon-wrap">
                        <div class="user-icon">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div style='background-image:url("")' class="img-wrap user-logo"></div>
                </div>
                <div class="name">Nikita</div>
                <div class="position">Admin</div>
            </div>
            <div class="dark-line"></div>
            <div class="light-line"></div>
            <div class="sidebar-wrapper">
                <div class="navigation">
                    <ul class="nav nav-sidebar">

                        <li class="widget-name unPreload">Navigation</li>
                        <li role="presentation" class="dropdown active" >
                            <i class="fa fa-user" aria-hidden="true"></i>
                            @Html.ActionLink("Attendee", "SeeAll", "Attendee", null, new { @role = "button", @ariaexpanded = "false", @class = ViewBag.Admin == "attendee" ? "active" : "", @id = "count-attendee" })
                        </li>
                        <li role="presentation" class="dropdown">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            @Html.ActionLink("Teacher", "GetAllTeachersDetails", "Teacher", null, new { @role = "button", @class = ViewBag.Admin == "teacher" ? "active" : "", @ariaexpanded = "false", @id = "count-teachers" })
                        </li>
                        <li role="presentation" class="dropdown">
                            <i class="fa fa-percent" aria-hidden="true"></i>
                            @Html.ActionLink("Discounts", "GetDiscounts", "Discount", null, new { @class = ViewBag.Admin == "discounts" ? "active" : "", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false", @id = "count-discounts" })
                        </li>
                        <li role="presentation" class="dropdown">
                            <i class="fa fa-eur" aria-hidden="true"></i>
                            @Html.ActionLink("Payments", "GetAllTransactions", "Transactions", null, new { @class = ViewBag.Admin == "payments" ? "active" : "", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false" })
                        </li>
                        <li role="presentation" class="dropdown">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            @Html.ActionLink("Monthly earnings", "GetMonthlyEarningsForAllTeachers", "MonthlyEarnings", new { month = DateTime.Now.Month, year = DateTime.Now.Year }, new { @class = ViewBag.Admin == "earnings" ? "active" : "", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false" })
                        </li>
                        <li role="presentation" class="dropdown">
                            <i class="fa fa-th" aria-hidden="true"></i>
                            @Html.ActionLink("Companies", "Index", "Company", null, new { @class = ViewBag.Admin == "companies" ? "active" : "", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false" })
                        </li>
                        <li role="presentation" class="dropdown">
                            <i class="fa fa-area-chart" aria-hidden="true"></i>
                            <a href="#">Metric</a> 
                            <ul class="submenu">
                                <li  role="presentation" class="dropdown">
                                    - @Html.ActionLink("Lessons Metric", "Index", "Lessons", null, new { @class = ViewBag.Admin == "lessonsmetric" ? "active" : "", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false" })
                                </li>
                                <li role="presentation" class="dropdown">
                                    - @Html.ActionLink("Users Metric", "Index", "UsersMetric", null, new { @class = ViewBag.Admin == "usersmetric" ? "active" : "", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false" })
                                </li>
                                <li role="presentation" class="dropdown">
                                    - @Html.ActionLink("Actions Metric", "Index", "Action", null, new { @class = ViewBag.Admin == "actionsmetric" ? "active" : "", @datatoggle = "dropdown", @role = "button", @ariaexpanded = "false" })
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav nav-sidebar sidebar-lang">
                        <div class="dark-line"></div>
                        <div class="light-line"></div>
                        <li class="widget-name unPreload">Languages</li>
                        <li class="flag unPreload ">
                            <div class="dropdown flags-wrap">
                                <span class="dropdown-toggle unPreload" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img ng-src="{{selectedLang}}" />
                                    <span>English <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li class="en unPreload" ng-click="changeLang('en')"><img src="https://media.info/i/fl/GB.png" /><span>@Resources.Resource.English</span></li>
                                    @*<li ng-click="changeLang('it')"><img src="https://media.info/i/fl/IT.png"/></li>*@
                                    <li class="es unPreload" ng-click="changeLang('es')"><img src="https://media.info/i/fl/ES.png" /><span>@Resources.Resource.Spanish</span></li>
                                    @*<li ng-click="changeLang('pt')"><img src="https://media.info/i/fl/BR.png"/></li>*@
                                    @*<li ng-click="changeLang('ru')"><img src="https://media.info/i/fl/RU.png"/></li>*@
                                    <li class="fr unPreload" ng-click="changeLang('fr')"><img src="https://media.info/i/fl/FR.png" /><span>@Resources.Resource.French</span></li>
                                    <li class="de unPreload" ng-click="changeLang('de')"><img src="https://media.info/i/fl/DE.png" /><span>@Resources.Resource.German</span></li>
                                    @*<li ng-click="changeLang('zh')"><img src="https://media.info/i/fl/CN.png"/></li>*@
                                </ul>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
