﻿@model List<MvcApplicationPostFinanceLatest.Helpers.Data>

@{
    ViewBag.Title = "Response";
}
@if (Model == null)
{
    <p>ERROR - nullable</p>
}
else
{
    foreach (var item in Model)
    {
        <p>@item.Key = @item.Value</p>
    }
    @:Everything was saved.
}
