﻿<pre style= "white-space: pre-wrap;">
Hi @Model.TeacherName,

Welcome to the team!

Your profile is now live for students to see. 

You can view it here, and continue making edits as you see fit: <a href="https://www.openlangyages.com/my-account">openlanguages.com</a>

Please find attached our onboarding guide, in it you will learn everything you need to know about the platform, how to use it, and our policies.

Please read it thoroughly (it only takes a few minutes) and let us know if you have any questions.

Have a great day.



    
<h1 style="text-align: center">TERMS AND CONDITIONS</h1>

<h2 style="text-align: center">Face-To-Face Online Language Teaching</h2>

<div style="font-weight:bold">
1.	The engagement shall begin 08.11.2017. 

2.	The Teacher will be engaged as an Online Language Teacher for the French language. 

3.	As a principle the working time is between Monday - Sunday. The work location is the teacher’s country of residence.

	The Teacher agrees to maintain secrecy about the business and all operational matters in connection with her tasks.

	The Teacher will receive a teacher’s guide from The Company that outlines the teaching activities to be carried out.

	The Teacher will be engaged to carry out online language training via Skype. The teacher will provide The Company with a Skype ID for the online language training. Tools such as Google Hangouts, QQ, etc. are acceptable, however, require the prior approval and instructions of The Company.

	The Teacher will give different types of lessons. The rates for these different lessons are specified under paragraph 4 of this agreement.

	Travel time will not be compensated unless authorized by The Company.





4.	The Teacher shall receive the following gross rates:

10.00 € for 60 minute lessons
 8.00 €   for 45 minute lessons
 5.00 €   for 30 minute trial lessons
 

The remuneration will be made by The Company according to the monthly lessons report and is paid monthly. The remuneration is not subject to VAT.

	It is the responsibility of The Teacher to ensure that all statutory social contributions, local and federal taxes owed are accounted for and made available to the appropriate authorities in the country of residence.

	Planning and preparing lessons, correcting homework, tests and all other teaching-related administrative activities are included in the gross hourly rate.

5. 	Payment methods

	The payment methods are as follows:

•	Paypal 
•	Bank Transfer


6.	The notice to terminate these terms and conditions is 7 days during the first 1 month period, and 2 weeks thereafter.

	Notice to terminate the terms and conditions shall be given in writing via email (admin@openlanguages.com).

	The notice period shall be considered met if the other party to the contract has received the notice before the period has expired.

7.	Amendments to the terms and conditions must be made in writing. The place of jurisdiction shall be Zurich, Switzerland.

    SIGNED BY @Model.TeacherName on @(DateTime.UtcNow.ToString("dd/MM/yyyy"))
</pre>