﻿<pre>
Congratulations!

After reviewing your application, we would like to offer you a position of online language teacher with Open Languages.

<a href="https://www.openlanguages.com/my-account">By following this link</a> or log into your application account : you can review and sign your contract.

Once you have done so, your profile will be live for students to see.

You will then receive our onboarding guide, in which you will learn how to use the platform as well as our policies.
We look forward to having you join our team.

Have a great day.
</pre>