﻿<div style="margin: 20px; padding: 20px; border: 1px solid #eeeeee; background-color: #fff">
    <h3 style="color: #555">
        Hey @Model.UserName!
    </h3>
    <p style="color: #555">
        Welcome to Open Languages,<br><br>
        We are excited to have you join our growing community of language learners, and to be able to provide you with the most convenient and efficient way to learn a language.<br><br>
        We would love to invite you to take a 30 minute FREE trial lesson.<br><br>
        This is a great opportunity to get to know a teacher and the learning materials, and discuss your learning objectives.<br><br>
        Simply visit our platform and click on <a href="https://openlanguages.com">"Take A Free Trial Lesson"</a><br><br>
        Don’t hesitate to contact us if you have any questions, we’d be happy to assist you in any way we can.
    </p>
    @if(@Model.Link != null)
    {
    <h3 style="color: #555">
        Confirm your email!
    </h3>
    <p style="color:#555">
        Click on this link to activate your account and start learning right away: <a href="@Model.Link">Confirm Email</a>
    </p>
    }
    <h6 style="color: #aaaaaa; font-size: 17px">Did you know?</h6>
    <ul style="color: #555; margin-bottom: 5px;">
        <li>You can learn anytime, even early mornings, evenings and weekends</li>
        <li>All you need is an internet connection, so you can learn anywhere</li>
        <li>You can schedule and reschedule lessons at your convenience</li>
    </ul>
    <p style="color: #555">
        We look forward to getting to know you better.<br>
        With kind regards,
    </p>
    <h6 style="color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;">
        Your Open Languages Team
    </h6>
    <a style="color: #a6c45e;" href="https://openlanguages.com">www.openlanguages.com</a>
</div>