﻿
    <h3 style="color: #555555;">Thank you for placing your order with Open Languages.</h3>
    <p style="color: #555555;">
        Your teacher will contact you to organize your first lesson.
        Following lessons can be scheduled on your dashboard, or directly with your teacher.
        We will use the contact information provided in your account to contact you in the future, regarding issues, news or sales.
        <br><br>
        Happy learning!
    </p>
    <h3 style="color: #555555;font-size: 14px;">Order Details</h3>
    <table style="border-collapse: collapse;width: 100%;">
        <tr>
            <th style="border: 1px solid #fff;
    padding: 10px;background-color: #93c210;color: #fff">PAYMENT METHOD</th>
            <th style="border: 1px solid #fff;
    padding: 10px;background-color: #93c210;color: #fff">AMOUNT</th>
            <th style="border: 1px solid #fff;
    padding: 10px;background-color: #93c210;color: #fff">AMOUNT (EUR)</th>
            <th style="border: 1px solid #fff;padding: 10px;background-color: #93c210;color: #fff">BONUS (EUR)</th>
        </tr>
        <tr>
            <td style="border: 1px solid #fff;
    padding: 10px; color: #60742d;
    background-color: #dce9b9;
    text-align: center;">
                @Model.PaymentMethod
            </td>
            <td style="border: 1px solid #fff;
    padding: 10px; color: #60742d;
    background-color: #dce9b9;
    text-align: center;">
                @Model.CurrenceAmount
            </td>
            <td style="border: 1px solid #fff;
    padding: 10px; color: #60742d;
    background-color: #dce9b9;
    text-align: center;">
                @Model.EurPrice EUR
            </td>
            <td style="border: 1px solid #fff;
                                                                padding: 10px; color: #60742d;
                                                                background-color: #dce9b9;
                                                                text-align: center;">
                @Model.Bonus EUR
            </td>
        </tr>
    </table>
    <h5 style="color: #555555;
    margin: 13px 0;
    font-size: 14px;">
        Grand Total: <span style="color: #a6c45e;">@Model.CurrenceAmount</span>
    </h5>
    <h5 style="color: #555555;
                                                                                                                       margin: 13px 0;
                                                                                                                       font-size: 14px;">
        Order Number: <span style="color: #a6c45e;">@Model.PaymentId</span>
    </h5>
    <h5 style="color: #555555;
                                                                                                                                                                                                                                          margin: 13px 0;
                                                                                                                                                                                                                                          font-size: 14px;">
        Count Lessons: <span style="color: #a6c45e;">@Model.CountLessons</span>
    </h5>
    <h5 style="color: #555555;
                                                                                                                                                                                                                                                                                                                                                             margin: 13px 0;
                                                                                                                                                                                                                                                                                                                                                             font-size: 14px;">
        Type of Lessons: <span style="color: #a6c45e;">@Model.Type</span>
    </h5>
    <h5 style="color: #555555;
    margin: 13px 0;
    font-size: 14px;">
        Type of Package: <span style="color: #a6c45e;">@Model.TypeOfPrice</span>
    </h5>
    <h6 style="color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;">
        Your Open Languages Team
    </h6>
    <a style="color: #a6c45e;" href="https://www.openlanguages.com">www.openlanguages.com</a>