﻿<h4>New Order Received</h4>
A new user order has been received from the Open Languages website:
<br>
Order Details:
<br>
Amount Course description Language
<table>
    <tr>
        <th>Amount</th>
        <th>Payment Method</th>
        <th>Amount (EUR)</th>
        <th>Bonus (EUR)</th>
    </tr>
    <tr>
        <td>@Model.CurrenceAmount</td>
        <td>@Model.PaymentMethod</td>
        <td>@Model.EurPrice EUR</td>
        <td>@Model.Bonus EUR</td>
    </tr>
</table>

Type of Package: @Model.TypeOfPrice
<br>
Type of Lessons: @Model.Type
<br>
Count Lessons: @Model.CountLessons
<br>
Order Number: @Model.PaymentId
<br>
User Name: @Model.UserName
<br>
Email Address: @Model.UserEmail
<br>
