﻿
<h3 style="color: #555">Teacher @Model.Name</h3>
<p style="color: #555">
    Have just submit application with following data. Please confirm application from Admin panel.
</p>
<div style="background-color: #fafafa; box-sizing: border-box; padding: 15px; color: #555; border: 1px solid #eaeaea">
    <div style="color: #333333; margin-bottom: -2px">
        Personal Information:
    </div><br>
    <div style="font-weight: bold">Name: <span style="color: #a6c45e">@Model.Name</span></div>
    <div style="font-weight: bold">Phone: <span style="color: #a6c45e">@Model.Telephone</span></div>
    <div style="font-weight: bold">Skype: <span style="color: #a6c45e">@Model.Skype </span></div>
    <br><br>
    <div style="color: #333333; margin-bottom: -2px">
        Application details:
    </div>
    <div style="font-weight: bold">Sample video: <span style="color: #a6c45e">@Model.Link</span></div>
    <div style="font-weight: bold">Language: <span style="color: #a6c45e">@Model.Language</span></div>
    <br><br>
    <div style="color: #333333; margin-bottom: -10px; font-weight: bold; font-style: italic">
        Work experience:
    </div><br>
    <p style="color: #999999; font-style: italic">
        @foreach(var item in @Model.WorkExpirience)
        {
        <div>From - @item.PeriodFrom to @item.PeriodTo</div>
        <div>@item.Title</div>
        <div>@Raw(item.Description)</div>
        }
    </p>
    <br><br>
    <div style="color: #333333; margin-bottom: -10px; font-weight: bold; font-style: italic">
        Teaching experience:
    </div><br>
    <p style="color: #999999; font-style: italic">
        @foreach(var item in @Model.Education)
        {
        <div>From - @item.PeriodFrom to @item.PeriodTo</div>
        <div>@item.Title</div>
        <div>@Raw(item.Description)</div>
        }
    </p>
    <br><br>
    <div style="color: #333333; margin-bottom: -10px; font-weight: bold; font-style: italic">
        Teaching experience:
    </div><br>
    <p style="color: #999999; font-style: italic">
        @foreach(var item in @Model.Certifications)
        {
        <div>From - @item.PeriodFrom to @item.PeriodTo</div>
        <div>@item.Title</div>
        <div>@Raw(item.Description)</div>
        }
    </p>
</div>