﻿@using Domain.Helpers
@model System.Collections.Generic.IEnumerable<Domain.Entities.Action>
@{
    Layout = null;
}
    @Styles.Render("~/less/style?v3.1.2")
    @*<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">*@
    <style>
        .legend {
            color: #333;
            text-align: center;
            margin: 40px 0;
        }

            .legend span:first-child {
                color: #a1d418;
                display: block;
            }

        #table td.rw {
            background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        .datails {
            padding-left: 50px !important;
        }

        .filtering {
            text-align: center;
        }

            .filtering h1 {
                text-align: left;
                margin-left: 20px !important;
            }

        a.active {
            background-color: yellow;
        }
    </style>
@*<section class="blue-bg-prof hidden-xs"></section>*@
<section class="admin teacher-profile action-metric">
        <div class="content-wrap">
                <div class="bgc-content-wrap ft clearfix">
                    <div class="col-xs-12">
                        <div class="row filtering myBoudget ">
                            <div class="clearfix chart-chart">
                                <div ng-click="getData('All',$event)" class="col-xs-3 toe active">
                                    <div href="">All</div>
                                </div>
                                <div ng-click="getData('LastYear',$event)" class="col-xs-3 toe">
                                    <div href="">Last Year</div>
                                </div>
                                <div ng-click="getData('LastMonth',$event)"  class="col-xs-3 toe">
                                    <div href="">Last Month</div>
                                </div>
                                <div ng-click="getData('LastWeek',$event)" class="col-xs-3 toe">
                                    <div href="">Last Week</div>
                                </div>
                                <div ng-click="getData('Today',$event)" class="col-xs-3 toe">
                                    <div href="">Today</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row legend">
                                    <div class="col-xs-2">
                                        <span>Lessons created</span>
                                        <span>{{model.CountLessonsCreated}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>User registrated</span>
                                        <span>{{model.CountUserRegistrated}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Lessns Cancelled</span>
                                        <span>{{model.CountLessonsCancel}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Lessons Changed</span>
                                        <span>{{model.CountLessonsChanged}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>Lessons Recheduled</span>
                                        <span>{{model.CountLessonsRescheduled}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row legend">
                                <div class="col-xs-2">
                                    <span>Users added to lessons</span>
                                    <span>{{model.CountAddedStudentsToLesson}}</span>
                                </div>
                                <div class="col-xs-2">
                                    <span>Count Topped Up Balanced</span>
                                    <span>{{model.CountLessonsCompleted}}</span>
                                </div>
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-2">

                                </div>
                            </div>
                        </div>
                        <div class="row mt8">
                            <div class="col-xs-12">
                                <table dt-instance="dtInstance" datatable="ng" dt-options="dtOptions" id="table" class="table-actionMetric">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Datetime (UTC)</th>
                                            <th>Message</th>
                                            <th>Short message</th>
                                        </tr>
                                    </thead>
                                        <tr ng-repeat="message in model.Messages">
                                            <td>{{message.Name}}</td>
                                            <td>{{message.Date}}</td>
                                            <td>{{message.Message}}</td>
                                            <td>{{message.ShortMessage}}</td>
                                        </tr>
                                </table>
                                <span class="table-count">Showing 10 of {{model.length}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

    @*<script src="~/js/jquery.dataTables.min.js"></script>*@
    <script>
        //$(".table-actionMetric")
        //    .dataTable({
        //        "autoWidth": true,
        //        "ordering": false,
        //        "oLanguage": {
        //            "sSearch": "",
        //        },
        //        language: {
        //            searchPlaceholder: "Enter information to search..."
        //        },
        //        "dom": '<"top" flp>rt<"bottom"flp>'
        //    });
        //$('.dataTables_filter input').attr("placeholder", "Enter information to search...");
        //jQuery('.page-preloader-wrap-dashboard').hide();
    </script>
