﻿@using Microsoft.AspNet.Identity
@using Xencore.Helpers
@model Xencore.ViewModel.TeacherClassesWithStudents
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var lengthOfStudentsNames = "";
}
<!-- Modal -->
 

<div class="modal fade teach-bonus" id="myModaBonus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/images/conf.jpg" alt="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p class="upper-title">@Resources.Resource.Yourbonusis</p>
                    <p class="title">1000 &#8364;</p>
                    <p class="desc-title">@Resources.Resource.Congratulationsyouhavereceived</p>
                    <p class="desc-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="custom-button">@Resources.Resource.Receivebonus</div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade learn-more" id="myModaLearnMore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">@Resources.Resource.Learnmoreaboutthebonus</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Resources.Resource.Afteramountoflessons</th>
                            <th>@Resources.Resource.BONUS (USD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>50</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>100</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>500</td>
                            <td>150</td>
                        </tr>
                        <tr>
                            <td>1000</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>2000</td>
                            <td>1000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="serviceMessageMain gp-style js-service text-center">

</div>
<div class="modal fade log-class" id="myModalDashboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.Logaclass</h4>
            </div>
            <div class="modal-body">
                <form action="" , method="post" id="addClass">
                    <div class="col-sm-6">
                        <input type="hidden" value="@User.Identity.GetUserId()" name="TeacherId" />
                        <input type="hidden" value="0" name="Id" />
                        <div class="form-group custom-tags-input">
                            <label for="tags">@Resources.Resource.Nameofthestudent</label>
                            <select data-rule-required="true" multiple name="Students" class="js-example-tags" id="tags">
                                <option></option>
                                @foreach (var student in Model.StudentsOfTheTeacher)
                                {
                                    <option value="@student.Id">@student.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="location">@Resources.Resource.Leveloftheclass</label>
                            <select data-rule-required="true" name="Level" class="js-select2-class-level" id="location">
                                @{ Html.RenderPartial("~/Views/PartialsOptions/AllLevels2.cshtml");}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subject">@Resources.Resource.Subjectofthelesson</label>
                            <input placeholder="@Resources.Resource.Subjectofthelesson" data-rule-required="true" class="" name="SubjectOfTheLesson" id="subject">
                        </div>
                        <div class="form-group">
                            <label for="date">@Resources.Resource.DATE</label>
                            <input data-rule-pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$" data-rule-required="true" class="" name="StartDate" id="date">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group custom-tags-input">
                            <label for="language">@Resources.Resource.Languages</label>
                            <select data-rule-required="true" name="Language" class="js-example-languages" id="language">
                                <option></option>
                                @Html.GetAllLanguagesOfTeacher(Guid.Parse(User.Identity.GetUserId()))
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="duration">@Resources.Resource.Durationofthelesson</label>
                            <select data-rule-required="true" name="Duration" class="js-select2-class-level" id="duration">
                                <option value="45">45</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="m-used">@Resources.Resource.Materialsused</label>
                            <input placeholder="@Resources.Resource.Materialsused" data-rule-required="true" name="MaterialsUsed" class="" id="m-used">
                        </div>
                        <div class="form-group">
                            <label for="s-time">@Resources.Resource.StartTime</label>
                            <input placeholder="Time (ex: 08:00 or 15:30)" data-rule-pattern="^([01]\d|2[0-3]):?([0-5]\d)$" data-rule-required="true" name="Time" class="" id="s-time">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="t-area">@Resources.Resource.Comment</label>
                            <textarea name="@Resources.Resource.Comment" id="t-area" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="send" class="custom-button pull-right">@Resources.Resource.Addinformation</div>
            </div>
        </div>
    </div>
</div>
<section class="blue-bg-prof f-teach hidden-xs"></section>
<section class="">
    <div class="container teacher-dashboard">
        <div class="row grey-border">
            <div class="col-sm-12">
                <p class="title">@Resources.Resource.Teacherdashboard</p>
            </div>
        </div>
        <div class="row under-title-block">
            <div class="col-sm-2">
                <div class="m-earning">
                    <p class="price">@Model.TeacherClassesViewModels.Sum(x => x.MoneyEarned) &#8364;<span>@Resources.Resource.MonthlyEarning</span></p>
                </div>
            </div>
            <div class="col-sm-10">
                <p class="text">
                    @Resources.Resource.Thisdashboardwillenable
                </p>
                <p class="bonus-info" data-toggle="modal" data-target="#myModaLearnMore">
                    <i class="fa fa-gift" aria-hidden="true"></i> @Resources.Resource.Learnmoreaboutthebonus
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="progress-title">@Resources.Resource.Yourprogressof</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" data-transitiongoal=""
                         aria-valuemax="10"></div>
                </div>
                <div class="finish-progress"><i class="fa fa-gift" aria-hidden="true"></i></div>
                <!--добавляется класс '.active'-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="progress-title">@Resources.Resource.Classestaught:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="log-class-button" data-toggle="modal" data-target="#myModalDashboard">@Resources.Resource.Logaclass</div>
                <div class="edit-info"><i class="fa fa-pencil" aria-hidden="true"></i> @Resources.Resource.Editinformation</div>
                <div class="delete-info"><i class="fa fa-times" aria-hidden="true"></i> @Resources.Resource.Deleteinformation</div>
            </div>
            <div class="col-sm-4">
                <input class="table-search" type="text" placeholder="@Resources.Resource.Enterinformationtosearch ...">
            </div>
            <div class="col-sm-12">
                <table id="table-example" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Resources.Resource.Name</th>
                            <th>@Resources.Resource.LANGUAGE</th>
                            <th>@Resources.Resource.lvl</th>
                            <th>@Resources.Resource.DATE</th>
                            <th>@Resources.Resource.Time</th>
                            <th>@Resources.Resource.duration</th>
                            <th>@Resources.Resource.privategroup</th>
                            <th>@Resources.Resource.moneyearned</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var clas in Model.TeacherClassesViewModels)
                        {
                            lengthOfStudentsNames = "";
                            <tr>
                                <td data-id="@clas.Id"><input type="checkbox"></td>
                                <td>
                                    @foreach (var stds in clas.StudentsNames)
                                    {
                                        if (lengthOfStudentsNames.Length > 16)
                                        {
                                            <text>...</text>
                                            break;
                                        }
                                        lengthOfStudentsNames += stds;

                                        if (Equals(clas.StudentsNames.Last(), stds))
                                        {
                                            <text>@stds</text>
                                            continue;
                                        }

                                        <text>@stds, </text>
                                    }
                                </td>
                                <td>@Resources.Resource.ResourceManager.GetString(clas.Language.Split('_')[1])</td>
                                <td>@clas.Level</td>
                                <td>@clas.StartDate.ToString("dd/MM/yyyy")</td>
                                <td>@clas.Time</td>
                                <td>@clas.Duration</td>
                                <td>@(clas.IsPrivate ? "Private" : "Group")</td>
                                <td>@clas.MoneyEarned &#8364;</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/select2.full.min.js" type="text/javascript"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>-->
    <script src="~/js/bootstrap-progressbar.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.js"></script>
    <!--<script src="~/bootstrap/js/bootstrap.min.js"></script>-->
    <!--<script src="js/main.js"></script>-->
    <script>
        var err =
    "<div class='container'><div class='row mess_title'><div class='col-sm-12'><p class='title'>ERROR!<span>You should select only one field</span></p></div></div></div>";
        var success =
            "<div class='container'><div class='row mess_title'><div class='col-sm-12'><p class='title'>SUCCESS!<span>Your request was sent</span></p></div></div></div>";
        function daysInMonth(month, year) {
            return new Date(year, month, 0).getDate();
        }
        $(document)
            .ready(function () {

                //$("#myModaBonus").modal("show");
                $("#addClass").validate({
                    errorPlacement: function () {
                        return false;  // suppresses error message text
                    }
                });
                function updateDataTableSelectAllCtrl(table) {
                    //var $table = table.table().node();
                    //var $chkbox_all = $('tbody input[type="checkbox"]', $table);
                    //var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
                    //var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

                    //// If none of the checkboxes are checked
                    //if ($chkbox_checked.length === 0) {
                    //    chkbox_select_all.checked = false;
                    //    if ('indeterminate' in chkbox_select_all) {
                    //        chkbox_select_all.indeterminate = false;
                    //    }

                    //    // If all of the checkboxes are checked
                    //} else if ($chkbox_checked.length === $chkbox_all.length) {
                    //    chkbox_select_all.checked = true;
                    //    if ('indeterminate' in chkbox_select_all) {
                    //        chkbox_select_all.indeterminate = false;
                    //    }

                    //    // If some of the checkboxes are checked
                    //} else {
                    //    chkbox_select_all.checked = true;
                    //    if ('indeterminate' in chkbox_select_all) {
                    //        chkbox_select_all.indeterminate = true;
                    //    }
                    //}
                }

                $(document)
                    .ready(function () {
                        // Array holding selected row IDs
                        var rows_selected = [];
                        var table = $('#table-example')
                            .DataTable({
                                //                'ajax': {
                                //                    'url': '/lab/articles/jquery-datatables-checkboxes/ids-arrays.txt'
                                //                },
                                'columnDefs': [
                                    {
                                        'targets': 0,
                                        'searchable': false,
                                        'orderable': false,
                                        'width': '1%',
                                        'className': 'dt-body-center',
                                        'render': function (data, type, full, meta) {
                                            return '<input type="checkbox">';
                                        }
                                    }
                                ],
                                "bLengthChange": false,
                                //                'order': [[1, 'asc']],
                                //                'rowCallback': function(row, data, dataIndex){
                                //                    // Get row ID
                                //                    var rowId = data[0];
                                //
                                //                    // If row ID is in the list of selected row IDs
                                //                    if($.inArray(rowId, rows_selected) !== -1){
                                //                        $(row).find('input[type="checkbox"]').prop('checked', true);
                                //                        $(row).addClass('selected');
                                //                    }
                                //                }
                            });

                        // Handle click on checkbox
                        $('#example tbody')
                            .on('click',
                                'input[type="checkbox"]',
                                function (e) {
                                    var $row = $(this).closest('tr');

                                    // Get row data
                                    var data = table.row($row).data();

                                    // Get row ID
                                    var rowId = data[0];

                                    // Determine whether row ID is in the list of selected row IDs
                                    var index = $.inArray(rowId, rows_selected);

                                    // If checkbox is checked and row ID is not in list of selected row IDs
                                    if (this.checked && index === -1) {
                                        rows_selected.push(rowId);

                                        // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                                    } else if (!this.checked && index !== -1) {
                                        rows_selected.splice(index, 1);
                                    }

                                    if (this.checked) {
                                        $row.addClass('selected');
                                    } else {
                                        $row.removeClass('selected');
                                    }

                                    // Update state of "Select all" control
                                    updateDataTableSelectAllCtrl(table);

                                    // Prevent click event from propagating to parent
                                    e.stopPropagation();
                                });

                        // Handle click on table cells with checkboxes
                        $('#example')
                            .on('click',
                                'tbody td, thead th:first-child',
                                function (e) {
                                    $(this).parent().find('input[type="checkbox"]').trigger('click');
                                });

                        // Handle click on "Select all" control
                        $('thead input[name="select_all"]', table.table().container())
                            .on('click',
                                function (e) {
                                    if (this.checked) {
                                        $('#example tbody input[type="checkbox"]:not(:checked)').trigger('click');
                                    } else {
                                        $('#example tbody input[type="checkbox"]:checked').trigger('click');
                                    }

                                    // Prevent click event from propagating to parent
                                    e.stopPropagation();
                                });

                        // Handle table draw event
                        //table.on('draw',
                        //    function() {
                        //        // Update state of "Select all" control
                        //        updateDataTableSelectAllCtrl(table);
                        //    });

                        // Handle form submission event
                        $('#frm-example')
                            .on('submit',
                                function (e) {
                                    var form = this;

                                    // Iterate over all selected checkboxes
                                    $.each(rows_selected,
                                        function (index, rowId) {
                                            // Create a hidden element
                                            $(form)
                                                .append(
                                                    $('<input>')
                                                    .attr('type', 'hidden')
                                                    .attr('name', 'id[]')
                                                    .val(rowId)
                                                );
                                        });
                                });
                        $('.table-search').keyup(function () {
                            table.search(this.value).draw();
                        });
                    });
                $(".js-example-tags")
                    .select2({
                        tags: true,
                        placeholder: 'Select students'
                    })
                    .on("change",
                        function () {
                            $("#addClass #tags").valid();
                        });
                $(".js-select2-class-level")
                    .select2({
                        minimumResultsForSearch: Infinity,
                        placeholder: "Select Level"
                    }).on("change",
                        function () {
                            $("#addClass #location").valid();
                        });
                $(".js-example-languages")
                    .select2({
                        minimumResultsForSearch: Infinity,
                        placeholder: "Select Language"
                    })
                    .on("change",
                        function() {
                            $("#addClass #language").valid();
                        });
            });
        var date = new Date();
        console.log(new Date(date.getFullYear(), date.getMonth(), 1));
        $("#date")
            .datetimepicker({
                format: 'DD/MM/YYYY',
                minDate: new Date(date.getFullYear(), date.getMonth(), 1),
                maxDate: new Date(date.getFullYear(), date.getMonth(), daysInMonth(date.getMonth() + 1, date.getFullYear()))
            });
        $("#send")
            .click(function () {
                var form = $("#addClass");
                if (!form.valid()) return;
                $.post("@Url.Action("AddClass")", form.serialize())
                    .always(function (res) {
                        if (res.success)
                            location.reload();
                        else {

                        }
                    });
            });
        $(".edit-info")
            .click(function () {
                var vals = $("#table-example input:checked");
                if (vals.length == 0 || vals.length > 1) {
                    $(".serviceMessageMain.gp-style").attr("id", "error").append(err).show();
                    setTime();
                    return;
                }
                var val = vals.first().parent().attr("data-id");
                $.get("/api/TeacherClasses/GetClassById?id=" + val)
                    .always(function (res) {
                        if (!res) return;
                        var form = $("#addClass");
                        form.find("[name='Id']").val(res.Id);
                        form.find("#tags").val(res.Students).trigger("change");
                        form.find("#language").val(res.Language).trigger("change");
                        form.find("#location").val(res.Level).trigger("change");
                        form.find("#duration").val(res.Duration).trigger("change");
                        form.find("#subject").val(res.SubjectOfTheLesson);
                        form.find("#m-used").val(res.MaterialsUsed);
                        form.find("#date").data("DateTimePicker").date(new Date(res.StartDate));
                        form.find("#s-time").val(res.Time);
                        form.find("#t-area").val(res.Comments);
                        $("#myModalDashboard").modal("show");
                    });
            });
        $(".delete-info")
            .click(function () {
                var idss = $("#table-example input:checked")
                    .parent()
                    .map(function (index, elem) {
                        return parseInt($(elem).attr("data-id"));
                    }).toArray()
                    .join(',');
                if (!idss) {
                    $(".serviceMessageMain.gp-style").attr("id", "error").append(success).show();
                    setTime();
                    $("input, textarea").val("");
                    return;
                }
                $.ajax({
                    method: "delete",
                    url: "/api/TeacherClasses/DeleteClass?idss=" + idss,
                    dataType: "json",
                    success: function (res) {
                        location.reload();
                    }
                });
            });
        $.get("/api/TeacherClasses/GetCountClasses?id=" + "@User.Identity.GetUserId()").always(function (res) {
            var maxvalue = 50;
            if (res > 50 && res <= 100)
                maxvalue = 100;
            if (res > 100 && res <= 500)
                maxvalue = 500;
            if (res > 500 && res <= 1000)
                maxvalue = 1000;
            if (res > 1000 && res <= 2000)
                maxvalue = 2000;
            $('.progress .progress-bar').attr("data-transitiongoal", res).attr("aria-valuemax", maxvalue)
                .progressbar({
                    display_text: 'center',
                    use_percentage: false,
                    amount_format: function (p, t) {
                        return p + ' of ' + t + " lessons";
                    }
                });
        });
        $("#myModalDashboard")
            .modal("hidden.bs.modal",
                function () {
                    $("#addClass input[Name='Id']").val(0);
                });
        var table = $('#example').DataTable();
        var err =
            "<div class='container'><div class='row mess_title'><div class='col-sm-12'><p class='title'>ERROR!<span>All fields below are required</span></p></div></div></div>";
        var success =
            "<div class='container'><div class='row mess_title'><div class='col-sm-12'><p class='title'>SUCCESS!<span>Your request was sent</span></p></div></div></div>";
        function setTime() {
            setTimeout(function () {
                $(".serviceMessageMain.gp-style")
                    .css("background", "#eec8c5")
                    .hide(function () {
                        $(".serviceMessageMain.gp-style").children().remove();
                    });
            },
                5000);
        };
    </script>
}