﻿<!DOCTYPE html>
<html lang="ru" ng-app = "test-cards">
 
<head>

	<meta charset="utf-8">

	<title>Dashboard</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="libs/magnific-popup/jquery.magnific-popup.js"></script>
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	

</head>

<body id="choice">

<!----------               LEFT SIDEBAR                   ---------->

	<div class="left-sidebar">
		<div class="left-sidebar_element logo-wrapper">
			<a href="#"><img src="img/logo.png" alt="OpenLanguages"></a>
		</div>
		<div class="left-sidebar_element avatar-wrapper">
			<a href="#"><img src="img/avatar.png" alt="avatar"></a>
		</div>
		<div class="left-sidebar_element">
			<ul class="left-sidebar_navigation">
				<li><a href="#"><i class="fa fa-list-alt"></i></a></li>
				<li><a href="#"><i class="fa fa-users"></i></a></li>
				<li><a href="#"><i class="fa fa-percent"></i></a></li>
				<li><a href="#"><i class="fa fa-eur"></i></a></li>
				<li><a href="#"><i class="fa fa-money"></i></a></li>
				<li><a href="#"><i class="fa fa-table"></i></a></li>
				<li><a href="#"><i class="fa fa-area-chart"></i></a></li>
				<li><a href="#"><i class="fa fa-clone"></i></a></li>
			</ul>
		</div>
		<div class="left-sidebar_element flag-wrapper">
			<a href="#"><img src="img/english.png" alt="flag"></a>
		</div>
	</div>
	<!-- /.left-sidebar -->
	

	<!--                          CONTENT                                    -->	

	<div class="content" ng-controller = "TabCtrl as tab">
		<div class="content-wrapper">
		<!-- /            Content  header                    -->		
			<div class="content-header">
				<div class="content-header__left">
					<div class="lesson-number">1</div>
					<span class="lesson-name">Lesson name</span>
				</div>
				<div class="content-header__right">
					<button class="button-ask">
						<i class="fa fa-question"></i>
					</button>
					<button class="button-close">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<!-- /.content-header -->

<!-- /            Content  main                     -->	
<div class="content-nav-main">
			<choice-dir ng-show="isSet(1)"></choice-dir>
			<video-dir ng-show="isSet(2)"></video-dir>
			<pictures-dir ng-show="isSet(3)"></pictures-dir>
			<words-dir ng-show="isSet(4)"></words-dir>
			<sentence-dir ng-show="isSet(5)"></sentence-dir>
			<memory-dir ng-show="isSet(6)"></memory-dir>
			<voice-dir ng-show="isSet(7)"></voice-dir>

</div>
		


<!-- Popup succes -->
<div class="white-popup mfp-hide succes-popup">
	<div class="popup-succes-wrap">
		<div class="circle-succes"><span class="circle-percent">75%</span></div>
		<h2 class="congrat-title">Congratulations!</h2>
		<span class="congrat-descr">You have successfully completed this lesson and can proceed to the next</span>
		<button class="button button_try-again" onclick="document.location.reload()">Try again</button>
		<button class="button button_next"  onclick="window.location.href='vocabulary.html'">Next</button>
	</div>
</div>

			
			<!-- /.content-main -->

<!-- /            Content  footer                     -->
			<div class="content-footer" style="background-color: #e5f5fc" ng-show = "isCheck(1);">
				<div class="button button_skip" ng-click = "isSkip();">Skip</div>
				<div class="content-footer__decision">
					<span id="words-check" class="click-check" ng-click = "testCheck();">Click to check</span>
					
				</div>
				
			</div>


			<div class="content-footer" style="background-color: #f0f7e8" ng-show = "isCheck(2)">
				<div class="content-footer__decision decision-right">
					<span class="right-check">Correct</span>
					<span class="check-sign"><i class="fa fa-check"></i></span>
				</div>
				<div class="content-footer__next">
					<button class="button" id="nextVideo" ng-click = "setTab();">Next slide</button>
				</div>
			</div>

			<div class="content-footer" style="background-color: #fdeeef" ng-show = "isCheck(3)">
				<div class="content-footer__decision wrong-decision">
					<span id="words-check" class="click-check">{{rightAnswer}}</span>
					
				</div>
				<div class="content-footer__next">
					<button class="button" id="nextVideo" ng-click = "setTab();">Next slide</button>
				</div>
			</div>
			<!-- /.content-footer -->


		</div>
	</div>
	<!-- /.content -->
	

	
	<script src="libs/jquery-circle-progress-1.2.2/dist/circle-progress.js"></script>
	<script src="js/popup.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>
	
	<script src="js/common.js"></script>

</body>
</html>
