

			<div class="content-main">
				<div class="content-main__wrapper">
					<h2>slide 1 of 7</h2>
					<h3>Which choice most effectively signals the shift from
							the preceding paragraph to this paragraph?</h3>
					<div class="content-radio">
						<ul class="radio-nav">
							<li><label><input type="radio" name="paragrath" value="a"><div class="option-letter"><div class="checker" id="correct"><i class="fa fa-check"></i></div>A.</div><div class="option">NO CHANGE</div></li></label>
							<li><label><input type="radio" name="paragrath" value="b"><div class="option-letter"><div class="checker"><i class="fa fa-check"></i></div>B.</div><div class="option">Our lives were likewise affected by the phases of the moon.</div></label></li>
							<li><label><input type="radio" name="paragrath" value="c"><div class="option-letter"><div class="checker"><i class="fa fa-check"></i></div>C.</div><div class="option">A relationship exists between the moon and the tides.</div></label></li>
							<li><label><input type="radio" name="paragrath" value="d"><div class="option-letter"><div class="checker"><i class="fa fa-check"></i></div>D.</div><div class="option">The moon is a mysterious orb afloat in the sky.</div></label></li>
						</ul>
						
					</div>		
				</div>
			</div>

