
			<div class="content-main">
				<div class="content-main__wrapper">
					<h2>slide 6 of 7</h2>
					<h3>Find the same pairs by clicking on the cards</h3>
					<div class="memory-wrapper">
						<ul class="memory-nav">
							<li>
								<div class="flip-container">
									<div class="flipper">
										<div class="back">
											<img src="img/forrest.png" alt="cow" sizes="cover">
											<div class="memory-descr">forest</div>
											<span></span>
										</div>
										<div class="front">
											?
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="flip-container">
									<div class="flipper">
										<div class="back">
											<img src="img/cow.png" alt="cow" sizes="cover">
											<div class="memory-descr">cow</div>
											<span></span>
										</div>
										<div class="front">
											?
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="flip-container">
									<div class="flipper">
										<div class="back">
											<img src="img/cow.png" alt="cow" sizes="cover">
											<div class="memory-descr">cow</div>
											<span></span>
										</div>
										<div class="front">
											?
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="flip-container">
									<div class="flipper">
										<div class="back">
											<img src="img/cat.png" alt="cow" sizes="cover">
											<div class="memory-descr">cat</div>
											<span></span>
										</div>
										<div class="front">
											?
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="flip-container">
									<div class="flipper">
										<div class="back">
											<img src="img/forrest.png" alt="cow" sizes="cover">
											<div class="memory-descr">forest</div>
											<span></span>
										</div>
										<div class="front">
											?
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="flip-container">
									<div class="flipper">
										<div class="back">
											<img src="img/rabbit.png" alt="cow" sizes="cover">
											<div class="memory-descr">rabbit</div>
											<span></span>
										</div>
										<div class="front">
											?
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="flip-container">
									<div class="flipper">
										<div class="back">
											<img src="img/cat.png" alt="cow" sizes="cover">
											<div class="memory-descr">cat</div>
											<span></span>
										</div>
										<div class="front">
											?
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="flip-container">
									<div class="flipper">
										<div class="back">
											<img src="img/rabbit.png" alt="cow" sizes="cover">
											<div class="memory-descr">rabbit</div>
											<span></span>
										</div>
										<div class="front">
											?
										</div>
									</div>
								</div>
							</li>


						</ul>
					</div>

				</div>
			</div>
