
			<div class="content-main">
				<div class="content-main__wrapper">
					<h2>slide 3 of 7</h2>
					<h3>Select the cat in the picture</h3>
					<div class="pictures-wrapper">
						<ul class="pictures-nav">
							<label><li><img src="img/cow.png" alt="cow"><input type="radio" name="pictures" value="1"><div class="checker"><i class="fa fa-check"></i></div></li></label>
							<label><li><img src="img/cat.png" alt="cat"><input type="radio" name="pictures" value="2"><div class="checker " id="correctPic"><i class="fa fa-check"></i></div></li></label>
							<label><li><img src="img/rabbit.png" alt="rabbit"><input type="radio" name="pictures" value="3"><div class="checker"><i class="fa fa-check"></i></div></li></label>
							
						</ul>
					</div>

				</div>
			</div>
