
			<div class="content-main">
				<div class="content-main__wrapper">
					<h2>slide 5 of 7</h2>
					<h3>Select the words in the correct order</h3>
					<div class="task-sent">Let's play chess? </div>
					<div class="task-wrap">
						<div class="task-word task-word-sent" id="sentence-word1"></div>
						<div class="task-word task-word-sent" id="sentence-word2"></div>
						<div class="task-word task-word-sent" id="sentence-word3"></div>
						<div class="task-word task-word-sent" id="sentence-word4"></div>
						
					</div>
					<ul id="answer-nav" class="answer-nav sentence-nav">
						<li>uns</li>
						<li>wo</li>
						<li>Schach</li>
						<li>spielen?</li>
						<li>Lass</li>
						<li>kaufen</li>
						<li>nimm</li>
						
					</ul>

				</div>
			</div>
