
			<div class="content-main">
				<div class="content-main__wrapper">
					<h2>slide 2 of 7</h2>
					<h3>Watch the video and answer the question</h3>
					<div class="video-wrapper">
						<iframe width="540" height="280" src="https://www.youtube-nocookie.com/embed/VMDAEvJJBoE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<div class="question">How is the car name?</div>
						<textarea name="carquestion" id="carquestion" cols="50" rows="1" placeholder="Enter your answer" ></textarea>
					</div>	

				</div>
			</div>
