
			<div class="content-main">
				<div class="content-main__wrapper">
					<h2>slide 7 of 7</h2>
					<h3>Translate the text and fill in the missing word with a microphone</h3>
					<div class="task-sent">Ich spreche kein Spanisch.</div>
					<div class="rel">
					<span class="circle"></span>
					<span class="circle2"></span>
					<div id="voice-record" class="voice-record"><i class="fa fa-microphone"></i></div>
					</div>
					<div class="task-wrap">

						<div class="task-ans">I don’t speak </div>
						<div class="task-word" id="voice-word"></div>
						<span>.</span>
					</div>
				</div>
			</div>
