
			<div class="content-main">
				<div class="content-main__wrapper">
					<h2>slide 4 of 7</h2>
					<h3>Select the missing word</h3>
					<div class="task-sent">I don’t speak German </div>
					<div class="task-wrap">
						<div class="task-ans">Ich spreche kein</div>
						<div class="task-word" id="task-word"></div>
						<span>.</span>
					</div>
					<ul class="answer-nav">
						<label><li><input type="radio" name="words" value="Deutsch">Deutsch</li></label>
						<label><li><input type="radio" name="words" value="Englisch">Englisch</li></label>
					</ul>

				</div>
			</div>

