﻿@using Xencore.Extentions
@model IEnumerable<Domain.Entities.HelpersEntity.UpcomingPastClassesTemplate>
    @{
        Layout = null;
    }
@if (Model.Any())
{
    <table id="myfullupcomingclasses" class="customcalendar" data-next-page="@Resources.Resource.NextPage" data-prev-page="@Resources.Resource.PreviousPage"
               data-info = "@Resources.Resource.showingstart" data-nodata="@Resources.Resource.Nodataavailableintable" data-empty="@Resources.Resource.infoEmpty">
        <thead>
        <tr>
            <th>@(User.IsInRole("Company")? Resources.Resource.studentsname: User.IsInRole("Presenter")? Resources.Resource.studentsname : Resources.Resource.teachersname)</th>
            <th>@Resources.Resource.LEVEL</th>
            <th>@Resources.Resource.Learning</th>
            <th>@Resources.Resource.dateofclass</th>
            <th>@Resources.Resource.LESSON_TYPE</th>
        </tr>
        </thead>
        @foreach (var item in Model.OrderBy(x=>x.SatrtDateTime))
        {
            <tr>
                <td><img src="@item.ProfilePicture"/>@item.Name</td>
                <td>@Resources.Resource.ResourceManager.GetString(item.Level)</td>
                <td>@Resources.Resource.ResourceManager.GetString(item.Language)</td>
                <td>@item.SatrtDateTime.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@item.Type</td>
            </tr>
        }
    </table>
}
else
{
    <div class="notification-grey-content">@Resources.Resource.Youhavenotclasses</div>
}
