﻿@using Xencore.Helpers

@{
    Layout = null;
}@*<section class="blue-bg-prof hidden-xs"></section>*@
<style>
    .select2.select2-container.select2-container--default.select2-container--disabled .select2-selection--single {
        background-color: #ccc!important
    }
</style>
<section class="admin teacher-profile cards-details new-card">
  <div class="content-wrap">
    <div class="bgc-content-wrap ft clearfix">
      <div class="col-xs-12">
          <a ng-click="backTo()" class="back-link"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Cards</a>
        <div class="field-wrap">
          <form class="slideForm">
            <label for="slideName">Name of slide:</label>
            <input type="text" ng-model="card.Title" name="slideName" placeholder="Name of slide" />
          </form>
        </div>
        @*<div class="field-wrap">
          <label for="lang">Choose a language</label>
          <select ui-select2 ng-model="card.Language" class="lang select-item" ng-init="initLang()" id="lng">
            @Html.GetTeachingLanguages();
          </select>
        </div>*@
        <div class="changeType">
          <span class="changeTitle">Type of slide</span>
          <ul>
              <li ng-class="{'active':card.Type==='0'}" ng-click="changeTypeOfCard('0')">
                  <i class="fa fa-microphone" aria-hidden="true"></i>
                  <span>Record voice</span>
              </li>
              <li ng-class="{'active':card.Type==='1'}" ng-click="changeTypeOfCard('1')">
                  <i class="fa fa-image" aria-hidden="true"></i>
                  <span>Image</span>
              </li>
              <li ng-class="{'active':card.Type==='7'}" ng-click="changeTypeOfCard('7')">
                  <i class="fa fa-play-circle" aria-hidden="true"></i>
                  <span>Video</span>
              </li>
              <li ng-class="{'active':card.Type==='3'}" ng-click="changeTypeOfCard('3')">
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>
                  <span>Quiz</span>
              </li>
              <li ng-class="{'active':card.Type==='5'}" ng-click="changeTypeOfCard('5')">
                  <i class="fa fa-font" aria-hidden="true"></i>
                  <span>Words</span>
              </li>
              <li ng-class="{'active':card.Type==='6'}" ng-click="changeTypeOfCard('6')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  <span>Sentence</span>
              </li>
              <li ng-class="{'active':card.Type==='8'}" ng-click="changeTypeOfCard('8')">
                  <i class="fa fa-th-large"></i>
                  <span>Memory games</span>
              </li>
              <li ng-class="{'active':card.Type==='12'}" ng-click="changeTypeOfCard('12')">
                  <i class="material-icons">translate</i>
                  <span>Translate</span>
              </li>
              <li ng-class="{'active':card.Type==='13'}" ng-click="changeTypeOfCard('13')">
                  <i class="material-icons">volume_up</i>
                  <span>Listen</span>
              </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12">
          <div class="make-quast">
              <card-quiz card="card" ng-if="card.Type === '3'"></card-quiz>
              <card-sentense card="card" ng-if="card.Type === '6'"></card-sentense>
              <card-words card="card" ng-if="card.Type === '5'"></card-words>
              <card-image card="card" ng-if="card.Type === '1'"></card-image>
              <card-video card="card" ng-if="card.Type === '7'"></card-video>
              <card-audio card="card" ng-if="card.Type === '0'"></card-audio>
              <card-memory card="card" ng-if="card.Type === '8'"></card-memory>

              <card-translate card="card" ng-if="card.Type === '12'"></card-translate>

              <card-listen card="card" ng-if="card.Type === '13'"></card-listen>

              <div class="make-quast all-slides" style="display: none;">
                  <span class="title">Name of lesson</span>
                  <h2>Lesson name number one</h2>
                  <div class="slides-wrap">
                      <span class="title">Slides</span>
                      <div class="slide-item">
                          <i class="fa fa-check-square-o"></i>
                          <span class="slide-type">Quiz</span>
                          <div class="item-descr">
                              <span class="slide-name">This is first slide title</span>
                              <span class="slide-autor">Artem Boichenko</span>
                              <span class="slide-date">January 24, 2018</span>
                          </div>
                      </div>
                      <div class="slide-item">
                          <i class="fa fa-microphone"></i>
                          <span class="slide-type">Quiz</span>
                          <div class="item-descr">
                              <span class="slide-name">This is first slide title</span>
                              <span class="slide-autor">Artem Boichenko</span>
                              <span class="slide-date">January 24, 2018</span>
                          </div>
                      </div>
                      <div class="slide-item">
                          <i class="fa fa-microphone"></i>
                          <span class="slide-type">Quiz</span>
                          <div class="item-descr">
                              <span class="slide-name">This is first slide title</span>
                              <span class="slide-autor">Artem Boichenko</span>
                              <span class="slide-date">January 24, 2018</span>
                          </div>
                      </div>
                      <a href="#" class="add-slide">
                          <div class="slide-descr">
                              <i class="fa fa-plus"></i>
                              <span>Add new slide</span>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="addMore">
                  <a class="defBtn" ng-click="addCard()">Add the slide</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

