﻿
@{
    Layout = null;
}@*<section class="blue-bg-prof hidden-xs"></section>*@

<section class="admin teacher-profile cards-info">
    <div class="content-wrap">
        <div class="bgc-content-wrap ft clearfix">
            <div class="col-xs-12">
                <!-- Button trigger modal -->
                <a  ng-click="changePage($event, '/carddetail')"  class="btn btn-primary btn-lg" >
                    Add to Card
                </a>
                <a href="#" class="btn btn-primary btn-lg">
                    Duplicate
                </a>
                <a href="#" class="btn btn-primary btn-lg">
                    Delete
                </a>
                <table dt-instance="dtInstance" datatable="ng" dt-options="dtOptions" id="table" class="cards-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Type card</th>
                            <th>Language</th>
                            <th>Upload date</th>
                            <th>Admin name</th>
                            <th>Statistics</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="card in cards">
                            <td class="name"><a ng-href="#/carddetail/{{card.Id}}">{{card.Title}}</a></td>
                            <td>{{card.Subject}}</td>
                            <td>{{card.TypeCardName}}</td>
                            <td>{{card.Language}}</td>
                            <td>{{card.DateTimeUtcString}}</td>
                            <td>{{card.UserName}}</td>
                            @*<td>{{card.Statistic}}</td>*@
                            <td><span>{{card.TotalAnswers}}</span>/<span class="green-sp">{{card.RightAnswers}}</span>/<span class="red-sp">{{card.WrongAnswers}}</span></td>
                        </tr>
                    </tbody>
                </table>
                @*<span class="table-count">Showing 10 of @Model.Count()</span>*@
            </div>
        </div>
    </div>
</section>
