﻿@using Xencore.Helpers
@{
  Layout = null;
}
<section class="admin teacher-profile cards-info">
  <div class="content-wrap">
    <div class="bgc-content-wrap ft clearfix">
      <div class="col-xs-12">
        <!-- Button trigger modal -->
        <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Add a new Chapter
        </a>
        <a href="#" class="btn btn-primary btn-lg">
          Edit
        </a>
        <a href="#" class="btn btn-primary btn-lg">
          Duplicate
        </a>
        @*<div class="sortBy">
          <form>
            <label for="sortBy-sel">Sort by</label>
            <select class="sortBy-sel">
              <option>Date</option>
              <option>Count</option>
            </select>
          </form>
        </div>*@
        <table id="table" class="chapter-table" > 
          <thead>
              <tr>
                  <th>Chapter name</th>
                  <th>Language</th>
                  <th>Level</th>
                  <th>Logo</th>
                  <th>Level</th>
                  <th>Creator name</th>
                  <th>Number of lessons</th>
              </tr>
          </thead>
          <tbody ui-sortable="sortableOptions" ng-model="chapters">
              <tr ng-repeat="chapter in chapters">
                  <td class="name"><a ng-href="#/lessons/{{chapter.Id}}">{{chapter.Name}}</a></td>
                  @*<td class="name"><a ng-href="#/carddetail/{{card.Id}}">{{chapter.Name}}</a></td>*@
                  <td>{{chapter.Language}}</td>
                  <td>{{chapter.Level}}</td>
                  <td><img class="upload-logo-btn" src={{chapter.IconSrc}} alt="" /></td>
                  <td>{{chapter.LevelName}}</td>
                  <td>{{chapter.Creator}}</td>
                  <td>{{chapter.CountOfLessons}}</td>
              </tr>
                       </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade chapter-modal discount-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel" >Add a new Chapter</h4>
      </div>
      <div class="modal-body">
          <form method="post" id="form1">
              <div class="form-group">
                  <label for="chapterName">Name of the chapter</label>
                  <input ng-model="chapterName" class="chapterName" />
              </div>
              <div class="form-group">
                  <label for="selectLang">Select language</label>
                  <select ui-select2 ng-model="model.Language" class="lang select-item" ng-init="initLang()" id="lng">
                      @Html.GetTeachingLanguages();
                  </select>
              </div>

              <div class="form-group logo-wrapper-chapter">
                  <label class="title">Logo</label>
                  <div>
                      <a ng-style="{'background-image':'url('+IconSrc+')'}" ng-click="uploadFileLogoTrigger()" class="upload-logo-btn">
                          <span ng-if="!IconSrc">+</span>
                      </a>
                  </div>
                  <input class="upload-logo-chapter-button upload-file-button" type="file" name="logoLesson" onchange="angular.element(this).scope().myFileLogo(this)">
              </div>
              <div class="form-group">
                  <label for="lvl">Select Level</label>
                  <select ui-select2 ng-model="model.Level" class="lang select-item" ng-init="initLevel()" id="lvl">
                      <option value="A1">
                          @Resources.Resource.Beginner
                      </option>
                      <option value="A2">
                          @Resources.Resource.UpperBeginner
                      </option>
                      <option value="B1">
                          @Resources.Resource.Intermediate
                      </option>
                      <option value="B2">
                          @Resources.Resource.UpperIntermediate
                      </option>
                      <option value="C1">
                          @Resources.Resource.Advanced
                      </option>
                      <option value="C2">
                          @Resources.Resource.UpperAdvanced
                      </option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="category">Select Level (Category)</label>
                  <select ui-select2 ng-model="model.Category" class="lang select-item" ng-init="initLevel()" id="category">
                      <option ng-repeat="level in levels" value="{{level.Id}}">
                          {{level.Name}}
                      </option>
                  </select>
              </div>
              <div class="form-group">
                  <a ng-click="addChapter()" class="btn btn-primary btn-lg">Add the chapter</a>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>