﻿@{
    ViewBag.Title = "Contact Open Languages, The Online Language School";
    ViewBag.Description = "Contact Us To Learn More About Our Customized Online Language Lessons. We Offer Classes To Individuals & Companies. Anywhere In The World. Start Today!";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<section class="contact-us">
    <img src="~/images/contact_us_bg.jpg" alt=""/>
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>@Resources.Resource.ContactUs</h1>
                    <p class="description">
                        @Resources.Resource.HaveYouEnyQuest
                    </p>
                </div>
            </div>
            <form id="send_message_form" method="POST" action="@Url.Action("SendMessage","ContactUs")">
                <div  class="serviceMessageMain js-service text-center for-modal">
                    <span></span>
                </div>
                <div class="row contact-form">
                    <div class="col-sm-4">
                        <input name="name" id="name_mes" type="text" required="" placeholder="@Resources.Resource.Name"
                               class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <input name="email" id="email_mes" type="text" pattern="[a-z0-9._%+-]+&#64[a-z0-9.-]+\.[a-z]{2,4}$" title="Invalid email" required="" placeholder="@Resources.Resource.Email1"
                               class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="subject" id="subject_mes" placeholder="@Resources.Resource.Subject" required="">
                    </div>
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="7" name="text" id="text_mes" placeholder="@Resources.Resource.Message"
                                  required></textarea>
                    </div>
                    <div class="col-sm-12">
                        <div class="custom-button">
                            <button type="submit" id="send_message">@Resources.Resource.SendMessage</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#send_message_form").validate({
                rules: {
                    name: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    subject: {
                        required: true
                    },
                    text: {
                        required: true
                    }
                },
                messages: {
                    name: { required: "@Resources.Resource.PlEnterYourName" },
                    email: { required: "@Resources.Resource.PlEnterEmailAddress" },
                    subject: { required: "@Resources.Resource.PleaseEnterYourSubject" },
                    text: { required: "@Resources.Resource.PleaseEnterMessage" }
                },
                errorElement: "div",
                errorPlacement: function (error, element) {
                    $(element).parents('form').find('.js-service span').append(error)
                    if ($(".serviceMessageMain.js-service").css('display') == 'none') {
                        $(".serviceMessageMain.js-service").fadeIn("slow")
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parent().addClass("has-error").removeClass("has-success");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parent().addClass("has-success").removeClass("has-error");
                },
                submitHandler: function (e) {
                    $(".serviceMessageMain.js-service").fadeOut("slow");
                    $.post("/ContactUs/SendMessage", $("#send_message_form").serialize()).always(function (res) {
                        $("input, textarea").val("");
                        $('#send_message_form .js-service').fadeIn('slow')
                        $('#send_message_form .js-service').find('span').text('@Resources.Resource.MessageSent')
                        setTimeout(function () {
                            $('#send_message_form .js-service').fadeOut('slow')
                        }, 3500);
                    });
                }
            });
        });
</script>
}
