﻿@model MvcApplicationPostFinanceLatest.Models.CreateRequestModel

@{
    ViewBag.Title = "Create";
}
@*<link href="~/Css/Api.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/my-account.css" />*@

@using (Html.BeginForm("Create", "Class", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <script src="~/Scripts/new/timezones.full.js"></script>
    <link href="~/Css/bootstrap-tagsinput.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-tagsinput.js"></script>
    
    <script src="~/Scripts/new/ckeditor.js"></script>
    <script src="~/Scripts/new/jquery.js"></script>
    @*<script src="~/Scripts/bootstrap-tagsinput-angular.js"></script>*@
    <script>
        CKEDITOR.replace('editor1');
    </script>
    <script>
        $(function() {
            $("#datetimepicker1").datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });
        });
        $(document).ready(function() {
            $('#timezone').timezones();
            $('textarea#editor1').ckeditor();
            $("#hiddenTimeZone").val($('#timezone').val());
            $("#hiddenPresenterControls").val($('#presenterControls').val());
            $("#hiddenAttendeeDefaultControls").val($('#attendeeControls').val());
            $("#hiddenLanguageCultureName").val($('#languageCultureName').val());
            $("#hiddenLevel").val($('#level').val());
        });


        function FunctionTimeZone() {
            $("#hiddenTimeZone").val($('#timezone').val());
        }

        function FunctionPresenterControls() {1
            $("#hiddenPresenterControls").val($('#presenterControls').val());
        }

        function FunctionAttendeeDefaultControls() {
            $("#hiddenAttendeeDefaultControls").val($('#attendeeControls').val());
        }

        function FunctionLanguageCultureName() {
            $("#hiddenLanguageCultureName").val($('#languageCultureName').val());
        }

        function FunctionLevel() {
            $("#hiddenLevel").val($('#level').val());
        }
        $(function() {
            $("#radioPerma").click(function() {
                $(".common").hide();
                $("#todo").hide();
                $(".field").show();
            });
            $("#radioCommon").click(function () {
                $(".common").show();
                $("#todo").hide();
                $(".field").show();
            });
            $("#radioRec").click(function () {
                $("#todo").show();
                $(".common").hide();
                $(".field").hide();
            });
        });
    </script>
    

    <div>
        <p>@Html.RadioButtonFor(model => model.Type, "common", new { @id = "radioCommon", @checked = "true" }) Common Class</p>
        <p>@Html.RadioButtonFor(model => model.Type, "permanent", new { @id = "radioPerma" }) Permanent Class</p>
        <p>@Html.RadioButtonFor(model => model.Type, "recurring", new { @id = "radioRec" }) Recurring Class</p>
    </div>
    <div id="todo" class="container" style="height:100%; display:none;">
        <div style="width: 100%; height: 100%; min-height: 100%; background-color: #990000; padding: 10px; color: #efefef; text-align:center">in work</div>
    </div>
    <div class="common">
        <label class="paytxt">StartTime</label>
        <p>@Html.HiddenFor(x => x.StartTime, new { @id = "hiddenStartTime" })</p>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" style="width: 300px">
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#datetimepicker1").on("dp.hide", function (e) {
            
            var fullDate = new Date(e.date._d);
            
            var twoDigitMonth = fullDate.getMonth() + 1 + "";
            if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;
            var twoDigitDate = fullDate.getDate() + "";
            if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
            var twoDigitHour = fullDate.getHours() + "";
            if (twoDigitHour.length == 1) twoDigitHour = "0" + twoDigitHour;
            var twoDigitMin = fullDate.getMinutes() + "";
            if (twoDigitMin.length == 1) twoDigitMin = "0" + twoDigitMin;
            var currentDate = twoDigitMonth + "/" + twoDigitDate + "/" + fullDate.getFullYear();
            var currentTime = twoDigitHour + ":" + twoDigitMin;
            var dateLocal = currentDate + " " + currentTime;
            
            $("#hiddenStartTime").val(fullDate.toString().split(' (')[0] + "|" + dateLocal);//.toUTCString().toGMTString()toISOString()
    });
    </script>
    <div class="field">
        <label class="paytxt">Title (General Topic)</label>
        <p>@Html.TextBoxFor(x => x.Title, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Specific Topic</label>
        <p>@Html.TextBoxFor(x => x.SpecificTopic, new { @style = "width: 300px" })</p>
    </div>
    <div class="common">
        <label class="paytxt">Time Zone</label>
        <p>@Html.HiddenFor(x => x.TimeZone, new { @id = "hiddenTimeZone" })</p>
        <select class="form-control" style="width: 300px" name="country" id="timezone" onchange="FunctionTimeZone()"></select>

        @*<select style="width: 300px" name="country" id="timezone" class="c-ddl" value="Asia/Kolkata" onchange=" FunctionTimeZone() ">
            <option vaalue="Asia/Kolkata">Asia/Kolkata</option>
            <option value="Afric/Blantyre">Africa/Blantyre</option>
            <option value="America/Creston">America/Creston</option>
        </select>*@
    </div>
    <div class="field">
        <label class="paytxt">Attendee Limit</label>
        <p>@Html.TextBoxFor(x => x.AttendeeLimit, new { @style = "width: 300px" })</p>
    </div>
    <div class="common">
        <label class="paytxt">Duration</label>
        <p>@Html.TextBoxFor(x => x.Duration, new {@style = "width: 300px"})</p>
    </div>
    <div class="field">
        <label class="paytxt">Level</label>
       @Html.HiddenFor(x => x.LevelId, new {@style = "width: 300px", @id="hiddenLevel"})
        <p>@Html.DropDownListFor(m => m.LevelId, Model.Levels, new { @id = "level", @onchange = "FunctionLevel()" })</p>
    @*<select style="width: 300px" name="country" id="level" class="c-ddl" onchange=" FunctionLevel() ">
            <option value="1">beginner</option>
            <option value="2">expert</option>
        </select>*@
</div>
    <div class="field">
        <label class="paytxt">Presenter Default Controls</label>
        <p>@Html.HiddenFor(x => x.PresenterDefaultControls, new { @id = "hiddenPresenterControls" })</p>
        <select style="width: 300px" name="country" id="presenterControls" class="c-ddl" value="audio, video" onchange=" myFunction() ">
            <option value="audio, video">audio, video</option>
            <option value="audio">audio</option>
            <option value="video">video</option>
        </select>
    </div>
    <div class="field">
        <label class="paytxt">Attendee Default Controls</label>
        <p>@Html.HiddenFor(x => x.AttendeeDefaultControls, new { @id = "hiddenAttendeeDefaultControls" })</p>
        <select style="width: 300px" name="country" id="attendeeControls" class="c-ddl" value="audio, video" onchange=" FunctionPresenterControls() ">
            <option vaalue="audio, video">audio, video</option>
            <option value="video">video</option>
            <option value="audio">audio</option>
        </select>
    </div>
    <div class="field">
        <label class="paytxt">Create Recording</label>
        <p>@Html.RadioButtonFor(model => model.CreateRecording, true, new { @checked = "true" }) Yes</p>
        <p>@Html.RadioButtonFor(model => model.CreateRecording, false) No</p>
        </div>
    <div class="field">
        <label class="paytxt">Language Culture Name</label>
        <p>@Html.HiddenFor(x => x.LanguageCultureName, new {@id = "hiddenLanguageCultureName"})</p>
        <p>@Html.DropDownListFor(m => m.LanguageId, Model.Languages, new { @id = "languageCultureName", @onchange = "FunctionLanguageCultureName()" })</p>
        @*<select style="width: 300px" name="country" id="languageCultureName" class="c-ddl" value="en-us" onchange=" FunctionLanguageCultureName() ">
            <option value="en-us">en-us</option>
            <option value="de">de</option>
        </select>*@
    </div>
    <div class="field">
        <label class="paytxt">Subjects</label>
        <p>@Html.HiddenFor(x => x.SubjectsStr, new { @id = "listAttendeeModel" })</p>
        <input type="text" class="tagInput" data-role="tagsinput" />
        <script>
            var str = "";
            function SendData() {
                var tags = $(".tagInput").tagsinput('items');
                var length = tags.length;
                for (var i = 0; i < length; i++) {
                    str += tags[i] + "~";
                }
                $("#listAttendeeModel").val(str);
                return true;
            };
        </script>
</div>
    <div class="field">
        <label class="paytxt">Description</label>
        <p>@Html.TextAreaFor(x => x.Description, new { @style = "width: 300px", @name="editor1", @id="editor1", @rows="10", @cols="80" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Image</label>
        <p>@Html.TextBoxFor(x => x.Image, new { @style = "width: 300px", @type = "file" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Document</label>
        <p>@Html.TextBoxFor(x => x.Document, new { @style = "width: 300px", @type = "file" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Audio</label>
        <p>@Html.TextBoxFor(x => x.Audio, new { @style = "width: 300px", @type = "file" })</p>
    </div>
    <div class="field">
        <input type="submit" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated animated" value="OK" onclick="SendData()">
    </div>

}
