﻿@using MvcApplicationPostFinanceLatest.Models
@model MvcApplicationPostFinanceLatest.ViewModel.ClassViewModel
@{
    var download = new DownloadRecordingRequestModel();
}
@{
    ViewBag.Title = "DownloadRecording";
}

@using (Html.BeginForm())
{
    <script>
        $(document).ready(function () {
            $("#hiddenRecordingFormat").val($('#recordingFormat').val());
        });

        function FunctionRecordingFormat() {
            $("#hiddenRecordingFormat").val($('#recordingFormat').val());
        }
    </script>
        @Html.DropDownList("classId", Model.Classes)
    <div class="field">
        <label class="paytxt">Recording Format</label>
        @Html.Hidden("recordingFormat", download.RecordingFormat, new { @id = "hiddenRecordingFormat" })
        <select style="width: 300px" name="country" id="recordingFormat" class="c-ddl" value="zip" onchange=" FunctionRecordingFormat() ">
            <option vaalue="zip">zip</option>
        </select>
    </div>
    <br /><input type="submit" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated animated" value="OK">
}
