﻿@model List<Entities.MyAccount.Entity.Class>

    @{
        ViewBag.Title = "GetAllClasses";
    }

    <h2>GetAllClasses</h2>
    <h3>Total Classes: @Model.Count</h3>
    <h3>English Classes: @Model.Count(x => x.LanguageId == 1)</h3>
    <h3>German Classes: @Model.Count(x => x.LanguageId == 2)</h3>
    <form method="get" action="@Url.Action("Search", "Class")">
        <div class="field">
            <input type="text" name="search" id="search" placeholder="Title..." />
            <button type="submit">search</button>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            var startDate = $('#hiddenStartTime').val() + ' UTC';
            var startDateArr = startDate.split('/');
            var newStartDate = new Date(startDateArr[0] + "/" + startDateArr[1] + "/" + startDateArr[2]);
            var dateToForm = newStartDate.toLocaleString().replace(",", "");
            $('#startTime').html(dateToForm);
        });
    </script>

    <table class="table-bordered">
        <th>Remove</th>
        <th>Recreate</th>
        <th>Title</th>
        <th>Start Time</th>
        <th>Time Zone</th>
        <th>Attendee Limit</th>
        <th>Attendees</th>
        <th>Duration</th>
        <th>Presenter Default Controls</th>
        <th>Attendee Default Controls</th>
        @*<th>Create Recording</th>*@
        <th>Language Culture Name</th>
        <th>Level</th>
        <th>Recording Url</th>
        @*<th>Is Recurring</th>*@
        <th>Presenter</th>
        <th>Presenter Url</th>
        @*<th>Return Url</th>
            <th>Status Ping Url</th>*@
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(x => item.StartTime, new { @id = "hiddenStartTime" })
                <td>@Html.ActionLink("remove", "Cancel", new { item.ClassID })</td>
                <td>@Html.ActionLink("recreate", "RecreateClass", new { item.ClassID })</td>
                <td>@item.Title</td>
                <td>@item.StartTime</td>
                <td>@item.TimeZone</td>
                <td>@item.AttendeeLimit</td>
                <td>@item.ReservedClasses.Count</td>
                <td>@item.Duration</td>
                <td>@item.PresenterDefaultControls</td>
                <td>@item.AttendeeDefaultControls</td>
                @*<td>@item.CreateRecording</td>*@
                <td>
                    @if (item.Languages != null)
                {
                        @item.Languages.Name.Split('|')[0]
                    }
                </td>
                <td>
                    @if (item.Levels != null)
                {
                        @item.Levels.Name.Split('|')[0]
                    }
                </td>
                <td><a href="@item.RecordingUrl">recording</a></td>
                @*<td>@item.IsRecurring</td>*@
                <td>
                    @if (item.Presenters != null && item.Presenters.PresenterEmail != null)
                {
                        @item.Presenters.Name
                    }
                </td>
                <td><a href="@item.PresenterUrl">link</a></td>
                @*<td><a>@item.ReturnUrl</a></td>
                    <td><a>@item.StatusPingUrl</a></td>*@
            </tr>
        }
    </table>
