﻿@model Entities.MyAccount.Entity.Class
@{
    ViewBag.Title = "GetClassData";
}

<h2>Get Class Data</h2>
<script>
    $(document).ready(function () {
        $('#textDescription').html($('#hiddenDescription').val());
        
        var startDate = $('#hiddenStartTime').val() + ' UTC';
        var startDateArr = startDate.split('/');
        var newStartDate = new Date(startDateArr[0] + "/" + startDateArr[1] + "/" + startDateArr[2]);
        var dateToForm = newStartDate.toLocaleString().replace(",", "");
        $('#startTime').html(dateToForm);
    });
</script>
@Html.HiddenFor(x => x.Description, new { @id = "hiddenDescription" })
@Html.HiddenFor(x => x.StartTime, new { @id = "hiddenStartTime" })
<table class="table-bordered">
    <tr><th>Id</th><td>@Model.ClassID</td></tr>
    <tr><th>Api Id</th><td>@Model.ClassApiId</td></tr>
    <tr><th>Class Master Id</th><td>@Model.ClassMasterID</td></tr>
    <tr><th>Creation Time</th><td>@Model.CreationDate</td></tr>
    <tr><th>Topic</th><td>@Model.Title</td></tr>
    <tr><th>Specific Topic</th><td>@Model.SpecificTopic</td></tr>
    <tr><th>Start Time</th><td><div id="startTime"></div></td></tr>
    <tr><th>Time Zone</th><td>@Model.TimeZone</td></tr>
    <tr><th>Attendee Limit</th><td>@Model.AttendeeLimit</td></tr>
    <tr><th>Attendees</th>  <td>@Model.ReservedClasses.Count</td></tr>
    <tr><th>Duration</th><td>@Model.Duration</td></tr>
    <tr><th>Presenter Default Controls</th><td>@Model.PresenterDefaultControls</td></tr>
    <tr><th>Attendee Default Controls</th><td>@Model.AttendeeDefaultControls</td></tr>
    <tr><th>Create Recording</th><td>@Model.CreateRecording</td></tr>
    <tr><th>Language Culture Name</th><td>@Model.LanguageCultureName.Split('|')[0]</td></tr>
    <tr><th>Level</th><td>@Model.Levels.Name.Split('|')[0]</td></tr>
    <tr><th>Recording Url</th><td><a href="@Model.RecordingUrl">@Model.RecordingUrl</a></td></tr>
    <tr><th>Is Recurring</th><td>@Model.IsRecurring</td></tr>
    <tr>
        <th>Presenter</th>
        <td>
            @if (Model.Presenters != null)
            {
                <p>Id: @Model.Presenters.Id</p>
                <p>Name: @Model.Presenters.Name</p>
                <p>E-mail:<a>@Model.Presenters.PresenterEmail</a></p>
                     <p>Url:<a href="@Model.PresenterUrl">@Model.PresenterUrl</a></p>
                     <p>Co P. Url:<a href="@Model.CoPresenterUrl">@Model.CoPresenterUrl</a></p>
            }
        </td>
    </tr>
    <tr><th>Description</th><td><div id="textDescription"></div></td></tr>
    <tr><th>Image</th><td><img src="@Model.Image" width="400px" height="400px"/></td></tr>
    <tr><th>Document</th><td><a href="@Model.Document">@Model.Document</a></td></tr>
    
    
    
    
    
    

    <tr>
        <th>Attendees</th>
        <td>
            @if (Model.ReservedClasses != null)
            {
                foreach (var attendee in Model.ReservedClasses)
                {
                    <p>Attendee Id: @if (attendee.Attendees != null)
                                    {
                                        @Html.ActionLink(attendee.Attendees.AttendeeID.ToString(), "SeeDetails", "Attendee", new {attendee.Attendees.AttendeeID}, null)@:</p>
                                        <p>Name: @attendee.Attendees.FirstName @attendee.Attendees.LastName</p>
                                        @:<p>Email: @attendee.Attendees.Email
                                    }
                    </p>
                    <p>Url:<a href="@attendee.AttendeeUrl">@attendee.AttendeeUrl</a></p>
                    <p>------------------------------------------------</p>
                }
            }
        </td>
    </tr>
    

    @*<tr><th>Return Url</th><td>@Model.ReturnUrl</td></tr>
    <tr><th>Status Ping Url</th><td>@Model.StatusPingUrl</td></tr>*@
</table>
