﻿@{
    ViewBag.Title = "Index";
}

<h2>Index API</h2>
<ul>
    <li>
        @Html.ActionLink("Create", "Create")
    </li>
    <li>
        @Html.ActionLink("Get Data", "GetData")
    </li>
    <li>
        @Html.ActionLink("GetAllClasses", "GetAllClasses")
    </li>
    @*<li>
        @Html.ActionLink("Cancel", "Cancel")
    </li>*@
    <li>
        @Html.ActionLink("Modify", "Modify")
    </li>
    <li>
        @Html.ActionLink("DownloadRecording", "DownloadRecording")
    </li>
</ul>
