﻿@model MvcApplicationPostFinanceLatest.Models.CreateRequestModel

@{
    ViewBag.Title = "Recreate";
}

<h2>Recreate</h2>

@using (Html.BeginForm("RecreateClass", "Class", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <script src="~/Scripts/new/timezones.full.js"></script>
    <link href="~/Css/bootstrap-tagsinput.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-tagsinput.js"></script>
    <script src="~/Scripts/new/ckeditor.js"></script>
    <script src="~/Scripts/new/jquery.js"></script>

    <script>
        CKEDITOR.replace('editor1');
    </script>
    <script>
        $(function () {
            $("#datetimepicker1").datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });
        });
        $(document).ready(function () {
            var startDate = $('#hiddenStartTime').val() + ' UTC';
            var startDateArr = startDate.split('/');
            var newStartDate = new Date(startDateArr[1] + "/" + startDateArr[0] + "/" + startDateArr[2]);
            var dateToForm = newStartDate.toLocaleString().replace(",", "");
            $(".form-control").val(dateToForm);

            var fullDate = new Date(newStartDate);

            var twoDigitMonth = fullDate.getMonth() + 1 + "";
            if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;
            var twoDigitDate = fullDate.getDate() + "";
            if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
            var twoDigitHour = fullDate.getHours() + "";
            if (twoDigitHour.length == 1) twoDigitHour = "0" + twoDigitHour;
            var twoDigitMin = fullDate.getMinutes() + "";
            if (twoDigitMin.length == 1) twoDigitMin = "0" + twoDigitMin;
            var currentDate = twoDigitMonth + "/" + twoDigitDate + "/" + fullDate.getFullYear();
            var currentTime = twoDigitHour + ":" + twoDigitMin;
            var dateLocal = currentDate + " " + currentTime;

            $("#hiddenStartTime").val(fullDate.toString().split(' (')[0] + "|" + dateLocal);

            $('#timezone').timezones();
            $('#level').val($("#hiddenLevel").val());
            $('#timezone').val($("#hiddenTimeZone").val());
            $('textarea#editor1').ckeditor();
            $('#presenterControls').val($("#hiddenPresenterControls").val());
            $('#attendeeControls').val($("#hiddenAttendeeDefaultControls").val());
            $('#languageCultureName').val($("#hiddenLanguageCultureName").val());
            $('#level').val($("#hiddenLevel").val());
        });
        $(document).ready(function () {
            $("#hiddenTimeZone").val($('#timezone').val());
        });
        $(document).ready(function () {
            $("#hiddenPresenterControls").val($('#presenterControls').val());
        });
        $(document).ready(function () {
            $("#hiddenAttendeeDefaultControls").val($('#attendeeControls').val());
        });
        $(document).ready(function () {
            $("#hiddenLanguageCultureName").val($('#languageCultureName').val());
        });


        function FunctionTimeZone() {
            $("#hiddenTimeZone").val($('#timezone').val());
        }

        function FunctionPresenterControls() {
            $("#hiddenPresenterControls").val($('#presenterControls').val());
        }

        function FunctionAttendeeDefaultControls() {
            $("#hiddenAttendeeDefaultControls").val($('#attendeeControls').val());
        }

        function FunctionLanguageCultureName() {
            $("#hiddenLanguageCultureName").val($('#languageCultureName').val());
        }

        function FunctionLevel() {
            $("#hiddenLevel").val($('#level').val());
        }
    </script>
    <div class="field">
        <label class="paytxt">
            Class Id: @Model.GetType().GetProperty("ClassId").GetValue(Model)
            @Html.HiddenFor(x => x.ClassId, new { @id = "hiddenClassIs", @value = Model.GetType().GetProperty("ClassId").GetValue(Model) })
        </label>
    </div>
    <div class="field">
        <label class="paytxt">StartTime</label>
        <p>@Html.HiddenFor(x => x.StartTime, new { @id = "hiddenStartTime" })</p>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" style="width: 300px">
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $("#datetimepicker1").on("dp.hide", function (e) {
        var fullDate = new Date(e.date._d);

        var twoDigitMonth = fullDate.getMonth() + 1 + "";
        if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;
        var twoDigitDate = fullDate.getDate() + "";
        if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
        var twoDigitHour = fullDate.getHours() + "";
        if (twoDigitHour.length == 1) twoDigitHour = "0" + twoDigitHour;
        var twoDigitMin = fullDate.getMinutes() + "";
        if (twoDigitMin.length == 1) twoDigitMin = "0" + twoDigitMin;
        var currentDate = twoDigitMonth + "/" + twoDigitDate + "/" + fullDate.getFullYear();
        var currentTime = twoDigitHour + ":" + twoDigitMin;
        var dateLocal = currentDate + " " + currentTime;

        $("#hiddenStartTime").val(fullDate.toString().split(' (')[0] + "|" + dateLocal);
    });
    </script>
    <div class="field">
        <label class="paytxt">Title</label>
        <p>@Html.TextBoxFor(x => x.Title, new { @style = "width: 300px" })</p>
    </div>

    <div class="field">
        <label class="paytxt">Specific Topic</label>
        <p>@Html.TextBoxFor(x => x.SpecificTopic, new { @style = "width: 300px" })</p>
    </div>
    <div class="common">
        <label class="paytxt">Time Zone</label>
        <p>@Html.HiddenFor(x => x.TimeZone, new { @id = "hiddenTimeZone" })</p>
        <select class="form-control" style="width: 300px" name="country" id="timezone" onchange="FunctionTimeZone()"></select>
    </div>
    <div class="field">
        <label class="paytxt">AttendeeLimit</label>
        <p>@Html.TextBoxFor(x => x.AttendeeLimit, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Duration</label>
        <p>@Html.TextBoxFor(x => x.Duration, new { @style = "width: 300px" })</p>
    </div>
    <div class="field">
        <label class="paytxt">Level</label>
        @Html.HiddenFor(x => x.LevelId, new { @style = "width: 300px", @id = "hiddenLevel" })
        <p>@Html.DropDownListFor(m => m.LevelId, Model.Levels, new { @id = "level", @onchange = "FunctionLevel()" })</p>
        @*<select style="width: 300px" name="country" id="level" class="c-ddl" onchange=" FunctionLevel() ">
                <option value="1">beginner</option>
                <option value="2">expert</option>
            </select>*@
    </div>
    <div class="field">
        <label class="paytxt">PresenterDefaultControls</label>
        <p>@Html.HiddenFor(x => x.PresenterDefaultControls, new { @id = "hiddenPresenterControls" })</p>
        <select style="width: 300px" name="country" id="presenterControls" class="c-ddl" value="audio, video" onchange=" myFunction() ">
            <option value="audio, video">audio, video</option>
            <option value="audio">audio</option>
            <option value="video">video</option>
        </select>
    </div>
    <div class="field">
        <label class="paytxt">AttendeeDefaultControls</label>
        <p>@Html.HiddenFor(x => x.AttendeeDefaultControls, new { @id = "hiddenAttendeeDefaultControls" })</p>
        <select style="width: 300px" name="country" id="attendeeControls" class="c-ddl" value="audio, video" onchange=" FunctionPresenterControls() ">
            <option vaalue="audio, video">audio, video</option>
            <option value="video">video</option>
            <option value="audio">audio</option>
        </select>
    </div>
    <div class="field">
        <label class="paytxt">CreateRecording</label>
        <p>@Html.RadioButtonFor(model => model.CreateRecording, true) Yes</p>
        <p>@Html.RadioButtonFor(model => model.CreateRecording, false) No</p>
    </div>
        <div class="field">
            <label class="paytxt">Language Culture Name</label>
            <p>@Html.HiddenFor(x => x.LanguageCultureName, new { @id = "hiddenLanguageCultureName" })</p>
            <p>@Html.DropDownListFor(m => m.LanguageId, Model.Languages, new { @id = "languageCultureName", @onchange = "FunctionLanguageCultureName()" })</p>

        </div>
        <div class="field">
            <label class="paytxt">Subjects</label>
            <p>@Html.HiddenFor(x => x.SubjectsStr, new { @id = "listAttendeeModel" })</p>
            <input type="text" class="tagInput" data-role="tagsinput" />
            <script>
                var str = $("#listAttendeeModel").val().split('~');
                var tags = $(".tagInput").tagsinput('items');
                var length = str.length;
                    for (var i = 0; i < length; i++) {
                        tags.add(str[i]);
                    }

                var resultStr = "";
                function SendData() {
                    var tags = $(".tagInput").tagsinput('items');
                    var length = tags.length;
                    for (var i = 0; i < length; i++) {
                        resultStr += tags[i] + "~";
                    }
                    $("#listAttendeeModel").val(resultStr);
                    return true;
                };
            </script>
        </div>
        <div class="field">
            <label class="paytxt">Description</label>
            <p>@Html.TextAreaFor(x => x.Description, new { @style = "width: 300px", @name = "editor1", @id = "editor1", @rows = "10", @cols = "80" })</p>
        </div>
        <div class="field">
            <label class="paytxt">Image</label>
            <p>@Html.TextBoxFor(x => x.Image, new { @style = "width: 300px", @type = "file" })</p>
        </div>
        <div class="field">
            <label class="paytxt">Document</label>
            <p>@Html.TextBoxFor(x => x.Document, new { @style = "width: 300px", @type = "file" })</p>
        </div>
        <div class="field">
            <input type="submit" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated animated" value="OK" onclick="SendData()">
        </div>
}