﻿@model IEnumerable<Domain.Entities.FAQQuestions>
@{
    ViewBag.Title = "Learn More About Open Languages, The Online Language School";
    ViewBag.Description = "You Want To Learn A Language Online, But Have Some Questions? Click Here To Learn More About Open Languages, The Online Language School.";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section Jsonld{
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org/",
        "@@type": "WebPage",
        "alternativeHeadline":"FAQ - OpenLanguages Online",
        "url": "http://www.openlanguages.com/faq",
        "description":"Have any questions? Drop us a line. We are here to help 24 hours a day, 7 days a week.",
        "primaryImageOfPage":{
        "url":"http://www.openlanguages.com/images/FAQ.jpg",
        "fileFormat":"jpg",
        "caption":"background"
        },
        "mainContentOfPage":{
        "description":"Have any questions? Drop us a line. We are here to help 24 hours a day, 7 days a week.",
        "url":"http://www.openlanguages.com/faq"
        }
        }
    </script>
}
<section class="faq">
    <img class="img-bg" src="~/images/FAQ.jpg" alt="" />
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>FAQ</h1>
                    <p class="description">
                        @Resources.Resource.HaveYouEnyQuest
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="serviceMessageMain js-service text-center mar-t-40">
                        <span></span>
                    </div>
                    <div class="panel-group accordion" id="accordion">
                        @foreach (var quest in Model)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                           href="#@quest.Id">
                                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                            @quest.Question
                                        </a>
                                    </h4>
                                </div>
                                <div id="@quest.Id" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      
                                        <div class="text-1">
                                            <p>
                                                @quest.Answer
                                            </p>
                                        </div>
                                        <div class="text-1">
                                            <p class="half-width hidden-xs">
                                                @Resources.Resource.HaveMoreQuestion<span class="request"> @Resources.Resource.SubmitARequest</span>
                                            </p>
                                            <p class="half-width pull-right" data-id="@quest.Id">
                                                @Resources.Resource.ThisArticleHelpful
                                                <i class="fa fa-thumbs-o-up thumbs-up" aria-hidden="true"></i>
                                                <i class="fa fa-thumbs-o-down thumbs-down" aria-hidden="true"></i>
                                                <span class="helpful">
                                                    <span class="isHelp">@quest.IsHelpCount</span>
                                                     @Resources.Resource.Out 
                                                    <span class="isCount">@Html.Raw(quest.IsHelpCount + quest.IsNotHelpCount)</span> 
                                                    @Resources.Resource.helpful
                                                </span>
                                            </p>
                                        </div>
                                        <div class="comments">
                                            @*@foreach (var comment in quest.Commentses)
                                            {
                                                <p class="comments-title">@Resources.Resource.Comments:</p>
                                                <p class="name">Sal Nguyen<span class="date">@comment.CreateDate.ToString("D")</span></p>
                                                <p class="text-comment">
                                                    @comment.Comment
                                                </p>
                                            }*@

                                        </div>
                                        <div class="faq-form hidden-xs">
                                            <div class="prev-page">
                                                <i class="fa fa-angle-left " aria-hidden="true"></i>
                                            </div>
                                            @using (Html.BeginForm("FAQ", "Faq", FormMethod.Post, new { @class = "subject", @id = "faq-form", enctype = "multipart/form-data" }))
                                            {
                                                <div class="serviceMessageMain js-service for-modal text-center">
                                                    <span></span>
                                                </div>
                                                <div class="row mar-l-0">
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                       
                                                        <div class="row">
                                                            <div class="col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <label for="email">@Resources.Resource.Email1</label>
                                                                    <input name="Email" type="email" class="form-control" id="email"
                                                                           placeholder="@Resources.Resource.EnterYourEmail">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-xs-12">
                                                                <div class="form-group mar-r-0">
                                                                    <label for="subject">@Resources.Resource.Subject</label>
                                                                    <input name="Subject" type="text" class="form-control"
                                                                           id="subject"
                                                                           placeholder="@Resources.Resource.EnterYourSubject">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group for-text-area">
                                                                    <label for="message">@Resources.Resource.descriptionForFAQ</label>
                                                                    <textarea name="Description" id="message" placeholder="@Resources.Resource.EnterYourDescription"
                                                                              class="form-control" rows="6"></textarea>
                                                                    <p class="info-text">
                                                                        @Resources.Resource.DeatilRequest
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <div class="for-drag-drop hidden-sm hidden-xs">
                                                            <p class="for-img-file">
                                                                <span class="dropedFile">@Resources.Resource.DropFileOr</span>
                                                                <label class="upload-photo" for="upload-photo">
                                                                    @Resources.Resource.AddFile
                                                                </label>
                                                                <input name="File" accept="image/*,.pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="upload-photo" class="hidden" type="file">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown col-sm-6 col-xs-6 sm-upload visible-xs visible-sm hidden-md hidden-lg">
                                                        <label class="upload-photo" for="upload-photo">

                                                            @Resources.Resource.AddFile
                                                        </label>
                                                        <input type="file" name="File" accept="image/*,.pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" hidden />
                                                        <input name="FaqQuestionId" hidden value="@quest.Id">
                                                    </div>
                                                    <div class="col-sm-6 col-xs-6">
                                                        <div class="custom-button">
                                                            <button class="submitSequest" type="submit">@Resources.Resource.Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.accordion').on('hidden.bs.collapse', toggleChevron);
            $('.accordion').on('shown.bs.collapse', toggleChevron);
            $('.request').click(function () {
                $(this).parents('.panel-body').find('.faq-form').addClass('visible');
                $(this).parents('.panel-body').css('min-height', '353px').attr('data-height','353');
            });
            $('.prev-page').click(function () {
                $(this).parents('.panel-body').find('.faq-form').removeClass('visible');
                $(this).parents('.panel-body').css('min-height', 'auto');
            });
            $('.accordion .panel-default:first-child .collapse').addClass('in').attr('aria-expanded', 'true').prev().addClass('open').find('.panel-title i').removeClass('fa-plus-square-o').addClass('fa-minus-square-o');
            var windowWidth = $(window).width();
            if (windowWidth < 1200) {
                $('.request').click(function () {
                    $(this).parents('.panel-body').css('min-height', '363px').attr('data-height', '363');
                });
            }
        });

        function toggleChevron(e) {
            var heading = $(e.target).prev();
            heading.toggleClass('open');
            $(e.target)
                .prev('.panel-heading')
                .find("i")
                .toggleClass('fa-plus-square-o fa-minus-square-o');
        }

    </script>
    <script>
        var activeQuestion;
        var maxFileSize = 4194304;
        $(document).ready(function () {
            $("#faq-form").validate({
                rules: {
                    Email: {
                        required: true,
                        email: true
                    },
                    Subject: {
                        required: true,
                        minlength: 3
                    },
                    Description: {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    Subject: {
                        required: "@Resources.Resource.Pleaseaddyoursubject",
                        minlength: "@Resources.Resource.Yoursubjectmustbe3",
                    },
                    Email: "@Resources.Resource.EnterValidEmail",
                    Description: {
                        required: "@Resources.Resource.AddYourSubscription",
                        minlength: "@Resources.Resource.Yourdescriptionmustbe6"
                    }
                },
                errorElement: "div",
                errorPlacement: function (error, element) {
                    $(element).parents('form').find('.js-service span').append(error)
                    if ($("#faq-form .js-service").css('display') == 'none') {
                        $("#faq-form .js-service").fadeIn("slow")
                        //var errorHeight = ;
                        //var curHeight = $(element).parents('.panel-body').height();


                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parent().addClass("has-error").removeClass("has-success");
                    if ($("#faq-form .js-service").css('display') == 'none') {
                        $("#faq-form .js-service").fadeIn("slow")
                        //$(element).parents('.panel-body').css('min-height', $(element).parents('form').find('.js-service')[0].offsetHeight + $(element).parents('.panel-body').attr('data-height') + 'px');
                        setTimeout(function () {
                            $(element).parents('.panel-body').css('min-height', 363 + $(element).parents('form').find('.js-service')[0].offsetHeight + 'px');
                        }, 10);
                    }
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parent().addClass("has-success").removeClass("has-error");

                    console.log($('#faq-form .has-error').length);
                    if ($('#faq-form .has-error').length == 0) {
                        $("#faq-form .js-service").fadeOut('slow')
                        setTimeout(function () {
                            $(element).parents('.panel-body').css('min-height', 363 + $(element).parents('form').find('.js-service')[0].offsetHeight + 'px');
                        }, 10);
                    }
                },
                submitHandler: function (e) {
                    e.submit();
                }
            });
            var request = "@ViewBag.Request";
            if (request)
            {
                $('.faq .js-service').fadeIn('slow')
                //$('.faq .js-service').find('span').html('<img class="" src="/Images/iconMessages/Icon3.png"  alt="" />' + request)
                $('.faq .js-service').find('span').html('<img class="" src="/Images/iconMessages/Icon3.png"  alt="" /> @Resources.Resource.YourReqWasSendSuccessul')
                setTimeout(function () {
                    $('.faq .js-service').fadeOut('slow')
                }, 3500);
            }
            var addFile = $(".for-drag-drop");
            if (typeof (window.FileReader) == 'undefined') {
                alert("Your browser not support drag and drop files.");
            } else {
                addFile.each(function (e, elem) {
                    elem.ondragover = function () {
                        $(this).attr('style','background-color:blue');
                        return false;
                    };

                    elem.ondragleave = function () {
                        $(this).removeAttr('style');
                        return false;
                    };
                    elem.ondrop = function (event) {
                        event.preventDefault();
                        $(this).removeAttr('style');
                        var file = event.dataTransfer.files[0];
                        var result = validateFile(file);
                        if (result === "OK") {
                            var fileName = file.name;
                            $(".dropedFile").text(fileName);
                            $("input:file").prop("files", event.dataTransfer.files);

                        } else {
                            alert(result);
                            $(this).val("");
                        }
                    };
                });
            }
            $(".addFile").click(function () {
                $(this).parent().siblings("input").trigger("click");
            });
            $("input:file").change(function () {
                if (!this.files[0]) return;
                var result = validateFile(this.files[0]);
                if (result === "OK") {
                    var fileName = this.files[0].name;
                    $(".dropedFile").text(fileName);
                } else {
                    alert(result);
                    $(this).val("");
                }
            });
            //$(".submitSequest").click(function () {
            //    var form = $(this).parents("form");
            //    var email = form.find("input[name='Email']");
            //    var subject = form.find("input[name='Subject']");
            //    var description = form.find("textarea[name='Description']");
            //    var flag = true;
            //    if (!email.val() || !email.val().match(Patterns.email)) {
            //        email.css("border-color", "#f00");
            //        flag = false;
            //    } else email.css("border-color", "#ccc");
            //    if (!subject.val()) {
            //        subject.css("border-color", "#f00");
            //        flag = false;
            //    } else subject.css("border-color", "#ccc");
            //    if (!description.val()) {
            //        description.css("border-color", "#f00");
            //        flag = false;
            //    } else description.css("border-color", "#ccc");
            //    return flag;
            //});

            $(".fa-thumbs-o-up").click(function () {
                var id = $(this).parent().data("id");
                var result = validateThumbs(id);
                if (!result.isValid)
                    return;
                thumb(id, true);
                pushThumb(result.stor, id);
                ThumbIncrement(this, true);
            });
            $(".fa-thumbs-o-down").click(function () {
                var id = $(this).parent().data("id");
                var result = validateThumbs(id);
                if (!result.isValid)
                    return;
                thumb(id, false);
                pushThumb(result.stor, id);
                ThumbIncrement(this, false);
            });
        });

        function ThumbIncrement(th, isHelpp) {
            var isHelp = $(th).siblings(".helpful").children(".isHelp");
            var isCount = $(th).siblings(".helpful").children(".isCount");
            var isHelpIncrement = parseInt(isHelp.text());
            var isCountIncrement = parseInt(isCount.text());
            isHelp.text(isHelpp ? ++isHelpIncrement : isHelpIncrement);
            isCount.text(++isCountIncrement);
        }

        function pushThumb(stor, id) {
            stor.push(id);
            localStorage.setItem("thumbs", stor);
        }

        function validateThumbs(id) {
            var stor = localStorage.getItem("thumbs");
            if (stor) {
                stor = stor.split(",");
                for (var i = 0; i < stor.length; i++) {
                    if (parseInt(stor[i]) === id) {
                        alert("AlreadyVouted");
                        return { stor: stor, isValid: false };
                    }
                }
            } else
                return { stor: [], isValid: true };
            return { stor: stor, isValid: true };
        }

        function validateFile(file) {
            if (!file) return "null";
            if (file.size > maxFileSize) {
                $(".selectedFile").text("");
                return "File size must be not more 4 mb";
            }
            var math = Patterns.loadFile;
            if (!math.exec(file.type)) {
                $(".selectedFile").text("");
                return "Your file format must be folowing:jpg,jpeg,png,pdf,xls";
            }
            return "OK";
        }

        function thumb(id, isHelp) {
            $.ajax({
                type: 'post',
                data: { id: id, isHelp: isHelp },
                url: '@Url.Action("ThumbUpOrDown")',
                success: function (e) {
                    //Messager.show("Request");
                },
                error: function (e) {
                    alert(e.response);
                }
            });
        }

    </script>
}