﻿<div  class="modal fade learn-more" id="myModaLearnMore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4  class="modal-title">@Resources.Resource.Learnmoreaboutthebonus</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Resources.Resource.Afteramountoflessons</th>
                            <th>@Resources.Resource.BONUS (EUR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>50</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>100</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>500</td>
                            <td>150</td>
                        </tr>
                        <tr>
                            <td>1000</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>2000</td>
                            <td>1000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>