﻿<div class="col-sm-12">
    <div class="replenish-balance-step-1 newPaymentModal">
        <div class="modal fade" id="inputBalance" tabindex="-1" role="dialog"
             aria-labelledby="replenish-balance-step-1Label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                        </button>
                        <div>
                            <span class="circle active"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                        </div>
                        <h4 class="modal-title" id="gridSystemModalLabel">
                            <span ng-if="paymentConfig.member == 'packages'">@Resources.Resource.Getanewpackage.ToUpper()</span>
                            <span ng-if="paymentConfig.member == 'membership'  && !activeOrNot()">@Resources.Resource.Getnewsubscription.ToUpper()</span>
                            <span ng-if="paymentConfig.member == 'membership' && activeOrNot()" class="ttt">UPGRADE</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div ng-if="paymentConfig.member == 'packages'" class="ttt">@Resources.Resource.Chooseyourtypeofpackages:</div>
                        <div ng-if="paymentConfig.member == 'membership'" class="ttt">@Resources.Resource.Chooseyourtypeofsubscription:</div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div ng-click="paymentConfig.type='basic'" class="selector" >
                                    <input name="package" ng-checked="paymentConfig.type=='basic'" ng-model="paymentConfig.type"  type="radio" />
                                        <span class="span-all-wrap">
                                        <span class="span-wrap" ng-if="paymentConfig.member == 'packages'">@Resources.Resource.Packages</span>
                                        <span class="span-wrap" ng-if="paymentConfig.member == 'membership'">@Resources.Resource.Subscriptions</span>
                                        <br>
                                        <span>@Resources.Resource.basiclessons</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="selector" ng-click="paymentConfig.type='premium'" >
                                <input class="primuim-inpt" name="package" ng-checked="paymentConfig.type=='premium'" ng-model="paymentConfig.type"  type="radio" />
                                <span class="span-all-wrap">
                                    <span class="span-wrap" ng-if="paymentConfig.member == 'packages'" >@Resources.Resource.Packages</span>
                                    <span class="span-wrap" ng-if="paymentConfig.member == 'membership'" >@Resources.Resource.Subscriptions</span>
                                    <br>
                                    <span>@Resources.Resource.premiumlessons</span>
                                </span>
                            </div>
                        </div>
                    </div>
                        <div class="ttt title-wrap" ng-if="paymentConfig.member == 'packages'">@Resources.Resource.Chooseyourpackage:</div>
                        <div class="ttt title-wrap" ng-if="paymentConfig.member == 'membership'">Choose your subscription:</div>
                    <div class="row">
                        <div class="col-xs-12 pp" ng-repeat="(key, value) in shared.prices[paymentConfig.member][paymentConfig.type]">
                            <div ng-click="selectedPackage(key, value, $index);paymentConfig.selectedCountLessons = key" class="row pack" >
                                <div class="col-xs-4">
                                    <input ng-checked="paymentConfig.selectedCountLessons == key" name="pk" type="radio" /> {{key}} @Resources.Resource.basiclessons <span ng-if="paymentConfig.member == 'membership'">per month</span> <span ng-if="$index == 2" class="special">@Resources.Resource.Mostpopular</span> <span ng-if="$index == 3" class="special populer">@Resources.Resource.BestValue</span>
                                </div>
                                <div class="col-xs-2">
                                    {{paymentConfig.countLessons}} @Resources.Resource.minutes
                                </div>
                                <div class="col-xs-2">
                                    {{(value * shared.globalDelta/key).toFixed(2)}} {{shared.globalCurrency}} @Resources.Resource.perlesson
                                </div>
                                <div class="col-xs-2">
                                    @Resources.Resource.Validfor {{paymentConfig.validMonth}} <span ng-if="paymentConfig.validMonth == 1">@Resources.Resource.month</span><span ng-if="paymentConfig.validMonth>1">@Resources.Resource.months</span>
                                </div>
                                <div class="col-xs-2 class="global-currency">
                                    <span>{{(value * shared.globalDelta).toFixed(2)}} {{shared.globalCurrency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
