﻿<div class="col-sm-12">
    <div class="replenish-balance-step-1">
        <div class="modal fade" id="replenish-balance-step-3" tabindex="-1" role="dialog"
             aria-labelledby="replenish-balance-step-1Label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                        </button>
                        <div>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle active"></span>
                        </div>
                        <div data-dismiss="modal" aria-label="Close" class="go_back" data-target="#replenish-balance-step-2" data-toggle="modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Resources.Resource.Goback</div>
                        <h4 class="modal-title" id="gridSystemModalLabel">
                            @Resources.Resource.CONFIRMATIONOFPAYMENT
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="ttt">@Resources.Resource.Descriptionofpurchase:</div>
                            <div class="col-sm-12 totals">
                                <div><span class="pretitle">@Resources.Resource.NameofPackage: </span><span class="value">{{paymentConfig.countLess}} {{paymentConfig.type.toUpperCase()}} @Resources.Resource.lessons.ToUpper()</span> <span ng-if="paymentConfig.state == 2" class="special">@Resources.Resource.Mostpopular</span> <span ng-if="paymentConfig.state == 3" class="special populer">@Resources.Resource.BestValue</span></div>
                                <div><span class="pretitle">@Resources.Resource.Typeoflessons: </span><span class="value">{{paymentConfig.countLessons}} @Resources.Resource.minutes</span></div>
                                <div ng-if="!discount"><span class="pretitle">@Resources.Resource.Priceperlesson: </span><span class="value">{{(paymentConfig.price * shared.globalDelta / paymentConfig.countLess).toFixed(2)}} {{shared.globalCurrency}}</span></div>
                                <div ng-if="discount"><span class="pretitle">@Resources.Resource.Priceperlesson: </span><span class="value">{{((paymentConfig.price - replenish.eurBonus) * shared.globalDelta / paymentConfig.countLess).toFixed(2)}} {{shared.globalCurrency}}</span></div>
                                <div><span class="pretitle">@Resources.Resource.Validfor: </span><span class="value">{{paymentConfig.validMonth}} <span ng-if="paymentConfig.validMonth == 1">@Resources.Resource.month</span><span ng-if="paymentConfig.validMonth>1">@Resources.Resource.months</span></span></div>
                                <div><span class="pretitle">@Resources.Resource.Finallevelcertificate: </span><span class="value">@Resources.Resource.Yes</span></div>
                                <div><span class="pretitle">Private lessons: </span><span class="value">@Resources.Resource.Yes</span></div>
                                <div ng-if="selectedMethod.setectedType=='credit'"><span class="pretitle">@Resources.Resource.YourName: </span><span class="value">{{selectedMethod.username}}</span></div>
                                <div ng-if="selectedMethod.setectedType=='credit'"><span class="pretitle">@Resources.Resource.Cardforpayment: </span><span class="value">{{selectedMethod.card}}</span></div>
                                <div><span class="pretitle">Discount code: </span><input ng-class="{discValid: !discount,additional:replenish.additionalBonus, descValid2:discount }"  type="text" ng-model-options="{ debounce: 600 }" ng-model="replenish.additionalBonus"/></div>
                                <div ng-if="discount"><span class="pretitle">Discount: </span><span class="value">{{(replenish.eurBonus * shared.globalDelta).toFixed(2)}} {{shared.globalCurrency}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pad-top-0">
                        <div class="row">
                            <div ng-if="!discount" class="col-sm-5 totalprice">@Resources.Resource.TotalPriceofPackage: <span>{{(paymentConfig.price * shared.globalDelta).toFixed(2)}} {{shared.globalCurrency}}</span></div>
                            <div ng-if="discount" class="col-sm-5 totalprice">@Resources.Resource.TotalPriceofPackage: <span>{{((paymentConfig.price - replenish.eurBonus) * shared.globalDelta).toFixed(2)}} {{shared.globalCurrency}}</span></div>
                            <div class="col-sm-3 col-sm-offset-4">
                                <div ng-click="confirmPayment()" class="modal-custom-button next">@{ Html.RenderPartial("~/Areas/Dashboard/Views/NewMyAccount/Helpers/Loader.cshtml");}<span ng-show="!shared.isButtonLoading">@Resources.Resource.Confirm<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>