﻿<div class="col-sm-12">
    <div class="replenish-balance-step-1">
        <div class="modal fade" id="replenish-balance-step-4" tabindex="-1" role="dialog"
             aria-labelledby="replenish-balance-step-1Label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">
                            @Resources.Resource.Unsubscribe.ToUpper()
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="ttt div-wrap">
                                @Resources.Resource.Byconfirmingthis
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pad-top-0">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <div ng-click="unsubscribeConfirm()" class="modal-custom-button next subsc">@{ Html.RenderPartial("~/Areas/Dashboard/Views/NewMyAccount/Helpers/Loader.cshtml");}<span ng-show="!shared.isButtonLoading">@Resources.Resource.Unsubscribe</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>