﻿<div class="col-sm-12">
    <div class="replenish-balance-step-1">
        <div class="modal fade" id="replenish-balance-step-2" tabindex="-1" role="dialog"
             aria-labelledby="replenish-balance-step-1Label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                        </button>
                        <div>
                            <span class="circle"></span>
                            <span class="circle active"></span>
                            <span class="circle"></span>
                        </div>
                        <div data-dismiss="modal" aria-label="Close" class="go_back" data-target="#inputBalance" data-toggle="modal"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Resources.Resource.Goback</div>
                        <h4 class="modal-title" id="gridSystemModalLabel">
                            @Resources.Resource.ENTERPAYMENTINFORMATION
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="ttt modal-body-title">@Resources.Resource.Chooseyourpaymentmethod:</div>
                            <div class="col-sm-3">
                                <div class="block-wrap-pay"  ng-click="selectedMethod.setectedType='credit'">
                                    <input name="mayment-type" ng-checked="selectedMethod.setectedType=='credit'" ng-model="selectedMethod.setectedType"  type="radio" />
                                    <span class="span-all-wrap">
                                        <span class="span-wrap">@Resources.Resource.CreditCard</span>
                                        <img class="payimg" src="~/Images/Credit Card.png" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="block-wrap-pay" ng-click="selectedMethod.setectedType='paypal'" >
                                    <input  name="mayment-type" ng-checked="selectedMethod.setectedType=='paypal'"  type="radio" />
                                    <span class="span-all-wrap">
                                        <span class="span-wrap">PayPal</span>
                                        <img class="payimg" src="~/Images/paypal.png" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="selectedMethod.setectedType=='credit'" class="payment-type1">
                            <div class="ttt card-title">Card details:<img  src="~/img/stripe.png" /> </div>
                            <form id="creditform">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group standart-custom-input">
                                            <p class="text-title">@Resources.Resource.EnterYourName:</p>
                                            <input autocomplete="off" ng-model="selectedMethod.username" data-rule-required="true" type="text" name="name" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <p class="text-title">@Resources.Resource.CardNumber: (@Resources.Resource.Insertcardnumberwithoutspaces)</p>
                                            <div class="input-group input-for-visa">
                                                <input autocomplete="off" ng-model="selectedMethod.card" data-rule-required="true" data-rule-minlength="14" data-rule-number="true" name="number" type="text" class="form-control" />
                                                <div class="input-group-addon">
                                                    <img src="~/Images/Credit Card.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="text-title">@Resources.Resource.CardExpiryDate:</p>
                                        <div class="row expire-date">
                                            <div class="col-sm-6">
                                                <div class="form-group standart-custom-input">
                                                    <input ng-model="selectedMethod.month" data-rule-required="true" data-rule-number="true" data-rule-range="1,12" type="text" data-rule-maxlength="2" name="month" class="form-control" placeholder="01" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group standart-custom-input">
                                                    <input autocomplete="new-password" ng-model="selectedMethod.year" data-rule-required="true" data-rule-number="true" data-rule-range="2017,2030" type="text" data-rule-maxlength="4" data-rule-minlength="4" name="year" class="form-control" placeholder="2017" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group standart-custom-input">
                                                    <p class="text-title">
                                                        CVV:<span class="info-tooltip"
                                                                  data-placement="top"
                                                                  data-toggle="tooltip"
                                                                  title="@Resources.Resource.digitSecurityCode">
                                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                        </span>
                                                    </p>
                                                    <input autocomplete="new-password" ng-model="selectedMethod.cvc" name="cvc" type="password" data-rule-maxlength="4" data-rule-required="true" data-rule-number="true" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-show="selectedMethod.setectedType=='paypal'" class="payment-type2 ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ttt">@Resources.Resource.Information</div>
                                    <p class="text">
                                        @Resources.Resource.ForPayPalText
                                    </p>
                                </div>
                            </div>
                        </div>
