﻿<div class="col-sm-12">
    <div class="replenish-balance-step-1">
        <div class="modal fade" id="replenish-balance-step-2" tabindex="-1" role="dialog"
             aria-labelledby="replenish-balance-step-1Label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel2">
                            Top up balance
                            <span>@Resources.Resource.Step2</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-title">@Resources.Resource.ChoosePayMethod:</p>
                            </div>
                        </div>
                        <div class="row payment-type">
                            <div class="col-sm-4">
                                <div class="form-group ">
                                    <input ng-checked="selectedMethod.setectedType=='credit'" ng-click="selectedMethod.setectedType='credit'" type="radio" name="payment-type" id="radio1" />
                                    <label for="radio1">
                                        <span>@Resources.Resource.CreditCard</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input ng-checked="selectedMethod.setectedType=='paypal'" ng-click="selectedMethod.setectedType='paypal'" type="radio" name="payment-type" id="radio2" />
                                    <label for="radio2">
                                        <span>PayPal</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input ng-checked="selectedMethod.setectedType=='tenpay'" ng-click="selectedMethod.setectedType='tenpay'" type="radio" name="payment-type" id="radio3" />
                                    <label for="radio3">
                                        <span>TenPay</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div ng-show="selectedMethod.setectedType=='credit'" class="payment-type1">
                            <form id="creditform">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group standart-custom-input">
                                            <p class="text-title">@Resources.Resource.EnterYourName:</p>
                                            <input autocomplete="off" ng-model="selectedMethod.username" data-rule-required="true" type="text" name="name" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-title">@Resources.Resource.CardNumber:</p>
                                            <div class="input-group input-for-visa">
                                                <input autocomplete="off" ng-model="selectedMethod.card" data-rule-required="true" data-rule-minlength="14" data-rule-number="true" name="number" type="text" class="form-control"/>
                                                <div class="input-group-addon">
                                                    <img src="~/Images/slice-5.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="text-title">@Resources.Resource.CardExpiryDate:</p>
                                        <div class="row expire-date">
                                            <div class="col-sm-6">
                                                <div class="form-group standart-custom-input">
                                                    <input ng-model="selectedMethod.month" data-rule-required="true" data-rule-number="true" data-rule-range="1,12" type="text" data-rule-maxlength="2" name="month"  class="form-control" placeholder="01"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group standart-custom-input">
                                                    <input autocomplete="new-password" ng-model="selectedMethod.year" data-rule-required="true" data-rule-number="true" data-rule-range="2017,2030" type="text" data-rule-maxlength="4" data-rule-minlength="4"  name="year" class="form-control" placeholder="2017"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-6">
                                                <div class="form-group standart-custom-input">
                                                    <p class="text-title">
                                                        CVV:<span class="info-tooltip"
                                                                  data-placement="top"
                                                                  data-toggle="tooltip"
                                                                  title="@Resources.Resource.digitSecurityCode">
                                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                        </span>
                                                    </p>
                                                    <input autocomplete="new-password" ng-model="selectedMethod.cvc" name="cvc" type="password" data-rule-maxlength="4" data-rule-required="true" data-rule-number="true" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-show="selectedMethod.setectedType=='paypal'" class="payment-type2 ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-title">@Resources.Resource.Information</p>
                                    <p class="text">
                                        @Resources.Resource.ForPayPalText
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="selectedMethod.setectedType=='tenpay'" class="payment-type3 ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-title">@Resources.Resource.Information</p>
                                    <p class="text">
                                        @Resources.Resource.ForTanPayText
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pad-top-0">
                        <div class="row">
                            <div class="col-sm-6">
                                <div data-dismiss="modal" class="modal-custom-button cancel">@Resources.Resource.Cancel</div>
                            </div>
                            <div class="col-sm-6">
                                <div ng-click="createReplenish()" class="modal-custom-button next">@{ Html.RenderPartial("~/Areas/Dashboard/Views/NewMyAccount/Helpers/Loader.cshtml");}<span ng-show="!shared.isButtonLoading">@Resources.Resource.TopUp</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>