﻿<div class="col-sm-12">
    <div class="replenish-balance-step-1">
        <div class="modal fade" id="replenish-balance-step-7" tabindex="-1" role="dialog"
             aria-labelledby="replenish-balance-step-1Labe3">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 ng-if="succeeded" class="modal-title" id="gridSystemModalLabel3">
                            @Resources.Resource.SUCCESS
                        </h4>
                        <h4 ng-if="!succeeded" class="modal-title" id="gridSystemModalLabel3">
                            UNSUCCESS
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div ng-if="!succeeded" class="row bad-news">
                            <div class="col-sm-12">
                                <p class="step3-title bad-n">@Resources.Resource.badnews</p>
                                <p class="text-news">@Resources.Resource.Thetransactionwas</p>
                                <p class="text-news">@Resources.Resource.Pleasecheckthe</p>
                            </div>
                        </div>
                        <div ng-if="succeeded" class="row good-news">
                            <div class="col-sm-12">
                                <p class="step3-title good-n">@Resources.Resource.goodnews</p>
                                <p class="text-news">@Resources.Resource.Wewishyousuccessinyourlanguagelearning</p>
                            </div>
                            @*<div class="col-sm-12">
                                <p class="your-balance">Your purchase:</p>
                                <p class="ballance-val1">Type: {{purchase.type}}</p>
                                <p class="ballance-val2">Count lesons{{balance.Money}} EUR</p>
                                <p class="ballance-val2">Payment: {{replenish.eurbalance}} EUR</p>
                                <p class="ballance-val2">Bonus: {{replenish.eurBonus}} EUR</p>
                            </div>*@
                            @*<div class="col-sm-12">
                                <p class="your-balance under">@Resources.Resource.AMOUNT:</p>
                                <p class="ballance-val1">~ {{confirmedAmount}} {{shared.globalCurrency}}</p>
                            </div>*@
                            @*<div class="col-sm-12">
                                <p class="your-balance under">@Resources.Resource.BONUS:</p>
                                <p class="ballance-val1">~ {{confirmedBonus}} {{shared.globalCurrency}}</p>
                            </div>*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div data-dismiss="modal" class="modal-custom-button next">@Resources.Resource.Close</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
