﻿<div class="col-sm-12">
    <div class="replenish-balance-step-1">
        <div class="modal fade" id="replenish-balance-step-5" tabindex="-1" role="dialog"
             aria-labelledby="replenish-balance-step-1Labe3">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel3">
                            @Resources.Resource.SUCCESS
                        </h4>
                    </div>
                    <div class="modal-body">
                        @Html.Raw(Resources.Resource.Youhavesuccessfullybooked)
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div data-dismiss="modal" class="modal-custom-button next">@Resources.Resource.Close</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
