﻿<div class="col-sm-12">
    <div class="replenish-balance-step-1">
        <div class="modal fade" id="inputBalance" tabindex="-1" role="dialog"
             aria-labelledby="replenish-balance-step-1Label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">
                            @Resources.Resource.Topupbalance
                            <span>@Resources.Resource.Step1</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <p  class="text-title text-left">@Resources.Resource.Entertheamountofmoney:</p>
                                    <div class="input-group for-custom-input">
                                        <input disabled="disabled" value="{{selectedMethod.money}}" type="text" class="form-control" id="enterAmount">
                                        <div class="input-group-addon">{{shared.globalCurrency}}</div>
                                    </div>
                                </div>
                                <span class="new-cur">~ {{selectedMethod.eurMoney}} EUR</span>
                                <div>Type of price: {{selectedMethod.typeOfPrice}} </div>
                                <div>Type of lessons: {{selectedMethod.typeOfLessons}}</div>
                                <div>Count lessons: {{selectedMethod.countLessons}}</div>
                                <div>Duration of lesson: {{selectedMethod.timeOfLesson}} min</div>
                                <div>Operate: {{selectedMethod.duration}} months</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div data-dismiss="modal" class="modal-custom-button cancel">@Resources.Resource.Cancel</div>
                            </div>
                            <div class="col-sm-6">
                                <div ng-disabled="checkIsNone(replenish.replenishacount)" ng-click="nextStep('#inputBalance','#replenish-balance-step-2')" class="modal-custom-button next">@Resources.Resource.Next</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>