﻿
@using System.Globalization
@using DTO.Enums
@using Xencore.Helpers
@model Domain.Entities.IdentityEntities.CustomUser
@{
    Layout = null;
}
<section class="admin teacher-profile student-details">
    <div class="content-wrap">
        <div class="bgc-content-wrap clearfix">
            <div class="row student-info">
                <div class="col-xs-12">
                    <a href="#" class="backToT"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
                </div>
                <div class="col-xs-3">
                    <span class="student-name">@Model.Name</span>
                </div>
                <div class="col-xs-9 text-right change-wrap">
                    <a  class="change" data-toggle="modal" data-target="#myModalChange"><i class="fa fa-pencil" aria-hidden="true"></i> Change information</a>
                    <a href="#" class="delete"><i class="fa fa-times" aria-hidden="true"></i> Delete account</a>
                </div>
                <div class="col-xs-3">
                    <div class="row image-wrap">
                        <div class="col-xs-12 text-center">
                            <span class="property"><span class="value"><img src="@Model.ProfilePicture" /></span></span>
                        </div>
                        <div class="col-xs-12 text-center">
                            <a href="#" class="btn btn-success">Write Message</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="row infoes">
                        <div class="col-xs-6">
                            <span class="property">Id: </span><span class="value">@Model.Id</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="property">Currency: </span><span class="value">@Model.Currency</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="property">Email: </span><span class="value">@Model.Email</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="property">I want learn: </span><span class="value">@Model.CreationDateTime</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="property">I Learn: </span><span class="value">@Html.Raw(Html.DrawILearnAndISpeak(Model.Ilearn))</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="property">Creation Date: </span><span class="value">@Model.CreationDateTime</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="property">I Speak: </span><span class="value">@Html.Raw(Html.DrawILearnAndISpeak(Model.Ispeak))</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="property">Phone Number: </span><span class="value">@Model.PhoneNumber</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="property">Location: </span><span class="value">@Model.Location</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="property">Time zone: </span><span class="value">@Model.TimeZone</span>
                        </div>
                        @*<div class="col-xs-12">
                                <span class="property">Name: </span><span class="value">@Model.Name</span>
                            </div>*@
                        @*<div class="col-xs-12">
                                <span class="property">I want learn via: </span><span class="value">@Model.Skype</span>
                            </div>*@
                    </div>
                </div>
                <div class="col-xs-12">
                    <table class="table info-table" id="table">
                        <thead>
                            <tr>
                                <th>
                                    Payment Date
                                </th>
                                <th>Amount</th>
                                <th>Payment method</th>
                                <th>Lesson type</th>
                                <th>Package type</th>
                                <th>Count lessons</th>
                                <th>Left lessons</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var credit in Model.Credits.Where(x => x.Type != TypeLessons.Trial))
                            {
                                <tr>
                                    <td>@credit.StartDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                    <td>@(credit.Payment?.CurrenceAmount)</td>
                                    <td>@(credit.Payment?.PaymentMethod)</td>
                                    <td>@credit.Type.ToString()</td>
                                    <td>@credit.TypeOfPrice</td>
                                    <td>@credit.CountLessons</td>
                                    <td>@credit.LeftLessons</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade discount-modal" id="myModalChange" tabindex="-1" role="dialog" aria-labelledby="myModalChange">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" id="form1">
                        <div class="form-field">
                            <span>Profile photo</span>
                            <div class="image-wrap">
                                <img id="profilePicture" ng-src="{{currentUser.profilePicture}}" alt="" class="center-block img-responsive js-ava avat" />
                            </div>
                            <button>Upload/change profile photo</button>
                        </div>
                        <div class="form-field">
                            <div class="form-group">
                                <label for="email">ID</label>
                                <input value="" type="text" class="form-control" disabled="disabled" id="id" placeholder="94194124814184">
                            </div>
                            <div class="form-group">
                                <label for="email">@Resources.Resource.Email1</label>
                                <input value="{{currentUser.email}}" ng-model="currentUser.email" type="email" class="form-control" disabled="disabled" id="email"
                                       placeholder="Daniel-Jones@example.com">
                            </div>
                            <div class="form-group custom-tags-input">
                                <label for="tags">I learn</label>
                                <select ui-select2 ng-model="ilearn" multiple class="js-example-tags" id="tags">
                                    @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                </select>
                            </div>
                            <div class="form-group custom-tags-input">
                                <label for="tags2">@Resources.Resource.Speak</label>
                                <select ui-select2 ng-model="ispeak" multiple class="js-example-tags" id="tags2">
                                    @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="name">@Resources.Resource.Location</label>
                                <select  ui-select2 class="js-select2-location" id="location">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-group">
                                <label for="currency">@Resources.Resource.Currency</label>
                                <select ng-model="currentUser.currency" ui-select2 class="js-select2-location" id="currency">
                                    <option value="" ></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="name">I want learn via:</label>
                                <input  value="" type="text" class="form-control" id="wantLearn" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="email">Creation date:</label>
                                <input value=""  type="text" class="form-control" disabled="disabled" id="creationDate"
                                       placeholder="09/11/2017 18:53:36">
                            </div>
                            <div class="form-group">
                                <label for="phone">@Resources.Resource.Telephone</label>
                                <input ui-intltelinput full-number="customUser.fullPhone" location="currentUser.location" ng-model="currentUser.phone" type="tel" placeholder="" class="form-control phone" id="phone">
                            </div>
                            <div class="form-group">
                                <label for="timezone">@Resources.Resource.YourTimeZone</label>
                                <select ng-model="currentUser.timezone" ui-select2 class="js-select2-location" id="timezone">
                                    <option selected="selected"></option>
                                   
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>  $('.form-group select').select2();</script>