﻿@using Microsoft.Ajax.Utilities
@using Xencore.Helpers
@model List<Domain.Entities.IdentityEntities.CustomUser>
@{
    Layout = null;
    ViewBag.Title = "See All";
}

@*<section class="blue-bg-prof hidden-xs"></section>*@
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
<link href="~/Css/select2.min.css" rel="stylesheet" />
<section class="admin teacher-profile">
        <div class="content-wrap">
                <div class="bgc-content-wrap ft clearfix">
                    <div class="col-xs-12 table-mobile-wrap">
                        <table id="table"  class="attende-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>I learn</th>
                                    <th>I speak</th>
                                    <th>Sign up</th>
                                    <th>Phone</th>
                                    <th>I learn via</th>
                                    <th>CBC</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                var name = string.IsNullOrEmpty(item.Name) ? "Empty" : item.Name;
                                var email = item.Email ?? "Empty";
                                if (name.Length > 16)
                                {
                                    name = name.Substring(0, 15) + "...";
                                }
                                if (email.Length > 16)
                                {
                                    email = email.Substring(0, 15) + "...";
                                }
                                <tr>
                                    <td class="name"><a href="#/attendees/@item.Id">@name</a></td>
                                    <td>@email</td>
                                    <td>
                                        @Html.Raw(Html.DrawILearnAndISpeak(item.Ilearn))
                                    </td>
                                    <td>
                                        @Html.Raw(Html.DrawILearnAndISpeak(item.Ispeak))
                                    </td>

                                    <td>@item.CreationDateTime.ToString("dd.MM.yyyy")</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Skype</td>
                                    <td>@item.PayPalPaymentTransactions.Count(x => x.Approved)</td>
                                </tr>

                            }
                        </table>
                        <span class="table-count">Showing 10 of @Model.Count</span>
                    </div>
                </div>
                <div class="bgc-content-wrap myBoudget clearfix">
                    <div class="row  chart-chart">
                        <div class="col-xs-3 toe active">
                            <div style="cursor: pointer" ng-click="getData('daily',$event)">@Resources.Resource.daily</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div style="cursor: pointer" ng-click="getData('weekly',$event)">@Resources.Resource.Weekly</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div style="cursor: pointer" ng-click="getData('monthly',$event)">@Resources.Resource.Monthly</div>
                        </div>
                        <div class="col-xs-3 toe">
                            <div style="cursor: pointer" ng-click="getData('yearly',$event)">@Resources.Resource.Yearly</div>
                        </div>
                        <div class="col-xs-12 ch-chart" id="chart">
                            <canvas id="myChart" width="740" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
</section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/select2.full.min.js"></script>
