﻿@using Xencore.Extentions
<div class="modal lesson fade" id="my-words" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog pos-rel" role="document">
        <div class="modal-content first">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.Updatelessoninformation</h4>
            </div>
            <div class="modal-body">
                <input id="load-file" type="file" accept="image/*" style="display: none">
                <div class="drag-file col-sm-12">
                    <text>@Resources.Resource.Dropimagehere</text><span>@Resources.Resource.Addimage</span> <text id="uploaded" style="color: red; display: none">@Resources.Resource.Uploaded</text>
                </div>
                <div class="clearfix"></div>
                <div class="row word-form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label id="resourceword">
                                @Resources.Resource.Nameofthelesson
                            </label>
                            <input id="titleOfLesson" placeholder="@Resources.Resource.Empty" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group langs-words">
                            <label for="langOfLesson">@Resources.Resource.LANGUAGE.ToUpperFirstCharacter()</label>
                            <input readonly placeholder="@Resources.Resource.Empty" id="langOfLesson" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>@Resources.Resource.LEVEL.ToUpperFirstCharacter()</label>
                        <select id="levelOfLesson" class="js-select2-level select2-container">
                            <option value="Beginner">
                                @Resources.Resource.Beginner
                            </option>
                            <option value="UpperBeginner">
                                @Resources.Resource.UpperBeginner
                            </option>
                            <option value="Intermediate">
                                @Resources.Resource.Intermediate
                            </option>
                            <option value="UpperIntermediate">
                                @Resources.Resource.UpperIntermediate
                            </option>
                            <option value="Advanced">
                                @Resources.Resource.Advanced
                            </option>
                            <option value="UpperAdvanced">
                                @Resources.Resource.UpperAdvanced
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group langs-words">
                            <label for="dateOfLesson">@Resources.Resource.StartDate</label>
                            <input readonly placeholder="@Resources.Resource.Empty" id="dateOfLesson" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group langs-words">
                            <label for="subjectOfLesson">@Resources.Resource.Subject</label>
                            <input placeholder="@Resources.Resource.Empty" id="subjectOfLesson" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group langs-words">
                            <label for="descriptionOfLesson">@Resources.Resource.DESCRIPTION.ToUpperFirstCharacter()</label>
                            <textarea  placeholder="@Resources.Resource.Empty" id="descriptionOfLesson" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="custom-button save-new-field">
                    <button type="button" id="updateLesson">@Resources.Resource.Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
