﻿@using Xencore.Extentions
@model IEnumerable<Domain.Entities.IdentityEntities.CustomUser>
<link href="~/Css/main.min.css?v3.1.5" rel="stylesheet" />
@foreach (var user in Model)
{
    var iframeSrc = user.TeacherInfo.Link ?? "";
    <div class="col-sm-12 teachers-info col-xs-12">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-3 xs-pad-l-10">
                    <div class="user-logo" id="profilePicture" style='background-image: url("@(user.ProfilePicture ?? "/images/default-img.png")")'></div>

                    @*<img style="width: 115px; height: 115px; max-width: auto; min-height: auto" id="profilePicture" src="@(user.ProfilePicture ?? "/images/default-img.png")" alt="" class="center-block photo img-responsive" />*@
                    <p data-link="@(iframeSrc.Contains("http") ? iframeSrc : user.TeacherInfo.Link)" class="play-vid hidden-xs" data-toggle="modal" data-target="#teacher-video">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                        @Resources.Resource.Playvideo
                    </p>
                </div>
                <div class="col-sm-7 col-xs-9 xs-pad-0">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <p class="name" data-link="@Url.Action("GetTeacherDetails", "ListOfTeachers", new {id = user.Id})">
                                @user.Name
                            </p>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12 text-left">
                            <div class="for-left-border">
                                <p data-link="@(iframeSrc.Contains("http") ? iframeSrc : user.TeacherInfo.Link)" class="play-vid" data-toggle="modal" data-target="#teacher-video">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </p>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <div data-name="@user.Name" data-id="@user.Id" class="book-lesson-btn center-block passemail" data-toggle="modal" data-target="#SendMessage">
                                        <div class="icon-wrap">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div onclick="location.href = '@Url.Action("CreateChatIfNotExist", "Chat", new {id=user.Id})'" data-id="@user.Id" class="book-lesson-btn center-block passemail">
                                        <div class="icon-wrap">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                }
                                <div onclick="location.href='@Url.Action("GetTeacherDetails", "ListOfTeachers", new {id = user.Id})'" data-hastriallesson="@user.TeacherInfo.HasTrialLessonn.ToString().ToLower()" data-userid="@user.Id" class="book-lesson-btn center-block" data-toggle="modal" data-target="##modal-calendar">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    @Resources.Resource.BookLesson
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 teachSpeak">
                            <p class="teach-desc">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>@(user.Location?.Split(':')[0])</span>
                            </p>
                            <p class="teach-desc">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <span>@user.Ilearn.ISomethingToShort('|')</span>
                            </p>
                            <p class="teach-desc">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>@Resources.Resource.FreeTrialLesson</span>
                            </p>
                        </div>
                        <div class="visible-xs col-xs-12">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 teachSpeak">
                            <p class="teach-desc">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                <span>@Resources.Resource.Speak:</span>
                                <span>@user.Ispeak.ISomethingToShort('|')</span>
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="teach-desc">
                                <span>
                                    @Html.Raw((user.TeacherInfo.VideoDescription?.ToShortWithReady(Url.Action("GetTeacherDetails", "ListOfTeachers", new { id = user.Id }), 150)))
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="visible-sm visible-md visible-lg hidden-xs col-sm-3 col-xs-12 text-right">
                    <div class="for-left-border">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div data-name="@user.Name" data-id="@user.Id" class="book-lesson-btn center-block passemail" data-toggle="modal" data-target="#SendMessage">
                                <div class="icon-wrap">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div onclick="location.href = '@Url.Action("CreateChatIfNotExist", "Chat", new {id=user.Id})'" data-id="@user.Id" class="book-lesson-btn center-block passemail">
                                <div class="icon-wrap">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        }
                        <div onclick="location.href='@Url.Action("GetTeacherDetails", "ListOfTeachers", new {id = user.Id})'" data-hastriallesson="@user.TeacherInfo.HasTrialLessonn.ToString().ToLower()" data-userid="@user.Id" class="book-lesson-btn center-block" data-toggle="modal" data-target="##modal-calendar">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            @Resources.Resource.BookLesson
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
