﻿@using System.Threading
@{ 
    var lang = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0].ToLower();

}
<div class="buy-widget @lang">
    <span class="widget-title">@Resources.Resource.BuyLessons</span>
    <div class="widget-choice">
        <span>@Resources.Resource.Subscriptionorpackage</span>
        <div class="button-wrap">
            <a id="membership" class="button active member">@Resources.Resource.Subscriptions</a>
            <a id="packages" class="button member">@Resources.Resource.Packages</a>
        </div>
    </div>
    <div class="widget-choice">
        <span>@Resources.Resource.Chooseyourlessontype:</span>
        <div class="button-wrap">
            <a id="basic" class="button active type">@Resources.Resource.Basic</a>
            <a id="premium" class="button type">@Resources.Resource.Premium</a>
        </div>
    </div>
    <div class="widget-payments">
        <table id="payments_lessons" class="basic-membership">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var el in ViewBag.Prices.MembershipLessons["basic"])
            {
                <tr>
                    <td class="lesson-type"><a data-key="@el.Key" data-type="basic" data-member="membership" class="choice"></a><span>@el.Key @Resources.Resource.basiclessons / @Resources.Resource.permonth</span></td>
                    <td class="lesson-cost">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</td>
                </tr>
            }
            </tbody>
        </table>
        <table id="payments_lessons" class="premium-membership hidden">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var el in ViewBag.Prices.MembershipLessons["premium"])
            {
                <tr>
                    <td class="lesson-type"><a data-key="@el.Key" data-type="premium" data-member="membership" class="choice"></a><span>@el.Key @Resources.Resource.premiumlessons / @Resources.Resource.permonth</span></td>
                    <td class="lesson-cost">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</td>
                </tr>
            }
            </tbody>
        </table>
        <table id="payments_lessons" class="basic-packages hidden">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var el in ViewBag.Prices.PackagesLessons["basic"])
            {
                <tr>
                    <td class="lesson-type"><a data-key="@el.Key" data-type="basic" data-member="packages" class="choice"></a><span>@el.Key @Resources.Resource.basiclessons</span></td>
                    <td class="lesson-cost">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</td>
                </tr>
            }
            </tbody>
        </table>
        <table id="payments_lessons" class="premium-packages hidden">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var el in ViewBag.Prices.PackagesLessons["premium"])
                {
                    <tr>
                        <td class="lesson-type"><a data-key="@el.Key" data-type="premium" data-member="packages" class="choice"></a><span>@el.Key @Resources.Resource.premiumlessons</span></td>
                        <td class="lesson-cost">@el.Value.ToString("N") @(ViewBag.ObjectCurrentUser.Currency.Split(':')[0])</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="widget-submit">
        @if (User.Identity.IsAuthenticated)
        {
            <a id="buypackage" class="button buypackage">@Resources.Resource.Buy</a>
        }
        else
        {
            <a data-toggle="modal" data-target="#Login" class="button">@Resources.Resource.Buy</a>
        }
    </div>
</div>