﻿@model Domain.Entities.IdentityEntities.CustomUser
<div class="modal fade" id="SendMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">SEND MESSAGE TO @Model.Name</h4>
            </div>
            <div class="modal-body">
                <form id="ssMess">
                    <input type="hidden" name="teacherId" value="@Model.Id" />
                    <div class="row">
                        <div class="col-sm-6">
                            <input data-rule-required="true" data-rule-maxlength="100" name="name" id="nm" type="text" class="form-control custom-input" placeholder="Enter Your Name" />
                        </div>
                        <div class="col-sm-6">
                            <input data-rule-required="true" data-rule-maxlength="500" name="subject" id="sb" type="text" class="form-control custom-input" placeholder="Enter Subject of Message" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input data-rule-required="true" data-rule-email="true" name="email" data-rule-maxlength="50" id="mail" class="form-control custom-input" placeholder="Enter your Email" />
                        </div>
                        <div class="col-sm-12">
                            <textarea data-rule-required="true" data-rule-maxlength="4000" id="ms" name="text" style="height: 200px;" class="form-control custom-input" placeholder="Enter your Message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="custom-social-button google-color" data-dismiss="modal">@Resources.Resource.Close</div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="custom-social-button fb-color" id="sendMessage">@Resources.Resource.SendMessage</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
