﻿
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Bussiness";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var userId = Guid.Parse(User.Identity.GetUserId());
}
@section Head
{

}

<section class="business">
    <img class="business-img" src="~/Images/business-bg.jpg" alt="" />
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>BUSINESS PAGE</h1>
                    <p class="description">Become a partner for corporate language courses.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container business-content">
        <div class="row">
            <div class="col-sm-12">
                <p class="info">
                    Please give us a s much information regarding your company as possible so what we
                    can ensure an optimal service in return. Your data will of course be handled in a strictly confidential manner.
                </p>
            </div>
            <div class="col-sm-12">
                <p class="title">Your contact details</p>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" placeholder="Enter your Name" id="name" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" class="form-control" placeholder="Enter your Company name"
                                   id="company" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" placeholder="Enter your Email Address"
                                   id="email" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="phone">Telephone</label>
                                <input type="tel" class="form-control phone" id="phone">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <select class="js-select2-country" id="country">
                                <option value="AL">Alabama</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="timezone">Your timezone</label>
                            <select class="js-select2-location" id="timezone">
                                <option value="AL">Europe/Berlin</option>
                                <option value="WY">Zp/Balabino</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="targetLanguage">Target Language</label>
                            <select class="js-select2-target-language" id="targetLanguage">
                                <option value="AL">lang1</option>
                                <option value="WY">lang2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="choose-lvl">Level</label>
                            <select class="js-select2-level" id="choose-lvl">
                                <option></option>
                                <option value="en">Entry</option>
                                <option value="in">Intermediate</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mar-t-40">
                <p class="title">Employees with training requirements</p>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-sm-2 col-xs-4">
                                <div class="training active">Only me</div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="training">2-10</div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="training">11-50</div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="training">51-200</div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="training">201-500</div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <div class="training">>500</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mar-t-40">
                <p class="title">In Which languages are you interested?</p>
            </div>
            <div class="col-sm-12 check-group">
                <div class="checkbox-inline">
                        <input type="checkbox" id="en"> 
                    <label for="en">English</label>
                </div>
                <div class="checkbox-inline">
                        <input type="checkbox" id="fr"> 
                    <label for="fr">French</label>
                </div>
                <div class="checkbox-inline">
                        <input type="checkbox" id="de"> 
                    <label for="de">German</label>
                </div>
                <div class="checkbox-inline">
                        <input type="checkbox" id="gr"> 
                    <label for="gr">Greek</label>
                </div>
                <div class="checkbox-inline">
                        <input type="checkbox" id="it"> 
                    <label for="it">Italian</label>
                </div>
                <div class="checkbox-inline">
                        <input type="checkbox" id="br"> 
                    <label for="br">Portuguese</label>
                </div>
                <div class="checkbox-inline">
                        <input type="checkbox" id="sp"> 
                    <label for="sp">Spanish</label>
                </div>
                <div class="checkbox-inline">
                        <input type="checkbox" id="sw"> 
                    <label for="sw">Swedish</label>
                </div>
                <div class="checkbox-inline">
                        <input type="checkbox" id="ch"> 
                    <label for="ch">Chinese</label>
                </div>
                <div class="checkbox-inline">
                        <input type="checkbox" id="ru"> 
                    <label for="ru">Russian</label>
                </div>
            </div>
            <div class="col-sm-12 mar-t-20">
                <div class="form-group">
                    <label for="message">Your message</label>
                    <textarea class="form-control" rows="7" id="message"
                              placeholder="Enter your message"></textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="custom-button">
                    <button type="button">Send request</button>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <p class="support-title">
                    Our Service team awill be happy to help you. Call or write us if you have
                    any questions:
                </p>
                <p class="support-info">00800 241 241 24 <span>support@openlanguages.com</span></p>
                <p class="support-title">Our team is available:</p>
                <p class="support-info">Monday - Friday; 9:00-17:30 (Europe/Zurich timezone)</p>
            </div>
        </div>
    </div>
</section>
<section class="business-mid hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="title">Driving innovation for leading organizations in every industry</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example2.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example3.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example4.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example2.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example3.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example4.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example2.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example3.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example4.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example2.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example3.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example4.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example2.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example3.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example4.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example2.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example4.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example3.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example2.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example3.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example4.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example3.jpg" alt="">
            </div>
            <div class="col-sm-10percent">
                <img src="~/Images/logo-example2.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="business-bot">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <p class="title">Partners</p>
                <img class="img-responsive" src="~/Images/partners.jpg" alt="" />
            </div>
            <div class="col-sm-8 col-xs-12">
                <p class="title ">References</p>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <p class="title">Richard Richardson</p>
                            <span class="border-title"></span>
                            <p class="text ">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium,
                                totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                                beatae vitae
                            </p>
                        </div>
                        <div class="item">
                            <p class="title">Richard Richardson</p>
                            <span class="border-title"></span>
                            <p class="text ">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium,
                                totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                                beatae vitae
                            </p>
                        </div>
                        <div class="item">
                            <p class="title">Richard Richardson</p>
                            <span class="border-title"></span>
                            <p class="text ">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium,
                                totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                                beatae vitae
                            </p>
                        </div>
                        <div class="item">
                            <p class="title">Richard Richardson</p>
                            <span class="border-title"></span>
                            <p class="text ">
                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium,
                                totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                                beatae vitae
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{

<script>
    $(document).ready(function () {
        $('.training').click(function () {
            $('.training').removeClass('active');
            $(this).addClass('active');
        });

        $(".phone").intlTelInput({
            customPlaceholder: function (selectedCountryPlaceholder, selectedCountryData) {
                return "e.g. + " + selectedCountryData.dialCode + ' ' + selectedCountryPlaceholder;

            },
            utilsScript: "js/utils.js"
        });
        $(".js-select2-country").select2({
            minimumResultsForSearch: Infinity,
            templateResult: formatState,
            templateSelection: formatState,
            placeholder: "Select"
        });
        $(".js-select2-target-language").select2({
            minimumResultsForSearch: Infinity,
            templateResult: formatState,
            templateSelection: formatState
        });
        $(".js-select2-location").select2({
            minimumResultsForSearch: Infinity,
            placeholder: "Select timezone",
        });
        $(".js-select2-level").select2({
            minimumResultsForSearch: Infinity,
            placeholder: "Select level",
        });
    });
    function formatState(state) {
        if (!state.id) {
            return state.text;
        }
        var $state = $(
                '<span><img src="~/Images/flag/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
        );
        return $state;
    }
</script>

}
