﻿@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@using Xencore.Helpers
@model IEnumerable<Domain.Entities.IdentityEntities.CustomUser>
@{
    ViewBag.Title = "Find An Experienced Teacher To Learn A Language Online Today";
    ViewBag.Description = "Our language teachers are available for private lessons 24/7. Learn French, Spanish, English, German, Chinese, Russian, Italian, Portuguese, Greek or Swedish!";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var showModal = ViewBag.User == null ? "#signin" : "#buy-step-1";
}
@section Head
{
    <link href="~/Css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Css/nouislider.min.css" rel="stylesheet" />
    <link href="~/Css/dropdowns-enhancement.min.css" rel="stylesheet" />
}
<div class="modal fade" id="SendMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">SEND MESSAGE TO <span></span></h4>
            </div>
            <div class="modal-body">
                <form id="ssMess">
                    <input type="hidden" name="teacherId" value="" />
                    <div class="row">
                        <div class="col-sm-6">
                            <input data-rule-required="true" data-rule-maxlength="100" name="name" id="nm" type="text" class="form-control custom-input" placeholder="Enter Your Name" />
                        </div>
                        <div class="col-sm-6">
                            <input data-rule-required="true" data-rule-maxlength="500" name="subject" id="sb" type="text" class="form-control custom-input" placeholder="Enter Subject of Message" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input data-rule-required="true" data-rule-email="true" name="email" data-rule-maxlength="50" id="mail" class="form-control custom-input" placeholder="Enter your Email" />
                        </div>
                        <div class="col-sm-12">
                            <textarea data-rule-required="true" data-rule-maxlength="4000" id="ms" name="text"  class="form-control custom-input" placeholder="Enter your Message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="custom-social-button google-color" data-dismiss="modal">@Resources.Resource.Close</div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="custom-social-button fb-color" id="sendMessage">@Resources.Resource.SendMessage</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="findateacher">
    <section class="intro-teachers">
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1 pad-0">
                <img class="teachers-gif hidden-xs" src="~/Images/Illustration-for-Teacher-page.gif" alt="" />
                <p class="title">@Resources.Resource.Findateacher.ToUpper()</p>
                <p class="description hidden-xs">
                    @Resources.Resource.Findateacherfor
                </p>
            </div>
        </div>
    </section>
    <section class="hidden-xs">
        <div class="container-fluid blue-bg">
            <div class="intro-anim active"><i class="glyphicon glyphicon-chevron-up"></i></div>
        </div>
    </section>
    <section class="choose-for-teacher">
        <div class="container">
            <div class="row">
                <div class="col-sm-1-5">
                    <div class="form-group">
                        <label for="language">@Resources.Resource.Teaches</label>
                        <select class="js-select2-language" id="language">
                            <option value="any">@Resources.Resource.Any</option>
                            @Html.GetTeachingLanguages();
                        </select>
                    </div>
                </div>
                <div class="col-sm-1-5">
                    <div class="form-group">
                        <label for="speaks">@Resources.Resource.TeacherSpeaks</label>
                        <select class="js-select2-speaks" id="speaks">
                            <option value="any">@Resources.Resource.Any</option>
                            @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                        </select>
                    </div>
                </div>
                <div class="col-sm-1-5">
                    <div class="form-group">
                        <label for="search">@Resources.Resource.Search</label>
                        <input placeholder="@Resources.Resource.SearchPlaceholder" type="text" class="custom-search" id="search">
                    </div>
                </div>
                <div class="col-sm-1-5">
                    <div class="form-group group-check">
                        <label for="availability">@Resources.Resource.Availability</label>
                        <div class="button-drop" data-toggle="dropdown" class="dropdown-toggle" data-placeholder="false">@Resources.Resource.Availability<i class="fa fa-angle-down pull-right" aria-hidden="true"></i></div>
                        <ul class="dropdown-menu">
                            <li>
                                <input type="checkbox" id="tan" />
                                <label class="" for="tan">@Resources.Resource.TutoringAvailableNow</label>
                            </li>
                            <li class="text">@Resources.Resource.TimeofDay</li>
                            <li>
                                <input data-from="0" data-to="6" type="checkbox" id="test2" />
                                <label class="" for="test2">@Resources.Resource.LateNight<span>(00:00-05:59)</span></label>
                            </li>
                            <li>
                                <input data-from="6" data-to="12" type="checkbox" id="test3" />
                                <label class="" for="test3">@Resources.Resource.Morning<span>(06:00-11:59)</span></label>
                            </li>
                            <li>
                                <input data-from="12" data-to="18" type="checkbox" id="test4" />
                                <label class="" for="test4">@Resources.Resource.Afternoon<span>(12:00-17:59)</span></label>
                            </li>
                            <li>
                                <input data-from="18" data-to="0" type="checkbox" id="test5" />
                                <label class="" for="test5">@Resources.Resource.Evening<span>(18:00-23:59)</span></label>
                            </li>
                            <li class="text">@Resources.Resource.DaysoftheWeek</li>
                            <li data-weeknumber="2">
                                <input type="checkbox" id="test6" />
                                <label class="" for="test6">@Resources.Resource.Monday</label>
                            </li>
                            <li data-weeknumber="3">
                                <input type="checkbox" id="test9" />
                                <label class="" for="test9">@Resources.Resource.Tuesday</label>
                            </li>
                            <li data-weeknumber="4">
                                <input type="checkbox" id="test7" />
                                <label class="" for="test7">@Resources.Resource.Wednesday</label>
                            </li>
                            <li data-weeknumber="5">
                                <input type="checkbox" id="test10" />
                                <label class="" for="test10">@Resources.Resource.Thursday</label>
                            </li>
                            <li data-weeknumber="6">
                                <input type="checkbox" id="test8" />
                                <label class="" for="test8">@Resources.Resource.Friday</label>
                            </li>
                            <li data-weeknumber="7">
                                <input type="checkbox" id="test11" />
                                <label class="" for="test11">@Resources.Resource.Saturday</label>
                            </li>
                            <li data-weeknumber="1">
                                <input type="checkbox" id="test12" />
                                <label class="" for="test12">@Resources.Resource.Sunday</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-1-5">
                    <div class="form-group">
                        <label for="connect">@Resources.Resource.Teachingtime</label>
                        <div id="connect"></div>
                        <span class="pull-left" id="skip-value-lower"></span>
                        <span class="pull-right" id="skip-value-upper"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="light-bg">
            <div id="listOfUsers" class="row xs-mar-0">
                @{
                    Html.RenderPartial("~/Views/MyAccount/_ListOfTeachers.cshtml", Model);
                }
            </div>
            <div class="row xs-mar-0">
                <div class="col-sm-12 col-xs-12 white-bg pad-0">
                    <p class="show-more">@Resources.Resource.ShowMore</p>
                </div>
            </div>
    </section>
    @*modal*@
    <div class="modal fade " id="teacher-video" tabindex="-1" role="dialog" aria-labelledby="teacher-video">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/kgFIo_LmXO8" frameborder="0" allowfullscreen></iframe>
                    <video id="vvv" controls>
                        <source id="vdvideo" src="" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hidden-xs" id="modal-calendar" tabindex="-1" role="dialog" aria-labelledby="modal-calendar">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="center-block photo img-responsive" src="~/Images/teacher-page-photo.png">
                        </div>
                        <div class="col-sm-9">
                            <p class="name">
                                <img src="~/Images/flag/al.png">
                            </p>
                            <p class="teach-desc from">
                                @Resources.Resource.From:
                                <span></span>
                            </p>
                            <p class="teach-desc teach">
                                @Resources.Resource.Teaches:
                                <span></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="modal-content">
                <p class="time-zone-title">@Resources.Resource.Alltimeslisted</p>
                <div id='calendar'></div>
            </div>
            <div class="modal-footer">
                <div class="book-lesson-btn center-block for-trial-lesson">
                    <i class="fa fa-calendar"></i>
                    <text>@Resources.Resource.TrialLesson</text>
                </div>
            </div>
        </div>
    </div>
    @{
        if (User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep1.cshtml");
            Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep2.cshtml");
            Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep3.cshtml");
        }
    }
    @*end modal*@
</div>

@section Scripts
{
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    <script src="~/js/dropdowns-enhancement.js"></script>
    <script>
        var filter = {
            'teach': null,
            'speak': null,
            'search': null,
            'availability': null,
            'teach-time': {
                'from': null,
                'to': null
            },
            'zone': new Date().getTimezoneOffset() / 60,
            'daysoftheweek': [],
            'timeRanges': [],
            'tutoringAvailableNow': false,
            'page': 0
        };
        (function() {
            var flt = localStorage.getItem("filter");
            if (!flt) return;
            filter = JSON.parse(flt);
            console.log(filter);
            if (filter.speak)
                $("#speaks").val(filter.speak.split('_')[1]);
            if (filter.teach)
                $("#language").val(filter.teach.split('_')[1]);
            if (filter.search)
                $("#search").val(filter.search);
            if (filter.tutoringAvailableNow)
                $("#tan").attr('checked', true);
            if (filter.timeRanges) {
                for (var i = 0; i<filter.timeRanges.length; i++) {
                    var from = filter.timeRanges[i].from - filter.zone;
                    if (from < 0)
                        from = 24 + from;
                    if (from >= 24)
                        from = 24 - from;
                    $("input[data-from='" + from + "']").attr('checked', true);
                }
            }
            if (filter.daysoftheweek) {
                for (var s = 0; s < filter.daysoftheweek.length; s++) {
                    var dv = filter.daysoftheweek[s];
                    $("li[data-weeknumber='" + dv + "']").children("input").first().attr('checked', true);
                }
            }
            getFilterResult(true);
        })();
        function getFilterResult(event, slider) {
            if (event)
                filter.page = 0;
            else
                filter.page++;
            if(!slider)
                localStorage.setItem("filter", JSON.stringify(filter));
            $(".show-more").show();
            filter.UsersAlreadyShown = [];
            $.post('@Url.Action("Filter", "ListOfTeachers")', filter)
                .success(function(result) {
                    $("#listOfUsers").html(result);
                    $('.book-lesson-btn:not(".for-trial-lesson")').unbind("click").bind("click", ev);
                    $(".play-vid").unbind("click").bind("click", playVideo);
                    $('.name')
                        .unbind("click")
                        .bind("click",
                            function() {
                                document.location.href = $(this).data("link");
                            });
                    bindToMessage();
                });
        }
        function bindToMessage() {
            $(".passemail").unbind('click').bind("click",
                function() {
                    var id = $(this).attr('data-id');
                    var name = $(this).attr('data-name');
                    $("#SendMessage input[name='teacherId']").val(id);
                    $("#SendMessage .modal-title span").text(name);
                });
        }
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/BuyCourse.js"></script>
        @Scripts.Render("~/Scripts/openalng/Prices")
        @Scripts.Render("~/Scripts/openalng/Geolocation")
        <script src="~/Scripts/openlang/UserManager.js"></script>
        <script>
            var code, timez, userId, cc = ""
            var modelId = '';
            var startDateTime;
            var dateId;
            @if (ViewBag.User != null)
            {
                <text>
                    code = "@Html.Raw(ViewBag.User.Currency?.Split(':')[0])";
                    timez = "@(ViewBag.TimeZone ?? "")";
                </text>
                if (!string.IsNullOrEmpty(ViewBag.User.Location))
                {
                    <text>
                        cc =
                            '@Html.Raw((ViewBag.User.Location.Split(':') as IEnumerable<string>).Skip(1).FirstOrDefault())';
                    </text>
                }
                <text>userId = "@ViewBag.User.Id"</text>
            }
            UserManager.initalizeRegionsInformation(code, timez, cc);
            $(".hasMinDate")
                .datetimepicker({
                    minDate: new Date(),
                    format: 'DD/MM/YYYY',
                    allowInputToggle: true,
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
                });
            @if (User.Identity.IsAuthenticated)
            {
                <text>
            var allTeachersBoughtLessons;
            $.get("/api/CheckStateBoughtTrialLesson", { 'id': '@User.Identity.GetUserId()' }, 'json')
                .success(function(result) {
                    allTeachersBoughtLessons = result;
                    console.log(result);
                });
                </text>
            }
        </script>
    }
    <script>

        jQuery(document).ready(function() {
            var windowHeight = jQuery(window).height();
            var windowWidth = jQuery(window).width();
            if (windowWidth < 768) {
                $(".top-nav")
                    .append(
                        '<div class="filters" id="filters"><span>Filters</span><i class="fa fa-filter" aria-hidden="true"></i></div>');
            }
            $("#filters").click(function() {
                $(".choose-for-teacher").slideToggle();
            })
        });
        var selectedTeacherId;
        var localTime = new Date().getTimezoneOffset() / 60;
        var listOfShowedWeeks = [];
        var selectedControlRangeFilter = false;
        $("input[data-from]")
            .change(function() {
                if (selectedControlRangeFilter) filter.timeRanges = [];
                selectedControlRangeFilter = false;
                var from = $(this).data("from") + filter.zone;
                if (from < 0)
                    from = 24 + from;
                var to = $(this).data("to") + filter.zone;
                if (to < 0)
                    to = 24 + to;
                if ($(this).is(":checked"))
                    filter.timeRanges.push({ 'from': from, 'to': to });
                else
                    filter.timeRanges.forEach(function(elem, index) {
                        if (elem.from == from)
                            filter.timeRanges.splice(index, 1);
                    });
                getFilterResult(true);
            });
        $("*[data-weeknumber] input")
            .change(function() {
                if ($(this).is(":checked")) {
                    filter.daysoftheweek.push($(this).parent().data("weeknumber"));
                } else {
                    var weekn = $(this).parent().data("weeknumber");
                    var index = filter.daysoftheweek.indexOf(weekn);
                    filter.daysoftheweek.splice(index, 1);
                }
                getFilterResult(true);

            });
        $("#tan")
            .change(function() {
                if ($(this).is(":checked")) {
                    $(this).parent().siblings().find("input").attr("disabled", "disabled");
                    filter.tutoringAvailableNow = true;
                } else {
                    $(this).parent().siblings().find("input").removeAttr("disabled");
                    filter.tutoringAvailableNow = false;
                }
                getFilterResult(true);
            });

        function playVideo() {
            var link = $(this).data("link");
            if (link.indexOf('http') !== -1)
                $("#teacher-video iframe").css("display", "block").attr("src", link).next().css("display", "none");
            else {
                $("#teacher-video iframe").css("display", "none").next().remove();
                var video = $('<video />',
                    {
                        id: 'video',
                        src: link,
                        type: 'video/mp4',
                        controls: true
                    });
                video.appendTo(".embed-responsive.embed-responsive-16by9");
                //var video = $('video').attr("id", "rrrr");
                //var source = $('source').attr("src", link).attr("type", "video/mp4");
                //video.html(source);
                //$(".embed-responsive.embed-responsive-16by9").append(video);
                //var vd = document.getElementById("rrrr");
                //video.load();
            }
        }

        function bindClickToTrial() {
            if (isFound) return;
            if (!dateId) {
                alert("@Resources.Resource.Youneedselectstartdate");
                return;
            }
            $("#buy-step-1").modal("show");
            $('#modal-calendar').modal('hide');
        }


        var selectedTeacherIdForTrial;
        var isFound = false;

        function bindClick(id) {
            location.href = '/en/teacher-details/' + id;
            $('#buy-step-1').modal('hide');
        };

        function ev() {
            var _this = $(this);
            var id = _this.data("userid");
            isFound = false;
            selectedTeacherIdForTrial = id;
            if (typeof allTeachersBoughtLessons !== 'undefined') {
                var hastrialless = $(this).attr("data-hastriallesson");
                if (hastrialless == 'false') {
                    var tr = $('.book-lesson-btn.for-trial-lesson');
                    tr.attr('data-target', '');
                    tr.children('text').text("@Resources.Resource.BookLesson");
                    tr.unbind("click")
                        .bind('click',
                            function() {
                                location.href = '/en/teacher-details/' + id;
                                $('#buy-step-1').modal('hide');
                            });
                    isFound = true;
                    tr.text("@Resources.Resource.BookLesson");
                };
                if (!isFound) {
                    for (var i = 0; i < allTeachersBoughtLessons.length; i++) {
                        if (allTeachersBoughtLessons[i].CustomUserId == id) {
                            var tr = $('.book-lesson-btn.for-trial-lesson');
                            tr.attr('data-target', '');
                            tr.children('text').text("@Resources.Resource.BookLesson");
                            tr.unbind("click")
                                .bind('click',
                                    function() {
                                        location.href = '/en/teacher-details/' + id;
                                        $('#buy-step-1').modal('hide');
                                    });
                            tr.text("@Resources.Resource.BookLesson");
                            isFound = true;
                            break;
                        }
                    }
                    if (!isFound) {
                        $('.book-lesson-btn.for-trial-lesson')
                            .unbind("click")
                            .bind('click',
                                function() {
                                    location.href = '/en/teacher-details/' + id;
                                    $('#buy-step-1').modal('hide');
                                })
                            .removeAttr('data-target')
                            //.data('target', '#buy-step-1')
                            //.children('text')
                            .text("@Resources.Resource.TrialLesson");
                        var learnTeach = [];
                        $(this)
                            .parents(".teachers-info")
                            .find("[data-shortlang]")
                            .each(function(index, elem) {
                                learnTeach.push($(elem).attr("data-shortlang"));
                            });
                        $("#trial_select_lang option")
                            .each(function(index, elem) {
                                console.log(elem);
                                if ($.inArray($(elem).data("value"), learnTeach) == -1) {
                                    $(elem).attr("disabled", "disabled");
                                    console.log($(elem).val() + " disable");
                                } else {
                                    $(elem).removeAttr("disabled");
                                    console.log($(elem).val() + " undisable")
                                    $("#trial_select_lang").val($(elem).val()).trigger("change");
                                    //$(elem).attr("selected", "selected");
                                }

                            });
                        try {
                            $("#trial_select_lang")
                                .select2({
                                    minimumResultsForSearch: Infinity,
                                    placeholder: "@Resources.Resource.ChooseLang",
                                    templateResult: formatState,
                                    templateSelection: formatState
                                });
                        } catch (e) {

                        }
                    }
                }
            } else {
                $('.book-lesson-btn.for-trial-lesson')
                    .attr('data-target', '#signin')
                    .attr("data-toggle", 'modal')
                    .attr("data-dismiss", "modal")
                    .text("@Resources.Resource.TrialLesson");
            }
            if (selectedTeacherId == id)
                return;
            selectedTeacherId = id;
            @if (ViewBag.User != null)
            {
                <text>modelId = id;</text>
            }
            var teacherinfo = _this.parents(".teachers-info");
            var name = teacherinfo.find(".name").clone();
            var froms = teacherinfo.find(".fromTrial .teach-desc:first-child").clone();
            var teach = teacherinfo.find(".teachSpeak .teach-desc:first-child").clone();
            var image = teacherinfo.find("#profilePicture").attr('src');
            var mc = $("#modal-calendar");
            mc.find(".name").replaceWith(name);
            mc.find(".from").replaceWith(froms);
            mc.find(".teach").replaceWith(teach);
            mc.find(".img-responsive").attr('src', image)
            $('#calendar').fullCalendar('destroy');
            dateId = null;
            $.getJSON("@Url.Action("GetTeacherScheduleWithoutPast", "TeacherSchedule")",
                    { 'teacherId': selectedTeacherId, 'week': null, 'localtime': localTime })
                .always(function(result) {
                    setTimeout(function() {
                            $('#calendar')
                                .fullCalendar({
                                    // put your options and callbacks here
                                    dayClick: function(e, d, c) {
                                        //                        alert('a day has been clicked!');
                                    },
                                    header: {
                                        left: false,
                                        center: 'title',
                                        right: 'prev,next',
                                    },
                                    selectable: false,
                                    select: function(start, end, allDay) {
                                        var ff = start.toISOString();
                                    },
                                    selectHelper: false,
                                    //                    select: function (start, end) {
                                    //                        var title = ' ';
                                    //                        var eventData;
                                    //                        eventData = {
                                    //                            title: title,
                                    //                            start: start,
                                    //                            end: end,
                                    //                            editable: false,
                                    //                        };
                                    //                        console.log(start)
                                    //                        console.log(end)
                                    ////                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                                    //                    },
                                    eventLimit: true, // allow "more" link when too many events
                                    events: result,
                                    //                    businessHours:
                                    //                    {
                                    //                        start: '10:00', // a start time (10am in this example)
                                    //                        end: '18:00', // an end time (6pm in this example)
                                    //
                                    //                        dow: [ 1]
                                    //                        // days of week. an array of zero-based day of week integers (0=Sunday)
                                    //                        // (Monday-Thursday in this example)
                                    //
                                    //                    },
                                    eventClick: function(calEvent, jsEvent, view) {
                                        //                        event_id.val(calEvent.id);
                                        //                        event_type.val(calEvent.title);
                                        //                        event_start.val($.fullCalendar.formatDate(calEvent.start, format));
                                        //                        event_end.val($.fullCalendar.formatDate(calEvent.end, format));
                                        //                        formOpen('edit');
                                        //                        console.log(calEvent)
                                        //                        console.log(jsEvent)
                                        //  
                                        if (calEvent.className.length > 1)
                                            return;
                                        if (calEvent.className[0] == 'view1') {
                                            //                            calEvent.className[1] = 'view2'
                                            $('.view1').removeClass('view2');
                                            dateId = calEvent.id;
                                            $(jsEvent.currentTarget).addClass('view2');
                                            var dt = moment(calEvent.start._d).format("DD/MM/YYYY HH:mm");
                                            var time = moment(calEvent.start._d).format("HH:mm");
                                            $("#start-hours").val(time);
                                            $('.datetimepicker,.hasMinDate').data("DateTimePicker").date(dt);
                                        } else {
                                        }
                                    },
                                    editable: false,
                                    defaultView: 'agendaWeek',
                                    allDaySlot: false,
                                    slotDuration: '01:00:00',
                                    slotLabelFormat: "HH:mm",
                                    weekNumbers: true,
                                    maxTime: '24:00:00',
                                    timezone: 'local',
                                    ignoreTimezone: false,
                                });
                            listOfShowedWeeks = [];
                            var numb = $(".fc-week-number span:first-child").text();
                            numb = parseInt(numb.substr(1));
                            listOfShowedWeeks.push(numb)
                            $('.fc-axis.fc-widget-header')
                                .append('<span class="local-time">UTC' + localTime + '</span>')
                            $('.fc-toolbar')
                                .append(
                                    '<span style="display:none" data-curpage="0" class="previous-week"><i class="fa fa-angle-left" aria-hidden="true"></i>' +
                                    resource.match('prev_week') +
                                    '</span><span class="next-week">' +
                                    resource.match('next_week') +
                                    '<i class="fa fa-angle-right" aria-hidden="true"></i></span>')
                        },
                        500);
                });
            $('body')
                .on('click',
                    '.previous-week',
                    function() {
                        var data = parseInt($(this).data('curpage'));
                        if (--data <= 0) {
                            $(this).data('curpage', data);
                            $(this).css('display', 'none');
                        } else
                            $(this).data('curpage', data);
                        $('button.fc-prev-button.fc-button.fc-state-default.fc-corner-left').click();
                        var numb = $(".fc-week-number span:first-child").text();
                        numb = parseInt(numb.substr(1));
                        if ($.inArray(numb, listOfShowedWeeks) != -1)
                            return;
                        listOfShowedWeeks.push(numb);
                        $.getJSON("@Url.Action("GetTeacherScheduleWithoutPast", "TeacherSchedule")",
                                { 'teacherId': selectedTeacherId, 'week': numb })
                            .always(function(result) {
                                var calendar = $('#calendar');
                                calendar.fullCalendar("addEventSource", result);
                            });
                    })
            $('body')
                .on('click',
                    '.next-week',
                    function() {
                        var events = $('#calendar').fullCalendar('clientEvents');
                        $('button.fc-next-button.fc-button.fc-state-default.fc-corner-right').click();
                        var prevweek = $(this).siblings('.previous-week');
                        prevweek.css('display', 'block');
                        var page = parseInt(prevweek.data('curpage'));
                        prevweek.data('curpage', ++page);
                        var numb = $(".fc-week-number span:first-child").text();
                        numb = parseInt(numb.substr(1));
                        if ($.inArray(numb, listOfShowedWeeks) != -1)
                            return;
                        listOfShowedWeeks.push(numb);
                        $.getJSON("@Url.Action("GetTeacherScheduleWithoutPast", "TeacherSchedule")",
                                { 'teacherId': selectedTeacherId, 'week': numb })
                            .always(function(result) {
                                var calendar = $('#calendar');
                                calendar.fullCalendar("addEventSource", result);
                            });
                    })
            $('body')
                .on('click',
                    'fc-event a',
                    function() {
                    });
        };

        $(document)
            .ready(function() {
                $(".show-more")
                    .click(function() {
                        filter.page++;
                        filter.UsersAlreadyShown = [];
                        $(".book-lesson-btn.center-block[data-userid]").each(function(index, elem) {
                            filter.UsersAlreadyShown.push($(elem).attr("data-userid"));
                        });
                        $.post('@Url.Action("Filter", "ListOfTeachers")', filter)
                            .always(function(e) {
                                if (!e)
                                    $(".show-more").hide();
                                else {
                                    $("#listOfUsers").append(e);
                                    $('.book-lesson-btn:not(".for-trial-lesson")').unbind("click").bind("click", ev);
                                    $(".play-vid").unbind("click").bind("click", playVideo);
                                    $(".name")
                                        .unbind("click")
                                        .bind("click",
                                            function() {
                                                document.location.href = $(this).data("link");
                                            });
                                    bindToMessage();
                                }
                            })
                    });
                $('.book-lesson-btn:not(".for-trial-lesson")').bind("click", ev);
                var introTeacherH = $('.intro-teachers')[0].offsetHeight - 3;
                $('.intro-anim')
                    .click(function() {
                        $(this).toggleClass('active');
                        $(".intro-teachers .teachers-gif").slideToggle()
                        $(".intro-teachers p.description").slideToggle()
                        //$('.intro-teachers').slideToggle();
                    });
                $(".js-select2-language")
                    .select2({
                        minimumResultsForSearch: Infinity
                    })
                    .on("change",
                        function(e) {
                            var code = "_" + e.currentTarget.selectedOptions[0].value;
                            if (code.indexOf("any") > -1)
                                filter.teach = null;
                            else
                                filter.teach = code;
                            getFilterResult(true);
                        });
                var param = gup("lang", location.href);
                if (param)
                    $(".js-select2-language").val(param).trigger("change");
                $(".js-select2-speaks")
                    .select2({
                        minimumResultsForSearch: Infinity
                    })
                    .on("change",
                        function(e) {
                            var code = "_" + e.currentTarget.selectedOptions[0].value;
                            if (code.indexOf("any") > -1)
                                filter.speak = null;
                            else
                                filter.speak = code;
                            getFilterResult(true);
                        });
                $(".js-select2-availability")
                    .select2({
                        minimumResultsForSearch: Infinity
                    });
                $("#search")
                    .keyup(function(char) {
                        var txt = $("#search").val();
                        filter.search = txt;
                        getFilterResult(true);
                    });
                $(".play-vid").bind("click", playVideo);
                var start;
                var end;
                var connectSlider = document.getElementById('connect');
                //if (filter.timeRanges && filter.timeRanges.length===1) {
                //    start = filter.timeRanges[0].from;
                //    end = filter.timeRanges[0].to;
                //}
                noUiSlider.create(connectSlider,
                    {
                        start: [0,23],
                        connect: false,
                        range: {
                            'min': 0,
                            'max': 23,
                        },
                        step: 1
                    });

                var connectBar = document.createElement('div'),
                    connectBase = connectSlider.querySelector('.noUi-base');

                // Give the bar a class for styling and add it to the slider.
                connectBar.className += 'connect';
                connectBase.appendChild(connectBar);

                connectSlider.noUiSlider.on('update',
                    function(values, handle, a, b, handlePositions) {

                        var offset = handlePositions[handle];

                        // Right offset is 100% - left offset
                        if (handle === 1) {
                            offset = 100 - offset;
                        }

                        // Pick left for the first handle, right for the second.
                        connectBar.style[handle ? 'right' : 'left'] = offset + '%';
                    });
                connectSlider.noUiSlider.on('change',
                    function(a, c, e) {
                        selectedControlRangeFilter = true;
                        filter.timeRanges = [];
                        $("[data-from]").prop("checked", false);
                        var from = Math.round(e[0]) + filter.zone;
                        var to = Math.round(e[1]) + filter.zone;
                        if (from < 0)
                            from = 24 + from;
                        if (to < 0)
                            to = 24 + to;
                        filter.timeRanges.push({ 'from': from, 'to': to });
                        getFilterResult(true,"slider");
                    });


                var skipValues = [
                    document.getElementById('skip-value-lower'),
                    document.getElementById('skip-value-upper')
                ];

                connectSlider.noUiSlider.on('update',
                    function(values, handle) {
                        skipValues[handle].innerHTML = Number(values[handle]).toFixed(0) + ':00';

                    });
                $('.name')
                    .bind("click",
                        function() {
                            document.location.href = $(this).data("link");
                        });
            });
        $("#teacher-video")
            .on("hide.bs.modal",
                function() {
                    $("#teacher-video iframe").attr("src", "");
                });

        function gup(name, url) {
            if (!url) url = location.href;
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(url);
            return results == null ? null : results[1];
        }

        $("#ssMess").validate({
            errorPlacement: function() {}
        });
        $("#sendMessage").click(function() {
            if (!$("#ssMess").valid()) return;
            $("#SendMessage").modal("hide");
            var obj = $("#ssMess").serialize();

            $.post("@Url.Action("SendMessageToTeacher", "ListOfTeachers")", obj).success(function(mess) {
                alert("Your message was sent");
            });
        });

        bindToMessage();
        if (filter.timeRanges) {
            //$("#connect").updateOptions({ start: [filter.timeRanges[0].from, timeRanges[0].to]});
        }
        //$("#findateacheravailable").modal("show");
    </script>
}