﻿@model Domain.Entities.IdentityEntities.CustomUser
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "TeacherPortal";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var userId = Guid.Parse(User.Identity.GetUserId());
    var iframeSrc = "";
    if (!string.IsNullOrEmpty(Model.TeacherInfo.Link) && Model.TeacherInfo.Link.ToLower().Contains("youtube"))
    {
        iframeSrc = "https://www.youtube.com/embed/" + Model.TeacherInfo.Link?.Split('=').Last() + "?rel=0";
    }
    else if (!string.IsNullOrEmpty(Model.TeacherInfo.Link) && Model.TeacherInfo.Link.ToLower().Contains("vimeo"))
    {
        iframeSrc = Model.TeacherInfo.Link;
    }
}
@section Head
{
    <link href="~/Css/nouislider.min.css" rel="stylesheet" />
    <link href="~/Css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Css/lightbox.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
    
}
<section class="blue-bg-prof hidden-xs"></section>
<section class="teacher-profile">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 teacher-prof-left">
                        <a class="set-btn" href="@Url.Action("Index","MyAccount")"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        <div class="row">
                            <div class="col-md-4 col-xs-12 teacher-ava">
                                <img class="center-block photo img-responsive" src="@(Model.ProfilePicture ?? "/images/default-img.png")">
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <p class="name">
                                    @Model.Name
                                    @if (Model.Location != null)
                                    {
                                        <img src="https://flags.fmcdn.net/data/flags/mini/@(Model.Location.Split(':')[1]?.ToLower()).png">
                                    }
                                </p>
                                @*<p class="price">
                                        <span>$22.40 </span>
                                        -
                                        <span> 37.00</span>
                                    </p>
                                    <p class="price-desc"> @Resources.Resource.PricePLess </p>*@
                            </div>
                            <div class="col-sm-12 col-xs-12 teach-video">
                                <ul class="nav nav-tabs portal-menu" role="tablist">
                                    <li role="presentation">
                                        <a href="#MyDashboard"
                                           aria-controls="MyDashboard" role="tab"
                                           data-toggle="tab">
                                            @Resources.Resource.MyDashboard <i class="fa fa-angle-right"
                                                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#MyTeachers" aria-controls="MyTeachers"
                                           role="tab" data-toggle="tab">
                                            @Resources.Resource.MyTeachers<i class="fa fa-angle-right"
                                                                             aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#MyStudents" data-isloaded="0" aria-controls="MyStudents"
                                           role="tab" data-toggle="tab">
                                            @Resources.Resource.MyStudents<i class="fa fa-angle-right"
                                                                             aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#MyLessons" aria-controls="MyLessons" data-isloaded="0"
                                           role="tab" data-toggle="tab">
                                            @Resources.Resource.MyLessons<i class="fa fa-angle-right"
                                                                            aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#MyWords" data-isloaded="0" aria-controls="MyWords" role="tab"
                                           data-toggle="tab">
                                            @Resources.Resource.MyWords<i class="fa fa-angle-right"
                                                                          aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#MyAssignments" aria-controls="MyAssignments"
                                           role="tab" data-toggle="tab">
                                            @Resources.Resource.MyAssignments<i class="fa fa-angle-right"
                                                                                aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li role="presentation" class="active">
                                        <a href="#MyAssignments" aria-controls="MyAssignments"
                                           role="tab" data-toggle="tab">
                                            My Manager Dashboard<i class="fa fa-angle-right"
                                                                   aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="embed-responsive embed-responsive-4by3">
                                    <a class="set-btn" href="@Url.Action("Index","MyAccount")#about"><i class="fa fa-cog" aria-hidden="true"></i></a>
                                    <iframe src="@iframeSrc" frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 teacher-prof-left quick-link hidden-xs">
                        <p class="">@Resources.Resource.QuickLinks</p>
                        <ul>
                            <li><a href="@Url.Action("Index", "MyAccount")">@Resources.Resource.Settings</a></li>
                            <li><a href="@Url.Action("ListOfTeachers", "ListOfTeachers")">@Resources.Resource.Findateacher</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="col-sm-8 teacher-prof-right pad-0 tab-pane pos-rel" role="tabpanel" id="manager-dashboard">
                    <div class="main-info" id="students">
                        <div class="row border-bot">
                            <div class="col-sm-6">
                                <p class="title">Manager Dashboard</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="progress-track col-sm-12">Progress Tracker</div>
                            <div class="col-xs-12">
                                <table id="table-progress">
                                    <thead>
                                        <tr>
                                            <td>EMPLOEE</td>
                                            <td>LEVEL</td>
                                            <td>ATTENDANCE (*)</td>
                                            <td>LESSONS</td>
                                            <td>FEES</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Daniel Jones</td>
                                            <td>B2</td>
                                            <td>100%</td>
                                            <td>5</td>
                                            <td>100 EUR</td>
                                        </tr>
                                        <tr>
                                            <td>Artem Boichenko</td>
                                            <td>B2</td>
                                            <td>90% <span>(1)</span></td>
                                            <td>5</td>
                                            <td>100 EUR</td>
                                        </tr>
                                        <tr>
                                            <td>Geoffrey Lugli</td>
                                            <td>B2</td>
                                            <td>50% <span>(1)</span></td>
                                            <td>5</td>
                                            <td>100 EUR</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row annotation">
                            <div class="col-xs-12">
                                <p>( * ) - Number of classes missed</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="progress-track col-sm-12">Budget Tracher</div>
                        </div>
                        <div class="row">
                            <div id="budgetTracker"></div>
                        </div>
                        <div class="row trk">
                            <div class="col-md-4 col-xs-12">
                                <div>
                                    <div class="ammount">550 EUR</div>
                                    <div class="descroption">Total Spent</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="ammount">120 EUR</div>
                                <div class="descroption">Monthly Spending</div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="ammount">30 EUR</div>
                                <div class="descroption">Available Credit</div>
                                <div class="addCredit">+ Add Credit</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="progress-track col-sm-12">Geoffrey Lugli</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="geof">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="progress-track">Fees\Lessons</div>
                                <div id="fees">

                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="progress-track">Attendance</div>
                                <div id="attendees">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawLineStyles);

        function drawLineStyles() {
            drawTracker();
            drawGeoffrey();
            drawAttendees();
            drawFees();
        }

        function drawTracker() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'str');
            data.addColumn('number', 'Budget');

            data.addRows([
                ["Jun", 50], ["Jul", 75], ["Aug", 150], ["Sep", 100], ["Oct", 110], ["Nov", 133]
            ]);
            var options = {
                legend: { position: 'none' },

                series: {
                    0: { color: '#a1d418' }
                },
                vAxis: { format: '#\' EUR\'' }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('budgetTracker'));
            chart.draw(data, options);
        }

        function drawGeoffrey() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'str');
            data.addColumn('number', 'Budget');

            data.addRows([
                ["Jun", 1], ["Jul", 2], ["Aug", 2], ["Sep", 2], ["Oct", 3], ["Nov", 4]
            ]);
            var options = {
                legend: { position: 'none' },

                series: {
                    0: { color: '#a1d418' }
                },
                vAxis: {
                    ticks: [{ v: 0, f: 'A1' }, { v: 1, f: 'A2' }, { v: 2, f: 'B1' }, { v: 3, f: 'B2' }, { v: 4, f: 'C1' }, { v: 5, f: 'C2' }]
                }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('geof'));
            chart.draw(data, options);
        }
        function drawAttendees() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'str');
            data.addColumn('number', 'Budget');

            data.addRows([
                ["Jun", 50], ["Jun", 75], ["Jul", 25], ["Aug", 25], ["Sep", 83], ["Oct", 30], ["Nov", 68]
            ]);
            var options = {
                legend: { position: 'none' },

                series: {
                    0: { color: '#7bbeef' }
                },
                vAxis: { format: '#\'%\'' }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('attendees'));
            chart.draw(data, options);
        }
        function drawFees() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'str');
            data.addColumn('number', 'Fees');

            data.addRows([
                ["Aug", 4], ["Sep", 4], ["Oct", 8], ["Nov", 10],
            ]);
            var options = {
                legend: { position: 'none' },

                series: {
                    0: { color: '#7bbeef' }
                },
            };

            var chart = new google.visualization.AreaChart(document.getElementById('fees'));
            chart.draw(data, options);
        }
    </script>
}

