﻿
@using System.Web.Optimization
@model Domain.Entities.PaymentTransactions
    @{ 
        Layout = null;
    }
<!DOCTYPE html>
<html>
<head>
    <title>Export To PDF</title>
    @*@Styles.Render("~/Content/Css/printPage")*@
    <link href="~/Content/Css/less/printToPdfCss.css" rel="stylesheet" />
    <link href="~/Content/Css/ForMediaPrint.css" rel="stylesheet" media="print"/>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script>
        var state = false;
        function show(e) {
            $('.allDetails').toggle(500, function() {
                if (!state) {
                    $(e).text("Hide All Details");
                    state = true;
                    return;
                }
                $(e).text("Show All Details");
                state = false;
            });
        }
    </script>
</head>
<body>
    <div class="borders">
        <img src="~/Images/openlang/logo_forPDF.jpg" alt="logo"/>
        <div class="printOrPdf">
            <span onclick="show(this)">Show All Details</span>
            <span onclick="window.print()">Print or Save PDF</span>

        </div>
        <div class="allDetails">
            <div class="callback" style="text-align: right">
                <span class="payer">Open Languages GmbH</span><br>
                <span>Rossbergweg 9</span><br>
                <span>8824 Schönenberg ZH</span><br>
                <span>Switzerland</span><br>
                <span>Tel. 00800 241 241 24</span><br>
                <span style="color: #A0D532">www.openlanguages.com</span>
            </div>
            <div class="myAccount">
                <span class="payer">@Model.CustomUserId.Name</span><br>
                <span>@Model.CustomUserId.TimeZone</span><br>
                <a style="color: #00f; text-decoration: underline">@Model.CustomUserId.UserName</a><br>
            </div>
        </div>

        @*<div>
            <span class="payer">USER</span><br>
            <span>User Name: </span><span class="payer">@Model.CustomUserId.Name</span><br>
            <span>User Email: </span><span class="payer">@Model.CustomUserId.UserName</span><br>
        </div>*@
        <div>
            <span class="payer">Invoice</span><br>
            <span>Date: </span><span class="payer">@Model.OrderDetailsId.UtcDateTime</span><br>
            <span>Transaction Id: </span><span class="payer">@Model.PaymentId</span><br>
            <span>Inner Transaction Id: </span><span class="payer">@Model.InnerTransactionId</span><br>
            @*@if (!string.IsNullOrEmpty(Model.PaymentId))
            {
                <span>Payer Id: </span><span class="payer">@Model.PayerId</span><br>
            }*@
            <span>Pay Method: </span><span class="payer">@Model.PaymentMethod</span><br>
            <span>Approved: </span><span class="payer">@Html.Raw(Model.Approved ? "Yes" : "No")</span><br>
        </div>
        <table>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>VAT/Tax</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Top up balance for Openlanguages.com</td>
                <td>@Model.CurrenceAmount.Split()[0] 0.00</td>
                <td>@Model.CurrenceAmount</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total Net:</td>
                <td>@Model.CurrenceAmount</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total VAT/Tax:</td>
                <td>@Model.CurrenceAmount.Split()[0] 0.00</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total Amount:</td>
                <td>@Model.CurrenceAmount</td>
            </tr>
        </table>
        <div class="contact">
            Open Languages GmbH is registered in Switzerland, company number CHE-113.722.669
        </div>
    </div>
</body>
</html>