﻿@using System.Threading
@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@using Xencore.Extentions
@model Domain.Entities.IdentityEntities.CustomUser
@{
    var language = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0].ToLower();
    ViewBag.Title = "Find An Experienced Teacher To Learn A Language Online Today";
    ViewBag.Description = "Choose Between Dozens Of Highly Qualified Native Teachers, Available 24/7, To Learn A Language Online With Personalized Private Lessons. Anytime. Anywhere.";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var teacherId = Model.Id;
    var userId = User.Identity.GetUserId();
    var dataToggle = ViewBag.User == null ? "#signin" : "#buy-full-step-1";
    var dataToggleBuyTrial = ViewBag.User == null ? "#signin" : "#buy-step-1";
    var currentUrl = Request.Url.ToString();
    var activeMark = "";
    if (User.Identity.IsAuthenticated && Model.TeacherBookMarkedIds?.FirstOrDefault(x => x.StudentId == Guid.Parse(User.Identity.GetUserId())) != null)
    {
        activeMark = "active";
    }
    var iframeSrc = Model.TeacherInfo.Link ?? "";
}
@section Head
{
    <link href="~/Css/justifiedGallery.min.css" rel="stylesheet" />
    <link href="~/js/colorbox-master/colorbox.css" rel="stylesheet" />
    <link href="~/js/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="~/Css/lightbox.css" rel="stylesheet" />
    <link href="~/Css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Css/teacherProfile.min.css?v3.1.2" rel="stylesheet" />
}
@*<div class="modal fade" id="TellUsMore1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">@Resources.Resource.BookLesson.ToUpper()</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <select id="selectLangForTeach" class="selectpicker modal-custom-select">
                                @foreach (var lang in Model.Ilearn.Split('|').Reverse().Skip(1).Reverse().ToArray())
                                {
                                    <option value="@(lang.Split('_')[1])">@Resources.Resource.ResourceManager.GetString(lang.Split('_')[1])</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select id="selectLevelForTeach" class="selectpicker modal-custom-select">
                                <option value="Beginner">
                                    @Resources.Resource.Beginner
                                </option>
                                <option value="UpperBeginner">
                                    @Resources.Resource.UpperBeginner
                                </option>
                                <option value="Intermediate">
                                    @Resources.Resource.Intermediate
                                </option>
                                <option value="UpperIntermediate">
                                    @Resources.Resource.UpperIntermediate
                                </option>
                                <option value="Advanced">
                                    @Resources.Resource.Advanced
                                </option>
                                <option value="UpperAdvanced">
                                    @Resources.Resource.UpperAdvanced
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="margin-bottom: 15px">
                            <div class="custom-social-button google-color" data-dismiss="modal">@Resources.Resource.Close</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="custom-social-button fb-color" id="bind">@Resources.Resource.Book</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("~/Views/MyAccount/_SendTeacherEmail.cshtml", Model);}
    <a href="#fixed-sidebar-mobile" class="button fixed-button hidden-lg hidden-md hidden-sm visible-xs">Buy Package \ Subscription</a>
    <!--END TellUsMore1 modal-->
    <div id="teach-wrapper" class="wrapper tp @language">
        <div class="serviceMessageMain gp-style js-service text-center">
            <span></span>
        </div>
        <div class="wrapper">
            @*<section class="sect-back">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="@Url.Action("ListOfTeachers","ListOfTeachers")"><i class="fa fa-angle-left" aria-hidden="true"></i>@Resources.Resource.BackToSearch</a>
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <ul class="profile-nav">
                                <li><a href="#sect-biograph" class="slow-scroll">@Resources.Resource.Skills</a></li>
                                <li><a href="#sect-calendar" class="slow-scroll">@Resources.Resource.Calendar</a></li>
                                <li><a href="#second-info" class="slow-scroll">@Resources.Resource.Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>*@
@*<section class="sect-mainInfo">
    <div class="container ">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-md-12 no-padding left-content">
                    <div class="video-wrap">
                        @if (iframeSrc.Contains("http"))
                        {
                            <iframe src="@iframeSrc" frameborder="0"
                                    allowfullscreen></iframe>
                        }
                        else
                        {
                            <video controls>
                                <source id="vdvideo" src="@Model.TeacherInfo.Link" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        }
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 infoBgc left-content" id="sect-biograph">
                    <div class="sect-biograph-bd clearfix">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="user-photo" style="background-image: url('@Model.ProfilePicture')">
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <div class="info-wrap">
                                <h2 class="user-name">@Model.Name</h2>
                                <div class="social-wrap">
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/intent/tweet?text=Teacher: @Model.Name&url=@currentUrl"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                        <li class="google">
                                            <a class="g-interactivepost"
                                               data-contenturl="@currentUrl"
                                               data-clientid="401093889198-5u5vh75501jdtqcduv54ui48vjbu2vme.apps.googleusercontent.com"
                                               data-cookiepolicy="single_host_origin"
                                               data-prefilltext="Teacher: @Model.Name @currentUrl"
                                               data-calltoactiondeeplinkid="/pages/create" href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="linkedin"><a target="_blank" rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url=@currentUrl&title=Teacher: @Model.Name&summary=@Model.TeacherInfo.VideoDescription&source="><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                        <li class="pinterest"><a href="https://pinterest.com/pin/create/link/?url=@currentUrl&description=@currentUrl" data-pin-do="buttonPin" data-pin-custom="true"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <br>
                                <div class="language-wrap">
                                    @if (Model.Location != null)
                                    {
                                        <span class="language"><img src="https://flags.fmcdn.net/data/flags/mini/@(Model.Location.Split(':')[1]?.ToLower()).png" alt="flag"></span>
                                    }

                                    <span class="place-born">@(Model.Location?.Split(':')[0])</span>
                                </div>
                            </div>
                            @*<div class="favorite-wrap visible-xs hidden-sm hidden-md hidden-lg">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <a href="#" id="toggle-event" data-toggle="toggle" data-on="Favorite" data-off="Unfavorite">Add to favorite</a>
                            </div>*@
@* <div class="button-wrap hidden-xs">
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <a style="color: #fff" data-toggle="modal" href="#SendMessage" id="sndmess" class="button">@Resources.Resource.Contactthisteacher</a>
                                        }
                                        else
                                        {
                                            <a style="color:#fff" href="#"  data-id="@Model.Id" class="button item message">@Resources.Resource.SendMessage2</a>
                                        }
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            if (string.IsNullOrEmpty(activeMark))
                                            {
                                                <label class="checkbox-inline hidden-xs">
                                                    <input type="checkbox" id="toggle-event" data-toggle="toggle" data-on="Favorite" data-off="Unfavorite">
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="checkbox-inline hidden-xs">
                                                    <input type="checkbox" checked id="toggle-event" data-toggle="toggle" data-on="Favorite" data-off="Unfavorite">
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="hidden-lg hidden-md hidden-sm visible-xs col-xs-12 no-padding">
                                    <div class="button-wrap">
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <a style="color: #fff" data-toggle="modal" href="#SendMessage" id="sndmess" class="button">@Resources.Resource.Contactthisteacher</a>
                                        }
                                        else
                                        {
                                            <a style="color:#fff" href="#"  data-id="@Model.Id" class="button item message">@Resources.Resource.SendMessage2</a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <section class="sect-biograph">
                                <div class="col-md-12">
                                    <div class="services">
                                        <ul>
                                            <li>
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                <div class="item-wrap">
                                                    <span>@Resources.Resource.Teaches:</span><br>
                                                    <span class="language">@(Model.Ilearn?.ISomethingToShort('|'))</span>
                                                </div>
                                            </li>
                                            <li class="speak-wrap">
                                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                                <div class="item-wrap">
                                                    <span>@Resources.Resource.Speak:</span>
                                                    <br>
                                                    <span class="language">@(Model.Ispeak?.ISomethingToShort('|'))</span>
                                                </div>
                                            </li>
                                            <li class="levels-teach">
                                                <i class="fa fa-level-up" aria-hidden="true"></i>
                                                <div class="item-wrap">
                                                    <span>@Resources.Resource.Iteachlevels</span>
                                                    <br>
                                                    <span class="language">@(Model.TeacherInfo.TeachLevels.GetTechersLevel())</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="about">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <div class="item-wrap">
                                            <span>@Resources.Resource.Aboutme:</span>
                                            <p>@Model.TeacherInfo.VideoDescription</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="fixed-sidebar clearfix hidden-md hidden-sm hidden-xs visible-lg">

                            <div class="fixed-sidebar-wrapper">
                                <div>
                                    <div class="widget buttons-widget">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a href="#sect-calendar" data-button-type="Trial" class="slow-scroll button btn-gn bind-button">@Resources.Resource.Book30min</a>
                                            <a href="#sect-calendar" data-button-type="Basic" class="slow-scroll button btn-be bind-button">@Resources.Resource.BookLesson</a>
                                        }
                                        else
                                        {
                                            <a data-toggle="modal" href="#Login" class="button btn-gn">@Resources.Resource.Book30min</a>
                                            <a data-toggle="modal" href="#Login" class="button btn-be">@Resources.Resource.BookLesson</a>
                                        }
                                        <a href="#sect-biograph" class="slow-scroll button btn-gy">@Resources.Resource.Contactthisteacher</a>
                                    </div>
                                </div>
                                <div>
                                    @{Html.RenderPartial("~/Views/MyAccount/_PricesBlock.cshtml");}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
        </section>

        <section class="responsive-sidebar hidden-lg visible-md visible-sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="fixed-sidebar clearfix">
                        <div class="col-md-4">
                            <div class="col-md-12 no-padding">
                                <div class="widget buttons-widget">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="#sect-calendar" data-button-type="Trial" class="slow-scroll button btn-gn bind-button">@Resources.Resource.Book30min</a>
                                        <a href="#sect-calendar" data-button-type="Basic" class="slow-scroll button btn-be bind-button">@Resources.Resource.BookLesson</a>
                                    }
                                    else
                                    {
                                        <a data-toggle="modal" href="#Login" class="button btn-gn">@Resources.Resource.Book30min</a>
                                        <a data-toggle="modal" href="#Login" class="button btn-be">@Resources.Resource.BookLesson</a>
                                    }
                                    <a href="#sect-biograph" class="slow-scroll button btn-gy">@Resources.Resource.Contactthisteacher</a>
                                </div>
                            </div>
                            <div class="col-md-12 no-padding hidden-lg visible-md visible-sm hidden-xs">
                                @{Html.RenderPartial("~/Views/MyAccount/_PricesBlock.cshtml");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Calendar section -->
        <section id="sect-calendar" class="sect-calendar left-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="calendar-wrap">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="second-info" class="second-info left-content">
            <div class="items-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="item-wrap">
                                <span class="item-title">@Resources.Resource.Education</span>
                                @foreach (var ed in Model.Educations)
                                {
                                    <div class="item-description">
                                        <span class="item-date">@ed.PeriodFrom - @ed.PeriodTo</span>
                                        <div class="descr-wrap">
                                            <span class="main">@ed.Title</span>
                                            <p>@Html.Raw(ed.Description)</p>
                                        </div>
                                    </div>
                                }
                                @if (Model.Educations == null || !Model.Educations.Any())
                                {
                                    <div class="item-description">
                                        <span class="item-date">NO DATA</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="item-wrap">
                                <span class="item-title">@Resources.Resource.WorkExperience</span>
                                @foreach (var ed in Model.WorkExperiences)
                                {
                                    <div class="item-description">
                                        <span class="item-date">@ed.PeriodFrom - @ed.PeriodTo</span>
                                        <div class="descr-wrap">
                                            <span class="main">@ed.Title</span>
                                            <p>@Html.Raw(ed.Description)</p>
                                        </div>
                                    </div>
                                }
                                @if (Model.Educations == null || !Model.Educations.Any())
                                {
                                    <div class="item-description">
                                        <span class="item-date">NO DATA</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Certifications != null && Model.Certifications.Any())
            {
                <div class="education-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="item-wrap">
                                    <span class="item-title">@Resources.Resource.Certifications</span>
                                    @foreach (var ed in Model.Certifications)
                                    {
                                        <div class="item-description">
                                            <span class="item-date">@ed.PeriodFrom - @ed.PeriodTo</span>
                                            <div class="descr-wrap">
                                                <span class="main">@ed.Title</span>
                                                <p>@Html.Raw(ed.Description)</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
        @if (Model.PhotoGalleries.Any())
        {
            <section class="sect-photo left-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="layout">
                                <div id="mygallery">
                                    @foreach (var img in Model.PhotoGalleries)
                                    {
                                        <a href="@img.LinkBigImage">
                                            <img alt="@img.Title" src="@img.LinkSmallImage" />
                                        </a>
                                    }
                                    <!-- other images... -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
    <div class="hidden">
        <div id="fixed-sidebar-mobile" class="fixed-sidebar">
            <div class="serviceMessageMain gp-style js-service text-center">
                <span></span>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-12 no-padding">
                    @{Html.RenderPartial("~/Views/MyAccount/_PricesBlock.cshtml");}
                </div>
            </div>
        </div>

    </div>
    <!-- confirm poup -->
    <div id="noMessage-booking" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ERROR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You have no lessons left. Please extend your subscription or buy a package with lessons. <br>
                    You can do this on the <a href="#">Price page.</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/newLayouts/Modals/_BuyFullStep1.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_BuyFullStep2.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_BuyFullStep3.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep1.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep2.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep3.cshtml");
    }*@
<div class="section-teacher-profile">
    <div class="teacher-top-wrap">
        <div class="teacher-profile-left">
            <div class="video-wrap">
                @if (iframeSrc.Contains("http"))
                {
                    <iframe width="100%" height="400px" src="@iframeSrc" frameborder="0" allowfullscreen></iframe>

                }
                else
                {
                    <video controls>
                        <source id="vdvideo" src="@Model.TeacherInfo.Link" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                }
            </div>
            <div class="video-descrition-wrapper">
                <div class="video-descrition-top">
                    <div class="teacher-profile-avatar-wrap">
                        <div class="user-photo-teacher" style="background-image: url('@Model.ProfilePicture')"></div>
                        <div>
                            <span class="teacher-profile-name">@Model.Name</span>
                            <div class="language-wrap">
                                @if (Model.Location != null)
                                {
                                    <span class="language"><img src="https://flags.fmcdn.net/data/flags/mini/@(Model.Location.Split(':')[1]?.ToLower()).png" alt="flag"></span>
                                }

                                <span class="place-born">@(Model.Location?.Split(':')[0])</span>
                                <button class="waves-effect waves-light button-create bt-save" onclick="location.href = '@Url.Action("BookForFree", "Openlang")'">@Resources.Resource.Contactthisteacher</button>
                            </div>
                        </div>
                    </div>
                    <div class="social-wrap">
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/intent/tweet?text=Teacher: @Model.Name&url=@currentUrl"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li class="google">
                                <a class="g-interactivepost"
                                   data-contenturl="@currentUrl"
                                   data-clientid="401093889198-5u5vh75501jdtqcduv54ui48vjbu2vme.apps.googleusercontent.com"
                                   data-cookiepolicy="single_host_origin"
                                   data-prefilltext="Teacher: @Model.Name @currentUrl"
                                   data-calltoactiondeeplinkid="/pages/create" href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                            </li>
                            <li class="linkedin"><a target="_blank" rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url=@currentUrl&title=Teacher: @Model.Name&summary=@Model.TeacherInfo.VideoDescription&source="><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li class="pinterest"><a href="https://pinterest.com/pin/create/link/?url=@currentUrl&description=@currentUrl" data-pin-do="buttonPin" data-pin-custom="true"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <span class="teacher-descr-title">@Resources.Resource.Aboutme:</span>
                <span class="teacher-descr-subtitle">@Model.TeacherInfo.VideoDescription</span>
                <span class="teacher-descr-title">@Resources.Resource.Teaches:</span>
                <span class="teacher-descr-subtitle">@(Model.Ilearn?.ISomethingToShort('|'))</span>
                <span class="teacher-descr-title">@Resources.Resource.Speak:</span>
                <span class="teacher-descr-subtitle">@(Model.Ispeak?.ISomethingToShort('|'))</span>
                <span class="teacher-descr-title">@Resources.Resource.Iteachlevels:</span>
                <span class="teacher-descr-subtitle">@(Model.TeacherInfo.TeachLevels.GetTechersLevel())</span>

            </div>
        </div>
        <div class="teacher-right-bar-wrapper">
            <div class="teacher-right-bar-fix">
                <div class="teacher-right-bar">
                    <span class="teacher-right-bar-title">Try a free trial lesson:</span>
                    <form action="#">

                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio" />

                                <span class="teacher-radio-descr">Trial Lesson (30 minutes)</span>
                                <span class="teacher-radio-price">@(Math.Round(Model.IndividualTeacherRates.First().Trial,2)) @ViewBag.Currency</span>

                            </label>
                        </p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="waves-effect waves-light button-create bt-save" onclick="location.href = '@Url.Action("BookForFree", "Openlang")'">Book Free Trial Lesson</button>
                        }
                        else
                        {
                            <button class="waves-effect waves-light button-create bt-save" onclick="location.href = '@Url.Action("BookForFree", "Openlang")'">Book Free Trial Lesson</button>
                        }

                    </form>
                </div>
                <div class="teacher-right-bar-priavte">
                    <span class="teacher-right-bar-title">Private Lessons:</span>
                    <form action="#">

                        <p>
                            <label>
                                <input class="with-gap" name="group2" type="radio" />

                                <span class="teacher-radio-descr">1 Lesson</span><span class="per-hour">&nbsp;/ per hour</span>
                                <span class="teacher-radio-price">@(Math.Round(Model.IndividualTeacherRates.First().OneLessonRate, 2)) @ViewBag.Currency</span>

                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="group2" type="radio" />

                                <span class="teacher-radio-descr">5 Lesson</span><span class="per-hour">&nbsp;/ per hour</span>
                                                                                 <span class="teacher-radio-price">@(Math.Round(Model.IndividualTeacherRates.First().FiveLessonRate,2)) @ViewBag.Currency</span>

                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="group2" type="radio" />

                                <span class="teacher-radio-descr">10 Lesson</span><span class="per-hour">&nbsp;/ per hour</span>
                                                                                  <span class="teacher-radio-price">@(Math.Round(Model.IndividualTeacherRates.First().TenLessonRate,2))  @ViewBag.Currency</span>

                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="group2" type="radio" />

                                <span class="teacher-radio-descr">15 Lesson</span><span class="per-hour">&nbsp;/ per hour</span>
                                                                                  <span class="teacher-radio-price">@(Math.Round(Model.IndividualTeacherRates.First().FifteenLessonRate,2)) @ViewBag.Currency</span>

                            </label>
                        </p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="waves-effect waves-light button-create bt-save" onclick="location.href = '@Url.Action("BookForFree", "Openlang")'" type="submit">Book Now</button>
                        }
                        else
                        {
                            <button class="waves-effect waves-light button-create bt-save" onclick="location.href = '@Url.Action("BookForFree", "Openlang")'" type="submit">Book Now</button>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>

    <section id="sect-calendar" class="sect-calendar left-content">
        <div>
            <div>
                <div>
                    <div class="calendar-wrap">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="second-info" class="second-info left-content">

        <div class="item-wrap">
            <span class="item-title">@Resources.Resource.Education</span>
            @foreach (var ed in Model.Educations)
            {
                <div class="item-description">
                    <span class="item-date">@ed.PeriodFrom - @ed.PeriodTo</span>
                    <div class="descr-wrap">
                        <span class="main">@ed.Title</span>
                        <p>@Html.Raw(ed.Description)</p>
                    </div>
                </div>
            }
            @if (Model.Educations == null || !Model.Educations.Any())
            {
                <div class="item-description">
                    <span class="item-date">NO DATA</span>
                </div>
            }
        </div>

        <div class="education-wrap">

            <div class="item-wrap">
                <span class="item-title">@Resources.Resource.WorkExperience</span>
                @foreach (var ed in Model.WorkExperiences)
                {
                    <div class="item-description">
                        <span class="item-date">@ed.PeriodFrom - @ed.PeriodTo</span>
                        <div class="descr-wrap">
                            <span class="main">@ed.Title</span>
                            <p>@Html.Raw(ed.Description)</p>
                        </div>
                    </div>
                }
                @if (Model.Educations == null || !Model.Educations.Any())
                {
                    <div class="item-description">
                        <span class="item-date">NO DATA</span>
                    </div>
                }
            </div>
        </div>

        @if (Model.Certifications != null && Model.Certifications.Any())
        {
            <div class="education-wrap">

                <div class="item-wrap">
                    <span class="item-title">@Resources.Resource.Certifications</span>
                    @foreach (var ed in Model.Certifications)
                    {
                        <div class="item-description">
                            <span class="item-date">@ed.PeriodFrom - @ed.PeriodTo</span>
                            <div class="descr-wrap">
                                <span class="main">@ed.Title</span>
                                <p>@Html.Raw(ed.Description)</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

        }
    </section>
    <section class="sect-photo left-content">
        <span class="sect-photo-title">Photogallery</span>
        <div class="layout">
            <div id="mygallery">

                @foreach (var img in Model.PhotoGalleries)
                {
                    <a href="@img.LinkBigImage">
                        <img alt="@img.Title" src="@img.LinkSmallImage" />
                        @*<span class="sect-photo-descr">imn name</span>*@
                    </a>
                }
                <!-- other images... -->
            </div>
        </div>

    </section>
    <div class="teacher-profile-right">

    </div>
</div>

@section Scripts
    {

    <script src="~/js/BuyCourse.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.justifiedGallery.min.js"></script>
    <script src="~/js/colorbox-master/jquery.colorbox-min.js"></script>

    <script src="~/Areas/Dashboard/js/AngularInfrastructure/Shared/Shared.js"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    @Scripts.Render("~/Scripts/openalng/Prices")
    @Scripts.Render("~/Scripts/openalng/Geolocation")
    <script src="~/Scripts/openlang/UserManager.js"></script>
    <script src="~/js/locale-all.js"></script>
    <script src="~/js/freewall.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script>



            $( document ).ready(function() {
                console.log("doca", $(document).height());
                jQuery(".fixed-button").magnificPopup();

                jQuery(".fixed-sidebar .col-md-4").mCustomScrollbar({
                    autoDraggerLength: false,
                    advanced: {
                        updateOnContentResize: true,
                        autoUpdateTimeout: 300
                    },
                });
            });
            $('#toggle-event').change(function() {
                var prop =  $(this).prop('checked');
                if(prop)
                    $.ajax({
                        method:'post',
                        url:"/api/BookMarked/AddBook",
                        dataType: 'json',
                        data:{teacherId:selectedTeacherId, studentId:userId}
                    }).then(function(res){}, function(err){console.log(err)});
                else
                    $.ajax({
                        method:'post',
                        url:"/api/BookMarked/RemveBook",
                        dataType: 'json',
                        data:{teacherId:selectedTeacherId, studentId:userId}
                    }).then(function(res){}, function(err){console.log(err)});
            })
            $(window).scroll(function () {
                jQuery(".fixed-sidebar .mCSB_scrollTools_vertical").css("opacity","1");
                var HeadH = $("header").height();
                var BackH = $(".sect-back").height();
                var FootH = $("footer").height();
                var windowHeight = jQuery(window).height();
                if ( $(window).scrollTop() >= BackH + HeadH + 50 &&  $(window).scrollTop() <= $(document).height() - $(window).height() - FootH){                    // ставим условие
                    $(".fixed-sidebar").css({
                        top: "0",
                        bottom: "auto"
                    });
                    console.log("1")
                } else if($(window).scrollTop() >= $(document).height() - $(window).height() - FootH  + 150 && $(window).scrollTop() >= BackH + HeadH + 50 && ($(window).scrollTop() <= BackH + HeadH + 50) == false){
                    $(".fixed-sidebar").css({
                        top: "auto",
                        bottom: "407px"
                    });
                    jQuery(".fixed-sidebar .col-md-4").mCustomScrollbar("scrollTo","bottom",{
                        scrollEasing:"easeOut"
                    });
                    console.log("2")
                } else if( $(window).scrollTop() <= BackH + HeadH + 50) {                    // ставим условие
                    $(".fixed-sidebar").css({
                        top: "auto",
                        bottom: "auto"
                    });
                    console.log("3")
                }
            });
            jQuery( window ).load(function() {
                jQuery(".button-wrap .toggle").click(function(){
                    if(jQuery(this).hasClass("off")){
                        jQuery(".button-wrap .toggle").removeClass("off").addClass("on");
                    } else {
                        jQuery(".button-wrap .toggle").removeClass("on").addClass("off");
                    }
                })
                jQuery(".fc-scroller").mCustomScrollbar();
            });
            var redirectparams = null;

            jQuery("tbody tr .choice").click(function () {
                if (jQuery(this).parents("tr").hasClass("active")) {
                    return;
                } else {
                    jQuery(this).parents("tr").addClass("active").siblings().removeClass("active");
                    redirectparams = { type: $(this).data('type'), member: $(this).data('member'), key:$(this).data('key') };
                }
            })
            $(".buypackage").click(function(){
                if(!redirectparams){
                    $('.tp .js-service')
    .addClass("warningGsService")
    .find('span')
    .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">Oops!<span>'+resource.match('select_a_subscription')+'</span></p></div></div></div>')
    .end()
    .fadeIn('slow');
                    setTimeout(function() {
                        $('.tp .js-service').fadeOut('slow');
                    },
                        3500);
                    return;
                }
                $.cookie("paymentparams", JSON.stringify(redirectparams), { path: '/' });
                location.href = "@(Url.Action("LoadMain", "Main", new {area = "Dashboard"}, null) + "#/makepayment")";
            });
            $("#calendar").mCustomScrollbar();
            var lastselectedType;
            $("#ilessons")
                .on('shown.bs.tab',
                    function(e) {
                        $("#switcher").css('display', 'block');
                        if (lastselectedType === "Basic")
                            changeTypeLessons(0);

                        else
                            changeTypeLessons(1);
                    });
            $("#glessons")
                .on('shown.bs.tab',
                    function(e) {
                        $("#switcher").css('display', 'none');
                        changeTypeLessons(2);
                        selectedType = "Group";
                    });

            jQuery(function() {
                var wall = new Freewall("#freewall");
                wall.reset({
                    selector: '.brick',
                    animate: true,
                    cellW: 160,
                    cellH: 160,
                    fixSize: 0,
                    onResize: function() {
                        wall.refresh();
                    }
                });
                wall.filter(".size23");
                jQuery(".filter-label").click(function() {
                    $(".filter-label").removeClass("active");
                    var filter = $(this).addClass('active').data('filter');
                    if (filter) {
                        wall.filter(filter);
                    } else {
                        wall.unFilter();
                    }
                });

                wall.fitWidth();
        });
        var widthBar = $('.teacher-right-bar-wrapper').width();


        $(window).scroll(function () {
            if (($(window).scrollTop() > 143) && ($(window).scrollTop() < ($(document).innerHeight() - $(window).height()))) {
                $('.teacher-right-bar-fix').addClass('fixed-block');
                $('.teacher-right-bar-fix').removeClass('fixed-block-bottom');
                $('.fixed-block').css('width', widthBar);
            } else if ($(window).scrollTop() >= ($(document).innerHeight() - $(window).height())) {
                $('.teacher-right-bar-fix').addClass('fixed-block-bottom');
                $('.teacher-right-bar-fix').removeClass('fixed-block');
            }  else {
                $('.teacher-right-bar-fix').removeClass('fixed-block');
                $('.teacher-right-bar-fix').removeClass('fixed-block-bottom');
            }
        });
            //Mosaic
            $('#mygallery').justifiedGallery({
                sizeRangeSuffixes: {
                    'lt100': '_t',
                    'lt240': '_m',
                    'lt320': '_n',
                    'lt500': '',
                    'lt640': '_z',
                    'lt1024': '_b'
                },
                lastRow : 'nojustify',
                margins: 24,
                border: 0,
                rowHeight: 200,
                captions: true,
            }).on('jg.complete', function () {
                $(this).find('a').colorbox({
                    maxWidth : '80%',
                    maxHeight : '80%',
                    opacity : 0.8,
                    transition : 'elastic',
                    current : ''
                })});;
            //Photo js end
            $(document)
                .ready(function() {
                    $('.slow-scroll').click( function(){
                        var scroll_el = $(this).attr('href');
                        if ($(scroll_el).length != 0) {
                            $('html, body').animate({ scrollTop: $(scroll_el).offset().top }, 500);
                        }
                        return false;
                    });
                    if ($(window).scrollTop() <= $('header').height()) {
                        $('.js-service.gp-style').css('top', $('header').height() + 'px');
                    } else {
                        $('.js-service.gp-style').css('top', '0');
                    }
                })
            window.onload = function() {

                jQuery(".sect-photo .filter-items .filter-label").click();

                jQuery(".view1").click(function(){
                    if(jQuery(this).hasClass('view2') && !jQuery(this).hasClass('view3')) {
                        jQuery(this).addClass('view3');
                    } else if(jQuery(this).hasClass('view3')) {
                        jQuery(this).removeClass('view3');
                    }
                });

                var fcC = $(".fc-center").html();
                $(".fc-center").html('<a data-button-type="Trial" id="takeTrial" class="button trial-button bind-button">@Resources.Resource.FreeTrialLesson</a> ' + fcC + '<span class="top-calendar-text">@Resources.Resource.Alltimeslisted</span> <div class="text-wrap"><span class="aviable">@Resources.Resource.Available</span><span class="unaviable">@Resources.Resource.Unavailable</span></div>');
                $(".bind-button")
    .click(function() {
        selectedCreditId = null;
        if (!dateId) {
            $('.tp .js-service')
                .addClass("warningGsService")
                .find('span')
                .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">Oops!<span>@Resources.Resource.Youshouldselectoneoffreedate</span></p></div></div></div>')
                .end()
                .fadeIn('slow');
            setTimeout(function() {
                $('.tp .js-service').fadeOut('slow');
            },
                3500);
            return;
        }
        var type = $(this).attr("data-button-type");
        if (type === "Premium" || type === "Basic") {

            var moments = moment(selectedStartDateTime).toDate();
            var now = moment().add(12, 'hours').toDate();
            if (moments < now) {
                $('.tp .js-service')
                    .addClass("warningGsService")
                    .find('span')
                    .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">Oops!<span>@Resources.Resource.Youshouldselectadatebefore12</span></p></div></div></div>')
                    .end()
                    .fadeIn('slow');
                setTimeout(function() {
                    $('.tp .js-service').fadeOut('slow');
                },
                    3500);
                return;
            }
            selectedCreditId = credits.firstOrNull(function (x) {
                return x.type == "Premium" || x.type == "Basic";
            });
        }
        if(type == "Trial" && boughtTrial){
            $('.tp .js-service')
                .addClass("warningGsService")
                .find('span')
                .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">Oops!<span>' + resource.match('you_cannot_book') + '</span></p></div></div></div>')
                .end()
                .fadeIn('slow');
            setTimeout(function() {
                $('.tp .js-service').fadeOut('slow');
            },
                3500);
            return;
        }

        var country = UserManager.location.country;
        if(!selectedCreditId && type == "Trial"){
            selectedCreditId = credits.firstOrNull(function (x) {
                return x.type == "Trial";
            });
        }
        if(!selectedCreditId){
            $('.tp .js-service')
    .addClass("warningGsService")
    .find('span')
    .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">Oops!<span>' + resource.match('you_have_no_cash') + '</span></p></div></div></div>')
    .end()
    .fadeIn('slow');
            setTimeout(function() {
                $('.tp .js-service').fadeOut('slow');
            },
                3500);
            return;
        }
        $("#TellUsMore1").modal('show');
        $.get("/api/currencyConverter/getCurrentPrice",
                { type: type, area: country, userId: userId, currency: code })
            .success(function(res) {
                $("#price-lesson").text(parseFloat(res.curFactory).toFixed(2));
                currentInfoprice = res;
                $("#eur-price").text(res.pricePerLesson + "EUR");
            });
    });
            };
            $(window)
                .scroll(function() {
                    if ($(window).scrollTop() >= $('header').height()) {
                        $('.js-service.gp-style').css('top', '0');

                    } else {
                        $('.js-service.gp-style').css('top', $('header').height() + 'px');

                    }
                });

            var code, timez, userId, cc = "", money = "";
            var modelId = "@Model.Id";
            var dateId;
            var selectedStartDateTime;
            var selectedType = "Premium";
            var sendMessageIsOpen = false;
            @if (ViewBag.User != null)
            {
                <text>money = @(ViewBag.User?.Money)</text>
                <text>
                    code = "@Html.Raw(ViewBag.User.Currency?.Split(':')[0])";
            timez = "@(Model.TimeZone ?? "")";
            </text>
                if (!string.IsNullOrEmpty(ViewBag.User.Location))
                {
                    <text>
            cc = '@Html.Raw((ViewBag.User.Location.Split(':') as IEnumerable<string>).Skip(1).FirstOrDefault())';
            </text>
                }
                <text>userId = "@ViewBag.User.Id"</text>
                <text>
            $.get("/api/currencyConverter/ConvertMoney", { currency: code, money: money })
                .always(function(res) {
                    $("#cashe-account").text(res);
                    //console.log(res.price);
                    //console.log(res.pricePerLesson);
                });


            </text>
            }
            var langsOfTeacher = [];
            @if (Model.Ilearn != null)
            {
                foreach (var lang in Model.Ilearn.Split('|'))
                {
                    if (!string.IsNullOrEmpty(lang))
                    {
                        <text>langsOfTeacher.push("@lang.Split('_')[1]")</text>
                    }
                }
            }
            $("#buy_select_lang option,#trial_select_lang option")
                .each(function(index, elem) {
                    if (langsOfTeacher.indexOf($(elem).data("value")) == -1)
                        $(elem).attr("disabled", "disabled");
                    else
                        $(elem).attr("selected", "selected");
                });
            $(".item.message")
                .click(function() {
                    var id = $(this).data("id");
                    var isTeacher = @User.IsInRole("Presenter").ToString().ToLower();
                    if (!userId) {
                        $('.tp .js-service')
                            .addClass("warningGsService")
                            .find('span')
                            .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">Oops!<span>@Resources.Resource.Youcantsendmess</span></p></div></div></div>')
                            .end()
                            .fadeIn('slow');
                        setTimeout(function() {
                            $('.tp .js-service').fadeOut('slow');
                        },
                            3500);

                        return;
                    }
                    if (isTeacher) {
                        $('.tp .js-service')
                            .addClass("warningGsService")
                            .find('span')
                            .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">Oops!<span>' + resource.match('you_are_teacher') + '</span></p></div></div></div>')
                            .end()
                            .fadeIn('slow');
                        setTimeout(function() {
                            $('.tp .js-service').fadeOut('slow');
                        },
                            3500);
                        //alert("");
                        return;
                        return;
                    }
                    location.href = "@Url.Action("CreateChatIfNotExist", "Chat")" + "?id=" + id;
                });

            function changeTypeLessons(type) {
                CurrenciesCountry.convertAllTypes(type,
                    function(result, result2) {
                        var cur = CurrenciesCountry.selectedCurrency;
                        $(".total-lesson .fa, .currency").text(cur.currency);
                        var prices = $(".total-lesson");
                        result.forEach(function(elem, index) {
                            prices.each(function(idx, elem2) {
                                if ($(elem2).find(".title").text().indexOf(elem.count) > -1)
                                    $(elem2)
                                        .find(".prl")
                                        .text(elem.price.toFixed(2))
                                        .attr("data-eurprice", result2[idx].price)
                                        .end()
                                        .find(".prl1")
                                        .text(elem.priceForOneLesson);
                            });
                        });
                        $("#left-proces-block").css("display", "block");
                    });
            }

            UserManager.allInitialized = function() {
                changeTypeLessons(1);
                lastselectedType = "Premium";
            }
            UserManager.initalizeRegionsInformation(code, timez, cc);
            var listOfShowedWeeks = [];
            selectedTeacherId = "@Model.Id";


                    $('.share')
                        .click(function() {
                            $(this).parents('.prof-actions').find('.socials').addClass('active')
                        });
                    $('.close-socials')
                        .click(function() {
                            $(this).parents('.prof-actions').find('.socials').removeClass('active')
                        });
                    $('.book-mark')
                        .click(function() {
                            var type;
                            $(this).find('span i').toggleClass('fa-star').toggleClass('fa-star-o');
                            $(this).toggleClass('active');
                            @if (User.Identity.IsAuthenticated)
                            {
                                <text>
                            if ($(this).hasClass("active"))
                                type = "put";
                            else
                                type = "delete";
                            $.ajax({
                                url: "/api/BookMarked",
                                data: {
                                    'teacherId': '@teacherId',
                                    'studentId': '@userId'
                                },
                                type: type
                            })
                                .success(function(res) {
                                    if (!res)
                                        alert("Error!");
                                });
                            </text>
                            }
                        });
                    $('.button-slider')
                        .click(function() {
                            $(this).toggleClass('active')

                            if ($('.button-slider').hasClass('active')) {
                                $('.inner-button-circle').html('45')
                                $(".book-basic").text("Book Basic Lessons");
                                selectedType = "Basic";
                                changeTypeLessons(0);
                                lastselectedType = "Basic";

                            } else {
                                $('.inner-button-circle').html('60');
                                $(".book-basic").text("Book Premium Lessons");
                                selectedType = "Premium";
                                changeTypeLessons(1);
                                lastselectedType = "Premium";
                            }
                        });
                    var curday = moment();
                    function previousDayClick(){
                        curday.add('day',-1);
                        $('button.fc-prev-button.fc-button.fc-state-default.fc-corner-left').click();

                        jQuery(".fc-scroller").mCustomScrollbar();
                        console.log(curday.format("DDMMYYYY"))
                        console.log(moment().format("DDMMYYYY"))
                        if(curday.format("DDMMYYYY") == moment().format("DDMMYYYY"))
                            $(this).css('display', 'none');
                    }
                    function nextDayClick(){
                        console.log(curday.day());
                        if(curday.day()!=6){
                            $('button.fc-next-button.fc-button.fc-state-default.fc-corner-right').click();
                            curday.add('day',1);
                            jQuery(".fc-scroller").mCustomScrollbar();
                            $(".previous-week").css('display', 'flex');
                            return;
                        }
                        curday.add('day',1);
                        nextWeekClick();
                    }
                    function previousDayClick(){
                        curday.add('day',-1);

                        $('button.fc-prev-button.fc-button.fc-state-default.fc-corner-left').click();
                        jQuery(".fc-scroller").mCustomScrollbar();
                        console.log(curday.format("DDMMYYYY"))
                        console.log(moment().format("DDMMYYYY"))
                        if(curday.format("DDMMYYYY") == moment().format("DDMMYYYY"))
                            $(this).css('display', 'none');
                    }


                    var localTime = new Date().getTimezoneOffset() / 60;
                    console.log('start')
                    $.getJSON("@Url.Action("GetTeacherScheduleWithoutPast", "TeacherSchedule")",
                            { 'teacherId': selectedTeacherId, 'week': null, 'localtime': localTime })
                        .always(function(result) {
                            setTimeout(function() {
                                $('#calendar')
                                    .fullCalendar({

                                        dayClick: function(e, d, c) {
                                        },

                                        lang:"@Thread.CurrentThread.CurrentCulture.Name",
                                        header: {
                                            left: false,
                                            center: 'title,agendaFourDay',
                                            right: 'prev,next',

                                        },
                                        header: {
                                            left: false,
                                            center: 'title',
                                            right: 'prev,next',

                                        },
                                        footer: {
                                            left: false,
                                            center: 'BookLes,takeTrial',
                                            right: false,

                                        },
                                        views: {
                                            BookLes: {
                                                type: 'bookLes',
                                                buttonText: 'Book lesson',
                                            },
                                        },
                                        select: function(start, end, allDay) {
                                            console.log("EVENT");
                                        },

                                        selectHelper: false,
                                        firstDay:0,
                                        eventLimit: true,
                                        events: result,
                                        eventClick: function(calEvent, jsEvent, view) {
                                            if (calEvent.className.length>1 || calEvent.className[0] == 'view6') {
                                                dateId = null;
                                                return;
                                            }
                                            var dt2 = moment(calEvent.start._d);
                                            var dtnow = moment();
                                            if (dt2 < dtnow) {
                                                alert("You can't to select dates in the past");
                                                return;
                                            }
                                            var toggle = "@dataToggle";
                                            var trialToggle = "@dataToggleBuyTrial";
                                            if (!dateId) {
                                            }
                                            dateId = calEvent.id;
                                            selectedStartDateTime = calEvent.start._d
                                            var dt = moment(calEvent.start._d).format("DD/MM/YYYY HH:mm");
                                            var time = moment(calEvent.start._d).format("HH:mm");
                                            $("#start-hours").val(time);
                                            $('.datetimepicker,.hasMinDate').data("DateTimePicker").date(dt);
                                            $('.hasMinDate').data("DateTimePicker").date(dt);
                                            if (calEvent.className[0] == 'view1') {
                                                $('.view1').removeClass('view2')
                                                $(jsEvent.currentTarget).addClass('view2')
                                            } else {
                                            }
                                        },
                                        editable: false,
                                        defaultView: $(window).width()<768?'agendaDay':'agendaWeek',
                                        allDaySlot: false,
                                        selectable:true,
                                        slotDuration: '01:00:00',
                                        slotLabelFormat: "HH:mm",
                                        weekNumbers: true,
                                        maxTime: '24:00:00',
                                        timezone: 'local',
                                        ignoreTimezone: false,
                                        contentHeight: '99999',
                                        height: '900',
                                    });
                                listOfShowedWeeks = [];
                                var numb = $(".fc-week-number span:first-child").text();
                                numb = parseInt(numb.substr(1));
                                listOfShowedWeeks.push(numb);
                                if( $(window).width()<768){
                                    $('.fc-axis.fc-widget-header')
                                    .append('<span class="local-time">UTC' + localTime + '</span>')
                                    $('.fc-toolbar')
                                        .append('<span style="display:none" data-curpage="0" class="previous-week"><i class="material-icons">arrow_back</i><span>@Resources.Resource.PrevWeek</span></span><span class="next-week"><span>@Resources.Resource.Nextweek</span><i class="material-icons">arrow_forward</i></span>');

                                    $('body')
                                        .on('click',
                                            '.next-week , .next-day',nextDayClick);
                                    $('body')
                                        .on('click',
                                            '.previous-week , .previous-day',previousDayClick);
                                }
                                else{
                                    $('.fc-axis.fc-widget-header')
                                .append('<span class="local-time">UTC' + localTime + '</span>');

                                    $('.fc-toolbar')
                                        .append('<span style="display:none" data-curpage="0" class="previous-week"><i class="material-icons">arrow_back</i><span>@Resources.Resource.PrevWeek</span></span><span class="next-week"><span>@Resources.Resource.Nextweek</span><i class="material-icons">arrow_forward</i></span>');
                                    $('body')
                                        .on('click',
                                            '.next-week , .next-day',nextWeekClick);
                                    $('body')
                                        .on('click',
                                            '.previous-week , .previous-day',previousWeekClick);
                                }

                                $('.show-after-upload').show();
                                $('.callendar-preloader').hide();
                            },
                                10)
                        });
                    var windowHeight = jQuery(window).height();
                    var windowWidth = jQuery(window).width();
                    function previousWeekClick() {
                        var data = parseInt($(this).data('curpage'));
                        if (--data <= 0) {
                            $(this).data('curpage', data);
                            $(this).css('display', 'none');
                        } else
                            $(this).data('curpage', data);
                        $('button.fc-prev-button.fc-button.fc-state-default.fc-corner-left').click();
                        $('.fc-axis.fc-widget-header')
                            .append('<span class="local-time">UTC' + localTime + '</span>');

                        var numb = $(".fc-week-number span:first-child").text();
                        numb = parseInt(numb.substr(1));
                        if ($.inArray(numb, listOfShowedWeeks) != -1){
                            jQuery(".fc-scroller").mCustomScrollbar();
                            return;
                        }
                        listOfShowedWeeks.push(numb);
                        $.getJSON("@Url.Action("GetTeacherScheduleWithoutPast", "TeacherSchedule")",
                                { 'teacherId': selectedTeacherId, 'week': numb })
        .always(function(result) {

            var calendar = $('#calendar');
            jQuery(".fc-scroller").mCustomScrollbar();
            calendar.fullCalendar("addEventSource", result);
        });
                    }
                    function nextWeekClick(){
                        var prevweek = $(this).siblings('.previous-week');
                        prevweek.css('display', 'flex');

                        var page = parseInt(prevweek.data('curpage'));
                        prevweek.data('curpage', ++page);
                        $('button.fc-next-button.fc-button.fc-state-default.fc-corner-right').click();
                        $('.fc-axis.fc-widget-header')
                            .append('<span class="local-time">UTC' + localTime + '</span>')
                        var numb = $(".fc-week-number span:first-child").text();
                        numb = parseInt(numb.substr(1));
                        if ($.inArray(numb, listOfShowedWeeks) != -1)
                        {
                            jQuery(".fc-scroller").mCustomScrollbar();
                            return;
                        }
                        listOfShowedWeeks.push(numb);
                        $.getJSON("@Url.Action("GetTeacherScheduleWithoutPast", "TeacherSchedule")",
                                { 'teacherId': selectedTeacherId, 'week': numb })
                                    .always(function(result) {
                                        jQuery(".fc-scroller").mCustomScrollbar();
                                        var calendar = $('#calendar');
                                        calendar.fullCalendar("addEventSource", result);
                                    });
                    }
                    $('body')
                        .on('click',
                            'fc-event a',
                            function() {
                            });

            $(".trial-button")
                .click(function() {
                    if(!userId)
                        return;
                    if (!dateId) {
                        $('.tp .js-service')
                            .addClass("warningGsService")
                            .find('span')
                            .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">Oops!<span>@Resources.Resource.Youneedselectstartdate</span></p></div></div></div>')
                            .end()
                            .fadeIn('slow');
                        setTimeout(function() {
                            $('.tp .js-service').fadeOut('slow');
                        },
                            3500);
                        return;
                    }
                });
            $(".row.total-lesson")
                .click(function() {
                    countLessons = $(this).find(".title").text().split(' ')[0];
                    selectedprice = $(this).find(".prl").text();
                    selectedpriceeur = $(this).find(".prl").attr("data-eurprice");
                    var currency = $(this).find(".price>i").text();
                    var buyCourse = $("#buyFullStep1,#buyFullStep2");
                    buyCourse.find(".full_individ_lessons").text(countLessons);
                    buyCourse.find(".currency-for-price").text(currency);
                    buyCourse.find(".full_individ_price").text(selectedprice);
                });
            var date = new Date();
            $(".hasMinDate")
                .datetimepicker({
                    minDate: new Date(),
                    format: 'DD/MM/YYYY',
                    allowInputToggle: true,
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
            });


            function gup(name, url) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regexS = "[\\?&]" + name + "=([^&#]*)";
                var regex = new RegExp(regexS);
                var results = regex.exec(url);
                return results == null ? null : results[1];
            }

            if (gup('amount') == '0.99') {
                $('#buy-step-3').modal('show')
            } else if (gup('amount') > '0.99') {
                $('#buy-full-step-3').modal('show')
            }
                @if (User.Identity.IsAuthenticated)
                {
                    <text>
            var userid = "@User.Identity.GetUserId()";
            var allTeachersBoughtLessons;
            var boughtTrial = 0;
            $.get("/api/CheckStateBoughtTrialLesson", { 'id': userid }, 'json')
                .success(function(result) {

                    if (result.length == 0) {
                        sendMessageIsOpen = false;
                        $(".trial-button.show-after-upload").css("display", "block").css("display", "block").parent().siblings().css("display","none");;
                        return;
                    }
                    result.forEach(function(elem) {
                        if (elem.CustomUserId == modelId) {
                            sendMessageIsOpen = true;
                            boughtTrial = 1;
                            return;
                        }

                    });
                });

            </text>
                }

    </script>
    <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '1538355979822340',
                    cookie: true,
                    xfbml: true,
                    version: 'v2.2',
                    status: true
                });
            };
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            $(".fa.fa-facebook-official")
                .click(function() {
                    var href = location.href;
                    FB.ui({
                        method: 'share',
                        href: href
                    },
                        function(response) {});
                });
            $("#reddedit")
                .click(function() {
                    var left = (screen.width / 2) - 300;
                    var top = (screen.height / 2) - 250;
                    window.open('https://www.reddit.com/submit?url=@currentUrl',
                        'Reddit',
                        'toolbar=no,width=600, height=500, left=' + left + ', top=' + top + '');

            });

    </script>
    <script>
        window.twttr = (function (d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script>
        window.___gcfg = {
            lang: 'en-GB',
            parsetags: 'onload',
        };
    </script>
    <script>
            var currentInfoprice;
            $("#bind")
                .click(function() {
                    if (!dateId) {
                        $('.tp .js-service')
                            .addClass("warningGsService")
                            .find('span')
                            .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">Oops!<span>@Resources.Resource.Youshouldselectoneoffreedate</span></p></div></div></div>')
                            .end()
                            .fadeIn('slow');
                        setTimeout(function() {
                            $('.tp .js-service').fadeOut('slow');
                        },
                            3500);
                        return;
                    }

                    $.get("/api/LessonsBinder/BindLesson",
                        {
                            scheduleId: dateId,
                            paymentId: currentInfoprice.paymentId,
                            price: currentInfoprice.pricePerLesson,
                            studentId: userId,
                            teacherId: selectedTeacherId,
                            type: currentInfoprice.type,
                            language:$("#selectLangForTeach").val(),
                            level:$("#selectLevelForTeach").val(),
                            creditId:selectedCreditId.id
                        })
                        .always(function(res) {
                            if(currentInfoprice.type === 3){
                                location.href = "@Url.Action("LoadMain", "Main", new {area="Dashboard"}, null)?dt="+res;
                                return;
                            }
                            location.href = "@Url.Action("LoadMain", "Main", new { area = "Dashboard" }, null)"
                        });
                    $("#TellUsMore1").modal('hide');
                });
            $("#ssMess").validate({
                errorPlacement: function(){}
            });
            $("#sendMessage").click(function(){
                if(!$("#ssMess").valid()) return;
                $("#SendMessage").modal("hide");
                var obj = $("#ssMess").serialize();

                $.post("@Url.Action("SendMessageToTeacher", "ListOfTeachers")",obj).success(function(mess){
                    alert("Your message was sent");
                });
            });

            $("a.member").click(function(){
                $(this).addClass("active").siblings().removeClass("active");
                var member = $(this).attr('id');
                var type = $("a.type.active").attr('id');
                $(`.${type}-${member}`).removeClass('hidden').siblings().addClass('hidden');
                redirectparams = null;
                $(".choice").parents("tr").removeClass('active');
            })
            $("a.type").click(function(){
                $(this).addClass("active").siblings().removeClass("active");
                var type = $(this).attr('id');
                var member = $("a.member.active").attr('id');
                $(`.${type}-${member}`).removeClass('hidden').siblings().addClass('hidden');
                redirectparams = null;
                $(".choice").parents("tr").removeClass('active');
            })
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>

            $.ajax({
                url: '/api/Account/GetCurrentGetAllCreditsPrices',
                beforeSend: function (xhr) {
                    var token = sessionStorage.getItem('token');
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                async: false,
                dataType: "json",
                contentType: "application/json",
                method: "get",
            }).then(function (res) {
                var btns = $(".bind-button");
                console.log(res);
                credits = res;
                credits.forEach(function (es) {
                    btns.filter('div[data-button-type="' + es.type + '"]').css("display", "block");
                });
            }, function (err) {
                console.log(err);
            });
        </script>
    }
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script type="text/javascript" src="https://platform.linkedin.com/in.js"></script>
    <script type="in/share">

    </script>
    <script type="text/javascript"
            async defer
            src="//assets.pinterest.com/js/pinit.js"></script>
}
