﻿
<style>
    .loading {
        position: absolute;
        width: 128px;
        height: 128px;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -100px;
        /*background: url(../Images/spinner-md.gif);*/
        /*background-image: url('../../Images/loading.gif');*/
        background-image: url('../../Images/spinner.gif');
        /*background-image: url('../../Images/new.gif');*/
    }

    .pad_load {
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
        display: none;
    }
</style>
<script>
    function Search() {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("Search")',
            dataType: 'json',
            type: 'POST',
            data: { title: $("#search").val().toString() },
            success: function (data) {
                FillTable(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    };

    function SearchByMonth(monthR, yearR) {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("SearchByMonthYear")',
            dataType: 'json',
            type: 'POST',
            data: { month: monthR, year: yearR },
            success: function (data) {
                FillTable(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    };

    function SearchByDateTime() {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("SearchByDate")',
            dataType: 'json',
            type: 'POST',
            data: { dateFrom: $("#dateFromForm").val().toString(), dateTo: $("#dateToForm").val().toString() },//dateFrom: $("#dateFromForm").val().toString(), dateTo: $("#dateToForm").val().toString()
            success: function (data) {
                FillTable(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    };

    function SearchByTopic(general, specific) {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("SearchByTopic")',
            dataType: 'json',
            type: 'POST',
            data: { general: general, specific: specific },
            success: function (data) {
                FillTable(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    };

    function SearchByClassModelID(id) {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("SearchByClassModelID")',
            dataType: 'json',
            type: 'POST',
            data: { classModelId: id },
            success: function (data) {
                FillDetails(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    };

    

    $(function () {
        $("#dateFrom").datepicker({
            format: 'mm.dd.yyyy'
        });
        $("#dateTo").datepicker({
            format: 'mm.dd.yyyy'
        });
        $("#dateFromRC").datepicker({
            format: 'mm.dd.yyyy'
        });
        $("#dateToRC").datepicker({
            format: 'mm.dd.yyyy'
        });
    });

    function FillTable(data) {
        if (data.length == 0) {
            $('#dataTable tr:gt(0)').after().remove();
            return;
        }

        $('#dataTable tr:gt(0)').after().remove();
        var r = new Array(), j = -1;
        $.each(data, function (k, v) {

            var fullDate = new Date(parseInt(data[k].StartTime.replace(/[^0-9]/g, '')));
            var twoDigitMonth = fullDate.getMonth() + 1 + "";
            if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;
            var twoDigitDate = fullDate.getDate() + "";
            if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
            var twoDigitHour = fullDate.getHours() + "";
            if (twoDigitHour.length == 1) twoDigitHour = "0" + twoDigitHour;
            var twoDigitMin = fullDate.getMinutes() + "";
            if (twoDigitMin.length == 1) twoDigitMin = "0" + twoDigitMin;
            var currentDate = twoDigitMonth + "/" + twoDigitDate + "/" + fullDate.getFullYear();
            var currentTime = twoDigitHour + ":" + twoDigitMin;

            var hours = Math.floor(data[k].Duration / 60) + "";
            if (hours.length == 1) hours = "0" + hours;
            var minutes = data[k].Duration % 60 + "";
            if (minutes.length == 1) minutes = "0" + minutes;
            var duration = hours + ":" + minutes;

            r[++j] = '<tr><td>';
            r[++j] = currentDate;
            r[++j] = '</td><td><span class="dash_day">';
            r[++j] = currentTime;
            r[++j] = '</span></td><td><span class="dash_day">';
            r[++j] = data[k].Title;
            r[++j] = '</span></td><td><span class="dash_day">';
            r[++j] = duration;
            r[++j] = '</span></td><td><span class="dash_day">';
            var levels = data[k].Levels;
            var level = "none";
            if (levels != null)
                level = data[k].Levels.Name;
            r[++j] = level;
            r[++j] = '</span></td><td><span class="dash_day">';
            var attendees = data[k].Attendees;
            var seats = data[k].AttendeeLimit;
            if (attendees != null)
                seats = parseInt(data[k].AttendeeLimit) - parseInt(data[k].Attendees.length);
            r[++j] = seats;
            r[++j] = '</span></td><td><span class="dash_day">';
            r[++j] = '<input type="button" value="See Details" class="details" onclick="GetDetails(' + data[k].ClassModelID + ')"/>';    //data[k].Description;
            r[++j] = '</span></td></tr>';
        });
        $('#dataTable tr:last').after(r.join(''));
    }

    function GetDetails(val) {
        $(".v_tab").hide();
        $("#details_tab").show();
        SearchByClassModelID(val);

    };
    function sliderChange(val) {
        SearchByMonth(val, $("#yearRange").val());
    };
    function sliderChange2(val) {
        SearchByMonth($("#monthRange").val(), val);
    };
    function GeneralChange(val) {
        SearchByTopic(val, $("#specificDd option:selected").text());
    };
    function SpecificChange(val) {
        SearchByTopic($("#generalDd option:selected").text(), val);
    };

    function LanguageChange(val) {
        //SearchByTopic($("#generalDd option:selected").text(), val);
    };
</script>

<div class="pad_load">
    <div class="loading"></div>
</div>
<div id="dash_t5" class="dash_tab2">
    <div>
        <select id="language" name="country" class="c-ddl" onchange="LanguageChange(this.value)">
            <option value="English">English</option>
            <option value="German">German</option>
        </select>
        <input type="text" id="search" />
        <input type="button" value="go!" onclick=" Search() " />
    </div>
    <div style="width:100%;" class="table-responsive">
        <table style="width:100%;" class="bordered table" width="100%">
            <tr style="width: 100%;" class="dash_tr2">
                <td>
                    <div>
                        <input type="button" value="PERIOD" id="periodBtn" />
                    </div>
                    <div>
                        <input type="button" value="MONTH" id="monthBtn" />
                    </div>
                    <div id="monthBlock">
                        <div id="month">
                            <input id="monthRange" type="range" min="1" max="12" value="6" step="1" onchange=" sliderChange(this.value) " />
                        </div>
                        <div id="year">
                            <input id="yearRange" type="range" min="2015" max="2016" value="2015" step="1" onchange=" sliderChange2(this.value) " />
                        </div>
                    </div>
                    <div id="periodBlock" style="display:none">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" style="width: 300px">
                                    <div class="input-group date" id="dateFrom">
                                        <input id="dateFromForm" type="text" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" style="width: 300px">
                                    <div class="input-group date" id="dateTo">
                                        <input id="dateToForm" type="text" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="VIEW" onclick="SearchByDateTime()" />
                    </div>
                </td>
            </tr>
            <tr style="width:100%;" class="dash_tr2">
                <td>
                    <div>I'm looking for</div>
                    <div>
                        <select id="generalDd" name="country" class="c-ddl" onchange="GeneralChange(this.value)">
                            <option value="Test Class 1">Test Class 1</option>
                            <option value="Test Class 2">Test Class 2</option>
                            <option value="Test Class 3">Test Class 3</option>
                            <option value="Test Class 4">Test Class 4</option>
                            <option value="Test Class 5">Test Class 5</option>
                            <option value="Test Class 6">Test Class 6</option>
                            <option value="Test Class 250">Test Class 250</option>
                        </select>
                    </div>
                    <div>
                        <select id="specificDd" name="country" class="c-ddl" onchange="SpecificChange(this.value)">
                            <option value="Test Specific Class 11">Test Specific Class 11</option>
                            <option value="Test Specific Class 12">Test Specific Class 12</option>
                            <option value="Test Specific Class 13">Test Specific Class 13</option>
                            <option value="Test Specific Class 14">Test Specific Class 14</option>
                            <option value="Test Specific Class 15">Test Specific Class 15</option>
                            <option value="Test Specific Class 16">Test Specific Class 16</option>
                            <option value="Test Specific Class 250">Test Specific Class 250</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table dash_mytable" id="dataTable">
            <tr class="dash_heading_tr">
                <th scope="col">
                    <div class="icon icon-fontawesome-webfont-166 dash2_icon"></div>date
                </th>
                <th scope="col">
                    <div class="icon icon-fontawesome-webfont-286 dash2_icon"></div>time
                </th>
                <th width="450px" scope="col">
                    <div style="color: rgb(100, 181, 231);" class="icon" data-icon=""></div>topic
                </th>
                <th width="170px" scope="col">
                    <div class="icon">
                        <img src="/media/1224/reverse.png" />
                    </div>duration
                </th>
                <th width="170px" scope="col">
                    <div class="icon">
                        <img src="/media/1224/reverse.png" />
                    </div>level
                </th>
                <th width="170px" scope="col">
                    <div class="icon">
                        <img src="/media/1224/reverse.png" />
                    </div>seats
                </th>
                <th width="170px" scope="col"><div class="icon"><img src="/media/1224/reverse.png" /></div>course details</th>
            </tr>
        </table>
    </div>
</div>
<script>
    $("#periodBtn").click(function () {
        $("#monthBlock").hide();
        $("#periodBlock").show();
    });
    $("#monthBtn").click(function () {
        $("#periodBlock").hide();
        $("#monthBlock").show();
    });
</script>