﻿<script>
    function SearchCN() {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("Search")',
            dataType: 'json',
            type: 'POST',
            data: { title: $("#searchCN").val().toString() },
            success: function (data) {
                FillTableCN(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    }
    function SearchByTopicCN(general, specific) {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("SearchByTopic")',
            dataType: 'json',
            type: 'POST',
            data: { general: general, specific: specific },
            success: function (data) {
                FillTableCN(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    };

    function SearchByTime() {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("SearchByTime")',
            dataType: 'json',
            type: 'POST',
            data: { timeFrom: "10:00", timeTo: "22:00" },//dateFrom: $("#dateFromForm").val().toString(), dateTo: $("#dateToForm").val().toString()
            success: function (data) {
                FillTableCN(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    };

    function JoinClass(val) {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("JoinClass")',
            dataType: 'json',
            type: 'POST',
            data: { classModelId: val },
            success: function (data) {
                //FillTableCN(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    }

    function FillTableCN(data) {
        if (data.length == 0) {
            $('#dataTableCN tr:gt(0)').after().remove();
            return;
        }

        $('#dataTableCN tr:gt(0)').after().remove();
        var r = new Array(), j = -1;
        $.each(data, function (k, v) {

            var fullDate = new Date(parseInt(data[k].StartTime.replace(/[^0-9]/g, '')));

            var twoDigitHour = fullDate.getHours() + "";
            if (twoDigitHour.length == 1) twoDigitHour = "0" + twoDigitHour;
            var twoDigitMin = fullDate.getMinutes() + "";
            if (twoDigitMin.length == 1) twoDigitMin = "0" + twoDigitMin;

            var currentTime = twoDigitHour + ":" + twoDigitMin;

            var hours = Math.floor(data[k].Duration / 60) + "";
            if (hours.length == 1) hours = "0" + hours;
            var minutes = data[k].Duration % 60 + "";
            if (minutes.length == 1) minutes = "0" + minutes;
            var duration = hours + ":" + minutes;

            var levels = data[k].Levels;
            var level = "none";
            if (levels != null)
                level = data[k].Levels.Name;
            var attendees = data[k].Attendees;
            var seats = data[k].AttendeeLimit;
            if (attendees != null)
                seats = parseInt(data[k].AttendeeLimit) - parseInt(data[k].Attendees.length);

            r[++j] = '<tr><td>';
            r[++j] = currentTime;
            r[++j] = '</td><td><span class="dash_day">';
            r[++j] = data[k].Title;
            r[++j] = '</span></td><td><span class="dash_day">';
            r[++j] = duration;
            r[++j] = '</span></td><td><span class="dash_day">';
            r[++j] = level;
            r[++j] = '</span></td><td><span class="dash_day">';
            r[++j] = seats;
            r[++j] = '</span></td><td><span class="dash_day">';

            r[++j] = '<input type="button" value="See Details" class="details" onclick="GetDetails(' + data[k].ClassModelID + ')"/>';
            r[++j] = '</span></td><td><span class="dash_day">';
            r[++j] = '<input type="button" value="Join" class="join" onclick="JoinClass(' + data[k].ClassModelID + ')"/>';
            r[++j] = '</span></td></tr>';
        });
        $('#dataTableCN tr:last').after(r.join(''));
    }

    $(function () {
        $('#timeFrom').timepicker({
            minuteStep: 1,
            template: 'modal',
            appendWidgetTo: 'body',
            showSeconds: true,
            showMeridian: false,
            defaultTime: false
        });
        $('#timeTo').timepicker({
            minuteStep: 1,
            template: 'modal',
            appendWidgetTo: 'body',
            showSeconds: true,
            showMeridian: false,
            defaultTime: false
        });
    });

    function GeneralChangeCN(val) {
        SearchByTopicCN(val, $("#specificDdCN option:selected").text());
    };
    function SpecificChangeCN(val) {
        SearchByTopicCN($("#generalDdCN option:selected").text(), val);
    };
</script>
<div class="pad_load">
    <div class="loading"></div>
</div>
<div id="dash_t5" class="dash_tab2">
    <div>
        <label class="">Classes now!</label>
        <input type="text" id="searchCN" />
        <input type="button" value="go!" onclick=" SearchCN() " />
    </div>
    <div style="width:100%;" class="table-responsive">
        <table style="width:100%;" class="bordered table" width="100%">
            <tr style="width: 100%;" class="dash_tr2">
                <td>
                    <div>
                        TIME
                    </div>
                    <div id="timeBlock">
                                    <div class="input-append bootstrap-timepicker">
                                        <input id="timeFrom" class="input-small" type="text" /><span class="add-on"><i class="icon-time"></i></span>
                                    </div>
                                    <div class="input-append bootstrap-timepicker">
                                        <input id="timeTo" class="input-small" type="text" /><span class="add-on"><i class="icon-time"></i></span>
                                    </div>
                        </div>
                        <input type="button" value="VIEW" onclick="SearchByTime()" />
                </td>
            </tr>
            <tr style="width:100%;" class="dash_tr2">
                <td>
                    <div>I'm looking for</div>
                    <div>
                        <select id="generalDdCN" name="country" class="c-ddl" onchange="GeneralChangeCN(this.value)">
                            <option value="Test Class 1">Test Class 1</option>
                            <option value="Test Class 2">Test Class 2</option>
                            <option value="Test Class 3">Test Class 3</option>
                            <option value="Test Class 4">Test Class 4</option>
                            <option value="Test Class 5">Test Class 5</option>
                            <option value="Test Class 6">Test Class 6</option>
                            <option value="Test Class 250">Test Class 250</option>
                        </select>
                    </div>
                    <div>
                        <select id="specificDdCN" name="country" class="c-ddl" onchange="SpecificChangeCN(this.value)">
                            <option value="Test Specific Class 11">Test Specific Class 11</option>
                            <option value="Test Specific Class 12">Test Specific Class 12</option>
                            <option value="Test Specific Class 13">Test Specific Class 13</option>
                            <option value="Test Specific Class 14">Test Specific Class 14</option>
                            <option value="Test Specific Class 15">Test Specific Class 15</option>
                            <option value="Test Specific Class 16">Test Specific Class 16</option>
                            <option value="Test Specific Class 250">Test Specific Class 250</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table dash_mytable" id="dataTableCN">
            <tr class="dash_heading_tr">
                <th scope="col">
                    <div class="icon icon-fontawesome-webfont-286 dash2_icon"></div>time
                </th>
                <th width="450px" scope="col">
                    <div style="color: rgb(100, 181, 231);" class="icon" data-icon=""></div>topic
                </th>
                <th width="170px" scope="col">
                    <div class="icon">
                        <img src="/media/1224/reverse.png" />
                    </div>duration
                </th>
                <th width="170px" scope="col">
                    <div class="icon">
                        <img src="/media/1224/reverse.png" />
                    </div>level
                </th>
                <th width="170px" scope="col">
                    <div class="icon">
                        <img src="/media/1224/reverse.png" />
                    </div>seats
                </th>
                <th width="170px" scope="col"><div class="icon"><img src="/media/1224/reverse.png" /></div>course details</th>
                <th scope="col">
                    <div class="icon icon-fontawesome-webfont-166 dash2_icon"></div>go to class
                </th>
            </tr>
        </table>
    </div>
</div>