﻿<script>
    function ReserveClass(val) {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("ReserveClass")',
            dataType: 'json',
            type: 'POST',
            data: { classModelId: val },
            success: function (data) {
                //FillTableCN(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    }
    function DownloadClass(val) {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("DownloadClass")',
            dataType: 'json',
            type: 'POST',
            data: { classModelId: val },
            success: function (data) {
                //FillTableCN(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    }
    function FillDetails(data) {
        $('#title').text("");
        $('#content').text("");
        $('#subjects').text("");
        $('#presenter').text("");
        $("#buttons").text("");
        $("#buttons").append('<input type="button" id="reserve" value="RESERVE THIS CLASS" onclick="ReserveClass(' + data.ClassModelID + ')"> <input type="button" id="download" value="DOWNLOAD" onclick="DownloadClass(' + data.ClassModelID + ')">');
        $('#title').text(data.Title);
        $('#content').text(data.Description);
        $.each(data.Subjects, function (k) {
            $('#subjects').append('<div class="subject">' + data.Subjects[k].Name + '</div>');
        });
        $('#presenter').text(data.Presenters.Name);
    };
</script>

<div class="pad_load">
    <div class="loading"></div>
</div>
<div id="" class="">
    <div>Topic In Detail</div>
    <div id="title"></div>
    <div id="buttons"></div>
    
    <div id="content"></div>
    <div id="picture"><img src="" alt="none"></div>
    <div id="subjects"></div>
    <div id="presenter"></div>
</div>