﻿<script>
    $(document).ready()(
        {

        });

    function SearchRC() {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("Search")',
            dataType: 'json',
            type: 'POST',
            data: { title: $("#searchRC").val().toString() },
            success: function (data) {
                FillTableRC(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    };

    function SearchByMonthRC(monthR, yearR) {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("SearchByMonthYear")',
            dataType: 'json',
            type: 'POST',
            data: { month: monthR, year: yearR },
            success: function (data) {
                FillTableRC(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    };

    function SearchByDateTimeRC() {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("SearchByDate")',
             dataType: 'json',
             type: 'POST',
             data: { dateFrom: $("#dateFromFormRC").val().toString(), dateTo: $("#dateToFormRC").val().toString() },//dateFrom: "04.18.2015", dateTo: "04.18.2016"
             success: function (data) {
                 FillTableRC(data);
                 $('.pad_load').hide();
             },
             error: function () {
                 alert('error');
                 $('.pad_load').hide();
             }
         });
     };

    function CancelClass(val) {
        $('.pad_load').show();
        $.ajax({
            url: '@Url.Action("CancelClass")',
            dataType: 'json',
            type: 'POST',
            data: { classModelId: val },
            success: function (data) {
                //FillTableCN(data);
                $('.pad_load').hide();
            },
            error: function () {
                alert('error');
                $('.pad_load').hide();
            }
        });
    }

     function FillTableRC(data) {
         if (data.length == 0) {
             $('#dataTableRC tr:gt(0)').after().remove();
             return;
         }

         $('#dataTableRC tr:gt(0)').after().remove();
         var r = new Array(), j = -1;
         $.each(data, function(k, v) {

             var fullDate = new Date(parseInt(data[k].StartTime.replace(/[^0-9]/g, '')));
             var twoDigitMonth = fullDate.getMonth() + 1 + "";
             if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;
             var twoDigitDate = fullDate.getDate() + "";
             if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
             var twoDigitHour = fullDate.getHours() + "";
             if (twoDigitHour.length == 1) twoDigitHour = "0" + twoDigitHour;
             var twoDigitMin = fullDate.getMinutes() + "";
             if (twoDigitMin.length == 1) twoDigitMin = "0" + twoDigitMin;
             var currentDate = twoDigitMonth + "/" + twoDigitDate + "/" + fullDate.getFullYear();
             var currentTime = twoDigitHour + ":" + twoDigitMin;

             var hours = Math.floor(data[k].Duration / 60) + "";
             if (hours.length == 1) hours = "0" + hours;
             var minutes = data[k].Duration % 60 + "";
             if (minutes.length == 1) minutes = "0" + minutes;
             var duration = hours + ":" + minutes;

             var levels = data[k].Levels;
             var level = "none";
             if (levels != null)
                 level = data[k].Levels.Name;
             var attendees = data[k].Attendees;
             var seats = data[k].AttendeeLimit;
             if (attendees != null)
                 seats = parseInt(data[k].AttendeeLimit) - parseInt(data[k].Attendees.length);

             r[++j] = '<tr><td>';
             r[++j] = currentDate;
             r[++j] = '</td><td><span class="dash_day">';
             r[++j] = currentTime;
             r[++j] = '</span></td><td><span class="dash_day">';
             r[++j] = data[k].Title;
             r[++j] = '</span></td><td><span class="dash_day">';
             r[++j] = duration;
             r[++j] = '</span></td><td><span class="dash_day">';
             r[++j] = level;

             r[++j] = '</span></td><td><span class="dash_day">';
             r[++j] = '<input type="button" value="See Details" class="details" onclick="GetDetails(' + data[k].ClassModelID + ')"/>';
             r[++j] = '</span></td><td><span class="dash_day">';
             r[++j] = '<input type="button" value="JOIN" class="details" onclick="JoinClass(' + data[k].ClassModelID + ')"/>';
             r[++j] = '</span></td><td><span class="dash_day">';
             r[++j] = '<input type="button" value="Cancel" class="details" onclick="CancelClass(' + data[k].ClassModelID + ')"/>';
             r[++j] = '</span></td></tr>';

         });
         $('#dataTableRC tr:last').after(r.join(''));
     }

     function sliderChangeRC(val) {
         SearchByMonthRC(val, $("#yearRange").val());
     };
     function sliderChange2RC(val) {
         SearchByMonthRC($("#monthRange").val(), val);
     };
 </script>

<div class="pad_load">
    <div class="loading"></div>
</div>
<div id="dash_t5" class="dash_tab2">
    <div>
        <label class="titleRC">Reserved Classes</label>
        <input type="text" id="searchRC" />
        <input type="button" value="go!" onclick=" SearchRC() " />
    </div>
    <div style="width:100%;" class="table-responsive">
        <table style="width:100%;" class="bordered table" width="100%">
            <tr style="width: 100%;" class="dash_tr2">
                <td>
                    <div>
                        <input type="button" value="PERIOD" id="periodBtnRC" />
                    </div>
                    <div>
                        <input type="button" value="MONTH" id="monthBtnRC" />
                    </div>
                    <div id="monthBlockRC">
                        <div id="month">
                            <input id="monthRangeRC" type="range" min="1" max="12" value="6" step="1" onchange=" sliderChangeRC(this.value) " />
                        </div>
                        <div id="year">
                            <input id="yearRangeRC" type="range" min="2015" max="2016" value="2015" step="1" onchange=" sliderChange2RC(this.value) " />
                        </div>
                    </div>
                    <div id="periodBlockRC" style="display:none">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" style="width: 300px">
                                    <div class="input-group date" id="dateFromRC">
                                        <input id="dateFromFormRC" type="text" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" style="width: 300px">
                                    <div class="input-group date" id="dateToRC">
                                        <input id="dateToFormRC" type="text" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="VIEW" onclick="SearchByDateTime()" />
                    </div>
                </td>
            </tr>
            <tr style="width:100%;" class="dash_tr2">
                <td>
                    <div>
                       Nubmer of Reservations: <div id="reservationsNumber"></div>
                    </div>
                    <div>
                        <div>
                            Your Next Class: <div id="nextClass"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table dash_mytable" id="dataTableRC">
            <tr class="dash_heading_tr">
                <th scope="col">
                    <div class="icon icon-fontawesome-webfont-166 dash2_icon"></div>date
                </th>
                <th scope="col">
                    <div class="icon icon-fontawesome-webfont-286 dash2_icon"></div>time
                </th>
                <th width="450px" scope="col">
                    <div style="color: rgb(100, 181, 231);" class="icon" data-icon=""></div>topic
                </th>
                <th width="170px" scope="col">
                    <div class="icon">
                        <img src="/media/1224/reverse.png" />
                    </div>duration
                </th>
                <th width="170px" scope="col">
                    <div class="icon">
                        <img src="/media/1224/reverse.png" />
                    </div>level
                </th>
                <th width="170px" scope="col">
                    <div class="icon">
                        <img src="/media/1224/reverse.png" />
                    </div>course details
                </th>
           
                <th width="170px" scope="col"><div class="icon"><img src="/media/1224/reverse.png" /></div>go to class</th>
                <th width="170px" scope="col"><div class="icon"><img src="/media/1224/reverse.png" /></div>remove</th>
            </tr>
        </table>
    </div>
</div>
<script>
    $("#periodBtnRC").click(function () {
        $("#monthBlockRC").hide();
        $("#periodBlockRC").show();
    });
    $("#monthBtnRC").click(function () {
        $("#periodBlockRC").hide();
        $("#monthBlockRC").show();
    });
</script>