﻿
<script src="~/Scripts/VirtualClassroom.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
<link href="~/Css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-timepicker.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>

<div class="edit-profile">
    View Planned Classes
</div>
<br>
<div class="row">
    <div id="_ac_tab" class="col-md-3">
        <div class="dash_bluebox">
        </div>
        <div class="dash_greenbox">
            <p class="dash_p4">ALL CLASSES</p>
        </div>
    </div>
    <div id="_cn_tab" class="col-md-3">
        <div class="dash_bluebox">
        </div>
        <div class="dash_greenbox">
            <p class="dash_p4">CLASSES NOW</p>
        </div>
    </div>
    <div id="_rc_tab" class="col-md-3">
        <div class="dash_bluebox">
        </div>
        <div class="dash_greenbox">
            <p class="dash_p4">RESERVED CLASSES</p>
        </div>
    </div>
</div>
    <div id="ac_tab" class="v_tab" style="display:none">
        @{
            Html.RenderPartial("_AC");
        }
    </div>
    <div id="cn_tab" class="v_tab" style="display:none">
        @{
            Html.RenderPartial("_CN");
        }
    </div>
<div id="rc_tab" class="v_tab" style="display:none">
    @{
        Html.RenderPartial("_RC");
    }
</div>
<div id="details_tab" class="v_tab" style="display:none">
    @{
        Html.RenderPartial("_Details");
    }
</div>




