﻿<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/owl.theme.css">
<link rel="stylesheet" href="/css/owl.carousel.css">
<link rel="stylesheet" href="/css/jquery.vegas.min.css">
<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/dashboard.css">
<link href="/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/pixeden-icons.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/style2.css">
<link rel="stylesheet" href="/css/s2.css">
<link rel="stylesheet" href="/css/s1.css">
<link rel="stylesheet" href="/css/buy_a_course.css" />
<link rel="stylesheet" href="/css/responsive.css">
<link href="/css/icons.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/dd.css" />
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/my-account.css" />
@*<script src="~/Scripts/_references.js"></script>
<script src="~/Scripts/AjaxMethods.js"></script>*@
@*<script src="~/Scripts/bootstrap-datetimepicker.js"></script>*@
@*<script src="~/Scripts/bootstrap.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/dashboard.js"></script>
<script src="~/Scripts/googlestyle.js"></script>
<script src="~/Scripts/googlestyle2.js"></script>
<script src="~/Scripts/html5shiv.js"></script>
<script src="~/Scripts/j3.js"></script>
<script src="~/Scripts/j4.js"></script>
<script src="~/Scripts/jequery2.1.1.js"></script>
@*<script src="~/Scripts/jquery-1.8.2.intellisense.js"></script>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<script src="~/Scripts/jquery-2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.circliful.js"></script>
<script src="~/Scripts/jquery.circliful.min.js"></script>
<script src="~/Scripts/jquery.datepicker.js"></script>
<script src="~/Scripts/jquery.dd.js"></script>
<script src="~/Scripts/jquery.dd2.js"></script>
<script src="~/Scripts/jquery.fittext.js"></script>
<script src="~/Scripts/jquery.knob.js"></script>
<script src="~/Scripts/jquery.nav.js"></script>
<script src="~/Scripts/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/jquery.shiftynav.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.vegas.min.js"></script>*@
<script src="~/Scripts/js1.js"></script>
<script src="~/Scripts/js2.js"></script>
<script src="~/Scripts/js5.js"></script>
<script src="~/Scripts/js6.js"></script>
@*<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/ol.1.0.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/PageScript.js"></script>
<script src="~/Scripts/PFPayment.js"></script>*@
@*<script src="~/Scripts/respond.min.js"></script>*@
<script src="~/Scripts/ru.js"></script>
<script src="~/Scripts/scrollReveal.js"></script>
<script src="~/Scripts/smoothscroll.js"></script>
<script src="~/Scripts/telephone.js"></script>
<script src="~/Scripts/telephone2.js"></script>
<script src="~/Scripts/utils.js"></script>
<script src="~/Scripts/validationCheck.js"></script>
<script src="~/Scripts/wow.min.js"></script>
<script src="~/Scripts/zerif.js"></script>
@*<script src="~/Scripts/VirtualClassroom.js"></script>*@
<link rel="stylesheet" type="text/css" href="/css/dash.css" />
<link href="/css/site.css" rel="stylesheet"/>


<div class="dashboard test" id="dashboard_main">
    <section class="dash_navigation container-fluid">
        <div class="container dash_nav_content dash_zeropad">
            <div class="row dash_zeromargin offsetLeft">
                <div class="col-md-3 dash_zeropad dash_date"><span id="dash_day"></span>,&nbsp; <span id="dash_month"> </span> &nbsp;<span id="dash_date"></span>,&nbsp;<span id="dash_year"> </span></div>
                <div id="dash_Mainheading" class="col-md-3 dash_zeropad dash_name">Dashboard</div>
                <div class="col-md-5 dash_zeropad pull-right">
                    <div class="dash_links pull-right">
                        <ul>
                            <li id="dash_main1"><a>Dashboard</a></li>
                            <li>|</li>
                            <li id="dash_acc1"><a>My Account</a></li>
                            <li>|</li>
                            <li id="dash_log1"><a> Logout</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of navigation section-->
    <!--admin and tab section-->
    <div style="" class="dash_extended">


        <div style=" " class="dash_extended_sub1">
            <div style="" class="dash_menu1"></div>
            <div style="" class="dash_menu2">	   </div>
            <div style="" class="dash_menu3"></div>
            <div style="" class="dash_menu4"></div>
            <div style="" class="dash_menu5"></div>
            <div style="" class="dash_menu6"></div>
            <div style="" class="dash_menu7"></div>
            <div style="" class="dash_menu8"></div>

        </div>


    </div>
    <section class="dash_adminandtab container-fluid" style="background:none">

        <div class="dash_navimenu">
            <ul id="gn-menu" class="gn-menu-main">
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller">
                            <ul class="gn-menu">
                                <li id="dash_menus1"><a class="a a">Dashboard</a></li>
                                <li>
                                    <a id="dash_menus2" class="a b">My Account</a>
                                    <ul class="gn-submenu">
                                        <li id="dash_menus3"><a class="a c">Edit Profile</a></li>
                                        <li id="dash_menus4"><a class="a d">Change Password</a></li>
                                    </ul>
                                </li>
                                <li id="dash_menus5"><a class="a e">My Course</a></li>
                                <li id="dash_menus6"><a class="a f">Course Bookings</a></li>
                                <li>
                                    <a id="dash_menus7" class="a g">Virtual Classroom</a>
                                    <ul class="gn-submenu">
                                        <li id="dash_menus88"><a class="a c">ALL CLASSES</a></li>
                                        <li id="dash_menus9"><a class="a d">CLASSES NOW</a></li>
                                        <li id="dash_menus10"><a class="a d">RESERVED CLASSES</a></li>
                                    </ul>
                                </li>
                                <li id="dash_menus8"><a class="a h">Logout</a></li>
                            </ul>
                        </div><!-- /gn-scroller -->
                    </nav>
                </li>




            </ul>
        </div>


        <div class="container dash_zeropad">
            <div class="dash_admin">
                <div class="dash_controls">
                    <div class="dash_profilepic">
                        <div class="dash_userimage"><img src="/media/1307/profile_pic.png" /></div>
                        <div class="dash_user">Caroline Dyck</div>
                    </div>
                </div>
                <div class="dash_tabmenu">
                    <ul>
                        <li style="" class="dash_icon" id="dash_menu1">
                            <a>
                                <!--<div class=""></div>-->
                                dashboard
                            </a>
                        </li>
                        <li style="" class="acc_icon" id="dash_menu2">
                            <a>
                                <!--<div class=""></div>-->
                                my account
                            </a>
                        </li>
                        <li class="prof_icon" id="dash_menu3">
                            <a class="">
                                <!--<div class=""></div>-->
                                Edit Profile
                            </a>
                        </li>
                        <li style="" class="pwd_icon" id="dash_menu4">
                            <a class="">
                                <!--<div class="pwd_icon"></div>-->
                                Change Password
                            </a>
                        </li>
                        <li style="" class="mycour_icon" id="dash_menu5">
                            <a>
                                <!--<div class="mycour_icon"></div>-->
                                my course
                            </a>
                        </li>
                        <li style="" class="mycourbook_icon" id="dash_menu6">
                            <a>
                                <!--<div class="mycourbook_icon"></div>-->
                                course bookings
                            </a>
                        </li>
                        <li style="" class="virt_icon" id="dash_menu7">
                            <a>
                                <!--<div class="virt_icon"></div>-->
                                virtual classroom
                            </a>
                        </li>
                        <li style="" class="virt_icon" id="dash_menu78">
                            <a>
                                <!--<div class="virt_icon"></div>-->
                                ALL CLASSES
                            </a>
                        </li>
                        <li style="" class="virt_icon" id="dash_menu79">
                            <a>
                                <!--<div class="virt_icon"></div>-->
                                CLASSES NOW
                            </a>
                        </li>
                        <li style="" class="virt_icon" id="dash_menu710">
                            <a>
                                <!--<div class="virt_icon"></div>-->
                                RESERVED CLASSES
                            </a>
                        </li>
                        <li style="" class="logout_icon" id="dash_menu8">
                            <a>
                                <!--<div class="logout_icon"></div>-->
                                logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dash_tabs my-account">
                <div class="dash_tabcontent">
                    <div id="dash_t1" class="dash_tab1">
                        <p class="dash_p1">December 2014</p>
                        <p class="dash_p2">Hello Caroline,</p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dash_bluebox">
                                    <p class="dash_h1">
                                        8
                                    <p class="dash_p3">private lessons</p>
                                </div>
                                <div class="dash_greenbox">
                                    <p class="dash_p4">buy more lessons</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dash_bluebox">
                                    <p class="dash_h1">
                                        4
                                    <p class="dash_p3">lessons remaining</p>
                                </div>
                                <div class="dash_greenbox">
                                    <p class="dash_p4"><span class="expiarydate">expiry date:</span> 31/ 12/ 2014 </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dash_bluebox">
                                    <p class="dash_p5">6/12/2014</p>
                                    <p class="dash_h1 dash_h6">20:00</p>
                                    <p class="dash_p3">your next class</p>
                                </div>
                                <div class="dash_greenbox">
                                    <p class="dash_p4">view more</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dash_bluebox">
                                    <p class="dash_h1">
                                        8:40
                                    <p class="dash_p3">time left</p>
                                </div>
                                <div class="dash_greenbox">
                                    <p class="dash_p4">change</p>
                                </div>
                            </div>
                        </div>
                        <div class="row dash_mtop">
                            <div class="col-md-6 dash_colmd6">
                                <div class="dash_myprogress">
                                    <div class="dash_progress_icon"><img src="/media/1277/dash_progress_icon.png" /></div>
                                    my progress
                                </div>
                                <div class="dash_progressbar">
                                    <div class="dash_progress_lan">
                                        <span class="dash_language">LANGUAGE: </span><span class="dash_lang_type"> GERMAN</span>
                                        <span class="dash_lang_flag"><img src="/media/1200/german_flag.png" /></span>
                                    </div>
                                    <div class="dash_lang_level"><span class="dash_language">LEVEL: </span><span class="dash_lang_type"> BIGINNER</span><span></span></div>
                                    <span id="dash_percent" class="dashboard_percent"></span>
                                    <div id="myStat2" data-dimension="250" data-text="LEVEL" data-info="A1" data-width="50" data-fontsize="15"
                                         data-percent="15" data-fgcolor="#6f930a" data-bgcolor="#abdbef" style="margin:83px auto 0px auto;position:relative;"></div>
                                    <div class="dash_circle_shadow">
                                        <div class="dash_circle_main_shadow">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            var dashpercent = $("#myStat2").data("percent");
                                            $("#dash_percent").text(dashpercent + "%");
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-6 dash_colmd6">

                                <div class="dash_degree" style=""><img src="/media/1274/dash_degree.png"></div>
                                <div class="dash_clock" style=""><img src="/media/1279/dash_tijme.png"></div>

                                <div class="dash_classes_time" style="overflow: hidden; position: relative; margin-top: 39px;">
                                    <div class="dash_classes">
                                        <p class="dash_p6">total classes</p>
                                        <p class="dash_p7">8</p>
                                    </div>
                                    <div class="dash_timespent">
                                        <p class="dash_p6">total time spent</p>
                                        <p class="dash_p7">7:50</p>
                                    </div>
                                </div>
                                <div class="dash_levels">
                                    <div class="dash_level_menu"><div class="dash_level_icon"><a href=""><img width="28" src="/media/1197/levels_icon.png">Levels</a></div></div>
                                    <div class="dash_level_content">
                                        <div class="row dash_margin_top">
                                            <div class="col-md-4 custom_col4">
                                                <div class="dash_levelbox">
                                                    <div class="dash_levela">
                                                        <div class=" dash_levela1">A1</div>
                                                        <div class="dash_levela2">A2</div>
                                                    </div>
                                                    <div class="dash_beginner">Beginner</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 custom_col4">
                                                <div class="dash_levelbox">
                                                    <div class="dash_levela">
                                                        <div class=" dash_levela1">B1</div>
                                                        <div class="dash_levela2">B2</div>
                                                    </div>
                                                    <div class="dash_beginner">Intermediate</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 custom_col4">
                                                <div class="dash_levelbox">
                                                    <div class="dash_levela">
                                                        <div class=" dash_levela1">C1</div>
                                                        <div class="dash_levela2">C2</div>
                                                    </div>
                                                    <div class="dash_beginner">Advanced</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dash_level_text">
                                            <ul>
                                                <li>Can understand with ease virtually everything heard or read.</li>
                                                <li>

                                                    Can summarise information from different spoken and written sources,
                                                    reconstructing arguments and accounts in a coherent presentation.
                                                </li>
                                                <li>

                                                    Can express him/herself spontaneously, very fluently and precisely,
                                                    differentiating finer shades of meaning even in the most omplex situations.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="dash_t2" class="dash_tab2" style="display:none;">
                        <div class="row">
                            <div class="edit-profile">Profile</div>
                            <div class="mf-italic">All the fields mentioned below are mandatory!</div>
                        </div>
                        <div class="row row-color1">
                            <div class="smile-pic"><div><img src="/media/1294/smile-pic.png"></div></div>
                            <div class="col-md-10 npl">
                                <div class="my-acc-form-lable npb">Profile Picture</div>
                                <div class="npt">
                                    <div>
                                        <input id="uploadFile" class="uf col-md-9" placeholder="Choose File" disabled="disabled">
                                        <div class="fileUpload btn btn-primary col-md-2">
                                            <span>Browse Pic</span>
                                            <input type="file"" class="upload" id="uploadBtn">
                                        </div>
                                    </div>
                                    <div class="osli">NOTE: Your profile pic needs to be less than 800 x 800 pixels and must be less than 1MB in size.</div>

                                </div>
                            </div>
                        </div>
                        <div class="row row-color2">
                            <div class="col-md-6 border-right">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name</label>
                                    <input type="text" class="form-control" id="firstname" placeholder="">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input type="text" class="form-control" id="lastname" placeholder="">
                                </div>
                            </div>


                        </div>
                        <div class="row row-color1">
                            <div class="col-xs-6 col-sm-4 height1 border-right">
                                <div class="form-group">
                                    <label class="buyl">Phone</label>
                                    <div class="intr_tel">
                                        <input id="mobile-number2" type="tel">
                                        <div class="c_detail" id="tele">
                                            <span class="country-tel-code2"></span>
                                            @*<span class="country-box">United States</span>*@
                                            <input type="text" class="mfin country-box" placeholder="">
                                        </div>
                                    </div>
                                    <!-- Load jQuery from CDN so can run demo immediately -->
                                    <script src="/scripts/telephone2.js"></script>
                                    <script>
                                        var telInput1 = $("#mobile-number2");
                                        telInput1.intlTelInput({
                                            autoFormat: false,
                                            //autoHideDialCode: false,
                                            defaultCountry: "auto",
                                            nationalMode:"auto",
                                            numberType: "MOBILE",
                                            //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                                            //preferredCountries: ['cn', 'jp'],
                                            //responsiveDropdown: true,
                                            utilsScript: "/scripts/utils.js"
                                        });
                                        var reset = function () {
                                        };

                                        // on blur: validate
                                        telInput1.blur(function () {
                                            reset();
                                            if ($.trim(telInput1.val())) {
                                                if (telInput1.intlTelInput("isValidNumber")) {
                                                } else {
                                                }
                                            }
                                        });

                                        // on keyup / change flag: reset
                                        telInput.on("keyup change", reset);



                                    </script>
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-4 height1 border-right">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <div class="maintbox">
                                        <div class="iconspay"><div class="fa fa-envelope-o"></div></div>
                                        <input type="text" id="Email" class="payin custompayin">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 height1 border-right">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Skype/ QQ ID</label>
                                    <div class="nav1">

                                        <div id="dash_skype" class="dropdown">
                                            <div class="btn-group btn-input clearfix qq nq">
                                                <button style="background-image: url(&quot;/images/smile.png&quot;); background-size: 31px auto !important;" type="button" class="btn btn-default dropdown-toggle form-control eeee nqp" data-toggle="dropdown">
                                                    <span data-bind="label"></span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu ownwidth" role="menu">
                                                    <li><a href="#"><img src="/media/1079/skype.png"><span class="lit">Enter your Skype ID</span></a></li>
                                                    <li><a href="#"><img src="/images/smile.png"><span class="lit">Enter your QQ ID</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <input type="text" id="skypeid" class="mfin cusw" placeholder="">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row row-color2">
                            <div class="col-md-6 border-right">
                                <div class="form-group">
                                    <label for="">Date of Birth</label>

                                    <div id="dash_calender" class="settym1">
                                        <span class="input-group-addon clndricon llll cw rw">
                                        </span>
                                        <input type="text" class="mfin myw myz" readonly="readonly">



                                        <script type="text/javascript">
                                            $(function () {
                                                $('#dash_calender').datetimepicker({
                                                    pickTime: false
                                                });
                                            });

                                        </script>
                                    </div>

                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Place of Birth</label>
                                    <input type="text" class="form-control" id="pob" placeholder="">
                                </div>
                            </div>


                        </div>
                        <div class="row row-color1">
                            <div class="col-md-6 border-right">
                                <div class="form-group">
                                    <label for="">Country of Birth</label>
                                    <select name="country" class="c-ddl">
                                        <option value="">Select</option>
                                        <option value="Afganistan">Afghanistan</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bonaire">Bonaire</option>
                                        <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Canary Islands">Canary Islands</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Channel Islands">Channel Islands</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos Island">Cocos Island</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote DIvoire">Cote D'Ivoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Curaco">Curacao</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="East Timor">East Timor</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands">Falkland Islands</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Ter">French Southern Ter</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Great Britain">Great Britain</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="India">India</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="Iran">Iran</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea North">Korea North</option>
                                        <option value="Korea Sout">Korea South</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Laos">Laos</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libya">Libya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macau">Macau</option>
                                        <option value="Macedonia">Macedonia</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Midway Islands">Midway Islands</option>
                                        <option value="Moldova">Moldova</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Nambia">Nambia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherland Antilles">Netherland Antilles</option>
                                        <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                        <option value="Nevis">Nevis</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau Island">Palau Island</option>
                                        <option value="Palestine">Palestine</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Phillipines">Philippines</option>
                                        <option value="Pitcairn Island">Pitcairn Island</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Republic of Montenegro">Republic of Montenegro</option>
                                        <option value="Republic of Serbia">Republic of Serbia</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russia">Russia</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="St Barthelemy">St Barthelemy</option>
                                        <option value="St Eustatius">St Eustatius</option>
                                        <option value="St Helena">St Helena</option>
                                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                        <option value="St Lucia">St Lucia</option>
                                        <option value="St Maarten">St Maarten</option>
                                        <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                                        <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                                        <option value="Saipan">Saipan</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="Samoa American">Samoa American</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Serbia">Serbia</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syria">Syria</option>
                                        <option value="Tahiti">Tahiti</option>
                                        <option value="Taiwan">Taiwan</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania">Tanzania</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Erimates">United Arab Emirates</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States of America">United States of America</option>
                                        <option value="Uraguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Vatican City State">Vatican City State</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                        <option value="Wake Island">Wake Island</option>
                                        <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zaire">Zaire</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nationality</label>
                                    <select name="nationality" class="c-ddl">
                                        <option value="">Select</option>
                                        <option value="afghan">Afghan</option>
                                        <option value="albanian">Albanian</option>
                                        <option value="algerian">Algerian</option>
                                        <option value="american">American</option>
                                        <option value="andorran">Andorran</option>
                                        <option value="angolan">Angolan</option>
                                        <option value="antiguans">Antiguans</option>
                                        <option value="argentinean">Argentinean</option>
                                        <option value="armenian">Armenian</option>
                                        <option value="australian">Australian</option>
                                        <option value="austrian">Austrian</option>
                                        <option value="azerbaijani">Azerbaijani</option>
                                        <option value="bahamian">Bahamian</option>
                                        <option value="bahraini">Bahraini</option>
                                        <option value="bangladeshi">Bangladeshi</option>
                                        <option value="barbadian">Barbadian</option>
                                        <option value="barbudans">Barbudans</option>
                                        <option value="batswana">Batswana</option>
                                        <option value="belarusian">Belarusian</option>
                                        <option value="belgian">Belgian</option>
                                        <option value="belizean">Belizean</option>
                                        <option value="beninese">Beninese</option>
                                        <option value="bhutanese">Bhutanese</option>
                                        <option value="bolivian">Bolivian</option>
                                        <option value="bosnian">Bosnian</option>
                                        <option value="brazilian">Brazilian</option>
                                        <option value="british">British</option>
                                        <option value="bruneian">Bruneian</option>
                                        <option value="bulgarian">Bulgarian</option>
                                        <option value="burkinabe">Burkinabe</option>
                                        <option value="burmese">Burmese</option>
                                        <option value="burundian">Burundian</option>
                                        <option value="cambodian">Cambodian</option>
                                        <option value="cameroonian">Cameroonian</option>
                                        <option value="canadian">Canadian</option>
                                        <option value="cape verdean">Cape Verdean</option>
                                        <option value="central african">Central African</option>
                                        <option value="chadian">Chadian</option>
                                        <option value="chilean">Chilean</option>
                                        <option value="chinese">Chinese</option>
                                        <option value="colombian">Colombian</option>
                                        <option value="comoran">Comoran</option>
                                        <option value="congolese">Congolese</option>
                                        <option value="costa rican">Costa Rican</option>
                                        <option value="croatian">Croatian</option>
                                        <option value="cuban">Cuban</option>
                                        <option value="cypriot">Cypriot</option>
                                        <option value="czech">Czech</option>
                                        <option value="danish">Danish</option>
                                        <option value="djibouti">Djibouti</option>
                                        <option value="dominican">Dominican</option>
                                        <option value="dutch">Dutch</option>
                                        <option value="east timorese">East Timorese</option>
                                        <option value="ecuadorean">Ecuadorean</option>
                                        <option value="egyptian">Egyptian</option>
                                        <option value="emirian">Emirian</option>
                                        <option value="equatorial guinean">Equatorial Guinean</option>
                                        <option value="eritrean">Eritrean</option>
                                        <option value="estonian">Estonian</option>
                                        <option value="ethiopian">Ethiopian</option>
                                        <option value="fijian">Fijian</option>
                                        <option value="filipino">Filipino</option>
                                        <option value="finnish">Finnish</option>
                                        <option value="french">French</option>
                                        <option value="gabonese">Gabonese</option>
                                        <option value="gambian">Gambian</option>
                                        <option value="georgian">Georgian</option>
                                        <option value="german">German</option>
                                        <option value="ghanaian">Ghanaian</option>
                                        <option value="greek">Greek</option>
                                        <option value="grenadian">Grenadian</option>
                                        <option value="guatemalan">Guatemalan</option>
                                        <option value="guinea-bissauan">Guinea-Bissauan</option>
                                        <option value="guinean">Guinean</option>
                                        <option value="guyanese">Guyanese</option>
                                        <option value="haitian">Haitian</option>
                                        <option value="herzegovinian">Herzegovinian</option>
                                        <option value="honduran">Honduran</option>
                                        <option value="hungarian">Hungarian</option>
                                        <option value="icelander">Icelander</option>
                                        <option value="indian">Indian</option>
                                        <option value="indonesian">Indonesian</option>
                                        <option value="iranian">Iranian</option>
                                        <option value="iraqi">Iraqi</option>
                                        <option value="irish">Irish</option>
                                        <option value="israeli">Israeli</option>
                                        <option value="italian">Italian</option>
                                        <option value="ivorian">Ivorian</option>
                                        <option value="jamaican">Jamaican</option>
                                        <option value="japanese">Japanese</option>
                                        <option value="jordanian">Jordanian</option>
                                        <option value="kazakhstani">Kazakhstani</option>
                                        <option value="kenyan">Kenyan</option>
                                        <option value="kittian and nevisian">Kittian and Nevisian</option>
                                        <option value="kuwaiti">Kuwaiti</option>
                                        <option value="kyrgyz">Kyrgyz</option>
                                        <option value="laotian">Laotian</option>
                                        <option value="latvian">Latvian</option>
                                        <option value="lebanese">Lebanese</option>
                                        <option value="liberian">Liberian</option>
                                        <option value="libyan">Libyan</option>
                                        <option value="liechtensteiner">Liechtensteiner</option>
                                        <option value="lithuanian">Lithuanian</option>
                                        <option value="luxembourger">Luxembourger</option>
                                        <option value="macedonian">Macedonian</option>
                                        <option value="malagasy">Malagasy</option>
                                        <option value="malawian">Malawian</option>
                                        <option value="malaysian">Malaysian</option>
                                        <option value="maldivan">Maldivan</option>
                                        <option value="malian">Malian</option>
                                        <option value="maltese">Maltese</option>
                                        <option value="marshallese">Marshallese</option>
                                        <option value="mauritanian">Mauritanian</option>
                                        <option value="mauritian">Mauritian</option>
                                        <option value="mexican">Mexican</option>
                                        <option value="micronesian">Micronesian</option>
                                        <option value="moldovan">Moldovan</option>
                                        <option value="monacan">Monacan</option>
                                        <option value="mongolian">Mongolian</option>
                                        <option value="moroccan">Moroccan</option>
                                        <option value="mosotho">Mosotho</option>
                                        <option value="motswana">Motswana</option>
                                        <option value="mozambican">Mozambican</option>
                                        <option value="namibian">Namibian</option>
                                        <option value="nauruan">Nauruan</option>
                                        <option value="nepalese">Nepalese</option>
                                        <option value="new zealander">New Zealander</option>
                                        <option value="ni-vanuatu">Ni-Vanuatu</option>
                                        <option value="nicaraguan">Nicaraguan</option>
                                        <option value="nigerien">Nigerien</option>
                                        <option value="north korean">North Korean</option>
                                        <option value="northern irish">Northern Irish</option>
                                        <option value="norwegian">Norwegian</option>
                                        <option value="omani">Omani</option>
                                        <option value="pakistani">Pakistani</option>
                                        <option value="palauan">Palauan</option>
                                        <option value="panamanian">Panamanian</option>
                                        <option value="papua new guinean">Papua New Guinean</option>
                                        <option value="paraguayan">Paraguayan</option>
                                        <option value="peruvian">Peruvian</option>
                                        <option value="polish">Polish</option>
                                        <option value="portuguese">Portuguese</option>
                                        <option value="qatari">Qatari</option>
                                        <option value="romanian">Romanian</option>
                                        <option value="russian">Russian</option>
                                        <option value="rwandan">Rwandan</option>
                                        <option value="saint lucian">Saint Lucian</option>
                                        <option value="salvadoran">Salvadoran</option>
                                        <option value="samoan">Samoan</option>
                                        <option value="san marinese">San Marinese</option>
                                        <option value="sao tomean">Sao Tomean</option>
                                        <option value="saudi">Saudi</option>
                                        <option value="scottish">Scottish</option>
                                        <option value="senegalese">Senegalese</option>
                                        <option value="serbian">Serbian</option>
                                        <option value="seychellois">Seychellois</option>
                                        <option value="sierra leonean">Sierra Leonean</option>
                                        <option value="singaporean">Singaporean</option>
                                        <option value="slovakian">Slovakian</option>
                                        <option value="slovenian">Slovenian</option>
                                        <option value="solomon islander">Solomon Islander</option>
                                        <option value="somali">Somali</option>
                                        <option value="south african">South African</option>
                                        <option value="south korean">South Korean</option>
                                        <option value="spanish">Spanish</option>
                                        <option value="sri lankan">Sri Lankan</option>
                                        <option value="sudanese">Sudanese</option>
                                        <option value="surinamer">Surinamer</option>
                                        <option value="swazi">Swazi</option>
                                        <option value="swedish">Swedish</option>
                                        <option value="swiss">Swiss</option>
                                        <option value="syrian">Syrian</option>
                                        <option value="taiwanese">Taiwanese</option>
                                        <option value="tajik">Tajik</option>
                                        <option value="tanzanian">Tanzanian</option>
                                        <option value="thai">Thai</option>
                                        <option value="togolese">Togolese</option>
                                        <option value="tongan">Tongan</option>
                                        <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                                        <option value="tunisian">Tunisian</option>
                                        <option value="turkish">Turkish</option>
                                        <option value="tuvaluan">Tuvaluan</option>
                                        <option value="ugandan">Ugandan</option>
                                        <option value="ukrainian">Ukrainian</option>
                                        <option value="uruguayan">Uruguayan</option>
                                        <option value="uzbekistani">Uzbekistani</option>
                                        <option value="venezuelan">Venezuelan</option>
                                        <option value="vietnamese">Vietnamese</option>
                                        <option value="welsh">Welsh</option>
                                        <option value="yemenite">Yemenite</option>
                                        <option value="zambian">Zambian</option>
                                        <option value="zimbabwean">Zimbabwean</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="row row-color2">
                            <div class="col-md-9 border-right ">
                                <div class="form-group">
                                    <label for="">Address</label>
                                    <div class="clear-both">
                                        <input type="text" class="form-control" id="Address" placeholder="">
                                        <div class="osli">Enter excatly how it should appear on invoice.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 apply-btn">
                                <div class="form-group">
                                    <button id="dash_myacc_btn" type="submit" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30" class="btn btn-primary custom-button red-btn wow fadeInLeft " style="-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">Apply Changes</button>
                                </div>
                            </div>




                        </div>
                        <div class="row strip-bottom">

                            <div class="col-md-9 border-right"></div>
                            <div class="col-md-3"></div>



                        </div>






                    </div>

                    <div class="dash_tab3" id="dash_t4" style="display:none;">
                        <div class="edit-profile">Change Password</div>
                        <section id="reset" class="buynow" style="">
                            <section class="container contpad">
                                <div class="dash_login-input">
                                    <div class="dash_header_chg_pwd">
                                        <div class="dash_chg_icon">
                                            <div class="dash_change_key"><div class="icon" data-icon=""></div></div>
                                            <div class="dash_change_header"><h3>Change your Password!</h3></div>
                                            <label id="lblmsgchangepass" style="display:none"></label>
                                        </div>
                                    </div><div class="dash_currt_pwd">
                                        <label class="dash_chg_label">Current Password</label>
                                        <input class="dash_chg_input" id="cpass" type="text" placeholder="Current Password" required />
                                    </div>
                                    <div class="dash_new_pwd">
                                        <label class="dash_chg_label">New Password</label>
                                        <input class="dash_chg_input" id="npass" type="text" placeholder="New Password" required />
                                    </div> <div class="dash_currt_pwd">
                                        <label class="dash_chg_label">Confirm Password</label>
                                        <input class="dash_chg_input" id="cnpass" type="text" placeholder="Confirm Password" required />
                                    </div>
                                    <div class="dash_chg_btn">
                                        <button id="submitbtn" class="btn btn-primary custom-button blue-btn wow fadeInLeft animated">Change Password</button>
                                    </div><div class="dash_foot_pwd"></div> <input type="hidden" id="user" value="null" />
                                </div>
                            </section>
                        </section>
                    </div>

                <div id="dash_t5" class="
 " style="display:none;">

                        <p class="dash_classsummry">Class Summary</p>
                        <div style="width:100%;" class="table-responsive">

                            <table style="width:100%;" class="bordered table" width="100%">
                                <tr style="width:100%;" class="dash_tr1">
                                    <td width="40%">
                                        <p class="dash_hellouser">Hello Caroline! <span class="dash_underline"><a href="#">Caroline Dyck</a></span>	</p>

                                    </td>



                                    <td style="width: 216px;">
                                        <p class="dash_details_heading">Lessons Taken:<span class="dash_subcat"> 11  <span class="dash_chngcolor">|</span>  15H:30M</span></p>
                                    </td>

                                </tr>

                                <tr style="width:100%;" class="dash_tr2">
                                    <td>

                                        <p class="dash_details_heading">Room: <span class="dash_subcat">SkypeTM</span></p>

                                    </td>


                                    <td style="padding-top: 18px;">
                                        <p class="dash_details_heading">Outstanding Lessson:<span class="dash_subcat" class="dash_subcat"> 1  <span class="dash_chngcolor">|</span>  1H:30M</span>	</p>

                                    </td>



                                </tr>
                                <tr style="width:100%;" class="dash_tr1">
                                    <td>
                                        <p class="dash_details_heading">Teacher: <span class="dash_subcat">Daniel Mueller</span></p>

                                    </td>


                                    <td>

                                        <p class="dash_details_heading">
                                            From: <span class="dash_subcat dash_custm_color">October 5, 2014<span class="dash_chngcolor">to</span>December 31, 2014</span>

                                        </p>

                                    </td>
                                </tr>
                            </table>

                        </div>

                        <div class="table-responsive">
                            <table class="table dash_mytable">
                                <tr class="dash_heading_tr">
                                    <th class="dash_hash" scope="col"><span>#</span></th>
                                    <th scope="col"><div class="icon icon-fontawesome-webfont-166 dash2_icon"></div>lesson date</th>
                                    <th scope="col"><div class="icon icon-fontawesome-webfont-286 dash2_icon"></div>time</th>
                                    <th width="450px" scope="col"><div style="color: rgb(100, 181, 231);" class="icon" data-icon=""></div>lesson notes</th>
                                    <th width="170px" scope="col" colspan="2"><div class="icon"><img src="/media/1224/reverse.png" /></div>attendance<span class="dash_hhmm">hh:mm</span></th>
                                </tr>
                                <tr class="dash_heading_tr2">
                                    <td>1.</td>
                                    <td><span class="dash_date_color">5 Oct 2014</span><span class="dash_day"> Sunday</span></td>
                                    <td><span class="dash_std">14:30</span></td>
                                    <td><span class="dash_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices, augue quis fermentum pulvinar, risus libero.</span></td>
                                    <td class="dash_td1"><span class="dash_attendense">0</span></td>
                                    <td class="dash_td1"><span class="dash_attendense2">1</span></td>
                                <tr class="dash_heading_tr3">
                                    <td>2.</td>
                                    <td><span class="dash_date_color">21 Oct 2014  </span><span class="dash_day"> Tuesday</span></td>
                                    <td><span class="dash_std">09:30</span></td>
                                    <td><span style="color:#8fa5c5;" class="dash_para"><i>Notes here</i></span></td>
                                    <td class="dash_td1"><span style="color:#aa0303;" class="dash_attendense">0</span></td>
                                    <td class="dash_td1"><span style="color:#aa0303;" class="dash_attendense2">1</span></td>
                                </tr>
                                <tr class="dash_heading_tr4">
                                    <td>3.</td>
                                    <td><span class="dash_date_color">11 Nov 2014 </span><span class="dash_day"> Tuesday</span></td>
                                    <td><span class="dash_std">14:30</span></td>
                                    <td><span class="dash_para">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam risus metus, mattis at molestie sed, vulputate nec est. Aenean ultrices, augue quis fermentum pulvinar, risus libero adipiscing leo, nec tempor nulla risus sit amet massa.</span></td>
                                    <td class="dash_td1"><span class="dash_attendense">2</span></td>
                                    <td class="dash_td1"><span class="dash_attendense2">30</span></td>
                                </tr>
                                <tr class="dash_heading_tr3">
                                    <td>4.</td>
                                    <td><span class="dash_date_color">26 Nov 2014  </span><span class="dash_day"> Wednesday</span></td>
                                    <td><span class="dash_std">11:00</span></td>
                                    <td><span class="dash_para">Fusce et metus risus, non laoreet erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam risus metus, mattis at molestie sed, vulputate nec est.</span></td>
                                    <td class="dash_td1"><span class="dash_attendense">1</span></td>
                                    <td class="dash_td1"><span class="dash_attendense2">30</span></td>
                                </tr>
                                <tr class="dash_tr_bgcolor">
                                    <td class="dash_next" colspan="3">Next Lesson Scheduled:</td>
                                    <td><span class="dash_para"></span></td>
                                    <td class="dash_td1"><span class="dash_attendense"></span></td>
                                    <td class="dash_td1"><span class="dash_attendense2"></span></td>
                                </tr>
                                <tr class="dash_heading_tr4 dash_backcolor">
                                    <td>1.</td>
                                    <td><span class="dash_date_color">17 Dec 2014 </span><span style="color:#6c8037;" class="dash_day">  Wednesday</span></td>
                                    <td><span class="dash_std">13:30</span></td>
                                    <td><span style="color:#97a375;" class="dash_para"><i>Notes here</i></span></td>
                                    <td class="dash_td1"><span style="color:#0a598b;" class="dash_attendense">1</span></td>
                                    <td class="dash_td1"><span style="color:#0a598b;" class="dash_attendense2">30</span></td>
                                </tr>

                                <tr class="dash_heading_tr4 dash_backcolor2">
                                    <td>2.</td>
                                    <td><span class="dash_date_color">29 Dec 2014   </span><span class="dash_day" style="color:#6c8037;">   Monday</span></td>
                                    <td><span class="dash_std">11:30</span></td>
                                    <td><span style="color:#97a375;" class="dash_para"><i>Notes here</i></span></td>
                                    <td class="dash_td1"><span style="color:#0a598b;" class="dash_attendense">2</span></td>
                                    <td class="dash_td1"><span style="color:#0a598b;" class="dash_attendense2">00</span></td>
                                </tr>

                                <tr class="dash_heading_tr4 dash_backcolor3">
                                    <td></td>
                                    <td><span class="dash_date_color"> </span><span class="dash_day" style="color:#6c8037;"> </span></td>
                                    <td><span class="dash_std"></span></td>
                                    <td><span style="color:#97a375;" class="dash_para"><i></i></span></td>
                                    <td class="dash_td1"><span style="color:#0a598b;" class="dash_attendense"></span></td>
                                    <td class="dash_td1"><span style="color:#0a598b;" class="dash_attendense2"></span></td>
                                </tr>

                            </table>
                            <div class="dash_lasttext"><span class="dash_zero2">0:00 </span>: You’ve missed scheduled lesson!</div>
                        </div>



                    </div>

                    <div id="dash_t6" class="dash_tab3" style="display:none;">
                        <p class="dash_classsummry">Subscription Summary</p>
                        <div class="table-responsive">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr class="dash_tr_1">
                                    <th scope="col"><div class="dash_h_eading"><div class="icon icon-fontawesome-webfont-289  dah_icon"></div>start date</div></th>
                                    <th scope="col"><div class="dash_h_eading"><div class="icon icon-fontawesome-webfont-304 dah_icon"></div>type</div></th>
                                    <th scope="col"><div class="dash_h_eading"><div class="icon icon-fontawesome-webfont-280 dah_icon"></div>language</div></th>
                                    <th scope="col"><div class="dash_h_eading"><div class="icon icon-fontawesome-webfont-85 dah_icon"></div>no. of lessons</div></th>
                                    <th scope="col"><div class="dash_h_eading"><div class="icon icon-fontawesome-webfont-286 dah_icon"></div>expires on</div></th>
                                </tr>
                                <tr class="dash_tr_2">
                                    <td>5/12/2014</td>
                                    <td>3 Months Course</td>
                                    <td><span class="dash_flag_img"><img src="/media/1201/dash_flag1.gif" /></span>German</td>
                                    <td>24</td>
                                    <td>5/03/2015</td>
                                </tr>
                                <tr class="dash_tr_3">
                                    <td>11/12/2014</td>
                                    <td>2 Months Course</td>
                                    <td><span class="dash_flag_img"><img src="/media/1202/dash_flag2.gif"></span>Chinese <span style="color:#9eadc3; font-weight:300;">(Mandarin)</span></td>
                                    <td>10</td>
                                    <td>9/04/2015</td>
                                </tr>
                                <tr class="dash_tr_2">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="dash_tr_3">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="dash_tr_2">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="dash_tr_3">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="dash_tr_2">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="dash_tr_3">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="dash_tr_2">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="dash_tr_3">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="dash_tr_34">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>

                        </div>



                    </div>
                    <div id="dash_t7" class="dash_tab3" style="display:none;">
                        @{
                            Html.RenderPartial("_VirtualClassRoomIndex");
                        }
                    </div>
                </div>
                <div class="dash_footer">
                    <div class="dash_footercontent">
                        <div class="dash_fadelogo2"><img src="/media/1275/dash_fadelogo2.png" /></div>
                        <div class="dash_footertext">© 2014 Open Languages  | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--End of admin and tab section-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#dash_menu2").hover(function(){
            $(".prof_icon").css({ "width": "100%", "padding-left": "100px", "background-image": "url(/media/1281/editprofle_active_icon.png)", "background-color": "#c2d9e1","background-position":"50px" });
            $(".dash_menu3").css({"background":"#c2d9e1","border-bottom":"1px solid #9ba5b6","border-top":"1px solid #9ba5b6"});

        },function(){
            $(".prof_icon").css({ "width": "100%", "padding-left": "40px", "background-image": "url(/media/1187/editprofle_icon.png)", "background-color": "#e0e6e8","background-position":"initial" });
            $(".dash_menu3").css({"background":"none","border":"none"});

        });

        $(".pwd_icon").hover(function() {
            $(this).css({ "width": "100%", "padding-left": "80px", "background-image": "url(/media/1183/changepwd_active_icon.png)", "background-color": "#c2d9e1","background-position":"40px"  });
        }, function () {
            $(this).css({ "width": "100%", "padding-left": "40px", "background-image": "url(/media/1184/changepwd_icon.png)", "background-color": "#e0e6e8", "background-position":"initial"});
        });
        $(".prof_icon").hover(function() {
            $(this).css({ "width": "100%", "padding-left": "100px", "background-image": "url(/media/1281/editprofle_active_icon.png)", "background-color": "#c2d9e1","background-position":"50px" });
        }, function () {
            $(this).css({ "width": "100%", "padding-left": "40px", "background-image": "url(/media/1187/editprofle_icon.png)", "background-color": "#e0e6e8","background-position":"initial" });
        });
    });


</script>
<script>
    $(document).ready(function () {
        $('#submitbtn').click(function () {
            debugger;
            var cpass = $('#cpass').val();
            var npass = $('#npass').val();
            var cnpass = $('#cnpass').val();
            var user = $('#user').val();
            if (cpass != "" && npass != "" && cnpass != "") {
                if (npass == cnpass) {

                    $.ajax({
                        url: '@Url.Action("resetpassword", "ForgotPass")',
                        type: 'POST',
                        data: { user:user, currentpass: cpass, newpass: npass},
                        success: function (data) {
                            if (data == "Password Change Successfully") {
                                $('#lblmsgchangepass').text(data);
                                $('#lblmsgchangepass').css('display', 'block');
                                $('#lblmsgchangepass').css('color', 'green');
                                setTimeout(function () {
                                    $('#lblmsgchangepass').css('display', 'none');
                                }, 3000);

                                $('#cpass').val("");
                                $('#npass').val("");
                                $('#cnpass').val("");
                            }
                            else {
                                $('#lblmsgchangepass').text(data);
                                $('#lblmsgchangepass').css('display', 'block');
                                $('#lblmsgchangepass').css('color', 'red');
                                setTimeout(function () {
                                    $('#lblmsgchangepass').css('display', 'none');
                                }, 3000);

                            }
                        }
                    });
                }
                else {
                    $('#lblmsgchangepass').text("Password not match!");
                    $('#lblmsgchangepass').css('display', 'block');
                    $('#lblmsgchangepass').css('color', 'red');
                    setTimeout(function () {
                        $('#lblmsgchangepass').css('display', 'none');
                    }, 3000);


                }

            }
            else {
                $('#lblmsgchangepass').text("No empty field is allowed!");
                $('#lblmsgchangepass').css('display', 'block');
                $('#lblmsgchangepass').css('color', 'red');
                setTimeout(function () {
                    $('#lblmsgchangepass').css('display', 'none');
                }, 3000);


            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#dash_menu1").hover(function(){
            $(".dash_menu1").css({"background":"#6c737d","border-bottom":"1px solid #9ba5b6"});
        },function(){
            $(".dash_menu1").css({"background":"none","border":"none"});
        });
        $("#dash_menu2").hover(function(){
            $(".dash_menu2").css({"background":"#6c737d","border-bottom":"1px solid #9ba5b6","border-top":"1px solid #9ba5b6"});

        },function(){
            $(".dash_menu2").css({"background":"none","border":"none"});

        });
        $("#dash_menu3").hover(function(){
            $(".dash_menu3").css({"background":"#c2d9e1","border-bottom":"1px solid #9ba5b6","border-top":"1px solid #9ba5b6"});
        },function(){
            $(".dash_menu3").css({"background":"none","border":"none"});
        });
        $("#dash_menu4").hover(function(){
            $(".dash_menu4").css({"background":"#c2d9e1","border-bottom":"1px solid #9ba5b6","border-top":"1px solid #9ba5b6"});
        },function(){
            $(".dash_menu4").css({"background":"none","border":"none"});
        });
        $("#dash_menu5").hover(function(){
            $(".dash_menu5").css({"background":"#6c737d","border-bottom":"1px solid #9ba5b6","border-top":"1px solid #9ba5b6"});
        },function(){
            $(".dash_menu5").css({"background":"none","border":"none"});
        });
        $("#dash_menu6").hover(function(){
            $(".dash_menu6").css({"background":"#6c737d","border-bottom":"1px solid #9ba5b6","border-top":"1px solid #9ba5b6"});
        },function(){
            $(".dash_menu6").css({"background":"none","border":"none"});
        });
        $("#dash_menu7").hover(function(){
            $(".dash_menu7").css({"background":"#6c737d","border-bottom":"1px solid #9ba5b6","border-top":"1px solid #9ba5b6"});
        },function(){
            $(".dash_menu7").css({"background":"none","border":"none"});
        });
        $("#dash_menu8").hover(function(){
            $(".dash_menu8").css({"background":"#6c737d","border-bottom":"1px solid #9ba5b6","border-top":"1px solid #9ba5b6"});
        },function(){
            $(".dash_menu8").css({"background":"none","border":"none"});
        });
    })

</script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>

