<div class="content-main">
    <div class="content-main__wrapper">
        <h3>
            {{sentence.Question}}
        </h3>
        <div class="content-radio">
            <ul class="radio-nav">
                <li ng-repeat="answer in sentence.Answers">
                    <label>
                        <input type="radio" name="paragrath" ng-model="answerModel.selectedValue" value="{{answer.Variant}}">
                        <div class="option-letter">
                            <div class="checker" ng-style="getStyle(answer)">
                                <i class="fa fa-check"></i>
                            </div>{{alpha[$index]}}.
                        </div>
                        <div class="option">
                            {{answer.Variant}}
                        </div>
                    </label>
                </li>
                <!--<li><label><input type="radio" name="paragrath" value="b"><div class="option-letter"><div class="checker"><i class="fa fa-check"></i></div>B.</div><div class="option">Our lives were likewise affected by the phases of the moon.</div></label></li>
                <li><label><input type="radio" name="paragrath" value="c"><div class="option-letter"><div class="checker"><i class="fa fa-check"></i></div>C.</div><div class="option">A relationship exists between the moon and the tides.</div></label></li>
                <li><label><input type="radio" name="paragrath" value="d"><div class="option-letter"><div class="checker"><i class="fa fa-check"></i></div>D.</div><div class="option">The moon is a mysterious orb afloat in the sky.</div></label></li>-->
            </ul>

        </div>
    </div>
</div>

