
<div class="content-main">
	<div class="content-main__wrapper">
		<h3>Find the same pairs by clicking on the cards</h3>
		<div class="memory-wrapper">
			<ul class="memory-nav">
				<li ng-repeat="answer in answers track by answer.Index" ng-class="{rightOpened: answer.IsSelected, firstPictureMatch: answer.IsMatched}">
					<div class="flip-container" ng-class="{secondPictureMatch: answer.IsMatched}">
						<div class="flipper" ng-click="selectCard(answer)" ng-style="getStyle(answer)">
							<div class="back">
								<img ng-src="{{answer.ImageSrc}}" alt="cow" sizes="cover">
                                <div class="memory-descr">{{answer.Variant}}</div>
								<span></span>
							</div>
							<div class="front">
								?
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
</div>
