﻿<div class="content-main">
    <div class="content-main__wrapper">

        <div class="content-radio">
            <img class="non-action-image" ng-src="{{sentence.ImageSlideSrc}}">
        </div>
    </div>
</div>
<style>
    
    .content-radio{
        height: 68vh;
    }
    .non-action-image {
        width: 60%;
        max-height: 75%;
        margin-top: 50px;
    }


</style>