
<div class="content-main">
    <div class="content-main__wrapper">
        <h3>{{card.Question}}</h3>
        <div class="pictures-wrapper">
            <ul class="pictures-nav">
                <label ng-repeat="answer in card.Answers">
                    <li ng-style="getStyleLi(answer)" ng-click="changeBack(answer)">
                        <img ng-src="{{answer.ImageSrc}}">
                        <input type="radio" name="pictures" ng-model="answerModel.selectedValue" value="{{answer.Variant}}">
                        <div class="checker" ng-style="getStyle(answer)">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>
                </label>
                <!--<label><li><img src="/Areas/Dashboard/img/cat.png" alt="cat"><input type="radio" name="pictures" value="2"><div class="checker " id="correctPic"><i class="fa fa-check"></i></div></li></label>
                <label><li><img src="/Areas/Dashboard/img/rabbit.png" alt="rabbit"><input type="radio" name="pictures" value="3"><div class="checker"><i class="fa fa-check"></i></div></li></label>-->
            </ul>
        </div>
    </div>
</div>
