<div class="content-main">
	<div class="content-main__wrapper">
		<h3>Select the words in the correct order</h3>
        <div class="task-sent">{{card.Question}}</div>
		<div class="task-wrap">
            <div ng-click="removeAnswer(ans)" ng-repeat="ans in answerModel" class="task-word task-word-sent">{{ans.Variant}}</div>
		</div>
		<ul id="answer-nav" class="answer-nav sentence-nav">
            <li ng-style="getStyle(answer)" ng-click="selectAnswer(answer)" ng-repeat="answer in card.Answers">{{answer.Variant}}</li>
		</ul>
	</div>
</div>
