﻿<div class="content-main">
    <div class="content-main__wrapper">
        <h3>Translate and type this in English</h3>
        <div class="listen-task-wrap">
            <div ng-click="playAudio()" class="micro-listen-wrap waves-effect waves-cyan"><i class="material-icons">volume_up</i></div>
            <audio style="display:none" id="audio1" controls>
                <source ng-src="{{card.VideoSrc}}" type="audio/wav">
                Your browser does not support the audio tag.
            </audio>
            <span class="listen-subtitle">{{card.Question}}</span>
        </div>
        <div class="listen-wrapper-cards input-field">
            <label for="listen-answer">Enter Your Answer</label>
            <textarea ng-model="answerModel.Answer" name="listen-answer" id="listen-answer" cols="50" rows="5"></textarea>
        </div>
    </div>
</div>