<div class="content-main">
	<div class="content-main__wrapper">
        <h3>Watch the video and answer the question</h3>
        <div class="video-wrapper-cards">
            <video style="width:540px; height:280px" controls id="videoControl" ng-if="card.VideoSrc.indexOf('youtube') === -1">
                <source src="" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <iframe style="display:block" ng-if="card.VideoSrc.indexOf('youtube') > -1" width="540" height="260" ng-src="{{'https://www.youtube.com/embed/' + getVideoId() + '?rel=0'}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="question">{{card.Question}}</div>
            <textarea ng-model="answerModel.Answer" name="carquestion" id="carquestion" cols="50" rows="1" placeholder="Enter your answer"></textarea>
        </div>	
	</div>
</div>
