
<div class="content-main">
	<div class="content-main__wrapper">
        <h3>Click the microphone and say the word or read the text:</h3>
		<div class="task-sent">{{card.Question}}</div>
		<div class="rel">
			<span class="circle" ng-hide="!isRecording"></span>
			<span class="circle2" ng-hide="!isRecording"></span>
			<div id="voice-record" ng-click="startVoice()" class="voice-record"><i class="fa fa-microphone"></i></div>
		</div>
		<div class="task-wrap" id="wrr">
		</div>
	</div>
</div>
