
<div class="content-main">
    <div class="content-main__wrapper">
        <h3>Select the missing word</h3>
        <!--<div class="task-sent">{{card.Question}}</div>-->
        <div class="task-wrap" id="wr">
            <!--<div class="task-ans">
                Ich spreche kein
                <div class="task-word" id="task-word" ng-style="getTaskWordStyle()">{{model.Variant}}</div>
            </div>-->
        </div>
        <ul class="answer-nav words-nav">
            <label ng-click="selectAnswer(answer)" ng-repeat="answer in card.Answers">
                <li ng-style="getNavStyle(answer)">
                    <input type="radio" name="words" value="{{answer.Id}}" />{{answer.Variant}}
                </li>
            </label>
            <!--<label><li><input type="radio" name="words" value="Englisch">Englisch</li></label>-->
        </ul>

    </div>
</div>

