﻿@{
    ViewBag.Title = "Index Post Finance Form";
}

<h2>Post Finance Form</h2>

<form method="post" id=form1 name=form1>
    @Scripts.Render("Scripts/PFPayment.js")
    @Html.ActionLink("Fill Card", "ProcessCard")
</form>