﻿@model MvcApplicationPostFinanceLatest.Models.CardRequest

@if (Model != null)
{
    if (Model.IsSuccess == false)
    {
        @:Sorry, @Model.Response
        <br />
        @Model._BRAND    <br />  @Model._LANGUAGE    <br />  @Model._OPERATION    <br />  @Model._PSPID    <br />  @Model._PSWD    <br />  @Model._USERID
    }
}
@using (Html.BeginForm())
{
    <label class="paytxt">Brand</label>
    <p>@Html.TextBoxFor(x => x._BRAND, new { @Value = "VISA" })</p>
    <label class="paytxt">Amount</label>
    <p>@Html.TextBoxFor(x => x._AMOUNT, new { @Value = "100" })</p>
    <label class="paytxt">E-mail</label>
    <p>@Html.TextBoxFor(x => x._EMAIL, new { @Value = "example@gmail.com" })</p>
    <label class="paytxt">Name on the card</label>
    <p>@Html.TextBoxFor(x => x._CN, new { @Value = "DANIEL JONES" })</p>
    <label class="paytxt">Currency (EUR, USD, GBP, CHF)</label>
    <p>@Html.TextBoxFor(x => x._CURRENCY, new { @Value = "EUR" })</p>
    <label class="paytxt">Card Number</label>
    <p>@Html.TextBoxFor(x => x._CARDNO, new { @Value = "1111222233334444" })</p>
    <label class="paytxt">Card Expiry Date mm/yy</label>
    <p>@Html.TextBoxFor(x => x._ED, new { @Value = "02/18" })</p>
    <label class="paytxt">CVC/ CVV/ CID</label>
    <p>@Html.TextBoxFor(x => x._CVC, new { @Value = "123" })</p>
    <input type="submit" class="paybtng" value="confirm payment">
}
