﻿<style>
    #bindstudents .modal-title {
        font-family: "Lato";
        font-weight: 400;
        display: block;
        text-align: left;
        font-size: 20px;
    }
    #tbl {
        width: 100%;
        margin-top: 20px;
    }
    #dd {
        height: 30px !important;
        width: 100% !important;
        min-width: 100% !important;
    }
    #nodata {
        text-align: center;
        padding: 25px 0;
        font-size: 20px;
        color: #ccc;
    }
</style>
<div class="modal fade" id="bindstudents" tabindex="-1" role="dialog"
     aria-labelledby="replenish-balance-step-1Labe3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modal-title" id="gridSystemModalLabel">
                    Invite a student
                </h4>
                <div class="row">
                    <div class="col-lg-6">
                        <input style="border: 1px solid #ccc !important; height: 38px; border-radius: 30px;" type="text" class="form-control" ng-model="findingEmail" placeholder="Student email">
                    </div>
                    <div class="col-lg-3">
                        <button id="dd" style="color:#fff" ng-click="findUser()" class="btn custom-button">Find</button>
                    </div>
                    <div class="col-lg-3">
                        <button id="dd" style="color:#fff" ng-disabled="invited" ng-click="inviteByEmail()" class="btn custom-button">{{invited?'Success':'Invite by email'}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="tbl" ng-if="students">
                            <tbody>
                            <tr ng-repeat="student in students">
                                <td><img style="width: 50px; height: 50px; border-radius: 100px" ng-src="{{student.ProfilePicture}}"/> {{student.Name}}</td>
                                <td><button style="color:#fff" ng-click="bind(student)" ng-disabled="student.wasbindled" class="btn custom-button">{{student.wasbindled?'Success':'Bind'}}</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <h4 id="nodata" ng-if="!students || !students.length">NO DATA</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div data-dismiss="modal" style="background-color: red" class="modal-custom-button next">@Resources.Resource.Close</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>