﻿<div class="modal fade" id="replenish-balance-student-3" tabindex="-1" role="dialog"
     aria-labelledby="replenish-balance-step-1Labe3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div ng-if="!succeeded" class="row bad-news">
                    <div class="col-sm-12">
                        <p class="step3-title bad-n">@Resources.Resource.badnews</p>
                        <p class="text-news">@Resources.Resource.Yourbalanceisnotreplenished</p>
                        <p class="text-news">@Resources.Resource.Weapologizefromanyproblems</p>
                    </div>
                </div>
                <div ng-if="succeeded" class="row good-news">
                    <div class="col-sm-12">
                        <p class="step3-title good-n" style="font-size: 90px;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></p>
                        <p class="step3-title good-n">@Resources.Resource.goodnews</p>
                        <p class="text-news">@Html.Raw(Resources.Resource.Youhavesuccessfully)</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div data-dismiss="modal" class="modal-custom-button next">@Resources.Resource.Close</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>