﻿<style>
    .modal-custom-button.next[disabled] {
        opacity: 0.5 !important;
    }
</style>
<div class="modal fade" id="inputBalanceOfStudent" tabindex="-1" role="dialog"
     aria-labelledby="replenish-balance-step-1Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">
                    @Resources.Resource.TopUpBalanceoftheStudent
                </h4>
            </div>
            <div class="modal-body">
                <div class="my-students">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 one-student" ng-repeat="student in students">
                            <div>
                                <img class="img-responsive" ng-src="{{student.ProfilePicture}}" alt="" />
                            </div>
                            <div><span class="stud-name">{{student.Name}}</span></div>
                            <div ng-click="deleteStudentFromList(student, $index)"><span class="stud-select remove"><i class="fa fa-minus" aria-hidden="true"></i></span></div>
                        </div>
                        <div ng-show="addOneMore" class="col-sm-12 col-md-12 one-student for-add students-upp">
                            <div class="col-sm-2 col-md-2">
                                <img src="~/images/default-ava.png" alt="" />
                            </div>
                            <div class="col-sm-10 col-md-10">
                                <input class="stud-name" ng-model="search" type="text">
                            </div>
                            <div class="select-new-student mCustomScrollbar">
                                <div class="addMore-wrap"><span ng-click="addOneMore = false">@*Resources.Resource.Close*@<i class="fa fa-times" aria-hidden="true"></i></span></div>
                                <div ng-click="addNewStudentToSelectedlesson(student)" class="col-sm-12 col-md-12 one-student" ng-repeat="student in allStudents| inArray: students:'Id' | filter: search">
                                    <div class="col-sm-3 col-md-3">
                                        <img ng-src="{{student.ProfilePicture}}" alt="" />
                                    </div>
                                    <div  class="col-sm-9 col-md-9"><span class="stud-name">{{student.Name}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p ng-click="addOneMore=true" class="add-more"><i class="fa fa-plus" aria-hidden="true"></i>@Resources.Resource.Addonemore</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group lessons-type-wrap">
                            <p class="text-title">Select package:</p>
                            <select ui-select2 ng-model="selectedPackageId" class="js-select2-lessons" id="lessons-type">
                                <option ng-repeat="package in availablePackages" ng-selected="$index === 0" value="{{package.Id}}">{{getStringNamePackage(package)}}</option>
                            </select>
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-sm-12 balance">
                        Your available lessons: <span class="native">{{selectedPackage.CountLessons}} (Left {{checkLeftLessons()}})</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <p class="text-title">Pass lessons</p>
                            <div class="input-group for-custom-input">
                                <input ng-model="amount" type="text" class="form-control" id="enterAmount">
                                @*<div class="input-group-addon">{{shared.globalCurrency}}</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div data-dismiss="modal" class="modal-custom-button cancel">@Resources.Resource.Cancel</div>
                    </div>
                    <div class="col-sm-6">
                        <button ng-disabled="checkCorrectAmount()" ng-click="topUp()" class="modal-custom-button next">@Resources.Resource.TopUp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>