﻿@using Xencore.Extentions
@model IEnumerable<Xencore.ViewModel.GroupScheduleViewModel>
@foreach (var lesson in Model)
{
<div class="col-sm-12 teachers-info col-xs-12">
        <div class="col-sm-2 col-xs-3 xs-pad-l-10">
            <img id="profilePicture" src="@lesson.GetImage" alt="" class="center-block photo img-responsive" />
        </div>
        <div class="col-sm-7 col-xs-9 xs-pad-0">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <p class="name" style="color: #333; text-decoration: none">
                        @(lesson.Title?? Resources.Resource.Default)
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 teachSpeak">
                    <p class="teach-desc">
                        @Resources.Resource.Teacher: <a href="@Url.Action("GetTeacherDetails", "ListOfTeachers", new {id=lesson.TeacherId})">@lesson.Name</a>
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 teachSpeak">
                    <p class="teach-desc">
                       @Resources.Resource.LANGUAGE.ToUpperFirstCharacter():<span data-lg="@lesson.Language"> @Resources.Resource.ResourceManager.GetString(lesson.Language.Split('_')[0])</span>
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 teachSpeak">
                    <p class="teach-desc">
                        @Resources.Resource.LEVEL.ToUpperFirstCharacter():

                        <span>
                            @Resources.Resource.ResourceManager.GetString(lesson.Level)
                        </span>
                    </p>
                </div>
                <div class="col-sm-5 col-xs-12 teachSpeak datetime">
                    <p class="teach-desc hidden-xs">
                        @Resources.Resource.StartDate:
                        <span>@lesson.StartDateTime.ToString("dd.MM.yyyy HH:mm")</span>
                    </p>
                </div>
                <div class="col-sm-5 col-xs-12 fromTrial">
                    <p class="teach-desc">
                        @Resources.Resource.Countofseats:
                        <span>@lesson.Count</span>
                    </p>
                </div>
                <div class="visible-xs col-xs-12">
                    <p class="teach-desc">
                        @Resources.Resource.Hourlyrate
                        <span></span>-<span></span>
                    </p>
                </div>
                @*<div class="col-sm-12 col-xs-12">
                    <p class="teach-desc">
                        @Resources.Resource.Subject:
                        <span>@lesson.Sbj</span>
                    </p>
                </div>
                <div class="col-sm-12 hidden-xs">
                    <p class="teach-desc">
                        @Resources.Resource.DESCRIPTION.ToUpperFirstCharacter():
                        <span>
                            @(lesson.Description??"Default description")
                        </span>
                    </p>
                </div>*@
            </div>
        </div>
        <div class="col-sm-3 text-center for-left-border hidden-xs">
            @*<p class="price">
                <span></span>-<span></span>
            </p>
            <p class="price-desc">
                @Resources.Resource.PricePLess
            </p>*@
            <div data-userid ="@lesson.TeacherId" data-scheduleid="@lesson.ScheduleId" class="book-lesson-btn center-block" data-toggle="modal" data-target="#modal-calendar">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                @Resources.Resource.BookLesson
            </div>
        </div>
    </div>
}
