﻿@model IEnumerable<Xencore.ViewModel.GroupScheduleViewModel>
@{
    ViewBag.Title = "List of Teachers";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section Head
{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
}
<table style="color: black" class="table table-striped table-bordered dataTable no-footer" id="grouplessons">
    <thead>
    <tr>
        <th>Subject</th>
        <th>Language</th>
        <th>Level</th>
        <th>Teacher</th>
        <th>Start Time</th>
        <th>Number of students</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Subject</td>
            <td>@Resources.Resource.ResourceManager.GetString(item.Language)</td>
            <td>@Resources.Resource.ResourceManager.GetString(item.Level)</td>
            <td><a href="@Url.Action("GetTeacherDetails", "ListOfTeachers", new {id=item.TeacherId})">@item.Name</a></td>
            <td>@item.StartDateTime</td>
            <td>@item.Count</td>
        </tr>
    }
    </tbody>
</table>
@section Scripts
{

    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        $("#grouplessons")
            .dataTable({
                "autoWidth": true,
                "ordering": false,
                "oLanguage": {
                    "sSearch": "",
                }
            });
    </script>
}
