﻿@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@model IEnumerable<Xencore.ViewModel.GroupScheduleViewModel>
@{
    ViewBag.Title = "Find group lessons";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var showModal = ViewBag.User == null ? "#signin" : "#buy-step-1";
}
@section Head
{
    <link href="~/Css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Css/nouislider.min.css" rel="stylesheet" />
    <link href="~/Css/dropdowns-enhancement.min.css" rel="stylesheet" />
}
<!-- Modal -->
<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.Confirmation</h4>
            </div>
            <div class="modal-body">
               @Resources.Resource.Doyouwanttobookthislesson
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.Close</button>
                <button type="button" id="confirm" class="btn btn-primary">@Resources.Resource.Confirm</button>
            </div>
        </div>
    </div>
</div>
<section class="intro-teachers">
    <div class="serviceMessageMain gp-style js-service text-center">
        <span></span>
    </div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 pad-0">
            <img class="teachers-gif" src="~/Images/Illustration-for-Teacher-page.gif" alt=""/>
            <p class="title">@Resources.Resource.findgrouplessons.ToUpper()</p>
            <p class="description hidden-xs">
                @Resources.Resource.Findagrouplessonfor
            </p>
        </div>
    </div>
</section>
<section class="hidden-xs">
    <div class="container-fluid blue-bg">
        <div class="intro-anim"><i class="glyphicon glyphicon-chevron-up"></i></div>
    </div>
</section>
<section class="choose-for-teacher">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="speaks">@Resources.Resource.Languageofalesson</label>
                    <select class="js-select2-speaks" id="speaks">
                        <option value="any">Any</option>
                        @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="search">@Resources.Resource.Search</label>
                    <input placeholder="@Resources.Resource.Entersomeword" type="text" class="custom-search" id="search">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group group-check">
                    <label for="availability">@Resources.Resource.Availability</label>
                    @*<button class="btn btn-primary">Checked option</button>
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false"><span class="caret"></span></button>*@
                    <div class="button-drop" data-toggle="dropdown" class="dropdown-toggle" data-placeholder="false">@Resources.Resource.Availability<i class="fa fa-angle-down pull-right" aria-hidden="true"></i></div>
                    <ul class="dropdown-menu">
                        <li>
                            <input type="checkbox" id="tan" />
                            <label class="" for="tan">@Resources.Resource.TutoringAvailableNow</label>
                        </li>
                        <li class="text">@Resources.Resource.TimeofDay</li>
                        <li>
                            <input data-from="0" data-to="6" type="checkbox" id="test2" />
                            <label class="" for="test2">@Resources.Resource.LateNight<span>(00:00-05:59)</span></label>
                        </li>
                        <li>
                            <input data-from="6" data-to="12" type="checkbox" id="test3" />
                            <label class="" for="test3">@Resources.Resource.Morning<span>(06:00-11:59)</span></label>
                        </li>
                        <li>
                            <input data-from="12" data-to="18" type="checkbox" id="test4" />
                            <label class="" for="test4">@Resources.Resource.Afternoon<span>(12:00-17:59)</span></label>
                        </li>
                        <li>
                            <input data-from="18" data-to="0" type="checkbox" id="test5" />
                            <label class="" for="test5">@Resources.Resource.Evening<span>(18:00-23:59)</span></label>
                        </li>
                        <li class="text">@Resources.Resource.DaysoftheWeek</li>
                        <li data-weeknumber="2">
                            <input type="checkbox" id="test6" />
                            <label class="" for="test6">@Resources.Resource.Monday</label>
                        </li>
                        <li data-weeknumber="3">
                            <input type="checkbox" id="test9" />
                            <label class="" for="test9">@Resources.Resource.Tuesday</label>
                        </li>
                        <li data-weeknumber="4">
                            <input type="checkbox" id="test7" />
                            <label class="" for="test7">@Resources.Resource.Wednesday</label>
                        </li>
                        <li data-weeknumber="5">
                            <input type="checkbox" id="test10" />
                            <label class="" for="test10">@Resources.Resource.Thursday</label>
                        </li>
                        <li data-weeknumber="6">
                            <input type="checkbox" id="test8" />
                            <label class="" for="test8">@Resources.Resource.Friday</label>
                        </li>
                        <li data-weeknumber="7">
                            <input type="checkbox" id="test11" />
                            <label class="" for="test11">@Resources.Resource.Saturday</label>
                        </li>
                        <li data-weeknumber="1">
                            <input type="checkbox" id="test12" />
                            <label class="" for="test12">@Resources.Resource.Sunday</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="connect">@Resources.Resource.Teachingtime</label>
                    <div id="connect"></div>
                    <span class="pull-left" id="skip-value-lower"></span>
                    <span class="pull-right" id="skip-value-upper"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="light-bg">
    <div class="container">
        <div id="listOfUsers" class="row xs-mar-0">
            @{
                Html.RenderPartial("~/Views/FindGroupLessons/_ListOfLessons.cshtml", Model);
            }
        </div>
    </div>
</section>
@{
    if (User.Identity.IsAuthenticated)
    {
        Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep1.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep2.cshtml");
        Html.RenderPartial("~/Views/newLayouts/Modals/_StartBuyTrialStep3.cshtml");
    }
    @*@Html.Partial("~/Views/newLayouts/Modals/_FindATeacherTempAvailable.cshtml")*@
}
@*end modal*@
@section Scripts
{
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    <script src="~/js/dropdowns-enhancement.js"></script>
    <script>
        var currentInfoprice;
        $(".teachSpeak.datetime span")
            .each(function(index, elem) {
                var text = $(elem).text();
                var toLocal = moment.utc(text, "DD.MM.YYYY HH:mm").local().format("DD.MM.YYYY HH:mm");
                $(elem).text(toLocal);
            });
        jQuery.expr[':'].Contains = function (a, i, m) {
            return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
        };

        // OVERWRITES old selecor
        jQuery.expr[':'].contains = function (a, i, m) {
            return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
        };
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/BuyCourse.js"></script>
        @Scripts.Render("~/Scripts/openalng/Prices")
        @Scripts.Render("~/Scripts/openalng/Geolocation")
        <script src="~/Scripts/openlang/UserManager.js"></script>
        <script>
            var code, timez, userId, cc = ""
            var modelId = '';
            var startDateTime;
            var dateId;
            @if (ViewBag.User != null)
            {
                <text>
                    code = "@Html.Raw(ViewBag.User.Currency?.Split(':')[0])";
                    timez = "@(ViewBag.TimeZone ?? "")";
                </text>
                if (!string.IsNullOrEmpty(ViewBag.User.Location))
                {
                    <text>
                        cc =
                            '@Html.Raw((ViewBag.User.Location.Split(':') as IEnumerable<string>).Skip(1).FirstOrDefault())';
                    </text>
                }
                <text>userId = "@ViewBag.User.Id"</text>
            }
            UserManager.allInitialized = function() {
                var country = UserManager.location.country;
                $.get("/api/currencyConverter/getCurrentPrice",
                        { type: "Group", area: country, userId: userId, currency: code })
                    .always(function (res) {
                        currentInfoprice = res;
                        $(".price").html("<span>" + currentInfoprice.pricePerLesson + " &euro;</span> - <span>" + currentInfoprice.curFactory + " " + code + "</span>");
                    });
            }
            UserManager.initalizeRegionsInformation(code, timez, cc);
            $(".hasMinDate")
                .datetimepicker({
                    minDate: new Date(),
                    format: 'DD/MM/YYYY',
                    allowInputToggle: true,
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
                });
            @if (User.Identity.IsAuthenticated)
            {
                <text>
            var allTeachersBoughtLessons;
            $.get("/api/CheckStateBoughtTrialLesson", { 'id': '@User.Identity.GetUserId()' }, 'json')
                .success(function(result) {
                    allTeachersBoughtLessons = result;
                });
                </text>
            }
            var selectedScid;
            var selectedTeacherId;
            $(".book-lesson-btn.center-block").click(function () {
                selectedScid = $(this).attr("data-scheduleid");
                selectedTeacherId = $(this).attr("data-userid");
                var country = UserManager.location.country;
                $.get("/api/currencyConverter/getCurrentPrice",
                        { type: "Group", area: country, userId: userId, currency: code })
                    .always(function (res) {
                        currentInfoprice = res;
                        if (currentInfoprice.isDisable) {
                            $('.intro-teachers .js-service')
                                .addClass("warningGsService").css("font-size","9px")
                                .find('span')
                                .html('<div class="container"><div class="row mess_title"><div class="col-sm-12"><p class="title">@Resources.Resource.WARNING<span>@Resources.Resource.Youhavenotamoneyonyouraccount</span></p></div></div></div>')
                                .end()
                                .fadeIn('slow');
                            setTimeout(function() {
                                $('.intro-teachers .js-service').fadeOut('slow');
                            }, 3000);
                            //alert("You have not money for this operation");
                            return;
                        }
                        $("#confirmation").modal('show');
                    });
            });
            $("#confirmation #confirm").click(function() {
                $.get("/api/LessonsBinder/BindGroupLesson",
                    {
                        scheduleId: selectedScid,
                        paymentId: currentInfoprice.paymentId,
                        price: currentInfoprice.pricePerLesson,
                        studentId: userId,
                        teacherId: selectedTeacherId,
                        type: currentInfoprice.type
                    })
                    .always(function(res) {
                        if (res === -1)
                            alert(resource.match('you_had_already_bind'));
                        else
                            location.reload();
                    });
            });
        </script>
    }
    <script>
        var selectedTeacherId;
        var localTime = new Date().getTimezoneOffset() / 60;
        var listOfShowedWeeks = [];
        var selectedControlRangeFilter = false;
        var filter = {
            'teach': null,
            'speak': null,
            'search': null,
            'availability': null,
            'teach-time': {
                'from': null,
                'to': null
            },
            'zone': 0,
            'daysoftheweek': [],
            'timeRanges': [],
            'tutoringAvailableNow': false,
            'page': 0
        };
        $("input[data-from]")
            .change(function() {
                if (selectedControlRangeFilter) filter.timeRanges = [];
                selectedControlRangeFilter = false;
                var from = $(this).data("from") + filter.zone;
                if (from < 0)
                    from = 24 + from;
                var to = $(this).data("to") + filter.zone;
                if (to < 0)
                    to = 24 + to;
                if ($(this).is(":checked"))
                    filter.timeRanges.push({ 'from': from, 'to': to });
                else
                    filter.timeRanges.forEach(function(elem, index) {
                        if (elem.from == from)
                            filter.timeRanges.splice(index, 1);
                    });
                getFilterResult(true);
            });
        $("*[data-weeknumber] input")
            .change(function() {
                if ($(this).is(":checked")) {
                    filter.daysoftheweek.push($(this).parent().data("weeknumber"));
                } else {
                    var weekn = $(this).parent().data("weeknumber");
                    var index = filter.daysoftheweek.indexOf(weekn);
                    filter.daysoftheweek.splice(index, 1);
                }
                getFilterResult(true);

            });
        $("#tan")
            .change(function() {
                if ($(this).is(":checked")) {
                    $(this).parent().siblings().find("input").attr("disabled", "disabled");
                    filter.tutoringAvailableNow = true;
                } else {
                    $(this).parent().siblings().find("input").removeAttr("disabled");
                    filter.tutoringAvailableNow = false;
                }
                getFilterResult(true);
            });

        function playVideo() {
            var link = $(this).data("link");
            $("#teacher-video iframe").attr("src", link);
        }

        function bindClickToTrial() {
            if (isFound) return;
            if (!dateId) {
                alert("@Resources.Resource.Youneedselectstartdate");
                return;
            }
            $("#buy-step-1").modal("show");
            $('#modal-calendar').modal('hide');
        }

        var allItems = $(".teachers-info");
        function getFilterResult(event) {
            if (event)
                filter.page = 0;
            else
                filter.page++;
            $(".show-more").show();
            filter.UsersAlreadyShown = [];
            allItems.css("display", "block");
            if (filter.speak) {
                allItems.each(function (index, elem) {
                    var lg = $(elem).find(".teach-desc span").attr("data-lg");
                    if (lg !== filter.speak.split('_')[1])
                        $(elem).css("display","none");
                });
            }
            if (filter.search) {
                allItems.filter(":visible").each(function (index, elem) {
                    var lg = $(elem).find("*:contains('" + filter.search + "')").length;
                    if (!lg)
                        $(elem).css("display", "none");
                });
            }
            if (filter.tutoringAvailableNow) {
                allItems.filter(":visible")
                    .each(function(index, elem) {
                        var datetime = $(elem).find(".teachSpeak.datetime span").text();
                        var day = moment(datetime, "DD.MM.YYYY HH:mm").add(4, 'hours');
                        var dateNow = moment.now();
                        if (dateNow < day)
                            $(elem).css("display", "none");
                    });
            } else {
                if (filter.timeRanges.length) {
                    allItems.filter(":visible").each(function (index, elem) {
                        var datetime = $(elem).find(".teachSpeak.datetime span").text();
                        var hours = parseInt(moment(datetime, "DD.MM.YYYY HH:mm").format("HH"));
                        if (filter.timeRanges.map(function (el) {
                            if (hours >= el.from && hours <= el.to)
                                return 1;
                            return 0;
                        }).indexOf(1) === -1)
                            $(elem).css("display", "none");
                    });
                }
                if (filter.daysoftheweek.length) {
                    allItems.filter(":visible").each(function (index, elem) {
                        var datetime = $(elem).find(".teachSpeak.datetime span").text();
                        var day = moment(datetime, "DD.MM.YYYY HH:mm").day() + 1;
                        console.log(day);
                        if (filter.daysoftheweek.indexOf(day) === -1)
                            $(elem).css("display", "none");
                    });
                }
            }
            @*$.post('@Url.Action("Filter", "ListOfTeachers")', filter)
                .success(function(result) {
                    $("#listOfUsers").html(result);
                    $('.book-lesson-btn:not(".for-trial-lesson")').unbind("click").bind("click", ev);
                    $(".play-vid").unbind("click").bind("click", playVideo);
                    $('.name')
                        .unbind("click")
                        .bind("click",
                            function() {
                                document.location.href = $(this).data("link");
                            });
                });*@
        }

        var selectedTeacherIdForTrial;
        var isFound = false;

        function bindClick(id) {
            location.href = '/en/teacher-details/' + id;
            $('#buy-step-1').modal('hide');
        };

        function ev() {
            var _this = $(this);
            var id = _this.data("userid");
            isFound = false;
            selectedTeacherIdForTrial = id;
            if (typeof allTeachersBoughtLessons !== 'undefined') {
                var hastrialless = $(this).attr("data-hastriallesson");
                if (hastrialless == 'false') {
                    var tr = $('.book-lesson-btn.for-trial-lesson');
                    tr.attr('data-target', '');
                    tr.children('text').text("@Resources.Resource.BookLesson");
                    tr.unbind("click")
                        .bind('click',
                            function() {
                                location.href = '/en/teacher-details/' + id;
                                $('#buy-step-1').modal('hide');
                            });
                    isFound = true;
                    tr.text("@Resources.Resource.BookLesson");
                };
                if (!isFound) {
                    for (var i = 0; i < allTeachersBoughtLessons.length; i++) {
                        if (allTeachersBoughtLessons[i].CourseBoughtFromId == id) {
                            var tr = $('.book-lesson-btn.for-trial-lesson');
                            tr.attr('data-target', '');
                            tr.children('text').text("@Resources.Resource.BookLesson");
                            tr.bind('click', function() { bindClick(id) });
                            tr.text("@Resources.Resource.BookLesson");
                            isFound = true;
                            break;
                        }
                    }
                    if (!isFound) {
                        $('.book-lesson-btn.for-trial-lesson')
                            .unbind("click")
                            .bind("click", bindClickToTrial)
                            .removeAttr('data-target')
                            //.data('target', '#buy-step-1')
                            //.children('text')
                            .text("@Resources.Resource.TrialLesson");
                        var learnTeach = [];
                        $(this)
                            .parents(".teachers-info")
                            .find("[data-shortlang]")
                            .each(function(index, elem) {
                                learnTeach.push($(elem).attr("data-shortlang"));
                            });
                        $("#trial_select_lang option")
                            .each(function(index, elem) {
                                console.log(elem);
                                if ($.inArray($(elem).data("value"), learnTeach) == -1) {
                                    $(elem).attr("disabled", "disabled");
                                    console.log($(elem).val() + " disable");
                                } else {
                                    $(elem).removeAttr("disabled");
                                    console.log($(elem).val() + " undisable")
                                    $("#trial_select_lang").val($(elem).val()).trigger("change");
                                    //$(elem).attr("selected", "selected");
                                }

                            });
                        try {
                            $("#trial_select_lang")
                                .select2({
                                    minimumResultsForSearch: Infinity,
                                    placeholder: "@Resources.Resource.ChooseLang",
                                    templateResult: formatState,
                                    templateSelection: formatState
                                });
                        } catch (e) {

                        }
                    }
                }
            } else {
                $('.book-lesson-btn.for-trial-lesson')
                    .attr('data-target', '#signin')
                    .attr("data-toggle", 'modal')
                    .attr("data-dismiss", "modal")
                    .text("@Resources.Resource.TrialLesson");
            }
            if (selectedTeacherId == id)
                return;
            selectedTeacherId = id;
            @if (ViewBag.User != null)
            {
                <text>modelId = id;</text>
            }
            var teacherinfo = _this.parents(".teachers-info");
            var name = teacherinfo.find(".name").clone();
            var froms = teacherinfo.find(".fromTrial .teach-desc:first-child").clone();
            var teach = teacherinfo.find(".teachSpeak .teach-desc:first-child").clone();
            var image = teacherinfo.find("#profilePicture").attr('src');
            var mc = $("#modal-calendar");
            mc.find(".name").replaceWith(name);
            mc.find(".from").replaceWith(froms);
            mc.find(".teach").replaceWith(teach);
            mc.find(".img-responsive").attr('src', image)
            $('#calendar').fullCalendar('destroy');
            dateId = null;
            $('body')
                .on('click',
                    '.previous-week',
                    function() {
                        var data = parseInt($(this).data('curpage'));
                        if (--data <= 0) {
                            $(this).data('curpage', data);
                            $(this).css('display', 'none');
                        } else
                            $(this).data('curpage', data);
                        $('button.fc-prev-button.fc-button.fc-state-default.fc-corner-left').click();
                        var numb = $(".fc-week-number span:first-child").text();
                        numb = parseInt(numb.substr(1) - 1);
                        if ($.inArray(numb, listOfShowedWeeks) != -1)
                            return;
                        listOfShowedWeeks.push(numb);
                        $.getJSON("@Url.Action("GetTeacherScheduleWithoutPast", "TeacherSchedule")",
                                { 'teacherId': selectedTeacherId, 'week': numb })
                            .always(function(result) {
                                var calendar = $('#calendar');
                                result.forEach(function(elem) {
                                    calendar.fullCalendar("renderEvent", elem, true);
                                });
                            });
                    })
            $('body')
                .on('click',
                    '.next-week',
                    function() {
                        var events = $('#calendar').fullCalendar('clientEvents');
                        $('button.fc-next-button.fc-button.fc-state-default.fc-corner-right').click();
                        var prevweek = $(this).siblings('.previous-week');
                        prevweek.css('display', 'block');
                        var page = parseInt(prevweek.data('curpage'));
                        prevweek.data('curpage', ++page);
                        var numb = $(".fc-week-number span:first-child").text();
                        numb = parseInt(numb.substr(1)) - 1;
                        if ($.inArray(numb, listOfShowedWeeks) != -1)
                            return;
                        listOfShowedWeeks.push(numb);
                        $.getJSON("@Url.Action("GetTeacherScheduleWithoutPast", "TeacherSchedule")",
                                { 'teacherId': selectedTeacherId, 'week': numb })
                            .always(function(result) {
                                var calendar = $('#calendar');
                                result.forEach(function(elem) {
                                    calendar.fullCalendar("renderEvent", elem, true);
                                })
                            });
                    })
            $('body')
                .on('click',
                    'fc-event a',
                    function() {
                    });
        };

        $(document)
            .ready(function() {
                @*$(".show-more")
                    .click(function() {
                        filter.page++;
                        filter.UsersAlreadyShown = [];
                        $(".book-lesson-btn.center-block[data-userid]")
                            .each(function(index, elem) {
                                filter.UsersAlreadyShown.push($(elem).attr("data-userid"));
                            });
                        $.post('@Url.Action("Filter", "ListOfTeachers")', filter)
                            .always(function(e) {
                                if (!e)
                                    $(".show-more").hide();
                                else {
                                    $("#listOfUsers").append(e);
                                    $('.book-lesson-btn:not(".for-trial-lesson")').unbind("click").bind("click", ev);
                                    $(".play-vid").unbind("click").bind("click", playVideo);
                                    $(".name")
                                        .unbind("click")
                                        .bind("click",
                                            function() {
                                                document.location.href = $(this).data("link");
                                            });
                                }
                            })
                    });*@
                $('.book-lesson-btn:not(".for-trial-lesson")').bind("click", ev);
                var introTeacherH = $('.intro-teachers')[0].offsetHeight - 3;
                $('.intro-anim')
                    .click(function () {
                        $('.intro-teachers').slideToggle();
                        $(this).toggleClass('active');
                    });
                $(".js-select2-language")
                    .select2({
                        minimumResultsForSearch: Infinity
                    })
                    .on("change",
                        function(e) {
                            var code = e.currentTarget.selectedOptions[0].text +
                                "_" +
                                e.currentTarget.selectedOptions[0].value;
                            if (code.indexOf("any") > -1)
                                filter.teach = null;
                            else
                                filter.teach = code;
                            getFilterResult(true);
                        });
                $(".js-select2-speaks")
                    .select2({
                        minimumResultsForSearch: Infinity
                    })
                    .on("change",
                        function(e) {
                            var code = e.currentTarget.selectedOptions[0].text +
                                "_" +
                                e.currentTarget.selectedOptions[0].value;
                            if (code.indexOf("any") > -1)
                                filter.speak = null;
                            else
                                filter.speak = code;
                            getFilterResult(true);
                        });
                $(".js-select2-availability")
                    .select2({
                        minimumResultsForSearch: Infinity
                    });
                $("#search")
                    .keyup(function(char) {
                        var txt = $("#search").val();
                        filter.search = txt;
                        getFilterResult(true);
                    });
                $(".play-vid").bind("click", playVideo);
                var connectSlider = document.getElementById('connect');
                noUiSlider.create(connectSlider,
                {
                    start: [0, 23],
                    connect: false,
                    range: {
                        'min': 0,
                        'max': 23,
                    },
                    step: 1
                });

                var connectBar = document.createElement('div'),
                    connectBase = connectSlider.querySelector('.noUi-base');

                // Give the bar a class for styling and add it to the slider.
                connectBar.className += 'connect';
                connectBase.appendChild(connectBar);

                connectSlider.noUiSlider.on('update',
                    function(values, handle, a, b, handlePositions) {

                        var offset = handlePositions[handle];

                        // Right offset is 100% - left offset
                        if (handle === 1) {
                            offset = 100 - offset;
                        }

                        // Pick left for the first handle, right for the second.
                        connectBar.style[handle ? 'right' : 'left'] = offset + '%';
                    });
                connectSlider.noUiSlider.on('change',
                    function(a, c, e) {
                        selectedControlRangeFilter = true;
                        filter.timeRanges = [];
                        $("[data-from]").prop("checked", false);
                        var from = Math.round(e[0]) + filter.zone;
                        var to = Math.round(e[1]) + filter.zone;
                        if (from < 0)
                            from = 24 + from;
                        if (to < 0)
                            to = 24 + to;
                        filter.timeRanges.push({ 'from': from, 'to': to });
                        getFilterResult(true);
                    });


                var skipValues = [
                    document.getElementById('skip-value-lower'),
                    document.getElementById('skip-value-upper')
                ];

                connectSlider.noUiSlider.on('update',
                    function(values, handle) {
                        skipValues[handle].innerHTML = Number(values[handle]).toFixed(0) + ':00';

                    });
            });
        $("#teacher-video")
            .on("hide.bs.modal",
                function() {
                    $("#teacher-video iframe").attr("src", "");
                });
        //$("#findateacheravailable").modal("show");
    </script>
}