﻿@model IEnumerable<Domain.Entities.Countries>
@{
    Layout = null;
}


<script>
    var usr = @Html.Raw(ViewBag.MyProfile);
    var isTeacher = '@(User.IsInRole("Presenter")?"true":"")';
    console.log(usr);
</script>
<div class="profile-section">
    @*<div class="general-page profile-page">
        <div class="right-side">
            <div class="row">
                <div class="col-sm-12 unic-section">
                    <div class="general-page2">
                        <form id="accaunt-info">
                            <div class="serviceMessageMain gp-style js-service text-center">
                                <span></span>
                            </div>
                            <div class="row" id="accauntMainData">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-xs-12 block-center no-Lpadding">
                                            <p class="prof-foto hidden-xs">@Resources.Resource.Profile_Photo</p>
                                            <img id="profilePicture" ng-src="{{currentUser.profilePicture}}" alt="" class="center-block img-responsive js-ava avat" />
                                            <label class="upload-photo" for="upload-photo">@Resources.Resource.ChangePhoto</label><span></span>
                                            <input id="upload-photo" class="hidden-xs" onchange="angular.element(this).scope().uploadImage()" type="file" accept="image/*" />
                                        </div>
                                        <div class="col-sm-9 col-md-9 col-xs-12 no-Lpadding">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="name">@Resources.Resource.Name</label>
                                                    <input ng-model="currentUser.name" value="{{currentUser.name}}" type="text" class="form-control" id="name" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">@Resources.Resource.Location</label>
                                                    <select ng-model="currentUser.location" ui-select2 class="js-select2-location" id="location">
                                                        @foreach (var country in Model)
                                                        {
                                                            <option value="@(country.Name + ":" + country.Alpha2_code)">@country.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="timezone">@Resources.Resource.YourTimeZone</label>
                                                    <select ng-model="currentUser.timezone" ui-select2 class="js-select2-location" id="timezone">
                                                        <option selected="selected">{{currentUser.timezone}}</option>
                                                        @{ Html.RenderPartial("~/Views/PartialsOptions/AllTimeZones.cshtml");}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="email">@Resources.Resource.Email1</label>
                                                    <input value="{{currentUser.email}}" ng-model="currentUser.email" type="email" class="form-control" disabled="disabled" id="email"
                                                           placeholder="Daniel-Jones@example.com">
                                                </div>
                                                <div class="form-group">
                                                    <label for="currency">@Resources.Resource.Currency</label>
                                                    <select ng-model="currentUser.currency" ui-select2 class="js-select2-location" id="currency">
                                                        <option ng-selected="{{currencie.Val === currentUser.currency}}" value="{{currencie.Val}}" ng-repeat="currencie in currencies">{{currencie.Val}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone">@Resources.Resource.Telephone</label>
                                                    <input ui-intltelinput full-number="customUser.fullPhone" location="currentUser.location" ng-model="currentUser.phone" type="tel" placeholder="" class="form-control phone" id="phone">
                                                </div>
                                            </div>*@

    @*<div class="translate">
        <div><span class="money">@Resources.Resource.Yourbalance (EUR)</span>  <span class="money1">@moneyString.Split(';')[0]</span></div>
        <div><span class="money">@Resources.Resource.Yourbalanceinyourcurrency: </span>  <span class="money1">@moneyString.Split(';')[1]</span></div>*@
    @*</div>
            </div>
        </div>
        <div class="col-sm-12" id="additional_info">
            <div class="form-group">
                <label for="looking-for">@Resources.Resource.Whatareyoulookingfor</label>
                <textarea ng-model="currentUser.lookingfor" class="form-control" id="looking-for" placeholder="@Resources.Resource.Enteryourinformation">{{currentUser.lookingfor}}</textarea>
            </div>
            <div class="form-group">
                <label for="short_introduction">@Resources.Resource.StudentShortIntroduction</label>
                <textarea ng-model="currentUser.shortintro" class="form-control" id="short_introduction" placeholder="@Resources.Resource.Enteryourinformation">{{currentUser.shortintro}}</textarea>
            </div>*@
    @*<div class="form-group">
            <label for="long_introduction">@Resources.Resource.StudentLongIntroduction</label>
            <textarea ng-model="currentUser.longintro" class="form-control" id="long_introduction" placeholder="@Resources.Resource.Enteryourinformation">{{currentUser.longintro}}</textarea>
        </div>*@
    @*<div class="checkbox">
                                            <input type="checkbox" ng-model="currentUser.isSendMeConfirmationByEmail" class="form-control" id="long_introduction" />
                                            <label for="long_introduction">@Resources.Resource.Sendmeemailnotification</label>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="currentUser.isSendMeConfirmationByWeb" class="form-control" />
                                            <label for="long_introduction">Send me web notification informing me of the state of my classes</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12  for-row-origin">
                                        <div class="form-group for-hidden-input">
                                            <div class="row">
                                                <div class="col-sm-9 col-xs-8 for-add-input">
                                                    <label ng-click="currentUser.skype='example'" class="for-action" for="skype"><i ng-show="currentUser.skype === null" class="fa fa-plus plus-ico" aria-hidden="true"></i>@Resources.Resource.SkypeAccount</label>
                                                    <div ng-show="currentUser.skype!==null" class="for-hide-js">
                                                        <span class="for-ico-skype"></span>
                                                        <input type="text" class="form-control" id="skype" ng-model="currentUser.skype" value="{{currentUser.skype}}" placeholder="">
                                                    </div>
                                                </div>
                                                <div ng-show="currentUser.skype!==null" class="col-sm-3 col-xs-4">
                                                    <span class="del-soc"><i ng-click="currentUser.skype=null" class="fa fa-times" aria-hidden="true"></i>@Resources.Resource.delete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group for-hidden-input">
                                            <div class="row">
                                                <div class="col-sm-9 col-xs-8 for-add-input">
                                                    <label ng-click="currentUser.google='example'" class="for-action" for="google"><i ng-show="currentUser.google === null" class="fa fa-plus plus-ico" aria-hidden="true"></i>@Resources.Resource.GoogleHangoutsAccount</label>
                                                    <div ng-show="currentUser.google !== null" class="for-hide-js">
                                                        <span class="for-ico-google"></span>
                                                        <input ng-model="currentUser.google" type="text" class="form-control" id="google" value="{{currentUser.google}}" placeholder="">
                                                    </div>
                                                </div>
                                                <div ng-show="currentUser.google !== null" class="col-sm-3 col-xs-4">
                                                    <span class="del-soc"><i ng-click="currentUser.google=null" class="fa fa-times" aria-hidden="true"></i>@Resources.Resource.delete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group for-hidden-input">
                                            <div class="row">
                                                <div class="col-sm-9 col-xs-8 for-add-input">
                                                    <label ng-click="currentUser.facetime='example'" class="for-action" for="face-time"><i ng-show="currentUser.facetime === null" class="fa fa-plus plus-ico" aria-hidden="true"></i>@Resources.Resource.FaceTimeAccount</label>
                                                    <div ng-show="currentUser.facetime !== null" class="for-hide-js">
                                                        <span class="for-ico-facetime"></span>
                                                        <input ng-model="currentUser.facetime" value="{{currentUser.facetime}}" type="text" class="form-control" id="face-time" placeholder="">
                                                    </div>
                                                </div>
                                                <div ng-show="currentUser.facetime !== null" class="col-sm-3 col-xs-4">
                                                    <span class="del-soc"><i ng-click="currentUser.facetime=null" class="fa fa-times" aria-hidden="true"></i>@Resources.Resource.delete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group for-hidden-input">
                                            <div class="row">
                                                <div class="col-sm-9 col-xs-8 for-add-input">
                                                    <label ng-click="currentUser.qq='example'" class="for-action" for="qq"><i ng-show="currentUser.qq === null" class="fa fa-plus plus-ico" aria-hidden="true"></i>QQ Account</label>
                                                    <div ng-show="currentUser.qq !== null" class="for-hide-js">
                                                        <span class="for-ico-qq"></span>
                                                        <input ng-model="currentUser.qq" value="{{currentUser.qq}}" type="text" class="form-control" id="qq" placeholder="">
                                                    </div>
                                                </div>
                                                <div ng-show="currentUser.qq !== null" class="col-sm-3 col-xs-4">
                                                    <span class="del-soc"><i class="fa fa-times" ng-click="currentUser.qq=null" aria-hidden="true"></i>@Resources.Resource.delete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 pad-0">
                                                <div class="custom-button pull-left">
                                                    <button id="save_account" ng-click="save()" type="button">@Resources.Resource.Save</button>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 pad-0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="profile-content-wrapper">


        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab"><a class="active" href="#test-swipe-1">general</a></li>
            <li class="tab"><a href="#test-swipe-2">languages</a></li>
            <li class="tab"><a href="#test-swipe-3">password</a></li>
            @if (User.IsInRole("Presenter"))
            {
                <li class="tab"><a href="#test-swipe-4">experience</a></li>
                <li class="tab"><a href="#test-swipe-5">photogallery</a></li>
                <li class="tab"><a href="#test-swipe-6">about me</a></li>
                <li class="tab"><a href="#test-swipe-8">rates</a></li>
            }
            <li class="tab"><a href="#test-swipe-7"> Payment receipts</a></li>
            <div class="delete-wrapper waves-effect waves-light" ng-show="getChosenFiles()>0" ng-click="removeFiles()"><i class="material-icons prefix">delete</i></div>
        </ul>
        <div id="test-swipe-1" class="col s12 profile-content">
            <div>
                <form id="generalProfileform" method="post">
                    <div class="general-top-wrapper">
                        <div style="cursor:pointer" ng-click="uoPhto()" class="profile-avatar"><div class="after-show"><img src="{{currentUser.profilePicture}}" alt="profile" /></div></div>
                        <input style="display:none" id="upload-photo" class="hidden-xs" onchange="angular.element(this).scope().uploadImage()" type="file" accept="image/*" />
                        <div class="general-input-wrapper">
                            <div class="input-field input-wrapper-popup general-top-input" ng-class="{'active' : currentUser.name}">
                                <i class="material-icons prefix">account_circle</i>
                                <input ng-model="currentUser.name" value="{{currentUser.name}}" id="general_name-input" type="text" name="name">
                                <label ng-class="{'active' : currentUser.name}" for="general_name-input">@Resources.Resource.Name</label>

                            </div>
                            <div class="input-field input-wrapper-popup general-top-input" ng-class="{'active' : currentUser.email}">
                                <i class="material-icons prefix">alternate_email</i>
                                <input disabled id="general-email" value="{{currentUser.email}}" ng-model="currentUser.email" name="email" type="email">
                                <label ng-class="{'active' : currentUser.email}" for="general-email">@Resources.Resource.Email1</label>
                            </div>
                            <div class="drop-wrap location-input-drop general-top-input">

                                <div class="input-field">
                                    <i class="material-icons prefix">location_on</i>
                                    <select ng-model="currentUser.location" id="location">
                                        <option value="basic-membership" disabled selected>@Resources.Resource.Location</option>
                                        @foreach (var country in Model)
                                        {
                                            <option value="@(country.Name + ":" + country.Alpha2_code)">@country.Name</option>
                                        }
                                    </select>
                                    <label>Choose Location</label>
                                </div>
                            </div>
                            <div class="drop-wrap  location-input-drop currency-input-drop general-top-input">

                                <div class="input-field">
                                    <i class="material-icons prefix">money</i>
                                    <select ng-model="currentUser.currency" id="currency">
                                        <option value="basic-membership" disabled selected>@Resources.Resource.Currency</option>
                                        <option ng-selected="{{currencie.Val === currentUser.currency}}" value="{{currencie.Val}}" ng-repeat="currencie in currencies">{{currencie.Val}}</option>
                                    </select>
                                    <label>Choose Currency</label>
                                </div>
                            </div>
                            <div class="drop-wrap location-input-drop currency-input-drop general-top-input">

                                <div class="input-field">
                                    <i class="material-icons prefix">access_time</i>
                                    <select id="timezone" ng-model="currentUser.timezone">
                                        <option selected="selected">{{currentUser.timezone}}</option>
                                        @{ Html.RenderPartial("~/Views/PartialsOptions/AllTimeZones.cshtml");}
                                    </select>
                                    <label>Choose Timezone</label>
                                </div>
                            </div>
                            <div class="input-field input-wrapper-popup general-top-input" ng-class="{'active' : currentUser.phone} ">
                                <i class="material-icons prefix">phone_iphone</i>
                                <input ng-model="currentUser.phone" value="{{currentUser.phone}}" id="general_phone-input" type="text" name="name">
                                <label ng-class="{'active' : currentUser.phone}" for="general_phone-input">@Resources.Resource.Telephone</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="input-field input-wrapper-popup general_flag-input" ng-class="{'active' : currentUser.lookingfor}">
                <i class="material-icons prefix">flag</i>
                <input ng-model="currentUser.lookingfor" value="{{currentUser.lookingfor}}" id="general_flag-input" type="text" name="name">
                <label ng-class="{'active' : currentUser.lookingfor}" for="general_flag-input">@Resources.Resource.Whatareyoulookingfor</label>

            </div>
            <div class="input-field input-wrapper-popup general_flag-input" ng-class="{'active' : currentUser.shortintro}">
                <i class="material-icons prefix">assignment</i>
                <input ng-model="currentUser.shortintro" id="general_info-input" type="text" name="name">
                <label ng-class="{'active' : currentUser.shortintro}" for="general_info-input">@Resources.Resource.StudentShortIntroduction</label>

            </div>
            <p class="general_check">
                <label>
                    <input ng-model="currentUser.isSendMeConfirmationByEmail" type="checkbox" class="filled-in" />
                    <span>@Resources.Resource.Sendmeemailnotification</span>
                </label>
            </p>
            <p class="general_check2">
                <label>
                    <input ng-model="currentUser.isSendMeConfirmationByWeb" type="checkbox" class="filled-in" />
                    <span>Send me web notification informing me of the state of my classes </span>
                </label>
            </p>
            <div class="general-social-wrapper">
                <div class="input-field input-wrapper-popup" ng-class="{'active' : currentUser.skype}">

                    <input ng-model="currentUser.skype" value="{{currentUser.skype}}" id="general_skype-input" type="text" name="name">
                    <label ng-class="{'active' : currentUser.skype}" for="general_skype-input">Skype Account</label>

                </div>
                <div class="input-field input-wrapper-popup" ng-class="{'active' : currentUser.google}">

                    <input ng-model="currentUser.google" value="{{currentUser.google}}" id="general_google-input" type="text" name="name">
                    <label ng-class="{'active' : currentUser.google}" for="general_google-input">Google Hangouts Account</label>

                </div>
                <div class="input-field input-wrapper-popup" ng-class="{'active' : currentUser.facetime}">

                    <input ng-model="currentUser.facetime" value="{{currentUser.facetime}}" id="general_face-input" type="text" name="name">
                    <label ng-class="{'active' : currentUser.facetime}" for="general_face-input">Face Time Account</label>

                </div>

                <div class="input-field input-wrapper-popup" ng-class="{'active' : currentUser.qq}">

                    <input ng-model="currentUser.qq" value="{{currentUser.qq}}" id="general_qq-input" type="text" name="name">
                    <label ng-class="{'active' : currentUser.qq}" for="general_qq-input">QQ Account</label>

                </div>
            </div>
            <div class="general-button-save">
                <button ng-click="save()" class="waves-effect waves-light button-create bt-save" type="submit">@Resources.Resource.Save</button>
            </div>
        </div>

        <div id="test-swipe-2" class="col s12 profile-content">
            <div class="languages-profile-wrapper">
                <form>
                    <div class="languages-profile-teach">
                        <span class="languages-profile-title">@(User.IsInRole("Presenter") ? Resources.Resource.ITeach : Resources.Resource.Learning)</span>
                        <div class="languages-nav-wrap">
                            <div class="add-btn" ng-show="show_me" ng-click="show_me = !show_me"><i class="material-icons">add</i></div>
                            <div class="drop-wrap location-input-drop currency-input-drop" ng-show="!show_me">
                                <div class="input-field">
                                    <select ui-select2 ng-model="ilearn" multiple class="js-example-tags" id="tags2">
                                        <option selected="selected" disabled>Select language</option>
                                        @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                    </select>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="languages-profile-speak">
                        <span class="languages-profile-title">@Resources.Resource.Speak</span>
                        <div class="languages-nav-wrap">
                            <div class="add-btn" ng-show="show_me2" ng-click="show_me2 = !show_me2"><i class="material-icons">add</i></div>
                            <div class="drop-wrap location-input-drop currency-input-drop" ng-show="!show_me2">
                                <div class="input-field">
                                    <select ui-select2 ng-model="ispeak" multiple class="js-example-tags" id="tags3">
                                        <option selected="selected" disabled>Select language</option>
                                        @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                    </select>
                                    @*<label>Choose Plan</label>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="general-button-save">
                <button id="save_languages" ng-click="saveLanguages()" class="waves-effect waves-light button-create bt-save" type="submit">@Resources.Resource.Save</button>
            </div>
        </div>
        <div id="test-swipe-3" class="col s12 profile-content">
            <div class="profile-email">
                <form id="changepassword">
                    <div class="input-field input-wrapper-popup">
                        <i class="material-icons prefix">lock</i>
                        <input ng-model="oldPass" class="validate" data-rule-required="true" data-rule-minlength="6" data-rule-maxlength="16" name="password1" id="password1" type="password">
                        <label for="password1">@Resources.Resource.Old_password</label>
                        <i class="fa fa-eye hidepass1-trigger"></i>
                    </div>


                    <div class="input-field input-wrapper-popup">
                        <i class="material-icons prefix">lock</i>
                        <input ng-model="newPass" class="validate" data-rule-required="true" data-msg-required="@Resources.Resource.ProvideValidPassword"
                               data-rule-minlength="6"
                               data-msg-minlength="@Resources.Resource.Yourpasswordmustbe6"
                               data-msg-maxlength="@Resources.Resource.Yourpasswordhasto18"
                               data-rule-maxlength="16" name="password" id="password" type="password">
                        <label for="password">@Resources.Resource.New_password</label>
                        <i class="fa fa-eye hidepass-trigger"></i>
                    </div>

                    <div class="input-field input-wrapper-popup">
                        <i class="material-icons prefix">lock</i>
                        <input ng-model="confPass" class="validate" id="password-check" type="password"
                               data-rule-equalto="#password"
                               data-msg-equalto="@Resources.Resource.EnterTheSamePassword" name="confirmPassword">
                        <label for="password-check">@Resources.Resource.ConfirmPass</label>
                        <i id="password-check-eye" class="fa fa-eye hidepasscheck-trigger"></i>
                    </div>
                </form>
            </div>
            <div class="general-button-save">
                <button id="save_password" ng-click="changePasswordClick()" class="waves-effect waves-light button-create bt-save" type="submit">@Resources.Resource.Save</button>
            </div>
        </div>
        @if (User.IsInRole("Presenter"))
        {
            <div id="test-swipe-4" class="col s12 profile-content">
                <div class="edu-wrapper">
                    <span class="languages-profile-title">@Resources.Resource.Education</span>
                    <div class="eduItems fords" ng-repeat="edu in educations | filter:{ Deleted: false }">
                        <div class="new-field">
                            <div class="exp-wrapper-top">
                                <div class="input-field input-wrapper-popup edu-title-input" ng-class="{'active' : edu.Title}">

                                    <input id="edu-title" type="text" name="name" ng-model="edu.Title" value="{{edu.Title}}">
                                    <label ng-class="{'active' : edu.Title}" for="edu-title">@Resources.Resource.Title</label>

                                </div>
                                <div class="md-padding " ng-cloak="" layout="column">
                                    <md-input-container class="from-to">
                                        <label>@Resources.Resource.Period</label>
                                        <md-select class="period-select" ng-model="edu.PeriodFrom" id="period">
                                            <md-option ng-value="i" ng-repeat="i in getYears()">{{i}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="md-padding " ng-cloak="" layout="column">
                                    <md-input-container class="from-to">
                                        <label>@Resources.Resource.Period</label>
                                        <md-select class="period-select" ng-model="edu.PeriodTo" id="periodTo">
                                            <md-option ng-value="i" ng-repeat="i in getYears()">{{i}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                            </div>
                            <div class="input-field about-textarea" ng-class="{'active' : edu.Description}">
                                <label ng-class="{'active' : edu.Description}" for="spec-skills">@Resources.Resource.DescriptionLower</label>
                                <textarea ng-model="edu.Description" rows="3" name="listen-answer" id="spec-skills" cols="50">
                                     {{edu.Description}}
                                </textarea>
                            </div>
                            <div class="remove-exp-wrap">
                                <md-button class="md-primary" ng-click="removeEdu(edu)">Remove</md-button>
                            </div>
                        </div>


                    </div>

                    <div ng-click="addItem(educations)" data-class="eduItems" data-prefix="teach-desc" class="upload-video-btn">
                        <i class="material-icons prefix">add</i>&nbsp;&nbsp;@Resources.Resource.Addmore
                    </div>
                </div>

                <div class="edu-wrapper">
                    <span class="languages-profile-title">@Resources.Resource.WorkExperience</span>
                    <div class="eduItems fords" ng-repeat="work in expiriences | filter:{ Deleted: false}">
                        <div class="new-field">

                            <div class="exp-wrapper-top">
                                <div class="input-field input-wrapper-popup edu-title-input" ng-class="{'active' : work.Title}">

                                    <input id="edu-title" type="text" name="name" ng-model="work.Title" value="{{work.Title}}">
                                    <label ng-class="{'active' : work.Title}" for="edu-title">@Resources.Resource.Title</label>

                                </div>
                                <div class="md-padding " ng-cloak="" layout="column">
                                    <md-input-container class="from-to">
                                        <label>@Resources.Resource.Period</label>
                                        <md-select class="period-select" ng-model="work.PeriodFrom" id="period">
                                            <md-option ng-value="i" ng-repeat="i in getYears()">{{i}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="md-padding " ng-cloak="" layout="column">
                                    <md-input-container class="from-to">
                                        <label>@Resources.Resource.Period</label>
                                        <md-select class="period-select" ng-model="work.PeriodTo" id="periodTo">
                                            <md-option ng-value="i" ng-repeat="i in getYears()">{{i}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                            </div>
                            <div class="input-field about-textarea" ng-class="{'active' : work.Description}">
                                <label ng-class="{'active' : work.Description}" for="spec-skills">@Resources.Resource.DescriptionLower</label>
                                <textarea ng-model="work.Description" rows="3" name="listen-answer" id="spec-skills" cols="50">
                                     {{work.Description}}
                                </textarea>
                            </div>
                            <div class="remove-exp-wrap">
                                <md-button class="md-primary" ng-click="removeWork(work)">Remove</md-button>
                            </div>
                        </div>



                    </div>

                    <div ng-click="addItem(expiriences)" data-class="eduItems" data-prefix="teach-desc" class="upload-video-btn">
                        <i class="material-icons prefix">add</i>&nbsp;&nbsp;@Resources.Resource.Addmore
                    </div>
                </div>

                <div class="edu-wrapper">
                    <span class="languages-profile-title">@Resources.Resource.Certifications</span>
                    <div class="eduItems fords" ng-repeat="cert in certifications | filter:{ Deleted: false}">
                        <div class="new-field">

                            <div class="exp-wrapper-top">
                                <div class="input-field input-wrapper-popup edu-title-input" ng-class="{'active' : cert.Title}">

                                    <input id="edu-title" type="text" name="name" ng-model="cert.Title" value="{{cert.Title}}">
                                    <label ng-class="{'active' : cert.Title}" for="edu-title">@Resources.Resource.Title</label>

                                </div>
                                <div class="md-padding " ng-cloak="" layout="column">
                                    <md-input-container class="from-to">
                                        <label>@Resources.Resource.Period</label>
                                        <md-select class="period-select" ng-model="cert.PeriodFrom" id="period">
                                            <md-option ng-value="i" ng-repeat="i in getYears()">{{i}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="md-padding " ng-cloak="" layout="column">
                                    <md-input-container class="from-to">
                                        <label>@Resources.Resource.Period</label>
                                        <md-select class="period-select" ng-model="cert.PeriodTo" id="periodTo">
                                            <md-option ng-value="i" ng-repeat="i in getYears()">{{i}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                            </div>
                            <div class="input-field about-textarea" ng-class="{'active' : cert.Description}">
                                <label ng-class="{'active' : cert.Description}" for="spec-skills">@Resources.Resource.DescriptionLower</label>
                                <textarea ng-model="cert.Description" rows="3" name="listen-answer" id="spec-skills" cols="50">
                                     {{cert.Description}}
                                </textarea>
                            </div>
                            <div class="remove-exp-wrap">
                                <md-button class="md-primary" ng-click="removeCert(cert)">Remove</md-button>
                            </div>
                        </div>




                    </div>

                    <div ng-click="addItem(certifications)" data-class="eduItems" data-prefix="teach-desc" class="upload-video-btn">
                        <i class="material-icons prefix">add</i>&nbsp;&nbsp;@Resources.Resource.Addmore
                    </div>
                    <div class="general-button-save">
                        <button id="save_password" ng-click="saveChangesExp()" class="waves-effect waves-light button-create bt-save" type="button">@Resources.Resource.Save</button>
                    </div>
                </div>

            </div>
            <div id="test-swipe-5" class="col s12 profile-content">
                <span class="photos-section-title">Your {{files.length}} photos</span>
                <lf-ng-md-file-input lf-files="files" accept="image/*" lf-browse-label="+" lf-filesize="2MB" lf-on-file-click="onFileClick" lf-option="optoin08" lf-on-file-remove="onFileRemove" onSubmit = "onFilesChange" multiple drag preview lf-api="api"></lf-ng-md-file-input>
            </div>
            <div id="test-swipe-6" class="col s12 profile-content">
                <div class="input-field input-wrapper-popup aboutme-input" ng-class="{'active' : item.videoSrc}">
                    <i class="material-icons prefix">video_library</i>
                    <input id="for-url" type="text" name="name" ng-model="item.videoSrc" value="{{item.videoSrc}}">
                    <label ng-class="{'active' : item.videoSrc}" for="for-url">Your video link</label>

                </div>
                <div class="viedo-about-wrapper" ng-show="item.videoSrc">
                    <video id="vdvideo" ng-if="item.videoSrc.indexOf('http')==-1" controls>
                        <source ng-src="{{item.videoSrc}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <iframe ng-if="item.videoSrc.indexOf('http')!=-1" id="url_frame" ng-src="{{item.videoSrc}}" width="550" height="344" frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <div>
                    <span class="about-video-title-upload">Don’t have a video link? Don’t worry, you upload it from your computer. Format of the video should be mp4.</span>
                    <div ng-disabled="item.videoSrc.indexOf('http')!==-1" onclick="document.getElementById('loadMyVideo').click()" class="upload-video-btn">
                        <i class="material-icons prefix">add</i>&nbsp;&nbsp;UPLOAD VIDEO
                    </div>
                </div>
                @*<div class="upload-video-btn" ng-click="deleteVideo()">
                    <i class="material-icons prefix" >delete</i>&nbsp;&nbsp;REMOVE THE VIDEO
                </div>*@
                <input onchange="angular.element(this).scope().uploadVideo()" type="file" id="loadMyVideo" accept="video/mp4,video/x-m4v,video/*" value="Загрузить видео" ng-model="uploadedVideo" />
                <div class="input-field about-textarea" ng-class="{'active' : item.videoDescription}">
                    <label ng-class="{'active' : item.videoDescription}" for="aboutme-description">@Resources.Resource.Aboutme</label>
                    <textarea ng-model="item.videoDescription" rows="3" name="listen-answer" id="aboutme-description" cols="50">
                    {{item.videoDescription}}
                </textarea>
                </div>
                <div class="input-field about-textarea" ng-class="{'active' : item.specialSkills}">
                    <label ng-class="{'active' : item.specialSkills}" for="spec-skills">@Resources.Resource.Specialskills</label>
                    <textarea ng-model="item.specialSkills" rows="3" name="listen-answer" id="spec-skills" cols="50">
                    {{item.specialSkills}}
                </textarea>
                </div>
                <span class="photos-section-title about-section-title">I teach levels</span>
                <div class="levels-teach-wrapper ">
                    <p class="general_check">
                        <label>
                            <input ng-model="item.levels['Beginner']" name="levels" type="checkbox" class="filled-in" value="Beginner" />
                            <span>@Resources.Resource.Beginner</span>
                        </label>
                    </p>
                    <p class="general_check">
                        <label>
                            <input ng-model="item.levels['UpperBeginner']" name="levels" value="UpperBeginner" type="checkbox" class="filled-in" />
                            <span>@Resources.Resource.UpperBeginner</span>
                        </label>
                    </p>
                    <p class="general_check">
                        <label>
                            <input ng-model="item.levels['Intermediate']" name="levels" value="Intermediate" type="checkbox" class="filled-in" />
                            <span>@Resources.Resource.Intermediate</span>
                        </label>
                    </p>
                    <p class="general_check">
                        <label>
                            <input ng-model="item.levels['UpperIntermediate']" name="levels" value="UpperIntermediate" type="checkbox" class="filled-in" />
                            <span>@Resources.Resource.UpperIntermediate</span>
                        </label>
                    </p>
                    <p class="general_check">
                        <label>
                            <input ng-model="item.levels['Advanced']" name="levels" value="Advanced" type="checkbox" class="filled-in" />
                            <span>@Resources.Resource.Advanced</span>
                        </label>
                    </p>


                    <p class="general_check">
                        <label>
                            <input ng-model="item.levels['UpperAdvanced']" name="levels" value="UpperAdvanced" type="checkbox" class="filled-in" />
                            <span>@Resources.Resource.UpperAdvanced</span>
                        </label>
                    </p>
                </div>
                <div class="general-button-save">
                    <button id="saveAboutMe" ng-click="saveChanges()" class="waves-effect waves-light button-create bt-save" type="submit">@Resources.Resource.Save</button>
                </div>
            </div>
            <div id="test-swipe-8" class="col s12 profile-content" style="transform: translateX(0px) translateX(0px) translateX(0px) translateZ(0px); z-index: 0; opacity: 1; visibility: visible;">
                <div>
                    <span class="languages-profile-title">Trial lesson (clear {{getClearRate(rate.Trial, rate.TrialPercent)}} $)</span>
                    <div class="input-field input-wrapper-popup">
                        <i class="material-icons prefix">attach_money</i>
                        <input ng-model="rate.Trial" id="trial_name-input" type="text" name="name" class="onlyDigits">
                        <label ng-class="{'active' : rate.Trial}" for="trial_name-input">Price per lesson</label>
                    </div>
                </div>
                <div class="rates-wrap">
                    <span class="languages-profile-title">Single lesson (clear {{getClearRate(rate.OneLessonRate, rate.OneLessonRatePercent)}} $)</span>
                    <div class="input-field input-wrapper-popup">
                        <i class="material-icons prefix">attach_money</i>
                        <input ng-model="rate.OneLessonRate" id="single_name-input" type="text" name="name" class="onlyDigits2">
                        <label ng-class="{'active' : rate.OneLessonRate}" for="single_name-input">Price per lesson</label>

                    </div>
                </div>
                <div class="rates-wrap">
                    <span class="languages-profile-title">Packages</span>
                    <div class="packages-wrap">
                        <div class="input-field input-wrapper-popup">
                            <i class="material-icons prefix">attach_money</i>
                            <input ng-model="rate.FiveLessonRate" id="five_name-input" type="text" name="name" class="onlyDigits3">
                            <label ng-class="{'active' : rate.FiveLessonRate}" for="five_name-input">Price per lesson</label>
                            <span class="helper-text">5 lessons package (clear {{getClearRate(rate.FiveLessonRate,rate.FiveLessonRatePercent)}} $)</span>
                        </div>
                        <div class="input-field input-wrapper-popup">
                            <i class="material-icons prefix">attach_money</i>
                            <input ng-model="rate.TenLessonRate" id="ten_name-input" type="text" name="name" class="onlyDigits4">
                            <label ng-class="{'active' : rate.TenLessonRate}" for="ten_name-input">Price per lesson</label>
                            <span class="helper-text">10 lessons package (clear {{getClearRate(rate.TenLessonRate,rate.TenLessonRatePercent)}} $)</span>
                        </div>
                        <div class="input-field input-wrapper-popup">
                            <i class="material-icons prefix">attach_money</i>
                            <input ng-model="rate.FifteenLessonRate" id="fifteen_name-input" type="text" name="name" class="onlyDigits5">
                            <label ng-class="{'active' : rate.FifteenLessonRate}" for="fifteen_name-input">Price per lesson</label>
                            <span class="helper-text">15 lessons package (clear {{getClearRate(rate.FifteenLessonRate,rate.FifteenLessonRatePercent)}} $)</span>
                        </div>
                    </div>
                </div>
                <div class="general-button-save">
                    <button id="saveRates" ng-click="saveRates()" class="waves-effect waves-light button-create bt-save" type="submit">@Resources.Resource.Save</button>
                </div>
            </div>
        }
        <div id="test-swipe-7" class="col s12 profile-content">
            <div class="payment-wrapper">
                <md-table-container class="notifications-table-wrapper">
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column>DATE</th>
                                <th md-column>AMOUNT</th>
                                <th md-column>@Resources.Resource.Currency</th>
                                <th md-column>BONUS</th>
                                <th md-column>TRANSACTION ID</th>
                                <th md-column>PAYMENT METHOD</th>

                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="payment in paymentReceipts | limitTo: query.limit: (query.page - 1) * query.limit" ng-show="paymentReceipts.length>0">
                                <td md-cell><a style="color:#000" target="_blank" href="/MyAccount/GetPageForPdf?paymentId={{payment.PaymentId}}">{{getNormalDate(payment.CreateDate)}}</a></td>
                                <td md-cell>{{payment.Amount}}</td>
                                <td md-cell>{{payment.CurrenceAmount.split(' ')[0]}}</td>
                                <td md-cell>{{payment.Bonus}}</td>
                                <td md-cell>{{payment.PaymentId}}</td>
                                <td md-cell><img ng-src="{{'/Images/' + payment.PaymentMethod + '.png'}}" /></td>

                            </tr>
                            <tr ng-show="paymentReceipts.length===0">
                                <td md-row></td>
                                <td md-row></td>
                                <td md-row></td>
                                <td md-row> No data available in table</td>
                            </tr>
                        </tbody>
                    </table>
                    <md-table-pagination md-limit="query.limit" md-total="{{paymentReceipts.length}}" md-limit-options="limitOptions" md-page="query.page" md-page-select="options.pageSelect"></md-table-pagination>
                </md-table-container>

            </div>
        </div>

    </div>
    
       

               
    <script>(function (e, t, n) { var r = e.querySelectorAll("html")[0]; r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2") })(document, window, 0);</script>
    <script>
      
        
        $(document).ready(function () {
            $('.tabs').tabs({
                "swipeable": false
            });

            let inp = document.querySelector('#general_phone-input');
            inp.addEventListener('focus', _ => {
                // Если там ничего нет или есть, но левое
                if (!/^\+\d*$/.test(inp.value))
                    // То вставляем знак плюса как значение
                    inp.value = '+';
            });

            $("#general_phone-input").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl/cmd+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+C
                    (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+X
                    (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            
           
        });
        jQuery('.hidepass1-trigger').click(function () {
            if ($('#password1').prop('type') == 'text') {
                $('#password1').prop('type', 'password')
            } else {
                $('#password1').prop('type', 'text')
            }
            if ($('.hidepass1-trigger').hasClass("fa-eye-slash")) {
                $('.hidepass1-trigger').addClass("fa-eye");
                $('.hidepass1-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepass1-trigger').removeClass("fa-eye");
                $('.hidepass1-trigger').addClass("fa-eye-slash");
            }
        });
        jQuery('.hidepass-trigger').click(function () {
            if ($('#password').prop('type') == 'text') {
                $('#password').prop('type', 'password')
            } else {
                $('#password').prop('type', 'text')
            }
            if ($('.hidepass-trigger').hasClass("fa-eye-slash")) {
                $('.hidepass-trigger').addClass("fa-eye");
                $('.hidepass-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepass-trigger').removeClass("fa-eye");
                $('.hidepass-trigger').addClass("fa-eye-slash");
            }
        });
        jQuery('.hidepasscheck-trigger').click(function () {
            if ($('#password-check').prop('type') == 'text') {
                $('#password-check').prop('type', 'password')
            } else {
                $('#password-check').prop('type', 'text')
            }

            if ($('.hidepasscheck-trigger').hasClass("fa-eye-slash")) {
                $('.hidepasscheck-trigger').addClass("fa-eye");
                $('.hidepasscheck-trigger').removeClass("fa-eye-slash");
            } else {
                $('.hidepasscheck-trigger').removeClass("fa-eye");
                $('.hidepasscheck-trigger').addClass("fa-eye-slash");
            }

        })

        //var elems = document.querySelectorAll('select');
        //var instances = M.FormSelect.init(elems);
        
        let password = document.getElementById("password")
        let confirm_password = document.getElementById("password-check");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;


    </script>
