﻿@using Xencore.Helpers
@using System.Threading
@{
    Layout = "~/Views/Shared/SharedLayout.cshtml";
    var lang = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0].ToLower();
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
<div class="how-it-works-page">
    <header class="main howitworks">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 logo-wrap">
                            <a href="@Url.Action("NewLandingPage","Openlang")" class="logo">
                                <img src="~/img/logotype-normal-size.png">
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
                            @{ Html.RenderPartial("~/Views/openlang/LastNewHeader.cshtml");}
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <p class="title">
                                @Html.Raw(Resources.Resource.HowItWorks)
                            </p>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <p class="subtitle">
                                @Resources.Resource.Watchthevideoor
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="benefits page-howitowrks @lang">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <p class="title">@Resources.Resource.ALANGUAGESCHOOLBUILTFORYOU</p>
                        </div>
                        <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 ben-1">
                            <div class="benefits-item">
                                <div class="img-wrap flex"><img src="~/img/icon_1.png" alt="formula" /></div>
                                <p class="ben-title">
                                    @Resources.Resource.CustomizedLessonPlan
                                </p>
                                <p class="sub-title">
                                    @Resources.Resource.Yourpersonallanguagecoach
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 ben-1">
                            <div class="benefits-item">
                                <div class="img-wrap flex"><img src="~/img/icon_2.png" alt="formula" /></div>
                                <p class="ben-title">
                                    @Resources.Resource.FlexibleScheduling
                                </p>
                                <p class="sub-title">
                                    @Resources.Resource.Scheduleyourlesson
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12  ben-2">
                            <div class="benefits-item">
                                <div class="img-wrap flex"><img src="~/img/icon_3.png" alt="formula" /></div>
                                <p class="ben-title">@Resources.Resource.OnlineTeacheingTools</p>
                                <p class="sub-title">
                                    @Resources.Resource.Meetyourpersonal
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 ben-3">
                            <div class="benefits-item">
                                <div class="img-wrap flex"><img src="~/img/icon_4.png" alt="formula" /></div>
                                <p class="ben-title">
                                    @Resources.Resource.FinalCertification
                                </p>
                                <p class="sub-title">
                                    @Resources.Resource.Attheendofthecourse2
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-offset-0 col-xs-6 col-xs-offset-3 text-center">
                    <div onclick="location.href = '@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button">@Resources.Resource.GetStarted</div>
                </div>
            </div>
        </div>
    </section>
    <section class="HowItWorks page-howitowrks">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p class="title">@Resources.Resource.WHYITWORKS</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="row step-1">
                        <div class="col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center step1-right image-wrap">
                            <img src="~/img/ww1.jpg" class="step-img" alt="" />
                        </div>
                        <div class="col-sm-6 col-xs-12 step1-left flex">
                            <div class="descr">
                                <p class="step-subtitle">@Resources.Resource.Tailoredmotivatinglearning</p>
                                <p class="step-desc">
                                    @Html.Raw(Resources.Resource.Facetofaceinteractions)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row step-2">
                        <div class="col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 step2-left visible-xs image-wrap">
                            <img src="~/img/ww2.jpg" class="step-img" alt="" />
                        </div>
                        <div class="col-sm-6 col-xs-12 step2-right flex">
                            <div class="descr">
                                <p class="step-subtitle">@Resources.Resource.Studentcenteredteaching</p>
                                <p class="step-desc">
                                    @Resources.Resource.Thefastestwaytolearn
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 step2-left hidden-xs image-wrap">
                            <img src="~/img/ww2.jpg" class="step-img" alt="" />
                        </div>
                    </div>
                    <div class="row step-3">
                        <div class="col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center step3-right image-wrap">
                            <img src="~/img/ww3.jpg" class="step-img" alt="" />
                        </div>
                        <div class="col-sm-6 col-xs-12 step3-left flex">
                            <div class="descr">
                                <p class="step-subtitle">@Resources.Resource.CompleteFlexibility</p>
                                <p class="step-desc">
                                    @Html.Raw(Resources.Resource.Youcandecidetohaveyour)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 text-center">
                    <div onclick="location.href = '@Url.Action("ListOfTeachers", "ListOfTeachers")'" class="custom-button">@Resources.Resource.BookATrialLesson</div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

    <script>
        $(window).resize(function () {
            jQuery(".HowItWorks .col-sm-10 .row .col-sm-6.flex").height(jQuery(".HowItWorks .col-sm-10 .row .col-sm-6.image-wrap").height());
            jQuery("body .benefits .ben-title").each(function () {
                var maxHeight = 50;
                if (jQuery("body .benefits .ben-title").height() > 50) {
                    maxHeight = jQuery("body .benefits .ben-title").height();
                    jQuery("body .benefits .ben-title").height(maxHeight);
                }
            })
            jQuery("body .page-howitowrks.benefits .sub-title").each(function () {
                var maxHeight = 50;
                if (jQuery("body .page-howitowrks.benefits .sub-title").height() > 50) {
                    maxHeight = jQuery("body .page-howitowrks.benefits .sub-title").height();
                    jQuery("body .page-howitowrks.benefits .sub-title").height(maxHeight);
                }
            })
        if ($(window).width() <= '767') {
            $('body').on('click', '.for-language', function () {
                if ($('.for-language .dropdown').hasClass('open')) {
                    $('ul li.li').removeClass('hide');
                } else {
                    $('ul li.li').addClass('hide');
                }
            });
        }
        else {
        }

        });
        $(window).load(function () {
            jQuery("body .benefits .ben-title").each(function () {
                var maxHeight = 50;
                if (jQuery("body .benefits .ben-title").height() > 50) {
                    maxHeight = jQuery("body .benefits .ben-title").height();
                    jQuery("body .benefits .ben-title").height(maxHeight);
                }    
            })
            jQuery("body .page-howitowrks.benefits .sub-title").each(function () {
                var maxHeight = 50;
                if (jQuery("body .page-howitowrks.benefits .sub-title").height() > 50) {
                    maxHeight = jQuery("body .page-howitowrks.benefits .sub-title").height();
                    jQuery("body .page-howitowrks.benefits .sub-title").height(maxHeight);
                }
            })
            jQuery(".HowItWorks .col-sm-10 .row .col-sm-6.flex").height(jQuery(".HowItWorks .col-sm-10 .row .col-sm-6.image-wrap").height())
        });
       
        $(document).ready(function () {
           
        !function (a) { a.fn.equalHeights = function () { var b = 0, c = a(this); return c.each(function () { var c = a(this).innerHeight(); c > b && (b = c) }), c.css("height", b) }, a("[data-equal]").each(function () { var b = a(this), c = b.data("equal"); b.find(c).equalHeights() }) }(jQuery);
        //$(".benefits .ben-title").equalHeights();
        //$(".benefits-item .img-wrap").equalHeights();
        //$(".benefits-item .sub-title").equalHeights();

        if ($(window).width() <= '767') {
            $('body').on('click', '.for-language', function () {
                if ($('.for-language .dropdown').hasClass('open')) {
                    $('ul li.li').removeClass('hide');
                } else {
                    $('ul li.li').addClass('hide');
                }
            });
        }
        else {
        }
        $('.owl-carousel').owlCarousel({
            center: true,
            loop: true,
            margin: 45,
            stagePadding: 0,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 2
                }
            }
        });
    });
    </script>
}

