﻿@{
    Layout = null;
}

<div>



    <md-table-container class="notifications-table-wrapper">
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column>Title</th>
                    <th md-column> Message</th>
                    <th md-column>Author</th>
                    <th md-column>Date</th>

                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="note in notifications | limitTo: query.limit: (query.page - 1) * query.limit">
                    <td md-cell>{{ note.Title}}</td>
                    <td md-cell>{{note.Message}}</td>
                    <td md-cell>Admin</td>
                    <td md-cell>{{getNormalDate(note.CreationDate)}}</td>

                </tr>
            </tbody>
        </table>
        <md-table-pagination md-limit="query.limit" md-total="{{notifications.length}}" md-limit-options="limitOptions" md-page="query.page" md-page-select="options.pageSelect"></md-table-pagination>
    </md-table-container>

    <div class="modal-notify-btn-wrap"><div id="modal-notify-btn" class="waves-effect waves-light btn modal-trigger" href="#modal-notification">Add new</div></div>

    <div id="modal-notification" class="modal">
        <div class="notification-title-popup">Notification</div>
        <div class="input-field input-wrapper-popup">

            <input ng-model="model.title" type="text" name="name" id="notify-title-input">
            <label for="notify-title-input">Title</label>

        </div>
        <div class="input-field input-wrapper-popup">

            <input type="text" ng-model="model.message" name="name" id="notify-message-input">
            <label for="notify-message-input">Message</label>

        </div>
        <div class="notify-button-wrapper">
            <div class="waves-effect waves-light notify-button2 modal-close">CANCEL</div>
            <div class="waves-effect waves-light notify-button modal-close" ng-click="send()">SEND</div>
        </div>
    </div>

</div>


@*<div>
   
    <div class="notifications-table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
            </thead>
          
            <tbody>
                <tr ng-repeat="note in notifications">
                    <td>{{note.Title}}</td>
                    <td>{{note.Message}}</td>
                    <td>Admin</td>
                    <td>{{getNormalDate(note.CreationDate)}}</td>
                </tr>
            </tbody>

        </table>
        <div class="notification-table-footer">
            <span>Rows per page:</span>
            <div class='dropdown-trigger dropdown-rowCounter-btn' data-target='dropdown-rowCounter'>10<i class="material-icons">arrow_drop_down</i></div>

           
            <ul id='dropdown-rowCounter' class='dropdown-content dropdown-rowCounter-nav'>
                <li>10</li>
                <li>9</li>

            </ul>
            <span class="pageCounter">1 of 1</span>
            <div class="left-arrow"><i class="material-icons">keyboard_arrow_left</i></div>
            <div class="right-arrow"><i class="material-icons">keyboard_arrow_right</i></div>
        </div>

    </div>
  
    <div class="modal-notify-btn-wrap"><div id="modal-notify-btn" class="waves-effect waves-light btn modal-trigger" href="#modal-notification">Add new</div></div>


    
    <div id="modal-notification" class="modal">
        <div class="notification-title-popup">Notification</div>
        <div class="input-field input-wrapper-popup">

            <input ng-model="model.title" type="text" name="name" id="notify-title-input">
            <label for="notify-title-input">Title</label>

        </div>
        <div class="input-field input-wrapper-popup">

            <input type="text" ng-model="model.message" name="name" id="notify-message-input">
            <label for="notify-message-input">Message</label>

        </div>
        <div class="notify-button-wrapper">
            <div class="waves-effect waves-light notify-button2 modal-close">CANCEL</div>
            <div class="waves-effect waves-light notify-button modal-close" ng-click="send()">SEND</div>
        </div>
    </div>

   
</div>*@


<script>
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);

    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);


</script>
