﻿<div ng-show="shared.isButtonLoading" class="cs-loader">
@*<div class="cs-loader">*@
    <div class="cs-loader-inner">
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
    </div>
</div>
