﻿<option value="us" data-content="<img src='/images/flag/us.png' alt='' /><span>@Resources.Resource.English</span>">@Resources.Resource.English</option>
<option value="de" data-content="<img src='/images/flag/de.png' alt='' /><span>@Resources.Resource.German</span>">@Resources.Resource.German</option>
<option value="fr" data-content="<img src='/images/flag/fr.png' alt='' /><span>@Resources.Resource.French</span>">@Resources.Resource.French</option>
<option value="es" data-content="<img src='/images/flag/es.png' alt='' /><span>@Resources.Resource.Spanish</span>">@Resources.Resource.Spanish</option>
<option value="it" data-content="<img src='/images/flag/it.png' alt='' /><span>@Resources.Resource.Italian</span>">@Resources.Resource.Italian</option>
<option value="br" data-content="<img src='/images/flag/br.png' alt='' /><span>@Resources.Resource.Portuguese</span>">@Resources.Resource.Portuguese</option>
<option value="ae" data-content="<img src='/images/flag/ae.png' alt='' /><span>@Resources.Resource.Arabic</span>">@Resources.Resource.Arabic</option>
<option value="se" data-content="<img src='/images/flag/se.png' alt='' /><span>@Resources.Resource.Swedish</span>">@Resources.Resource.Swedish</option>
<option value="ru" data-content="<img src='/images/flag/ru.png' alt='' /><span>@Resources.Resource.Russian</span>">@Resources.Resource.Russian</option>
<option value="gr" data-content="<img src='/images/flag/gr.png' alt='' /><span>@Resources.Resource.Greek</span>">@Resources.Resource.Greek</option>
<option value="cn" data-content="<img src='/images/flag/cn.png' alt='' /><span>@Resources.Resource.Chinese</span>">@Resources.Resource.Chinese</option>
