﻿Registrándote confirmas que <a href="@Url.Action("Privacy", "PrivacyAndTerms")">aceptas los términos</a> de servicio y <a href="@Url.Action("Privacy", "PrivacyAndTerms")">la política de privacidad</a>
