﻿En créant un compte vous confirmez accepter les <a href="@Url.Action("Privacy", "PrivacyAndTerms")">Conditions d'Utilisation</a> et la <a href="@Url.Action("Privacy", "PrivacyAndTerms")">Politique de Confidentialité</a>