﻿By registering you confirm that you accept the <a href="@Url.Action("Privacy", "PrivacyAndTerms")">@Resources.Resource.TermsOfService</a>
@Resources.Resource.andthe <a href="@Url.Action("Privacy", "PrivacyAndTerms")">@Resources.Resource.Privacy</a>
