﻿Mit <a href="@Url.Action("Privacy", "PrivacyAndTerms")">Deiner Anmeldung</a> bestätigst Du mit unserer <a href="@Url.Action("Privacy", "PrivacyAndTerms")">Datenschutzerklärung einverstanden</a> zu sein
