﻿@model List<Domain.Entities.Credit>
<div class="table-wrap">
    <table style="color:black" class="tree" id="tree">
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr class="treegrid-@i"><td>@Model[i].CountLessons @Model[i].Type.ToString() lessons</td></tr>
                for (var t = 0; t < Model[i].CreditsOfCompany.Count(); t++)
                {
                    var lst = Model[i].CreditsOfCompany.ToList();
                    <tr class="treegrid-@i@t treegrid-parent-@i"><td>@lst[t].PieceOfCredit.Student.Name EUR @lst[t].CreationDate.ToString("d")</td></tr>
                }
            }
            @*<tr class="treegrid-1 expanded"><td>Root node</td></tr>
                <tr class="treegrid-2 treegrid-parent-1"><td>Node 1-1</td></tr>
                <tr class="treegrid-3 treegrid-parent-1"><td>Node 1-2</td></tr>
                <tr class="treegrid-4 treegrid-parent-3"><td>Node 1-2-1</td></tr>
                <tr class="treegrid-5 treegrid-parent-3"><td>Node 1-2-2</td></tr>
                <tr class="treegrid-6"><td>Root node</td></tr>
                <tr class="treegrid-7 treegrid-parent-6"><td>Node 2-1</td></tr>*@
        </tbody>
    </table>
</div>