﻿@using Xencore.Extentions
@if (User.IsInRole("Company"))
{
    <ul class="nav nav-sidebar">


        <li ng-click="changePage($event, '/mybouget')" ng-class="{active: isActive('/mybouget')}"><i class="fa fa-eur" aria-hidden="true"></i>@Resources.Resource.MyBudget</li>
        <li ng-click="changePage($event, '/mylessons')" ng-class="{active: isActive('/mylessons')}"><i class="fa fa-calendar" aria-hidden="true"></i>@Resources.Resource.Schedule</li>
        <li ng-click="changePage($event, '/mystudents')" ng-class="{active: isActive('/mystudents')}"><i class="fa fa-users" aria-hidden="true"></i>@Resources.Resource.MyStudents</li>
        <li ng-click="changePage($event, '/myclasses')" ng-class="{active: isActive('/myclasses')}"><i class="fa fa-list-alt" aria-hidden="true"></i>@Resources.Resource.classes.ToUpperFirstCharacter()</li>
        <li ng-click="changePage($event, '/mytransfers')" ng-class="{active: isActive('/mytransfers')}"><i class="fa fa-money" aria-hidden="true"></i>@Resources.Resource.MyTransfers</li>
        <li onclick="location.href='@Url.Action("Logout", "Openlang",new {area = string.Empty})'" class="sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</li>
        @*<li ng-click="changePage($event, '/packagetracker')" ng-class="{active: isActive('/packagetracker')}"><i class="fa fa-money" aria-hidden="true"></i>Package Tracker</li>*@
    </ul>
}
else
{
    <ul data-role="listview" data-inset="true" data-theme="a" class="nav nav-sidebar">
        <li class="widget-name unPreload" data-transition="slide" href="#content">Navigation</li>
        <li ng-click="changePage($event, '/mylessons')" ng-class="{active: isActive('/mylessons')}"><i class="fa fa-calendar" aria-hidden="true"></i>@Resources.Resource.Schedule</li>
        <li id="chat-page" class="message-{{getCountMessages()}}" ng-click="changePage($event, '/chat')" ng-class="{active: isActive('/chat')}"><i class="fa fa-envelope" aria-hidden="true"></i>@Resources.Resource.ChatBeta<span>{{getCountMessages()}}</span></li>
        <li id="general-info" class="unPreload" ng-class="{active:isActiveProfile(['/myprofile','/languages','/changepassword','/expirience','/aboutme','/photogallery','/coursebooking','/paymentreceipts'])}">
            <div class="collapse-element" role="button" data-toggle="collapse" href="#myProfile-page" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-user" aria-hidden="true"></i> @Resources.Resource.Profile <span class="caret prof-caret"></span>
            </div>
            <div id="myProfile-page" class="collapse" ng-class="{in:isActiveProfile(['/myprofile','/languages','/expirience','/changepassword','/aboutme','/photogallery','/schedule','/coursebooking','/paymentreceipts'])}" id="collapseExample">
                <ul class="submenu">
                    <li ng-click="changePage($event,'/myprofile')" ng-class="{active: isActive('/myprofile')}">- @Resources.Resource.General</li>
                    <li ng-click="changePage($event,'/languages')" ng-class="{active: isActive('/languages')}">- @Resources.Resource.Languages</li>
                    <li ng-click="changePage($event,'/changepassword')" ng-class="{active: isActive('/changepassword')}">- @Resources.Resource.Change_password</li>
                    @if (User.IsInRole("Presenter"))
                    {
                        <li ng-click="changePage($event,'/expirience')" ng-class="{active: isActive('/expirience')}">- @Resources.Resource.Experience</li>
                        <li ng-click="changePage($event,'/photogallery')" ng-class="{active: isActive('/photogallery')}">- @Resources.Resource.Photogallery</li>
                        <li ng-click="changePage($event,'/aboutme')" ng-class="{active: isActive('/aboutme')}">- @Resources.Resource.Aboutme</li>
                    }
                    <li ng-click="changePage($event,'/paymentreceipts')" ng-class="{active: isActive('/paymentreceipts')}">- @Resources.Resource.Payments_received</li>
                </ul>
            </div>
        </li>
        @if (User.IsInRole("Presenter"))
        {
            <li ng-click="changePage($event, '/mystudents')" ng-class="{active: isActive('/mystudents')}"><i class="fa fa-users" aria-hidden="true"></i>@Resources.Resource.MyStudents</li>
            <li ng-click="changePage($event, '/corresponds')" ng-class="{active: isActive('/corresponds')}"><i class="fa fa-comments-o" aria-hidden="true"></i>@Resources.Resource.Studentenquiries</li>
        }
        else
        {
            <li ng-click="changePage($event, '/studenthomework')" ng-class="{active: isActive('/studenthomework')}"><i class="fa fa-comments-o" aria-hidden="true"></i>Homeworks</li>
            <li ng-click="changePage($event, '/myteachers')" ng-class="{active: isActive('/myteachers')}"><i class="fa fa-users" aria-hidden="true"></i>@Resources.Resource.MyTeachers</li>
        }
        <li ng-click="changePage($event, '/myclasses')" ng-class="{active: isActive('/myclasses')}"><i class="fa fa-list-alt" aria-hidden="true"></i>@Resources.Resource.classes.ToUpperFirstCharacter()</li>
        <li class="unPreload" ng-click="changePage($event, '/mywords')" ng-class="{active: isActive('/mywords')}"><i class="fa fa-font" aria-hidden="true"></i>@Resources.Resource.MyWords</li>
        <li class="message-{{countAss}}" ng-click="changePage($event, '/myassingments')" ng-class="{active: isActive('/myassingments')}"><i class="fa fa-pencil" aria-hidden="true"></i>@Resources.Resource.MyAssignments <span ng-if="countAss" class="ass_count">{{countAss}}</span></li>
        <li ng-click="changePage($event, '/tutorial')" ng-class="{active: isActive('/tutorial')}"><i class="fa fa-question-circle" aria-hidden="true"></i>@Resources.Resource.Tutorial</li>
        @if (!User.IsInRole("Presenter"))
        {
            <li ng-click="changePage($event, '/self-study')" ng-class="{active: isActive('/self-study')}"><i class="fa fa-question-circle" aria-hidden="true"></i>Self-Study</li>
        }
        <li onclick="location.href='@Url.Action("Logout", "Openlang",new {area = string.Empty})'" class="sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</li>
    </ul>
    <ul class="nav nav-sidebar">
        <div class="dark-line"></div>
        <div class="light-line"></div>
        <li class="widget-name unPreload">Referral Programm</li>
        <li ng-click="changePage($event,'/refferal')" ng-class="{active: isActive('/refferal')}"><i class="fa fa-usd" aria-hidden="true"></i> Referral program</li>
        @*<li data-target="#share_modal" data-toggle="modal"><i class="fa fa-share-alt" aria-hidden="true"></i> Share my code</li>*@
        </ul>
    <ul class="nav nav-sidebar sidebar-lang">
        <div class="dark-line"></div>
        <div class="light-line"></div>
        <li class="widget-name unPreload">Languages</li>
        <li class="flag unPreload ">
            <div class="dropdown flags-wrap">
                <span class="dropdown-toggle unPreload" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img ng-src="{{selectedLang}}" />
                    <span>English <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="en unPreload" ng-click="changeLang('en')"><img src="https://media.info/i/fl/GB.png" /><span>@Resources.Resource.English</span></li>
                    @*<li ng-click="changeLang('it')"><img src="https://media.info/i/fl/IT.png"/></li>*@
                    <li class="es unPreload" ng-click="changeLang('es')"><img src="https://media.info/i/fl/ES.png" /><span>@Resources.Resource.Spanish</span></li>
                    @*<li ng-click="changeLang('pt')"><img src="https://media.info/i/fl/BR.png"/></li>*@
                    @*<li ng-click="changeLang('ru')"><img src="https://media.info/i/fl/RU.png"/></li>*@
                    <li class="fr unPreload" ng-click="changeLang('fr')"><img src="https://media.info/i/fl/FR.png" /><span>@Resources.Resource.French</span></li>
                    <li class="de unPreload" ng-click="changeLang('de')"><img src="https://media.info/i/fl/DE.png" /><span>@Resources.Resource.German</span></li>
                    @*<li ng-click="changeLang('zh')"><img src="https://media.info/i/fl/CN.png"/></li>*@
                </ul>
            </div>

        </li>
    </ul>
}

