﻿@using Newtonsoft.Json
@model Xencore.Areas.ViewModels.ViewModelForDetailsOfTeacher
@{
    Layout = null;
    var iframeSrc = "";
    if (Model.CustomUser.TeacherInfo?.Link != null)
    {
        if (!string.IsNullOrEmpty(Model.CustomUser.TeacherInfo.Link) && Model.CustomUser.TeacherInfo.Link.ToLower().Contains("youtube"))
        {
            iframeSrc = Model.CustomUser.TeacherInfo.Link;
        }
        else if (!string.IsNullOrEmpty(Model.CustomUser.TeacherInfo.Link) && Model.CustomUser.TeacherInfo.Link.ToLower().Contains("vimeo"))
        {
            iframeSrc = Model.CustomUser.TeacherInfo.Link;
        }
        else
        {
            iframeSrc = Model.CustomUser.TeacherInfo.Link;
        }
    }
    var iteach = "";
    var ilearn = Model.CustomUser.Ilearn;
    if (ilearn != null)
    {
        iteach = string.Join(",",ilearn.Split('|').Reverse().Skip(1).Select(x => x.Split('_')[1]));
    }
    var ispeak = "";
    var ispeak2 = Model.CustomUser.Ispeak;
    if (ispeak2 != null)
    {
        ispeak = string.Join(",", ispeak2.Split('|').Reverse().Skip(1).Select(x => x.Split('_')[1]));
    }

}
<section class="admin teacher-profile teacher-details">
    <div class="content-wrap">
        <div class="bgc-content-wrap clearfix">
            <div class="row student-info">
                <div class="col-xs-12">
                    <a href="#/teachers/" class="backToT"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to teacher</a>
                </div>
                <div class="col-xs-3">
                    <div class="row image-wrap">
                        <div class="col-xs-12 text-center">
                            <span class="property"><span class="value"><img src="@Model.CustomUser.ProfilePicture" /></span></span>
                        </div>
                        <div class="col-xs-12 text-center">
                            <a href="" ng-click="sendContract()" class="btn btn-success">Send contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="row infoes">
                        <div class="col-xs-12">
                            <span class="infoes-title">General information:</span>
                        </div>
                        <div class="col-xs-12">
                            <span class="property">Email: </span><span class="value">@Model.CustomUser.Email</span>
                        </div>
                        <div class="col-xs-12">
                            <span class="property">Id: </span><span class="value">@Model.CustomUser.Id</span>
                        </div>
                        <div class="col-xs-12">
                            <span class="property">Location: </span><span class="value">@Model.CustomUser.Location</span>
                        </div>
                        <div class="col-xs-12">
                            <span class="property">Currency: </span><span class="value">@Model.CustomUser.Currency</span>
                        </div>
                        <div class="col-xs-12">
                            <span class="property">Phone Number: </span><span class="value">@Model.CustomUser.PhoneNumber</span>
                        </div>
                        @*<div class="col-xs-12">
                                <span class="property">Name: </span><span class="value">@Model.Name</span>
                            </div>*@
                        @*<div class="col-xs-12">
                                <span class="property">I Learn: </span><span class="value">@Html.Raw(Html.DrawILearnAndISpeak(Model.Ilearn))</span>
                            </div>
                            <div class="col-xs-12">
                                <span class="property">I Speak: </span><span class="value">@Html.Raw(Html.DrawILearnAndISpeak(Model.Ispeak))</span>
                            </div>
                            <div class="col-xs-12">
                                <span class="property">I want learn via: </span><span class="value">@Model.Skype</span>
                            </div>
                            <div class="col-xs-12">
                                <span class="property">Creation Date: </span><span class="value">@Model.CreationDateTime</span>
                            </div>

                            <div class="col-xs-12">
                                <span class="property">Time zone: </span><span class="value">@Model.TimeZone</span>
                            </div>*@
                    </div>
                </div>
                <div class="col-xs-12 infoes">
                    <span class="infoes-title">Change password:</span>
                    <div class="form-wrap">
                        <div class="fields-wrap">
                            <label for="password">Password</label>
                            <input ng-model="password.password" name="password" />
                        </div>
                        <div class="fields-wrap">
                            <label for="confirm">Confirm Password</label>
                            <input ng-model="password.confirmPassword" name="confirm" />
                        </div>
                        <button href="#" ng-click="changePassword()" class="btn btn-success">Save</button>
                    </div>
                </div>
                <div class="col-xs-12 infoes">
                    <span class="infoes-title">Rates:</span>
                    <div class="form-wrap">
                        <div class="fields-wrap">
                            <label>Individual 45 min rate, €  </label>
                            <input ng-model="rates.basic" ng-init="rates.basic = '@Model.CustomUser.TeacherRate.Individual45Rate'" placeholder="8.00" />
                        </div>
                        <div class="fields-wrap">
                            <label>Individual 60 min rate, €</label>
                            <input ng-model="rates.premium" ng-init="rates.premium = '@Model.CustomUser.TeacherRate.Individual60Rate'" placeholder="10.00" />
                        </div>
                        <div class="fields-wrap">
                            <label for="confirm">Trial group rate, €</label>
                            <input ng-model="rates.group" ng-init="rates.group = '@Model.CustomUser.TeacherRate.GroupRate'" name="confirm" placeholder="5.00" />
                        </div>
                        <button ng-click="saveRates()" class="btn btn-success">Save</button>
                    </div>
                    @*<div class="extens-info">
                            <span class="quation">What is your goal?:</span>
                            <span class="ask">No data</span>
                        </div>
                        <div class="extens-info">
                            <span class="quation">Student short introduction:</span>
                            <span class="ask">No data</span>
                        </div>*@
                </div>
                <div class="col-xs-12 infoes">
                    <span class="infoes-title">Change i teach:</span>
                    <div class="form-wrap">
                        <div class="fields-wrap">
                            <label for="password">I teach</label>
                            <div class="form-group custom-tags-input">
                                <select ui-select2 ng-model="iteach" ng-init="iteach=getJson('@iteach')" multiple class="js-example-tags" id="tags">
                                    @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button href="" ng-click="changeTeach()" class="btn btn-success">Save</button>
                </div>
                <div class="col-xs-12 infoes">
                    <span class="infoes-title">Change i speak:</span>
                    <div class="form-wrap">
                        <div class="fields-wrap">
                            <label for="password">I speak</label>
                            <div class="form-group custom-tags-input">
                                <select ui-select2 ng-model="ispeak" ng-init="ispeak=getJson('@ispeak')" multiple class="js-example-tags" id="tags">
                                    @{ Html.RenderPartial("~/Views/PartialsOptions/AllLanguages.cshtml", true);}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button href="" ng-click="changeSpeak()" class="btn btn-success">Save</button>
                </div>
                <div class="col-xs-12 infoes">
                    <div class="titleField">Education:</div>
                    <div class="details">
                        @foreach (var edu in Model.CustomUser.Educations)
                        {
                            <div class="exp">
                                <span>@edu.PeriodFrom</span> <text> - </text> <span>@edu.PeriodTo</span><br>
                                <span>@edu.Title</span><br>
                                <span>@Html.Raw(edu.Description)</span><br>
                            </div>
                        }
                        @if (!Model.CustomUser.Educations.Any())
                        {
                            <span>NO DATA</span>
                        }
                    </div>

                    <div class="titleField">Work Experience:</div>
                    <div class="details">
                        @foreach (var edu in Model.CustomUser.WorkExperiences)
                        {
                            <div class="exp">
                                <span>@edu.PeriodFrom</span> <text> - </text> <span>@edu.PeriodTo</span><br>
                                <span>@edu.Title</span><br>
                                <span>@Html.Raw(edu.Description)</span><br>
                            </div>
                        }
                        @if (!Model.CustomUser.WorkExperiences.Any())
                        {
                            <span>NO DATA</span>
                        }
                    </div>

                    <div class="titleField">Certifications:</div>
                    <div class="details">
                        @foreach (var edu in Model.CustomUser.Certifications)
                        {
                            <div class="exp">
                                <span>@edu.PeriodFrom</span> <text> - </text> <span>@edu.PeriodTo</span><br>
                                <span>@edu.Title</span><br>
                                <span>@Html.Raw(edu.Description)</span><br>
                            </div>
                        }
                        @if (!Model.CustomUser.Certifications.Any())
                        {
                            <span>NO DATA</span>
                        }
                    </div>
                    @*<div class="extens-info">
                            <span class="quation">Education:</span>
                            <span class="ask">No data</span>
                        </div>
                        <div class="extens-info">
                            <span class="quation">Work Experience:</span>
                            <span class="ask">No data</span>
                        </div>
                        <div class="extens-info">
                            <span class="quation">Certifications:</span>
                            <span class="ask">No data</span>
                        </div>
                        <div class="extens-info">
                            <span class="quation">Special skills:</span>
                            <span class="ask">No data</span>
                        </div>
                        <div class="extens-info">
                            <span class="quation">About me:</span>
                            <span class="ask">No data</span>
                        </div>
                        <div class="extens-info">
                            <span class="quation">Video:</span>
                            <span class="ask">No data</span>
                        </div>*@
                    <span class="infoes-title">Change video url:</span>
                    <div class="form-wrap">
                        <div class="fields-wrap">
                            <label>Current link: </label>
                            <input ng-model="videoLink" ng-init="videoLink = '@iframeSrc'" placeholder="Video Link" />
                        </div>
                        <div class="fields-wrap">
                            <label for="password">Link of video:</label>
                            <iframe width="350" height="180" ng-src={{videoLink}} frameborder="0" allowfullscreen></iframe>
                        </div>
                        <button href="" ng-click="saveVideoLink()" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
