﻿@using Microsoft.Ajax.Utilities
@using Xencore.Helpers
@model List<Domain.Entities.IdentityEntities.CustomUser>
@{
    Layout = null;
    ViewBag.Title = "See All";
}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
    <style>
        .activeOfTeacher.disable {
            color: #f04848;
        }

        .activeOfTeacher.enable {
            color: #a1d418;
        }

        .activeOfTeacher {
            cursor: pointer;
        }

        #usp {
            color: #a0a0a0;
            display: inline-block;
            margin-left: 20px;
        }

        #unscheduledLessons {
            color: #333;
        }
    </style>
@*<section class="blue-bg-prof hidden-xs"></section>*@
<section class="admin teacher-profile">
    <div class="content-wrap">
        <div class="bgc-content-wrap ft clearfix">
            <div class="col-xs-12 table-mobile-wrap">
                <table id="table" class="teachers-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>I teach</th>
                            <th>I speak</th>
                            <th>Sign up</th>
                            <th>Phone</th>
                            <th>Isactive</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.OrderByDescending(x => x.CreationDateTime))
                    {
                        var name = item.Name ?? "Empty";
                        var email = item.Email ?? "Empty";
                        <tr>
                            <td class="name"><a href="#/teachers/@item.Id">@name</a></td>
                            <td>@email</td>
                            <td>

                                @Html.Raw(Html.DrawILearnAndISpeak(item.Ilearn))
                            </td>
                            <td>
                                @Html.Raw(Html.DrawILearnAndISpeak(item.Ispeak))
                            </td>

                            <td>@item.CreationDateTime.ToString("dd.MM.yyyy")</td>
                            <td>@item.PhoneNumber</td>
                            <td><span id="@item.Id" class="activeOfTeacher @(item.Active ? "disable" : "enable")">@(item.Active ? "DISABLE" : "ENABLE")</span></td>
                        </tr>

                    }
                </table>
                <span class="table-count">Showing 10 of @Model.Count</span>
            </div>
        </div>
        <div class="bgc-content-wrap myBoudget clearfix">
            <div class="row  chart-chart">
                <div class="col-xs-3 toe">
                    <div style="cursor: pointer" ng-click="getData('daily',$event)">@Resources.Resource.daily</div>
                </div>
                <div class="col-xs-3 toe">
                    <div style="cursor: pointer" ng-click="getData('weekly',$event)">@Resources.Resource.Weekly</div>
                </div>
                <div class="col-xs-3 toe active">
                    <div style="cursor: pointer" ng-click="getData('monthly',$event)">@Resources.Resource.Monthly</div>
                </div>
                <div class="col-xs-3 toe">
                    <div style="cursor: pointer" ng-click="getData('yearly',$event)">@Resources.Resource.Yearly</div>
                </div>
                <div class="col-xs-12 ch-chart" id="chart">
                    <canvas id="myChart2" width="740" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script>

</script>
