﻿#mail_header {
    background-color: #93c210;
}
#mail_header img {
    margin-left: 40px;
}
#email_tempalte {
    font-family: 'PT Sans', sans-serif;
    width: 600px;
    margin: 0 auto;
}
#email_tempalte h3 {
    color: #555555;
}
#text_for_order {
    color: #555555;
}
#email_detalis {
    padding: 40px;
}
#table_details {
    border-collapse: collapse;
    width: 100%;
}
#table_details td,#table_details th {
    border: 1px solid #fff;
    padding: 10px;
}
#table_details th {
    color: #fff;
}
#table_details td {
    color: #60742d;
    background-color: #dce9b9;
    text-align: center;
}
#table_details th {
    background-color: #93c210;
}
#email_detalis .details_transaction {
    color: #a6c45e;
}
#email_detalis h5 {
    color: #555555;
    margin: 13px 0;
    font-size: 16px;
}
#email_detalis h6 {
    color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 10px;
}
#referensToSite {
    color: #a6c45e;
}
#email_tempalte #footer {
    text-align: center;
    color: #bababa;
    margin-top: 20px;
}
#email_tempalte #footer a {
    color: #bababa;
    display: inline-block;
    font-size: 23px;
    margin: 0 6px;
}