﻿
@media (min-width: 300px) and (max-width: 766px) {
        header, footer .footer_content, .dad, .txt_block_content, .more_info .row, .our_clients, .btn_link, .srvice_menu, .sec_part {
        width: 100% !important;
    }
        .findJob input[type = "submit"] {
            width: 100%!important;
        }
    header> div:first-child {
        text-align: center;
    }
    .people > div {
        width: 150px !important;
        margin: 10px auto !important;
        float: none !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    header {
        display: block !important;
        height: auto !important;
        }
    .top_menu ul li {
        float: none !important;
        text-align: center;
        margin: 10px 0 !important;
        font-size: 165% !important;
    }
        .top_menu ul li a {
            color: #fff !important;
            display: block;
        }
        .dad img {
            display: none !important;
        }
        .forms-job {
            position: relative !important;
        }
        .forms-job>div {
            text-align: center;
        }
        .search {
            margin: 0 auto;
        }
    .top_menu {
        background: #3DC0EE !important;=
    }
    footer {
        height: auto !important;
    }
    .lang {
        display: none!important;
    }
    .fa {
        display: none;
    }
    .footer_content .col-sm-3 {
        text-align: center;
        border-bottom: 5px solid #fff;
        padding: 5px 0;
    }
    .footer_content img {
        width: 80% !important;
    }
    .we_are_help > div {
        width: auto !important;
        float: none !important;
        margin: 0 auto !important;
    }
    .clmd {
        display: none;
    }
    .sec_part {
        position: relative !important;
        margin: 0 !important;
        left: 0 !important;
    }
    .sec_part .col-md-6 > h2 {
        text-align: center;
    }
    .sec_part>.col-md-6:last-child {
        padding: 0 !important;
    }
    #forRR,.relat, .serv_menu .r2 .col-md-9{
        display: none;
    }
    .serv_menu {
        padding: 0 !important;
    }
}
@media (min-width: 767px) and (max-width: 1000px) {
    .more_info .col-md-3:nth-child(even) {
        background-color: transparent !important;
    }
}

@media (min-width: 992px) {
    .findJob .col-md-2 {
        width: 12.1%;
    }

    .findJob .col-md-10 {
        width: 87.6%;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .menu_part h2 {
        font-size: 135% !important;
        font-weight: bold !important;
    }
}

@media (min-width: 1600px) and (min-width: 1900px) {
    header, footer .footer_content, .dad, .txt_block_content, .more_info .row, .our_clients, .btn_link, .srvice_menu, .sec_part {
        width: 60% !important;
    }

    .sec_part {
        margin-left: -30% !important;
    }
}

@media (max-width: 1024px) and (min-width: 1024px) {
    #forRR {
        display: block !important;
    }

    .r1, .r2 {
        margin-top: 0 !important;
    }

    .menu_part h2 {
        font-size: 135% !important;
        font-weight: bold !important;
    }

    header, footer .footer_content, .dad, .txt_block_content, .more_info .row, .our_clients, .btn_link, .srvice_menu {
        width: 90% !important;
    }

    .consulting, .menu_part {
        margin: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        width: 100% !important;
        display: block !important;
    }

        header > div {
            display: block;
            float: none;
            display: block;
            text-align: center;
        }

    .top_menu:after {
        display: block;
        content: '';
        clear: both;
    }
    .sub_menu ul li {
        width: 100% !important;
        text-align: left !important;
    }

    .top_menu ul li {
        width: 12.5%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 0 !important;
        text-align: center;
    }

    .search {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 5px;
    }

    footer {
        height: auto !important;
        padding: 20px 0 0 0 !important;
    }

    .triangle {
        display: none;
    }

    .sec_part {
        position: inherit !important;
        width: auto !important;
        margin-left: 0 !important;
        left: 0 !important;
    }

    .prt {
        height: auto !important;
    }

    #forRR {
        display: none;
    }

    .relat {
        padding: 0 !important;
        margin: 0 !important;
    }

    .consulting, .menu_part {
        margin: 5px 0;
    }

    .r1, .r2 {
        margin-top: -5px;
    }
}

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body, html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}

    body, html.main, footer .footer_content img, footer, .content, .banner, .more_info .col-md-3 div:nth-child(4) a, .more_info {
        width: 100%;
    }

.main {
    min-height: 100%;
}

header, footer .footer_content, .dad, .txt_block_content, .more_info .row, .our_clients, .btn_link, .srvice_menu {
    width: 70%;
    margin: 0 auto;
}

footer, .lang, .forms-job, .advance_search, .btn_link, .more_info {
    color: #fff;
}

.compa {
    color: #0c7daf;
}

footer, .banner, .more_info {
    background-color: #3DC0EE;
}

header {
    height: 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-align-content: center;
    -ms-align-content: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
}

footer {
    height: 180px;
    padding: 20px 0;
    margin-top: -180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}


    footer .footer_content .row div:last-child {
        font-size: 17px;
    }

.pudushka {
    height: 180px;
}

.logo {
    height: 65px;
}

.top_menu ul {
    list-style-type: none;
}

    .top_menu ul li {
        float: left;
        margin-right: 25px;
        font-size: 16px;
    }

        .top_menu ul li:last-child {
            float: left;
            margin-right: 0;
            font-size: 16px;
        }

        .top_menu ul li a {
            text-decoration: none;
            color: #333333;
        }

.lang {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: -20px;
    background: #3EBFEE;
    border-radius: 100px;
    text-align: center;
    display: table;
}

    .lang span {
        display: table-cell;
        vertical-align: bottom;
        font-size: 13px;
    }

.banner {
    margin: 0 auto;
    border-bottom: 1px solid #8080FF;
    border-top: 1px solid #8080FF;
}

.dad {
    position: relative;
}

    .dad img {
        margin-left: -250px;
        height: 450px;
    }

.forms-job {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
}

    .forms-job div:first-child {
        font-size: 26px;
    }

    .forms-job div:nth-child(2) {
        font-size: 14px;
    }

.serarch_job_form input[type = "submit"], .btn_link, .findJob input[type = "submit"] {
    display: block;
    background: #0c7daf;
    width: 100%;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.forms-job div:nth-child(2) {
    margin-bottom: 11px;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    background: #fff;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.ui-selectmenu-text {
    color: #4997c0;
}

input::-webkit-input-placeholder {
    color: #4997c0 !important;
}

input::-moz-placeholder {
    color: #4997c0 !important;
}
/* Firefox 19+ */
input:-moz-placeholder {
    color: #4997c0 !important;
}
/* Firefox 18- */
input:-ms-input-placeholder {
    color: #4997c0 !important;
}

input:placeholder-shown {
    color: #4997c0;
}

.serarch_job_form + div {
    text-align: center;
    margin-top: -10px;
}

.advance_search {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.ui-selectmenu-button span.ui-icon {
    right: 10px;
}


.txt_block_content h2 {
    text-align: center;
}

.btn_link {
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
}

    .btn_link:hover {
        text-decoration: none;
    }

.compa {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}

.more_info {
    margin-top: 30px;
}

    .more_info .col-md-3 {
        padding: 25px;
    }

        .more_info .col-md-3:nth-child(even) {
            background-color: #56aada;
        }

        .more_info .col-md-3 div:first-child, .more_info .col-md-3 div:nth-child(2) {
            text-align: center;
        }

        .more_info .col-md-3 div:nth-child(2) {
            font-size: 21px;
        }

        .more_info .col-md-3 div:nth-child(3) {
            font-size: 14px;
            text-align: justify;
        }

        .more_info .col-md-3 div:nth-child(4) a {
            margin-top: 20px;
        }

        .more_info .col-md-3 img {
            width: 65px;
            height: 65px;
        }

.our_clients {
    margin: 40px auto;
    text-align: center;
    color: #333333;
}

.slick-prev {
    background: url(../../Images/arrow_left.jpg) !important;
    width: 30px !important;
    height: 30px !important;
}

    .slick-prev:before, .slick-next:before {
        content: "" !important;
    }

.slick-next {
    background: url(../../Images/arrow_right.jpg) !important;
    width: 30px !important;
    height: 30px !important;
}

.slick-slide {
    text-align: center !important;
}

.arr {
    background-color: #0c7daf;
    text-align: center;
    color: #84b2ce;
    padding: 5px 0;
    margin-top: 10px;
    height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clmd {
    padding: 0;
    height: 100%;
}

.main_for_more_same_img {
    width: 100%;
    display: block;
    height: 100%;
}

.triangle {
    border: 20px solid transparent;
    border-right: 20px solid#fff;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
}

.prt, .serv_menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sec_part {
    position: absolute;
    top: 0;
    width: 70%;
    left: 50%;
    margin-left: -35%;
}

p {
    text-align: justify;
    font-size: 110%;
}

.sec_part .col-md-6:last-child {
    padding-right: 0;
}

.sec_part h2 {
    margin: 20px 0;
}

.serv_menu {
    background-size: cover;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.menu_part {
    padding: 25px;
    color: #fff;
    border: 1px solid #626c6b;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .menu_part p {
        font-size: 100%;
    }

    .menu_part h2 {
        margin-bottom: 7px;
        margin-top: 0;
        font-size: 200%;
    }

.consulting {
    background-color: #76beec;
}

    .consulting a {
        background: #0c7daf;
    }

.resourcing {
    background: #e08860;
}

    .resourcing a {
        background: #c35d2f;
    }

.managed {
    background: #8583ce;
}

    .managed a {
        background: #5e5cc1;
    }

.data_storage {
    background: #8ab87a;
}

    .data_storage a {
        background: #6c8f60;
    }

.service_main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.relat {
    position: relative;
    border-color: transparent;
}

.we_are_help {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px 0;
    color: #84c5ee;
    font-size: 100%;
    font-weight: bold;
}

    .we_are_help > div {
        width: 20%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        padding: 20px;
    }

        .we_are_help > div > div {
            text-align: center;
            margin-bottom: 15px;
        }

    .we_are_help:after {
        content: "";
        display: block;
        clear: both;
    }

.sec_part .col-md-6 > h2 {
    text-transform: uppercase;
}

.sec_part .col-md-6 > h4 {
    color: #76beec;
}

.contact {
    font-size: 120%;
}

.findJob {
    color: #737373;
}

    .findJob label {
        text-align: left !important;
        font-size: 120%;
    }

.forButton > input[type = "submit"] {
    margin: 0 auto;
}

.findJob input[type = "submit"] {
    width: 30%;
    color: #fff;
    padding: 10px 30px;
    font-size: 140%;
}

.people {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 120%;
    margin-bottom: 40px;
}

    .people > div {
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: calc(20% - 7px);
        margin-right: 7px;
    }

        .people > div:last-child {
            margin-right: 0;
        }

    .people:after {
        content: "";
        display: block !important;
        clear: both !important;
    }

    .people > div span {
        display: inline-block;
        margin-top: 10px;
    }

    .people > div img {
        border: 1px solid #dcdcdc;
        display: block;
        width: 100%;
    }

.post {
    color: #76beec;
    font-size: 100%;
    margin-top: 3px !important;
}

#forRR {
    z-index: 1;
}
    .sub_menu {
        position: relative;
    }
.sub_menu ul {
    position: absolute;
    list-style-type: none;
    float: none;
    width: 200px !important;
        z-index: 2;
    background: #fff;
    border: 1px solid #76beec;
    border-top: none;
    display: none;
}
.sub_menu ul li {
    float: none !important;
    display: block !important;
    padding: 10px;
    margin-right: 0 !important;
        -webkit-transition-property: background;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
}
.sub_menu ul li:hover {
    background:  #3DC0EE;
}
.sub_menu ul li:hover a {
        color: #fff;
}
.sub_menu ul li a {
    display: block;
}
.sub_menu:hover ul {
    display: block;
}
