﻿@font-face {
    font-family: "PTSansRegular";
    src: url("../../fonts/openlang/PTSansRegular.eot");
    src: url("../../fonts/openlang/PTSansRegular.eot?#iefix")format("embedded-opentype"), url("../../fonts/openlang/PTSansRegular.woff") format("woff"), url("../../fonts/openlang/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Seravek";
    src: url("../../fonts/openlang/seravek-medium-webfont.eot");
    src: url("../../fonts/openlang/seravek-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/openlang/seravek-medium-webfont.woff") format("woff");
    src: url("../../fonts/openlang/seravek-medium-webfont.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SeravekLight";
    src: url("../../fonts/openlang/seravek-light-webfont.eot");
    src: url("../../fonts/openlang/seravek-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/openlang/seravek-light-webfont.woff") format("woff");
    src: url("../../fonts/openlang/seravek-light-webfont.ttf");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: inherit;
}

.trial a {
    color: #fff !important;
}

.ui.selection.dropdown, .ui.dropdown .menu .selected.item, .ui.dropdown.selected, .ui.dropdown .menu > .item {
    color: #333333 !important;
}

h2 {
    margin: auto !important;
    font-size: 25px !important;
    font-family: Seravek !important;
}

html, body, header {
    width: 100%;
    line-height: normal !important;
}

.change_lang {
    display: inline-block;
    position: relative;
}

    .change_lang ul {
        position: absolute;
        display: none;
        list-style-type: none;
        color: #000;
        z-index: 15;
        margin-top: 5px;
    }

        .change_lang ul li {
            margin-left: 20px;
            padding: 5px 10px;
            cursor: pointer;
            background-color: #fff;
            -moz-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            transition: all .5s ease-out;
        }

            .change_lang ul li:hover {
                background-color: #a8c75f;
            }

            .change_lang ul li:not([style]):last-child {
                border-radius: 0 0 4px 4px;
            }

            .change_lang ul li:not([style]):first-child, .change_lang ul li[data-lang='en'][style] + li {
                border-radius: 4px 4px 0 0;
            }

header {
    background-color: rgba(0,0,0,0.9);
}

.align_items_center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -ms-align-content: center;
    align-items: center;
}

.flex_direction_row {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.justify-content_space_between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.justify-content_center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex_direction_column {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
}

.align_items_start {
    -webkit-box-align: start;
    -webkit-align-content: flex-start;
    -webkit-align-items: center;
    -ms-align-content: flex-start;
    align-items: flex-start;
}

.flexable {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.logo {
    width: 100%;
}

.navigation {
    position: absolute;
    top: 50%;
    left: -10%;
    height: 350px;
    margin-top: -175px;
}

.learn_languages_online .navigation i.active_nav, .about_us .navigation i.active_nav, .learn_by_immertial .navigation i.active_nav {
    background-color: #fff;
    border-color: #fff;
    color: #999999;
}

.navigation i {
    width: 48px !important;
    height: 48px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.plans_prices .navigation i.active_nav, .testimonials .navigation i.active_nav {
    background-color: #a8c75f;
    color: #fff;
}

.learn_languages_online .navigation i, .about_us .navigation i, .learn_by_immertial .navigation i {
    color: #dddddc;
    border: 1px solid #dddddc;
}

.plans_prices .navigation i, .testimonials .navigation i {
    color: #b9c9a0;
    border: 1px solid #e1ebc7;
}

.navigation i {
    background-color: transparent;
    padding: 10px;
    display: block;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}

    .navigation i:before {
        margin-left: 14px;
        margin-top: 14px;
        display: inline-block;
    }

.dash {
    border-right: 1px dotted #dddddc;
    height: 25px;
    margin-right: 24px;
}

.content {
    position: relative;
}

.testimonials {
    background-color: #fff;
    overflow: hidden;
}

    .testimonials .navigation {
        margin-top: 0;
        top: -295px;
    }

.learn_by_immertial .navigation {
    margin-top: 0;
    top: -345px;
}

#languages, .top_btn {
    font-family: PTSansRegular;
    font-size: 16px;
    color: #fff;
    display: inline-block;
}

.globe {
    margin-right: 5px;
    margin-top: 2px;
    color: #8aa350;
    font-size: 13px;
}

.about_us .navigation {
    margin-top: 0;
    top: -315px;
}

.about_us {
    overflow: hidden;
}

.learn_languages_online, .about_us, .learn_by_immertial {
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.about_us, .learn_by_immertial {
    background-color: rgba(0, 0, 0, 0.8);
}

.learn_languages_online {
    background-color: rgba(0, 0, 0, 0.1);
}

    .learn_languages_online .content {
        height: 600px;
    }

.learn_languages_online {
    position: relative;
    overflow: hidden;
}

/*.for_bycourse .ch_level {
    margin-top: -16px;
}*/

.for_bycourse .ch_lang .ui.selection.dropdown, .for_bycourse .ch_level .ui.selection.dropdown {
    padding: 8px 20px;
}

#languages {
    border-bottom: 1px dotted;
    cursor: pointer;
}
/*#send_message_form {
    perspective: 100000px;
}
.transformAnimation {
    transition: all ease-in .9s;
}
.transformAnimation:hover {
    transform:  rotate(75deg) scale(0);
    perspective: 150px;
    transform: skewX(180deg);
    transform: scale(0);
}*/
.top_btn {
    padding: 5px 20px;
    background-color: #444;
    -ms-border-radius: 35px;
    border-radius: 35px;
    margin-right: 16px;
    cursor: pointer;
}

    .top_btn:hover {
        background-color: #8aa350;
    }

body h1 {
    margin: 0;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
}

.forTitle {
    display: none;
}
#successEmail {
    width: 68%;
    margin: 10px auto 0;
}
.trial .pop_up_trial {
    height: auto !important;
    margin-top: 0 !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 10px;
}
#loader>div {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    background-color: #fff;
    border-radius: 100px;
    box-sizing: border-box;
}
#loader>div img {
    width: 70px;
    height: 70px;
    margin: 25px 0 0 25px;
}
body h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
}

.description {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    font-family: SeravekLight;
    text-align: center;
    padding: 0 40px;
}

.inner_block_content {
    width: 1150px;
}

.plans_prices .inner_block_content {
    margin-top:50px;
}
.learn_languages_online .inner_block_content {
    width: 1150px;
}
.about_us .inner_block_content {
    margin-top: 50px;
}
.testimonials .inner_block_content {
    margin-top: 50px;
}
.learn_by_immertial .inner_block_content {
    margin-top: 50px;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.learn_languages_online fieldset {
    border: 1px dashed #fff;
    -ms-border-radius: 100px;
    border-radius: 100px;
    position: relative;
    margin-top: 75px;
}

legend {
    font-family: PTSansRegular;
    font-size: 20px;
    /*display: inline-block;
    margin: 0 auto;*/
    color: #c8c1c2;
    padding: 0 30px !important;
}

.flags_content.ui.grid {
    margin: 20px 43px;
    display: none;
}

.flex_prices_content_inner {
    margin-top: 30px;
}
.learn_languages_online h1 {
    font-size: 50px;
}
.individ_price > div:first-child > div:first-child {
    font-size: 18px;
}

.basic_price, .individ_price {
    width: 100%;
    margin-right: 15px;
    color: #000;
    font-family: SeravekLight;
}

    .individ_price > div:first-child > div:first-child {
        text-align: center;
    }

.price {
    position: relative;
    width: 240px;
}

.star {
    position: absolute;
    right: 5px;
    top: 0;
}

.flagss {
    border: 2px solid #fff;
    height: 120px;
    width: 200px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
}

.flags_content span {
    color: #fff;
    font-family: SeravekLight;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
}

.flagss.english {
    background-image: url(../../Images/openlang/flag_uk.svg);
}

.flagss.france {
    background-image: url(../../Images/openlang/flag_fr.svg);
}

.flagss.german {
    background-image: url(../../Images/openlang/flag_de.svg);
}

.flagss.greek {
    background-image: url(../../Images/openlang/flag_gr.svg);
}

.flagss.italian {
    background-image: url(../../Images/openlang/flag_it.svg);
}

.flagss.port {
    background-image: url(../../Images/openlang/flag_br.svg);
}

div[data-firstlanguage="br|Portuguese"] > span {
    margin-left: -6px;
}

.flagss.spain {
    background-image: url(../../Images/openlang/flag_sp.svg);
}

.flagss.swed {
    background-image: url(../../Images/openlang/flag_se.svg);
}


.tutorial_btns {
    margin-top: 70px !important;
}

    .tutorial_btns .btn, .Contact_US .btn {
        background: #a8c75f;
        font-size: 18px;
        font-family: PTSansRegular;
        padding: 13px 39px;
        -ms-border-radius: 13px;
        border-radius: 39px;
        color: #fff;
        cursor: pointer;
    }

        .tutorial_btns .btn:hover, .Contact_US .btn:hover, #sign_up4:hover, #go_to_contactus:hover {
            background-color: #a8b05f;
        }
        .Contact_US .transformAnimation+div {
            text-align: center;
        }
    .tutorial_btns .wrapper_awesome {
        display: inline-block;
        margin-right: 10px;
    }

    .tutorial_btns .btn:first-child {
        margin-right: 100px;
    }

    .tutorial_btns .btn:last-child {
        margin-left: 100px;
    }

.plans_prices {
    background-color: #fff;
    overflow: hidden;
}

    .plans_prices .navigation {
        top: -450px;
        margin-top: 0;
    }

    .plans_prices .content {
        /*height: 735px;*/
        margin: 40px auto;
    }

    .plans_prices h1 {
        color: #a8c75f;
    }

    .plans_prices .inner_block_content .tutorial_btns .btn.unselect {
        background-color: #fff;
        color: #a8c75f;
    }

    .plans_prices .inner_block_content .tutorial_btns {
        margin-top: 10px !important;
    }

        .plans_prices .inner_block_content .tutorial_btns .btn {
            padding: 7px 24px;
            border: 1px solid #a8c75f;
        }

    .plans_prices .description {
        color: #999999;
        margin-top: 10px;
    }
.bullet_center {
    margin:0 auto;
    width:225px;
}

.price {
    background-color: #a8c75f;
    border-top: 2px solid #445030;
    padding: 20px;
    margin-top: 30px;
    font-family: Helvetica !important;
    -ms-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
}

    .price:first-child {
        margin-right: 50px !important;
    }

    .price:last-child {
        margin-right: 50px;
    }

    .price h2 {
        font-family: Helvetica !important;
        color: #fff;
        position: relative;
        font-weight: normal;
        line-height: normal;
        margin: 0;
    }

        .price h2 .degree {
            position: absolute;
            left: 80px;
            top: 0;
            color: #6a7d42;
            font-size: 13px;
        }

    .price .description {
        color: #445030;
        font-size: 13px;
        text-align: left;
        padding: 0;
        margin-right: 20px;
    }

.it_price {
    border-top: 1px dashed #445030;
    border-bottom: 1px dashed #445030;
    margin: 10px 0;
    padding: 10px 0;
}

    .it_price h2 {
        font-weight: bold;
        font-size: 33px;
    }

.before_price {
    font-size: 13px;
    color: #677940;
}

.price ul {
    list-style-type: none;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}

    .price ul li {
        margin-top: 10px;
    }

.price input {
    color: #fff;
    background-color: #445030;
    padding: 10px 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    border: none;
    margin-top: 15px;
    width: 100%;
    font-family: PTSansRegular;
}

.individ_price .tutorial_btns.flexable > div {
    -ms-border-radius: 100px;
    border-radius: 100px;
    border: 1px solid #a8c75f;
    color: #a8c75f;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 9px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 10px;
}

    .individ_price .tutorial_btns.flexable > div:hover {
        background-color: #a8c75f;
        color: #fff;
    }

.individ_price .price {
    margin-top: 30px;
    margin-left: 0;
}

.individ_price .tutorial_btns.flexable > div.active {
    background-color: #a8c75f;
    color: #fff;
}

.individ_price .it_price {
    margin-top: 29px;
}

.individ_price h2 .degree {
    left: 123px;
    box-sizing: content-box;
}

.about_us {
    position: relative;
}

    .about_us .container.flexable {
        /*height: 584px;*/
        margin: 40px auto;
    }

    .about_us .description {
        text-align: center;
        font-family: SeravekLight;
        color: #fff;
        font-size: 18px;
        padding: 0;
        line-height: 23px;
        margin-top: 12px;
    }

.post_header {
    margin-top: 30px !important;
    color: #a6c45e;
    font-family: Helvetica;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

.global_lang.grid.ui {
    margin-top: 70px;
}

    .global_lang .img {
        background-image: url(../../Images/openlang/about_us_smaller.png);
        height: 48px;
        width: 51px;
        margin: 0 auto;
    }

        .global_lang .img.mission {
            background-position: 0, 0;
        }

        .global_lang .img.vision {
            background-position: 50px, 0;
        }

        .global_lang .img.values {
            background-position: 100px, 0;
        }

        .global_lang .img.comm {
            background-position: 150px, 0;
        }

    .global_lang > div {
        width: 140px;
    }

.global_lang h4 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 15px 0 5px 0;
}

    .global_lang .desk {
        font-family: SeravekLight;
        font-size: 14px;
        color: #bdbcbb;
        text-align: center;
        word-wrap: break-word;
        margin-top: 5px;
    }

.dady {
    position: absolute;
    bottom: -9px;
    left: 50%;
    width: 197px;
    margin-left: -61px;
}

.testimonials .container.flexable {
    background-color: #fff;
}

.testimonials .container {
    /*height: 545px;*/
    margin: 40px auto;
}

.testimonials h1 {
    color: #a6c45e;
}

.testimonials .container .description {
    color: #999999;
    font-size: 18px;
    padding: 0;
    margin-top: 5px;
}

.what_say .testi {
    /*width: 275px;*/
    background-color: #a6c45e;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sign_up {
    background-color: #445030;
    color: #fff;
    font-size: 14px;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    font-family: PTSansRegular;
    width: 15%;
    cursor: pointer;
}

    .sign_up:hover {
        background-color: #677948;
    }

.what_say.grid.ui {
    /*width: 100%;*/
    margin-top: 70px;
}

.name_pup .names {
    margin-left: 10px;
    margin-top: 10px;
}

.my_name {
    font-family: SeravekLight;
    color: #75933f;
    font-size: 15px;
    float:left;
}

.desc_pup {
    color: #fff;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    margin-top: 13px;
    line-height: 17px;
    text-align:left;
}

.social_pup {
    color: #6a7d42;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

    .social_pup > i {
        display: inline-block;
        margin-right: 10px;
    }

.family {
    color: #445030;
    font-size: 20px;
}

.stay_in_touch {
    margin-top: 50px;
}

    .stay_in_touch h3 {
        color: #a6c45e;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
    }

    .stay_in_touch .desc {
        font-size: 18px;
        color: #adadad;
    }

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
    width: 310px;
    padding: 13px 10px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    margin: 15px;
    text-align: center;
    outline: 0;
}

.for_bycourse {
    width: 700px !important;
    margin-left: -350px !important;
}

    .for_bycourse .log_in_with > div:first-child {
        text-align: left;
        margin-left: 30px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .for_bycourse .log_in_with .ch_lang {
        margin-top: -15px;
    }

    .for_bycourse .line_dash {
        margin-left: 30px;
        margin-right: 30px;
        color: #667840 !important;
        border-color: #667840;
    }

.terms {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.for_bycourse .top_btn {
    background-color: #445030;
    padding: 8px 30px;
}

/*.trial .pop_up_trial.step_1.for_bycourse {
    height: 355px !important;
    margin-top: -177px !important;
}*/

.for_bycourse .log_in_with .confirm_buy_course {
    font-size: 16px !important;
    font-weight: bold !important;
}

.card_num input {
    text-align: center !important;
}

.for_bycourse .already {
    font-size: 13px;
    padding: 0 55px !important;
    color: #667840 !important;
}

.confirm_buy_course + div {
    margin-bottom: 7px;
}

.learn_by_immertial .container {
    margin: 40px auto;
}

.for_bycourse .log_in_with .conf_shedule {
    padding: 10px 20px 10px 30px;
}

.learn_by_immertial {
    position: relative;
    overflow: hidden;
}

    .learn_by_immertial .description {
        padding: 0 60px;
        color: #fff;
    }

.what_wait {
    color: #a6c45e;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 120px;
}

.sin_up {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: SeravekLight;
    margin-top: 10px;
}

    .sin_up b {
        font-weight: bold;
    }

    .sin_up span {
        color: #a6c45e;
        font-weight: bold;
    }

.learn_by_immertial .sign_up {
    background-color: #a6c45e;
    margin: 20px 10px 40px;
    width: 140px;
}

.icons_bottom {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

    .icons_bottom i {
        display: inline-block;
        padding: 10px;
        background-color: rgba(255,255,255,.3);
        border-radius: 20px;
        margin-right: 15px;
        font-size: 12px;
        font-weight: normal;
    }
/*.icons_bottom i:hover {
        background-color: rgba(255,255,255,.8);
        color: #333333;
    }*/
.scroll_for_info {
    position: absolute;
    left: 50%;
    bottom: 10px;
    color: #fff;
    font-family: SeravekLight;
    font-weight: normal;
    text-align: center;
    width: 150px;
    margin-left: -75px;
    font-size: 15px;
    cursor: pointer;
    z-index: 10;
}

.log_in, .sing_in, .how_it_works, .trial, .messeger {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 12;
    font-family: PTSansRegular;
    display: none;
}

.forgot > div {
    color: #fff;
    margin: 5px 27px;
    border-bottom: 1px dotted #fff0f5;
    cursor: pointer;
}

.log_in .pop_up_log_in, .sing_in .pop_up_sing_in, .pop_up_how_it_works, .trial .pop_up_trial, .sing_in .pop_up_trial, .messeger .message {
    position: relative;
    width: 460px;
    height: 320px;
    top: -100%;
    left: 50%;
    margin-left: -230px;
    margin-top: -200px;
    background-color: #a6c45e;
    -ms-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
}

.messeger .message {
    height: 270px !important;
    margin-top: -135px;
}

.how_it_works .pop_up_how_it_works {
    width: 600px;
    height: 420px !important;
    margin-top: -200px !important;
    margin-left: -300px;
}

.about_us .tutorial_btns .btn {
    text-align: center;
}

.sing_in .pop_up_sing_in, .how_it_works .pop_up_how_it_works, .trial .pop_up_trial, .sing_in .pop_up_trial {
    top: -100%;
    margin-top: -200px;
    height: 390px;
}

    .log_in .pop_up_log_in h2, .sing_in .pop_up_sing_in h2, .how_it_works .pop_up_how_it_works h2, .trial .pop_up_trial h2, .sing_in .pop_up_trial h2 {
        background-color: #455030;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        line-height: normal;
    }

    .sing_in .pop_up_trial h2 {
        margin-bottom: 25px;
    }

#go_to_step_22 {
    margin: 15px auto;
}

.sing_in .pop_up_trial.step_1 label {
    color: #445030;
}

.sing_in .pop_up_trial.step_1 .intl-tel-input input[type=tel] {
    padding-left: 65px;
}

.country-name {
    color: #455030 !important;
}

div.h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
}

.learn_by_immertial div.h1, .about_us div.h1 {
    color: #fff;
}

.testimonials div.h1, .plans_prices div.h1 {
    color: #a6c45e;
}

.sing_in .pop_up_trial.step_1 {
    width: 500px;
    margin-left: -250px;
    position: absolute;
}

.log_in_with .inputs:first-child {
    margin-top: 18px;
}

.intl-tel-input .flag-container {
    padding-left: 10px !important;
}

.log_in_with > div, .sing_in > div .trial > div {
    text-align: center;
    color: #455030;
    margin-top: 5px;
    font-size: 14px;
}

.socials_btns > span {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    padding: 8px 35px;
    border-radius: 20px;
}

    .socials_btns > span i {
        display: inline-block;
        margin-right: 5px;
        font-weight: bold;
    }

    .socials_btns > span:first-child {
        background-color: #3c599b;
        margin-right: 27px;
    }

    .socials_btns > span:last-child {
        background-color: #db503b;
        margin-right: 10px;
    }

.log_in_with .hr, .sing_in hr {
    height: 1px;
    background-color: #8eac4c;
    text-align: center;
    width: 90%;
    margin: 18px auto;
}

.pop_up_log_in input[type="text"], .pop_up_sing_in input[type="text"], .pop_up_trial input[type="text"], .pop_up_trial input[type="tel"], .pop_up_sing_in input[type="email"], .pop_up_sing_in input[type="password"] {
    width: 195px;
    padding: 7px 18px;
    margin-top: 5px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.log_in_with .inputs {
    /*margin-top: 16px;*/
    height: 60px;
    box-sizing: border-box;
}

.for_bycourse .log_in_with .inputs {
    margin-bottom: 30px;
}

.inputs > div {
    text-align: left;
    width: 223px;
    height: 60px;
    box-sizing: border-box;
}

.pop_up_log_in .sign_up, .pop_up_sing_in .sign_up, .pop_up_trial .sign_up {
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
}

.pop_up_sing_in .log_in_with .inputs.last {
    margin-top: 0;
}

.pop_up_sing_in .already > span {
    color: #fff;
    cursor: pointer;
    border-bottom: 1px dotted #fff;
}

.serviceMessageMain {
    background-color: #758a47;
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    font-weight: normal;
    margin: 0 22px;
    display: none;
}

    .serviceMessageMain > span {
        height: inherit;
    }

    .serviceMessageMain img {
        width: 35px;
        height: 35px;
    }

.sing_in .pop_up_sing_in {
    height: auto !important;
    margin-top: 0 !important;
    padding-bottom: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.inputs > div label {
    text-align: left;
    margin-left: 15px;
}

.log_in .pop_up_log_in {
    height: auto !important;
    margin-top: 0 !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.testimonials .serviceMessageMain > span {
    width: 400px;
}

.or {
    background-color: #a6c45e;
    width: 20px;
    position: relative;
    top: -0.6em;
    display: inline-block;
    width: 30px;
}

.close_log_in {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    z-index: 10;
}

.qestions > div {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2px;
    border-left: 2px solid #8aa350;
    font-family: SeravekLight;
    position: relative;
}

.submitRequest {
    position: absolute;
    background-color: #6e8243;
    width: 100%;
    z-index: 10;
    height: 230px;
    left: 0;
    top: 35px;
    border: 1px solid #6e8243;
    box-sizing: border-box;
    display: none;
}

    .submitRequest:after {
        content: '';
        display: block;
        clear: both;
    }

    .submitRequest > div, .submitRequest > form {
        box-sizing: border-box;
        height: 100%;
        float: left;
    }

.subject > div {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.subject:after {
    content: '';
    display: block;
    clear: both;
}

.subject > div:first-child > div {
    float: left;
    width: 50%;
    box-sizing: border-box;
    color: #445030;
    font-size: 14px;
}

.subject .description {
    float: none !important;
    width: 100% !important;
    padding: 0 !important;
    box-sizing: border-box;
}

    .subject .description textarea {
        width: 340px;
        margin: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 10px;
        font-size: 13px;
    }

.question > div:first-child > div {
    position: relative;
}

.isHelp, .isCount {
    text-decoration: none !important;
    color: #65783f !important;
    cursor: auto !important;
}

.hover {
    background-color: yellowgreen !important;
}

.subject .description > div:last-child {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    color: #6e8243;
}

.intl-tel-input .country-list .country {
    text-align: left;
}

.subject .dropdown {
    border: 1px dashed #627a48;
    width: 92%;
    box-sizing: border-box;
    height: 120px;
    border-radius: 15px;
    margin: 40px 10px 0 10px;
}

    .subject .dropdown > div {
        margin: auto;
        font-size: 13px;
        color: #677940;
    }

        .subject .dropdown > div span {
            background-color: #677940;
            color: #fff;
            display: inline-block;
            padding: 5px 20px;
            border-radius: 20px;
            cursor: pointer;
        }

.subject .description textarea:focus {
    outline: none;
}

.subject .label {
    padding: 10px 0 0 10px;
    text-align: left;
}

.subject > div input {
    border-radius: 20px;
    padding: 6px 20px;
    box-sizing: border-box;
    width: 160px;
    font-size: 13px;
    border: 1px solid #ccc;
    margin: 10px;
}

.question > div > div {
    position: relative;
}

.subject .dropdown + div {
    text-align: right;
}

    .subject .dropdown + div input[type='submit'] {
        color: #fff;
        display: inline-block;
        background-color: #445030;
        padding: 8px 45px;
        border: none;
        width: auto;
        margin-right: 20px;
    }

.submitRequest > div:first-child {
    width: 20px;
    cursor: pointer;
}

    .submitRequest > div:first-child i {
        display: inline-block;
        margin-top: 105px;
        margin-left: 4px;
        color: #b7c1a1;
    }

.submitRequest > form:last-child {
    width: calc(100% - 20px);
    background-color: #8aa350;
}

#forFaq header {
    position: relative;
}

.qestions .quest {
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 13px;
}

    .qestions .quest i {
        display: inline-block;
        margin-right: 15px;
    }

.FAQ, .Courses {
    position: relative;
}

    .FAQ .description, .Courses .description {
        margin: 5px 0 25px 0;
    }

    .FAQ .content {
        padding-bottom: 100px;
    }

    .Courses .inner_block_content {
        margin: 80px 0 140px 0;
    }

    .Courses .all_courses > div {
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.all_courses img {
    width: 100%;
}

.Courses .inner_block_content {
    width: 100%;
}

.all_courses > div h2 + div > div {
    width: 30%;
    cursor: pointer;
    position: relative;
}

.all_courses > div:first-child {
    margin-right: 12px;
}

.all_courses > div p {
    width: 400%;
    height: 128px;
    top: 0;
    position: absolute;
    z-index: 1;
    background-color: #a8c75f;
    color: #fff;
    font-family: SeravekLight;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    cursor: auto;
    display: none;
}

.all_courses > div:first-child p {
    left: 100%;
}

.all_courses > div:last-child p {
    right: 100%;
}

.all_courses > div p span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.all_courses > div:first-child h3 {
    font-family: 'Roboto', sans-serif;
}

.all_courses > div:last-child {
    margin-left: 12px;
}

.all_courses img + div {
    background-color: #a8c75f;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    font-family: PTSansRegular;
    font-weight: normal;
    margin-top: -4px;
}

.Courses .all_courses h2 {
    font-size: 18px;
    color: #a8c75f;
    font-family: PTSansRegular;
    text-align: center;
    font-weight: normal;
    margin-bottom: 15px;
}

.qestions .quest + div.answer {
    background-color: #8aa350;
    color: #445030;
    padding: 10px 30px 10px 45px;
    font-size: 13px;
    display: none;
}

    .qestions .quest + div.answer .helpful {
        font-family: Helvetica;
        color: #65783f;
        font-size: 11px;
        text-decoration: none;
    }

.qestions .comment {
    background-color: #80974c;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
    line-height: 20px;
    font-size: 13px;
    margin: 10px 0;
    position: relative;
}

    .qestions .comment:after {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: -5px;
        z-index: 5;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #80974c transparent;
    }

div.answer .name {
    color: #495632;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.answer h5 {
    font-size: 14px;
    margin-bottom: 10px;
}

.hands {
    display: inline-block;
    margin: 0 5px;
}

div.answer hr {
    background-color: #7c924a;
    color: #7c924a;
    border: none;
    height: 1px;
    margin: 12px 0;
}

div.answer span {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    background-color: #242423;
    padding: 40px 0 0 0;
}

    footer img {
        -ms-opacity: 0.6;
        opacity: 0.6;
    }

    footer a {
        color: #fff;
        font-family: PTSansRegular;
        font-size: 13px;
        display: block;
        margin-top: 5px;
        text-decoration: none;
        cursor: pointer;
    }

        footer a:hover {
            color: #a6c45e;
        }

#post_sign_in {
    display: none;
}

.sing_in .pop_up_trial.step_1 {
    margin-top: 0 !important;
    height: auto !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 15px !important;
}

#Everyfieldrequared {
    margin: 5px 40px 0;
}

.service_message {
    background-color: rgb(238, 244, 223);
    border: 1px solid rgb(202, 210, 182);
    margin-bottom: 20px;
    display: table;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: none;
    height: 43px;
    box-sizing: border-box;
}

#loadingImage img {
    width: 35px;
    height: 35px;
}

.service_message > span:not([class]) {
    display: inline-block;
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
    width: 50%;
}

.service_message > span:first-child {
    text-align: right;
    padding-right: 5px;
}

.service_message > span:last-child {
    text-align: left;
    padding-left: 5px;
    font-size: 16px;
    color: #333333;
}

.service_message > span img {
    margin-top: 4px;
    width: 35px;
    height: 35px;
}

#Logout, #MyAccount {
    color: #fff0f5;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 16px;
    margin-right: 25px;
    display: inline-block;
}

.userPict {
    width: 35px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 8px;
    border-radius: 20px;
}

    .userPict ~ i {
        color: #8aa350;
        display: inline-block;
        margin: 0 5px 0 15px;
        font-size: 16px;
    }

footer h3 {
    color: #666665;
    margin-bottom: 10px;
    font-family: PTSansRegular;
    font-weight: bold;
}

.group .price h2 .degree {
    left: 92px;
}

.group.flex_prices_content_inner {
    margin-top: 0;
}

.group .price:not(:first-child) h2 .degree {
    left: 105px;
}

.word_month {
    font-size: 20px;
    font-weight: normal;
}

.group .price {
    margin-left: 10px;
    width: 180px;
}

footer span a {
    color: #fff;
    font-size: 20px !important;
    display: inline-block;
    margin-right: 8px;
}

#sign_up1 {
    margin-top: 16px;
}

    #sign_up1:hover, #sign_up2:hover {
        background-color: #617245;
    }

#sign_up1, #sign_up2 {
    outline: none;
}

.borders {
    font-family: Calibri;
}

footer > div:last-child {
    background-color: #151515;
    padding: 10px 0;
    text-align: center;
    color: #383838;
    margin-top: 80px;
    font-family: PTSansRegular;
}

.Contact_US .inner_block_content {
    width: 100%;
    margin-top: 40px;
}

.Contact_US input[type="text"] {
    text-align: left;
    padding: 10px 20px;
    margin: 0 20px 0 0;
    width: 242px;
}

    .Contact_US input[type="text"]:last-child {
        margin: 0;
    }

.Contact_US form {
    margin-top: 40px;
}

.Contact_US textarea {
    width: 100%;
    height: 200px;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Contact_US .btn {
    display: inline-block;
    text-align: center;
    padding: 10px 70px;
    margin-top: 20px;
}

#forFaq .dynamik_block {
    color: #fff;
    text-align: left;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-size: 14px;
    font-family: PTSansRegular;
}

.ch_lang {
    /*margin-top: -10px;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .ch_lang > label {
        display: inline-block;
        /*margin-bottom: 4px;*/
    }

.dd-options.dd-click-off-close {
    width: 200px !important;
}

#choose_level .dd-selected-text, #choose_find_us .dd-selected-text, #choose_timezone .dd-selected-text {
    margin-left: 0 !important;
    margin-top: 2px !important;
}

.sing_in .pop_up_trial.step_1 .header, .messeger .message .header {
    background-color: #445030;
    color: #fff;
}

/*.trial .pop_up_trial.step_1 {
    height: 452px !important;
    margin-top: -226px !important;
}*/

.messeger .message .header h2 {
    text-align: center;
    padding: 10px 0;
}

.messeger .textMessage {
    font-size: 16px;
    font-family: PTSansRegular;
    text-align: center;
    color: #445030;
    font-weight: bold;
}

.messeger .message > div:last-child {
    text-align: center;
}

.messeger input[type='button'] {
    background-color: #445030;
    color: #fff;
    padding: 8px 70px;
    border: transparent;
    border-radius: 20px;
    display: inline-block;
    margin-top: 15px;
}

.messeger .icon {
    margin: 20px 0;
    text-align: center;
}

    .messeger .icon img {
        width: 85px;
        height: 80px;
        position: static;
    }

.trial .pop_up_trial.step_2 {
    height: auto !important;
    margin-top: 0 !important;
    width: 700px;
    margin-left: -350px;
}

    .trial .pop_up_trial.step_2 .log_in_with {
        padding: 0 20px 20px 20px;
    }

        .trial .pop_up_trial.step_2 .log_in_with #go_back_buy {
            text-align: left;
            color: #fff;
            display: block;
            font-family: PTSansRegular;
        }

            .trial .pop_up_trial.step_2 .log_in_with #go_back_buy > i {
                display: inline-block;
                margin-right: 5px;
            }

.conf_shedule span[id] {
    color: #fff;
    display: inline-block;
    margin-left: 7px;
}

.trial .already {
    padding: 0 20px;
}

.skype:last-child input {
    text-align: center;
    padding: 7px 0 !important;
}

.conf_shedule > div:first-child > div {
    text-align: left;
}

.pay_pal > * {
    text-align: left;
}

.pay_pal {
    margin: 30px 0 !important;
}

    .pay_pal h4 {
        font-size: 16px;
        font-weight: bold;
    }

.card_details h4 {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 10px;
}

.conf_shedule > div:first-child > div:first-child {
    font-size: 18px !important;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.skype .sp_down {
    position: absolute;
    left: 33px;
    top: 28px;
    cursor: pointer;
    box-sizing: border-box;
}

    .skype .sp_down > span:first-child {
        width: 41px;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
    }

        .skype .sp_down > span:first-child:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

    .skype .sp_down > span:last-child {
        position: absolute;
        width: 140px;
        background-color: #fff;
        left: -7px;
        border-radius: 5px;
        z-index: 100;
        display: none;
    }

        .skype .sp_down > span:last-child img {
            margin-right: 8px;
        }

        .skype .sp_down > span:last-child > span {
            padding-left: 8px;
            font-size: 12px;
            display: inline-block;
            width: 130px;
        }

        .skype .sp_down > span:last-child .social_net > span {
            vertical-align: super;
        }

        .skype .sp_down > span:last-child .social_net:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

    .skype .sp_down i.icon {
        margin-left: -6px;
    }

    .skype .sp_down i {
        vertical-align: super;
    }

.skype img {
    width: 23px;
}

/*.ch_level, .ch_timezone, .ch_howFind {
    margin-top: -11px;
}

.ch_selectLang {
    margin-top: -10px;
}*/

/*.for_bycourse .ch_selectLang {
    margin-top: -16px;
}*/

.ch_level label, .ch_timezone label, .ch_howFind label, .ch_selectLang label {
    /*margin-bottom: 5px;*/
    display: inline-block;
}

.thanks, .resetPassword {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin-top: -100px;
    margin-left: -250px;
    background-color: #a6c45e;
    border-radius: 0 0 20px 20px;
}

.pay_compleate {
    font-family: PTSansRegular;
    text-align: center;
    color: #61733e;
    font-size: 14px;
    margin: 30px 0;
    line-height: 20px;
    padding: 0 40px;
}

#close_trial_step_thanks img, #close_trial_step_thanks_trial img {
    right: 0;
    top: -10px;
    position: absolute;
}

.conf_shedule + div.line_dash {
    margin-bottom: 10px;
}

img[src $="date.jpg"] {
    left: 36px;
    top: 28px;
    width: 20px;
    position: absolute;
}

.pay_compleate h4 {
    font-size: 16px;
    font-weight: bold;
    color: #445030;
    margin-bottom: 7px;
}

.fogot input {
    width: 200px;
    padding: 8px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fogot {
    margin: 20px 0;
}

    .fogot #email_fogot {
        text-align: left;
        padding-left: 20px;
        margin-top: 0;
    }

    .fogot label {
        display: block !important;
        margin-left: 15px;
        color: #445030;
        margin-bottom: 5px !important;
        font-size: 14px;
    }

    .fogot input[type="email"] {
        margin-bottom: 0 !important;
    }

#go_back_trial, #go_back_buy {
    cursor: pointer;
}

#close_trial_step_thanks_reset {
    margin-top: 0;
}

.reset_psw {
    height: 160px;
    margin-top: -80px;
}

.resetPassword {
    height: 230px !important;
    margin-top: -115px !important;
}

.go_to_login {
    text-align: center;
    color: #fff;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.resetPassword .sign_up {
    margin: 0 auto;
    width: 27%;
}

.fogot .intl-tel-input {
    margin-top: 0;
}

.fogot .name {
    margin-left: 15px;
}

.fogot > :nth-child(2) {
    color: #8ca551;
    margin: 15px 0 0 0;
}

.thanks .header, .resetPassword .header {
    background-color: #445030;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
}

.skype input {
    padding-left: 62px !important;
    font-size: 13px;
}

.skype {
    position: relative;
}

.dd-option-image {
    max-width: 22px !important;
}

.dd-option {
    padding: 0 0 0 10px !important;
}

.dd-container {
    margin-left: 12px;
}

.dd-container, .dd-select {
    width: 197px !important;
    border-radius: 20px !important;
    height: 30px !important;
    background-color: #fff !important;
}

.dd-selected {
    padding: 4px 0 0 20px !important;
}

.dd-selected-text {
    display: inline-block;
    margin-top: -4px;
    margin-left: 8px !important;
}

.dd-selected-image {
    max-width: 22px !important;
}

.dynamik_block a {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

    .dynamik_block a i {
        color: #8aa350;
        display: inline-block;
        margin-right: 5px;
    }

.trial .header {
    position: relative;
}

    .trial .header span {
        position: absolute;
        top: 16px;
        left: 20px;
        font-size: 14px;
        color: #778c53;
    }

.intl-tel-input {
    margin-left: 15px;
    margin-top: -6px;
}

.tele label {
    margin-bottom: 10px;
    display: inline-block;
}

.tele {
    /*margin-top: -17px;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*.intl-tel-input .flag-container {
    padding-left: 15px !important;
}*/

#tel_number {
    padding-left: 59px;
}

.im span {
    font-size: 14px;
}

footer > div:first-child > div:first-child i {
    color: #8aa350;
    display: inline-block;
    margin-right: 10px;
}

footer > div:first-child > div:first-child > div {
    margin-top: 5px;
}

    footer > div:first-child > div:first-child > div:nth-child(4) {
        margin-top: 10px;
    }

footer > div:first-child {
    color: #fff;
    font-family: PTSansRegular;
    font-weight: normal;
    font-size: 13px;
}

.card_details {
    margin-top: 25px !important;
}

.pay_method h5 {
    font-size: 18px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    margin-top: 3px;
}

.pop_up_trial:nth-child(2) .log_in_with {
    padding: 0 20px;
}

    .pop_up_trial:nth-child(2) .log_in_with > div:first-child {
        color: #fff;
        text-align: left;
    }

        .pop_up_trial:nth-child(2) .log_in_with > div:first-child i {
            display: inline-block;
            margin-right: 10px;
        }

.pay_type img {
    width: 57px;
}

.pay_type {
    background-color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    text-align: left;
}

.card_name {
    text-align: left;
    margin: 5px 0;
}

.pop_up_trial:nth-child(2) {
    width: 730px;
    margin-left: -365px;
}

.pay_method > div > div {
    display: inline-block;
}

    .pay_method > div > div:not(:first-child) {
        margin-left: 15px;
    }

    .pay_method > div > div:last-child input {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }

.payment_methods {
    text-align: left;
    position: relative;
}

.confirm_privacy {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 77px;
}

    .confirm_privacy input {
        vertical-align: middle;
        margin-right: 8px;
    }

.pop_up_sing_in .log_in_with .inputs {
    margin-top: 16px !important;
}

.card_info {
    background-color: rgba(68,80,48,0.5);
    border-radius: 8px;
    position: relative;
}

    .card_info > div:first-child {
        background-color: #445030;
        border-radius: 8px;
        padding: 11px 15px;
        z-index: 1;
        position: relative;
    }

.sec_code {
    position: absolute;
    top: 30px;
    padding: 15px;
    background-color: #556438;
    color: #7e944b;
    text-align: right;
    left: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 0;
}

.cvc {
    z-index: 1;
    margin-top: 110px;
    margin-left: 20px;
    text-align: left;
}

    .cvc div:first-child > div {
        color: #a2c05c;
    }

.line_dash {
    content: '';
    display: block;
    border-top: 1px dashed #445030;
    margin-top: 20px;
}

.card_info .cvc label {
    color: #445030;
}

.card_info > div:first-child > div {
    text-align: left;
}

.card_info .dd-container {
    margin-left: 0;
    margin-top: 4px;
}

.continent {
    display: none;
}

.card_info .dd-container, .card_info .dd-select, .card_info .dd-options.dd-click-off-close {
    width: 120px !important;
}

.card_info label.dd-selected-text, .card_info label.dd-option-text {
    color: #000;
    margin-top: 2px;
}

.date_card img {
    margin-top: 18px;
}

.welcome {
    color: #adadad;
    font-family: PTSansRegular;
    font-size: 16px;
    display: inline-block;
    width: auto;
}

.continent {
    display: none;
}
/*#userInfoPanel>* {
    display: inline-block;
    margin: auto;
}*/
.thanks h2 {
    font-family: 'Roboto', sans-serif;
}

.date_card > div:last-child input[type="text"] {
    margin-right: 0;
}

#date_expary {
    width: 120px;
}

.card_num input[type="text"] {
    width: 100%;
}

.card_info input[type="text"] {
    margin-left: 0;
}

.card_info label {
    color: #99b558;
    font-size: 13px;
    display: inline-block;
}

.ex_terms {
    background-color: transparent;
    z-index: 11;
    width: 100%;
    height: 100%;
    display: none;
}

#go_to_ourPrivacy {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.ex_terms .terms_popiup {
    width: 700px;
    height: 500px;
    background-color: #a6c45e;
    position: absolute;
    left: 50%;
    top: -100%;
    margin-left: -350px;
    margin-top: -250px;
    border-radius: 0 0 20px 20px;
}

.ex_terms .text ::-webkit-scrollbar {
    width: 5px;
    background-color: #88a150;
}

.ex_terms .text ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #88a150;
}

.ex_terms .text ::-webkit-scrollbar-thumb {
    background-color: #445030;
    border-radius: 10px;
}

.ex_terms h2 {
    background-color: #445030;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.ex_terms .text {
    padding: 15px 0 15px 15px;
    color: #515f36;
    font-family: PTSansRegular;
    font-size: 13px;
    line-height: 21px;
    height: 500px;
    overflow: hidden;
}

    .ex_terms .text > div:first-child {
        overflow-y: scroll;
        height: 407px;
    }

    .ex_terms .text h5 {
        font-size: 13px;
        font-weight: bold;
        margin: 10px 0;
    }

#private_account {
    background-color: #fbfbfb;
}

    #private_account .content {
        padding-top: 40px;
        padding-bottom: 40px;
        height: calc(100% - 80px);
    }

    #private_account nav {
        font-family: SeravekLight;
        width: 200px;
    }

        #private_account nav h2 ~ div {
            color: #a6c45e;
            font-weight: normal;
            cursor: pointer;
            margin: 3px 0;
            font-size: 14px;
        }

        #private_account nav > div {
            margin-top: 15px;
        }

        #private_account nav h2 {
            font-size: 16px !important;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 7px;
        }

    #private_account .main_content {
        width: calc(100% - 200px);
        background-color: #fff;
        padding: 20px;
        box-sizing: border-box;
        font-family: PTSansRegular;
        border: 1px solid #eeeeee;
        font-size: 14px;
    }

    #private_account .profile_photo h3 {
        font-size: 14px;
    }

    #private_account .profile_photo > div:last-child {
        color: #a6c45e;
        cursor: pointer;
    }

    #private_account .profile_photo img {
        width: 100px;
        border: 1px solid #ddd;
        border-radius: 100px;
        margin: 10px 0;
    }

    #private_account .main_content .confitmm_email {
        text-align: center;
        background-color: #fafafa;
        padding: 15px 0;
        margin: 10px 0;
        color: #333333;
        border: 1px solid #eaeaea;
    }

        #private_account .main_content .confitmm_email span {
            color: #99af67;
            text-decoration: underline;
            cursor: pointer;
        }

    #private_account .main_content h2 {
        font-size: 16px !important;
    }

    #private_account .account_data > div {
        width: 40%;
    }

    #private_account #_general .ui.selection.dropdown {
        border-radius: 20px;
        min-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    #private_account .main_content #_general input, #private_account .main_content #_change_password input[type=password] {
        padding: 9px 15px;
        border: 1px solid #cccccc;
        border-radius: 50px;
        margin: 0;
        width: 265px;
        text-align: left;
        outline: 0;
        box-sizing: border-box;
    }

    #private_account .main_content #_change_password input[type=password] {
        margin-bottom: 20px;
    }

    #private_account .main_content .account_form {
        margin-top: 20px;
    }

    #private_account .dd-select, #private_account .dd-container {
        width: 100% !important;
        margin-left: 0;
        height: 32px !important;
    }

    #private_account .dd-select {
        margin: 5px 0;
    }

    #private_account .dd-selected-text {
        margin-top: 2px !important;
        font-weight: normal;
    }

    #private_account .dd-options {
        width: 100% !important;
    }

    #private_account .intl-tel-input {
        margin: 0 !important;
        padding: 0 !important;
    }

    #private_account #telephone {
        padding-left: 65px !important;
        width: 267px;
    }

    #private_account .account_data > div > div > div:first-child {
        margin-bottom: 7px;
    }

    #private_account .account_data > div > div {
        margin-bottom: 20px;
    }

        #private_account .account_data > div > div:first-child {
            margin-bottom: 20px;
        }

._languages > div > div:first-child, #submitChangePass > div {
    margin-bottom: 7px;
}

.resetPassword {
    height: auto !important;
    margin-top: 0 !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 10px;
}

    .resetPassword .serviceMessageMain {
        margin-top: 7px;
    }

.mnth .ui.selection.dropdown {
    width: 85px !important;
    min-width: 1em !important;
    width: 11em;
    margin-left: 0 !important;
    margin-top: 4px !important;
    min-height: 34px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 15px;
    padding: 7px 20px;
    margin-top: 5px;
    font-size: 14px;
    line-height: normal;
}

#bt_change_password, #deactiveButton {
    outline: none;
}

#updatedPassword > span, #updatedLanguages > span, #successUpdated > span, #uncorrectParameters > span {
    text-align: center;
}

    #updatedPassword > span > span, #updatedLanguages > span > span, #successUpdated > span > span, #uncorrectParameters > span > span {
        display: block !important;
        text-align: center;
        margin: 0 5px;
    }

#private_account .bt_wrapper {
    text-align: right;
    margin-top: 20px;
}

#uncorrectPassword > span {
    text-align: center;
}

#private_account #save_account, #private_account #save_languages, #bt_change_password, #deactiveButton {
    background-color: #a8c75f;
    padding: 8px 30px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

#deactiveButton {
    margin: auto;
}

.flagActive {
    background-color: #f93348 !important;
    color: #fff !important;
}

.check_state > i {
    display: none;
}

.check_state {
    font-size: 17px;
    display: inline-block;
    margin-left: -25px;
}

    .check_state .error {
        color: #f00;
    }

    .check_state .correct {
        color: #a8c75f;
    }

#private_account #_languages, #private_account #_change_password, #_deactivate, #_payment_received, #_courseBooking {
    display: none;
}

    #private_account #_languages ._languages > div {
        width: 45%;
    }

    #private_account #_languages ._languages .ui.selection.dropdown {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        border-radius: 20px;
    }

    #private_account #_languages ._languages .ui.multiple.dropdown > .label {
        font-size: 13px;
        font-family: PTSansRegular !important;
        font-weight: normal;
        color: #fff;
    }

    #private_account #_languages .dropdown.icon {
        margin-top: 1px !important;
    }

    #private_account #_languages ._languages .ui.multiple.dropdown {
        padding-right: 15px;
        padding-left: 20px;
        padding-top: 4px;
        box-sizing: border-box;
    }

    #private_account #_languages ._languages .ui.label {
        background-color: #a6c45e;
        border-radius: 20px 0 0 20px;
    }

#private_account .tb_payments_receives th {
    background-color: #93c210;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #fff;
}

#private_account .tb_payments_receives.courseBooking td:nth-child(2) {
    width: auto;
}

div#ui-datepicker-div {
    z-index: 12 !important;
}

#private_account .flagCourseBooking {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

#private_account .tb_payments_receives {
    border-collapse: collapse;
    width: 100%;
}

    #private_account .tb_payments_receives td:nth-child(2n+1) {
        text-align: center;
    }

    #private_account .tb_payments_receives td a {
        color: #60742d;
        text-decoration: underline;
    }

    #private_account .tb_payments_receives td:nth-child(2) {
        width: 65%;
    }

    #private_account .tb_payments_receives tr:nth-child(odd) {
        background-color: #d1deac;
    }

    #private_account .tb_payments_receives tr:nth-child(even) {
        background-color: #dce9b9;
    }

    #private_account .tb_payments_receives td {
        border: 1px solid #fff;
        color: #60742d;
        padding: 8px;
    }

.popup_teacher input[type="text"], .popup_teacher input[type="text"], .popup_teacher input[type="tel"], .popup_teacher input[type="email"], .popup_teacher input[type="password"], .popup_teacher textarea {
    width: 200px;
    padding: 7px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 14px;
    border-color: #CCC;
}

.popup_teacher i.flag:not(.icon) {
    vertical-align: middle;
}

.popup_teacher .intl-tel-input {
    margin-left: 0 !important;
}

.popup_teacher .ch_selectLang {
    margin-top: 2px !important;
}

.popup_teacher textarea {
    border-radius: 8px;
    margin: 10px 0 !important;
    display: inline-block;
    width: 100% !important;
    height: 90px;
}

.popup_teacher {
    font-family: PTSansRegular;
    font-size: 14px;
}

    .popup_teacher #tel_number {
        padding-left: 40px;
    }

    .popup_teacher .ch_lang .ui.selection.dropdown, .popup_teacher .ch_level .ui.selection.dropdown, .popup_teacher .ch_cardType .ui.selection.dropdown, .popup_teacher .ch_timezone .ui.selection.dropdown, .popup_teacher .ch_howFind .ui.selection.dropdown, .popup_teacher .ch_selectLang .ui.selection.dropdown {
        margin-left: 0;
    }

    .popup_teacher .record {
        margin: 15px;
    }

        .popup_teacher .record input {
            width: 100%;
            text-align: left;
        }

    .popup_teacher .btn {
        text-align: center;
    }

        .popup_teacher .btn input[type='submit'] {
            color: #fff;
            background-color: #445030;
            border: none;
            border-radius: 20px;
            padding: 10px 35px;
        }

.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

    .shadow img {
        top: 0 !important;
    }

#private_account h2 {
    margin: 10px 0 !important;
}

.first_fields {
    box-sizing: border-box;
}

    .first_fields > div {
        box-sizing: border-box;
        margin: 10px 15px;
        float: left;
        width: 203px;
        text-align: center;
    }

        .first_fields > div > div {
        }

    .first_fields:after {
        display: block;
        clear: both;
        content: '';
    }

footer {
    z-index: 9;
    position: relative;
}

.ui.selection.dropdown > .delete.icon, .ui.selection.dropdown > .dropdown.icon, .ui.selection.dropdown > .search.icon {
    margin-top: -7px !important;
}

.ilearnDropdown .text img, .ilearnDropdown2 .text img {
    max-height: 17px !important;
}

.ch_lang .ui.selection.dropdown, .ch_level .ui.selection.dropdown, .ch_cardType .ui.selection.dropdown, .ch_timezone .ui.selection.dropdown, .ch_howFind .ui.selection.dropdown, .ch_selectLang .ui.selection.dropdown, .ilearnDropdown .ui.selection.dropdown, .ilearnDropdown2 .ui.selection.dropdown {
    min-height: 34px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 15px;
    padding: 7px 20px;
    margin-top: 5px;
    font-size: 14px;
    line-height: normal;
}

.ilearnDropdown, .ilearnDropdown2 {
    position: relative;
    /*top: -8px;*/
}

.ch_cardType .ui.selection.dropdown {
    min-width: 11em !important;
    width: 11em;
    margin-left: 0 !important;
    margin-top: 4px !important;
    /*padding: 10px 20px !important;*/
}

td[data-transact] {
    cursor: pointer;
    text-decoration: underline;
}

.ui.selection.dropdown .menu {
    min-width: 100% !important;
    width: 100% !important;
}

.offices {
    width: 100%;
    position: relative;
}

    .offices .content {
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    .offices .inner_content {
        position: absolute;
        width: 900px;
        left: 50%;
        top: 0;
        margin-left: -450px;
        height: 100%;
    }

        .offices .inner_content:after, .offices .inner_content > div:last-child:after {
            clear: both;
            display: block;
            content: '';
        }

        .offices .inner_content > div {
            width: 50%;
            box-sizing: border-box;
            float: left;
        }

            .offices .inner_content > div:first-child {
                box-shadow: 5px 0 5px -2px #888;
                position: relative;
                z-index: 11;
                height: 100%;
            }

    .offices .content > div {
        width: 50%;
        box-sizing: border-box;
        float: left;
        height: 1px;
        color: transparent;
    }

.inner_content h2 {
    margin-top: 20px !important;
}

#map {
    position: relative;
    z-index: 10;
}

.offices .inner_content .sort_by {
    margin-bottom: 20px;
}

    .offices .inner_content .sort_by > span {
        display: inline-block;
        border: 1px solid #a6c45e;
        color: #a6c45e;
        border-radius: 15px;
        padding: 4px 15px;
        margin-left: 10px;
        cursor: pointer;
    }

        .offices .inner_content .sort_by > span.selected {
            color: #fff;
            background-color: #a6c45e;
        }

.offices_info > div {
    float: left;
    box-sizing: border-box;
    margin-right: 50px;
    margin-top: 20px;
}

.offices_info h4 {
    cursor: pointer;
    font-family: PTSansRegular;
    font-size: 15px;
}

    .offices_info h4 > span {
        display: inline-block;
        margin-right: 10px;
    }

    .offices_info h4 > i {
        color: #a6c45e;
    }

.offices_info > div > div {
    color: #a7a7a7;
    margin: 3px 0;
    font-family: PTSansRegular;
    font-size: 12px;
}

.clear {
    display: block;
    clear: both;
}

.offices .content .inner_content h2 {
    margin-top: 15px;
}

.offices .content > div #map {
    width: 100%;
}

#forTeacher .Teachers {
    width: 900px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    font-family: SeravekLight;
}

    #forTeacher .Teachers h1 {
        font-size: 40px;
        padding: 15px 0 10px 0;
    }

        #forTeacher .Teachers h1 + div {
            text-align: center;
        }

    #forTeacher .Teachers td {
        width: 20%;
        box-sizing: border-box;
        text-align: center;
        padding: 0 10px;
    }

    #forTeacher .Teachers table {
        margin-top: 45px;
        border-spacing: 0 20px;
        border-collapse: separate;
    }

    #forTeacher .Teachers .btn {
        display: inline-block;
        margin: 0 auto;
        background-color: #a6c45e;
        padding: 10px 35px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
    }

#TermsOfService2, #termsTobuy, .info span, .linkToInstruction {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.popup_teacher {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 21;
    display: none;
}

    .popup_teacher h2 {
        background-color: #445030;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
    }

.instruction .go_back {
    color: #fff;
    margin-top: 15px;
}

i.flag.de:before, i.flag:before {
    margin-top: -1px;
}

.instruction {
    width: 500px !important;
    height: 516px !important;
    margin-left: -250px !important;
    margin-top: -258px !important;
}

.info {
    margin: 15px;
    color: #445030;
}

    .info h3 {
        font-weight: bold;
    }

    .info h4 {
        margin: 3px 0;
    }

    .info > div {
        margin: 20px 0;
    }

.instruction .go_back i {
    display: inline-block;
    margin-left: 15px;
}

.instruction .go_back span {
    cursor: pointer;
}

.teacher_app, .instruction {
    width: 700px;
    height: 600px;
    background-color: #a6c45e;
    border-radius: 0 0 20px 20px;
    position: absolute;
    left: 50%;
    top: -100%;
    margin-left: -350px;
    margin-top: -300px;
}

div[data-firstlanguage] {
    display: inline-block;
}

/*.flags_content > div > div:first-child {
    margin-right: 65px;
}*/

.flags_content div[data-firstlanguage] {
    -webkit-transition: .2s all ease-out;
    transition: .2s all ease-out;
}

    .flags_content div[data-firstlanguage]:hover {
        transform: scale(1.15);
        font-weight: 600;
    }

#forTeacher .Teachers td > div {
    margin: 7px 0;
}

    #forTeacher .Teachers td > div:nth-child(2) {
        font-family: 'Roboto', sans-serif;
    }

    #forTeacher .Teachers td > div:last-child {
        color: #ccc9ca;
        font-size: 12px;
    }

    #forTeacher .Teachers td > div:first-child {
        padding: 15px;
        background-color: #a6c45e;
        display: inline-block;
        border-radius: 50px;
        width: 55px;
        height: 55px;
        box-sizing: border-box;
    }

#forTeacher .Teachers i {
    display: inline-block;
    background-color: #a6c45e;
    color: #fff;
    font-size: 25px;
}

#sign_up {
    display: none;
}

.flags_content > div {
    cursor: pointer;
}

#private_account .tb_payments_receives.courseBooking td:nth-child(3) {
    text-align: left;
}

.navigation i {
    transition: .4s transform ease-out;
}

    .navigation i:hover {
        transform: rotate(360deg);
    }

@media (max-device-width:1366px) {
    .learn_languages_online fieldset {
        margin-top: 50px;
    }

    .tutorial_btns {
        margin-top: 50px;
    }
    .plans_prices .inner_block_content {
         margin-top: -20px;
    }
}
@media(max-width: 1415px) {
    .navigation {
        left: -6%;
        transform: scale(0.8);
    }
}
@media(max-width: 1325px) {
    .navigation {
        transform: scale(0.7);
        left: -4%;
    }
}
@media(max-width: 1250px) {
    .navigation {
        display: none;
    }
}

@media (min-width:1200px) {
    .content {
        width: 1150px;
        margin: 0 auto;
    }

    header .flexable {
        height: 63px;
    }
}
@media (max-width:1200px) {
    .content {
        width: 950px;
        margin: 0 auto;
    }
    .inner_block_content {
        width: 950px;
    }
    .learn_languages_online .inner_block_content {
        width: 950px;
    }

}
@media (max-width:992px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }
    .inner_block_content {
        width: 100%;
    }
    .learn_languages_online .inner_block_content {
        width: 100%;
    }

}
@media (max-width: 768px) {
    body h1 {
        font-size: 23px;
    }

    header > div:first-child {
        display: block;
        padding: 20px 0;
    }

        header > div:first-child > div:last-child, header > div:first-child:first-child {
            text-align: center;
        }

    #userInfoPanel {
        display: block;
    }

        #userInfoPanel > *:not(img), #userInfoPanel > *:not(i) {
            display: block;
            text-align: center;
            margin: 10px 0;
        }

        #userInfoPanel .userPict, #userInfoPanel pre, #userInfoPanel .fa.fa-user {
            display: none;
        }

        #userInfoPanel .welcome {
            font-size: 20px;
        }

    .logo {
        width: 70%;
    }

    div.video {
        display: none;
    }

    .learn_languages_online .content {
        height: 830px;
    }

    .description {
        padding: 0 20px;
    }

    .about_us .description {
        padding: 0 50px;
    }

    .about_us .container.flexable {
        height: 985px;
    }



    .flags_content > div {
        margin: 5px 0;
        text-align: center;
    }

    .learn_languages_online fieldset {
        border: none;
    }

    .learn_languages_online .tutorial_btns {
        flex-flow: column nowrap;
    }

    .tutorial_btns > div {
        width: 40%;
        margin: 10px auto;
    }

    .tutorial_btns .btn:first-child {
        margin-right: auto;
        text-align: center;
    }

    .scroll_for_info {
        display: none;
    }

    .tutorial_btns .btn, .Contact_US .btn {
        text-align: center;
    }

    .post_header {
        font-size: 20px;
        padding: 0 50px;
    }

    .global_lang > div {
        width: auto;
    }

    .img {
        margin: 0 auto !important;
    }

    .prices {
        flex-flow: column nowrap;
    }

    .individ_price > div:first-child {
        width: 75% !important;
    }

    .plans_prices .content {
        height: 1200px;
    }

    .global_lang, .about_us .tutorial_btns, .what_say {
        flex-flow: column nowrap;
    }

    .about_us .container.flexable {
        padding-bottom: 0;
    }

    .global_lang .desk {
        width: 100%;
        margin-left: 0;
        margin: 10px auto 5px;
    }
    .bullet_center {
        width: 100%;
        padding: 0 1rem;
    }

    .what_say > div {
        margin: 10px 0;
    }

    .testimonials .container {
        height: 850px;
    }

    .individ_price .price {
        margin: 20px auto;
    }

    .testimonials .container .description {
        width: 340px;
        margin: 0 auto;
    }

    footer > div:first-child {
        flex-flow: column nowrap;
        text-align: center;
    }

    .last.inputs {
        flex-flow: column nowrap;
    }

    .log_in .pop_up_log_in, .sing_in .pop_up_sing_in, .pop_up_how_it_works, .trial .pop_up_trial, .sing_in .pop_up_trial, .messeger .message {
        width: 336px;
    }

        .trial .pop_up_trial.step_1 {
            margin-left: -168px;
        }

    .header > span:first-child {
        display: none;
    }

    .pop_up_trial.step_1.for_trial label {
        display: none;
    }

    .last.inputs > div {
        margin: 0;
        padding: 0;
    }

    .intl-tel-input {
        margin-top: -3px;
    }

    .last.inputs:nth-child(3), .last.inputs:nth-child(4) {
        margin-top: 8px;
    }

    img[src $="date.jpg"] {
        top: 11px;
    }

    input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
        margin: 0 15px;
    }

    h2 {
        font-size: 19px !important;
    }

    .trial .pop_up_trial.step_1 {
        height: 510px !important;
        margin-top: -255px !important;
    }

    .trial .pop_up_trial.step_2 {
        width: 300px;
        margin-left: -150px;
    }

    .card_name {
        display: none;
    }

    .pay_method > div > div {
        display: block;
        margin: 5px 0;
    }

        .pay_method > div > div:not(:first-child) {
            margin-left: 0;
        }

    .confirm_privacy {
        top: 5px;
    }

    h5:first-child {
        margin-bottom: 2px;
    }

    .card_info, .card_info > div:first-child > div {
        flex-flow: column nowrap;
    }

    .pop_up_trial.step_2 input[type="text"] {
        width: 100%;
        padding: 2px 18px !important;
        min-height: 0 !important;
    }

    .ch_cardType .ui.selection.dropdown {
        width: 100%;
        padding: 5px 18px !important;
        min-height: 0 !important;
    }

    .date_card > div:first-child {
        display: none;
    }

    .cvc {
        margin-top: 0;
    }

    .conf_shedule > div:first-child {
        display: none;
    }

    .pop_up_trial.step_2 h5, .pop_up_trial.step_2 h4 {
        display: none;
    }

    .pop_up_trial.step_2 .log_in_with > div:first-child {
        display: none;
    }

    .pop_up_trial.step_2 .conf_shedule > div:nth-child(2) {
        margin: 0 auto;
    }

    .conf_shedule > div:nth-child(2) > div:first-child, .conf_shedule > div:nth-child(2) > div:last-child {
        display: none;
    }

    .socials_btns > span, .socials_btns > span:first-child, .socials_btns > span:last-child {
        display: block;
        margin: 5px 10px;
    }

    .pop_up_log_in .inputs, .fogot {
        flex-flow: column nowrap;
    }

    .log_in .pop_up_log_in {
        width: 230px !important;
        margin-left: -115px;
        height: 435px;
    }

    .resetPassword {
        width: 230px !important;
        margin-left: -115px;
        height: 294px !important;
        margin-top: -147px !important;
    }

    .tele {
        margin-top: 0;
    }

    .fogot {
        text-align: center;
    }

    .forgot > div {
        margin: 5px;
        border-bottom: 0;
    }

    .fogot label {
        margin-left: 0;
    }

    .fogot > :nth-child(2) {
        margin: 5px 0;
    }

    .resetPassword .sign_up {
        width: 55%;
    }

    .pop_up_sing_in .log_in_with > div:nth-child(4) {
        flex-flow: column nowrap;
    }

    .pop_up_sing_in {
        width: 245px !important;
        margin-left: -122px !important;
        margin-top: -216px !important;
        height: 436px !important;
    }

        .pop_up_sing_in .inputs > div label, .pop_up_trial.step_1 .inputs > div label {
            display: none;
        }

    .sing_in .pop_up_trial.step_1 {
        width: 250px;
        margin-left: -125px;
        height: 364px !important;
        margin-top: -182px !important;
    }

    .for_bycourse {
        width: 250px !important;
        margin-left: -125px !important;
    }
    /*.for_bycourse .conf_shedule*/

    .tele {
        margin-top: 0 !important;
    }

    .inner_block_content .all_courses {
        flex-flow: column nowrap;
    }

    .lbls > div {
        flex-flow: column nowrap;
    }

    #forFaq > div:first-child {
        position: inherit !important;
    }

    #forFaq {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .Courses .inner_block_content {
        margin: 10px 0 !important;
    }

    .all_courses > div p {
        width: auto;
        height: auto;
    }

    .all_courses > div h2 + div > div {
        width: 100%;
    }

    .lbls:nth-child(2) {
        margin-left: 0 !important;
    }

    .all_courses > div:last-child p {
        left: 100%;
        right: auto;
    }

    .answer > hr + div {
        flex-flow: column nowrap !important;
    }

        .answer > hr + div > * {
            margin-top: 10px;
        }

    .subject > div, .subject > div:first-child > div {
        float: none;
        width: 100%;
    }

    .subject .label {
        display: none;
    }

    .submitRequest {
        height: auto;
    }

    .subject .description textarea {
        width: 93%;
    }

    .subject .dropdown {
        margin: 0 auto !important;
    }

    .submitRequest > div:first-child {
        margin-top: 50%;
    }

        .submitRequest > div:first-child i {
            margin-top: calc(100% + 20px);
        }

    #send_message_form > div:first-child {
        flex-flow: column nowrap;
    }

    .Contact_US input[type="text"], .Contact_US input[type="text"]:last-child {
        width: 100%;
        box-sizing: border-box;
        margin: 5px 0;
    }

    .Contact_US .btn {
        margin: 10px auto;
    }

    .how_it_works .pop_up_how_it_works {
        width: 100%;
        margin-left: -160px;
    }

    .log_in_with iframe {
        width: 100% !important;
        margin: 0 !important;
    }

    #forTeacher > div:first-child {
        position: relative !important;
    }

    .Teachers {
        width: 100% !important;
    }

    .account_form > div.account_data {
        flex-flow: column nowrap;
    }

    .account_form .account_data input {
        width: 100% !important;
    }

    #private_account nav {
        width: 15px;
        text-align: center;
        transition: width .3s ease-out;
        background: repeating-linear-gradient(135deg, #B7CF7E, #B7CF7E .25em, #fff 0, #fff .75em );
        animation: myFrame 10s linear infinite;
    }

    @keyframes myFrame {
        0% {
            background-position-y: 0;
        }

        100% {
            background-position-y: 300px;
        }
    }

    #private_account nav > * {
        display: none;
    }

    #private_account nav:active, #private_account nav:hover {
        width: 150px;
        background: transparent;
    }

        #private_account nav:active > *, #private_account nav:hover > * {
            display: block;
        }

    #private_account .main_content, #private_account .account_data > div {
        width: 100% !important;
    }

    #private_account nav h2 {
        font-size: 14px !important;
    }

        #private_account nav h2 ~ div {
            margin: 10px 0;
            font-size: 12px !important;
        }

    #_languages ._languages {
        flex-flow: column nowrap;
    }

        #_languages ._languages > * {
            width: 100% !important;
        }

    #private_account .main_content #_change_password input[type=password] {
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width:1200px) {
}

/*#bt_trial_lesson, #bt_how_it_works, #go_to_courses, #go_to_FAQ {
    transform: scale(1.3);
}*/

video {
    object-fit: cover;
}
